[ach2] relance-EExDsDQ5ODOPf3lO.json
{"createdAt":"2026-02-02T08:11:04.889Z","updatedAt":"2026-07-01T16:43:56.000Z","id":"EExDsDQ5ODOPf3lO","name":"[ACH2] relance","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    dc.uuid,\n    dc.numero_rfq,\n    dc.code_fournisseur,\n    f.nom_fournisseur,\n    f.email,\n    dc.date_envoi,\n    dc.nb_relances,\n    dc.date_derniere_relance,\n    (SELECT valeur FROM parametres_systeme WHERE cle = 'nb_max_relances') as max_relances\nFROM demandes_cotation dc\nJOIN fournisseurs f ON dc.code_fournisseur = f.code_fournisseur\nWHERE \n    dc.statut NOT IN ('repondu', 'rejete', 'annule', 'expire')\n    AND f.blacklist = 0\n    AND (\n        -- Cas 1 : Jamais relancé, on vérifie le délai depuis l'envoi initial\n        (dc.nb_relances = 0 AND DATEDIFF(NOW(), dc.date_envoi) >= (SELECT valeur FROM parametres_systeme WHERE cle = 'delai_relance_jours'))\n        OR\n        -- Cas 2 : Déjà relancé, on vérifie le délai depuis la dernière relance\n        (dc.nb_relances > 0 AND DATEDIFF(NOW(), dc.date_derniere_relance) >= (SELECT valeur FROM parametres_systeme WHERE cle = 'delai_entre_relances_jours'))\n    )\n    AND dc.nb_relances < (SELECT valeur FROM parametres_systeme WHERE cle = 'nb_max_relances');","options":{}},"id":"4ed0be85-7353-4ffd-837b-43eba371af21","name":"🔍 Trouver RFQ à relancer","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[864,528],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"batchSize":5,"options":{}},"id":"154aec65-b415-4707-bc59-d1a572bbe21d","name":"Loop RFQ","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1088,528],"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM lignes_cotation WHERE rfq_uuid = '{{ $json.uuid }}';","options":{}},"id":"edfa9f49-4d93-414f-b136-6d68de741d7e","name":"📋 Récupérer Articles","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1328,544],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"disabled":true},{"parameters":{"jsCode":"// ============================================\n// 📧 GÉNÉRER EMAIL DE RAPPEL\n// Compatible avec votre workflow de relance\n// ============================================\n\n// Récupérer les données RFQ depuis le nœud \"Loop RFQ\"\nconst rfqData = $('Loop RFQ').item.json;\n\n// Récupérer les articles depuis le nœud précédent \"📋 Récupérer Articles\"\nconst articlesData = $('📋 Récupérer Articles').all();\n\n// Configuration\nconst urlBase = 'http://192.168.1.211/formulaire_fournisseur/public';\n\n// Utiliser l'UUID EXISTANT (pas en créer un nouveau!)\nconst uuidExistant = rfqData.uuid;\nconst lienRepondre = urlBase + '/repondre.php?uuid=' + uuidExistant;\nconst lienRejeter = urlBase + '/rejeter.php?uuid=' + uuidExistant;\n\n// Numéro de relance (ajouter 1 car on va envoyer la prochaine)\nconst nbRelance = (rfqData.nb_relances || 0) + 1;\n\n// Infos fournisseur\nconst nomFournisseur = rfqData.nom_fournisseur || 'Cher fournisseur';\nconst emailFournisseur = rfqData.email || '';\nconst numeroRfq = rfqData.numero_rfq || '';\n\n// ============================================\n// Configuration selon le numéro de relance\n// ============================================\nlet titreRelance = '';\nlet messageRelance = '';\nlet couleurBandeau = '';\nlet couleurBouton = '';\nlet icone = '';\n\nif (nbRelance === 1) {\n  titreRelance = 'RAPPEL';\n  messageRelance = 'Nous n\\'avons pas encore recu votre reponse concernant notre demande de cotation. Nous vous serions reconnaissants de bien vouloir nous faire parvenir votre offre dans les meilleurs delais.';\n  couleurBandeau = '#ff9800';\n  couleurBouton = '#ff9800';\n  icone = '🔔';\n} else if (nbRelance === 2) {\n  titreRelance = 'SECOND RAPPEL';\n  messageRelance = 'Malgre notre precedent rappel, nous n\\'avons toujours pas recu votre proposition. Votre reponse est importante pour finaliser notre processus d\\'achat. Merci de nous repondre rapidement.';\n  couleurBandeau = '#f57c00';\n  couleurBouton = '#f57c00';\n  icone = '⚠️';\n} else {\n  titreRelance = 'DERNIER RAPPEL';\n  messageRelance = 'Ceci est notre dernier rappel concernant cette demande. Sans reponse de votre part sous 48 heures, nous serons contraints de cloturer cette demande et de nous tourner vers d\\'autres fournisseurs.';\n  couleurBandeau = '#d32f2f';\n  couleurBouton = '#d32f2f';\n  icone = '🚨';\n}\n\n// ============================================\n// Construire le tableau des articles\n// ============================================\nlet lignesTableau = '';\nlet isAlternate = false;\n\nfor (let i = 0; i < articlesData.length; i++) {\n  const article = articlesData[i].json;\n  const bgColor = isAlternate ? '#f8f9fa' : '#ffffff';\n  \n  // Adapter selon les noms de colonnes de votre table lignes_cotation\n  const codeArt = article.code_article || article.Article || '';\n  const designation = article.designation_article || article.Description || '';\n  const quantite = article.quantite_demandee || article.quantite || '';\n  const unite = article.unite || article.Unite || '';\n  const marque = article.marque_souhaitee || article.marque || '-';\n  \n  lignesTableau += '<tr>' +\n    '<td style=\"padding: 10px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + codeArt + '</td>' +\n    '<td style=\"padding: 10px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + designation + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + quantite + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + unite + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #666666;\" bgcolor=\"' + bgColor + '\">' + marque + '</td>' +\n  '</tr>';\n  \n  isAlternate = !isAlternate;\n}\n\n// ============================================\n// Calculer jours depuis envoi original\n// ============================================\nlet infoDelai = '';\nif (rfqData.date_envoi) {\n  const dateEnvoi = new Date(rfqData.date_envoi);\n  const maintenant = new Date();\n  const diffJours = Math.floor((maintenant - dateEnvoi) / (1000 * 60 * 60 * 24));\n  infoDelai = ' (demande envoyee il y a ' + diffJours + ' jour(s))';\n}\n\nconst anneeActuelle = new Date().getFullYear();\nconst nbArticles = articlesData.length;\n\n// ============================================\n// Template HTML du RAPPEL - Compatible Outlook + Gmail\n// ============================================\nconst htmlEmail = '<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">' +\n'<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">' +\n'<head>' +\n'  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />' +\n'  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />' +\n'  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />' +\n'  <meta name=\"format-detection\" content=\"telephone=no, date=no, address=no, email=no\" />' +\n'  <title>Rappel - Demande de Cotation ' + numeroRfq + '</title>' +\n'  ' +\n'  <!--[if mso]>' +\n'  <noscript>' +\n'    <xml>' +\n'      <o:OfficeDocumentSettings>' +\n'        <o:AllowPNG/>' +\n'        <o:PixelsPerInch>96</o:PixelsPerInch>' +\n'      </o:OfficeDocumentSettings>' +\n'    </xml>' +\n'  </noscript>' +\n'  <style type=\"text/css\">' +\n'    table {border-collapse: collapse;}' +\n'    td, th, div, p, a, h1, h2, h3, h4, h5, h6 {font-family: Arial, sans-serif !important;}' +\n'  </style>' +\n'  <![endif]-->' +\n'  ' +\n'  <style type=\"text/css\">' +\n'    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }' +\n'    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }' +\n'    img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }' +\n'    body { margin: 0 !important; padding: 0 !important; width: 100% !important; }' +\n'    @media screen and (max-width: 600px) {' +\n'      .email-container { width: 100% !important; }' +\n'      .fluid { max-width: 100% !important; height: auto !important; }' +\n'      .stack-column { display: block !important; width: 100% !important; }' +\n'    }' +\n'  </style>' +\n'</head>' +\n'' +\n'<body width=\"100%\" style=\"margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f4f4f4;\">' +\n'  ' +\n'  <div style=\"display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all;\">' +\n'    ' + icone + ' Rappel ' + nbRelance + ' - Demande de cotation ' + numeroRfq + ' en attente de reponse' +\n'  </div>' +\n'  ' +\n'  <center style=\"width: 100%; background-color: #f4f4f4;\">' +\n'    <!--[if mso | IE]>' +\n'    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#f4f4f4\">' +\n'    <tr>' +\n'    <td>' +\n'    <![endif]-->' +\n'    ' +\n'    <table align=\"center\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"margin: auto;\" class=\"email-container\">' +\n'      ' +\n'      <tr>' +\n'        <td style=\"padding: 20px 0; text-align: center;\">' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'      <tr>' +\n'        <td style=\"background-color: #ffffff;\" bgcolor=\"#ffffff\">' +\n'          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'            ' +\n'            <!-- BANDEAU URGENCE -->' +\n'            <tr>' +\n'              <td align=\"center\" style=\"padding: 20px 40px; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\">' +\n'                <h1 style=\"margin: 0; font-family: Arial, sans-serif; font-size: 22px; line-height: 28px; color: #ffffff; font-weight: bold;\">' + icone + ' ' + titreRelance + ' N' + nbRelance + '</h1>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- En-tete avec reference -->' +\n'            <tr>' +\n'              <td style=\"padding: 25px 40px 15px 40px; border-bottom: 2px solid #eeeeee;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666666;\">' +\n'                  Reference: <strong style=\"color: #333333;\">' + numeroRfq + '</strong>' + infoDelai +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Salutation -->' +\n'            <tr>' +\n'              <td style=\"padding: 25px 40px 0 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #333333;\">' +\n'                  Bonjour <strong>' + nomFournisseur + '</strong>,' +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Message de relance -->' +\n'            <tr>' +\n'              <td style=\"padding: 20px 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; color: #555555;\">' +\n'                  ' + messageRelance +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Encadré rappel demande -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px 20px 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'                  <tr>' +\n'                    <td width=\"4\" bgcolor=\"' + couleurBandeau + '\" style=\"background-color: ' + couleurBandeau + ';\"></td>' +\n'                    <td style=\"padding: 15px 20px; background-color: #f8f9fa;\" bgcolor=\"#f8f9fa\">' +\n'                      <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; font-weight: 600;\">' +\n'                        Pour rappel, votre demande concerne ' + nbArticles + ' article(s)' +\n'                      </p>' +\n'                    </td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Tableau Articles -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <!--[if mso]>' +\n'                <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"520\">' +\n'                <tr>' +\n'                <td>' +\n'                <![endif]-->' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border: 1px solid #e0e0e0;\">' +\n'                  <tr>' +\n'                    <th style=\"padding: 10px; text-align: left; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"18%\">Code</th>' +\n'                    <th style=\"padding: 10px; text-align: left; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"34%\">Designation</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Qte</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Unite</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Marque</th>' +\n'                  </tr>' +\n                   lignesTableau +\n'                </table>' +\n'                <!--[if mso]>' +\n'                </td>' +\n'                </tr>' +\n'                </table>' +\n'                <![endif]-->' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Bouton CTA Principal -->' +\n'            <tr>' +\n'              <td align=\"center\" style=\"padding: 0 40px 20px 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">' +\n'                  <tr>' +\n'                    <td align=\"center\" bgcolor=\"' + couleurBouton + '\" style=\"background-color: ' + couleurBouton + ';\">' +\n'                      <!--[if mso]>' +\n'                      <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"' + lienRepondre + '\" style=\"height:52px;v-text-anchor:middle;width:280px;\" arcsize=\"8%\" strokecolor=\"' + couleurBouton + '\" fillcolor=\"' + couleurBouton + '\">' +\n'                        <w:anchorlock/>' +\n'                        <center style=\"color:#ffffff;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;\">Repondre maintenant</center>' +\n'                      </v:roundrect>' +\n'                      <![endif]-->' +\n'                      <!--[if !mso]><!-->' +\n'                      <a href=\"' + lienRepondre + '\" target=\"_blank\" style=\"display: inline-block; background-color: ' + couleurBouton + '; border: 1px solid ' + couleurBouton + '; border-radius: 5px; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 52px; text-align: center; text-decoration: none; width: 280px; -webkit-text-size-adjust: none; mso-hide: all;\">Repondre maintenant</a>' +\n'                      <!--<![endif]-->' +\n'                    </td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Lien rejeter -->' +\n'            <tr>' +\n'              <td align=\"center\" style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 20px; color: #888888;\">' +\n'                  Vous ne pouvez pas repondre a cette demande ? ' +\n'                  <a href=\"' + lienRejeter + '\" style=\"color: #dc3545; text-decoration: underline;\">Cliquez ici pour la rejeter</a>' +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Separateur -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'                  <tr>' +\n'                    <td style=\"border-top: 2px solid #e0e0e0; font-size: 1px; line-height: 1px;\">&nbsp;</td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Footer -->' +\n'            <tr>' +\n'              <td style=\"padding: 20px 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #333333; font-weight: bold;\">Service Achats</p>' +\n'                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">achat@votresociete.com</p>' +\n'                <p style=\"margin: 0 0 15px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">+212 5XX XX XX XX</p>' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #999999;\">' +\n'                  Ce rappel est automatique - Ref: ' + uuidExistant +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'          </table>' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'      <tr>' +\n'        <td style=\"padding: 20px; text-align: center;\">' +\n'          <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #888888;\">' +\n'            Copyright ' + anneeActuelle + ' Votre Societe. Tous droits reserves.' +\n'          </p>' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'    </table>' +\n'    ' +\n'    <!--[if mso | IE]>' +\n'    </td>' +\n'    </tr>' +\n'    </table>' +\n'    <![endif]-->' +\n'  </center>' +\n'  ' +\n'</body>' +\n'</html>';\n\n// ============================================\n// Sujet de l'email selon la relance\n// ============================================\nlet sujetEmail = '';\nif (nbRelance === 1) {\n  sujetEmail = '🔔 Rappel: Demande de cotation ' + numeroRfq + ' en attente';\n} else if (nbRelance === 2) {\n  sujetEmail = '⚠️ Second rappel: ' + numeroRfq + ' - Votre reponse est attendue';\n} else {\n  sujetEmail = '🚨 DERNIER RAPPEL: ' + numeroRfq + ' - Action requise sous 48h';\n}\n\nconsole.log('Email RAPPEL ' + nbRelance + ' genere pour ' + nomFournisseur);\nconsole.log('UUID reutilise: ' + uuidExistant);\nconsole.log('Nombre articles: ' + nbArticles);\n\n// ============================================\n// Retour des données - Compatible avec les noeuds suivants\n// ============================================\nreturn {\n  json: {\n    // Données RFQ pour les noeuds suivants\n    uuid: uuidExistant,\n    numero_rfq: numeroRfq,\n    code_fournisseur: rfqData.code_fournisseur,\n    nom_fournisseur: nomFournisseur,\n    email: emailFournisseur,\n    nb_relances: rfqData.nb_relances,\n    \n    // Données email\n    html_email: htmlEmail,\n    sujet_email: sujetEmail,\n    lien_formulaire: lienRepondre,\n    lien_rejet: lienRejeter,\n    \n    // Info relance\n    nbRelance: nbRelance,\n    nb_articles: nbArticles\n  }\n};"},"id":"a0f71a66-6b63-4159-8563-908070bd8d09","name":"📧 Générer Email Rappel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,544],"disabled":true},{"parameters":{"fromEmail":"achat@jbel-annour.ma","toEmail":"={{ $json.email }}","subject":"={{ $json.sujet_email }}","html":"={{ $json.html_email }}","options":{"ccEmail":"ingenieur.base.de.donnees@jbel-annour.ma"}},"id":"e24d39fd-c7c8-41db-b3e9-305897bfa485","name":"📨 Envoyer Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1792,544],"webhookId":"c5bce6ff-ff6b-4359-9677-6958b0d58cf7","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"\nUPDATE demandes_cotation \nSET \n    nb_relances = nb_relances + 1,\n    date_derniere_relance = NOW(),\n    statut = CONCAT('relance_', nb_relances )\nWHERE uuid ='{{ $json.uuid }}' ;","options":{"queryReplacement":"="}},"id":"8cc006cc-5a40-4a3a-9b4f-9c94487769e0","name":"💾 MAJ Statut RFQ","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2144,544],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"disabled":true},{"parameters":{"table":{"__rl":true,"value":"logs_emails","mode":"list"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"rfq_uuid","value":"={{ $('📧 Générer Email Rappel').item.json.uuid }}"},{"column":"email_destinataire","value":"={{ $('📧 Générer Email Rappel').item.json.email }}"},{"column":"nom_destinataire","value":"={{ $('📧 Générer Email Rappel').item.json.nom_fournisseur }}"},{"column":"type_email","value":"relance"},{"column":"sujet_email","value":"={{ $('📨 Envoyer Email').item.json.messageId }}"},{"column":"date_log","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"id":"1df98099-cbb0-441f-b8fe-4c8a67f07a79","name":"📝 Log Relance","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2384,544],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"82cc1f5a-e557-49ec-a763-d9bf475bec85","name":"uuid","value":"={{ $('📧 Générer Email Rappel').item.json.uuid }}","type":"string"},{"id":"71528eb5-4802-4e1d-a489-46655036320b","name":"numero_rfq","value":"={{ $('📧 Générer Email Rappel').item.json.numero_rfq }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,544],"id":"47f84831-0292-46c9-bbc4-e5d739389938","name":"Edit Fields","disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"890ccec6-ec7b-421b-a528-e30507fead6f","name":"⏰ Déclenchement 10h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[656,528],"disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"e74434b0-1229-4b48-a241-613a025cc715","name":"⏰ Déclenchement 9h00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[688,-224]},{"parameters":{"operation":"executeQuery","query":"SELECT \n    dc.uuid,\n    dc.numero_rfq,\n    dc.code_fournisseur,\n    f.nom_fournisseur,\n    f.email,\n    dc.date_envoi,\n    dc.nb_relances,\n    dc.date_derniere_relance,\n    (SELECT valeur FROM parametres_systeme WHERE cle = 'nb_max_relances') as max_relances\nFROM demandes_cotation dc\nJOIN fournisseurs f ON dc.code_fournisseur = f.code_fournisseur\nWHERE \n    dc.statut NOT IN ('repondu', 'rejete', 'annule', 'expire')\n    AND f.blacklist = 0\n    AND (\n        -- Cas 1 : Jamais relancé, on vérifie le délai depuis l'envoi initial\n        (dc.nb_relances = 0 AND DATEDIFF(NOW(), dc.date_envoi) >= (SELECT valeur FROM parametres_systeme WHERE cle = 'delai_relance_jours'))\n        OR\n        -- Cas 2 : Déjà relancé, on vérifie le délai depuis la dernière relance\n        (dc.nb_relances > 0 AND DATEDIFF(NOW(), dc.date_derniere_relance) >= (SELECT valeur FROM parametres_systeme WHERE cle = 'delai_entre_relances_jours'))\n    )\n    AND dc.nb_relances < (SELECT valeur FROM parametres_systeme WHERE cle = 'nb_max_relances');","options":{}},"id":"b59eb660-3781-4d85-b0c4-56bd84996272","name":"🔍 Trouver RFQ à relancer1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[896,-224],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"options":{}},"id":"7ffa723a-b4e0-4d95-baf4-c3742ec472e0","name":"Loop RFQ1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,-224]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM lignes_cotation WHERE rfq_uuid = '{{ $json.uuid }}';","options":{}},"id":"659c99f8-8ee9-46a3-b97f-d87b2d654697","name":"📋 Récupérer Articles1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1344,-224],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// ============================================\n// 📧 GÉNÉRER EMAIL DE RAPPEL\n// Compatible avec votre workflow de relance\n// ============================================\n\n// Récupérer les données RFQ depuis le nœud \"Loop RFQ\"\nconst rfqData = $('Loop RFQ1').item.json;\n\n// Récupérer les articles depuis le nœud précédent \"📋 Récupérer Articles\"\nconst articlesData = $('📋 Récupérer Articles1').all();\n\n// Configuration - URL du proxy n8n\nconst urlBaseN8n = 'https://bjaai.jbel-annour.site/webhook/proxy-formulaire/formulaire';\n\n// Utiliser l'UUID EXISTANT (pas en créer un nouveau!)\nconst uuidExistant = rfqData.uuid;\nconst lienRepondre = urlBaseN8n + '/' + uuidExistant;\n\n// Numéro de relance (ajouter 1 car on va envoyer la prochaine)\nconst nbRelance = (rfqData.nb_relances || 0) + 1;\n\n// Infos fournisseur\nconst nomFournisseur = rfqData.nom_fournisseur || 'Cher fournisseur';\nconst emailFournisseur = rfqData.email || '';\nconst numeroRfq = rfqData.numero_rfq || '';\n\n// ============================================\n// Configuration selon le numéro de relance\n// ============================================\nlet titreRelance = '';\nlet messageRelance = '';\nlet couleurBandeau = '';\nlet couleurBouton = '';\nlet icone = '';\n\nif (nbRelance === 1) {\n  titreRelance = 'RAPPEL';\n  messageRelance = 'Nous n\\'avons pas encore recu votre reponse concernant notre demande de cotation. Nous vous serions reconnaissants de bien vouloir nous faire parvenir votre offre dans les meilleurs delais.';\n  couleurBandeau = '#ff9800';\n  couleurBouton = '#ff9800';\n  icone = '🔔';\n} else if (nbRelance === 2) {\n  titreRelance = 'SECOND RAPPEL';\n  messageRelance = 'Malgre notre precedent rappel, nous n\\'avons toujours pas recu votre proposition. Votre reponse est importante pour finaliser notre processus d\\'achat. Merci de nous repondre rapidement.';\n  couleurBandeau = '#f57c00';\n  couleurBouton = '#f57c00';\n  icone = '⚠️';\n} else {\n  titreRelance = 'DERNIER RAPPEL';\n  messageRelance = 'Ceci est notre dernier rappel concernant cette demande. Sans reponse de votre part sous 48 heures, nous serons contraints de cloturer cette demande et de nous tourner vers d\\'autres fournisseurs.';\n  couleurBandeau = '#d32f2f';\n  couleurBouton = '#d32f2f';\n  icone = '🚨';\n}\n\n// ============================================\n// Construire le tableau des articles\n// ============================================\nlet lignesTableau = '';\nlet isAlternate = false;\n\nfor (let i = 0; i < articlesData.length; i++) {\n  const article = articlesData[i].json;\n  const bgColor = isAlternate ? '#f8f9fa' : '#ffffff';\n  \n  // Adapter selon les noms de colonnes de votre table lignes_cotation\n  const codeArt = article.code_article || article.Article || '';\n  const designation = article.designation_article || article.Description || '';\n  const quantite = article.quantite_demandee || article.quantite || '';\n  const unite = article.unite || article.Unite || '';\n  const marque = article.marque_souhaitee || article.marque || '-';\n  \n  lignesTableau += '<tr>' +\n    '<td style=\"padding: 10px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + codeArt + '</td>' +\n    '<td style=\"padding: 10px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + designation + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + quantite + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #333333;\" bgcolor=\"' + bgColor + '\">' + unite + '</td>' +\n    '<td style=\"padding: 10px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 13px; color: #666666;\" bgcolor=\"' + bgColor + '\">' + marque + '</td>' +\n  '</tr>';\n  \n  isAlternate = !isAlternate;\n}\n\n// ============================================\n// Calculer jours depuis envoi original\n// ============================================\nlet infoDelai = '';\nif (rfqData.date_envoi) {\n  const dateEnvoi = new Date(rfqData.date_envoi);\n  const maintenant = new Date();\n  const diffJours = Math.floor((maintenant - dateEnvoi) / (1000 * 60 * 60 * 24));\n  infoDelai = ' (demande envoyee il y a ' + diffJours + ' jour(s))';\n}\n\nconst anneeActuelle = new Date().getFullYear();\nconst nbArticles = articlesData.length;\n\n// ============================================\n// Template HTML du RAPPEL - Compatible Outlook + Gmail\n// SANS lien de rejet\n// ============================================\nconst htmlEmail = '<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">' +\n'<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">' +\n'<head>' +\n'  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />' +\n'  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />' +\n'  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />' +\n'  <meta name=\"format-detection\" content=\"telephone=no, date=no, address=no, email=no\" />' +\n'  <title>Rappel - Demande de Cotation ' + numeroRfq + '</title>' +\n'  ' +\n'  <!--[if mso]>' +\n'  <noscript>' +\n'    <xml>' +\n'      <o:OfficeDocumentSettings>' +\n'        <o:AllowPNG/>' +\n'        <o:PixelsPerInch>96</o:PixelsPerInch>' +\n'      </o:OfficeDocumentSettings>' +\n'    </xml>' +\n'  </noscript>' +\n'  <style type=\"text/css\">' +\n'    table {border-collapse: collapse;}' +\n'    td, th, div, p, a, h1, h2, h3, h4, h5, h6 {font-family: Arial, sans-serif !important;}' +\n'  </style>' +\n'  <![endif]-->' +\n'  ' +\n'  <style type=\"text/css\">' +\n'    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }' +\n'    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }' +\n'    img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }' +\n'    body { margin: 0 !important; padding: 0 !important; width: 100% !important; }' +\n'    @media screen and (max-width: 600px) {' +\n'      .email-container { width: 100% !important; }' +\n'      .fluid { max-width: 100% !important; height: auto !important; }' +\n'      .stack-column { display: block !important; width: 100% !important; }' +\n'    }' +\n'  </style>' +\n'</head>' +\n'' +\n'<body width=\"100%\" style=\"margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f4f4f4;\">' +\n'  ' +\n'  <div style=\"display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all;\">' +\n'    ' + icone + ' Rappel ' + nbRelance + ' - Demande de cotation ' + numeroRfq + ' en attente de reponse' +\n'  </div>' +\n'  ' +\n'  <center style=\"width: 100%; background-color: #f4f4f4;\">' +\n'    <!--[if mso | IE]>' +\n'    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#f4f4f4\">' +\n'    <tr>' +\n'    <td>' +\n'    <![endif]-->' +\n'    ' +\n'    <table align=\"center\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"margin: auto;\" class=\"email-container\">' +\n'      ' +\n'      <tr>' +\n'        <td style=\"padding: 20px 0; text-align: center;\">' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'      <tr>' +\n'        <td style=\"background-color: #ffffff;\" bgcolor=\"#ffffff\">' +\n'          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'            ' +\n'            <!-- BANDEAU URGENCE -->' +\n'            <tr>' +\n'              <td align=\"center\" style=\"padding: 20px 40px; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\">' +\n'                <h1 style=\"margin: 0; font-family: Arial, sans-serif; font-size: 22px; line-height: 28px; color: #ffffff; font-weight: bold;\">' + icone + ' ' + titreRelance + ' N' + nbRelance + '</h1>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- En-tete avec reference -->' +\n'            <tr>' +\n'              <td style=\"padding: 25px 40px 15px 40px; border-bottom: 2px solid #eeeeee;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666666;\">' +\n'                  Reference: <strong style=\"color: #333333;\">' + numeroRfq + '</strong>' + infoDelai +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Salutation -->' +\n'            <tr>' +\n'              <td style=\"padding: 25px 40px 0 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #333333;\">' +\n'                  Bonjour <strong>' + nomFournisseur + '</strong>,' +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Message de relance -->' +\n'            <tr>' +\n'              <td style=\"padding: 20px 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; color: #555555;\">' +\n'                  ' + messageRelance +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Encadré rappel demande -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px 20px 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'                  <tr>' +\n'                    <td width=\"4\" bgcolor=\"' + couleurBandeau + '\" style=\"background-color: ' + couleurBandeau + ';\"></td>' +\n'                    <td style=\"padding: 15px 20px; background-color: #f8f9fa;\" bgcolor=\"#f8f9fa\">' +\n'                      <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; font-weight: 600;\">' +\n'                        Pour rappel, votre demande concerne ' + nbArticles + ' article(s)' +\n'                      </p>' +\n'                    </td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Tableau Articles -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <!--[if mso]>' +\n'                <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"520\">' +\n'                <tr>' +\n'                <td>' +\n'                <![endif]-->' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border: 1px solid #e0e0e0;\">' +\n'                  <tr>' +\n'                    <th style=\"padding: 10px; text-align: left; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"18%\">Code</th>' +\n'                    <th style=\"padding: 10px; text-align: left; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"34%\">Designation</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Qte</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Unite</th>' +\n'                    <th style=\"padding: 10px; text-align: center; font-family: Arial, sans-serif; font-size: 12px; font-weight: 600; color: #ffffff; background-color: ' + couleurBandeau + ';\" bgcolor=\"' + couleurBandeau + '\" width=\"16%\">Marque</th>' +\n'                  </tr>' +\n                   lignesTableau +\n'                </table>' +\n'                <!--[if mso]>' +\n'                </td>' +\n'                </tr>' +\n'                </table>' +\n'                <![endif]-->' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Bouton CTA Principal -->' +\n'            <tr>' +\n'              <td align=\"center\" style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">' +\n'                  <tr>' +\n'                    <td align=\"center\" bgcolor=\"' + couleurBouton + '\" style=\"background-color: ' + couleurBouton + ';\">' +\n'                      <!--[if mso]>' +\n'                      <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"' + lienRepondre + '\" style=\"height:52px;v-text-anchor:middle;width:280px;\" arcsize=\"8%\" strokecolor=\"' + couleurBouton + '\" fillcolor=\"' + couleurBouton + '\">' +\n'                        <w:anchorlock/>' +\n'                        <center style=\"color:#ffffff;font-family:Arial,sans-serif;font-size:16px;font-weight:bold;\">Repondre maintenant</center>' +\n'                      </v:roundrect>' +\n'                      <![endif]-->' +\n'                      <!--[if !mso]><!-->' +\n'                      <a href=\"' + lienRepondre + '\" target=\"_blank\" style=\"display: inline-block; background-color: ' + couleurBouton + '; border: 1px solid ' + couleurBouton + '; border-radius: 5px; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 52px; text-align: center; text-decoration: none; width: 280px; -webkit-text-size-adjust: none; mso-hide: all;\">Repondre maintenant</a>' +\n'                      <!--<![endif]-->' +\n'                    </td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Separateur -->' +\n'            <tr>' +\n'              <td style=\"padding: 0 40px;\" bgcolor=\"#ffffff\">' +\n'                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">' +\n'                  <tr>' +\n'                    <td style=\"border-top: 2px solid #e0e0e0; font-size: 1px; line-height: 1px;\">&nbsp;</td>' +\n'                  </tr>' +\n'                </table>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'            <!-- Footer -->' +\n'            <tr>' +\n'              <td style=\"padding: 20px 40px 30px 40px;\" bgcolor=\"#ffffff\">' +\n'                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #333333; font-weight: bold;\">Service Achats</p>' +\n'                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">acheteur.1@jbel-annour.ma</p>' +\n'                <p style=\"margin: 0 0 15px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">+212 668743516</p>' +\n'                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #999999;\">' +\n'                  Ce rappel est automatique - Ref: ' + uuidExistant +\n'                </p>' +\n'              </td>' +\n'            </tr>' +\n'            ' +\n'          </table>' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'      <tr>' +\n'        <td style=\"padding: 20px; text-align: center;\">' +\n'          <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #888888;\">' +\n'            Copyright ' + anneeActuelle + ' Jbel Annour. Tous droits reserves.' +\n'          </p>' +\n'        </td>' +\n'      </tr>' +\n'      ' +\n'    </table>' +\n'    ' +\n'    <!--[if mso | IE]>' +\n'    </td>' +\n'    </tr>' +\n'    </table>' +\n'    <![endif]-->' +\n'  </center>' +\n'  ' +\n'</body>' +\n'</html>';\n\n// ============================================\n// Sujet de l'email selon la relance\n// ============================================\nlet sujetEmail = '';\nif (nbRelance === 1) {\n  sujetEmail = '🔔 Rappel: Demande de cotation ' + numeroRfq + ' en attente';\n} else if (nbRelance === 2) {\n  sujetEmail = '⚠️ Second rappel: ' + numeroRfq + ' - Votre reponse est attendue';\n} else {\n  sujetEmail = '🚨 DERNIER RAPPEL: ' + numeroRfq + ' - Action requise sous 48h';\n}\n\nconsole.log('Email RAPPEL ' + nbRelance + ' genere pour ' + nomFournisseur);\nconsole.log('UUID reutilise: ' + uuidExistant);\nconsole.log('Nombre articles: ' + nbArticles);\nconsole.log('Lien formulaire: ' + lienRepondre);\n\n// ============================================\n// Retour des données - Compatible avec les noeuds suivants\n// ============================================\nreturn {\n  json: {\n    // Données RFQ pour les noeuds suivants\n    uuid: uuidExistant,\n    numero_rfq: numeroRfq,\n    code_fournisseur: rfqData.code_fournisseur,\n    nom_fournisseur: nomFournisseur,\n    email: emailFournisseur,\n    nb_relances: rfqData.nb_relances,\n    \n    // Données email\n    html_email: htmlEmail,\n    sujet_email: sujetEmail,\n    lien_formulaire: lienRepondre,\n    \n    // Info relance\n    nbRelance: nbRelance,\n    nb_articles: nbArticles\n  }\n};"},"id":"95aab268-6818-4948-93df-5aa01b804600","name":"📧 Générer Email Rappel1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,-224]},{"parameters":{"fromEmail":"achats@jbel-annour.ma","toEmail":"={{ $json.email }}","subject":"={{ $json.sujet_email }}","html":"={{ $json.html_email }}","options":{"ccEmail":"acheteur.1@jbel-annour.ma, acheteur.4@jbel-annour.ma, acheteuse.4@jbel-annour.ma, acheteuse@jbel-annour.ma, acheteuse.7@jbel-annour.ma, bassim@jbel-annour.ma "}},"id":"08773e97-b963-4c18-8490-279dba9b79a5","name":"📨 Envoyer Email1","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1792,-224],"webhookId":"c5bce6ff-ff6b-4359-9677-6958b0d58cf7","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}}},{"parameters":{"operation":"executeQuery","query":"\nUPDATE demandes_cotation \nSET \n    nb_relances = nb_relances + 1,\n    date_derniere_relance = NOW(),\n    statut = CONCAT('relance_', nb_relances )\nWHERE uuid ='{{ $json.uuid }}' ;","options":{"queryReplacement":"="}},"id":"3be0a574-2924-4d67-b04f-63e399fe801c","name":"💾 MAJ Statut RFQ1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2128,-224],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"table":{"__rl":true,"value":"logs_emails","mode":"list"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"rfq_uuid","value":"={{ $('📧 Générer Email Rappel1').item.json.uuid }}"},{"column":"email_destinataire","value":"={{ $('📧 Générer Email Rappel1').item.json.email }}"},{"column":"nom_destinataire","value":"={{ $('📧 Générer Email Rappel1').item.json.nom_fournisseur }}"},{"column":"type_email","value":"relance"},{"column":"sujet_email","value":"={{ $('📨 Envoyer Email1').item.json.messageId }}"},{"column":"date_log","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"}]},"options":{}},"id":"bd5156c0-a478-45e8-9dd8-533d7103452c","name":"📝 Log Relance1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,-224],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"assignments":{"assignments":[{"id":"82cc1f5a-e557-49ec-a763-d9bf475bec85","name":"uuid","value":"={{ $('📧 Générer Email Rappel1').item.json.uuid }}","type":"string"},{"id":"71528eb5-4802-4e1d-a489-46655036320b","name":"numero_rfq","value":"={{ $('📧 Générer Email Rappel1').item.json.numero_rfq }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1968,-224],"id":"8f62c305-8dbf-4318-aed8-ce05a25267f5","name":"Edit Fields1"},{"parameters":{"content":"## Version 1\nle probleme est :\n1 - lien de formulaire est inccorrect\n2 - email de responsable achat est non montionne ","height":448,"width":2016},"type":"n8n-nodes-base.stickyNote","position":[576,368],"typeVersion":1,"id":"a3dddd8d-6a3f-4369-8fd4-6fd2639db4a7","name":"Sticky Note"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2528,-224],"id":"34f23b81-6f0e-4591-9372-926a4c480aac","name":"Wait","webhookId":"77ee08e3-7c69-4a06-8573-316a74ac2816"}],"connections":{"🔍 Trouver RFQ à relancer":{"main":[[{"node":"Loop RFQ","type":"main","index":0}]]},"Loop RFQ":{"main":[[],[{"node":"📋 Récupérer Articles","type":"main","index":0}]]},"📋 Récupérer Articles":{"main":[[{"node":"📧 Générer Email Rappel","type":"main","index":0}]]},"📧 Générer Email Rappel":{"main":[[{"node":"📨 Envoyer Email","type":"main","index":0}]]},"📨 Envoyer Email":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"💾 MAJ Statut RFQ":{"main":[[{"node":"📝 Log Relance","type":"main","index":0}]]},"📝 Log Relance":{"main":[[{"node":"Loop RFQ","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"💾 MAJ Statut RFQ","type":"main","index":0}]]},"⏰ Déclenchement 10h00":{"main":[[{"node":"🔍 Trouver RFQ à relancer","type":"main","index":0}]]},"⏰ Déclenchement 9h00":{"main":[[{"node":"🔍 Trouver RFQ à relancer1","type":"main","index":0}]]},"🔍 Trouver RFQ à relancer1":{"main":[[{"node":"Loop RFQ1","type":"main","index":0}]]},"Loop RFQ1":{"main":[[],[{"node":"📋 Récupérer Articles1","type":"main","index":0}]]},"📋 Récupérer Articles1":{"main":[[{"node":"📧 Générer Email Rappel1","type":"main","index":0}]]},"📧 Générer Email Rappel1":{"main":[[{"node":"📨 Envoyer Email1","type":"main","index":0}]]},"📨 Envoyer Email1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"💾 MAJ Statut RFQ1":{"main":[[{"node":"📝 Log Relance1","type":"main","index":0}]]},"📝 Log Relance1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"💾 MAJ Statut RFQ1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop RFQ1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:⏰ Déclenchement 9h00":{"recurrenceRules":[]},"node:⏰ Déclenchement 10h00":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"8413ad70-9c7b-4fbd-9227-226b80ad4fc6","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}