[ach3] recuperer les reponse via email-UNRSLoVIwbtpqZt3.json
{"createdAt":"2026-03-12T20:11:50.196Z","updatedAt":"2026-07-24T19:19:11.000Z","id":"UNRSLoVIwbtpqZt3","name":"[ACH3] RECUPERER LES REPONSE via EMAIL","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0b0f06ce-e385-4a6e-839a-6e7692820bc1","name":"from","value":"={{ $('When Executed by Another Workflow').item.json.from }}","type":"string"},{"id":"ac1fd42a-d45a-4ae6-bafd-ad4faf913138","name":"to","value":"={{ $('When Executed by Another Workflow').item.json.to }}","type":"string"},{"id":"2f2c2367-44b8-4fea-b5e5-c236b9668c31","name":"subject","value":"={{ $('When Executed by Another Workflow').item.json.subject }}","type":"string"},{"id":"82f02d2f-7cf9-4c31-9092-a72f81b4e1d5","name":"date","value":"={{ $('When Executed by Another Workflow').item.json.date }}","type":"string"},{"id":"09574f92-0ae1-4a75-a416-bfd4e2a0caae","name":"textPlain","value":"={{ $('When Executed by Another Workflow').item.json.textPlain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,1008],"id":"ee7f3ece-5c62-472f-92a1-70920ec7103a","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Voici les articles qui ont été demandés dans le RFQ {{ $('Code - Extraire RFQ').first().json.rfq_number }} :\n\n{{ $('MySQL SELECT - Récupérer infos RFQ').all().map(item => \n  `- Code: ${item.json.code_article} | Désignation: ${item.json.designation_article} | Quantité: ${item.json.quantite_demandee} ${item.json.unite} | Marque souhaitée: ${item.json.marque_souhaitee}`\n).join('\\n') }}\n\nVoici l'email reçu du fournisseur :\n───────────────────────────────────\n{{ $('Edit Fields').item.json.textPlain }}\n───────────────────────────────────\n\nExtrais les informations de devis pour chaque article et retourne ce JSON :\n{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number }}\",\n\"uuid\": \"{{ $('MySQL SELECT - Récupérer infos RFQ').first().json.uuid }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception }}\",\n  \"conditions_paiement\": \"\",\n  \"devise\": \"\",\n  \"validite_offre\": \"\",\n  \"remarques_generales\": met ici l'email de fournisseur,\n  \"lignes\": [\n    {\n      \"ligne_cotation_id\": {{ $json.id }},\n      \"code_article\": \"\",\n      \"designation_article\": \"\",\n      \"marque_proposee\": \"\",\n      \"prix_unitaire\": \"\",\n      \"delai_livraison\": \"\",\n      \"disponibilite\": \"\",\n      \"remarque\": \"\",\n      \"quantite_disponible\": \"\"\n    }\n  ]\n}\n\nRègles importantes :\n- Si un article n'est pas mentionné dans l'email → prix_unitaire = null\n- Si la marque proposée est différente de la marque souhaitée → noter dans remarque\n- Si un article n'est pas mentionné dans l'email → prix_unitaire = null\n- Si la marque proposée est différente de la marque souhaitée → noter dans remarque\n- Si plusieurs devises → tout convertir en MAD\n- disponibilite et quantite_disponible :\n    → le fournisseur peut fournir TOUTE la quantité demandée:\n                       → quantite_disponible = la quantité demandée dans le RFQ\n    → il peut fournir une partie seulement:\n                       → quantite_disponible = la quantité qu'il peut réellement fournir\n    → article non disponible:\n                       → quantite_disponible = null","hasOutputParser":true,"options":{"systemMessage":"Tu es un assistant spécialisé en achats et approvisionnement.\nTon rôle est d'analyser les emails de devis reçus des fournisseurs \net d'extraire les informations de prix pour chaque article demandé.\nTu réponds UNIQUEMENT en JSON, sans texte supplémentaire, \nsans balises markdown, sans explication."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[560,1008],"id":"0dbcfc6a-7078-4dd2-97de-b0b59c9f9600","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[496,1232],"id":"403c4488-46eb-4cf6-95e7-8867c376a944","name":"Groq Chat Model","credentials":{"groqApi":{"id":"WpX5HqUBrcIxe7zp","name":"Groq account 5"}}},{"parameters":{"operation":"executeQuery","query":"select   l.id,              -- ← IMPORTANT pour ligne_cotation_id\nd.numero_rfq, d.uuid, l.numero_da , l.code_article, l.designation_article, l.quantite_demandee, l.unite, l.marque_souhaitee\nfrom demandes_cotation d\ninner join lignes_cotation l on d.uuid = l.rfq_uuid\nwhere numero_rfq='{{ $('Code - Extraire RFQ').item.json.rfq_number }}'\nand d.statut <> 'repondu'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[48,1008],"id":"f756e15a-98a2-484e-8c94-4e153070e3c5","name":"MySQL SELECT - Récupérer infos RFQ","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// Récupérer le sujet de l'email\nconst subject = $(\"Edit Fields1\").first().json.subject || '';\n\n// Patterns possibles dans le sujet\nconst patternRFQ = /RFQ-\\d{4}-\\d+-[A-Z0-9]{4}/i;\nconst patternRFPN = /RFPN-\\d{4}-\\d+-[A-Z0-9]{4}/i;\n\nlet rfq_number = null;\nlet rfpn_number = null;\n\nconst matchRFQ = subject.match(patternRFQ);\nif (matchRFQ) {\n  rfq_number = matchRFQ[0].replace('#', '').toUpperCase().trim();\n}\n\nconst matchRFPN = subject.match(patternRFPN);\nif (matchRFPN) {\n  rfpn_number = matchRFPN[0].replace('#', '').toUpperCase().trim();\n}\n\n// Vérifier si au moins un identifiant a été trouvé\nif (!rfq_number && !rfpn_number) {\n  return {\n    success: false,\n    error: 'Aucun numéro RFQ ou RFPN trouvé dans le sujet',\n    subject_recu: subject,\n    rfq_number: null,\n    rfpn_number: null\n  };\n}\n\n// Déterminer le type de référence dominant (utile pour brancher le workflow ensuite)\nconst type_reference = rfpn_number ? 'RFPN' : 'RFQ';\n\n// Retourner les données\nreturn {\n  success: true,\n  type_reference: type_reference,\n  rfq_number: rfq_number,\n  rfpn_number: rfpn_number,\n  subject_recu: subject,\n  email_from: $input.first().json.from?.emailAddress?.address || '',\n  email_body: $input.first().json.bodyContent || '',\n  date_reception: new Date().toISOString()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,736],"id":"ec1889de-6c95-46aa-873f-29e05b9a52af","name":"Code - Extraire RFQ"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number ?? null }}\",\n  \"uuid\": \"{{ $('Code - Extraire RFQ').first().json.uuid ?? null }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from ?? null }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception ?? null }}\",\n  \"conditions_paiement\": \"{{ null }}\",\n   \"devise\": \"{{ null }}\",\n  \"delai_livraison_global\": \"{{ null }}\",\n  \"validite_offre\": \"{{ null }}\",\n  \"remarques_generales\": \"{{ null }}\",\n  \"lignes\": [\n    {\n      \"ligne_cotation_id\": \"{{ $json.id }}\",\n      \"code_article\": \"{{ null }}\",\n      \"designation_article\": \"{{ null }}\",\n      \"marque_proposee\": \"{{ null }}\",\n      \"prix_unitaire\": \"{{ null }}\",\n      \"devise\": \"{{ null }}\",\n      \"delai_livraison\": \"{{ null }}\",\n      \"disponibilite\": \"{{ null }}\",\n      \"remarque\": \"{{ null }}\",\n      \"quantite_disponible\": \"{{ null }}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[752,1232],"id":"958ec3f3-27d6-48c6-872c-8ec4158f0483","name":"Structured Output Parser"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code - Extraire RFQ').first().json.rfq_number }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[624,1232],"id":"432990a9-7119-446e-9702-35bdcd9700ab","name":"Simple Memory"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_detail (\n  reponse_entete_id,\n  rfq_uuid,\n  ligne_cotation_id,\n  code_article,\n  prix_unitaire_ht,\n  date_livraison,\n  quantite_disponible,\n  marque_conforme,\n  marque_proposee,\n  commentaire_article\n) VALUES (\n  {{ $json.reponse_entete_id }},\n  '{{ $json.rfq_uuid }}',\n  {{ $json.ligne_cotation_id }},\n  '{{ $json.code_article }}',\n  {{ $json.prix_unitaire_ht !== null ? $json.prix_unitaire_ht : 'NULL' }},\n  {{ $json.date_livraison ? `'${$json.date_livraison}'` : 'NULL' }},\n  {{ $json.quantite_disponible !== null ? $json.quantite_disponible : 'NULL' }},\n  {{ $json.marque_conforme }},\n  {{ $json.marque_proposee ? `'${$json.marque_proposee}'` : 'NULL' }},\n  {{ $json.commentaire_article ? `'${$json.commentaire_article}'` : 'NULL' }}\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,1040],"id":"70fc8e35-bf90-4af2-bd90-b8bc89da7085","name":"Execute a SQL query","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ── Calculer date livraison ──\nfunction calculerDateLivraison(delai) {\n  if (!delai) return null;\n\n  const valeur = delai.toString().trim();\n\n  // Cas 1 : C'est un nombre seul → ajouter au jour d'aujourd'hui\n  // Ex: \"2\", \"7\", \"15\"\n  const nombreSeul = valeur.match(/^(\\d+)$/);\n  if (nombreSeul) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(nombreSeul[1]));\n    return date.toISOString().split('T')[0]; // YYYY-MM-DD\n  }\n\n  // Cas 2 : Contient \"jour(s)\" ou \"day(s)\" → extraire le nombre\n  // Ex: \"2 jours\", \"7 jours\", \"dans 3 jours\", \"5 days\"\n  const avecJours = valeur.match(/(\\d+)\\s*(jour|day|jours|days)/i);\n  if (avecJours) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecJours[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  // Cas 3 : Contient \"semaine(s)\" → multiplier par 7\n  // Ex: \"2 semaines\", \"1 semaine\"\n  const avecSemaines = valeur.match(/(\\d+)\\s*(semaine|week)/i);\n  if (avecSemaines) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecSemaines[1]) * 7);\n    return date.toISOString().split('T')[0];\n  }\n\n  // Cas 4 : C'est une date directe\n  // Ex: \"2026-03-15\", \"15/03/2026\", \"15-03-2026\"\n  const dateFormats = [\n    /(\\d{4})-(\\d{2})-(\\d{2})/,     // YYYY-MM-DD\n    /(\\d{2})\\/(\\d{2})\\/(\\d{4})/,   // DD/MM/YYYY\n    /(\\d{2})-(\\d{2})-(\\d{4})/      // DD-MM-YYYY\n  ];\n\n  for (const format of dateFormats) {\n    const match = valeur.match(format);\n    if (match) {\n      let dateStr;\n      if (format === dateFormats[0]) {\n        dateStr = `${match[1]}-${match[2]}-${match[3]}`;\n      } else {\n        dateStr = `${match[3]}-${match[2]}-${match[1]}`; // Convertir en YYYY-MM-DD\n      }\n      const date = new Date(dateStr);\n      if (!isNaN(date.getTime())) {\n        return date.toISOString().split('T')[0];\n      }\n    }\n  }\n\n  // Cas 5 : Texte non reconnu → retourner null\n  console.log(`Délai non reconnu : ${valeur}`);\n  return null;\n}\n\n\n\n\n\n\n\n\n\n\n\n\n// ── Récupérer insertId de l'entête ──\nconst enteteRaw = $('MySQL INSERT - Entête').first().json;\nconst entete_id = enteteRaw?.data?.insertId ?? enteteRaw?.insertId ?? null;\n\nif (!entete_id) {\n  throw new Error('Impossible de récupérer insertId de l\\'entête');\n}\n\n// ── Données AI Agent ──\nconst raw  = $('AI Agent').first().json;\nconst data = raw.output ?? raw;\n\n// ── Lignes MySQL ──\nconst lignes_mysql = $('MySQL SELECT - Récupérer infos RFQ').all();\n\n// ── Normaliser la disponibilité (LLM peut retourner du texte libre) ──\nfunction normaliserDisponibilite(valeur) {\n  if (!valeur) return 'NON_DISPONIBLE';\n  const v = valeur.toLowerCase().trim();\n\n  if (v.includes('total') || v === 'totale' || v === 'total') {\n    return 'TOTALE';\n  }\n  if (v.includes('partiel') || v === 'partielle' || v === 'partiel') {\n    return 'PARTIELLE';\n  }\n  if (v.includes('non') || v.includes('indisponible') || v.includes('pas disponible')) {\n    return 'NON_DISPONIBLE';\n  }\n  // Valeur enum directe correcte\n  if (['TOTALE', 'PARTIELLE', 'NON_DISPONIBLE'].includes(valeur.toUpperCase())) {\n    return valeur.toUpperCase();\n  }\n  return 'NON_DISPONIBLE';\n}\n\n// ── Construire les lignes détail ──\nconst lignes = data.lignes.map(ligne => {\n\n  const ligne_mysql = lignes_mysql.find(\n    l => l.json.code_article === ligne.code_article\n  );\n\n  if (!ligne_mysql) {\n    console.log(`Article ignoré (non trouvé en DB) : ${ligne.code_article}`);\n    return null;\n  }\n\n  // Normaliser disponibilité\n  const disponibilite = normaliserDisponibilite(ligne.disponibilite);\n\n  // Quantité disponible selon disponibilité\n  let quantite_disponible;\n\n  quantite_disponible = ligne.quantite_disponible ?? 0; // NON_DISPONIBLE\n  \n\n  // Marque conforme — null si pas de marque proposée\n  // ── Marque conforme ──\nlet marque_conforme = null;\n\nconst marque_souhaitee = ligne_mysql.json.marque_souhaitee?.trim() || null;\n  console.log(marque_souhaitee)\nconst marque_proposee  = ligne.marque_proposee?.trim() || null;\n  console.log(\"sdf\" + marque_proposee)\n\n  // Commentaire\n  const commentaire_parts = [];\n  if (disponibilite !== 'TOTALE') {\n    commentaire_parts.push(`Disponibilité: ${disponibilite}`);\n  }\n  if (ligne.remarque) {\n    commentaire_parts.push(ligne.remarque);\n  }\n\n  return {\n    reponse_entete_id:   entete_id,\n    rfq_uuid:            data.uuid,\n    ligne_cotation_id:   ligne_mysql.json.id,\n    code_article:        ligne.code_article,\n    prix_unitaire_ht:    ligne.prix_unitaire ?? null,\n    date_livraison:     calculerDateLivraison(ligne.delai_livraison),\n    quantite_disponible: quantite_disponible,\n    marque_conforme:     marque_conforme,\n    marque_proposee:     marque_proposee || null,\n    commentaire_article: commentaire_parts.join(' | ') || null\n  };\n\n}).filter(Boolean);\n\nif (lignes.length === 0) {\n  throw new Error('Aucune ligne valide à insérer');\n}\n\nreturn lignes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,992],"id":"58de0a77-45ee-461c-b546-e4773de821e6","name":"Code - Préparer lignes détail"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,992],"id":"6916c97a-c5ff-4d18-822d-f75ede7dc1c4","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,848],"id":"fd8461ca-6748-4f01-a981-f9eb941352c0","name":"Edit Fields3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"articles","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[272,1008],"id":"d133b2fd-e797-4747-83a5-aaf3671d2755","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-001","leftValue":"={{ Object.values($('Edit Fields1').item.binary).some(a => a.mimeType === 'application/pdf' || a.fileName?.toLowerCase().endsWith('.pdf')) }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,736],"id":"31b56bae-8a2b-4d53-830b-d744b118d35e","name":"IF - Contient PDF ?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-002","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-960,736],"id":"8e2a9dd2-7dfd-4d4c-a8c3-bbf8b32da4c9","name":"IF - RFQ Trouvé ?"},{"parameters":{"jsCode":"const binaryData = $('Edit Fields1').first().binary;\nconst dataa = $('Code - Extraire RFQ').first().json;\n\nlet pdfKey = null;\nfor (const key of Object.keys(binaryData)) {\n  if (\n    binaryData[key].mimeType === 'application/pdf' ||\n    binaryData[key].fileExtension === 'pdf'\n  ) {\n    pdfKey = key;\n    break;\n  }\n}\n\nif (!pdfKey) {\n  throw new Error('Aucun PDF trouvé dans les pièces jointes');\n}\n\nconst pdf = binaryData[pdfKey];\n\nreturn {\n  json: {\n    filename: pdf.fileName || pdf.filename,\n    date_reception: dataa.date_reception\n  },\n  binary: {\n    data: {\n      data:          pdf.data,\n      mimeType:      'application/pdf',\n      fileName:      pdf.fileName || pdf.filename,\n      fileExtension: 'pdf'\n    }\n  },\n  pairedItem: { item: 0 }   // ← ajouté : lie explicitement ce résultat à l'item 0 en entrée\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,576],"id":"4ea0d62d-513e-4fab-97ac-4a9494b2497e","name":"Code - Extraire pièce jointe PDF"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_detail (\n  reponse_entete_id,\n  rfq_uuid,\n  ligne_cotation_id,\n  code_article,\n  prix_unitaire_ht,\n  date_livraison,\n  quantite_disponible,\n  marque_conforme,\n  marque_proposee,\n  designation_fournisseur,\n  commentaire_article\n) VALUES (\n  {{ $json.reponse_entete_id }},\n  '{{ $json.rfq_uuid }}',\n  {{ $json.ligne_cotation_id }},\n  '{{ $json.code_article }}',\n  {{ $json.prix_unitaire_ht !== null ? $json.prix_unitaire_ht : 'NULL' }},\n  {{ $json.date_livraison ? `'${$json.date_livraison}'` : 'NULL' }},\n  {{ $json.quantite_disponible !== null ? $json.quantite_disponible : 'NULL' }},\n  {{ $json.marque_conforme !== null ? $json.marque_conforme : 'NULL' }},\n  {{ $json.marque_proposee ? `'${$json.marque_proposee}'` : 'NULL' }},\n  {{ $json.designation_fournisseur ? `'${$json.designation_fournisseur}'` : 'NULL' }},\n  {{ $json.commentaire_article ? `'${$json.commentaire_article}'` : 'NULL' }}\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3744,720],"id":"f3783f39-b789-41bf-a977-15c140c2ac11","name":"MySQL INSERT - Détail","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE demandes_cotation\nSET statut = 'repondu'\nWHERE uuid = '{{ $('Code - Préparer lignes détail1').item.json.rfq_uuid }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3744,528],"id":"79845a80-3d0e-4066-a280-133462f140e8","name":"MySQL UPDATE - Statut Repondu","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"assignments":{"assignments":[{"id":"field-001","name":"from","value":"={{ $json.from }}","type":"string"},{"id":"field-002","name":"to","value":"={{ $json.to }}","type":"string"},{"id":"field-003","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"field-004","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"field-005","name":"textPlain","value":"={{ $json.textPlain }}","type":"string"},{"id":"5eff5400-023d-47b0-8f8b-3886b3dc10d6","name":"attachments","value":"={{ $binary.attachment_0 }}","type":"string"}]},"includeOtherFields":"={{ true }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,736],"id":"7e9f557d-bdae-4e48-a38f-5ceec7f37587","name":"Edit Fields1"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  d.numero_rfq,\n  d.uuid,\n  l.numero_da,\n  l.code_article,\n  l.designation_article,\n  l.quantite_demandee,\n  l.unite,\n  l.marque_souhaitee\nFROM demandes_cotation d\nINNER JOIN lignes_cotation l ON d.uuid = l.rfq_uuid\nWHERE d.numero_rfq = '{{ $json.rfq_number }}'\n  and d.statut <> 'repondu'\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-160,576],"id":"9ad1655f-23ee-42c6-b6d8-4581700d9051","name":"MySQL SELECT - Récupérer infos RFQ1","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1168,816],"id":"9a74efb9-8c3c-4a10-967a-8fa332dcf573","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"WpX5HqUBrcIxe7zp","name":"Groq account 5"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"rfq_number\":           { \"type\": \"string\" },\n    \"uuid\":                 { \"type\": \"string\" },\n    \"fournisseur\":          { \"type\": \"string\" },\n    \"date_reception\":       { \"type\": \"string\" },\n    \"conditions_paiement\":  { \"type\": \"string\" },\n    \"validite_offre\":       { \"type\": \"string\" },\n    \"remarques_generales\":  { \"type\": \"string\" },\n    \"lignes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"code_article\":        { \"type\": \"string\" },\n          \"designation_article\": { \"type\": \"string\" },\n          \"marque_proposee\":     { \"type\": [\"string\", \"null\"] },\n          \"prix_unitaire\":       { \"type\": [\"number\", \"null\"] },\n          \"devise\":              { \"type\": \"string\" },\n          \"unite_proposee\":      { \"type\": \"string\" },\n          \"delai_livraison\":     { \"type\": \"string\" },\n          \"quantite_disponible\": { \"type\": [\"number\", \"null\"] },\n          \"disponibilite\": {\n            \"type\": \"string\",\n            \"enum\": [\"TOTALE\", \"PARTIELLE\", \"SIMILAIRE\", \"NON_DISPONIBLE\"]\n          },\n          \"remarque\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"code_article\",\n          \"designation_article\",\n          \"disponibilite\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"rfq_number\", \"uuid\", \"lignes\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1392,816],"id":"c1109ecd-9527-40be-9ddc-21ebf8d63e46","name":"Structured Output Parser1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_entete (\n  rfq_uuid,\n  devise,\n  methodes_paiement,\n  date_reponse,\n  fichier_devis_url,\n  commentaire\n) VALUES (\n  '{{ $json.uuid }}',\n  'MAD',\n  '{{ $json.conditions_paiement_safe }}',\n  NOW(),\n  '{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.numero_rfq }}-{{ DateTime.fromISO($('Code - Extraire pièce jointe PDF').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}',\n  '{{ $json.remarques_generales_safe }}'\n)","options":{"replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3072,656],"id":"a6a2d179-b7bb-4f34-9848-3addb19b6c11","name":"MySQL INSERT - Entête1","executeOnce":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// ── Récupérer insertId entête ──\nconst enteteRaw = $('MySQL INSERT - Entête1').first().json;\nconst entete_id = enteteRaw?.data?.insertId ?? enteteRaw?.insertId ?? null;\n\nif (!entete_id) {\n  throw new Error('Impossible de récupérer insertId de l\\'entête');\n}\n\n// ── UUID réel depuis MySQL — jamais du LLM ──\nconst uuid_reel = $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid;\n\n// ── Données AI Agent ──\nconst raw  = $('Code').first().json;\nconst data = raw.output ?? raw;\n\n// ── Lignes MySQL ──\nconst lignes_mysql = $('MySQL SELECT - Récupérer infos RFQ1').all();\n\nconst marques_data = $('If').all();\n\n// ── Escape SQL ──\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return null;\n  return String(val)\n    .replace(/'/g, \"''\")\n    .replace(/\\n/g, ' ')\n    .replace(/\\r/g, '');\n}\n\n// ── Normaliser disponibilité ──\nfunction normaliserDisponibilite(valeur) {\n  if (!valeur) return 'NON_DISPONIBLE';\n  const v = valeur.toLowerCase().trim();\n  if (v.includes('total') || v === 'totale') return 'TOTALE';\n  if (v.includes('partiel') || v === 'partielle') return 'PARTIELLE';\n  if (v.includes('similaire') || v.includes('similar')) return 'SIMILAIRE';\n  if (v.includes('non') || v.includes('indisponible')) return 'NON_DISPONIBLE';\n  if (['TOTALE','PARTIELLE','SIMILAIRE','NON_DISPONIBLE'].includes(valeur.toUpperCase())) return valeur.toUpperCase();\n  return 'NON_DISPONIBLE';\n}\n\n// ── Calculer date livraison ──\nfunction calculerDateLivraison(delai) {\n  if (!delai) return null;\n  const valeur = delai.toString().trim();\n\n  const nombreSeul = valeur.match(/^(\\d+)$/);\n  if (nombreSeul) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(nombreSeul[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecJours = valeur.match(/(\\d+)\\s*(jour|day|jours|days)/i);\n  if (avecJours) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecJours[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecSemaines = valeur.match(/(\\d+)\\s*(semaine|week)/i);\n  if (avecSemaines) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecSemaines[1]) * 7);\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecMois = valeur.match(/(\\d+)\\s*(mois|month)/i);\n  if (avecMois) {\n    const date = new Date();\n    date.setMonth(date.getMonth() + parseInt(avecMois[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  if (valeur.toLowerCase().includes('stock')) {\n    return new Date().toISOString().split('T')[0];\n  }\n\n  const dateISO = valeur.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (dateISO) {\n    const date = new Date(`${dateISO[1]}-${dateISO[2]}-${dateISO[3]}`);\n    if (!isNaN(date.getTime())) return date.toISOString().split('T')[0];\n  }\n\n  const dateFR = valeur.match(/(\\d{2})[\\/-](\\d{2})[\\/-](\\d{4})/);\n  if (dateFR) {\n    const date = new Date(`${dateFR[3]}-${dateFR[2]}-${dateFR[1]}`);\n    if (!isNaN(date.getTime())) return date.toISOString().split('T')[0];\n  }\n\n  return null;\n}\n\n// ── Suivi des lignes MySQL déjà utilisées, pour ne pas réutiliser le même\n//    ligne_cotation_id quand un même code_article a plusieurs lignes en base ──\nconst usedMysqlIds = new Set();\n\n// ── Construire les lignes détail ──\nconst lignes = data.lignes.map(ligne => {\n\n  const ligne_mysql = lignes_mysql.find(\n    l => l.json.code_article === ligne.code_article\n      && !usedMysqlIds.has(l.json.id)\n  );\n\n  if (!ligne_mysql) {\n    console.log(`Article ignoré (non trouvé en DB ou plus de ligne disponible) : ${ligne.code_article}`);\n    return null;\n  }\n\n  // Marque cette ligne MySQL comme utilisée, pour que la prochaine offre\n  // du même code_article prenne une AUTRE ligne (ex: 3065 au lieu de 3064)\n  usedMysqlIds.add(ligne_mysql.json.id);\n\n  const disponibilite = normaliserDisponibilite(ligne.disponibilite);\n\n  let quantite_disponible;\n  quantite_disponible = ligne.quantite_disponible ?? 0;\n\n  let marque_conforme        = null;\n  const marque_souhaitee     = ligne_mysql.json.marque_souhaitee?.trim() || null;\n\n  // ── Matcher aussi sur le prix unitaire pour récupérer la bonne marque ──\n  const marque_item = marques_data.find(\n    m => m.json.code_article === ligne.code_article\n      && Number(m.json.prix_unitaire) === Number(ligne.prix_unitaire)\n  );\n  const marque_proposee = marque_item?.json?.marque_proposee?.toString().trim() || null;\n\n  const commentaire_parts = [];\n  if (disponibilite !== 'TOTALE') {\n    commentaire_parts.push(`Disponibilité: ${disponibilite}`);\n  }\n  if (disponibilite === 'SIMILAIRE' && ligne.designation_article) {\n    commentaire_parts.push(`Article proposé: ${ligne.designation_article}`);\n  }\n  if (ligne.remarque) {\n    commentaire_parts.push(ligne.remarque);\n  }\n\n  const commentaire_raw = commentaire_parts.join(' | ') || null;\n\n  return {\n    reponse_entete_id:    entete_id,\n    rfq_uuid:             uuid_reel,\n    ligne_cotation_id:    ligne_mysql.json.id,\n    code_article:         ligne.code_article,\n    designation_proposee: sqlEscape(ligne.designation_article ?? null),\n    prix_unitaire_ht:     ligne.prix_unitaire ?? null,\n    date_livraison:       calculerDateLivraison(ligne.delai_livraison),\n    quantite_disponible:  quantite_disponible,\n    marque_conforme:      marque_conforme,\n    marque_proposee:      sqlEscape(marque_proposee),\n    commentaire_article:  sqlEscape(commentaire_raw)\n  };\n\n}).filter(Boolean);\n\nif (lignes.length === 0) {\n  throw new Error('Aucune ligne valide à insérer');\n}\n\nreturn lignes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,656],"id":"28f13cbb-32b5-4f8c-a7a0-2d9380f82727","name":"Code - Préparer lignes détail1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3520,656],"id":"3411c75f-657b-4aa8-854b-161a32bf277f","name":"Loop Over Items1"},{"parameters":{"operation":"executeQuery","query":"UPDATE demandes_cotation\nSET statut = 'repondu'\nWHERE uuid = '{{ $('Code - Préparer lignes détail').first().json.rfq_uuid }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,848],"id":"0cfce330-9abc-4581-a769-e13386124ffb","name":"Execute a SQL query1","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output;\n\n// If already an object/array, no parsing needed\nif (typeof raw === 'object' && raw !== null) {\n  return [{ json: raw }];\n}\n\n// Convert to string just in case\nconst str = String(raw);\n\n// Strip markdown fences\nconst stripped = str\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nconst parsed = JSON.parse(stripped);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,672],"id":"e019f652-ce19-4cad-a95a-28138aa48123","name":"Code"},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Toujours prendre le UUID depuis MySQL — jamais du LLM\nconst uuid_reel = $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid;\n\n// Escape SQL\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return '';\n  return String(val)\n    .replace(/'/g, \"''\")\n    .replace(/\\n/g, ' ')\n    .replace(/\\r/g, '');\n}\n\n// Données communes à toutes les lignes\nconst entete = {\n  uuid:                     uuid_reel,\n  rfq_number:               data.rfq_number,\n  fournisseur:              data.fournisseur,\n  date_reception:           data.date_reception,\n  remarques_generales_safe: sqlEscape(data.remarques_generales),\n  conditions_paiement_safe: sqlEscape(data.conditions_paiement),\n  validite_offre:           data.validite_offre,\n};\n\n// Retourner un item par ligne article\nreturn data.lignes.map(ligne => ({\n  json: {\n    ...entete,\n    ...ligne\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,672],"id":"0105c6d1-7bbe-48c7-82b3-0e4cdcf83b3b","name":"cleaning remarque generale"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,672],"id":"e28d4e6e-ae58-4157-8d31-5a48b40e3d78","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"4jsaJdeLOLrHyncY","name":"MISTRAL"}}},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,672],"id":"a4c8b015-8d16-444e-9778-819dcd982011","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7d84f16-b554-4777-9149-088e3c105de0","leftValue":"={{ $json.quantite_disponible }}","rightValue":"={{ Number(0) }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,672],"id":"0c761bc8-b4cf-4648-9999-1b4b08380ca6","name":"If"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1840,736],"id":"4595c1c1-af46-4495-b2c3-55144f371795","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO emails (\n    message_id,\n    subject,\n    sender,\n    recipient,\n    body_text,\n    has_attachments,\n    received_at\n) VALUES (\n    '{{ $json.metadata[\"message-id\"] }}',\n    '{{ $json.subject }}',\n    '{{ $json.from }}',\n    '{{ $json.to }}',\n    'test',\n    {{ $json.attachments ? 1 : 0 }},\n    NOW()\n);","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1392,736],"id":"7b9c1734-a4ca-46b6-aa02-26c8bf282209","name":"MySQL INSERT - email","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO email_attachments (\n    email_id,\n    filename,\n    mime_type,\n    file_path,\n    created_at\n) VALUES (\n    {{ $('MySQL INSERT - email').first().json.data.insertId }},\n    '{{ $json.filename }}',\n    'application/pdf',\n    '{{ $json.filename }}',\n    NOW()\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[640,480],"id":"56a49f84-d7dd-4b03-a2a3-df1a6aa67495","name":"MySQL INSERT - attachement2","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"operation":"write","fileName":"=D:\\xampp\\htdocs\\formulaire_fournisseur\\uploads\\devis\\emails/{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.numero_rfq }}-{{ DateTime.fromISO($('Code - Extraire pièce jointe PDF').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[288,576],"id":"c0bbc755-af5f-4ace-bbda-911b301c0f41","name":"Read/Write Files from Disk"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46e2017f-0813-4e5d-a5cf-341178dd82a6","leftValue":"={{ $json.marque_proposee }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,672],"id":"9a4125bb-8528-479a-93d5-d8b0bb4e7914","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,672],"id":"84189ad6-1676-4da9-80ea-1b50ce4b2589","name":"Merge"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1184,-240],"id":"398281f3-0edc-48e3-ada9-62cf0b0a93be","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"99wq1jpbjfVZtDjK","name":"OpenRouter account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"8OkQnk0psBmUpZbg","mode":"list","cachedResultName":"EXTRACTION DES MARQUE DEPUIS LA DESIGNATION FOURNISSEUR"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2320,480],"id":"7c7180d3-c92e-4213-a0c2-fab4c2e15758","name":"Recuperer la marque"},{"parameters":{"workflowId":{"__rl":true,"value":"hBfovBwVEJK7SAnt","mode":"list","cachedResultName":"REQUEST PRICE NEGOTIATION"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3072,432],"id":"10c4128b-b5a7-4408-a8eb-37ee5ef7b813","name":"REQUEST FOR PRICE NEGOTIATION"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_entete (\n  rfq_uuid,\n  devise,\n  methodes_paiement,\n  date_reponse\n) VALUES (\n  '{{ $json.uuid }}',\n  '{{ $json.devise }}',\n  '{{ $json.conditions_paiement }}',\n  NOW()\n\n)","options":{"replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1408,992],"id":"5c870901-a52a-4eb6-a973-bd810f89138f","name":"MySQL INSERT - Entête","executeOnce":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n  const lignes = data.lignes || [];\n\n  for (const ligne of lignes) {\n    result.push({\n      json: {\n        rfq_number: data.rfq_number,\n        uuid: data.uuid,\n        fournisseur: data.fournisseur,\n        date_reception: data.date_reception,\n        conditions_paiement: data.conditions_paiement,\n        devise: data.devise,\n        validite_offre: data.validite_offre,\n        remarques_generales: data.remarques_generales,\n        ...ligne\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1008],"id":"1b4bae77-c5f3-43fc-8e91-2ef5bdf46a02","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77719659-bf48-4d4f-8bc9-d051a578be3e","leftValue":"={{ $json.quantite_disponible }}","rightValue":"={{ Number(0) }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1008],"id":"93b2c35d-2577-4049-8ad6-305146fbca97","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cd4c8f7-99ab-4a9a-80c7-01774b57b6cc","leftValue":"={{ $json.type_reference }}","rightValue":"RFPN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,720],"id":"4ef18ede-5349-4268-846a-fe88a86004bb","name":"If3"},{"parameters":{"workflowId":{"__rl":true,"value":"vIcNaWGBpqmyxmSz","mode":"list","cachedResultName":"REPONSES FOURNISSEUR SUR LES NEGOTIATION PRIX"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-416,464],"id":"e75bbb96-8b13-45f3-9dd1-b26ecdd5a933","name":"Execute Workflow"},{"parameters":{"promptType":"define","text":"=Tu es un assistant d'analyse de devis fournisseurs industriels.\n\n═══════════════════════════════════════════\nCONTEXTE\n═══════════════════════════════════════════\nRFQ N° : {{ $('Code - Extraire RFQ').first().json.rfq_number }}\nFournisseur : {{ $('Code - Extraire RFQ').first().json.email_from }}\nDate réception : {{ $('Code - Extraire RFQ').first().json.date_reception }}\n\n═══════════════════════════════════════════\nARTICLES DEMANDÉS (source système)\n═══════════════════════════════════════════\n{{ $('MySQL SELECT - Récupérer infos RFQ1').all().map((item, i) =>\n  `${i+1}. code_article: ${item.json.code_article}\n   designation: ${item.json.designation_article}\n   quantite_demandee: ${item.json.quantite_demandee} ${item.json.unite}\n   marque_souhaitee: ${item.json.marque_souhaitee ?? 'Non spécifiée'}`\n).join('\\n\\n') }}\n\n═══════════════════════════════════════════\nCONTENU DU DEVIS PDF REÇU\n═══════════════════════════════════════════\n{{ $json.pages[0].markdown }}\n═══════════════════════════════════════════\n\n═══════════════════════════════════════════\nALGORITHME DE MATCHING\n═══════════════════════════════════════════\n\nPour chaque article de la liste système, dans cet ordre :\n\nÉTAPE 1 — Correspondance exacte\n→ Même code_article OU mêmes dimensions ET même type de pièce\n→ → disponibilite selon quantité (voir règles ci-dessous)\n\nÉTAPE 2 — Correspondance similaire\n→ Même famille de pièce (ex: rouleau convoyeur), diamètre identique, \n  mais longueur ou autres dimensions différentes\n→ → disponibilite = \"SIMILAIRE\"\n→ → quantite_disponible = quantité indiquée dans le PDF\n→ → designation_article = désignation EXACTE du PDF (pas celle du système)\n→ → noter la différence dans \"remarque\"\n\nÉTAPE 3 — Aucune correspondance\n→ Aucun article du PDF ne ressemble à cet article\n→ → disponibilite = \"NON_DISPONIBLE\", quantite_disponible = 0, prix_unitaire = null\n\n═══════════════════════════════════════════\nRÈGLES STRICTES\n═══════════════════════════════════════════\n\nDISPONIBILITÉ :\n- TOTALE         → article identique, quantite_proposee >= quantite_demandee\n                   → quantite_disponible = quantite_demandee\n- PARTIELLE      → article identique, quantite_proposee < quantite_demandee\n                   → quantite_disponible = quantite_proposee dans le PDF\n- SIMILAIRE      → même famille mais spécifications différentes\n                   → quantite_disponible = quantite_proposee dans le PDF\n                   → si quantité non précisée dans le PDF → quantite_disponible = quantite_demandee\n- NON_DISPONIBLE → absent du PDF → quantite_disponible = 0\n\nMARQUE :\n- La marque peut apparaître de deux façons dans le devis :\n  1. Dans une colonne dédiée \"Marque\" du tableau\n  2. Intégrée directement dans le texte de la désignation, sous la forme \n     \"MARQUE : XXX\" ou \"MARQUE: XXX\" (avec ou sans espace avant les deux-points).\n- Dans les deux cas, extraire la marque et l'assigner à marque_proposee\n- Aucune marque mentionnée dans le PDF → marque_proposee = null\n\nUNITÉ :\n- Extraire l'unité de mesure telle qu'elle apparaît dans le devis PDF (colonne \"Unité\", \n  \"U.M.\", \"Ud\", ou équivalente ; parfois absente et sous-entendue par le contexte).\n- Normaliser l'unité extraite selon la correspondance suivante avant de l'assigner à \n  unite_proposee :\n\n  DA  → jour, jours, day, days, j\n  UN  → un, unité, unités, unite, pce, piece, pièce\n  HR  → heure, heures, hour, hours, h\n  L   → litre, litres, liter, liters, l\n  M   → mètre, mètres, meter, meters, ml (si contexte = longueur)\n  ML  → millilitre, millilitres, milliliter (si contexte = volume)\n  T   → tonne, tonnes, ton, tons\n\n- Cas ambigu \"ML\" : si le contexte de l'article est un liquide (huile, peinture, \n  produit chimique) → ML = millilitre.\n\n- Si aucune unité n'est mentionnée dans le PDF pour cet article → unite_proposee = null.\n\n⚠️ Pour les cas SIMILAIRE :\n- Si le fournisseur propose une marque différente → marque_proposee = marque du fournisseur\n- La désignation dans le JSON doit être celle du PDF, pas celle du système\n\nDEVISE :\n- DHS = MAD, tout exprimer en MAD\n- Autre devise → convertir et noter dans remarque\n\nCODES ARTICLES :\n- Utiliser UNIQUEMENT les codes de la liste système\n- Ne jamais inventer un code_article\n\n═══════════════════════════════════════════\nSORTIE ATTENDUE\n═══════════════════════════════════════════\nRetourne UNIQUEMENT ce JSON valide, sans texte avant ni après, sans backticks :\n\n{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number }}\",\n  \"uuid\": \"{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception }}\",\n  \"conditions_paiement\": \"\",\n  \"validite_offre\": \"\",\n  \"remarques_generales\": \"\",\n  \"lignes\": [\n    {\n      \"code_article\": \"\",\n      \"designation_article\": \"\",\n      \"marque_proposee\": null,\n      \"prix_unitaire\": 0,\n      \"devise\": \"MAD\",\n      \"unite_proposee\": \"\",\n      \"delai_livraison\": \"\",\n      \"quantite_disponible\": null,\n      \"disponibilite\": \"TOTALE\",\n      \"remarque\": \"\"\n    }\n  ]\n}\n\nRAPPEL FINAL :\n- Une ligne par article de la liste système (même si NON_DISPONIBLE)\n- Cas SIMILAIRE → designation_article = désignation du PDF, remarque = écart exact\n- Cas PARTIELLE ou SIMILAIRE → quantite_disponible = quantité réelle du PDF\n- unite_proposee doit toujours être un code normalisé (DA, UN, HR, L, M, ML, T)\n- Aucun code_article inventé\n- JSON pur uniquement, sans markdown ni explication","hasOutputParser":true,"options":{"systemMessage":"Tu es un assistant spécialisé en achats et approvisionnement.\nTon rôle est d'analyser les devis PDF reçus des fournisseurs\net d'extraire les informations de prix pour chaque article demandé.\nTu réponds UNIQUEMENT en JSON valide, sans texte supplémentaire,\nsans balises markdown, sans explication."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1200,608],"id":"3eb9d7a3-58f9-43c5-a3e4-36e3303fa840","name":"AI Agent1"},{"parameters":{"command":"=C:\\hicham\\scripts\\convert_txt_to_pdf\\script.bat \"{{ $json.fileName }}\" \"D:\\xampp\\htdocs\\formulaire_fournisseur\\uploads\\devis\\emails/{{ $('IF - Contient PDF ?').item.json.rfq_number }}-{{ DateTime.fromISO($('IF - Contient PDF ?').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-16,1344],"id":"ad2653c6-864e-4410-87a7-f87123f4766f","name":"Execute Command"},{"parameters":{"operation":"write","fileName":"=D:\\xampp\\htdocs\\formulaire_fournisseur\\uploads\\devis\\emails\\email_txt/{{ $('IF - Contient PDF ?').item.json.rfq_number }}-{{ DateTime.fromISO($('IF - Contient PDF ?').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}.txt","dataPropertyName":"=textPlain_file","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-224,1344],"id":"9b55b7d4-b19c-4adb-9ab5-42e6dc5d4c5f","name":"Read/Write Files from Disk1"},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  return {\n    json: data,\n    binary: {\n      textPlain_file: {\n        data: Buffer.from(data.textPlain, 'utf-8').toString('base64'),\n        mimeType: 'text/plain',\n        fileName: 'email.txt'\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,1344],"id":"c64033c1-2724-4dea-81c1-bdbc3391d098","name":"Code6"},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const stdout = item.json.stdout || '';\n  const stderr = item.json.stderr || '';\n\n  let output_path = null;\n  let success = false;\n  let error = null;\n  let rfq_date_code = null;\n\n  try {\n    const parsed = JSON.parse(stdout.trim());\n    output_path = parsed.output ?? null;\n    success = parsed.success === true;\n    error = parsed.error ?? null;\n\n    if (output_path) {\n      // Récupère tout ce qui vient après le dernier / ou \\, sans l'extension .pdf\n      const nomFichier = output_path.split(/[\\\\/]/).pop();\n      rfq_date_code = nomFichier.replace(/\\.pdf$/i, '');\n    }\n  } catch (e) {\n    error = `Parsing échoué. stdout: \"${stdout}\" | stderr: \"${stderr}\"`;\n  }\n\n  result.push({\n    json: {\n      success: success,\n      pdf_path: output_path,\n      rfq_date_code: rfq_date_code,\n      error: error\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,1344],"id":"10634257-42c1-46f7-857a-4ee361a4b235","name":"Code7"},{"parameters":{"assignments":{"assignments":[{"id":"0b0f06ce-e385-4a6e-839a-6e7692820bc1","name":"from","value":"={{ $('When Executed by Another Workflow').item.json.from }}","type":"string"},{"id":"ac1fd42a-d45a-4ae6-bafd-ad4faf913138","name":"to","value":"={{ $('When Executed by Another Workflow').item.json.to }}","type":"string"},{"id":"2f2c2367-44b8-4fea-b5e5-c236b9668c31","name":"subject","value":"={{ $('When Executed by Another Workflow').item.json.subject }}","type":"string"},{"id":"82f02d2f-7cf9-4c31-9092-a72f81b4e1d5","name":"date","value":"={{ $('When Executed by Another Workflow').item.json.date }}","type":"string"},{"id":"09574f92-0ae1-4a75-a416-bfd4e2a0caae","name":"textPlain","value":"={{ $('When Executed by Another Workflow').item.json.textPlain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,1344],"id":"3ad4b8bd-f1cf-4f3c-8dfe-e8f581e7cae0","name":"Edit Fields2"}],"connections":{"Edit Fields":{"main":[[{"node":"MySQL SELECT - Récupérer infos RFQ","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MySQL SELECT - Récupérer infos RFQ":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code - Extraire RFQ":{"main":[[{"node":"IF - RFQ Trouvé ?","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code - Préparer lignes détail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"IF - Contient PDF ?":{"main":[[{"node":"MySQL SELECT - Récupérer infos RFQ1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"IF - RFQ Trouvé ?":{"main":[[{"node":"If3","type":"main","index":0}],[]]},"Code - Extraire pièce jointe PDF":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"MySQL INSERT - Détail":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"MySQL INSERT - email","type":"main","index":0}]]},"MySQL SELECT - Récupérer infos RFQ1":{"main":[[{"node":"Code - Extraire pièce jointe PDF","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"MySQL INSERT - Entête1":{"main":[[{"node":"Code - Préparer lignes détail1","type":"main","index":0}]]},"Code - Préparer lignes détail1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"MySQL UPDATE - Statut Repondu","type":"main","index":0}],[{"node":"MySQL INSERT - Détail","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Code":{"main":[[{"node":"cleaning remarque generale","type":"main","index":0}]]},"cleaning remarque generale":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"🔍 OCR Page":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If":{"main":[[{"node":"MySQL INSERT - Entête1","type":"main","index":0},{"node":"REQUEST FOR PRICE NEGOTIATION","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"MySQL INSERT - email":{"main":[[{"node":"Code - Extraire RFQ","type":"main","index":0}]]},"MySQL INSERT - attachement2":{"main":[[]]},"Read/Write Files from Disk":{"main":[[{"node":"MySQL INSERT - attachement2","type":"main","index":0},{"node":"Code4","type":"main","index":0}]]},"If1":{"main":[[{"node":"Recuperer la marque","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Recuperer la marque":{"main":[[{"node":"Merge","type":"main","index":0}]]},"MySQL INSERT - Entête":{"main":[[{"node":"Code - Préparer lignes détail","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"MySQL INSERT - Entête","type":"main","index":0}]]},"If3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"IF - Contient PDF ?","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Code6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"764e6649-14ba-4a06-96ff-74a835725d47","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}