[ach3] recuperer les reponse via email-UNRSLoVIwbtpqZt3.json
{"createdAt":"2026-03-12T20:11:50.196Z","updatedAt":"2026-07-23T21:42:12.000Z","id":"UNRSLoVIwbtpqZt3","name":"[ACH3] RECUPERER LES REPONSE via EMAIL","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0b0f06ce-e385-4a6e-839a-6e7692820bc1","name":"from","value":"={{ $('When Executed by Another Workflow').item.json.from }}","type":"string"},{"id":"ac1fd42a-d45a-4ae6-bafd-ad4faf913138","name":"to","value":"={{ $('When Executed by Another Workflow').item.json.to }}","type":"string"},{"id":"2f2c2367-44b8-4fea-b5e5-c236b9668c31","name":"subject","value":"={{ $('When Executed by Another Workflow').item.json.subject }}","type":"string"},{"id":"82f02d2f-7cf9-4c31-9092-a72f81b4e1d5","name":"date","value":"={{ $('When Executed by Another Workflow').item.json.date }}","type":"string"},{"id":"09574f92-0ae1-4a75-a416-bfd4e2a0caae","name":"textPlain","value":"={{ $('When Executed by Another Workflow').item.json.textPlain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,1008],"id":"ee7f3ece-5c62-472f-92a1-70920ec7103a","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Voici les articles qui ont été demandés dans le RFQ {{ $('Code - Extraire RFQ').first().json.rfq_number }} :\n\n{{ $('MySQL SELECT - Récupérer infos RFQ').all().map(item => \n  `- Code: ${item.json.code_article} | Désignation: ${item.json.designation_article} | Quantité: ${item.json.quantite_demandee} ${item.json.unite} | Marque souhaitée: ${item.json.marque_souhaitee}`\n).join('\\n') }}\n\nVoici l'email reçu du fournisseur :\n───────────────────────────────────\n{{ $('Edit Fields').item.json.textPlain }}\n───────────────────────────────────\n\nExtrais les informations de devis pour chaque article et retourne ce JSON :\n{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number }}\",\n\"uuid\": \"{{ $('MySQL SELECT - Récupérer infos RFQ').first().json.uuid }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception }}\",\n  \"conditions_paiement\": \"\",\n  \"devise\": \"\",\n  \"validite_offre\": \"\",\n  \"remarques_generales\": met ici l'email de fournisseur,\n  \"lignes\": [\n    {\n      \"ligne_cotation_id\": {{ $json.id }},\n      \"code_article\": \"\",\n      \"designation_article\": \"\",\n      \"marque_proposee\": \"\",\n      \"prix_unitaire\": \"\",\n      \"delai_livraison\": \"\",\n      \"disponibilite\": \"\",\n      \"remarque\": \"\",\n      \"quantite_disponible\": \"\"\n    }\n  ]\n}\n\nRègles importantes :\n- Si un article n'est pas mentionné dans l'email → prix_unitaire = null\n- Si la marque proposée est différente de la marque souhaitée → noter dans remarque\n- Si un article n'est pas mentionné dans l'email → prix_unitaire = null\n- Si la marque proposée est différente de la marque souhaitée → noter dans remarque\n- Si plusieurs devises → tout convertir en MAD\n- disponibilite et quantite_disponible :\n    → le fournisseur peut fournir TOUTE la quantité demandée:\n                       → quantite_disponible = la quantité demandée dans le RFQ\n    → il peut fournir une partie seulement:\n                       → quantite_disponible = la quantité qu'il peut réellement fournir\n    → article non disponible:\n                       → quantite_disponible = null","hasOutputParser":true,"options":{"systemMessage":"Tu es un assistant spécialisé en achats et approvisionnement.\nTon rôle est d'analyser les emails de devis reçus des fournisseurs \net d'extraire les informations de prix pour chaque article demandé.\nTu réponds UNIQUEMENT en JSON, sans texte supplémentaire, \nsans balises markdown, sans explication."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[560,1008],"id":"0dbcfc6a-7078-4dd2-97de-b0b59c9f9600","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[496,1232],"id":"403c4488-46eb-4cf6-95e7-8867c376a944","name":"Groq Chat Model","credentials":{"groqApi":{"id":"WpX5HqUBrcIxe7zp","name":"Groq account 5"}}},{"parameters":{"operation":"executeQuery","query":"select   l.id,              -- ← IMPORTANT pour ligne_cotation_id\nd.numero_rfq, d.uuid, l.numero_da , l.code_article, l.designation_article, l.quantite_demandee, l.unite, l.marque_souhaitee\nfrom demandes_cotation d\ninner join lignes_cotation l on d.uuid = l.rfq_uuid\nwhere numero_rfq='{{ $('Code - Extraire RFQ').item.json.rfq_number }}'\nand d.statut <> 'repondu'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[48,1008],"id":"f756e15a-98a2-484e-8c94-4e153070e3c5","name":"MySQL SELECT - Récupérer infos RFQ","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// Récupérer le sujet de l'email\nconst subject = $(\"Edit Fields1\").first().json.subject || '';\n\n// Patterns possibles dans le sujet\n// Ex: RFQ-2024-0043, RFQ2024-0043, #RFQ-001, RFQ_001\nconst patterns = [/RFQ-\\d{4}-\\d+-[A-Z0-9]{4}/i];\n\nlet rfq_number = null;\n\n\nconst match = subject.match(patterns[0]);\nif (match) {\n  // Nettoyer : enlever # et mettre en majuscule\n  rfq_number = match[0].replace('#', '').toUpperCase().trim();\n}\n\n\n// Vérifier si trouvé\nif (!rfq_number) {\n  return {\n    success: false,\n    error: 'Aucun numéro RFQ trouvé dans le sujet',\n    subject_recu: subject,\n    rfq_number: null\n  };\n}\n\n// Retourner les données\nreturn {\n  success: true,\n  rfq_number: rfq_number,\n  subject_recu: subject,\n  email_from: $input.first().json.from?.emailAddress?.address || '',\n  email_body: $input.first().json.bodyContent || '',\n  date_reception: new Date().toISOString()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,736],"id":"ec1889de-6c95-46aa-873f-29e05b9a52af","name":"Code - Extraire RFQ"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number ?? null }}\",\n  \"uuid\": \"{{ $('Code - Extraire RFQ').first().json.uuid ?? null }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from ?? null }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception ?? null }}\",\n  \"conditions_paiement\": \"{{ null }}\",\n   \"devise\": \"{{ null }}\",\n  \"delai_livraison_global\": \"{{ null }}\",\n  \"validite_offre\": \"{{ null }}\",\n  \"remarques_generales\": \"{{ null }}\",\n  \"lignes\": [\n    {\n      \"ligne_cotation_id\": \"{{ $json.id }}\",\n      \"code_article\": \"{{ null }}\",\n      \"designation_article\": \"{{ null }}\",\n      \"marque_proposee\": \"{{ null }}\",\n      \"prix_unitaire\": \"{{ null }}\",\n      \"devise\": \"{{ null }}\",\n      \"delai_livraison\": \"{{ null }}\",\n      \"disponibilite\": \"{{ null }}\",\n      \"remarque\": \"{{ null }}\",\n      \"quantite_disponible\": \"{{ null }}\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[752,1232],"id":"958ec3f3-27d6-48c6-872c-8ec4158f0483","name":"Structured Output Parser"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code - Extraire RFQ').first().json.rfq_number }}","contextWindowLength":0},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[624,1232],"id":"432990a9-7119-446e-9702-35bdcd9700ab","name":"Simple Memory"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_detail (\n  reponse_entete_id,\n  rfq_uuid,\n  ligne_cotation_id,\n  code_article,\n  prix_unitaire_ht,\n  date_livraison,\n  quantite_disponible,\n  marque_conforme,\n  marque_proposee,\n  commentaire_article\n) VALUES (\n  {{ $json.reponse_entete_id }},\n  '{{ $json.rfq_uuid }}',\n  {{ $json.ligne_cotation_id }},\n  '{{ $json.code_article }}',\n  {{ $json.prix_unitaire_ht !== null ? $json.prix_unitaire_ht : 'NULL' }},\n  {{ $json.date_livraison ? `'${$json.date_livraison}'` : 'NULL' }},\n  {{ $json.quantite_disponible !== null ? $json.quantite_disponible : 'NULL' }},\n  {{ $json.marque_conforme }},\n  {{ $json.marque_proposee ? `'${$json.marque_proposee}'` : 'NULL' }},\n  {{ $json.commentaire_article ? `'${$json.commentaire_article}'` : 'NULL' }}\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,1040],"id":"70fc8e35-bf90-4af2-bd90-b8bc89da7085","name":"Execute a SQL query","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ── Calculer date livraison ──\nfunction calculerDateLivraison(delai) {\n  if (!delai) return null;\n\n  const valeur = delai.toString().trim();\n\n  // Cas 1 : C'est un nombre seul → ajouter au jour d'aujourd'hui\n  // Ex: \"2\", \"7\", \"15\"\n  const nombreSeul = valeur.match(/^(\\d+)$/);\n  if (nombreSeul) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(nombreSeul[1]));\n    return date.toISOString().split('T')[0]; // YYYY-MM-DD\n  }\n\n  // Cas 2 : Contient \"jour(s)\" ou \"day(s)\" → extraire le nombre\n  // Ex: \"2 jours\", \"7 jours\", \"dans 3 jours\", \"5 days\"\n  const avecJours = valeur.match(/(\\d+)\\s*(jour|day|jours|days)/i);\n  if (avecJours) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecJours[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  // Cas 3 : Contient \"semaine(s)\" → multiplier par 7\n  // Ex: \"2 semaines\", \"1 semaine\"\n  const avecSemaines = valeur.match(/(\\d+)\\s*(semaine|week)/i);\n  if (avecSemaines) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecSemaines[1]) * 7);\n    return date.toISOString().split('T')[0];\n  }\n\n  // Cas 4 : C'est une date directe\n  // Ex: \"2026-03-15\", \"15/03/2026\", \"15-03-2026\"\n  const dateFormats = [\n    /(\\d{4})-(\\d{2})-(\\d{2})/,     // YYYY-MM-DD\n    /(\\d{2})\\/(\\d{2})\\/(\\d{4})/,   // DD/MM/YYYY\n    /(\\d{2})-(\\d{2})-(\\d{4})/      // DD-MM-YYYY\n  ];\n\n  for (const format of dateFormats) {\n    const match = valeur.match(format);\n    if (match) {\n      let dateStr;\n      if (format === dateFormats[0]) {\n        dateStr = `${match[1]}-${match[2]}-${match[3]}`;\n      } else {\n        dateStr = `${match[3]}-${match[2]}-${match[1]}`; // Convertir en YYYY-MM-DD\n      }\n      const date = new Date(dateStr);\n      if (!isNaN(date.getTime())) {\n        return date.toISOString().split('T')[0];\n      }\n    }\n  }\n\n  // Cas 5 : Texte non reconnu → retourner null\n  console.log(`Délai non reconnu : ${valeur}`);\n  return null;\n}\n\n\n\n\n\n\n\n\n\n\n\n\n// ── Récupérer insertId de l'entête ──\nconst enteteRaw = $('MySQL INSERT - Entête').first().json;\nconst entete_id = enteteRaw?.data?.insertId ?? enteteRaw?.insertId ?? null;\n\nif (!entete_id) {\n  throw new Error('Impossible de récupérer insertId de l\\'entête');\n}\n\n// ── Données AI Agent ──\nconst raw  = $('AI Agent').first().json;\nconst data = raw.output ?? raw;\n\n// ── Lignes MySQL ──\nconst lignes_mysql = $('MySQL SELECT - Récupérer infos RFQ').all();\n\n// ── Normaliser la disponibilité (LLM peut retourner du texte libre) ──\nfunction normaliserDisponibilite(valeur) {\n  if (!valeur) return 'NON_DISPONIBLE';\n  const v = valeur.toLowerCase().trim();\n\n  if (v.includes('total') || v === 'totale' || v === 'total') {\n    return 'TOTALE';\n  }\n  if (v.includes('partiel') || v === 'partielle' || v === 'partiel') {\n    return 'PARTIELLE';\n  }\n  if (v.includes('non') || v.includes('indisponible') || v.includes('pas disponible')) {\n    return 'NON_DISPONIBLE';\n  }\n  // Valeur enum directe correcte\n  if (['TOTALE', 'PARTIELLE', 'NON_DISPONIBLE'].includes(valeur.toUpperCase())) {\n    return valeur.toUpperCase();\n  }\n  return 'NON_DISPONIBLE';\n}\n\n// ── Construire les lignes détail ──\nconst lignes = data.lignes.map(ligne => {\n\n  const ligne_mysql = lignes_mysql.find(\n    l => l.json.code_article === ligne.code_article\n  );\n\n  if (!ligne_mysql) {\n    console.log(`Article ignoré (non trouvé en DB) : ${ligne.code_article}`);\n    return null;\n  }\n\n  // Normaliser disponibilité\n  const disponibilite = normaliserDisponibilite(ligne.disponibilite);\n\n  // Quantité disponible selon disponibilité\n  let quantite_disponible;\n\n  quantite_disponible = ligne.quantite_disponible ?? 0; // NON_DISPONIBLE\n  \n\n  // Marque conforme — null si pas de marque proposée\n  // ── Marque conforme ──\nlet marque_conforme = null;\n\nconst marque_souhaitee = ligne_mysql.json.marque_souhaitee?.trim() || null;\n  console.log(marque_souhaitee)\nconst marque_proposee  = ligne.marque_proposee?.trim() || null;\n  console.log(\"sdf\" + marque_proposee)\n\n  // Commentaire\n  const commentaire_parts = [];\n  if (disponibilite !== 'TOTALE') {\n    commentaire_parts.push(`Disponibilité: ${disponibilite}`);\n  }\n  if (ligne.remarque) {\n    commentaire_parts.push(ligne.remarque);\n  }\n\n  return {\n    reponse_entete_id:   entete_id,\n    rfq_uuid:            data.uuid,\n    ligne_cotation_id:   ligne_mysql.json.id,\n    code_article:        ligne.code_article,\n    prix_unitaire_ht:    ligne.prix_unitaire ?? null,\n    date_livraison:     calculerDateLivraison(ligne.delai_livraison),\n    quantite_disponible: quantite_disponible,\n    marque_conforme:     marque_conforme,\n    marque_proposee:     marque_proposee || null,\n    commentaire_article: commentaire_parts.join(' | ') || null\n  };\n\n}).filter(Boolean);\n\nif (lignes.length === 0) {\n  throw new Error('Aucune ligne valide à insérer');\n}\n\nreturn lignes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,992],"id":"58de0a77-45ee-461c-b546-e4773de821e6","name":"Code - Préparer lignes détail"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2096,992],"id":"6916c97a-c5ff-4d18-822d-f75ede7dc1c4","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2544,848],"id":"fd8461ca-6748-4f01-a981-f9eb941352c0","name":"Edit Fields3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"articles","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[272,1008],"id":"d133b2fd-e797-4747-83a5-aaf3671d2755","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-001","leftValue":"={{ Object.values($('Edit Fields1').item.binary).some(a => a.mimeType === 'application/pdf' || a.fileName?.toLowerCase().endsWith('.pdf')) }}","rightValue":"pdf","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,736],"id":"31b56bae-8a2b-4d53-830b-d744b118d35e","name":"IF - Contient PDF ?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-002","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,736],"id":"8e2a9dd2-7dfd-4d4c-a8c3-bbf8b32da4c9","name":"IF - RFQ Trouvé ?"},{"parameters":{"jsCode":"const binaryData = $('Edit Fields1').first().binary;\nconst dataa = $('Code - Extraire RFQ').first().json;\n\nlet pdfKey = null;\nfor (const key of Object.keys(binaryData)) {\n  if (\n    binaryData[key].mimeType === 'application/pdf' ||\n    binaryData[key].fileExtension === 'pdf'\n  ) {\n    pdfKey = key;\n    break;\n  }\n}\n\nif (!pdfKey) {\n  throw new Error('Aucun PDF trouvé dans les pièces jointes');\n}\n\nconst pdf = binaryData[pdfKey];\n\nreturn {\n  json: {\n    filename: pdf.fileName || pdf.filename,\n    date_reception: dataa.date_reception\n  },\n  binary: {\n    data: {\n      data:          pdf.data,\n      mimeType:      'application/pdf',\n      fileName:      pdf.fileName || pdf.filename,\n      fileExtension: 'pdf'\n    }\n  },\n  pairedItem: { item: 0 }   // ← ajouté : lie explicitement ce résultat à l'item 0 en entrée\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,576],"id":"4ea0d62d-513e-4fab-97ac-4a9494b2497e","name":"Code - Extraire pièce jointe PDF"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_detail (\n  reponse_entete_id,\n  rfq_uuid,\n  ligne_cotation_id,\n  code_article,\n  prix_unitaire_ht,\n  date_livraison,\n  quantite_disponible,\n  marque_conforme,\n  marque_proposee,\n  designation_fournisseur,\n  commentaire_article\n) VALUES (\n  {{ $json.reponse_entete_id }},\n  '{{ $json.rfq_uuid }}',\n  {{ $json.ligne_cotation_id }},\n  '{{ $json.code_article }}',\n  {{ $json.prix_unitaire_ht !== null ? $json.prix_unitaire_ht : 'NULL' }},\n  {{ $json.date_livraison ? `'${$json.date_livraison}'` : 'NULL' }},\n  {{ $json.quantite_disponible !== null ? $json.quantite_disponible : 'NULL' }},\n  {{ $json.marque_conforme !== null ? $json.marque_conforme : 'NULL' }},\n  {{ $json.marque_proposee ? `'${$json.marque_proposee}'` : 'NULL' }},\n  {{ $json.designation_fournisseur ? `'${$json.designation_fournisseur}'` : 'NULL' }},\n  {{ $json.commentaire_article ? `'${$json.commentaire_article}'` : 'NULL' }}\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3744,720],"id":"f3783f39-b789-41bf-a977-15c140c2ac11","name":"MySQL INSERT - Détail","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE demandes_cotation\nSET statut = 'repondu'\nWHERE uuid = '{{ $('Code - Préparer lignes détail1').item.json.rfq_uuid }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3744,528],"id":"79845a80-3d0e-4066-a280-133462f140e8","name":"MySQL UPDATE - Statut Repondu","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"assignments":{"assignments":[{"id":"field-001","name":"from","value":"={{ $json.from }}","type":"string"},{"id":"field-002","name":"to","value":"={{ $json.to }}","type":"string"},{"id":"field-003","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"field-004","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"field-005","name":"textPlain","value":"={{ $json.textPlain }}","type":"string"},{"id":"5eff5400-023d-47b0-8f8b-3886b3dc10d6","name":"attachments","value":"={{ $binary.attachment_0 }}","type":"string"}]},"includeOtherFields":"={{ true }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,736],"id":"7e9f557d-bdae-4e48-a38f-5ceec7f37587","name":"Edit Fields1"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  l.id,\n  d.numero_rfq,\n  d.uuid,\n  l.numero_da,\n  l.code_article,\n  l.designation_article,\n  l.quantite_demandee,\n  l.unite,\n  l.marque_souhaitee\nFROM demandes_cotation d\nINNER JOIN lignes_cotation l ON d.uuid = l.rfq_uuid\nWHERE d.numero_rfq = '{{ $json.rfq_number }}'\n  and d.statut <> 'repondu'\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-160,576],"id":"9ad1655f-23ee-42c6-b6d8-4581700d9051","name":"MySQL SELECT - Récupérer infos RFQ1","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"promptType":"define","text":"=Tu es un assistant d'analyse de devis fournisseurs industriels.\n\n═══════════════════════════════════════════\nCONTEXTE\n═══════════════════════════════════════════\nRFQ N° : {{ $('Code - Extraire RFQ').first().json.rfq_number }}\nFournisseur : {{ $('Code - Extraire RFQ').first().json.email_from }}\nDate réception : {{ $('Code - Extraire RFQ').first().json.date_reception }}\n\n═══════════════════════════════════════════\nARTICLES DEMANDÉS (source système)\n═══════════════════════════════════════════\n{{ $('MySQL SELECT - Récupérer infos RFQ1').all().map((item, i) =>\n  `${i+1}. code_article: ${item.json.code_article}\n   designation: ${item.json.designation_article}\n   quantite_demandee: ${item.json.quantite_demandee} ${item.json.unite}\n   marque_souhaitee: ${item.json.marque_souhaitee ?? 'Non spécifiée'}`\n).join('\\n\\n') }}\n\n═══════════════════════════════════════════\nCONTENU DU DEVIS PDF REÇU\n═══════════════════════════════════════════\n{{ $json.pages[0].markdown }}\n═══════════════════════════════════════════\n\n═══════════════════════════════════════════\nALGORITHME DE MATCHING\n═══════════════════════════════════════════\n\nPour chaque article de la liste système, dans cet ordre :\n\nÉTAPE 1 — Correspondance exacte\n→ Même code_article OU mêmes dimensions ET même type de pièce\n→ → disponibilite selon quantité (voir règles ci-dessous)\n\nÉTAPE 2 — Correspondance similaire\n→ Même famille de pièce (ex: rouleau convoyeur), diamètre identique, \n  mais longueur ou autres dimensions différentes\n→ → disponibilite = \"SIMILAIRE\"\n→ → quantite_disponible = quantité indiquée dans le PDF\n→ → designation_article = désignation EXACTE du PDF (pas celle du système)\n→ → noter la différence dans \"remarque\"\n\nÉTAPE 3 — Aucune correspondance\n→ Aucun article du PDF ne ressemble à cet article\n→ → disponibilite = \"NON_DISPONIBLE\", quantite_disponible = 0, prix_unitaire = null\n\n═══════════════════════════════════════════\nRÈGLES STRICTES\n═══════════════════════════════════════════\n\nDISPONIBILITÉ :\n- TOTALE         → article identique, quantite_proposee >= quantite_demandee\n                   → quantite_disponible = quantite_demandee\n- PARTIELLE      → article identique, quantite_proposee < quantite_demandee\n                   → quantite_disponible = quantite_proposee dans le PDF\n- SIMILAIRE      → même famille mais spécifications différentes\n                   → quantite_disponible = quantite_proposee dans le PDF\n                   → si quantité non précisée dans le PDF → quantite_disponible = quantite_demandee\n- NON_DISPONIBLE → absent du PDF → quantite_disponible = 0\n\nMARQUE :\n- La marque peut apparaître de deux façons dans le devis :\n  1. Dans une colonne dédiée \"Marque\" du tableau\n  2. Intégrée directement dans le texte de la désignation, sous la forme \n     \"MARQUE : XXX\" ou \"MARQUE: XXX\" (avec ou sans espace avant les deux-points).\n- Dans les deux cas, extraire la marque et l'assigner à marque_proposee\n- Aucune marque mentionnée dans le PDF → marque_proposee = null\n\nUNITÉ :\n- Extraire l'unité de mesure telle qu'elle apparaît dans le devis PDF (colonne \"Unité\", \n  \"U.M.\", \"Ud\", ou équivalente ; parfois absente et sous-entendue par le contexte).\n- Normaliser l'unité extraite selon la correspondance suivante avant de l'assigner à \n  unite_proposee :\n\n  DA  → jour, jours, day, days, j\n  UN  → un, unité, unités, unite, pce, piece, pièce\n  HR  → heure, heures, hour, hours, h\n  L   → litre, litres, liter, liters, l\n  M   → mètre, mètres, meter, meters, ml (si contexte = longueur)\n  ML  → millilitre, millilitres, milliliter (si contexte = volume)\n  T   → tonne, tonnes, ton, tons\n\n- Cas ambigu \"ML\" : si le contexte de l'article est un liquide (huile, peinture, \n  produit chimique) → ML = millilitre.\n\n- Si aucune unité n'est mentionnée dans le PDF pour cet article → unite_proposee = null.\n\n⚠️ Pour les cas SIMILAIRE :\n- Si le fournisseur propose une marque différente → marque_proposee = marque du fournisseur\n- La désignation dans le JSON doit être celle du PDF, pas celle du système\n\nDEVISE :\n- DHS = MAD, tout exprimer en MAD\n- Autre devise → convertir et noter dans remarque\n\nCODES ARTICLES :\n- Utiliser UNIQUEMENT les codes de la liste système\n- Ne jamais inventer un code_article\n\n═══════════════════════════════════════════\nSORTIE ATTENDUE\n═══════════════════════════════════════════\nRetourne UNIQUEMENT ce JSON valide, sans texte avant ni après, sans backticks :\n\n{\n  \"rfq_number\": \"{{ $('Code - Extraire RFQ').first().json.rfq_number }}\",\n  \"uuid\": \"{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid }}\",\n  \"fournisseur\": \"{{ $('Code - Extraire RFQ').first().json.email_from }}\",\n  \"date_reception\": \"{{ $('Code - Extraire RFQ').first().json.date_reception }}\",\n  \"conditions_paiement\": \"\",\n  \"validite_offre\": \"\",\n  \"remarques_generales\": \"\",\n  \"lignes\": [\n    {\n      \"code_article\": \"\",\n      \"designation_article\": \"\",\n      \"marque_proposee\": null,\n      \"prix_unitaire\": 0,\n      \"devise\": \"MAD\",\n      \"unite_proposee\": \"\",\n      \"delai_livraison\": \"\",\n      \"quantite_disponible\": null,\n      \"disponibilite\": \"TOTALE\",\n      \"remarque\": \"\"\n    }\n  ]\n}\n\nRAPPEL FINAL :\n- Une ligne par article de la liste système (même si NON_DISPONIBLE)\n- Cas SIMILAIRE → designation_article = désignation du PDF, remarque = écart exact\n- Cas PARTIELLE ou SIMILAIRE → quantite_disponible = quantité réelle du PDF\n- unite_proposee doit toujours être un code normalisé (DA, UN, HR, L, M, ML, T)\n- Aucun code_article inventé\n- JSON pur uniquement, sans markdown ni explication","hasOutputParser":true,"options":{"systemMessage":"Tu es un assistant spécialisé en achats et approvisionnement.\nTon rôle est d'analyser les devis PDF reçus des fournisseurs\net d'extraire les informations de prix pour chaque article demandé.\nTu réponds UNIQUEMENT en JSON valide, sans texte supplémentaire,\nsans balises markdown, sans explication."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1200,576],"id":"922b8100-51cd-4a48-af3e-aa01f2aa4bb9","name":"AI Agent1"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1168,784],"id":"9a74efb9-8c3c-4a10-967a-8fa332dcf573","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"WpX5HqUBrcIxe7zp","name":"Groq account 5"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"rfq_number\":           { \"type\": \"string\" },\n    \"uuid\":                 { \"type\": \"string\" },\n    \"fournisseur\":          { \"type\": \"string\" },\n    \"date_reception\":       { \"type\": \"string\" },\n    \"conditions_paiement\":  { \"type\": \"string\" },\n    \"validite_offre\":       { \"type\": \"string\" },\n    \"remarques_generales\":  { \"type\": \"string\" },\n    \"lignes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"code_article\":        { \"type\": \"string\" },\n          \"designation_article\": { \"type\": \"string\" },\n          \"marque_proposee\":     { \"type\": [\"string\", \"null\"] },\n          \"prix_unitaire\":       { \"type\": [\"number\", \"null\"] },\n          \"devise\":              { \"type\": \"string\" },\n          \"unite_proposee\":      { \"type\": \"string\" },\n          \"delai_livraison\":     { \"type\": \"string\" },\n          \"quantite_disponible\": { \"type\": [\"number\", \"null\"] },\n          \"disponibilite\": {\n            \"type\": \"string\",\n            \"enum\": [\"TOTALE\", \"PARTIELLE\", \"SIMILAIRE\", \"NON_DISPONIBLE\"]\n          },\n          \"remarque\": { \"type\": \"string\" }\n        },\n        \"required\": [\n          \"code_article\",\n          \"designation_article\",\n          \"disponibilite\"\n        ]\n      }\n    }\n  },\n  \"required\": [\"rfq_number\", \"uuid\", \"lignes\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1344,800],"id":"c1109ecd-9527-40be-9ddc-21ebf8d63e46","name":"Structured Output Parser1"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_entete (\n  rfq_uuid,\n  devise,\n  methodes_paiement,\n  date_reponse,\n  fichier_devis_url,\n  commentaire\n) VALUES (\n  '{{ $json.uuid }}',\n  'MAD',\n  '{{ $json.conditions_paiement_safe }}',\n  NOW(),\n  '{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.numero_rfq }}-{{ DateTime.fromISO($('Code - Extraire pièce jointe PDF').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}',\n  '{{ $json.remarques_generales_safe }}'\n)","options":{"replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3072,656],"id":"a6a2d179-b7bb-4f34-9848-3addb19b6c11","name":"MySQL INSERT - Entête1","executeOnce":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// ── Récupérer insertId entête ──\nconst enteteRaw = $('MySQL INSERT - Entête1').first().json;\nconst entete_id = enteteRaw?.data?.insertId ?? enteteRaw?.insertId ?? null;\n\nif (!entete_id) {\n  throw new Error('Impossible de récupérer insertId de l\\'entête');\n}\n\n// ── UUID réel depuis MySQL — jamais du LLM ──\nconst uuid_reel = $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid;\n\n// ── Données AI Agent ──\nconst raw  = $('Code').first().json;\nconst data = raw.output ?? raw;\n\n// ── Lignes MySQL ──\nconst lignes_mysql = $('MySQL SELECT - Récupérer infos RFQ1').all();\n\nconst marques_data = $('If').all();\n\n// ── Escape SQL ──\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return null;\n  return String(val)\n    .replace(/'/g, \"''\")\n    .replace(/\\n/g, ' ')\n    .replace(/\\r/g, '');\n}\n\n// ── Normaliser disponibilité ──\nfunction normaliserDisponibilite(valeur) {\n  if (!valeur) return 'NON_DISPONIBLE';\n  const v = valeur.toLowerCase().trim();\n  if (v.includes('total') || v === 'totale') return 'TOTALE';\n  if (v.includes('partiel') || v === 'partielle') return 'PARTIELLE';\n  if (v.includes('similaire') || v.includes('similar')) return 'SIMILAIRE';\n  if (v.includes('non') || v.includes('indisponible')) return 'NON_DISPONIBLE';\n  if (['TOTALE','PARTIELLE','SIMILAIRE','NON_DISPONIBLE'].includes(valeur.toUpperCase())) return valeur.toUpperCase();\n  return 'NON_DISPONIBLE';\n}\n\n// ── Calculer date livraison ──\nfunction calculerDateLivraison(delai) {\n  if (!delai) return null;\n  const valeur = delai.toString().trim();\n\n  const nombreSeul = valeur.match(/^(\\d+)$/);\n  if (nombreSeul) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(nombreSeul[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecJours = valeur.match(/(\\d+)\\s*(jour|day|jours|days)/i);\n  if (avecJours) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecJours[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecSemaines = valeur.match(/(\\d+)\\s*(semaine|week)/i);\n  if (avecSemaines) {\n    const date = new Date();\n    date.setDate(date.getDate() + parseInt(avecSemaines[1]) * 7);\n    return date.toISOString().split('T')[0];\n  }\n\n  const avecMois = valeur.match(/(\\d+)\\s*(mois|month)/i);\n  if (avecMois) {\n    const date = new Date();\n    date.setMonth(date.getMonth() + parseInt(avecMois[1]));\n    return date.toISOString().split('T')[0];\n  }\n\n  if (valeur.toLowerCase().includes('stock')) {\n    return new Date().toISOString().split('T')[0];\n  }\n\n  const dateISO = valeur.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (dateISO) {\n    const date = new Date(`${dateISO[1]}-${dateISO[2]}-${dateISO[3]}`);\n    if (!isNaN(date.getTime())) return date.toISOString().split('T')[0];\n  }\n\n  const dateFR = valeur.match(/(\\d{2})[\\/-](\\d{2})[\\/-](\\d{4})/);\n  if (dateFR) {\n    const date = new Date(`${dateFR[3]}-${dateFR[2]}-${dateFR[1]}`);\n    if (!isNaN(date.getTime())) return date.toISOString().split('T')[0];\n  }\n\n  return null;\n}\n\n// ── Suivi des lignes MySQL déjà utilisées, pour ne pas réutiliser le même\n//    ligne_cotation_id quand un même code_article a plusieurs lignes en base ──\nconst usedMysqlIds = new Set();\n\n// ── Construire les lignes détail ──\nconst lignes = data.lignes.map(ligne => {\n\n  const ligne_mysql = lignes_mysql.find(\n    l => l.json.code_article === ligne.code_article\n      && !usedMysqlIds.has(l.json.id)\n  );\n\n  if (!ligne_mysql) {\n    console.log(`Article ignoré (non trouvé en DB ou plus de ligne disponible) : ${ligne.code_article}`);\n    return null;\n  }\n\n  // Marque cette ligne MySQL comme utilisée, pour que la prochaine offre\n  // du même code_article prenne une AUTRE ligne (ex: 3065 au lieu de 3064)\n  usedMysqlIds.add(ligne_mysql.json.id);\n\n  const disponibilite = normaliserDisponibilite(ligne.disponibilite);\n\n  let quantite_disponible;\n  quantite_disponible = ligne.quantite_disponible ?? 0;\n\n  let marque_conforme        = null;\n  const marque_souhaitee     = ligne_mysql.json.marque_souhaitee?.trim() || null;\n\n  // ── Matcher aussi sur le prix unitaire pour récupérer la bonne marque ──\n  const marque_item = marques_data.find(\n    m => m.json.code_article === ligne.code_article\n      && Number(m.json.prix_unitaire) === Number(ligne.prix_unitaire)\n  );\n  const marque_proposee = marque_item?.json?.marque_proposee?.toString().trim() || null;\n\n  const commentaire_parts = [];\n  if (disponibilite !== 'TOTALE') {\n    commentaire_parts.push(`Disponibilité: ${disponibilite}`);\n  }\n  if (disponibilite === 'SIMILAIRE' && ligne.designation_article) {\n    commentaire_parts.push(`Article proposé: ${ligne.designation_article}`);\n  }\n  if (ligne.remarque) {\n    commentaire_parts.push(ligne.remarque);\n  }\n\n  const commentaire_raw = commentaire_parts.join(' | ') || null;\n\n  return {\n    reponse_entete_id:    entete_id,\n    rfq_uuid:             uuid_reel,\n    ligne_cotation_id:    ligne_mysql.json.id,\n    code_article:         ligne.code_article,\n    designation_proposee: sqlEscape(ligne.designation_article ?? null),\n    prix_unitaire_ht:     ligne.prix_unitaire ?? null,\n    date_livraison:       calculerDateLivraison(ligne.delai_livraison),\n    quantite_disponible:  quantite_disponible,\n    marque_conforme:      marque_conforme,\n    marque_proposee:      sqlEscape(marque_proposee),\n    commentaire_article:  sqlEscape(commentaire_raw)\n  };\n\n}).filter(Boolean);\n\nif (lignes.length === 0) {\n  throw new Error('Aucune ligne valide à insérer');\n}\n\nreturn lignes;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3296,656],"id":"28f13cbb-32b5-4f8c-a7a0-2d9380f82727","name":"Code - Préparer lignes détail1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3520,656],"id":"3411c75f-657b-4aa8-854b-161a32bf277f","name":"Loop Over Items1"},{"parameters":{"operation":"executeQuery","query":"UPDATE demandes_cotation\nSET statut = 'repondu'\nWHERE uuid = '{{ $('Code - Préparer lignes détail').first().json.rfq_uuid }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2320,848],"id":"0cfce330-9abc-4581-a769-e13386124ffb","name":"Execute a SQL query1","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"const raw = $input.first().json.output;\n\n// If already an object/array, no parsing needed\nif (typeof raw === 'object' && raw !== null) {\n  return [{ json: raw }];\n}\n\n// Convert to string just in case\nconst str = String(raw);\n\n// Strip markdown fences\nconst stripped = str\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```\\s*$/i, '')\n  .trim();\n\nconst parsed = JSON.parse(stripped);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,672],"id":"e019f652-ce19-4cad-a95a-28138aa48123","name":"Code"},{"parameters":{"jsCode":"const data = $input.first().json;\n\n// Toujours prendre le UUID depuis MySQL — jamais du LLM\nconst uuid_reel = $('MySQL SELECT - Récupérer infos RFQ1').first().json.uuid;\n\n// Escape SQL\nfunction sqlEscape(val) {\n  if (val === null || val === undefined) return '';\n  return String(val)\n    .replace(/'/g, \"''\")\n    .replace(/\\n/g, ' ')\n    .replace(/\\r/g, '');\n}\n\n// Données communes à toutes les lignes\nconst entete = {\n  uuid:                     uuid_reel,\n  rfq_number:               data.rfq_number,\n  fournisseur:              data.fournisseur,\n  date_reception:           data.date_reception,\n  remarques_generales_safe: sqlEscape(data.remarques_generales),\n  conditions_paiement_safe: sqlEscape(data.conditions_paiement),\n  validite_offre:           data.validite_offre,\n};\n\n// Retourner un item par ligne article\nreturn data.lignes.map(ligne => ({\n  json: {\n    ...entete,\n    ...ligne\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,672],"id":"0105c6d1-7bbe-48c7-82b3-0e4cdcf83b3b","name":"cleaning remarque generale"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,672],"id":"e28d4e6e-ae58-4157-8d31-5a48b40e3d78","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"4jsaJdeLOLrHyncY","name":"MISTRAL"}}},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,672],"id":"a4c8b015-8d16-444e-9778-819dcd982011","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7d84f16-b554-4777-9149-088e3c105de0","leftValue":"={{ $json.quantite_disponible }}","rightValue":"={{ Number(0) }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,672],"id":"0c761bc8-b4cf-4648-9999-1b4b08380ca6","name":"If"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1600,736],"id":"4595c1c1-af46-4495-b2c3-55144f371795","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO emails (\n    message_id,\n    subject,\n    sender,\n    recipient,\n    body_text,\n    has_attachments,\n    received_at\n) VALUES (\n    '{{ $json.metadata[\"message-id\"] }}',\n    '{{ $json.subject }}',\n    '{{ $json.from }}',\n    '{{ $json.to }}',\n    'test',\n    {{ $json.attachments ? 1 : 0 }},\n    NOW()\n);","options":{"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1152,736],"id":"7b9c1734-a4ca-46b6-aa02-26c8bf282209","name":"MySQL INSERT - email","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO email_attachments (\n    email_id,\n    filename,\n    mime_type,\n    file_path,\n    created_at\n) VALUES (\n    {{ $('MySQL INSERT - email').first().json.data.insertId }},\n    '{{ $json.filename }}',\n    'application/pdf',\n    '{{ $json.filename }}',\n    NOW()\n)","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[640,480],"id":"56a49f84-d7dd-4b03-a2a3-df1a6aa67495","name":"MySQL INSERT - attachement2","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"operation":"write","fileName":"=D:\\xampp\\htdocs\\formulaire_fournisseur\\uploads\\devis\\emails/{{ $('MySQL SELECT - Récupérer infos RFQ1').first().json.numero_rfq }}-{{ DateTime.fromISO($('Code - Extraire pièce jointe PDF').first().json.date_reception).toFormat('yyyy-MM-dd_HH-mm-ss') }}","options":{"append":true}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[288,576],"id":"c0bbc755-af5f-4ace-bbda-911b301c0f41","name":"Read/Write Files from Disk"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46e2017f-0813-4e5d-a5cf-341178dd82a6","leftValue":"={{ $json.marque_proposee }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,672],"id":"9a4125bb-8528-479a-93d5-d8b0bb4e7914","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,672],"id":"84189ad6-1676-4da9-80ea-1b50ce4b2589","name":"Merge"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1184,-240],"id":"398281f3-0edc-48e3-ada9-62cf0b0a93be","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"99wq1jpbjfVZtDjK","name":"OpenRouter account 2"}}},{"parameters":{"workflowId":{"__rl":true,"value":"8OkQnk0psBmUpZbg","mode":"list","cachedResultName":"EXTRACTION DES MARQUE DEPUIS LA DESIGNATION FOURNISSEUR"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2320,480],"id":"7c7180d3-c92e-4213-a0c2-fab4c2e15758","name":"Recuperer la marque"},{"parameters":{"workflowId":{"__rl":true,"value":"hBfovBwVEJK7SAnt","mode":"list","cachedResultName":"REQUEST PRICE NEGOTIATION"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[3072,432],"id":"10c4128b-b5a7-4408-a8eb-37ee5ef7b813","name":"REQUEST FOR PRICE NEGOTIATION"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO reponses_fournisseurs_entete (\n  rfq_uuid,\n  devise,\n  methodes_paiement,\n  date_reponse\n) VALUES (\n  '{{ $json.uuid }}',\n  '{{ $json.devise }}',\n  '{{ $json.conditions_paiement }}',\n  NOW()\n\n)","options":{"replaceEmptyStrings":true,"detailedOutput":true}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1408,992],"id":"5c870901-a52a-4eb6-a973-bd810f89138f","name":"MySQL INSERT - Entête","executeOnce":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n  const lignes = data.lignes || [];\n\n  for (const ligne of lignes) {\n    result.push({\n      json: {\n        rfq_number: data.rfq_number,\n        uuid: data.uuid,\n        fournisseur: data.fournisseur,\n        date_reception: data.date_reception,\n        conditions_paiement: data.conditions_paiement,\n        devise: data.devise,\n        validite_offre: data.validite_offre,\n        remarques_generales: data.remarques_generales,\n        ...ligne\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1008],"id":"1b4bae77-c5f3-43fc-8e91-2ef5bdf46a02","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77719659-bf48-4d4f-8bc9-d051a578be3e","leftValue":"={{ $json.quantite_disponible }}","rightValue":"={{ Number(0) }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,1008],"id":"93b2c35d-2577-4049-8ad6-305146fbca97","name":"If2"}],"connections":{"Edit Fields":{"main":[[{"node":"MySQL SELECT - Récupérer infos RFQ","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MySQL SELECT - Récupérer infos RFQ":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code - Extraire RFQ":{"main":[[{"node":"IF - RFQ Trouvé ?","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code - Préparer lignes détail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"IF - Contient PDF ?":{"main":[[{"node":"MySQL SELECT - Récupérer infos RFQ1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"IF - RFQ Trouvé ?":{"main":[[{"node":"IF - Contient PDF ?","type":"main","index":0}],[]]},"Code - Extraire pièce jointe PDF":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"MySQL INSERT - Détail":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"MySQL INSERT - email","type":"main","index":0}]]},"MySQL SELECT - Récupérer infos RFQ1":{"main":[[{"node":"Code - Extraire pièce jointe PDF","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"MySQL INSERT - Entête1":{"main":[[{"node":"Code - Préparer lignes détail1","type":"main","index":0}]]},"Code - Préparer lignes détail1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"MySQL UPDATE - Statut Repondu","type":"main","index":0}],[{"node":"MySQL INSERT - Détail","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Code":{"main":[[{"node":"cleaning remarque generale","type":"main","index":0}]]},"cleaning remarque generale":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"🔍 OCR Page":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"If":{"main":[[{"node":"MySQL INSERT - Entête1","type":"main","index":0},{"node":"REQUEST FOR PRICE NEGOTIATION","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"MySQL INSERT - email":{"main":[[{"node":"Code - Extraire RFQ","type":"main","index":0}]]},"MySQL INSERT - attachement2":{"main":[[]]},"Read/Write Files from Disk":{"main":[[{"node":"MySQL INSERT - attachement2","type":"main","index":0},{"node":"Code4","type":"main","index":0}]]},"If1":{"main":[[{"node":"Recuperer la marque","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"Recuperer la marque":{"main":[[{"node":"Merge","type":"main","index":0}]]},"MySQL INSERT - Entête":{"main":[[{"node":"Code - Préparer lignes détail","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"MySQL INSERT - Entête","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"textHtml":"<html xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" xmlns:m=\"http://schemas.microsoft.com/office/2004/12/omml\" xmlns=\"http://www.w3.org/TR/REC-html40\">\r\n<head>\r\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\r\n<meta name=\"Generator\" content=\"Microsoft Word 15 (filtered medium)\">\r\n<!--[if !mso]><style>v\\:* {behavior:url(#default#VML);}\r\no\\:* {behavior:url(#default#VML);}\r\nw\\:* {behavior:url(#default#VML);}\r\n.shape {behavior:url(#default#VML);}\r\n</style><![endif]-->\r\n<title>Rappel - Demande de Cotation RFQ-2026-0713020514-B3FF</title>\r\n<style><!--\r\n/* Font Definitions */\r\n@font-face\r\n\t{font-family:\"Cambria Math\";\r\n\tpanose-1:2 4 5 3 5 4 6 3 2 4;}\r\n@font-face\r\n\t{font-family:Calibri;\r\n\tpanose-1:2 15 5 2 2 2 4 3 2 4;}\r\n@font-face\r\n\t{font-family:Aptos;}\r\n@font-face\r\n\t{font-family:\"Segoe UI Emoji\";\r\n\tpanose-1:2 11 5 2 4 2 4 2 2 3;}\r\n@font-face\r\n\t{font-family:\"Comic Sans MS\";\r\n\tpanose-1:3 15 7 2 3 3 2 2 2 4;}\r\n/* Style Definitions */\r\np.MsoNormal, li.MsoNormal, div.MsoNormal\r\n\t{margin:0cm;\r\n\tfont-size:12.0pt;\r\n\tfont-family:\"Aptos\",sans-serif;}\r\nh1\r\n\t{mso-style-priority:9;\r\n\tmso-style-link:\"Titre 1 Car\";\r\n\tmso-margin-top-alt:auto;\r\n\tmargin-right:0cm;\r\n\tmso-margin-bottom-alt:auto;\r\n\tmargin-left:0cm;\r\n\tfont-size:24.0pt;\r\n\tfont-family:\"Arial\",sans-serif;\r\n\tfont-weight:bold;}\r\na:link, span.MsoHyperlink\r\n\t{mso-style-priority:99;\r\n\tfont-family:\"Arial\",sans-serif;\r\n\tcolor:blue;\r\n\ttext-decoration:underline;}\r\nspan.Titre1Car\r\n\t{mso-style-name:\"Titre 1 Car\";\r\n\tmso-style-priority:9;\r\n\tmso-style-link:\"Titre 1\";\r\n\tfont-family:\"Cambria\",serif;\r\n\tcolor:#365F91;}\r\nspan.EmailStyle28\r\n\t{mso-style-type:personal-reply;\r\n\tfont-family:\"Calibri\",sans-serif;\r\n\tcolor:windowtext;}\r\n.MsoChpDefault\r\n\t{mso-style-type:export-only;\r\n\tfont-size:10.0pt;\r\n\tmso-ligatures:none;}\r\n@page WordSection1\r\n\t{size:612.0pt 792.0pt;\r\n\tmargin:70.85pt 70.85pt 70.85pt 70.85pt;}\r\ndiv.WordSection1\r\n\t{page:WordSection1;}\r\n--></style><!--[if gte mso 9]><xml>\r\n<o:shapedefaults v:ext=\"edit\" spidmax=\"1026\" />\r\n</xml><![endif]--><!--[if gte mso 9]><xml>\r\n<o:shapelayout v:ext=\"edit\">\r\n<o:idmap v:ext=\"edit\" data=\"1\" />\r\n</o:shapelayout></xml><![endif]-->\r\n</head>\r\n<body bgcolor=\"#F4F4F4\" lang=\"FR\" link=\"blue\" vlink=\"purple\" style=\"word-wrap:break-word\">\r\n<div class=\"WordSection1\">\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\">Bonjour ,</span><span style=\"font-size:11.0pt;mso-fareast-language:EN-US\"><o:p></o:p></span></p>\r\n<p class=\"MsoNormal\"><o:p>&nbsp;</o:p></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\">Nous vous remercions pour votre consultation et trouver en pièce jointe notre offre de prix<o:p></o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"mso-fareast-language:EN-US\">cordialement</span><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-language:EN-US\"><o:p></o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<div>\r\n<p class=\"MsoNormal\"><span style=\"font-size:11.0pt;font-family:&quot;Comic Sans MS&quot;;color:#1F497D\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Comic Sans MS&quot;;color:#1F497D\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Comic Sans MS&quot;;color:#1F497D\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300\"><img width=\"57\" height=\"50\" style=\"width:.5937in;height:.5208in\" id=\"Image_x0020_3\" src=\"cid:image001.png@01DD19F3.9C819BF0\"></span><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300\"><o:p></o:p></span></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span style=\"font-size:10.0pt;font-family:&quot;Comic Sans MS&quot;;color:#C0504D\">ES SEGHIR FATIMA<o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span style=\"font-size:10.0pt;font-family:&quot;Comic Sans MS&quot;;color:#C0504D\">Sce Commercial<o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#943634\">COMPTOIR DU ROULEMENT</span></i></b><b><i><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#943634\"><o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#17365D\">12, ROUTE DES OULED ZIANE Casablanca Maroc<o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#17365D\">TEL&nbsp;&nbsp; : +212 522.31.76.56/ 31.28.95<o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#17365D\">FAX&nbsp;&nbsp; : +212 522.54.25.38/31.57.84<o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\" style=\"background:white\"><b><i><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#17365D\">Email :\r\n</span></i></b><span style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300\"><a href=\"mailto:Comptoir_roulement@cdr.co.ma\"><b><i><span lang=\"EN-US\">Comptoir_roulement@cdr.co.ma</span></i></b></a></span><b><i><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#17365D\"><o:p></o:p></span></i></b></p>\r\n<p class=\"MsoNormal\"><b><i><span lang=\"EN-US\" style=\"font-size:14.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#1F497D\">Site web :\r\n</span></i></b><b><i><span style=\"font-size:14.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#1F497D\"><a href=\"http://www.comptoirduroulement.org/\"><span lang=\"EN-US\">www.comptoirduroulement.org</span></a></span></i></b><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#1F497D\"><o:p></o:p></span></p>\r\n<p class=\"MsoNormal\"><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><span lang=\"EN-US\" style=\"font-family:&quot;Calibri&quot;,sans-serif;color:#003300;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></p>\r\n<p class=\"MsoNormal\"><b><i><span lang=\"EN-US\" style=\"font-size:10.0pt;font-family:&quot;Comic Sans MS&quot;;color:#C0504D;mso-ligatures:standardcontextual\"><o:p>&nbsp;</o:p></span></i></b></p>\r\n</div>\r\n<p class=\"MsoNormal\"><span lang=\"EN-US\" style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif;mso-fareast-language:EN-US\"><o:p>&nbsp;</o:p></span></p>\r\n<div>\r\n<div style=\"border:none;border-top:solid #E1E1E1 1.0pt;padding:3.0pt 0cm 0cm 0cm\">\r\n<p class=\"MsoNormal\"><b><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif\">De&nbsp;:</span></b><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif\"> achats@jbel-annour.ma &lt;achats@jbel-annour.ma&gt;\r\n<br>\r\n<b>Envoyé&nbsp;:</b> mercredi 22 juillet 2026 10:01<br>\r\n<b>À&nbsp;:</b> FATIMA ESSGHIR &lt;fatima@cdr.co.ma&gt;<br>\r\n<b>Cc&nbsp;:</b> acheteur.1@jbel-annour.ma; acheteur.4@jbel-annour.ma; acheteuse.4@jbel-annour.ma; acheteuse@jbel-annour.ma; acheteuse.7@jbel-annour.ma<br>\r\n<b>Objet&nbsp;:</b> </span><span style=\"font-size:11.0pt;font-family:&quot;Segoe UI Emoji&quot;,sans-serif\">⚠️</span><span style=\"font-size:11.0pt;font-family:&quot;Calibri&quot;,sans-serif\"> Second rappel: RFQ-2026-0713020514-B3FF - Votre reponse est attendue<o:p></o:p></span></p>\r\n</div>\r\n</div>\r\n<p class=\"MsoNormal\"><o:p>&nbsp;</o:p></p>\r\n<div>\r\n<p class=\"MsoNormal\" style=\"line-height:.75pt;mso-line-height-rule:exactly\"><span style=\"font-size:1.0pt;font-family:&quot;Segoe UI Emoji&quot;,sans-serif\">⚠️</span><span style=\"font-size:1.0pt;font-family:&quot;Arial&quot;,sans-serif\"> Rappel 2 - Demande de cotation RFQ-2026-0713020514-B3FF\r\n en attente de reponse <o:p></o:p></span></p>\r\n</div>\r\n<div align=\"center\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100.0%;background:#F4F4F4;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td style=\"padding:0cm 0cm 0cm 0cm\">\r\n<div align=\"center\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"600\" style=\"width:450.0pt;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td style=\"padding:15.0pt 0cm 15.0pt 0cm\"></td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:0cm 0cm 0cm 0cm\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100.0%;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td style=\"background:#F57C00;padding:15.0pt 30.0pt 15.0pt 30.0pt\">\r\n<h1 align=\"center\" style=\"margin:0cm;text-align:center;line-height:21.0pt;mso-line-height-rule:exactly\">\r\n<span style=\"font-size:16.5pt;font-family:&quot;Segoe UI Emoji&quot;,sans-serif;color:white\">⚠️</span><span style=\"font-size:16.5pt;color:white\"> SECOND RAPPEL N2<o:p></o:p></span></h1>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border:none;border-bottom:solid #EEEEEE 1.5pt;background:white;padding:18.75pt 30.0pt 11.25pt 30.0pt\">\r\n<p style=\"margin:0cm;line-height:15.0pt;mso-line-height-rule:exactly\"><span style=\"font-size:10.5pt;color:#666666\">Reference:\r\n</span><strong><span style=\"font-size:10.5pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">RFQ-2026-0713020514-B3FF</span></strong><span style=\"font-size:10.5pt;color:#666666\"> (demande envoyee il y a 8 jour(s))\r\n<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:18.75pt 30.0pt 0cm 30.0pt\">\r\n<p style=\"margin:0cm;line-height:18.0pt;mso-line-height-rule:exactly\"><span style=\"color:#333333\">Bonjour\r\n<strong><span style=\"font-family:&quot;Arial&quot;,sans-serif\">COMPTOIRE DU ROULEMENT </span>\r\n</strong>, <o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:15.0pt 30.0pt 15.0pt 30.0pt\">\r\n<p style=\"margin:0cm;line-height:16.5pt;mso-line-height-rule:exactly\"><span style=\"font-size:10.5pt;color:#555555\">Malgre notre precedent rappel, nous n'avons toujours pas recu votre proposition. Votre reponse est importante pour finaliser notre processus d'achat.\r\n Merci de nous repondre rapidement. <o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:0cm 30.0pt 15.0pt 30.0pt\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100.0%;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td width=\"4\" style=\"width:3.0pt;background:#F57C00;padding:0cm 0cm 0cm 0cm\"></td>\r\n<td style=\"background:#F8F9FA;padding:11.25pt 15.0pt 11.25pt 15.0pt\">\r\n<p style=\"margin:0cm;line-height:15.0pt;mso-line-height-rule:exactly\"><b><span style=\"font-size:10.5pt;color:#333333\">Pour rappel, votre demande concerne 2 article(s)\r\n<o:p></o:p></span></b></p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:0cm 30.0pt 22.5pt 30.0pt\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"520\" style=\"width:390.0pt;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td style=\"padding:0cm 0cm 0cm 0cm\">\r\n<table class=\"MsoNormalTable\" border=\"1\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100.0%;border-collapse:collapse;border:none\">\r\n<tbody>\r\n<tr>\r\n<td width=\"18%\" style=\"width:18.0%;border-top:solid #E0E0E0 1.0pt;border-left:solid #E0E0E0 1.0pt;border-bottom:none;border-right:none;background:#F57C00;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><b><span style=\"font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white\">Code<o:p></o:p></span></b></p>\r\n</td>\r\n<td width=\"34%\" style=\"width:34.0%;border:none;border-top:solid #E0E0E0 1.0pt;background:#F57C00;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><b><span style=\"font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white\">Designation<o:p></o:p></span></b></p>\r\n</td>\r\n<td width=\"16%\" style=\"width:16.0%;border:none;border-top:solid #E0E0E0 1.0pt;background:#F57C00;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><b><span style=\"font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white\">Qte<o:p></o:p></span></b></p>\r\n</td>\r\n<td width=\"16%\" style=\"width:16.0%;border:none;border-top:solid #E0E0E0 1.0pt;background:#F57C00;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><b><span style=\"font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white\">Unite<o:p></o:p></span></b></p>\r\n</td>\r\n<td width=\"16%\" style=\"width:16.0%;border-top:solid #E0E0E0 1.0pt;border-left:none;border-bottom:none;border-right:solid #E0E0E0 1.0pt;background:#F57C00;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><b><span style=\"font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:white\">Marque<o:p></o:p></span></b></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-top:none;border-left:solid #E0E0E0 1.0pt;border-bottom:solid #E0E0E0 1.0pt;border-right:none;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">A01038<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">ROULEMENT 6305.2RS<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">2.00<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">UN<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border-top:none;border-left:none;border-bottom:solid #E0E0E0 1.0pt;border-right:solid #E0E0E0 1.0pt;background:white;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#666666\">null<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"border-top:none;border-left:solid #E0E0E0 1.0pt;border-bottom:solid #E0E0E0 1.0pt;border-right:none;background:#F8F9FA;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">A01038<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:#F8F9FA;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">ROULEMENT 6305.2RS<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:#F8F9FA;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">8.00<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border:none;border-bottom:solid #E0E0E0 1.0pt;background:#F8F9FA;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#333333\">UN<o:p></o:p></span></p>\r\n</td>\r\n<td style=\"border-top:none;border-left:none;border-bottom:solid #E0E0E0 1.0pt;border-right:solid #E0E0E0 1.0pt;background:#F8F9FA;padding:7.5pt 7.5pt 7.5pt 7.5pt\">\r\n<p class=\"MsoNormal\" align=\"center\" style=\"text-align:center\"><span style=\"font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#666666\">null<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:0cm 30.0pt 0cm 30.0pt\">\r\n<table class=\"MsoNormalTable\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"100%\" style=\"width:100.0%;border-collapse:collapse\">\r\n<tbody>\r\n<tr>\r\n<td style=\"border:none;border-top:solid #E0E0E0 1.5pt;padding:0cm 0cm 0cm 0cm\">\r\n<p class=\"MsoNormal\" style=\"line-height:.75pt;mso-line-height-rule:exactly\"><span style=\"font-size:1.0pt;font-family:&quot;Arial&quot;,sans-serif\">&nbsp;<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"background:white;padding:15.0pt 30.0pt 22.5pt 30.0pt\">\r\n<p style=\"mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:3.75pt;margin-left:0cm;line-height:13.5pt;mso-line-height-rule:exactly\">\r\n<b><span style=\"font-size:9.0pt;color:#333333\">Service Achats<o:p></o:p></span></b></p>\r\n<p style=\"mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:3.75pt;margin-left:0cm;line-height:13.5pt;mso-line-height-rule:exactly\">\r\n<span style=\"font-size:9.0pt;color:#666666\"><a href=\"mailto:acheteur.1@jbel-annour.ma\">acheteur.1@jbel-annour.ma</a><o:p></o:p></span></p>\r\n<p style=\"mso-margin-top-alt:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:0cm;line-height:13.5pt;mso-line-height-rule:exactly\">\r\n<span style=\"font-size:9.0pt;color:#666666\">+212 668743516<o:p></o:p></span></p>\r\n<p style=\"margin:0cm;line-height:12.0pt;mso-line-height-rule:exactly\"><span style=\"font-size:8.5pt;color:#999999\">Ce rappel est automatique - Ref: b3ff8170-7d52-4bb0-910d-299063f18960\r\n<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"padding:15.0pt 15.0pt 15.0pt 15.0pt\">\r\n<p align=\"center\" style=\"margin:0cm;text-align:center;line-height:12.0pt;mso-line-height-rule:exactly\">\r\n<span style=\"font-size:8.5pt;color:#888888\">Copyright 2026 Jbel Annour. Tous droits reserves.\r\n<o:p></o:p></span></p>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</div>\r\n</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n</div>\r\n<p class=\"MsoNormal\"><br>\r\n<br>\r\n--- <br>\r\n<em><span style=\"font-family:&quot;Aptos&quot;,sans-serif\">This email was sent automatically with\r\n<a href=\"https://n8n.io/?utm_source=n8n-internal&amp;utm_medium=powered_by&amp;utm_campaign=n8n-nodes-base.emailSend_f0113fb6cefc9a64c85dd0561391fcf39358d7959604eababbf96ae27549eaf3\" target=\"_blank\">\r\n<span style=\"font-family:&quot;Arial&quot;,sans-serif\">n8n</span></a></span></em> <o:p></o:p></p>\r\n</div>\r\n</body>\r\n</html>\r\n","textPlain":"Bonjour ,\r\n\r\nNous vous remercions pour votre consultation et trouver en pièce jointe notre offre de prix\r\n\r\n\r\n\r\n\r\ncordialement\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n[cid:image001.png@01DD19F3.9C819BF0]\r\nES SEGHIR FATIMA\r\nSce Commercial\r\nCOMPTOIR DU ROULEMENT\r\n12, ROUTE DES OULED ZIANE Casablanca Maroc\r\nTEL   : +212 522.31.76.56/ 31.28.95\r\nFAX   : +212 522.54.25.38/31.57.84\r\nEmail : Comptoir_roulement@cdr.co.ma<mailto:Comptoir_roulement@cdr.co.ma>\r\nSite web : www.comptoirduroulement.org<http://www.comptoirduroulement.org/>\r\n\r\n\r\n\r\n\r\nDe : achats@jbel-annour.ma <achats@jbel-annour.ma>\r\nEnvoyé : mercredi 22 juillet 2026 10:01\r\nÀ : FATIMA ESSGHIR <fatima@cdr.co.ma>\r\nCc : acheteur.1@jbel-annour.ma; acheteur.4@jbel-annour.ma; acheteuse.4@jbel-annour.ma; acheteuse@jbel-annour.ma; acheteuse.7@jbel-annour.ma\r\nObjet : ⚠️ Second rappel: RFQ-2026-0713020514-B3FF - Votre reponse est attendue\r\n\r\n⚠️ Rappel 2 - Demande de cotation RFQ-2026-0713020514-B3FF en attente de reponse\r\n⚠️ SECOND RAPPEL N2\r\n\r\nReference: RFQ-2026-0713020514-B3FF (demande envoyee il y a 8 jour(s))\r\n\r\nBonjour COMPTOIRE DU ROULEMENT ,\r\n\r\nMalgre notre precedent rappel, nous n'avons toujours pas recu votre proposition. Votre reponse est importante pour finaliser notre processus d'achat. Merci de nous repondre rapidement.\r\n\r\nPour rappel, votre demande concerne 2 article(s)\r\nCode\r\nDesignation\r\nQte\r\nUnite\r\nMarque\r\nA01038\r\nROULEMENT 6305.2RS\r\n2.00\r\nUN\r\nnull\r\nA01038\r\nROULEMENT 6305.2RS\r\n8.00\r\nUN\r\nnull\r\n\r\n\r\nService Achats\r\n\r\nacheteur.1@jbel-annour.ma<mailto:acheteur.1@jbel-annour.ma>\r\n\r\n+212 668743516\r\n\r\nCe rappel est automatique - Ref: b3ff8170-7d52-4bb0-910d-299063f18960\r\n\r\nCopyright 2026 Jbel Annour. Tous droits reserves.\r\n\r\n\r\n---\r\nThis email was sent automatically with n8n<https://n8n.io/?utm_source=n8n-internal&utm_medium=powered_by&utm_campaign=n8n-nodes-base.emailSend_f0113fb6cefc9a64c85dd0561391fcf39358d7959604eababbf96ae27549eaf3>\r\n","metadata":{"return-path":"<fatima@cdr.co.ma>","received":"from vps.jbel-annour.ma\tby vps.jbel-annour.ma with LMTP\tid nEcWLk7cYGpHIyMAM9a3XA\t(envelope-from <fatima@cdr.co.ma>); Wed, 22 Jul 2026 16:05:50 +0100","envelope-to":"acheteuse.4@jbel-annour.ma, achats@jbel-annour.ma, acheteur.1@jbel-annour.ma, acheteur.4@jbel-annour.ma, acheteuse@jbel-annour.ma, acheteuse.7@jbel-annour.ma","delivery-date":"Wed, 22 Jul 2026 16:05:50 +0100","arc-seal":"i=1; a=rsa-sha256; s=arcselector10001; d=microsoft.com; cv=none; b=Vyjbw/0DhnCSI7e/UIn8WbjPoObVkZXLsWYo33khvtoBJyVl654bRXYCeJHRbIqy/vwQBSuK65pC/qetyBMpWePTNldSXroo7GA+p9o2OYLEGfyUKezYr2wk0paiqRQ7aV2AqEs6lxgVBTLH5/3UGKY7SqWlKjEtFzgPPtfnSTEY2oOE82qsFnHkOaCWaD7gJ900leCt9nnDOIyEZZoPTRTNMQEvf1rxNdUPeVW6jwE2J+Ue3Wofhkd1OiY4G9Jg6xJBQYW+AmahIQT4UoWZHAWCasJIF5fwGUSEiiRnBntgK+uBw6/XPFeTXBo8XZ2RoVKPexUWhsCIiNXu37g+rw==","arc-message-signature":"i=1; a=rsa-sha256; c=relaxed/relaxed; d=microsoft.com; s=arcselector10001; h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-AntiSpam-MessageData-ChunkCount:X-MS-Exchange-AntiSpam-MessageData-0:X-MS-Exchange-AntiSpam-MessageData-1; bh=7kKC2OlqlukDIua0dioPXlLZPqGNhzuNSxMAI6L+h1c=; b=CZnjduZxDOByFvXtCoTHLHGBE+VjGhmIyFZeom+eGwaZdYNyA/IZ0DQx3q0zIGfRd/YQja21IuO3uGbyoTvWLoNJgY18DmjpHjhgucHRmAQf3jW+pZdRuvRktktljZ91zCHmZFXjbz/NIIRawMod/SbMEcMdu+/GTCvA06ABl3KzAoqJFNLsVi1IJXFLeu0RmE5SSBJplAQzFdAvT59nvI3gjAcff+l/ae2XOdHhcBlaeCgA1Q0Ro0DRt3TDZP05QBQxgiygcPHZ9KpjYkfOev39QUF0UDf1F0pgS3htVkuFFu7SbyMYC2SXEYv1O2Zb9Tzeb90ffahNNxWZ0s9SVg==","arc-authentication-results":"i=1; mx.microsoft.com 1; spf=pass smtp.mailfrom=cdr.co.ma; dmarc=pass action=none header.from=cdr.co.ma; dkim=pass header.d=cdr.co.ma; arc=none","thread-topic":" ⚠️ Second rappel: RFQ-2026-0713020514-B3FF - Votre reponse est attendue","thread-index":"AQHdGW2qjnABZE80E0OnsEkmPNGmsLZ5o3Zg","message-id":" <DBAPR06MB7141285E9D65CE2581B81A6A99C12@DBAPR06MB7141.eurprd06.prod.outlook.com>","references":"<739b6506-5643-5373-cf15-cbdd095265d1@jbel-annour.ma>","in-reply-to":"<739b6506-5643-5373-cf15-cbdd095265d1@jbel-annour.ma>","accept-language":"fr-FR, en-US","content-language":"fr-FR","x-ms-has-attach":"yes","x-ms-tnef-correlator":"","authentication-results":"dkim=none (message not signed) header.d=none;dmarc=none action=none header.from=cdr.co.ma;","x-ms-publictraffictype":"Email","x-ms-traffictypediagnostic":"DBAPR06MB7141:EE_|GV1PR06MB8337:EE_","x-ms-office365-filtering-correlation-id":"b2baefd2-93eb-4cb6-1d2e-08dee8025df3","x-ms-exchange-senderadcheck":"1","x-ms-exchange-antispam-relay":"0","x-microsoft-antispam":" BCL:0;ARA:13230040|6049299003|1800799024|19092799006|376014|366016|23010399003|38070700021|10067099003|8096899003|56012099006|13003099007|22082099003|18002099003|4013099003|4053099003;","x-microsoft-antispam-message-info":" XGKkuhe14c3KxUzJ5cvRrg4qseNAppZE0CGnmkpxIzHb+4nysobNW9NaMpjhsEMCyXLNuVUORvOEC1bd6EPAjGj1z76QNQwGZ8e25NA/xebwuICjUrJEwBh5y8g9swgjKcg8Ikaxe1CoW8DlS4o+hWyrNQ6t2DuatkPuhP6LN2hrcpbVb12zW2OgaJj+YxmrRC8TvhDYOCCUuXVPcqn4ociiTnw6QLuFBtGN9VCx6Nxm6M7N/FvsA6s6m0O456iGz6nP8zvw+ne3WCU3JmR4LbuAiZJQM0HIfu9gVFvZXQYYyCNuLprj61fzEMkPNtlzFHuJldxM9ff/uCm7liaCJDk4agHVvFldsD/WlzAT33IShW9VQCIMc1NN22iDxRBaUMesm65wPdJdx288MuEEsNFU1vDwChRxXTi9MbI0ZPzvtgMHodfvGMKVpXOj8gZ1X9xXliF6D2zrUUDD099eNbn8E7ipqXEEs+WL2BaltP0ktZvaZb/mDxfQcp37HUZCWvEcPJoxoxlFHXI5VuhBqXwKm8lIjs2DhnKGQdz9BCHErfmsmUX4Ecc7TCRGKyveSWEpsjOxwmgv//rgEvAhkImoOce8a6HH5wvO8DXm68A=","x-forefront-antispam-report":" CIP:255.255.255.255;CTRY:;LANG:fr;SCL:1;SRV:;IPV:NLI;SFV:NSPM;H:DBAPR06MB7141.eurprd06.prod.outlook.com;PTR:;CAT:NONE;SFS:(13230040)(6049299003)(1800799024)(19092799006)(376014)(366016)(23010399003)(38070700021)(10067099003)(8096899003)(56012099006)(13003099007)(22082099003)(18002099003)(4013099003)(4053099003);DIR:OUT;SFP:1102;","x-ms-exchange-antispam-messagedata-chunkcount":"1","x-ms-exchange-antispam-messagedata-0":" Nt6xAYFfHouAia+b+Fikhprl2vAQ/6aHbC2l2UohhcTjS1mqDSWOMq7tco13S2PbsDzvxSEOzGEFo1E6Z+a56XReB9cn88l+RM/VVM93R45xGAwGxiInozLSryaF+5FB6dKRU7q5BQy1RZwsk2ZmTTq52VT3OXA2QWa2jvrKVCbu45gqxgZvFHPnbCrelKRql+yCWF6SONjBlNKtijIQLyT1R1NSWO7c17CoqdAAcqy9GO7mxlZ0TJKuWcjvK6MEN4SC1PV486CrR6Vi56bFHMUipYnyHraczMN2hPZjQ5L6EwFJFal5TnJrMGCzUwp+NGm/H5eR6oTomL7KS8qozRWRINyY/GGKkym7c+fnVDOjykUDxjCPbr2Dwmt8ykdEtrd4mY72av+SKZ8ROOW/RwdqacEJ3XvDjcIWs6RGxZ+gQcoNbDo4M2ZGe1h7tmqds83UbMU8vQxVLHR07+hr7OSJ6wiNCKaYU1doUfuV88XWCYw3gakY4/NI7QqtTqXjwIkbiect9sCORB2g7m/4tDFrttFOgpXFtIjr92P47WztIZEiHplUM8di/Yd4tDB0xz0tLf3sUY4UZpGVbbvRomHGCMka+on7+c7kvjj6xPNr6t/uVdHUMrGC05KwRVB7sEs1O2BvIbHGFgaZCH1mNC33H8+OzPZH6mp1FbS060sCWBo++pOV4Vn5lguYOX0gw5bytowOvp5HwbAJVQY3YiykazzEJLoNgWOCgX8OvMJn6Ur+mZDG3Lkp0Ee7RZj5qiLbyL16aWp+3QucH1Y5518/Oq1eYmVMQ7kyAtvKv4yGVnjHZkKdrGa4gt1AQIkcodwqsCcutyIWaU1f0wEbkRs1Ah9LoN8QgD9N/iizNq+6ZTi4nwUucFpLYBj8XmUeDrqA7fVGow+Va5HR+je+fbjXiEKXrAaOOjS0R206vdaRKyKNEjzsyIJ1ys/rYcuN6CeBGfeYlkiFzDAhkFz+I3+DprIX1gWJELuunLpX899kfSyy5AEredbM2xJPHsZirlWpmxtj2ErO8QmYz/KeB2kfVjOR0ngiES790cLqMgC0Seh+U5JzKDopmbBFwq1sIA8jLQLmM3oB9fZuLJLoEUmkreZDEv3R9yiVp5FAK9KJryJzWo6Q7QdjnMCHe20wHc8pnHDMOgj5tVgSf0Lysx83ZdKVR+5Q8M5l0oqZapzBHjeNQgpDkr7LXbQNv8iqz6goDhRz2QDe9ez/nZhp6tWlRDyhffBfAe+02zD3ifZonaVdn0YudC1blOOmhg+LaQeRF8C4BI8/s1VJckgAdofvZUcG5JgpHOrr2nJyglq8Jm6I1I/AnT57NjBojV0UvLsfB30KYH9PwrdynJLx6wHlhu3O/9CGDNY1yS56IroZzhw1De2aF3Ari8DELlo4vcKDprg+cy8j3u5SWfsbEUwgG9aid2TnzIqFxfU1dobJlE4K4OOqafRdv42kDaDCZMhfF0wHHyl/7ElZRieeUN3HAtrzi44TjXdj7mqoYTVYEl4yW7ZEoin2U70SbJa3Htp30rwVOoXh5FpRBxFdLXj5DkqCL+K30HEDd1jR6kIslaeSgW4zV+vz9h3YmNt+MRi7RHvIVBDhqePynrY5j11ebLbU7rE3mByrKoIP1UbgULJnFd7W+NNWCKsZUuBDKUBQTtb+mGGK/sIBzm38rwNwVdpXqnAqfD9V4P9IxKhy0uCK0SaL9SC8MMk+RP5q","content-type":"multipart/mixed;\tboundary=\"_006_DBAPR06MB7141285E9D65CE2581B81A6A99C12DBAPR06MB7141eurp_\"","mime-version":"1.0","x-originatororg":"cdr.co.ma","x-ms-exchange-crosstenant-authas":"Internal","x-ms-exchange-crosstenant-authsource":"DBAPR06MB7141.eurprd06.prod.outlook.com","x-ms-exchange-crosstenant-network-message-id":"b2baefd2-93eb-4cb6-1d2e-08dee8025df3","x-ms-exchange-crosstenant-originalarrivaltime":"22 Jul 2026 15:03:19.6708 (UTC)","x-ms-exchange-crosstenant-fromentityheader":"Hosted","x-ms-exchange-crosstenant-id":"3c66d8c2-731f-4caa-b1dc-efe644a6a7ed","x-ms-exchange-crosstenant-mailboxtype":"HOSTED","x-ms-exchange-crosstenant-userprincipalname":"fs7dVHoOBbhlXO8wqeBQTmP80UdAjazXgS3LFLLoEib9NGvismGjrR6MmsHQniXYWZHLHXsYAGMdsgBtnUv33w==","x-ms-exchange-transport-crosstenantheadersstamped":"GV1PR06MB8337","x-spam-status":"No, score=2.8","x-spam-score":"28","x-spam-bar":"++","x-ham-report":"Spam detection software, running on the system \"vps.jbel-annour.ma\", has NOT identified this incoming email as spam.  The original message has been attached to this so you can view it or label similar future email.  If you have any questions, see root\\@localhost for details. Content preview:  Bonjour , Nous vous remercions pour votre consultation et   trouver en pi_ce jointe notre offre de prix cordialement  Content analysis details:   (2.8 points, 5.0 required)  pts rule name              description ---- ---------------------- --------------------------------------------------  0.0 URIBL_BLOCKED          ADMINISTRATOR NOTICE: The query to URIBL was blocked.                             See                             http://wiki.apache.org/spamassassin/DnsBlocklists#dnsbl-block                              for more information.                             [URI: n8n.io]  0.0 RCVD_IN_DNSWL_BLOCKED  RBL: ADMINISTRATOR NOTICE: The query to DNSWL                             was blocked.  See                             http://wiki.apache.org/spamassassin/DnsBlocklists#DnsBlocklists-dnsbl-block                              for more information.                             [52.101.69.140 listed in list.dnswl.org] -0.0 RCVD_IN_MSPIKE_H2      RBL: Average reputation (+2)                             [52.101.69.140 listed in wl.mailspike.net] -0.0 SPF_PASS               SPF: sender matches SPF record -0.0 SPF_HELO_PASS          SPF: HELO matches SPF record  0.0 KAM_DMARC_STATUS       Test Rule for DKIM or SPF Failure with Strict                             Alignment  0.8 BAYES_50               BODY: Bayes spam probability is 40 to 60%                             [score: 0.5000]  2.0 SUSPICIOUS_RECIPS      Similar addresses in recipient list  0.0 HTML_MESSAGE           BODY: HTML included in message  0.0 KAM_SHORT              Use of a URL Shortener for very short URL  0.0 T_FILL_THIS_FORM_SHORT Fill in a short form with personal information","x-spam-flag":"NO"},"attributes":{"uid":2337},"from":"FATIMA ESSGHIR <fatima@cdr.co.ma>","to":"\"achats@jbel-annour.ma\" <achats@jbel-annour.ma>","cc":"\"acheteur.1@jbel-annour.ma\" <acheteur.1@jbel-annour.ma>,\t\"acheteur.4@jbel-annour.ma\" <acheteur.4@jbel-annour.ma>,\t\"acheteuse.4@jbel-annour.ma\" <acheteuse.4@jbel-annour.ma>,\t\"acheteuse@jbel-annour.ma\" <acheteuse@jbel-annour.ma>,\t\"acheteuse.7@jbel-annour.ma\" <acheteuse.7@jbel-annour.ma>","subject":" RE: ⚠️ Second rappel: RFQ-2026-0713020514-B3FF - Votre reponse est attendue","date":"Wed, 22 Jul 2026 15:03:19 +0000"}}]},"versionId":"e8f3ba57-acad-4f23-b6b7-54112ca1ced6","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}