[ach1] sending emails-HVIMpFbZS4xkYRkt.json
{"createdAt":"2026-02-02T07:36:32.731Z","updatedAt":"2026-07-07T01:51:23.000Z","id":"HVIMpFbZS4xkYRkt","name":"[ACH1] sending emails","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"id":"d009f20c-8866-49a7-9014-e8a20d32583c","name":"⏰ Déclenchement 8h00 (Lun-Ven)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,208]},{"parameters":{"operation":"executeQuery","query":"\nSELECT DNS.DA, DNS.Article, DNS.DésignationArticle, DNS.QteDA, DNS.STU_0 AS Unite, ITM.XMARQ_0 as Marque, DNS.Famille as Famille\nFROM x3.BASE1.Y_DA_NON_SOLDEES DNS\nLEFT JOIN BASE1.ITMMASTER ITM ON ITM.ITMREF_0=DNS.Article\nWHERE DNS.Famille NOT LIKE 'SERVICE%' \n  AND DNS.Famille NOT LIKE 'LOGISTIQUE%' \n  AND DNS.Famille NOT LIKE 'R.H'\n  AND DNS.Article NOT IN ('A09985', 'A10107', 'A10136')\n  AND DNS.DateDA>= '20260623';"},"id":"24969d7d-8bc7-43ac-8572-04f7a0d8831a","name":"📊 Extraire DA Sage X3","type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,208],"credentials":{"microsoftSql":{"id":"EGr1yQ7M8kNpT5Qp","name":"Microsoft SQL account 5"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items || items.length === 0) {\n  console.log('Aucune DA trouvée aujourd\\'hui');\n  return [];\n}\n\nconsole.log(`${items.length} lignes DA récupérées`);\n\n// NE PAS regrouper - garder chaque ligne séparée\nconst result = items.map(item => ({\n  json: {\n    numero_da: item.json.DA,\n    code_article: item.json.Article,\n    designation_article: item.json.DésignationArticle,\n    famille: item.json.Famille,\n    quantite: parseFloat(item.json.QteDA || 0),\n    unite: item.json.Unite,\n    marque_souhaitee: item.json.Marque || null,\n    date_creation_da: new Date().toISOString().slice(0, 19).replace('T', ' '),\n    statut: 'nouveau'\n  }\n}));\n\nconsole.log(`${result.length} lignes DA individuelles à traiter`);\nreturn result;"},"id":"87b47162-1ac8-487a-b6c4-881bb4440bcb","name":"📦 Regrouper Articles Identiques","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,208]},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) AS nb\nFROM lignes_cotation da\nWHERE da.numero_da = '{{ $json.numero_da }}'","options":{}},"id":"6f80bfe4-8de6-4402-aecb-4b0f2ce49fb5","name":"🔍 Vérifier Anti-Doublon","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1136,416],"alwaysOutputData":false,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"276f4779-a28f-4236-a12a-ba4d849094b0","name":"🔀 Fusionner Données","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1504,224]},{"parameters":{"table":{"__rl":true,"mode":"name","value":"demandes_achat"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"numero_da","value":"={{ $json.numero_da }}"},{"column":"code_article","value":"={{ $json.article_code }}"},{"column":"designation_article","value":"={{ $json.designation }}"},{"column":"quantite","value":"={{ $json.quantite_totale }}"},{"column":"unite","value":"={{ $json.unite }}"},{"column":"marque_souhaitee","value":"={{ $json.marque_souhaitee === 'null' || !$json.marque_souhaitee ? null : $json.marque_souhaitee }}"},{"column":"date_creation_da","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},{"column":"statut","value":"nouveau"}]},"options":{}},"id":"9f27c429-a7d0-444b-b6df-7b7a0d784b5b","name":"💾 Enregistrer DA","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2560,-32],"executeOnce":false,"alwaysOutputData":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    S.TEL_0 AS TELE,\n    REPLACE(LTRIM(RTRIM(S.WEB_0)), ' ', '') AS EMAIL,\n    S.FAX_0 AS FAX,\n    MIN(D.ITMREF_0) AS Article,\n    CASE \n        WHEN LTRIM(RTRIM(MIN(D.ITMDES_0))) = LTRIM(RTRIM(MIN(D.ITMDES1_0)))\n            THEN MIN(D.ITMDES_0)\n        ELSE MIN(D.ITMDES_0) + ' / ' + MIN(D.ITMDES1_0)\n    END AS DescriptionFinale,\n    D.BPSNUM_0 AS Fournisseur,\n    (SELECT BPSNAM_0 FROM x3.BASE1.BPSUPPLIER WHERE BPSNUM_0 = D.BPSNUM_0) AS NomFournisseur,\n    '{{ $input.item.json.numero_da }}' AS DA,\n    '{{ $input.item.json.quantite_totale }}' AS QTY,\n    '{{ ($input.item.json.marque_souhaitee || \"\").toString().replace(/'/g, \"''\") }}' AS MARQ,\n    '{{ ($input.item.json.unite || \"\").toString().replace(/'/g, \"''\") }}' AS UNITE,\n    '{{ $input.item.json.article_code }}' AS Article_Code,\n    '{{ ($input.item.json.designation || \"\").toString().replace(/'/g, \"''\") }}' AS Designation\nFROM x3.BASE1.PRECEIPTD D\nJOIN x3.BASE1.BPADDRESS S ON D.BPSNUM_0 = S.BPANUM_0\nWHERE D.ITMREF_0 = '{{ $input.item.json.article_code }}'\n  AND S.WEB_0 IS NOT NULL\n  AND LTRIM(RTRIM(S.WEB_0)) <> ''\n  AND S.WEB_0 LIKE '%@%'\nGROUP BY \n    S.TEL_0, S.WEB_0, S.FAX_0, D.BPSNUM_0;"},"id":"73ce6f89-5837-49b4-9402-8bac58f7103c","name":"🏢 Récupérer Fournisseurs","type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2464,384],"credentials":{"microsoftSql":{"id":"EGr1yQ7M8kNpT5Qp","name":"Microsoft SQL account 5"}}},{"parameters":{"operation":"executeQuery","query":"SELECT code_fournisseur FROM fournisseurs WHERE blacklist = TRUE;","options":{}},"id":"0723a942-06a8-4541-86ee-7fbad66b882b","name":"🚫 Get Blacklist","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3392,240],"executeOnce":true,"alwaysOutputData":true,"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"const fournisseursSageX3 = $('supprime les doublons').all();\nconst blacklistMySQL = $input.all();\n\nconst blacklistCodes = blacklistMySQL.map(item => item.json.code_fournisseur);\n\nconsole.log(`Fournisseurs Sage X3: ${fournisseursSageX3.length}`);\nconsole.log(`Fournisseurs blacklistés: ${blacklistCodes.length}`);\n\nconst fournisseursFiltres = [];\nlet nbBlacklistes = 0;\nlet nbEmailInvalide = 0;\n\nfor (const item of fournisseursSageX3) {\n  const codeFournisseur = item.json.Fournisseur;\n  const nomFournisseur = item.json.NomFournisseur;\n  const email = item.json.EMAIL;\n  \n  if (blacklistCodes.includes(codeFournisseur)) {\n    console.log(`SKIP: ${codeFournisseur} (${nomFournisseur}) - Blacklisté`);\n    nbBlacklistes++;\n    continue;\n  }\n  \n  if (!email || email.trim() === '' || !email.includes('@')) {\n    console.log(`SKIP: ${codeFournisseur} (${nomFournisseur}) - Email invalide`);\n    nbEmailInvalide++;\n    continue;\n  }\n  \n  fournisseursFiltres.push(item);\n  console.log(`OK: ${codeFournisseur} (${nomFournisseur}) - ${email}`);\n}\n\nconsole.log('\\nRESUME FILTRAGE:');\nconsole.log(`   Total: ${fournisseursSageX3.length}`);\nconsole.log(`   Blacklistes: ${nbBlacklistes}`);\nconsole.log(`   Email invalide: ${nbEmailInvalide}`);\nconsole.log(`   Valides: ${fournisseursFiltres.length}`);\n\nif (fournisseursFiltres.length === 0) {\n  const articleInfo = $('🏷️ Set Article Code').first().json;\n  console.error(`ALERTE: Aucun fournisseur valide pour article ${articleInfo.article_code}`);\n}\n\nreturn fournisseursFiltres;"},"id":"d0b7cc1b-ee1e-443b-9acf-476ab56bd855","name":"🔒 Filtrer Blacklist","type":"n8n-nodes-base.code","typeVersion":2,"position":[3600,240]},{"parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0) {\n  console.log('⚠️ Aucun fournisseur à traiter');\n  return [];\n}\nconsole.log(`\\n📦 ${items.length} fournisseurs (après filtrage blacklist)`);\n\n// ─── Groupement normal par fournisseur ───────────────────────────────────────\nconst grouped = {};\nfor (const item of items) {\n  const data = item.json;\n  const fournisseur = data.Fournisseur;\n  \n  if (!grouped[fournisseur]) {\n    grouped[fournisseur] = {\n      code_fournisseur: data.Fournisseur,\n      nom_fournisseur: data.NomFournisseur,\n      email: data.EMAIL,\n      telephone: data.TELE,\n      fax: data.FAX,\n      Articles: []\n    };\n  }\n  \n  grouped[fournisseur].Articles.push({\n    numero_da: data.DA,\n    code_article: data.Article_Code || data.Article,\n    designation: data.Designation || data.DescriptionFinale,\n    quantite_demandee: parseFloat(data.QTY),\n    unite: data.UNITE,\n    marque_souhaitee: data.MARQ\n  });\n}\n\n// ─── Fournisseur statique : reçoit TOUS les articles ─────────────────────────\nconst tousLesArticles = items.map(item => ({\n  numero_da: item.json.DA,\n  code_article: item.json.Article_Code || item.json.Article,\n  designation: item.json.Designation || item.json.DescriptionFinale,\n  quantite_demandee: parseFloat(item.json.QTY),\n  unite: item.json.UNITE,\n  marque_souhaitee: item.json.MARQ\n}));\n\n// Dédupliquer les articles du fournisseur statique (même article + même DA)\nconst articlesUniques = [];\nconst seen = new Set();\nfor (const art of tousLesArticles) {\n  const key = `${art.code_article}_${art.numero_da}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    articlesUniques.push(art);\n  }\n}\n\nconst fournisseurStatique = [\n  {\n  code_fournisseur: 'T6824',\n  nom_fournisseur: 'AMANA MULTISERVICES GROUP',\n  email: 'amanamultiservicesgroup@outlook.com', // à renseigner si disponible\n  telephone: '0668349308',\n  fax: '0668349308',\n  Articles: articlesUniques\n  },\n  {\n  code_fournisseur: 'T6970',\n  nom_fournisseur: 'MSP Multiservice Pro',\n  email: 'contact.ste.msp@gmail.com', // à renseigner si disponible\n  telephone: '0700642166',\n  fax: '0700642166',\n  Articles: articlesUniques\n  }\n];\n\n// ─── Résultat final ───────────────────────────────────────────────────────────\nconst result = Object.values(grouped);\n\n// Ajouter le fournisseur statique à la fin\nresult.push(fournisseurStatique[0]);\n\nresult.push(fournisseurStatique[1]);\n\nconsole.log(`\\n📧 ${result.length} email(s) à envoyer`);\nfor (const f of result) {\n  const tag = f.code_fournisseur === 'T6824' ? ' 🌟 [DESTINATAIRE GLOBAL]' : '';\n  console.log(`   📬 ${f.nom_fournisseur}${tag}: ${f.Articles.length} article(s)`);\n  f.Articles.forEach(art => {\n    console.log(`      • ${art.code_article} (${art.quantite_demandee} ${art.unite})`);\n  });\n}\n\nreturn result.map(f => ({ json: f }));"},"id":"552b20c1-26f0-460b-b962-98aed7910b4a","name":"🔗 Combiner par Fournisseur","type":"n8n-nodes-base.code","typeVersion":2,"position":[3824,240]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\n// Générer UUID manuellement (sans crypto)\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nconst now = new Date();\nconst annee = now.getFullYear();\nconst mois = String(now.getMonth() + 1).padStart(2, '0');\nconst jour = String(now.getDate()).padStart(2, '0');\nconst heure = String(now.getHours()).padStart(2, '0');\nconst minute = String(now.getMinutes()).padStart(2, '0');\nconst seconde = String(now.getSeconds()).padStart(2, '0');\n\nconst shortUuid = uuid.substring(0, 4).toUpperCase();\nconst numero_rfq = `RFQ-${annee}-${mois}${jour}${heure}${minute}${seconde}-${shortUuid}`;\n\nconst date_envoi = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    ...item,\n    uuid: uuid,\n    numero_rfq: numero_rfq,\n    date_envoi: date_envoi\n  }\n};"},"id":"f6085496-070a-4da3-b3fd-393d5d1a74d2","name":"🔑 Générer UUID + N° RFQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[4608,256]},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"name","value":"fournisseurs"},"dataMode":"defineBelow","columnToMatchOn":"code_fournisseur","valueToMatchOn":"={{ $('🔑 Générer UUID + N° RFQ').item.json.code_fournisseur }}","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.code_fournisseur }}"},{"column":"nom_fournisseur","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.nom_fournisseur }}"},{"column":"email","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.email }}"},{"column":"telephone","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.telephone }}"},{"column":"fax","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.fax }}"}]},"options":{}},"id":"335d5e4c-c886-49e7-b9ed-d72a5b776bed","name":"💾 Upsert Fournisseur","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4960,256],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"table":{"__rl":true,"mode":"name","value":"demandes_cotation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"uuid","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.uuid }}"},{"column":"numero_rfq","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.numero_rfq }}"},{"column":"code_fournisseur","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.code_fournisseur }}"},{"column":"date_envoi","value":"={{ $('🔑 Générer UUID + N° RFQ').item.json.date_envoi }}"},{"column":"statut","value":"envoye"},{"column":"nb_relances","value":"0"}]},"options":{}},"id":"18c97a9e-bed2-4ce3-a2fd-10d764369fc9","name":"💾 Créer Demande Cotation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[5264,256],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// Récupérer les données originales depuis le nœud UUID\nconst originalData = $('🔑 Générer UUID + N° RFQ').item.json;\n\nconst rfq_uuid = originalData.uuid;\nconst articles = originalData.Articles;\n\nconsole.log(`Transformation pour RFQ: ${originalData.numero_rfq}`);\nconsole.log(`UUID: ${rfq_uuid}`);\nconsole.log(`${articles.length} article(s) à transformer en lignes`);\n\n// Créer une ligne pour chaque article\nconst lignes = [];\nfor (const article of articles) {\n  lignes.push({\n    json: {\n      rfq_uuid: rfq_uuid,\n      numero_da: article.numero_da,\n      code_article: article.code_article,\n      designation_article: article.designation,\n      quantite_demandee: article.quantite_demandee,\n      unite: article.unite,\n      marque_souhaitee: article.marque_souhaitee || null\n    }\n  });\n  console.log(`  -> Ligne: ${article.code_article} (${article.quantite_demandee} ${article.unite})`);\n}\n\nreturn lignes;"},"id":"ef2ed66f-b713-438f-b030-a10840e44a5a","name":"🔄 Transformer Articles en Lignes","type":"n8n-nodes-base.code","typeVersion":2,"position":[5536,256]},{"parameters":{"table":{"__rl":true,"mode":"name","value":"lignes_cotation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"rfq_uuid","value":"={{ $json.rfq_uuid }}"},{"column":"numero_da","value":"={{ $json.numero_da }}"},{"column":"code_article","value":"={{ $json.code_article }}"},{"column":"designation_article","value":"={{ $json.designation_article }}"},{"column":"quantite_demandee","value":"={{ $json.quantite_demandee }}"},{"column":"unite","value":"={{ $json.unite }}"},{"column":"marque_souhaitee","value":"={{ $json.marque_souhaitee }}"}]},"options":{}},"id":"1615cddb-fc4d-4d66-8bcd-347eb0878146","name":"📋 Créer Lignes Cotation","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[5840,256],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// Récupérer les données originales depuis le nœud UUID\nconst item = $('🔑 Générer UUID + N° RFQ').item.json;\n\nconst urlBase = 'https://bjaai.jbel-annour.site/webhook/proxy-formulaire';\nconst lienRepondre = `${urlBase}/formulaire/${item.uuid}`;\n\nconst pixelTracking = `${urlBase}/tracking.php?uuid=${item.uuid}&action=ouverture`;\n\n// Extraire les numéros de DA uniques\nconst numerosDA = [...new Set(item.Articles.map(a => a.numero_da))].filter(n => n);\nconst numerosDAString = numerosDA.join(', ');\n\n// Générer les lignes du tableau\nlet lignesTableau = '';\nlet isAlternate = false;\nfor (const article of item.Articles) {\n  const bgColor = isAlternate ? '#f8f9fa' : '#ffffff';\n  lignesTableau += `\n    <tr>\n      <td style=\"padding: 12px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.code_article}</td>\n      <td style=\"padding: 12px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.designation}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.quantite_demandee}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.unite}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.marque_souhaitee || '-'}</td>\n    </tr>\n  `;\n  isAlternate = !isAlternate;\n}\n\nconst anneeActuelle = new Date().getFullYear();\n\nconst htmlEmail = `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n  <meta name=\"format-detection\" content=\"telephone=no, date=no, address=no, email=no\" />\n  <title>Demande de Cotation - ${item.numero_rfq}</title>\n  \n  <!--[if mso]>\n  <noscript>\n    <xml>\n      <o:OfficeDocumentSettings>\n        <o:AllowPNG/>\n        <o:PixelsPerInch>96</o:PixelsPerInch>\n      </o:OfficeDocumentSettings>\n    </xml>\n  </noscript>\n  <style type=\"text/css\">\n    table {border-collapse: collapse;}\n    td, th, div, p, a, h1, h2, h3, h4, h5, h6 {font-family: Arial, sans-serif !important;}\n  </style>\n  <![endif]-->\n  \n  <style type=\"text/css\">\n    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n    img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }\n    body { margin: 0 !important; padding: 0 !important; width: 100% !important; }\n    \n    @media screen and (max-width: 600px) {\n      .email-container { width: 100% !important; }\n      .fluid { max-width: 100% !important; height: auto !important; }\n      .stack-column { display: block !important; width: 100% !important; }\n    }\n  </style>\n</head>\n\n<body width=\"100%\" style=\"margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f4f4f4;\">\n  \n  <div style=\"display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all;\">\n    Demande de cotation ${item.numero_rfq} - ${item.Articles.length} article(s) a coter\n  </div>\n  \n  <center style=\"width: 100%; background-color: #f4f4f4;\">\n    <!--[if mso | IE]>\n    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#f4f4f4\">\n    <tr>\n    <td>\n    <![endif]-->\n    \n    <table align=\"center\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"margin: auto;\" class=\"email-container\">\n      \n      <tr>\n        <td style=\"padding: 20px 0; text-align: center;\">\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"background-color: #ffffff;\" bgcolor=\"#ffffff\">\n          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n            \n            <tr>\n              <td style=\"padding: 30px 40px 20px 40px; border-bottom: 3px solid #0066cc;\" bgcolor=\"#ffffff\">\n                <h1 style=\"margin: 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 30px; color: #0066cc; font-weight: bold;\">Demande de Cotation</h1>\n                <p style=\"margin: 10px 0 0 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666666;\">Ref: ${item.numero_rfq}</p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 30px 40px 0 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #333333;\">\n                  Bonjour <strong>${item.nom_fournisseur}</strong>,\n                </p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 20px 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; color: #333333;\">\n                  Nous sollicitons votre meilleure offre pour les articles suivants :\n                </p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <!--[if mso]>\n                <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"520\">\n                <tr>\n                <td>\n                <![endif]-->\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border: 1px solid #e0e0e0;\">\n                  <tr>\n                    <th style=\"padding: 12px; text-align: left; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"18%\">Code Article</th>\n                    <th style=\"padding: 12px; text-align: left; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"34%\">Designation</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Quantite</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Unite</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Marque</th>\n                  </tr>\n                  ${lignesTableau}\n                </table>\n                <!--[if mso]>\n                </td>\n                </tr>\n                </table>\n                <![endif]-->\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                  <tr>\n                    <td width=\"4\" bgcolor=\"#ffc107\" style=\"background-color: #ffc107;\"></td>\n                    <td style=\"padding: 15px 20px; background-color: #fff3cd;\" bgcolor=\"#fff3cd\">\n                      <p style=\"margin: 0 0 10px 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #856404; font-weight: 600;\">\n                        Informations a fournir pour chaque article :\n                      </p>\n                      <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Prix unitaire HT</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Delai de livraison (en jours)</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Disponibilite</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Marque proposee (si differente)</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Quantite disponible</td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            \n            \n            \n            <tr>\n              <td style=\"padding: 0 40px;\" bgcolor=\"#ffffff\">\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                  <tr>\n                    <td style=\"border-top: 2px solid #e0e0e0; font-size: 1px; line-height: 1px;\">&nbsp;</td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 20px 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #333333; font-weight: bold;\">Service Achats</p>\n                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">acheteur.1@jbel-annour.ma</p>\n                <p style=\"margin: 0 0 15px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">+212 668743516</p>\n                <!-- <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #999999;\"> -->\n                  Cet email a ete envoye automatiquement. Merci de repondre directement a ce message.\n                </p>\n              </td>\n            </tr>\n            \n          </table>\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"padding: 20px; text-align: center;\">\n          <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #888888;\">\n            Copyright ${anneeActuelle} Votre Societe. Tous droits reserves.\n          </p>\n        </td>\n      </tr>\n      \n    </table>\n    \n    <!--[if mso | IE]>\n    </td>\n    </tr>\n    </table>\n    <![endif]-->\n  </center>\n  \n  <img src=\"${pixelTracking}\" width=\"1\" height=\"1\" alt=\"\" style=\"display:block; width:1px; height:1px; border:0;\" />\n  \n</body>\n</html>`;\n\nconsole.log('Email HTML genere pour ' + item.nom_fournisseur);\nconsole.log('Lien formulaire: ' + lienRepondre);\nconsole.log('Numeros DA: ' + numerosDAString);\n\nreturn {\n  json: {\n    ...item,\n    html_email: htmlEmail,\n    sujet_email: `Demande de cotation ${item.numero_rfq} | DA: ${numerosDAString}`,\n    lien_formulaire: lienRepondre,\n    numeros_da: numerosDAString\n  }\n};"},"id":"c32be8ec-9820-4308-93c2-099f5e165ab2","name":"📧 Générer Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[6048,256]},{"parameters":{"fromEmail":"achat@jbel-annour.ma","toEmail":"={{ $json.email }}","subject":"={{ $json.sujet_email }}","html":"={{ $json.html_email }}","options":{"ccEmail":"y.saadaoui@jbel-annour.com, acheteur.1@jbel-annour.ma, acheteur.4@jbel-annour.ma, acheteuse.4@jbel-annour.ma, acheteuse@jbel-annour.ma, acheteuse.7@jbel-annour.ma"}},"id":"f3983970-2a1c-45a0-99b2-00c713dd4e2e","name":"📨 Envoyer Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[6272,256],"webhookId":"0593a65b-e68e-484d-9844-7ff25d709107","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"article_code","name":"article_code","value":"={{ $json.article_code }}","type":"string"},{"id":"numero_da","name":"numero_da","value":"={{ $json.numero_da }}","type":"string"},{"id":"designation","name":"designation","value":"={{ $json.designation }}","type":"string"},{"id":"quantite_totale","name":"quantite_totale","value":"={{ $json.quantite_totale }}","type":"string"},{"id":"unite","name":"unite","value":"={{ $json.unite }}","type":"string"},{"id":"marque_souhaitee","name":"marque_souhaitee","value":"={{ $json.marque_souhaitee }}","type":"string"}]},"options":{}},"id":"49d222af-8398-4481-b6ef-fb02684704fa","name":"📝 Préparer Données Article","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition-doublon","leftValue":"={{ $json.nb }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"19b03c2e-b165-4ce8-b9ef-43288a903cae","name":"❓ Article déjà traité?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1888,224]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4064,240],"id":"0f7bea3c-894f-417f-a102-53fc5eea94c5","name":"Loop Over Items"},{"parameters":{"jsCode":"// ============================================\n// 📝 Préparer Données Article (avec éclatement par DA)\n// ============================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Si le tableau \"das\" existe, créer une ligne par DA\n  if (data.das && Array.isArray(data.das) && data.das.length > 0) {\n    for (const da of data.das) {\n      results.push({\n        json: {\n          article_code: data.code_article || data.article_code,\n          designation: data.designation || data.designation_article,\n          numero_da: da.numero,\n          quantite_totale: da.quantite,\n          unite: data.unite,\n          marque_souhaitee: (data.marque_souhaitee === 'null' || !data.marque_souhaitee) ? null : data.marque_souhaitee\n        }\n      });\n    }\n  } else {\n    // Sinon, utiliser les données directement\n    results.push({\n      json: {\n        article_code: data.code_article || data.article_code,\n        designation: data.designation || data.designation_article,\n        numero_da: data.numero_da,\n        quantite_totale: data.quantite_totale || data.quantite,\n        unite: data.unite,\n        marque_souhaitee: (data.marque_souhaitee === 'null' || !data.marque_souhaitee) ? null : data.marque_souhaitee\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2304,-32],"id":"0302d333-e1cf-4e58-897c-683112a63a83","name":"Preparer les données"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4320,256],"id":"56204d7d-88f4-4a07-adaa-1e6dd28e048a","name":"Wait","webhookId":"c24a62c1-c721-4eac-81df-7ffc0f6b39a3"},{"parameters":{"content":"## Acheteurs\n","height":384,"width":3040},"type":"n8n-nodes-base.stickyNote","position":[2160,640],"typeVersion":1,"id":"f98e2cba-a9ae-4087-9987-46b1f5c1d6a1","name":"Sticky Note"},{"parameters":{"jsCode":"// Récupérer les items depuis le nœud précédent\nconst items = $input.all();\n\n// Grouper par famille\nconst groupedByFamily = {};\n\nfor (const item of items) {\n  const famille = item.json.famille || \"SANS_FAMILLE\";\n  \n  if (!groupedByFamily[famille]) {\n    groupedByFamily[famille] = [];\n  }\n  \n  groupedByFamily[famille].push(item.json);\n}\n\n// Convertir en format pour n8n\nconst result = [];\n\nfor (const famille in groupedByFamily) {\n  result.push({\n    json: {\n      famille: famille,\n      nombre_articles: groupedByFamily[famille].length,\n      articles: groupedByFamily[famille],\n      // Quantité totale de la famille\n      quantite_totale: groupedByFamily[famille].reduce((sum, article) => {\n        return sum + (parseFloat(article.quantite) || 0);\n      }, 0)\n    }\n  });\n}\n\n// Retourner les résultats groupés\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,784],"id":"cbb78506-fa79-4fee-846e-caf942fee42d","name":"groupe par famille"},{"parameters":{"operation":"executeQuery","query":"select u.email, '{{ $json.famille }}' as famille  from utilisateur_familles uf\nleft join  familles_ref f on uf.code_famille = f.code_famille\n  left join utilisateurs u on u.id = uf.utilisateur_id\n  where nom_famille = '{{ $json.famille }}'\n  and u.email<>'bassim@jbel-annour.ma';","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2496,784],"id":"12af1af2-7d3c-419d-98a7-f0e13b729c55","name":"email acheteur famille","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"jsCode":"// Récupérer toutes les familles\nconst allFamiliesData = $('groupe par famille').all();\nconst email_famille = $input.all();\n\nconsole.log(\"=== REGROUPEMENT PAR FAMILLE ===\");\nconsole.log(\"Nombre de familles:\", allFamiliesData.length);\n\n// Grouper tous les emails par famille\nconst emailsByFamily = {};\n\nemail_famille.forEach(item => {\n  const famille = item?.json?.famille;\n  const email = item?.json?.email;\n  \n  if (famille && email) {\n    if (!emailsByFamily[famille]) {\n      emailsByFamily[famille] = [];\n    }\n    if (!emailsByFamily[famille].includes(email)) {\n      emailsByFamily[famille].push(email);\n    }\n  }\n});\n\nconsole.log(\"Emails groupés:\", emailsByFamily);\n\nconst result = [];\n\n// Créer UNE SEULE entrée par famille\nallFamiliesData.forEach(familleNode => {\n  const familleData = familleNode.json;\n  const familleName = familleData.famille;\n  let emails = emailsByFamily[familleName] || [];\n  \n  console.log(`Famille ${familleName}: ${emails.length} email(s)`);\n\n  // Si aucun email, utiliser l'email par défaut\n  if (emails.length === 0) {\n    emails = [\"acheteur.1@jbel-annour.ma\"];\n  }\n  \n  // UNE SEULE entrée par famille\n  result.push({\n    json: {\n      // Identifiant famille\n      famille: familleName,\n      \n      // Statistiques\n      nombre_articles: familleData.nombre_articles,\n      quantite_totale: familleData.quantite_totale,\n      \n      // TOUS les emails dans UNE seule propriété\n      emails_acheteurs: emails, // Tableau des emails\n      liste_emails_formatee: emails.join(\", \"), // Version texte\n      nombre_emails_famille: emails.length,\n      \n      // Articles complets\n      articles: familleData.articles,\n      \n      // Pour les familles sans email\n      statut: emails.length > 0 ? \"Assignée\" : \"Non assignée\",\n      date_traitement: new Date().toISOString()\n    }\n  });\n});\n\nconsole.log(`\\n✅ ${result.length} familles traitées (1 par famille)`);\n\n// Vérification\nconsole.log(\"\\n📊 VÉRIFICATION:\");\nresult.forEach(item => {\n  const data = item.json;\n  console.log(`${data.famille}: ${data.nombre_emails_famille} email(s) → ${data.liste_emails_formatee || \"Aucun\"}`);\n});\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,784],"id":"68f5f7cf-6834-48da-9c1a-c2d686607b1d","name":"combiner articles d'un famille avec email responsable"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\n// Générer UUID manuellement (sans crypto)\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nconst now = new Date();\nconst annee = now.getFullYear();\nconst mois = String(now.getMonth() + 1).padStart(2, '0');\nconst jour = String(now.getDate()).padStart(2, '0');\nconst heure = String(now.getHours()).padStart(2, '0');\nconst minute = String(now.getMinutes()).padStart(2, '0');\nconst seconde = String(now.getSeconds()).padStart(2, '0');\n\nconst shortUuid = uuid.substring(0, 4).toUpperCase();\nconst numero_rfq = `RFQ-${annee}-${mois}${jour}${heure}${minute}${seconde}-${shortUuid}`;\n\nconst date_envoi = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn {\n  json: {\n    ...item,\n    uuid: uuid,\n    numero_rfq: numero_rfq,\n    date_envoi: date_envoi\n  }\n};"},"id":"1fcd44ef-6163-477a-98bf-778be42ce60f","name":"🔑 Générer UUID + N° RFQ1","type":"n8n-nodes-base.code","typeVersion":2,"position":[3456,800]},{"parameters":{"jsCode":"// Récupérer les données originales depuis le nœud UUID\nconst originalData = $('🔑 Générer UUID + N° RFQ1').item.json;\n\nconst rfq_uuid = originalData.uuid;\nconst articles = originalData.articles;\n\nconsole.log(`Transformation pour RFQ: ${originalData.numero_rfq}`);\nconsole.log(`UUID: ${rfq_uuid}`);\nconsole.log(`${articles.length} article(s) à transformer en lignes`);\n\n// Créer une ligne pour chaque article\nconst lignes = [];\nfor (const article of articles) {\n  lignes.push({\n    json: {\n      rfq_uuid: rfq_uuid,\n      numero_da: article.numero_da,\n      code_article: article.code_article,\n      designation_article: article.designation,\n      quantite_demandee: article.quantite_totale,\n      unite: article.unite,\n      marque_souhaitee: article.marque_souhaitee || null\n    }\n  });\n  console.log(`  -> Ligne: ${article.code_article} (${article.quantite_demandee} ${article.unite})`);\n}\n\nreturn lignes;"},"id":"77514c69-2193-4c5e-aa4e-71cdf466aeda","name":"🔄 Transformer Articles en Lignes1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4064,800]},{"parameters":{"table":{"__rl":true,"value":"lignes_cotation_acheteur","mode":"name"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"rfq_uuid","value":"={{ $json.rfq_uuid }}"},{"column":"numero_da","value":"={{ $json.numero_da }}"},{"column":"code_article","value":"={{ $json.code_article }}"},{"column":"designation_article","value":"={{ $json.designation_article }}"},{"column":"quantite_demandee","value":"={{ $json.quantite_demandee }}"},{"column":"unite","value":"={{ $json.unite }}"},{"column":"marque_souhaitee","value":"={{ $json.marque_souhaitee }}"}]},"options":{}},"id":"fc4bca04-0cd6-44cc-aab9-106991d471cc","name":"📋 Créer Lignes Cotation1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4368,800],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"table":{"__rl":true,"value":"demandes_cotation_acheteur","mode":"name"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"uuid","value":"={{ $json.uuid }}"},{"column":"numero_rfq","value":"={{ $json.numero_rfq }}"},{"column":"famille","value":"={{ $json.famille }}"},{"column":"date_envoi_acheteur","value":"={{ $json.date_envoi }}"}]},"options":{}},"id":"605b20ab-b62c-49a2-98b4-06974f5d8caf","name":"💾 Créer Demande Cotation1","type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3760,800],"credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2912,784],"id":"aab85d4e-25dd-4610-b9b6-2aa63a9b710f","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Récupérer les données originales depuis le nœud UUID\nconst item = $('🔑 Générer UUID + N° RFQ1').item.json;\n\nconst urlBase = 'http://192.168.1.211/formulaire_acheteur/index.php';\nconst lienRepondre = `${urlBase}?uuid=${item.uuid}`;\n\nconst pixelTracking = `${urlBase}/tracking.php?uuid=${item.uuid}&action=ouverture`;\n\n// Extraire les numéros de DA uniques\nconst numerosDA = [...new Set(item.articles.map(a => a.numero_da))].filter(n => n);\nconst numerosDAString = numerosDA.join(', ');\n\n// Générer les lignes du tableau\nlet lignesTableau = '';\nlet isAlternate = false;\nfor (const article of item.articles) {\n  const bgColor = isAlternate ? '#f8f9fa' : '#ffffff';\n  lignesTableau += `\n    <tr>\n      <td style=\"padding: 12px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.code_article}</td>\n      <td style=\"padding: 12px; text-align: left; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.designation}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.quantite_demandee}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.unite}</td>\n      <td style=\"padding: 12px; text-align: center; border-bottom: 1px solid #e0e0e0; font-family: Arial, sans-serif; font-size: 14px; color: #333333;\" bgcolor=\"${bgColor}\">${article.marque_souhaitee || '-'}</td>\n    </tr>\n  `;\n  isAlternate = !isAlternate;\n}\n\nconst anneeActuelle = new Date().getFullYear();\n\nconst htmlEmail = `<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n  <meta name=\"format-detection\" content=\"telephone=no, date=no, address=no, email=no\" />\n  <title>Demande de Cotation - ${item.numero_rfq}</title>\n  \n  <!--[if mso]>\n  <noscript>\n    <xml>\n      <o:OfficeDocumentSettings>\n        <o:AllowPNG/>\n        <o:PixelsPerInch>96</o:PixelsPerInch>\n      </o:OfficeDocumentSettings>\n    </xml>\n  </noscript>\n  <style type=\"text/css\">\n    table {border-collapse: collapse;}\n    td, th, div, p, a, h1, h2, h3, h4, h5, h6 {font-family: Arial, sans-serif !important;}\n  </style>\n  <![endif]-->\n  \n  <style type=\"text/css\">\n    body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }\n    table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }\n    img { -ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }\n    body { margin: 0 !important; padding: 0 !important; width: 100% !important; }\n    \n    @media screen and (max-width: 600px) {\n      .email-container { width: 100% !important; }\n      .fluid { max-width: 100% !important; height: auto !important; }\n      .stack-column { display: block !important; width: 100% !important; }\n    }\n  </style>\n</head>\n\n<body width=\"100%\" style=\"margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f4f4f4;\">\n  \n  <div style=\"display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all;\">\n    Demande de cotation ${item.numero_rfq} - ${item.articles.length} article(s) a coter\n  </div>\n  \n  <center style=\"width: 100%; background-color: #f4f4f4;\">\n    <!--[if mso | IE]>\n    <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" bgcolor=\"#f4f4f4\">\n    <tr>\n    <td>\n    <![endif]-->\n    \n    <table align=\"center\" role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"600\" style=\"margin: auto;\" class=\"email-container\">\n      \n      <tr>\n        <td style=\"padding: 20px 0; text-align: center;\">\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"background-color: #ffffff;\" bgcolor=\"#ffffff\">\n          <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n            \n            <tr>\n              <td style=\"padding: 30px 40px 20px 40px; border-bottom: 3px solid #0066cc;\" bgcolor=\"#ffffff\">\n                <h1 style=\"margin: 0; font-family: Arial, sans-serif; font-size: 24px; line-height: 30px; color: #0066cc; font-weight: bold;\">Demande de Cotation</h1>\n                <p style=\"margin: 10px 0 0 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666666;\">Ref: ${item.numero_rfq}</p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 30px 40px 0 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; color: #333333;\">\n                  Bonjour <strong>${item.nom_fournisseur}</strong>,\n                </p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 20px 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; color: #333333;\">\n                  Nous sollicitons votre meilleure offre pour les articles suivants :\n                </p>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <!--[if mso]>\n                <table role=\"presentation\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" width=\"520\">\n                <tr>\n                <td>\n                <![endif]-->\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\" style=\"border: 1px solid #e0e0e0;\">\n                  <tr>\n                    <th style=\"padding: 12px; text-align: left; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"18%\">Code Article</th>\n                    <th style=\"padding: 12px; text-align: left; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"34%\">Designation</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Quantite</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Unite</th>\n                    <th style=\"padding: 12px; text-align: center; font-family: Arial, sans-serif; font-size: 13px; font-weight: 600; color: #ffffff; background-color: #0066cc;\" bgcolor=\"#0066cc\" width=\"16%\">Marque</th>\n                  </tr>\n                  ${lignesTableau}\n                </table>\n                <!--[if mso]>\n                </td>\n                </tr>\n                </table>\n                <![endif]-->\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 0 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                  <tr>\n                    <td width=\"4\" bgcolor=\"#ffc107\" style=\"background-color: #ffc107;\"></td>\n                    <td style=\"padding: 15px 20px; background-color: #fff3cd;\" bgcolor=\"#fff3cd\">\n                      <p style=\"margin: 0 0 10px 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px; color: #856404; font-weight: 600;\">\n                        Informations a fournir pour chaque article :\n                      </p>\n                      <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Prix unitaire HT</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Delai de livraison (en jours)</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Disponibilite</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Marque proposee (si differente)</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding: 3px 0; font-family: Arial, sans-serif; font-size: 13px; line-height: 18px; color: #856404;\">&#8226; Quantite disponible</td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            \n            \n            \n            <tr>\n              <td style=\"padding: 0 40px;\" bgcolor=\"#ffffff\">\n                <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" width=\"100%\">\n                  <tr>\n                    <td style=\"border-top: 2px solid #e0e0e0; font-size: 1px; line-height: 1px;\">&nbsp;</td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            \n            <tr>\n              <td style=\"padding: 20px 40px 30px 40px;\" bgcolor=\"#ffffff\">\n                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #333333; font-weight: bold;\">Service Achats</p>\n                <p style=\"margin: 0 0 5px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">acheteur.1@jbel-annour.ma</p>\n                <p style=\"margin: 0 0 15px 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #666666;\">+212 668743516</p>\n                <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #999999;\">\n                  Cet email a ete envoye automatiquement. Merci de repondre directement a ce message.\n                </p>\n              </td>\n            </tr>\n            \n          </table>\n        </td>\n      </tr>\n      \n      <tr>\n        <td style=\"padding: 20px; text-align: center;\">\n          <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 11px; line-height: 16px; color: #888888;\">\n            Copyright ${anneeActuelle} Votre Societe. Tous droits reserves.\n          </p>\n        </td>\n      </tr>\n      \n    </table>\n    \n    <!--[if mso | IE]>\n    </td>\n    </tr>\n    </table>\n    <![endif]-->\n  </center>\n  \n  <img src=\"${pixelTracking}\" width=\"1\" height=\"1\" alt=\"\" style=\"display:block; width:1px; height:1px; border:0;\" />\n  \n</body>\n</html>`;\n\nconsole.log('Email HTML genere pour ' + item.nom_fournisseur);\nconsole.log('Lien formulaire: ' + lienRepondre);\nconsole.log('Numeros DA: ' + numerosDAString);\n\nreturn {\n  json: {\n    ...item,\n    html_email: htmlEmail,\n    sujet_email: `Demande de cotation ${item.numero_rfq} | DA: ${numerosDAString}`,\n    lien_formulaire: lienRepondre,\n    numeros_da: numerosDAString\n  }\n};"},"id":"e5f5701f-ae94-4fe8-8422-33a80d7c5465","name":"📧 Générer Email HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[4704,800]},{"parameters":{"fromEmail":"achat@jbel-annour.ma","toEmail":"={{ $json.liste_emails_formatee }}","subject":"={{ $json.sujet_email }}","html":"={{ $json.html_email }}","options":{"ccEmail":"acheteur.1@jbel-annour.ma"}},"id":"c326a6f3-f8be-407b-9650-5ed6023e3635","name":"📨 Envoyer Email1","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[5008,800],"webhookId":"badcd82e-f6b0-42f9-a0b5-413ca70b5aad","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}},"onError":"continueErrorOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3200,800],"id":"d1bbe74a-6029-4c01-a9fd-3e1304aeccf9","name":"Wait1","webhookId":"5badb618-80ad-4ee6-be5f-fe77779e23ae"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3200,656],"id":"4e1ea2dc-a1ba-4b87-9131-d5dd0589c345","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    F.telephone AS TELE,\n    F.fax AS FAX,\n    REPLACE(LTRIM(RTRIM(F.email)), ' ', '') AS EMAIL,\n    F.code_fournisseur AS Fournisseur,\n    F.nom_fournisseur AS NomFournisseur,\n    '{{ ($input.item.json.numero_da || \"\").toString().replace(/'/g, \"''\") }}' AS DA,\n    '{{ ($input.item.json.code_article || \"\").toString().replace(/'/g, \"''\") }}' AS Article_Code,\n    '{{ ($input.item.json.designation_article || \"\").toString().replace(/'/g, \"''\") }}' AS DescriptionFinale,\n    '{{ ($input.item.json.quantite || \"\").toString().replace(/'/g, \"''\") }}' AS QTY,\n    '{{ ($input.item.json.unite || \"\").toString().replace(/'/g, \"''\") }}' AS UNITE,\n    '{{ ($input.item.json.marque_souhaitee || \"\").toString().replace(/'/g, \"''\") }}' AS MARQ,\n    '{{ ($input.item.json.designation || \"\").toString().replace(/'/g, \"''\") }}' AS Designation\nFROM fournisseurs F\nINNER JOIN (\n    SELECT DISTINCT id_fournisseur \n    FROM fournisseur_article \n    WHERE id_article = '{{ ($input.item.json.article_code || \"\") }}'\n) FA ON F.id = FA.id_fournisseur\nWHERE F.email IS NOT NULL\n  AND LTRIM(RTRIM(F.email)) <> ''\n  AND F.email LIKE '%@%';\n\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2240,240],"id":"20443ffe-7935-4785-b645-bcafe2b033ac","name":"Execute a SQL query","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"prod mysql"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2784,240],"id":"321d05ef-f947-471e-8633-cddc1cb48660","name":"Merge"},{"parameters":{"jsCode":"// Récupérer tous les items\nconst items = $input.all();\n\n// Map pour tracker les combinaisons uniques\nconst seen = new Map();\nconst result = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Clé unique = Fournisseur + Article + DA\n  const key = `${data.Fournisseur || data.Fournisseur}_${data.Article_Code}_${data.DA}`;\n  \n  if (!seen.has(key)) {\n    seen.set(key, true);\n    result.push({ json: data });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3088,240],"id":"aa0daf57-6018-4336-92c3-138bbee7a778","name":"supprime les doublons"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4320,80],"id":"c1f89b3c-1c31-4985-804d-e4f1ce12ae0e","name":"Edit Fields1"},{"parameters":{"fields":{"values":[{"name":"article_code","stringValue":"={{ $json.code_article }}"},{"name":"quantite_totale","stringValue":"={{ $json.quantite }}"},{"name":"designation","stringValue":"={{ $json.designation_article }}"},{"name":"unite","stringValue":"={{ $json.unite }}"},{"name":"marque_souhaitee","stringValue":"={{ $json.marque_souhaitee }}"},{"name":"numero_da","stringValue":"={{ $json.numero_da }}"},{"name":"famille","stringValue":"={{ $json.famille }}"}]},"options":{}},"id":"3f5453d4-66b0-4a08-ac64-94ba63e54e27","name":"🏷️ Set Article Code","type":"n8n-nodes-base.set","typeVersion":3,"position":[752,208]}],"connections":{"⏰ Déclenchement 8h00 (Lun-Ven)":{"main":[[{"node":"📊 Extraire DA Sage X3","type":"main","index":0}]]},"📊 Extraire DA Sage X3":{"main":[[{"node":"📦 Regrouper Articles Identiques","type":"main","index":0}]]},"📦 Regrouper Articles Identiques":{"main":[[{"node":"🏷️ Set Article Code","type":"main","index":0}]]},"🔍 Vérifier Anti-Doublon":{"main":[[{"node":"🔀 Fusionner Données","type":"main","index":1}]]},"🔀 Fusionner Données":{"main":[[{"node":"❓ Article déjà traité?","type":"main","index":0}]]},"🏢 Récupérer Fournisseurs":{"main":[[{"node":"Merge","type":"main","index":1}]]},"🚫 Get Blacklist":{"main":[[{"node":"🔒 Filtrer Blacklist","type":"main","index":0}]]},"🔒 Filtrer Blacklist":{"main":[[{"node":"🔗 Combiner par Fournisseur","type":"main","index":0}]]},"🔗 Combiner par Fournisseur":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"🔑 Générer UUID + N° RFQ":{"main":[[{"node":"💾 Upsert Fournisseur","type":"main","index":0}]]},"💾 Upsert Fournisseur":{"main":[[{"node":"💾 Créer Demande Cotation","type":"main","index":0}]]},"💾 Créer Demande Cotation":{"main":[[{"node":"🔄 Transformer Articles en Lignes","type":"main","index":0}]]},"🔄 Transformer Articles en Lignes":{"main":[[{"node":"📋 Créer Lignes Cotation","type":"main","index":0}]]},"📋 Créer Lignes Cotation":{"main":[[{"node":"📧 Générer Email HTML","type":"main","index":0}]]},"📧 Générer Email HTML":{"main":[[{"node":"📨 Envoyer Email","type":"main","index":0}]]},"📨 Envoyer Email":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"📝 Préparer Données Article":{"main":[[{"node":"🏢 Récupérer Fournisseurs","type":"main","index":0}]]},"❓ Article déjà traité?":{"main":[[],[{"node":"Preparer les données","type":"main","index":0},{"node":"Execute a SQL query","type":"main","index":0},{"node":"📝 Préparer Données Article","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Preparer les données":{"main":[[{"node":"💾 Enregistrer DA","type":"main","index":0}]]},"Wait":{"main":[[{"node":"🔑 Générer UUID + N° RFQ","type":"main","index":0}]]},"groupe par famille":{"main":[[{"node":"email acheteur famille","type":"main","index":0}]]},"email acheteur famille":{"main":[[{"node":"combiner articles d'un famille avec email responsable","type":"main","index":0}]]},"combiner articles d'un famille avec email responsable":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"🔑 Générer UUID + N° RFQ1":{"main":[[{"node":"💾 Créer Demande Cotation1","type":"main","index":0}]]},"🔄 Transformer Articles en Lignes1":{"main":[[{"node":"📋 Créer Lignes Cotation1","type":"main","index":0}]]},"📋 Créer Lignes Cotation1":{"main":[[{"node":"📧 Générer Email HTML1","type":"main","index":0}]]},"💾 Créer Demande Cotation1":{"main":[[{"node":"🔄 Transformer Articles en Lignes1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"📧 Générer Email HTML1":{"main":[[{"node":"📨 Envoyer Email1","type":"main","index":0}]]},"📨 Envoyer Email1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"🔑 Générer UUID + N° RFQ1","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"supprime les doublons","type":"main","index":0}]]},"supprime les doublons":{"main":[[{"node":"🚫 Get Blacklist","type":"main","index":0}]]},"🏷️ Set Article Code":{"main":[[{"node":"🔀 Fusionner Données","type":"main","index":0},{"node":"🔍 Vérifier Anti-Doublon","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:⏰ Déclenchement 8h00 (Lun-Ven)":{"recurrenceRules":[]}},"meta":null,"pinData":{"⏰ Déclenchement 8h00 (Lun-Ven)":[{"json":{"timestamp":"2026-06-26T10:00:00.019+01:00","Readable date":"June 26th 2026, 10:00:00 am","Readable time":"10:00:00 am","Day of week":"Friday","Year":"2026","Month":"June","Day of month":"26","Hour":"10","Minute":"00","Second":"00","Timezone":"Africa/Casablanca (UTC+01:00)"}}]},"versionId":"f80bf6f9-93f5-4704-b2e1-d5fe728f1e9e","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}