[git] backup workflows-UynjYVoJPg254dC5.json
{"createdAt":"2026-06-04T22:06:39.246Z","updatedAt":"2026-06-08T21:53:34.000Z","id":"UynjYVoJPg254dC5","name":"[GIT] backup workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,-16],"id":"078635b5-779b-416a-97fd-3ab9ef7581d3","name":"Get many workflows","credentials":{"n8nApi":{"id":"IqeJtDFzSknFlDfi","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[864,-112],"id":"b6b0e99b-592d-4079-bb23-10cd62e07998","name":"Convert to File"},{"parameters":{"events":["update","activate","init"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-32,-208],"id":"adf3cc56-425b-4c70-af87-ea58d727f07d","name":"n8n Trigger"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $('n8n Trigger').item.json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[640,-208],"id":"f76c77ca-22c6-4178-8420-cbc45ed72a95","name":"Get a workflow","credentials":{"n8nApi":{"id":"IqeJtDFzSknFlDfi","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,-16],"id":"cfb83ac1-bfc1-401e-95fb-6ee5a16dd766","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"meedastitou","mode":"list","cachedResultName":"meedastitou","cachedResultUrl":"https://github.com/meedastitou"},"repository":{"__rl":true,"value":"n8n-version","mode":"list","cachedResultName":"n8n-version","cachedResultUrl":"https://github.com/meedastitou/n8n-version"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $binary.data.fileName }}/{{ $now.format('yyyy-MM-dd') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,-208],"id":"182e9bc7-341f-414f-9de4-d3482327c704","name":"Edit a file","webhookId":"573f56e5-20b6-43b2-9b56-268e2be96248","credentials":{"githubApi":{"id":"2RDoaRN5Yl89BfBa","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"meedastitou","mode":"list","cachedResultName":"meedastitou","cachedResultUrl":"https://github.com/meedastitou"},"repository":{"__rl":true,"value":"n8n-version","mode":"list","cachedResultName":"n8n-version","cachedResultUrl":"https://github.com/meedastitou/n8n-version"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[192,-208],"id":"d10f86e0-67ec-44da-b763-e26aa9558223","name":"List files","webhookId":"9193285d-994f-44fc-a1ac-8c054a2cb0d6","credentials":{"githubApi":{"id":"2RDoaRN5Yl89BfBa","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[416,-208],"id":"d9ee80f7-32bc-49d4-8f8e-22e4c81aa418","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5622ba3a-b168-4da9-9226-99b951d155b8","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $binary.data.fileName }}","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1088,-112],"id":"576a99a0-a91e-4e79-a72f-29155fd0a200","name":"If"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"meedastitou","mode":"list","cachedResultName":"meedastitou","cachedResultUrl":"https://github.com/meedastitou"},"repository":{"__rl":true,"value":"n8n-version","mode":"list","cachedResultName":"n8n-version","cachedResultUrl":"https://github.com/meedastitou/n8n-version"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $binary.data.fileName }}/{{ $now.format('yyyy-MM-dd') }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1312,-16],"id":"4397d114-992a-4380-a075-4b0a28a4d059","name":"Create a file","webhookId":"aee1d4cc-55ae-46ff-b075-7b8188d3733e","credentials":{"githubApi":{"id":"2RDoaRN5Yl89BfBa","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"meedastitou","mode":"list","cachedResultName":"meedastitou","cachedResultUrl":"https://github.com/meedastitou"},"repository":{"__rl":true,"value":"n8n-version","mode":"list","cachedResultName":"n8n-version","cachedResultUrl":"https://github.com/meedastitou/n8n-version"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[176,-16],"id":"58065ce8-9520-4272-aa95-31e25bebd914","name":"List files1","webhookId":"9193285d-994f-44fc-a1ac-8c054a2cb0d6","credentials":{"githubApi":{"id":"2RDoaRN5Yl89BfBa","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[416,-16],"id":"931f42e8-b397-4b6c-8d6a-61834cdf4b41","name":"Aggregate1"}],"connections":{"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"If","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"List files","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List files1","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"List files1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1427e97-a0a2-4f5b-a237-508a76699cfd","triggerCount":2,"shared":[{"createdAt":"2026-06-04T22:06:39.267Z","updatedAt":"2026-06-04T22:06:39.267Z","role":"workflow:owner","workflowId":"UynjYVoJPg254dC5","projectId":"jsZ7TccZOR8Hva7g","project":{"createdAt":"2025-08-17T02:03:47.379Z","updatedAt":"2026-06-03T17:29:06.381Z","id":"jsZ7TccZOR8Hva7g","name":"mohamed astitou <astitoumd@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-17T02:03:47.380Z","updatedAt":"2025-08-17T02:03:47.380Z","role":"project:personalOwner","userId":"06dc6f30-e515-4ddc-b480-244bd26fb7d4","projectId":"jsZ7TccZOR8Hva7g","user":{"createdAt":"2025-08-17T02:03:41.340Z","updatedAt":"2026-06-08T19:28:18.000Z","id":"06dc6f30-e515-4ddc-b480-244bd26fb7d4","email":"astitoumd@gmail.com","firstName":"mohamed","lastName":"astitou","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-17T02:10:19.494Z","personalization_survey_n8n_version":"1.106.3","automationGoalDevops":["other","ticketing-systems-integrations","reporting","monitoring-alerting","incident-response","cloud-infrastructure-orchestration","data-syncing","ci-cd"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"LX03ApPTjd9SQGGx","userActivatedAt":1763987693448,"npsSurvey":{"responded":true,"lastShownAt":1765529904387},"dismissedCallouts":{"aiAgentStarterCallout":true}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-07","isPending":false}}]}}],"tags":[]}