[inv2] facturation automatique ( base sur depot )-Sr76Tv5FJY2vrXfo.json
{"createdAt":"2026-03-06T20:45:28.114Z","updatedAt":"2026-06-05T19:48:37.000Z","id":"Sr76Tv5FJY2vrXfo","name":"[INV2] Facturation Automatique ( base sur depot )","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"WITH BR_UNIQUES AS (\n    -- On récupère la liste unique des couples Facture / BR \n    -- en filtrant déjà ici pour exclure ceux qui ont des retours\n    SELECT DISTINCT \n        DP.XFACT_0, \n        DD.XNRCP_0, \n        DD.XMNTRCP_0\n    FROM BASE1.XDEPFAD DD\n    INNER JOIN BASE1.XDEPFACT DP ON DD.XNUM_0 = DP.XNUM_0\n    LEFT JOIN BASE1.PRETURND N ON N.PTHNUM_0 = DD.XNRCP_0\n    WHERE N.PTHNUM_0 IS NULL -- EXCLUT les BR présents dans la table des retours\n)\nSELECT\n    DISTINCT\n    DP.XCODF_0 AS CODE_FRNS,\n    BP.BPRNAM_0 AS Raison,\n    BP.XCPT_0 AS Comptable,\n    DD.XNUM_0 AS N_Depot,\n    DP.XMNT_0 AS Mnt_Facture,\n    DP.XCMD_0 AS BC,\n    DP.XMNTCMD_0 AS MontantBC,\n    DD.XNRCP_0 AS Bon_Reception,\n    DP.XFACT_0 AS FactureFrns,\n    FORMAT(DP.XDATF_0, 'dd/MM/yyyy') AS DateFacture,\n    \n    -- Montant du BR (Puisqu'on exclut les retours, le montant est \"plein\")\n    DD.XMNTRCP_0 AS Montant_Net_Par_BR,\n\n    -- Somme des BR valides (sans retours) pour cette facture\n    SUM(DD.XMNTRCP_0) OVER(PARTITION BY DP.XFACT_0) AS SOME_BR_F,\n\n    -- Écart calculé uniquement sur les BR sans retours\n    (DP.XMNT_0 - (SELECT SUM(XMNTRCP_0) FROM BR_UNIQUES WHERE XFACT_0 = DP.XFACT_0)) AS Ecart_Global\n\nFROM BASE1.XDEPFAD DD\nINNER JOIN BASE1.XDEPFACT DP ON DD.XNUM_0 = DP.XNUM_0\nLEFT JOIN BASE1.BPARTNER BP ON DP.XCODF_0 = BP.BPRNUM_0\nLEFT JOIN BASE1.PINVOICED P ON P.NUMORI_0 = DD.XNRCP_0\nLEFT JOIN BASE1.PRECEIPT PR ON PR.PTHNUM_0 = DD.XNRCP_0\n\n-- Jointure pour filtrer les retours dans la requête principale\nLEFT JOIN BASE1.PRETURND N_FILTER ON N_FILTER.PTHNUM_0 = DD.XNRCP_0\n\nWHERE DD.XNRCP_0 <> ''\n  AND P.NUM_0 IS NULL\n  AND PR.XRETINT_0 <> 2\n  AND N_FILTER.PTHNUM_0 IS NULL -- CONDITION CLÉ : Exclut tout BR ayant une ligne de retour\n\nORDER BY DD.XNRCP_0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-416,-48],"id":"b608af37-b2fb-41f2-93a8-838602b88ef9","name":"Microsoft SQL - Recuperer BR a Facture","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    .filter(item => {\n        const ecart = item.json.Ecart_Global;\n        return Math.abs(parseFloat(ecart)) <= 1;\n    })\n    .map(item => {\n        const row = item.json;\n        const facturefrs = row.FactureFrns?.startsWith(\"FN°\") \n            ? row.FactureFrns \n            : \"FN°\" + (row.FactureFrns || \"\");\n        \n        return {\n            Code: row.CODE_FRNS || \"\",\n            DFF: row.N_Depot || \"\",\n            FactureFrs: facturefrs,\n            Date: row.DateFacture || \"\",\n            BR: row.Bon_Reception || \"\",\n            Nom: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-48],"id":"7d958165-a2c2-4b4e-86b5-424c2309df1c","name":"Code - FILTRER PAR ECART"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8003/api/facturation/data","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{$json.donnees}},\n  \"email_expediteur\": \"{{$json.email_expediteur}}\",\n  \"headless\": {{$json.headless}}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-48],"id":"ad81f321-772c-46a5-b58d-d42adc81cba6","name":"HTTP Request1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,-48],"id":"4bcbf093-2aaa-48a2-b650-69b31921e04e","name":"Schedule Trigger"}],"connections":{"Microsoft SQL - Recuperer BR a Facture":{"main":[[{"node":"Code - FILTRER PAR ECART","type":"main","index":0}]]},"Code - FILTRER PAR ECART":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Microsoft SQL - Recuperer BR a Facture","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f8214f6-b392-4818-9d85-08e4c466cfd4","triggerCount":1,"tags":[]}