[inv3] dff=bc=br-cGfICxsmGZ0JPy22.json
{"createdAt":"2026-03-16T01:00:45.291Z","updatedAt":"2026-04-21T22:09:55.000Z","id":"cGfICxsmGZ0JPy22","name":"[INV3] DFF=BC=BR","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,0],"id":"e175124a-c3e5-4f15-a07e-4891e8d6ca28","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    D.PTHNUM_0 AS BR,\n    SUM(D.LINATIAMT_0) AS SUM_BRTTC_PAR_BR,\n    D.POHNUM_0 AS BC,\n    DP.XNUM_0 AS DFF,\n    DP.XRAISON_0 AS Nom,\n    DP.XMNT_0 AS MONTANT,\n    (DP.XMNT_0 - SUM(D.LINATIAMT_0)) AS Ecart,\n    DP.XFACT_0 AS FactureFrs,\n    FORMAT(DP.XDATF_0, 'dd/MM/yyyy') AS Date,\n    DP.XCODF_0 AS Code\nFROM BASE1.PRECEIPTD D\nLEFT JOIN BASE1.PINVOICED PD ON D.PTHNUM_0 = PD.NUMORI_0\nLEFT JOIN BASE1.PINVOICE E ON PD.NUM_0 = E.NUM_0\nLEFT JOIN BASE1.XDEPFACT DP ON D.POHNUM_0 = DP.XCMD_0\nLEFT JOIN BASE1.PRETURND PR ON D.PTHNUM_0 = PR.PTHNUM_0\nWHERE PD.NUM_0 IS NULL\n  AND D.PTHNUM_0 IS NOT NULL\n  AND D.RCPDAT_0 >= '20250101'\n  AND PR.PNHNUM_0 IS NULL\n  AND DP.XFACT_0 IS NOT NULL\n  AND D.POHNUM_0 IN (\n        SELECT POHNUM_0\n        FROM BASE1.PRECEIPTD\n        GROUP BY POHNUM_0\n        HAVING COUNT(PTHNUM_0) = 1\n  )\nGROUP BY\n    D.PTHNUM_0,\n    D.POHNUM_0,\n    DP.XRAISON_0,\n    DP.XNUM_0,\n    DP.XMNT_0,\n    DP.XFACT_0,\n    DP.XCODF_0,\n    DP.XDATF_0\nHAVING DP.XMNT_0 - SUM(D.LINATIAMT_0) = 0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[112,0],"id":"0bdb6261-c015-4e73-bb91-6ead02331fc1","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    .map(item => {\n        const row = item.json;\n        const facturefrs = row.FactureFrs?.startsWith(\"FN°\") \n            ? row.FactureFrs \n            : \"FN°\" + (row.FactureFrs || \"\");\n        \n        return {\n            Code: row.Code || \"\",\n            DFF: row.DFF || \"\",\n            FactureFrs: facturefrs,\n            Date: row.Date || \"\",\n            BR: row.BR || \"\",\n            Nom: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,0],"id":"bf9526ce-fb0d-423c-b78b-502cf4f7e95f","name":"Code"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8000/api/facturation/data","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{$json.donnees}},\n  \"email_expediteur\": \"{{$json.email_expediteur}}\",\n  \"headless\": {{$json.headless}}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,0],"id":"e4c610d0-6339-4120-8f94-c65a8bf85da8","name":"HTTP Request1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef182a38-9eb4-4d3f-af19-f743c1115b82","triggerCount":1,"tags":[]}