[inv1] regelement automatique-kZJRAxD8ismzmb9R.json
{"createdAt":"2026-03-09T19:29:54.267Z","updatedAt":"2026-06-06T01:17:50.000Z","id":"kZJRAxD8ismzmb9R","name":"[INV1] Regelement Automatique","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    .filter(item => {\n        const ecart = item.json.Ecart;\n        return Math.abs(parseFloat(ecart)) <= 1 && item.json.ModePaiement === \"LCR\" ;\n    })\n    .map(item => {\n        const row = item.json;\n        return {\n            Code_Frs: row.CodeFournisseur|| \"\",\n            N_Facture: row.NumFacture || \"\",\n            Refference: row.Reference,\n            Montant: row.ResteAPayer || \"\",\n            TVA: row.MontantTVA || \"\",\n            type_regelement: 1\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0],"id":"aa171dae-68c1-4bb8-9ad8-3cab69290a7b","name":"Code - FILTRER PAR ECART"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8003/api/regelement/data","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{$json.donnees}},\n  \"email_expediteur\": \"{{$json.email_expediteur}}\",\n  \"headless\": {{$json.headless}}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0],"id":"498575b2-8a2b-4710-8655-658623b04910","name":"HTTP Request1"},{"parameters":{"operation":"executeQuery","query":"WITH \n-- 1. CTE pour identifier les fournisseurs ayant un règlement\nFournisseurs_Avec_Reglement AS (\n    SELECT DISTINCT pay.BPR_0\n    FROM x3.BASE1.PAYMENTH pay\n    INNER JOIN BASE1.XREGNLR x ON x.DOCOR_0 = pay.NUM_0\n),\n-- 2. CTE pour calculer la TVA par facture (évite les doublons lors des jointures)\nTVA_Factures AS (\n    SELECT NUM_0, SUM(AMTTAXLIN1_0) AS TotalTVA\n    FROM BASE1.PINVOICED\n    GROUP BY NUM_0\n)\n\nSELECT\n    G.NUM_0                                         AS NumFacture,\n    P.BPRVCR_0                                      AS Reference,\n    P.BPR_0                                         AS CodeFournisseur,\n    P.BPRNAM_0                                      AS Raison,\n    G.PAM_0                                         AS ModePaiement,\n    G.AMTCUR_0                                      AS Montant,\n    (G.AMTCUR_0 - G.PAYCUR_0 - G.TMPCUR_0)          AS ResteAPayer,\n    (F.enReception + F.enFacturation + F.facture \n + F.retourNF + F.[Soldedépart] + F.[Réglement])    AS SoldeFournisseur,\n    -- CALCUL DE LA TVA AU PRORATA DU RESTE A PAYER\n    CASE \n        WHEN G.AMTCUR_0 > 0 \n        THEN (T.TotalTVA * (G.AMTCUR_0 - G.PAYCUR_0 - G.TMPCUR_0) / G.AMTCUR_0) \n        ELSE 0 \n    END                                      AS MontantTVA, -- Utilisation du calcul provenant de PINVOICED\n    (F.enReception + F.enFacturation + F.facture \n     + F.retourNF + F.Soldedépart + F.Réglement) \n    - \n    SUM(G.AMTCUR_0 - G.PAYCUR_0 - G.TMPCUR_0) \n        OVER (PARTITION BY P.BPR_0)                 AS Ecart\n\nFROM BASE1.GACCDUDATE G\nINNER JOIN BASE1.PINVOICE P \n    ON P.NUM_0 = G.NUM_0\nINNER JOIN BASE1.SITUATION_FOU F \n    ON F.BPRNUM_0 = P.BPR_0\nLEFT JOIN TVA_Factures T \n    ON T.NUM_0 = P.NUM_0 -- Jointure pour récupérer la TVA calculée\n\nWHERE\n    G.TYP_0 NOT IN ('ECAHI','FAFHI')\n    AND G.TYPDUD_0 = 2\n    AND G.DUDSTA_0 = 2\n    AND G.BPRTYP_0 = 2\n    AND (G.AMTCUR_0 - G.PAYCUR_0 - G.TMPCUR_0) >= 100\n    AND (P.XORDRG_0 <> 2 OR P.XDTFNSUI_0 < GETDATE())\n    AND (G.AMTCUR_0 - G.PAYCUR_0 - G.TMPCUR_0) > 0\n    AND (F.enReception + F.enFacturation + F.facture \n         + F.retourNF + F.[Soldedépart] + F.[Réglement]) > 0\n    AND NOT EXISTS (\n        SELECT 1 \n        FROM Fournisseurs_Avec_Reglement R \n        WHERE R.BPR_0 = P.BPR_0\n    )\n    AND G.NUM_0 LIKE 'FF%'\n    AND P.BPR_0<>'T3691'\n\nORDER BY \n    P.BPR_0, \n    G.NUM_0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[224,0],"id":"08db7209-6211-40b4-ae67-5c799f3a069e","name":"Microsoft SQL - Recuperer FF a Regle","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"e58f5659-7b55-47dc-8b85-40d6230ab359","name":"Schedule Trigger"}],"connections":{"Code - FILTRER PAR ECART":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Microsoft SQL - Recuperer FF a Regle":{"main":[[{"node":"Code - FILTRER PAR ECART","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Microsoft SQL - Recuperer FF a Regle","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e92e4c5e-d6b5-4653-97b4-2ac802ab9c11","triggerCount":1,"tags":[]}