[proxy post]-kL7fAHNnzZqK59SH.json
{"createdAt":"2026-02-02T08:13:04.882Z","updatedAt":"2026-05-14T16:29:08.000Z","id":"kL7fAHNnzZqK59SH","name":"[PROXY POST]","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// ============================================\n// 🔧 RECONSTRUIRE LE BODY POUR PHP\n// ============================================\n\nconst input = $input.first().json;\nconst body = input.body || {};\n\nconsole.log('=== DONNÉES REÇUES PAR N8N ===');\nconsole.log('Body keys:', Object.keys(body));\n\n// Construire la chaîne URL-encoded EXACTEMENT comme le navigateur l'envoie\nconst params = [];\n\nfor (const [key, value] of Object.entries(body)) {\n    // Ne PAS encoder les crochets [] dans les clés pour que PHP les parse comme tableau\n    // PHP attend: lignes[0][ligne_id]=436\n    const encodedValue = encodeURIComponent(value === null || value === undefined ? '' : value);\n    params.push(`${key}=${encodedValue}`);\n}\n\nconst formBody = params.join('&');\n\nconsole.log('=== FORM BODY CONSTRUIT ===');\nconsole.log('Nombre de paramètres:', params.length);\nconsole.log('Taille:', formBody.length, 'caractères');\nconsole.log('Aperçu:', formBody.substring(0, 300));\n\nreturn { json: { formBody } };"},"id":"704edecb-f17d-44e3-b30e-367d55e44b07","name":"🔧 Préparer POST","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,176]},{"parameters":{"method":"POST","url":"http://192.168.1.211/formulaire_fournisseur/public/traitement.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/x-www-form-urlencoded","body":"={{ $json.formBody }}","options":{"timeout":120000}},"id":"865dd6be-d349-4e74-891a-2e873aa51511","name":"🌐 Forward POST","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,176]},{"parameters":{"jsCode":"// ============================================\n// 💅 INJECTER CSS DANS LA RÉPONSE\n// ============================================\n\nlet html = $input.first().json.data || $input.first().json.body || '';\n\nconsole.log('=== RÉPONSE PHP ===');\nconsole.log('HTML length:', html.length);\n\nconst css = `\n<style>\n* { margin: 0; padding: 0; box-sizing: border-box; }\nbody {\n    font-family: 'Segoe UI', sans-serif;\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    min-height: 100vh;\n    padding: 20px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n}\n.container {\n    max-width: 600px;\n    background: white;\n    border-radius: 12px;\n    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);\n    overflow: hidden;\n    text-align: center;\n}\n.header { padding: 40px; color: white; }\n.header.success, .success .header { background: linear-gradient(135deg, #28a745, #20c997); }\n.header.error, .error .header { background: linear-gradient(135deg, #dc3545, #c82333); }\n.icon { font-size: 80px; margin-bottom: 20px; }\n.header h1 { font-size: 28px; margin-bottom: 10px; }\n.content { padding: 40px; }\n.message { color: #666; margin-bottom: 20px; }\n.footer { background: #f8f9fa; padding: 20px; color: #666; font-size: 12px; }\n.btn { display: inline-block; padding: 14px 30px; background: #0066cc; color: white !important; text-decoration: none; border-radius: 6px; font-weight: 600; }\n.alert { padding: 15px; border-radius: 6px; margin-bottom: 20px; }\n.alert-success { background: #d4edda; color: #155724; border-left: 4px solid #28a745; }\n.alert-error, .alert-danger { background: #f8d7da; color: #721c24; border-left: 4px solid #dc3545; }\n.info-box { background: #f8f9fa; border-left: 4px solid #0066cc; padding: 20px; margin: 20px 0; text-align: left; }\n</style>\n`;\n\nif (html.includes('</head>')) {\n    html = html.replace('</head>', css + '</head>');\n} else if (html.includes('<body')) {\n    html = html.replace('<body', css + '<body');\n} else {\n    html = css + html;\n}\n\nreturn { json: { html } };"},"id":"0c37209c-80fb-47a2-964f-124bc7960a78","name":"💅 Inject CSS","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}},"id":"6ea2f65e-f3fc-47b4-894c-b8a63c26b455","name":"📤 Respond POST","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[176,320]},{"parameters":{"jsCode":"// Recupere les donnees du noeud MySQL Query (noeud precedent)\nconst data = $input.first().json;\n\nconst code_fournisseur = data.code_fournisseur || 'N/A';\nconst nom_fournisseur = data.nom_fournisseur || 'Non specifie';\nconst uuid = data.uuid || 'N/A';\nconst numero_rfq = data.numero_rfq || 'N/A';\nconst numeros_da = data.numeros_da || 'N/A';\n\nconst date_reponse = new Date().toLocaleString('fr-FR', { timeZone: 'Europe/Paris' });\n\n// Liste des articles\nlet tableArticles = '';\nconst articlesStr = data.articles || '';\nif (articlesStr) {\n    const articlesArray = articlesStr.split('||');\n    for (let i = 0; i < articlesArray.length; i++) {\n        const article = articlesArray[i];\n        const tiretIndex = article.indexOf(' - ');\n        let code = '';\n        let designation = '';\n        if (tiretIndex > -1) {\n            code = article.substring(0, tiretIndex);\n            designation = article.substring(tiretIndex + 3);\n        } else {\n            code = article;\n        }\n        tableArticles += '<tr><td style=\"padding:10px;border:1px solid #dddddd;font-weight:bold;\">' + code + '</td><td style=\"padding:10px;border:1px solid #dddddd;\">' + designation + '</td></tr>';\n    }\n}\n\n// LIEN DASHBOARD - MODIFIEZ CETTE URL\nconst lienDashboard = 'http://192.168.1.24';\n\nconst emailHtml = '<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">' +\n'<html xmlns=\"http://www.w3.org/1999/xhtml\">' +\n'<head>' +\n'<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />' +\n'<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />' +\n'<title>Nouvelle Reponse Fournisseur</title>' +\n'</head>' +\n'<body style=\"margin:0;padding:0;background-color:#f4f4f4;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#f4f4f4;\">' +\n'<tr>' +\n'<td align=\"center\" style=\"padding:20px 0;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color:#ffffff;border-radius:8px;\">' +\n\n'<tr>' +\n'<td align=\"center\" bgcolor=\"#0066cc\" style=\"padding:30px;background-color:#0066cc;\">' +\n'<h1 style=\"margin:0;color:#ffffff;font-family:Arial,sans-serif;font-size:24px;\">Nouvelle Reponse Fournisseur</h1>' +\n'</td>' +\n'</tr>' +\n\n'<tr>' +\n'<td style=\"padding:20px;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#e8f4fd;border-left:5px solid #0066cc;\">' +\n'<tr>' +\n'<td style=\"padding:20px;\">' +\n'<h3 style=\"margin:0 0 10px 0;color:#0066cc;font-family:Arial,sans-serif;\">Fournisseur</h3>' +\n'<p style=\"margin:5px 0;font-family:Arial,sans-serif;font-size:14px;\"><strong>Code:</strong> ' + code_fournisseur + '</p>' +\n'<p style=\"margin:5px 0;font-family:Arial,sans-serif;font-size:14px;\"><strong>Nom:</strong> ' + nom_fournisseur + '</p>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'</td>' +\n'</tr>' +\n\n'<tr>' +\n'<td style=\"padding:0 20px 20px 20px;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#fff3cd;border-left:5px solid #ffc107;\">' +\n'<tr>' +\n'<td style=\"padding:20px;\">' +\n'<h3 style=\"margin:0 0 10px 0;color:#856404;font-family:Arial,sans-serif;\">Demandes Achat</h3>' +\n'<p style=\"margin:5px 0;font-family:Arial,sans-serif;font-size:18px;font-weight:bold;color:#0066cc;\">' + numeros_da + '</p>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'</td>' +\n'</tr>' +\n\n'<tr>' +\n'<td style=\"padding:0 20px 20px 20px;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#d4edda;border-left:5px solid #28a745;\">' +\n'<tr>' +\n'<td style=\"padding:20px;\">' +\n'<h3 style=\"margin:0 0 10px 0;color:#155724;font-family:Arial,sans-serif;\">Articles</h3>' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#ffffff;\">' +\n'<tr style=\"background-color:#f8f9fa;\">' +\n'<th style=\"padding:10px;border:1px solid #dddddd;text-align:left;font-family:Arial,sans-serif;\">Code</th>' +\n'<th style=\"padding:10px;border:1px solid #dddddd;text-align:left;font-family:Arial,sans-serif;\">Designation</th>' +\n'</tr>' +\ntableArticles +\n'</table>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'</td>' +\n'</tr>' +\n\n'<tr>' +\n'<td style=\"padding:0 20px 20px 20px;\">' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color:#f8f8f8;border:2px solid #0066cc;\">' +\n'<tr>' +\n'<td style=\"padding:25px;text-align:center;\">' +\n'<p style=\"margin:0 0 15px 0;font-family:Arial,sans-serif;font-size:16px;color:#333333;\">Pour consulter l\\'offre, merci de cliquer sur le lien suivant :</p>' +\n'<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" align=\"center\">' +\n'<tr>' +\n'<td align=\"center\" bgcolor=\"#28a745\" style=\"background-color:#28a745;border-radius:6px;\">' +\n'<a href=\"' + lienDashboard + '\" target=\"_blank\" style=\"display:inline-block;padding:15px 30px;font-family:Arial,sans-serif;font-size:16px;color:#ffffff;text-decoration:none;font-weight:bold;\">Voir l\\'offre en detail</a>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'<p style=\"margin:15px 0 0 0;font-family:Arial,sans-serif;font-size:12px;color:#666666;\">Ou copiez ce lien dans votre navigateur :</p>' +\n'<p style=\"margin:5px 0 0 0;font-family:Arial,sans-serif;font-size:12px;color:#0066cc;word-break:break-all;\">' + lienDashboard + '</p>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'</td>' +\n'</tr>' +\n\n'<tr>' +\n'<td bgcolor=\"#f8f9fa\" style=\"padding:20px;text-align:center;background-color:#f8f9fa;\">' +\n'<p style=\"margin:0;font-family:Arial,sans-serif;font-size:12px;color:#666666;\">Recu le ' + date_reponse + '</p>' +\n'</td>' +\n'</tr>' +\n\n'</table>' +\n'</td>' +\n'</tr>' +\n'</table>' +\n'</body>' +\n'</html>';\n\nreturn {\n    json: {\n        to: 'acheteur.1@jbel-annour.ma',\n        subject: 'Reponse Fournisseur - ' + nom_fournisseur + ' (' + code_fournisseur + ')',\n        html: emailHtml\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,0],"id":"3df2cef4-3d59-42b4-b431-2ab7d2eeab26","name":"Préparer email"},{"parameters":{"fromEmail":"achat@jbel-annour.ma","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{"ccEmail":"acheteur.1@jbel-annour.ma, acheteur.4@jbel-annour.ma, acheteuse.4@jbel-annour.ma, acheteuse@jbel-annour.ma, acheteuse.7@jbel-annour.ma, bassim@jbel-annour.ma ","bccEmail":"ingenieur.base.de.donnees@jbel-annour.ma"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[336,0],"id":"b889b025-f519-4c5f-a31b-ed119cd97462","name":"Send email","webhookId":"b28b2500-5c89-4952-8f7f-0214a7be7010","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}}},{"parameters":{"httpMethod":"POST","path":"formulairee/:uuid","responseMode":"responseNode","options":{}},"id":"345928e1-b742-44ca-97f1-5c8028229228","name":"POST Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-704,176],"webhookId":"proxy-formulaire-post"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    f.code_fournisseur,\n    f.nom_fournisseur,\n    dc.uuid,\n    dc.numero_rfq,\n    GROUP_CONCAT(DISTINCT lc.numero_da SEPARATOR ', ') AS numeros_da,\n    GROUP_CONCAT(DISTINCT CONCAT(lc.code_article, ' - ', lc.designation_article) SEPARATOR '||') AS articles\nFROM demandes_cotation dc\nJOIN fournisseurs f ON dc.code_fournisseur = f.code_fournisseur\nLEFT JOIN lignes_cotation lc ON dc.uuid = lc.rfq_uuid\nWHERE dc.uuid = '{{ $('POST Webhook').first().json.params.uuid }}'\nGROUP BY f.code_fournisseur, f.nom_fournisseur, dc.uuid, dc.numero_rfq","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[0,0],"id":"1c8fadca-a106-48c0-84ec-a2549919c581","name":"Execute a SQL query","credentials":{"mySql":{"id":"2f6haaQmqATi99ir","name":"MySQL account 2"}}}],"connections":{"🔧 Préparer POST":{"main":[[{"node":"🌐 Forward POST","type":"main","index":0}]]},"🌐 Forward POST":{"main":[[{"node":"💅 Inject CSS","type":"main","index":0},{"node":"Execute a SQL query","type":"main","index":0}]]},"💅 Inject CSS":{"main":[[{"node":"📤 Respond POST","type":"main","index":0}]]},"Préparer email":{"main":[[{"node":"Send email","type":"main","index":0}]]},"POST Webhook":{"main":[[{"node":"🔧 Préparer POST","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Préparer email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"e3380b65-36b2-44c6-8457-a08fd56f8b05","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}