[smtp] achat-5t10cue5kTGttmp1.json
{"createdAt":"2026-03-12T18:39:25.975Z","updatedAt":"2026-07-07T02:02:54.000Z","id":"5t10cue5kTGttmp1","name":"[SMTP] ACHAT","active":true,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-480,144],"id":"d79d7cad-b3e8-46a6-bb16-1618e1291231","name":"IMAP Trigger -  Achats","credentials":{"imap":{"id":"cx9YaBLf5Y1SLSfl","name":"IMAP achat"}}},{"parameters":{"workflowId":{"__rl":true,"value":"UNRSLoVIwbtpqZt3","mode":"list","cachedResultName":"[ACH3] RECUPERER LES REPONSE via EMAIL"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-48,32],"id":"a14e566a-e631-475b-83bc-fe297a953d68","name":"Execute Workflow - [ACH3] RECUPERER LES REPONSE via EMAIL"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"cyber.analyst@jbel-annour.ma","subject":"={{ $json.subject }} // from {{ $json.from }}","html":"=from {{ $json.from }}\n\n{{ $json.textHtml }}","options":{"attachments":"attachment_0"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-48,240],"id":"65de6a08-0f98-4646-8aa7-36edead42146","name":"Send email","webhookId":"7b3cd703-9c74-4f08-98b6-81d2a2fbc2c8","credentials":{"smtp":{"id":"Q5Bchqa5QwHorq80","name":"AI SMTP"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Z94crelg24PUUlys","mode":"list","cachedResultName":"HICHAM-- [ACH3] RECUPERER LES REPONSE via EMAIL Copier"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-48,-224],"id":"87e08f5f-c438-4fc8-b721-c5fc38a04d26","name":"Execute Workflow - [ACH3] RECUPERER LES REPONSE via EMAIL1"}],"connections":{"IMAP Trigger -  Achats":{"main":[[{"node":"Execute Workflow - [ACH3] RECUPERER LES REPONSE via EMAIL","type":"main","index":0},{"node":"Send email","type":"main","index":0}]]},"Execute Workflow - [ACH3] RECUPERER LES REPONSE via EMAIL1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:IMAP Trigger -  Achats":{"lastMessageUid":1653}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9849cf69-46b0-49b5-b7d8-bf1ea3c603e6","triggerCount":1,"tags":[]}