a.004-send_email_to_customers-QZN2dDqzYlOgh2CI.json
{"createdAt":"2025-12-29T21:18:48.875Z","updatedAt":"2026-01-04T23:50:16.000Z","id":"QZN2dDqzYlOgh2CI","name":"A.004-send_email_to_customers","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"20731171-6d2c-4940-9387-b3b00c38e09a","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"WITH RankedReceipts AS (\n    SELECT \n        D.PTHNUM_0        AS receipt_number,\n        D.RCPDAT_0        AS receipt_date,\n        D.LINATIAMT_0     AS receipt_total_amount_ttc,\n        D.POHNUM_0        AS purchase_order_number,\n        DP.XNUM_0         AS supplier_invoice_number,\n        DP.XFACT_0        AS supplier_invoice_reference,\n        DP.XMNT_0         AS invoiced_amount,\n        DP.XMNTCMD_0      AS remaining_po_amount,\n        D.BPSNUM_0,\n\t\tBA.WEB_0\t\t  AS email_fournisseur,\n        DP.XRAISON_0      AS supplier_name,\n        PD.NUM_0          AS matched_invoice_number,\n        DP.XFACT_0        AS xfact_check,\n        ROW_NUMBER() OVER (PARTITION BY D.PTHNUM_0 ORDER BY D.RCPDAT_0 DESC) AS rn\n    FROM x3.BASE1.PRECEIPTD D\n    LEFT JOIN x3.BASE1.PINVOICED PD ON D.PTHNUM_0 = PD.NUMORI_0\n    LEFT JOIN x3.BASE1.XDEPFACT DP ON D.POHNUM_0 = DP.XCMD_0\n    LEFT JOIN x3.BASE1.PRETURND PR ON D.PTHNUM_0 = PR.PTHNUM_0\n\tLEFT JOIN x3.BASE1.BPADDRESS BA ON D.BPSNUM_0 = BA.BPANUM_0\n    WHERE \n        PD.NUM_0 IS NULL\n        AND PR.PNHNUM_0 IS NULL\n        AND D.PTHNUM_0 IS NOT NULL\n        AND D.RCPDAT_0 >= '2025-01-01'\n        AND DATEDIFF(DAY, D.RCPDAT_0, GETDATE()) > 5\n        AND DP.XFACT_0 = ''\n)\nSELECT \n    receipt_number,\n    receipt_date,\n    receipt_total_amount_ttc,\n    purchase_order_number,\n    supplier_invoice_number,\n    supplier_invoice_reference,\n    invoiced_amount,\n    remaining_po_amount,\n    BPSNUM_0,\n\temail_fournisseur,\n    supplier_name,\n    matched_invoice_number,\n    xfact_check\nFROM RankedReceipts\nWHERE rn = 1\nORDER BY receipt_number DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[256,0],"id":"8d76967f-a6c7-4924-b9af-a988895e7af1","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"qPxuSGrb49tg1aXP","name":"Sage Prod"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $input.all().length }}","operation":"larger"}]}},"name":"BC Trouvés ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[448,0],"id":"91c27729-5435-46dc-adb5-83155de95419"},{"parameters":{"values":{"string":[{"name":"numero_bc","value":"={{ $('Loop sur BC').item.json.purchase_order_number }}"},{"name":"numero_br","value":"={{ $('Loop sur BC').item.json.receipt_number }}"},{"name":"code_fournisseur","value":"={{ $('Loop sur BC').item.json.BPSNUM_0 }}"},{"name":"nom_fournisseur","value":"={{ $('Loop sur BC').item.json.supplier_name }}"},{"name":"email","value":"={{ $('Loop sur BC').item.json.email_fournisseur }}"},{"name":"date_bc","value":"={{ $('Loop sur BC').item.json.receipt_date }}"}],"number":[{"name":"montant_ttc","value":"={{$('Loop sur BC').item.json.receipt_total_amount_ttc }}"},{"name":"bc_id","value":"={{$json[\"bc_id\"] || 0}}"},{"name":"nombre_relances","value":"={{$json[\"nombre_relances\"] || 0}}"},{"name":"jours_depuis_relance","value":"={{$json[\"jours_depuis_relance\"] || 999}}"},{"name":"montant_restant","value":"={{$('Loop sur BC').item.json.receipt_total_amount_ttc}}"}],"boolean":[{"name":"bc_existe","value":"={{$json[\"bc_id\"] > 0}}"}]},"options":{}},"name":"Merge Data","type":"n8n-nodes-base.set","typeVersion":1,"position":[1360,0],"id":"2a4552f7-f1c5-4c31-bc07-8e5bedbc638d"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"bc_existe\"]}}"}]}},"name":"Premier Contact ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1648,0],"id":"512f5363-5910-42c9-8990-d009589359d5"},{"parameters":{"operation":"executeQuery","query":"INSERT IGNORE INTO fournisseurs (code_fournisseur, nom_fournisseur, email, actif)\n  VALUES (\n  '{{$json.code_fournisseur}}',\n  '{{$json.nom_fournisseur}}',\n  '{{$json.email}}',    \n  TRUE\n  );\n-- Créer BC\\n\nINSERT INTO bons_commande (\nnumero_bc,\nnumero_br,\ncode_fournisseur,\ndate_bc,\nmontant_ttc,\nmontant_facture_total,\nstatut,\nstatut_paiement\n)\nVALUES (\n'{{$json.numero_bc}}',\n'{{$json.numero_br}}',\n'{{$json.code_fournisseur}}',\n'{{$json.date_bc}}',\n{{$json.montant_ttc}},\n0.0000,\n'en_attente',\n'non_facture'\n);\nSELECT LAST_INSERT_ID() as id\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1968,-16],"id":"b388e298-fd5d-4dfe-ada6-b4a938251c81","name":"create bc","credentials":{"mySql":{"id":"HY0cAb2ucxAhaHHY","name":"suivi_factures_fournisseurs"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2784,-16],"id":"e0e30f46-f1eb-4c0e-b517-8ac74f566c81","name":"Wait","webhookId":"7e49a04e-5c62-4a28-a050-b928116d282e"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,-16],"id":"a356b80c-afc0-4231-ba64-7b22e84bc165","name":"Loop sur BC"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"astitoumd@gmail.com","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body }}","options":{"ccEmail":"cyber.analyst@jbel-annour.ma"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2528,-16],"id":"0e0eb890-7595-4a74-85f0-4f639951f517","name":"Send email","webhookId":"2ac6ae30-c34f-43f7-a289-65ea4938c30c","credentials":{"smtp":{"id":"Q5Bchqa5QwHorq80","name":"AI SMTP"}}},{"parameters":{"assignments":{"assignments":[{"id":"2111a232-f10b-4cdd-973e-ecdb952d622d","name":"email_body","value":"=<!DOCTYPE html> <html> <head>   <meta charset=\"UTF-8\">   <style>     body { font-family: Arial, sans-serif; color: #333; line-height: 1.6; }     .container { max-width: 600px; margin: 0 auto; padding: 20px; }     .header { background-color: #2c3e50; color: white; padding: 20px; text-align: center; border-radius: 5px 5px 0 0; }     .content { background-color: #f8f9fa; padding: 30px; border: 1px solid #dee2e6; }     .info-box { background-color: white; padding: 20px; margin: 20px 0; border-left: 4px solid #3498db; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }     .info-row { padding: 10px 0; border-bottom: 1px solid #ecf0f1; }     .info-row:last-child { border-bottom: none; }     .label { font-weight: bold; color: #2c3e50; display: inline-block; width: 180px; }     .value { color: #555; }     .amount { font-size: 24px; font-weight: bold; color: #e74c3c; text-align: center; margin: 20px 0; }     .footer { background-color: #ecf0f1; padding: 15px; text-align: center; font-size: 12px; color: #7f8c8d; border-radius: 0 0 5px 5px; }     .button { display: inline-block; padding: 12px 30px; background-color: #3498db; color: white; text-decoration: none; border-radius: 5px; margin: 20px 0; }   </style> </head> <body>   <div class=\"container\">     <div class=\"header\">       <h2>Demande de Facture</h2>     </div>          <div class=\"content\">       <p>Bonjour <strong>{{ $('Premier Contact ?').item.json.nom_fournisseur }}</strong>,</p>              <p>Nous avons bien reçu votre livraison et vous en remercions.</p>              <div class=\"info-box\">         <h3 style=\"margin-top: 0; color: #2c3e50;\">📋 Détails de la commande</h3>                  <div class=\"info-row\">           <span class=\"label\">Bon de commande :</span>           <span class=\"value\">{{ $('Premier Contact ?').item.json.numero_bc }}</span>         </div>                  <div class=\"info-row\">           <span class=\"label\">Bon de réception :</span>           <span class=\"value\">{{ $('Premier Contact ?').item.json.numero_br }}</span>         </div>                  <div class=\"info-row\">           <span class=\"label\">Date :</span>           <span class=\"value\">{{ $('Premier Contact ?').item.json.date_bc.substring(0, 10) }}</span>         </div>                  <div class=\"info-row\">           <span class=\"label\">Code fournisseur :</span>           <span class=\"value\">{{ $('Premier Contact ?').item.json.code_fournisseur }}</span>         </div>       </div>              <div class=\"amount\">         💰 Montant Total TTC : {{ $('Premier Contact ?').item.json.montant_ttc }} DH       </div>              <p style=\"margin-top: 30px;\">Merci de nous transmettre votre <strong>facture</strong> correspondante en répondant à cet email avec le PDF en pièce jointe.</p>              <p style=\"color: #7f8c8d; font-size: 14px; margin-top: 30px;\">         ℹ️ <em>Pour un traitement rapide, merci d'indiquer le numéro de BC ({{ $('Premier Contact ?').item.json.numero_bc }}) dans l'objet de votre réponse.</em>       </p>     </div>          <div class=\"footer\">       <p style=\"margin: 5px 0;\"><strong>Service Achats</strong></p>       <p style=\"margin: 5px 0;\">📧 achats@votre-societe.com | ☎️ +212 XXX XXX XXX</p>       <p style=\"margin: 10px 0; color: #95a5a6;\">Cet email a été envoyé automatiquement. Merci de ne pas y répondre directement.</p>     </div>   </div> </body> </html>","type":"string"},{"id":"7985ac4f-f57d-4d13-a52b-0c5c6dd8ed5b","name":"email_subject","value":"=Demande de facture - BC {{ $('Premier Contact ?').item.json.numero_bc }}","type":"string"},{"id":"6a564c04-06c2-4816-b5a9-89a9e0840193","name":"email_to","value":"={{ $('Premier Contact ?').item.json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2176,-16],"id":"18b236a8-8cb0-4fa1-adb8-bb74946388e2","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  bc.id as bc_id,\n  bc.montant_facture_total,\n  bc.montant_restant,\n  COALESCE(MAX(r.nombre_relances), 0) as nombre_relances,\n  MAX(r.derniere_relance) as derniere_relance,\n  CASE \n  WHEN MAX(r.derniere_relance) IS NULL THEN 999\n  ELSE DATEDIFF(NOW(), MAX(r.derniere_relance))\n  END as jours_depuis_relance\n  FROM bons_commande bc\n  LEFT JOIN relances r ON bc.id = r.bc_id\n  WHERE bc.numero_bc = '{{ $json.purchase_order_number }}'\n  GROUP BY bc.id, bc.montant_facture_total, bc.montant_restant","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1072,0],"id":"94868221-eab7-4c2c-993c-6a284350540d","name":"Get BC","alwaysOutputData":true,"credentials":{"mySql":{"id":"HY0cAb2ucxAhaHHY","name":"suivi_factures_fournisseurs"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"BC Trouvés ?","type":"main","index":0}]]},"BC Trouvés ?":{"main":[[{"node":"Loop sur BC","type":"main","index":0}]]},"Merge Data":{"main":[[{"node":"Premier Contact ?","type":"main","index":0}]]},"Premier Contact ?":{"main":[[{"node":"create bc","type":"main","index":0}],[{"node":"Loop sur BC","type":"main","index":0}]]},"create bc":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop sur BC","type":"main","index":0}]]},"Loop sur BC":{"main":[[],[{"node":"Get BC","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Get BC":{"main":[[{"node":"Merge Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4ee11d2-a96b-47a0-b54b-76fabeb73466","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"},{"createdAt":"2025-12-31T13:39:18.887Z","updatedAt":"2025-12-31T13:39:18.887Z","id":"tnJanJhi4cKRPZXq","name":"newrs"}]}