a.005-receiption_email_from_acheteurs-4zQbCkYvTiRwwFPC.json
{"createdAt":"2025-12-31T13:40:08.646Z","updatedAt":"2026-06-22T16:31:44.000Z","id":"4zQbCkYvTiRwwFPC","name":"A.005-Receiption_email_from_acheteurs","active":true,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"dataPropertyAttachmentsPrefixName":"attachments","options":{}},"id":"fddd7c65-4ae2-443e-ad2a-4ed5131367e1","name":"Réception Email DA","type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[-336,896],"credentials":{"imap":{"id":"dLFAk2GH4r4sc0g8","name":"IMAP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,1184],"id":"a981cbd1-1c2a-4dda-ac5b-603f29041d42","name":"Switch"},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"4422bd5a-5849-4d10-93d7-b9993a577000","name":"Spreadsheet Read","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1168,1200]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"3de1c0b8-4391-426e-8c4f-947064860743","name":"Set Email Expediteur","type":"n8n-nodes-base.set","typeVersion":2,"position":[1392,1200]},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"2f8ec39c-f8c5-4aa7-b7d8-21a309823a17","name":"Spreadsheet Write","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1840,1200]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"9cc1b797-c7c5-43b6-83f6-7d0096ef2ee5","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2064,1200]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.subject }}","rightValue":"BR","operator":{"type":"string","operation":"contains"},"id":"5f847a65-bab4-4430-8f37-abec5feafe42"}],"combinator":"and"},"renameOutput":true,"outputKey":"BR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc69c9e0-8d81-4db6-a55a-b8cbb31d68be","leftValue":"={{ $json.subject }}","rightValue":"FF","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"414042cd-2a6c-4f2f-981d-738d2b6658d1","leftValue":"={{ $json.subject }}","rightValue":"RF","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7446fb9-2530-4098-ab59-acb614e356aa","leftValue":"={{ $json.subject }}","rightValue":"VR","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"VR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1b24d4a-1495-490d-99a8-3d848bb4e9fa","leftValue":"={{ $json.subject }}","rightValue":"IMP","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IMP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44d55220-b20f-484c-9063-8c470b002b9e","leftValue":"1","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BC"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,832],"id":"6e9b01a3-6f48-4fea-a3a1-67bd76b346f9","name":"Quel Subject1"},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"5272a80d-83e4-4047-a910-9e726187b211","name":"Spreadsheet Read1","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1168,528]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"83728ce2-1a7c-4152-ae15-90267c94d0b7","name":"Set Email Expediteur1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1392,528]},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"28551ee7-7265-43af-9e4f-a882f60a85fa","name":"Spreadsheet Write1","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1616,528]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_BR_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"4fcd7617-96df-4f96-9896-b9e54ef4127d","name":"Read/Write Files from Disk1","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1840,528]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,512],"id":"7b9cf228-00ae-4bed-9f80-821e4663e071","name":"email_contain_attachement"},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"{{ $('Réception Email DA').item.json.from }}\" --task_type receiption\n"},"id":"d241531e-e1b3-46bd-827c-9ddc6b7b56be","name":"Execute RPA BR","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2064,528]},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"astitoumd@gmail.com\"\n"},"id":"edcad395-b8f1-4ba0-8c07-d7e20e832c68","name":"Execute RPA BC","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2288,1200]},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"207f1852-5a2e-45c3-9365-a757ba484758","name":"Spreadsheet Read2","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1168,752]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"4ee511ee-9553-46b3-8c49-cc50299c2ac6","name":"Set Email Expediteur2","type":"n8n-nodes-base.set","typeVersion":2,"position":[1392,752]},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"1fb31c98-bb0a-4c84-9ebd-023f2ea9229f","name":"Spreadsheet Write2","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1616,752]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_FF_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"8f466b17-9872-41d3-a7e2-2e44265c5ebd","name":"Read/Write Files from Disk2","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1840,752]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,736],"id":"9465137e-d6ad-45e8-a7cb-d17ecf955a57","name":"email_contain_attachement1"},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"bcd4740f-dc66-49f2-8e2e-d515f6882970","name":"Spreadsheet Write3","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1616,976]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,960],"id":"7be56ad0-3894-425e-9769-404262e5b619","name":"email_contain_attachement2"},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"b73c6068-99d7-43df-8587-3502e2f3636c","name":"Spreadsheet RF","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1168,976]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"8c833ebe-972a-4a94-9e34-0a57e758df93","name":"Set Email RF","type":"n8n-nodes-base.set","typeVersion":2,"position":[1392,976]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_RF_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"41db15a8-ca3f-4788-a985-20e245b0509c","name":"write excel RF on disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1840,976]},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"{{ $('Réception Email DA').item.json.from }}\" --task_type regelement\n"},"id":"281013e8-c35d-4293-8768-f7237880067b","name":"Execute RPA RF","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2064,976]},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"{{ $('Réception Email DA').item.json.from }}\" --task_type facturation\n"},"id":"3a4a13d1-3b48-4239-b5aa-6b3944a9a714","name":"Execute RPA FF","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2064,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f21c5b1-a598-4147-bb39-e704ae257165","leftValue":"={{ $json.email_expediteur }}","rightValue":"<responsable.comptabilite@jbel-annour.ma>","operator":{"type":"string","operation":"equals"}},{"id":"094f4ff1-0458-4782-bb5f-545f14b2e3e9","leftValue":"={{ $json.email_expediteur }}","rightValue":"<y.saadaoui@jbel-annour.com>","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6802b189-fe25-40a0-ad06-d12625c6e2f2","leftValue":"={{ $json.email_expediteur }}","rightValue":"<comptable.6@jbel-annour.ma>","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,1200],"id":"8775fc94-8351-414e-afc8-0a4ab047d586","name":"If"},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"69d2dae2-243e-4dd3-8993-c11c0434a6ef","name":"Spreadsheet Write4","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1616,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,1424],"id":"f1245684-c59b-4897-b766-41cd43fee2a9","name":"email_contain_attachement3"},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"a8fa9c9e-5a4b-4d1b-ab7b-b74a976a2525","name":"Spreadsheet VR","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1168,1440]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"1ddbf1a7-4baa-463b-828e-e7a959b13d27","name":"Set Email VR","type":"n8n-nodes-base.set","typeVersion":2,"position":[1392,1440]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_VR_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"b7e93a86-5e3e-4e5c-86b4-44931f8d3687","name":"write excel VR on disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1840,1440]},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"{{ $('Réception Email DA').item.json.from }}\" --task_type vairement\n"},"id":"306f73af-6751-4b8a-b678-bc14d9e9b1fa","name":"Execute RPA VR","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2064,1440]},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{}},"id":"9632f6fc-c3fe-4ea4-8963-c7257ca762a1","name":"Spreadsheet Write5","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1664,1696]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"8696b2e4-200c-42fe-82aa-868897689fe5"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec262dca-da7b-430a-b64c-f271cca707bc","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"85ce952b-290f-48ee-a750-bc1cfefee560","leftValue":"={{ $input.item.binary.attachments0.mimeType }}","rightValue":"application/vnd.ms-excel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[928,1680],"id":"d935ccc1-3022-4b8a-9852-c75cc095f8c6","name":"email_contain_attachement4"},{"parameters":{"binaryPropertyName":"attachments0","options":{"includeEmptyCells":true}},"id":"ec82586b-0263-4130-b487-777296abc053","name":"Spreadsheet IMP","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[1216,1696]},{"parameters":{"values":{"string":[{"name":"email_expediteur","value":"={{ $('Réception Email DA').item.json.from }}"}]},"options":{}},"id":"d916a8cf-526c-4c3c-8acc-1f61d7a41579","name":"Set Email IMP","type":"n8n-nodes-base.set","typeVersion":2,"position":[1440,1696]},{"parameters":{"operation":"write","fileName":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\data\\input\\excel\\fileName_IMP_{{ $now.toISO().replace('T','').replaceAll('-','').replaceAll(':','').substring(0,14) }}.xlsx","options":{"append":false}},"id":"9edb6862-d692-4a96-8ccd-3b717fe5c9d3","name":"write excel IMP on disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1888,1696]},{"parameters":{"command":"=C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\.venv\\Scripts\\python.exe C:\\Users\\x3admin\\Desktop\\Sage_x3_rpa\\scripts\\add_to_queue.py --file {{ $json.fileName }} --email \"{{ $('Réception Email DA').item.json.from }}\" --task_type imputation\n"},"id":"91ace170-9afc-4196-ae6f-ed3a8f818362","name":"Execute RPA IMP","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2112,1696]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9ad6985f-d4e7-4739-b0ae-17796f803860","leftValue":"={{ $json.subject }}","rightValue":"RE: demmande de avance","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,896],"id":"7e250d03-89d3-446d-af60-015d76b62e36","name":"If1"},{"parameters":{"workflowId":{"__rl":true,"value":"5YqisWHfKRHe53d6","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-288,1296],"id":"69ff7a77-e8be-485a-84b1-1f161b9dbbb0","name":"Execute Workflow"}],"connections":{"Réception Email DA":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Spreadsheet Read","type":"main","index":0}],[]]},"Spreadsheet Read":{"main":[[{"node":"Set Email Expediteur","type":"main","index":0}]]},"Set Email Expediteur":{"main":[[{"node":"If","type":"main","index":0}]]},"Spreadsheet Write":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute RPA BC","type":"main","index":0}]]},"Quel Subject1":{"main":[[{"node":"email_contain_attachement","type":"main","index":0}],[{"node":"email_contain_attachement1","type":"main","index":0}],[{"node":"email_contain_attachement2","type":"main","index":0}],[{"node":"email_contain_attachement3","type":"main","index":0}],[{"node":"email_contain_attachement4","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Spreadsheet Read1":{"main":[[{"node":"Set Email Expediteur1","type":"main","index":0}]]},"Set Email Expediteur1":{"main":[[{"node":"Spreadsheet Write1","type":"main","index":0}]]},"Spreadsheet Write1":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Execute RPA BR","type":"main","index":0}]]},"email_contain_attachement":{"main":[[],[{"node":"Spreadsheet Read1","type":"main","index":0}]]},"Spreadsheet Read2":{"main":[[{"node":"Set Email Expediteur2","type":"main","index":0}]]},"Set Email Expediteur2":{"main":[[{"node":"Spreadsheet Write2","type":"main","index":0}]]},"Spreadsheet Write2":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Execute RPA FF","type":"main","index":0}]]},"email_contain_attachement1":{"main":[[],[{"node":"Spreadsheet Read2","type":"main","index":0}]]},"Spreadsheet Write3":{"main":[[{"node":"write excel RF on disk","type":"main","index":0}]]},"email_contain_attachement2":{"main":[[],[{"node":"Spreadsheet RF","type":"main","index":0}]]},"Spreadsheet RF":{"main":[[{"node":"Set Email RF","type":"main","index":0}]]},"Set Email RF":{"main":[[{"node":"Spreadsheet Write3","type":"main","index":0}]]},"write excel RF on disk":{"main":[[{"node":"Execute RPA RF","type":"main","index":0}]]},"If":{"main":[[{"node":"Spreadsheet Write","type":"main","index":0}]]},"Spreadsheet Write4":{"main":[[{"node":"write excel VR on disk","type":"main","index":0}]]},"email_contain_attachement3":{"main":[[],[{"node":"Spreadsheet VR","type":"main","index":0}]]},"Spreadsheet VR":{"main":[[{"node":"Set Email VR","type":"main","index":0}]]},"Set Email VR":{"main":[[{"node":"Spreadsheet Write4","type":"main","index":0}]]},"write excel VR on disk":{"main":[[{"node":"Execute RPA VR","type":"main","index":0}]]},"Spreadsheet Write5":{"main":[[{"node":"write excel IMP on disk","type":"main","index":0}]]},"email_contain_attachement4":{"main":[[],[{"node":"Spreadsheet IMP","type":"main","index":0}]]},"Spreadsheet IMP":{"main":[[{"node":"Set Email IMP","type":"main","index":0}]]},"Set Email IMP":{"main":[[{"node":"Spreadsheet Write5","type":"main","index":0}]]},"write excel IMP on disk":{"main":[[{"node":"Execute RPA IMP","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Quel Subject1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Réception Email DA":{"lastMessageUid":3987}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a51d3940-838e-4de3-b2ca-c9c1b9e8dd4f","triggerCount":1,"tags":[]}