a.006-achat_reponde_acheteur-Kn3gXrPqyZRH9f5v.json
{"createdAt":"2026-01-02T16:01:15.479Z","updatedAt":"2026-06-05T00:28:32.000Z","id":"Kn3gXrPqyZRH9f5v","name":"A.006-achat_reponde_acheteur","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"5c1615c9-f9c6-4ba1-bc71-3761d054854a","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,224],"id":"169b2485-7704-4714-89a3-cfee077324e1","name":"Webhook","webhookId":"5c1615c9-f9c6-4ba1-bc71-3761d054854a"},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\nconst message_final = body.message \n  ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>` \n  : '';\n\nconst popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n  ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' + \n    body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') + \n    '</ul>'\n  : '';\n\nconst screenshotHtml = body.error_screenshot\n  ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n  : '';\n\n// Email interne (rapport complet)\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 20px; }\n    ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n    li { margin: 5px 0; }\n    .status-success { color: green; font-weight: bold; }\n    .status-error { color: red; font-weight: bold; }\n    .info-box { background: #e8f4f8; padding: 15px; border-left: 4px solid #3498db; margin: 15px 0; }\n    img { display: block; margin-top: 10px; }\n  </style>\n</head>\n<body>\n  <h2>📨 Rapport d'exécution - Bonne Commande</h2>\n  \n  <div class=\"info-box\">\n    <p><strong>Module:</strong> ${body.module}</p>\n    <p><strong>Date:</strong> ${body.timestamp}</p>\n    <p><strong>Statut:</strong> <span class=\"status-${body.statut === 'succes' ? 'success' : 'error'}\">${body.statut.toUpperCase()}</span></p>\n    <p><strong>BC généré:</strong> ${body.bc_genere ? 'Oui ✅' : 'Non ❌'}</p>\n    <p><strong>Validation:</strong> ${body.validation_passed ? 'Passée ✅' : 'Échouée ❌'}</p>\n  </div>\n  \n  <h3>📊 Statistiques globales</h3>\n  <ul>\n    <li><strong>Total d'articles:</strong> ${body.statistiques.total_articles}</li>\n    <li><strong>Articles traités:</strong> ${body.statistiques.articles_traites}</li>\n    <li><strong>Articles en échec:</strong> ${body.statistiques.articles_echec}</li>\n    <li><strong>Total DAS:</strong> ${body.statistiques.total_das}</li>\n    <li><strong>DAS traitées:</strong> ${body.statistiques.das_traitees}</li>\n    <li><strong>DAS en échec:</strong> ${body.statistiques.das_echec}</li>\n  </ul>\n  \n  ${message_final}\n  ${popupMessagesHtml}\n  ${screenshotHtml}\n  \n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  \n  <p style=\"color: #7f8c8d; font-size: 12px;\">\n    <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n    <strong>Chemin du rapport:</strong> ${body.rapport_path}\n  </p>\n</body>\n</html>\n`;\n\n// Email fournisseur (professionnel)\nconst fournisseurNom = body.details?.fournisseur || 'Fournisseur';\nconst numeroBC = body.details?.numero_bc || body.numero_bc || 'N/A';\n\nconst emailBodyFournisseur = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 700px; margin: 0 auto; padding: 20px; }\n    .header { background: #2c3e50; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f9f9f9; }\n    .footer { padding: 15px; font-size: 12px; color: #7f8c8d; border-top: 1px solid #ddd; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>📦 Bon de Commande</h2>\n  </div>\n  \n  <div class=\"content\">\n    <p>Madame, Monsieur,</p>\n    \n    <p>Nous vous informons que, dès réception du bon de commande, il est obligatoire de transmettre <strong>les bons de livraison ainsi que les factures </strong> dûment cachetés, dans le même e-mail.</p>\n    \n    <p>Le respect de cette instruction est requis afin d’assurer le traitement conforme de votre dossier.</p>\n    \n    <p>Nous vous remercions de votre collaboration et restons à votre disposition pour toute information complémentaire.\n    Veuillez agréer, Madame, Monsieur, l’expression de nos salutations distinguées.\n<br>\n  Cordialement.\n    <strong>Service Achats</strong></p>\n  </div>\n  \n  <div class=\"footer\">\n    <em>Ce message a été généré automatiquement le ${new Date(body.timestamp).toLocaleString('fr-FR')}</em>\n  </div>\n</body>\n</html>\n`;\n\nconst emailSubject = `[RPA] Rapport Bonne Commande - ${body.statut === 'succes' ? '✅ Succès' : '❌ Échec'} - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\nconst emailSubjectFournisseur = `Bon de Commande`;\n\n// Préparer la pièce jointe PDF si disponible\nlet attachments = [];\nif (body.pdf_bc && body.pdf_bc.content) {\n  attachments.push({\n    filename: body.pdf_bc.filename,\n    content: body.pdf_bc.content,\n    encoding: 'base64',\n    contentType: body.pdf_bc.mimetype\n  });\n}\n\nreturn {\n  // Email interne\n  email_body: emailBody,\n  email_object: emailSubject,\n  email_to: body.email_f,\n  \n  // Email fournisseur\n  email_body_fournisseur: emailBodyFournisseur,\n  email_object_fournisseur: emailSubjectFournisseur,\n  email_to_fournisseur: body.email_fournisseur, // Nouveau champ à envoyer depuis Python\n  \n  // Attachments\n  attachments: attachments,\n  has_pdf: !!body.pdf_bc,\n  \n  // Flag pour envoyer au fournisseur\n  send_to_fournisseur: !!(body.email_fournisseur && body.pdf_bc && body.statut === 'succes')\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,64],"id":"98a7d963-618e-48da-bf5d-263103939d1f","name":"Format Email","retryOnFail":false,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $('Format Email').item.json.email_to }}","subject":"={{ $('Format Email').item.json.email_object }}","html":"={{ $('Format Email').item.json.email_body }}","options":{"attachments":"=data"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[928,48],"id":"cbe31587-33c3-4eea-a6df-d964aa00bb36","name":"Send email1","webhookId":"0cb7cfbb-ad54-431a-95d5-43feca07aef3","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\n  const message_final = body.message\n    ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>`\n    : '';\n\n  const popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n    ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' +\n      body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') +\n      '</ul>'\n    : '';\n\n  const screenshotHtml = body.error_screenshot\n    ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n    : '';\n\n  // Déterminer le statut global\n  const statutLabel = body.statut === 'succes' ? 'SUCCÈS' : (body.statut === 'partiel' ? 'PARTIEL' : 'ÉCHEC');\n  const statutClass = body.statut === 'succes' ? 'success' : (body.statut === 'partiel' ? 'warning' : 'error');\n\n  const emailBody = `\n  <html>\n  <head>\n    <style>\n      body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }      \n      h2 { color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px; }\n      h3 { color: #34495e; margin-top: 20px; }\n      ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n      li { margin: 5px 0; }\n      .status-success { color: green; font-weight: bold; }\n      .status-warning { color: orange; font-weight: bold; }\n      .status-error { color: red; font-weight: bold; }\n      .info-box { background: #e8f4f8; padding: 15px; border-left: 4px solid #3498db; margin: 15px 0; }\n      img { display: block; margin-top: 10px; }\n    </style>\n  </head>\n  <body>\n    <h2>📦 Rapport d'exécution - Réception d'achat</h2>\n\n    <div class=\"info-box\">\n      <p><strong>Module:</strong> ${body.module}</p>\n      <p><strong>Date:</strong> ${body.timestamp}</p>\n      <p><strong>Statut:</strong> <span class=\"status-${statutClass}\">${statutLabel}</span></p>\n    </div>\n\n    <h3>📊 Statistiques globales</h3>\n    <ul>\n      <li><strong>Total de fournisseurs:</strong> ${body.statistiques.total_fournisseurs}</li>\n      <li><strong>Fournisseurs traités:</strong> ${body.statistiques.fournisseurs_traites} ✅</li>\n      <li><strong>Fournisseurs en échec:</strong> ${body.statistiques.fournisseurs_echec} ❌</li>\n      <li><strong>Total d'articles traités:</strong> ${body.statistiques.total_articles} 📦</li>\n    </ul>\n\n    ${message_final}\n\n    ${popupMessagesHtml}\n    ${screenshotHtml}\n\n    <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n\n    <p style=\"color: #7f8c8d; font-size: 12px;\">\n      <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n      <strong>Chemin du rapport:</strong> ${body.rapport_path || 'N/A'}\n    </p>\n  </body>\n  </html>\n  `;\n\n  const emailSubject = `[RPA] Rapport Réception - ${statutLabel} - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\n\n  return {\n    email_body: emailBody,\n    email_object: emailSubject,\n    email_to: body.email_f\n  };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-80],"id":"f4027728-55a4-4af8-a51f-d1433690404a","name":"Format Email Receiption"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.module }}","rightValue":"reception","operator":{"type":"string","operation":"equals"},"id":"a6bb2407-0337-44b0-b04b-76441e511623"}],"combinator":"and"},"renameOutput":true,"outputKey":"Receiption"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9cecd36f-364c-48b0-b9c6-b26acae77465","leftValue":"={{ $json.body.module }}","rightValue":"bonne_commande","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BC"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"017dd1b2-ba3e-4502-b0ea-4e5e98148af3","leftValue":"={{ $json.body.module }}","rightValue":"facturation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f126d7ef-26ac-4329-aea5-a85eaab17939","leftValue":"={{ $json.body.module }}","rightValue":"regelement","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ea178ad-360e-4ecb-bfa6-91bd6adf140a","leftValue":"={{ $json.body.module }}","rightValue":"vairement","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"RV"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c79b49f8-8dbd-4058-8c5d-daf6a4687f70","leftValue":"={{ $json.body.module }}","rightValue":"imputation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imputation"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,160],"id":"83bc9fec-10d0-4733-9f56-ce48301f029b","name":"Switch"},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_object }}","html":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[592,-80],"id":"8d46d518-8ca2-4ce1-b455-f312520e73d9","name":"Send email","webhookId":"a5df04a1-47ce-42dc-af02-97fbbca34807","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_object }}","html":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[592,208],"id":"c8d8341d-729f-42dd-bcad-fb605555629e","name":"Send email2","webhookId":"a5df04a1-47ce-42dc-af02-97fbbca34807","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\n// Message additionnel si présent\nconst message_final = body.message\n  ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>`\n  : '';\n\n// Messages popup si présents\nconst popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n  ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' +\n    body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') +\n    '</ul>'\n  : '';\n\n// Screenshot d'erreur si présent\nconst screenshotHtml = body.error_screenshot\n  ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n  : '';\n\n// Déterminer le statut global\nconst statutLabel = body.statut === 'succes' ? 'SUCCÈS' : (body.statut === 'partiel' ? 'PARTIEL' : 'ÉCHEC');\nconst statutClass = body.statut === 'succes' ? 'success' : (body.statut === 'partiel' ? 'warning' : 'error');\n\n// Générer le tableau des factures si présent\nlet facturesHtml = '';\nif (body.factures && body.factures.length > 0) {\n  facturesHtml = `\n    <h3>📄 Détail des factures</h3>\n    <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n      <thead>\n        <tr style=\"background: #3498db; color: white;\">\n          <th style=\"padding: 10px; border: 1px solid #ddd;\">Code Fournisseur</th>\n          <th style=\"padding: 10px; border: 1px solid #ddd;\">Facture Fournisseur</th>\n          <th style=\"padding: 10px; border: 1px solid #ddd;\">Numéro FF (Sage)</th>\n          <th style=\"padding: 10px; border: 1px solid #ddd;\">Statut</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${body.factures.map(f => `\n          <tr>\n            <td style=\"padding: 8px; border: 1px solid #ddd;\">${f.codeFournisseur || '-'}</td>\n            <td style=\"padding: 8px; border: 1px solid #ddd;\">${f.factureFournisseur || '-'}</td>\n            <td style=\"padding: 8px; border: 1px solid #ddd; font-weight: bold; color: #2980b9;\">${f.numero_FF || '-'}</td>\n            <td style=\"padding: 8px; border: 1px solid #ddd;\">\n              <span style=\"color: ${f.statut === 'Succes' ? 'green' : 'red'};\">${f.statut === 'Succes' ? '✅' : '❌'} ${f.statut || '-'}</span>\n            </td>\n          </tr>\n        `).join('')}\n      </tbody>\n    </table>\n  `;\n}\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #9b59b6; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 20px; }\n    ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n    li { margin: 5px 0; }\n    .status-success { color: green; font-weight: bold; }\n    .status-warning { color: orange; font-weight: bold; }\n    .status-error { color: red; font-weight: bold; }\n    .info-box { background: #f5eef8; padding: 15px; border-left: 4px solid #9b59b6; margin: 15px 0; }\n    img { display: block; margin-top: 10px; }\n    table { font-size: 14px; }\n  </style>\n</head>\n<body>\n  <h2>🧾 Rapport d'exécution - Facturation Achat</h2>\n\n  <div class=\"info-box\">\n    <p><strong>Module:</strong> ${body.module}</p>\n    <p><strong>Date:</strong> ${body.timestamp}</p>\n    <p><strong>Statut:</strong> <span class=\"status-${statutClass}\">${statutLabel}</span></p>\n  </div>\n\n  <h3>📊 Statistiques globales</h3>\n  <ul>\n    <li><strong>Total de factures:</strong> ${body.statistiques.total_factures}</li>\n    <li><strong>Factures traitées:</strong> ${body.statistiques.factures_traitees} ✅</li>\n    <li><strong>Factures en échec:</strong> ${body.statistiques.factures_echec} ❌</li>\n  </ul>\n\n  ${facturesHtml}\n\n  ${message_final}\n\n  ${popupMessagesHtml}\n  ${screenshotHtml}\n\n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n\n  <p style=\"color: #7f8c8d; font-size: 12px;\">\n    <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n    <strong>Chemin du rapport:</strong> ${body.rapport_path || 'N/A'}\n  </p>\n</body>\n</html>\n`;\n\nconst emailSubject = `[RPA] Rapport Facturation - ${statutLabel} - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\n\nreturn {\n  email_body: emailBody,\n  email_object: emailSubject,\n  email_to: body.email_f\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,208],"id":"4a1315d7-ad98-4a13-a875-79946cdae49d","name":"Format Email Facturation"},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\n// Message final si disponible\nconst message_final = body.message \n  ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>` \n  : '';\n\n// Popup messages\nconst popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n  ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' + \n    body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') + \n    '</ul>'\n  : '';\n\n// Screenshot d'erreur\nconst screenshotHtml = body.error_screenshot\n  ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n  : '';\n\n// Tableau des règlements\nconst reglementsHtml = body.reglements && body.reglements.length > 0\n  ? `<h3>💳 Détail des règlements</h3>\n     <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n       <thead>\n         <tr style=\"background: #3498db; color: white;\">\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Fournisseur</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">N° Facture</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Statut</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Message</th>\n         </tr>\n       </thead>\n       <tbody>\n         ${body.reglements.map(reg => `\n           <tr style=\"background: ${reg.statut === 'Succes' ? '#e8f5e9' : '#ffebee'};\">\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${reg.code_frs}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${reg.num_facture}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">\n               ${reg.statut === 'Succes' ? '✅' : '❌'} ${reg.statut}\n             </td>\n             <td style=\"padding: 8px; border: 1px solid #ddd; font-size: 12px;\">${reg.message}</td>\n           </tr>\n         `).join('')}\n       </tbody>\n     </table>`\n  : '';\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #9b59b6; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 20px; }\n    ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n    li { margin: 5px 0; }\n    .status-success { color: green; font-weight: bold; }\n    .status-error { color: red; font-weight: bold; }\n    .status-partiel { color: orange; font-weight: bold; }\n    .info-box { background: #f3e5f5; padding: 15px; border-left: 4px solid #9b59b6; margin: 15px 0; }\n    img { display: block; margin-top: 10px; }\n    table { font-size: 14px; }\n  </style>\n</head>\n<body>\n  <h2>💳 Rapport d'exécution - Règlement</h2>\n  \n  <div class=\"info-box\">\n    <p><strong>Module:</strong> ${body.module}</p>\n    <p><strong>Date:</strong> ${body.timestamp}</p>\n    <p><strong>Statut:</strong> <span class=\"status-${body.statut === 'succes' ? 'success' : 'partiel'}\">${body.statut.toUpperCase()}</span></p>\n  </div>\n  \n  <h3>📊 Statistiques globales</h3>\n  <ul>\n    <li><strong>Total lignes:</strong> ${body.statistiques.total_lignes}</li>\n    <li><strong>Lignes traitées:</strong> ${body.statistiques.lignes_traitees} ✅</li>\n    <li><strong>Lignes en échec:</strong> ${body.statistiques.lignes_echec} ${body.statistiques.lignes_echec > 0 ? '❌' : ''}</li>\n    <li><strong>Total règlements créés:</strong> ${body.statistiques.total_reglements} 💳</li>\n  </ul>\n  \n  ${reglementsHtml}\n  \n  ${message_final}\n  \n  ${popupMessagesHtml}\n  ${screenshotHtml}\n  \n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  \n  <p style=\"color: #7f8c8d; font-size: 12px;\">\n    <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n    <strong>Chemin du rapport:</strong> ${body.rapport_path}\n  </p>\n</body>\n</html>\n`;\n\nconst statusEmoji = body.statut === 'succes' ? '✅ Succès' : '⚠️ Partiel';\nconst emailSubject = `[RPA] Rapport Règlement - ${statusEmoji} - ${body.statistiques.lignes_traitees}/${body.statistiques.total_lignes} lignes - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\n\nreturn {\n  email_body: emailBody,\n  email_object: emailSubject,\n  email_to: body.email_f\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,352],"id":"1d00bc78-3157-41c2-a6ff-5be4fa779a4f","name":"Format Email Regelement"},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_object }}","html":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[592,352],"id":"6e2765c2-ae0b-4252-89c9-69a5e3b73ad6","name":"Send email3","webhookId":"cc3ee410-17b8-4557-874f-76eb992cfd52","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}},{"parameters":{"operation":"toBinary","sourceProperty":"attachments[0].content","binaryPropertyName":"=data","options":{"fileName":"Bonne de commande "}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[592,48],"id":"a5cdf9d4-4ffc-4380-b5d9-cf5b082836bd","name":"Convert to File","onError":"continueRegularOutput"},{"parameters":{"fromEmail":"achat@jbel-annour.ma","toEmail":"={{ $('Format Email').item.json.email_to_fournisseur }}","subject":"={{ $('Format Email').item.json.email_object_fournisseur }}","html":"={{ $('Format Email').item.json.email_body_fournisseur }}","options":{"appendAttribution":false,"attachments":"data","ccEmail":"={{ $('Format Email').item.json.email_to }}","bccEmail":"acheteur.1@jbel-annour.ma"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1152,240],"id":"e92847c8-4b3a-4613-9dd3-4842b802cb64","name":"Send email4","webhookId":"2f39c9a3-e204-4849-a5b2-69d7dfa33410","credentials":{"smtp":{"id":"XP3h7d4o5q8hkNkm","name":"SMTP ACHAT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7efc111-2057-480a-ae56-ef5982058d5a","leftValue":"={{ $('Format Email').item.json.send_to_fournisseur }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,256],"id":"29f4c197-d745-4c8b-a252-c105a3a8d762","name":"If"},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\n// Message final si disponible\nconst message_final = body.message \n  ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>` \n  : '';\n\n// Popup messages\nconst popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n  ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' + \n    body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') + \n    '</ul>'\n  : '';\n\n// Screenshot d'erreur\nconst screenshotHtml = body.error_screenshot\n  ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n  : '';\n\n// Tableau des règlements\nconst reglementsHtml = body.reglements && body.reglements.length > 0\n  ? `<h3>💳 Détail des règlements</h3>\n     <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n       <thead>\n         <tr style=\"background: #3498db; color: white;\">\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Fournisseur</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">N° Facture</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Statut</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Message</th>\n         </tr>\n       </thead>\n       <tbody>\n         ${body.reglements.map(reg => `\n           <tr style=\"background: ${reg.statut === 'Succes' ? '#e8f5e9' : '#ffebee'};\">\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${reg.code_frs}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${reg.num_facture}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">\n               ${reg.statut === 'Succes' ? '✅' : '❌'} ${reg.statut}\n             </td>\n             <td style=\"padding: 8px; border: 1px solid #ddd; font-size: 12px;\">${reg.message}</td>\n           </tr>\n         `).join('')}\n       </tbody>\n     </table>`\n  : '';\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #9b59b6; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 20px; }\n    ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n    li { margin: 5px 0; }\n    .status-success { color: green; font-weight: bold; }\n    .status-error { color: red; font-weight: bold; }\n    .status-partiel { color: orange; font-weight: bold; }\n    .info-box { background: #f3e5f5; padding: 15px; border-left: 4px solid #9b59b6; margin: 15px 0; }\n    img { display: block; margin-top: 10px; }\n    table { font-size: 14px; }\n  </style>\n</head>\n<body>\n  <h2>💳 Rapport d'exécution - Règlement</h2>\n  \n  <div class=\"info-box\">\n    <p><strong>Module:</strong> ${body.module}</p>\n    <p><strong>Date:</strong> ${body.timestamp}</p>\n    <p><strong>Statut:</strong> <span class=\"status-${body.statut === 'succes' ? 'success' : 'partiel'}\">${body.statut.toUpperCase()}</span></p>\n  </div>\n  \n  <h3>📊 Statistiques globales</h3>\n  <ul>\n    <li><strong>Total lignes:</strong> ${body.statistiques.total_lignes}</li>\n    <li><strong>Lignes traitées:</strong> ${body.statistiques.lignes_traitees} ✅</li>\n    <li><strong>Lignes en échec:</strong> ${body.statistiques.lignes_echec} ${body.statistiques.lignes_echec > 0 ? '❌' : ''}</li>\n    <li><strong>Total règlements créés:</strong> ${body.statistiques.total_reglements} 💳</li>\n  </ul>\n  \n  ${reglementsHtml}\n  \n  ${message_final}\n  \n  ${popupMessagesHtml}\n  ${screenshotHtml}\n  \n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  \n  <p style=\"color: #7f8c8d; font-size: 12px;\">\n    <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n    <strong>Chemin du rapport:</strong> ${body.rapport_path}\n  </p>\n</body>\n</html>\n`;\n\nconst statusEmoji = body.statut === 'succes' ? '✅ Succès' : '⚠️ Partiel';\nconst emailSubject = `[RPA] Rapport Règlement - ${statusEmoji} - ${body.statistiques.lignes_traitees}/${body.statistiques.total_lignes} lignes - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\n\nreturn {\n  email_body: emailBody,\n  email_object: emailSubject,\n  email_to: body.email_f\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,512],"id":"2de512d2-51f3-44f3-bba6-4f7679a0cb2e","name":"format email VAirement"},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_object }}","html":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[592,512],"id":"a67124e5-e15a-4071-9f99-3d99f935b252","name":"Send email5","webhookId":"cc3ee410-17b8-4557-874f-76eb992cfd52","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}},{"parameters":{"jsCode":"const body = $input.item.json.body;\n\n// Message final si disponible\nconst message_final = body.message \n  ? `<h3>📝 Message additionnel</h3><div class=\"info-box\">${body.message}</div>` \n  : '';\n\n// Popup messages\nconst popupMessagesHtml = body.popup_messages && body.popup_messages.length > 0\n  ? '<h3>⚠️ Messages d\\'alerte</h3><ul>' + \n    body.popup_messages.map(msg => `<li><strong>${msg.timestamp}:</strong> ${msg.message}</li>`).join('') + \n    '</ul>'\n  : '';\n\n// Screenshot d'erreur\nconst screenshotHtml = body.error_screenshot\n  ? `<h3>📸 Capture d'écran de l'erreur</h3><img src=\"data:image/png;base64,${body.error_screenshot}\" style=\"max-width: 800px; border: 1px solid #ccc; margin-top: 10px;\" alt=\"Erreur\" />`\n  : '';\n\n// Tableau des règlements\nconst imputationtsHtml = body.imputations && body.imputations.length > 0\n  ? `<h3>💳 Détail des imputations</h3>\n     <table style=\"width: 100%; border-collapse: collapse; margin: 15px 0;\">\n       <thead>\n         <tr style=\"background: #3498db; color: white;\">\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Reglement</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Facture</th>\n           <th style=\"padding: 10px; border: 1px solid #ddd;\">Statut</th>\n         </tr>\n       </thead>\n       <tbody>\n         ${body.imputations.map(imputation => `\n           <tr style=\"background: ${imputation.statut === 'Succes' ? '#e8f5e9' : '#ffebee'};\">\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${imputation.reglement}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd;\">${imputation.facture}</td>\n             <td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">\n               ${imputation.statut === 'Succes' ? '✅' : '❌'} ${imputation.statut}\n             </td>\n           </tr>\n         `).join('')}\n       </tbody>\n     </table>`\n  : '';\n\n\nconst emailBody = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; }\n    h2 { color: #2c3e50; border-bottom: 2px solid #9b59b6; padding-bottom: 10px; }\n    h3 { color: #34495e; margin-top: 20px; }\n    ul { background: #f8f9fa; padding: 15px 30px; border-radius: 5px; margin: 10px 0; }\n    li { margin: 5px 0; }\n    .status-success { color: green; font-weight: bold; }\n    .status-error { color: red; font-weight: bold; }\n    .status-partiel { color: orange; font-weight: bold; }\n    .info-box { background: #f3e5f5; padding: 15px; border-left: 4px solid #9b59b6; margin: 15px 0; }\n    img { display: block; margin-top: 10px; }\n    table { font-size: 14px; }\n  </style>\n</head>\n<body>\n  <h2>💳 Rapport d'exécution - Imputations</h2>\n  \n  <div class=\"info-box\">\n    <p><strong>Module:</strong> ${body.module}</p>\n    <p><strong>Date:</strong> ${body.timestamp}</p>\n    <p><strong>Statut:</strong> <span class=\"status-${body.statut === 'succes' ? 'success' : 'partiel'}\">${body.statut.toUpperCase()}</span></p>\n  </div>\n  \n  <h3>📊 Statistiques globales</h3>\n  <ul>\n    <li><strong>Total lignes:</strong> ${body.statistiques.total}</li>\n    <li><strong>Lignes traitées:</strong> ${body.statistiques.succes} ✅</li>\n    <li><strong>Lignes en échec:</strong> ${body.statistiques.echecs} ${body.statistiques.echecs > 0 ? '❌' : ''}</li>\n  </ul>\n  \n  ${imputationtsHtml}\n  \n  ${message_final}\n  \n  ${popupMessagesHtml}\n  ${screenshotHtml}\n  \n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  \n  <p style=\"color: #7f8c8d; font-size: 12px;\">\n    <em>📄 Rapport généré automatiquement le ${body.timestamp}</em><br>\n    <strong>Chemin du rapport:</strong> ${body.rapport_path}\n  </p>\n</body>\n</html>\n`;\n\nconst statusEmoji = body.statut === 'succes' ? '✅ Succès' : '⚠️ Partiel';\nconst emailSubject = `[RPA] Rapport Imputation - ${statusEmoji} - ${body.statistiques.lignes_traitees}/${body.statistiques.total_lignes} lignes - ${new Date(body.timestamp).toLocaleString('fr-FR')}`;\n\nreturn {\n  email_body: emailBody,\n  email_object: emailSubject,\n  email_to: body.email_f\n};\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,736],"id":"8cbb1c56-b519-4996-8018-64022b4675db","name":"format email imputation"},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_object }}","html":"={{ $json.email_body }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[592,736],"id":"f17eb8f1-ff11-41a9-bb2a-50f48d91d815","name":"Send email6","webhookId":"7e8570d3-c7a1-4709-bdb5-1ef7817c9d1c","credentials":{"smtp":{"id":"DDbAK6LFoW0rPg5D","name":"astitoumd"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Format Email":{"main":[[{"node":"Convert to File","type":"main","index":0}],[]]},"Format Email Receiption":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Format Email Receiption","type":"main","index":0}],[{"node":"Format Email","type":"main","index":0}],[{"node":"Format Email Facturation","type":"main","index":0}],[{"node":"Format Email Regelement","type":"main","index":0}],[{"node":"format email VAirement","type":"main","index":0}],[{"node":"format email imputation","type":"main","index":0}]]},"Format Email Facturation":{"main":[[{"node":"Send email2","type":"main","index":0}]]},"Format Email Regelement":{"main":[[{"node":"Send email3","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send email1","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send email4","type":"main","index":0}]]},"format email VAirement":{"main":[[{"node":"Send email5","type":"main","index":0}]]},"format email imputation":{"main":[[{"node":"Send email6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d261a76-34c0-460f-a3a7-b4b3f5ee1fd7","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}