a.achat-002 : envoyer des emails-DmhQsC60K5ET7E5W.json
{"createdAt":"2025-12-08T20:58:00.831Z","updatedAt":"2026-01-09T17:10:45.000Z","id":"DmhQsC60K5ET7E5W","name":"A.ACHAT-002 : Envoyer des Emails","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT DNS.DA, DNS.Article, DNS.DésignationArticle, DNS.QteDA, DNS.STU_0 AS Unite, '' as Marque  FROM x3.BASE1.Y_DA_NON_SOLDEES DNS\nWHERE DNS.Famille NOT LIKE 'SERVICE%' AND DNS.Famille NOT LIKE 'LOGISTIQUE%' AND DNS.Famille NOT LIKE 'R.H'\nAND DNS.Article NOT IN ('A09985', 'A10107', 'A10136');"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1232,624],"id":"595064fd-d7c6-42a7-b91d-ea32813d2617","name":"DA NON SOLDE1","credentials":{"microsoftSql":{"id":"qPxuSGrb49tg1aXP","name":"Sage Prod"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n\tS.TEL_0 AS 'TELE',\n    REPLACE(LTRIM(RTRIM(S.WEB_0)), ' ', '') AS EMAIL,   -- EMAIL SANS ESPACES\n\t--'astitoumd@gmail.com' AS EMAIL,\n    S.FAX_0 AS 'FAX',\n    MIN(D.ITMREF_0) AS Article,\n        -- Description finale regroupée\n    CASE \n        WHEN LTRIM(RTRIM(MIN(D.ITMDES_0))) = LTRIM(RTRIM(MIN(D.ITMDES1_0)))\n            THEN MIN(D.ITMDES_0)\n        ELSE MIN(D.ITMDES_0) + ' / ' + MIN(D.ITMDES1_0)\n    END AS DescriptionFinale,\n    D.BPSNUM_0 AS Fournisseur,\n    (SELECT BPSNAM_0 FROM x3.BASE1.BPSUPPLIER WHERE BPSNUM_0=D.BPSNUM_0) AS 'NOM FOURNISSEUR',\n    '{{ $('DA NON SOLDE1').item.json.DA }}' as 'DA',\n    '{{ $('DA NON SOLDE1').item.json.QteDA }}' AS 'QTY',\n    '{{ $('DA NON SOLDE1').item.json.Marque }}' AS 'MARQ',\n    '{{ $('DA NON SOLDE1').item.json.Unite }}' AS 'UNITE'\nFROM x3.BASE1.PRECEIPTD D\nJOIN x3.BASE1.BPADDRESS S \n    ON D.BPSNUM_0 = S.BPANUM_0\nWHERE D.ITMREF_0 = '{{ $('DA NON SOLDE1').item.json.Article }}'\nGROUP BY \n    S.TEL_0, S.WEB_0, S.FAX_0, \n    D.BPSNUM_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-928,624],"id":"d2244ebf-57ee-4d9f-8d1b-a1e109ab3dde","name":"get BPS from ITM1","notesInFlow":false,"alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"microsoftSql":{"id":"qPxuSGrb49tg1aXP","name":"Sage Prod"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,624],"id":"1ac2b737-518c-4bef-9415-5f56a0bf1df7","name":"Edit Fields2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c704344b-cc33-464a-bd18-8214573690a6","leftValue":"={{ $json.EMAIL }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"has email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b30c6ce-a391-459f-9c34-9efa2eaa4a33","leftValue":"={{ $json.TELE }}","rightValue":"=^\\d+$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"has tele"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d6ed95c1-8753-4b4c-a669-459569b9ce80","leftValue":"1","rightValue":"1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-464,608],"id":"7327d44d-6220-4111-b18b-c99bff937115","name":"has email1"},{"parameters":{"content":"## Recuperation les informations\n### recuperer les DA non solde\n### recuperer les articles de chaque DA\n### recuperer les fournisseur de l'article","height":384,"width":1056,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1696,432],"id":"c41e3ec8-da22-4a32-86b1-c74b02698c5b","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,976],"id":"5b0b1c3b-80a4-4c1c-be35-27c56a4067d4","name":"Edit Fields3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/13HaMXNZIO57cnm05mpz9bxLk_oZK7pKLtOrWmpE-ljc/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13HaMXNZIO57cnm05mpz9bxLk_oZK7pKLtOrWmpE-ljc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Code').item.json.EMAIL }}","tele":"={{ $('Code').item.json.TELE }}","nom fournisseur":"={{ $('Code').item.json['NOM FOURNISSEUR'] }}","articles":"={{ $('Code').item.json.Articles }}","ref_fournisseur":"={{ $('Code').item.json.Fournisseur }}"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tele","displayName":"tele","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nom fournisseur","displayName":"nom fournisseur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ref_fournisseur","displayName":"ref_fournisseur","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"articles","displayName":"articles","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1552,272],"id":"e517c390-2cda-40cf-a442-26adb9ba6842","name":"stock Emails1","credentials":{"googleSheetsOAuth2Api":{"id":"HozsBcMfmQwrO0Ko","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2064,640],"id":"83806e03-b1e3-43e7-8c9a-f3d5798a146d","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Récupération des données brutes provenant du nœud précédent\nconst items = $input.all();\n\n// Objet pour regrouper par Fournisseur\nconst grouped = {};\n\nfor (const item of items) {\n  const data = item.json;\n  const fournisseur = data.Fournisseur;\n\n  if (!grouped[fournisseur]) {\n    grouped[fournisseur] = {\n      ...data,\n      Articles: []\n    };\n  }\n\n  // Ajouter l’article dans la liste\n  grouped[fournisseur].Articles.push({\n    Article: data.Article,\n    Description: data.DescriptionFinale,\n    QTY: data.QTY,\n    UNITE: data.UNITE,\n    MARQ: data.MARQ,\n    DA: data.DA\n  });\n}\n\n// Convertir en tableau d'items n8n\nreturn Object.values(grouped).map(f => ({ json: f }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,256],"id":"dbff8329-fa42-4ba6-8253-857e362a9599","name":"Code"},{"parameters":{"jsCode":"// Dans un nœud Code (JavaScript)\nconst items = $input.all();\n\n// Créer un objet pour regrouper par fournisseur et article\nconst groupedData = {};\n\nitems.forEach(item => {\n  const fournisseurId = item.json.Fournisseur;\n  const fournisseurNom = item.json[\"NOM FOURNISSEUR\"];\n  const telephone = item.json.TELE;\n  const email = item.json.EMAIL;\n  const fax = item.json.FAX;\n  \n  // Initialiser le fournisseur s'il n'existe pas\n  if (!groupedData[fournisseurId]) {\n    groupedData[fournisseurId] = {\n      \"TELE\": telephone,\n      \"EMAIL\": email,\n      \"FAX\": fax,\n      \"Fournisseur\": fournisseurId,\n      \"NOM FOURNISSEUR\": fournisseurNom,\n      \"Articles\": {}\n    };\n  }\n  \n  // Parcourir tous les articles\n  item.json.Articles.forEach(article => {\n    const articleId = article.Article;\n    const description = article.Description;\n    const quantite = parseInt(article.QTY) || 0;\n    const unite = article.UNITE;\n    const marque = article.MARQ;\n    const da = article.DA;\n    \n    // Initialiser l'article s'il n'existe pas\n    if (!groupedData[fournisseurId].Articles[articleId]) {\n      groupedData[fournisseurId].Articles[articleId] = {\n        \"Article\": articleId,\n        \"Description\": description,\n        \"QTY_TOTAL\": 0,\n        \"Unite\": unite,\n        \"Marque\": marque,\n        \"DAs\": []\n      };\n    }\n    \n    // Ajouter la quantité\n    groupedData[fournisseurId].Articles[articleId].QTY_TOTAL += quantite;\n    \n    // Ajouter le DA s'il n'est pas déjà présent\n    if (!groupedData[fournisseurId].Articles[articleId].DAs.includes(da)) {\n      groupedData[fournisseurId].Articles[articleId].DAs.push(da);\n    }\n  });\n});\n\n// Convertir en format de sortie\nconst output = [];\n\nObject.keys(groupedData).forEach(fournisseurId => {\n  const fournisseur = groupedData[fournisseurId];\n  \n  // Convertir les articles en tableau\n  const articlesArray = Object.values(fournisseur.Articles);\n  \n  output.push({\n    json: {\n      \"TELE\": fournisseur.TELE,\n      \"EMAIL\": fournisseur.EMAIL,\n      \"FAX\": fournisseur.FAX,\n      \"Fournisseur\": fournisseur.Fournisseur,\n      \"NOM FOURNISSEUR\": fournisseur[\"NOM FOURNISSEUR\"],\n      \"Articles\": articlesArray\n    }\n  });\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,256],"id":"1a7e0b97-fd27-412b-a22b-cda276068ddc","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"d25ca96b-6baf-425b-952b-792c6eb31c7a","name":"email_body","value":"=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Message aux Fournisseurs - Message Automatique</title>\n    <!--[if mso]>\n    <style type=\"text/css\">\n        body, table, td {font-family: Arial, sans-serif !important;}\n    </style>\n    <![endif]-->\n</head>\n<body style=\"margin:0; padding:20px; font-family:'Segoe UI', Arial, sans-serif; background-color:#f5f5f5;\">\n    <!--[if mso]>\n    <center>\n    <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"650\" style=\"width:650px;\">\n        <tr>\n            <td style=\"padding:20px;\">\n    <![endif]-->\n    \n    <div style=\"max-width:650px; margin:0 auto; background-color:#ffffff; border-radius:0; box-shadow:0 2px 10px rgba(0,0,0,0.1);\">\n        <!-- Header -->\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#667eea;\">\n            <tr>\n                <td align=\"center\" style=\"padding:30px 20px; color:#ffffff;\">\n                    <h1 style=\"font-size:24px; font-weight:600; margin:0 0 10px 0; color:#ffffff;\">📦 Message Automatique</h1>\n                    <p style=\"font-size:14px; margin:0; color:#ffffff; opacity:0.9;\">Système de Communication Fournisseurs</p>\n                </td>\n            </tr>\n        </table>\n        \n        <!-- Content -->\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n            <tr>\n                <td style=\"padding:30px 25px;\">\n                    <!-- Greeting -->\n                    <p style=\"font-size:16px; font-weight:600; color:#667eea; margin:0 0 20px 0;\">Cher fournisseur {{ $json[\"NOM FOURNISSEUR\"] }},</p>\n                    \n\n \n                    <!-- Paragraph 1 -->\n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:0 0 15px 0; text-align:left;\">\n                        Nous vous adressons nos salutations distinguées.\n                    </p>\n                    \n                    <!-- Paragraph 2 -->\n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:0 0 15px 0; text-align:left;\">\n                        Nous vous informons que ce message a été envoyé automatiquement par notre système afin de faciliter la communication et la collecte d'informations auprès de nos fournisseurs.\n                    </p>\n                    \n                    <!-- Paragraph 3 -->\n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:0 0 20px 0; text-align:left;\">\n                        Nous souhaitons également vous présenter <strong style=\"color:#333333;\">Jbel Annour</strong>, une société spécialisée dans <strong style=\"color:#333333;\">Briqueterie, Fabricant de solution durable en terre cuite</strong>, engagée à développer et renforcer son réseau de partenaires qualifiés.\n                    </p>\n\n\n\n\n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:0 0 20px 0; text-align:left;\">\n                        Vous trouverez ci-dessous le récapitulatif de <strong style=\"color:#333333;\">vos articles à fournir</strong> :\n                    </p>\n\n\n\n\n                    <!-- Table des articles -->\n                    <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:25px 0; border:1px solid #ddd; border-collapse: collapse;\">\n                        <thead>\n                            <tr style=\"background-color:#f8f9fa;\">\n                                <th style=\"padding:12px 10px; text-align:left; border-bottom:2px solid #667eea; font-size:14px; color:#333333;\">Réf. Article</th>\n                                <th style=\"padding:12px 10px; text-align:left; border-bottom:2px solid #667eea; font-size:14px; color:#333333;\">Description</th>\n<th style=\"padding:12px 8px; text-align:center; border-bottom:2px solid #667eea; font-size:13px; color:#333333; white-space: nowrap;\">Marque</th>\n                                <th style=\"padding:12px 10px; text-align:center; border-bottom:2px solid #667eea; font-size:14px; color:#333333;\">Quantité</th>\n                                <th style=\"padding:12px 10px; text-align:left; border-bottom:2px solid #667eea; font-size:14px; color:#333333;\">Documents</th>\n                            </tr>\n                        </thead>\n                        <tbody>\n                           {{ $json.tableRows }}\n                        </tbody>\n                    </table>\n                    \n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:20px 0 15px 0; text-align:left;\">\n                        Pour soumettre vos propositions de prix et disponibilités, veuillez accéder au formulaire ci-dessous :\n                    </p>\n                    \n                    <!-- Button -->\n                    <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:25px 0;\">\n                        <tr>\n                            <td align=\"center\">\n                                <a href=\"https://www.jbel-annour.ma/agent-achat/form-achat-multiple.php?frsref={{ $json.Fournisseur }}\" \n                                   style=\"background-color:#667eea; color:#ffffff; padding:12px 30px; text-decoration:none; border-radius:25px; font-weight:600; font-size:14px; display:inline-block; mso-hide:all;\">\n                                    📋 Accéder au formulaire\n                                </a>\n                            </td>\n                        </tr>\n                    </table>\n                    \n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:20px 0 15px 0; text-align:left;\">\n                        Nous vous assurons que toutes les informations et offres déposées seront analysées par notre équipe humaine et feront l'objet d'un retour dans les plus brefs délais.\n                    </p>\n                    \n                    <p style=\"font-size:14px; color:#555555; line-height:1.6; margin:0; text-align:left;\">\n                        Veuillez agréer, chers fournisseurs, l'expression de nos salutations distinguées.\n                    </p>\n                </td>\n            </tr>\n        </table>\n        \n        <!-- Footer -->\n        <table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f8f9fa; border-top:3px solid #667eea;\">\n            <tr>\n                <td style=\"padding:25px;\">\n                    <p style=\"font-size:15px; font-weight:600; color:#333333; margin:0 0 8px 0;\">jbel-annour</p>\n                    <p style=\"font-size:13px; color:#666666; margin:0; font-style:italic;\">\n                        Briqueterie Jbel Annour • Situé à Mohammedia, Jbel Annour est le spécialiste de la fabrication des briques rouges, doté d'un savoir-faire inédit et d'une capacité de production colossale\n                    </p>\n                </td>\n            </tr>\n        </table>\n    </div>\n    \n    <!--[if mso]>\n            </td>\n        </tr>\n    </table>\n    </center>\n    <![endif]-->\n</body>\n</html>","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,256],"id":"13e37239-7ae5-4206-856b-510b3f77dae6","name":"Edit Fields4"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nitems.forEach(fournisseurData => {\n  const fournisseur = fournisseurData.json;\n  \n  // Générer les lignes de la table\n  let tableRows = '';\n  let totalGeneral = 0;\n\n  fournisseur.Articles.forEach((article, index) => {\n    totalGeneral += article.QTY_TOTAL;\n    \n    tableRows += `\n      <tr style=\"${index % 2 === 0 ? 'background-color: #f9f9f9;' : ''}\">\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-size: 13px; color: #333333;\">\n          <strong>${article.Article}</strong>\n        </td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-size: 13px; color: #555555;\">\n          ${article.Description}\n        </td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-size: 13px; color: #555555; text-align: center;\">\n            ${article.Marque}\n          </td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; text-align: center; font-size: 13px; color: #333333; font-weight: 600;\">\n          ${article.QTY_TOTAL} ${article.Unite}\n        </td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; font-size: 13px; color: #555555;\">\n          ${article.DAs.join(', ')}\n        </td>\n      </tr>\n    `;\n  });\n\n  // Ajouter le total\n  tableRows += `\n    <tr style=\"background-color: #f0f7ff;\">\n      <td colspan=\"4\" style=\"padding: 12px 10px; font-size: 13px; color: #333333; border-top: 2px solid #667eea;\">\n        <strong>Total général : <strong>Articles différents : ${fournisseur.Articles.length}</strong>\n      </td>\n    </tr>\n  `;\n  \n  // Ajouter les liens pour chaque article (optionnel)\n  let articleLinks = '';\n  fournisseur.Articles.forEach(article => {\n    articleLinks += `\n      <tr>\n        <td style=\"padding:5px 0; font-size:13px; color:#555555;\">\n          • <a href=\"https://www.jbel-annour.ma/agent-achat/form-achat.php?artref=${article.Article}&frsref=${fournisseur.Fournisseur}&qty=${article.QTY_TOTAL}&intitul=${encodeURIComponent(article.Description)}\" \n             style=\"color:#667eea; text-decoration:none;\">\n            ${article.Article} - ${article.Description} (Qté: ${article.QTY_TOTAL})\n          </a>\n        </td>\n      </tr>\n    `;\n  });\n\n  results.push({\n    json: {\n      ...fournisseur,\n      tableRows: tableRows,\n      totalGeneral: totalGeneral,\n      articleLinks: articleLinks,\n      emailSubject: `Commande regroupée - ${fournisseur[\"NOM FOURNISSEUR\"]} - ${new Date().toLocaleDateString('fr-FR')}`,\n      recipientEmail: fournisseur.EMAIL,\n      recipientName: fournisseur[\"NOM FOURNISSEUR\"]\n    }\n  });\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,256],"id":"c3e77ea7-05ef-4ef5-bf1e-d9a8d79886f8","name":"Code2"},{"parameters":{"fromEmail":"achats@jbel-annour.ma","toEmail":"={{ $('Code2').item.json.EMAIL }}","subject":"Demande d’informations et invitation à soumettre votre offre","html":"={{ $json.email_body }}","options":{"ccEmail":"z.bouleknadel@jbel-annour.com, achatsjbelannour@gmail.com, achatsjbelannour@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1216,272],"id":"6a15cfb8-1826-4d08-98f6-fa9b1665d815","name":"Send email","webhookId":"d9e2bb74-1f5a-4261-aa86-ff1675d70357","credentials":{"smtp":{"id":"Zuh4fvreXkzQMkUV","name":"smtp achat jbel-annour"}},"onError":"continueRegularOutput"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,256],"id":"1d12b606-a1fb-4e5d-b72f-c57a4c860865","name":"Loop Over Items1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1856,272],"id":"9b420513-1da9-4acd-ac11-1f1475b6f3de","name":"Wait1","webhookId":"8626eaa4-f1ca-4960-bad9-96b74da2c1c9"}],"connections":{"DA NON SOLDE1":{"main":[[{"node":"get BPS from ITM1","type":"main","index":0}]]},"get BPS from ITM1":{"main":[[{"node":"has email1","type":"main","index":0}]]},"has email1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"DA NON SOLDE1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[{"node":"stock Emails1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"stock Emails1":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"435677d9-90db-44c1-ab24-be7a8d572d33","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}