a.rh-001 : recuperation de demmission-VcqiKSL84xwJ8jVE.json
{"createdAt":"2025-12-05T20:57:36.180Z","updatedAt":"2025-12-19T08:42:52.000Z","id":"VcqiKSL84xwJ8jVE","name":"A.RH-001 : Recuperation de demmission","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT TOP 1 * FROM jbelrh.JBELRH.YDEMISSION WHERE YNUM_0='{{$json.query.q}}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[976,-64],"id":"981b2265-1944-4c43-9a18-0f532d4d697f","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"z1O0MqQwQiU5terl","name":"SAGE RH"}}},{"parameters":{"operation":"executeQuery","query":"SELECT P.YTIT_0 AS Titre, YF.YDES_0 AS Description, YF.YMISSPOS_0 AS Missions,  YF.YSAVCONPRO_0 AS Connaissance, YF.YSAVETRE_0 AS SavoirEtre, YF.YSAVFAIR_0 AS SavoirFaire, YF.YFOR_0 AS Formations, P.YNUM_0\nFROM jbelrh.JBELRH.XSAL S\nLEFT JOIN jbelrh.JBELRH.ZPOSTE P\nON S.ZPOSTE_0 = P.YNUM_0\nLEFT JOIN jbelrh.JBELRH.YFICHEPOSTE YF\nON P.YFICHPOST_0 = YF.YNUM_0\nWHERE S.XSAL_0='{{ $json.NUMSAL_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[1184,-64],"id":"7183824a-8f0a-401c-9723-91eef2aa85b5","name":"GET INFORMATION DE POSTE","credentials":{"microsoftSql":{"id":"z1O0MqQwQiU5terl","name":"SAGE RH"}}},{"parameters":{"jsCode":"function rtfToTxt(rtf) {\n  if (!rtf) return \"\";\n\n  // 1. Supprimer complètement les définitions de police (\\fonttbl {...})\n  rtf = rtf.replace(/\\\\fonttbl[^}]+}/g, \"\");\n\n  // 2. Supprimer les groupes spéciaux RTF comme \\*\\xxxx { ... }\n  rtf = rtf.replace(/\\\\\\*[^{}]+{|\\\\\\*.*?}/g, \"\");\n\n  // 3. Convertir les caractères Unicode (\\u1234?)\n  rtf = rtf.replace(/\\\\u(-?\\d+)\\?/g, (_, num) =>\n    String.fromCharCode(parseInt(num))\n  );\n\n  // 4. Convertir les caractères hexa (\\'B7 → ·, accent → é...)\n  rtf = rtf.replace(/\\\\'([0-9a-fA-F]{2})/g, (_, hex) =>\n    Buffer.from(hex, \"hex\").toString(\"latin1\")\n  );\n\n  // 5. Remplacer les bullet points RTF (·) par \"-\"\n  rtf = rtf.replace(/·/g, \"- \");\n\n  // 6. Sauts de ligne\n  rtf = rtf.replace(/\\\\par[d]?/g, \"\\n\");\n\n  // 7. Supprimer commandes RTF (\\b, \\fs20, \\f0, \\cf1…)\n  rtf = rtf.replace(/\\\\[a-zA-Z]+\\d* ?/g, \"\");\n\n  // 8. Supprimer accolades RTF\n  rtf = rtf.replace(/[{}]/g, \"\");\n\n  // 9. Nettoyage final\n  rtf = rtf.replace(/\\s+/g, \" \").trim();\n\n  return rtf;\n}\n\n// Récupérer les deux champs\n\nconst des = $input.first().json.Description;\nconst mis = $input.first().json.Missions;\nconst conn = $input.first().json.Connaissance;\nconst s_etre = $input.first().json.SavoirEtre;\nconst s_faire = $input.first().json.SavoirFaire;\nconst s_formation = $input.first().json.Formations;\n\n// Conversion\nconst txt_des = rtfToTxt(des);\nconst txt_mis = rtfToTxt(mis);\nconst txt_conn = rtfToTxt(conn);\nconst txt_etre = rtfToTxt(s_etre);\nconst txt_faire = rtfToTxt(s_faire);\nconst txt_formation = rtfToTxt(s_formation);\n// Retour\nreturn [\n  {\n    json: {\n      data_post:{\n        Titre : $input.first().json.Titre,\n        DESCTIPTION_txt: txt_des,\n        MISSION_txt: txt_mis,\n        CONNAISSANCE_txt: txt_conn,\n        SAVOIR_ETRE_txt: txt_etre,\n        SAVOIR_FAIRE_txt: txt_faire,\n        FORMATION_txt: txt_formation\n      }\n    \n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,-64],"id":"1e0474c7-07b5-4d41-a1ec-574ff006ff12","name":"Code"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1680,144],"id":"4f6c921d-02eb-4225-944c-7cc1eb5034e3","name":"Groq Chat Model","credentials":{"groqApi":{"id":"42cvfunCJKecPQJP","name":"Groq account 2"}}},{"parameters":{"promptType":"define","text":"={{ $json.data_post }}","options":{"systemMessage":"=Agis en tant qu'expert RH senior, spécialisé dans la rédaction et la publication d’offres d’emploi optimisées pour LinkedIn.\n\n**DONNÉES SUPPLÉMENTAIRES (CONTEXTE ENTREPRISE) :**\nBRIQUETERIE JBEL ANNOUR est un leader marocain de la terre cuite, reconnu pour son usine moderne (premier du genre en Afrique en 2009), son engagement citoyen, l'excellence de ses produits et sa vision de leadership. Ses valeurs incluent la Passion, l'Excellence, la Rigueur et l'Innovation.\n\n**TA MISSION :**\nÀ partir du fichier JSON d'entrée, génère une publication LinkedIn complète, professionnelle, claire, attractive, et immédiatement publiable.\n\n**🛠 Règles de Transformation et de Nettoyage**\n1.  **Nettoyage du texte :** Supprime toutes les anomalies (\"Symbol;\", \" - -\", erreurs de ponctuation/accents) et assure-toi que le français est correct et parfaitement rédigé (ex: corriger \"dlai\" en \"délai\").\n2.  **Fluidité et clarté :** Réécris le texte pour garantir la clarté, un ton professionnel et dynamique, et évite toute répétition entre les sections.\n3.  **Mise en liste & Formatage :** Transforme les blocs de texte bruts en listes à puces lisibles. **Règle Cruciale :** Utilise l'astérisque simple (`*`) pour les listes et les tirets simples (`-`) pour les sous-sections. **Ne jamais échapper les caractères Markdown** (n'utilise pas `\\*` ou `\\-`).\n4.  **Optimisation LinkedIn & Aération :** Utilise des caractères Unicode gras (ex: 📌, 🎯, 🛠) pour les titres de sections importantes. **Ajoute systématiquement des séparateurs (`---`)** entre les sections majeures pour aérer le texte et faciliter la lecture sur mobile.\n5.  **Enrichissement/Différenciation :**\n    * Rends l'Introduction percutante (utilise une question ou une accroche forte).\n    * Dans la section \"Pourquoi nous rejoindre ?\", mets l'accent sur les **Points Forts de l'entreprise** (usine moderne, leadership national, engagement citoyen) pour la différencier, au lieu de lister uniquement des valeurs génériques.\n6.  **Call-to-Action (CTA) :** Fournis l'adresse e-mail de candidature en texte brut uniquement (interdis la syntaxe de lien `[texte](mailto:...)`).\n\n**STRUCTURE DE SORTIE ATTENDUE (Markdown) :**\nLa publication doit être livrée en un seul bloc de texte, en respectant scrupuleusement la structure et les titres suivants, et ne doit pas dépasser 2500 caractères :\n\n**📌 POSTE : [Titre du poste du JSON] - Secteur BTP Maroc chez BRIQUETERIE JBEL ANNOUR**\n\n**📍 Introduction Professionnelle**\n\n---\n\n**🎯 Missions Principales** (Liste à puces des tâches)\n\n---\n\n**🛠 Compétences Requises**\n* **Savoir-faire**\n* **Savoir-être**\n* **Connaissances Techniques**\n\n---\n\n**🎓 Profil & Formation** (Liste à puces de la formation et de l'expérience)\n\n---\n\n**✨ Pourquoi nous rejoindre chez BRIQUETERIE JBEL ANNOUR ?**\n\n---\n\n**📩 Comment Postuler** (Incluant l'adresse email en texte clair) EMAIL: khaddajbel@gmail.com\n\n**JSON à traiter :**\n{{ $json.data_post }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1680,-64],"id":"820a6509-a3d0-4b2d-bf2d-571bced1b31a","name":"AI Agent"},{"parameters":{"person":"nUXVnHfrNb","text":"={{ $json.output }}","additionalFields":{"visibility":"PUBLIC"}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[2064,-64],"id":"6cca46f0-2058-4a6c-ae7e-8233d3398cd8","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"PEZfcPVuJLwKxdnI","name":"LinkedIn account"}}},{"parameters":{"chatId":"=8393454603","text":"=Offre : pour le poste {{ $('Code').item.json.data_post.Titre }} créé sur LinkedIn.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2288,-240],"id":"bb6fb4ca-6935-40b5-b83e-77d23f6effa4","name":"Send a text message to astitou","webhookId":"e8753b37-3ac1-42b6-93e9-0937be1ba1ea","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"chatId":"=8346228100","text":"=Offre : pour le poste {{ $('Code').item.json.data_post.Titre }} créé sur LinkedIn.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2288,-64],"id":"9d9aa3d5-c97c-4e58-a62b-f49bfc42c189","name":"Send a text message to khadda","webhookId":"e8753b37-3ac1-42b6-93e9-0937be1ba1ea","notesInFlow":false,"credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"path":"bc349085-0436-4c66-9053-53a96ddb4cd0","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[176,-304],"id":"30a2a0c7-f28f-4589-b511-822886a2c9cb","name":"Webhook1","webhookId":"bc349085-0436-4c66-9053-53a96ddb4cd0"},{"parameters":{"chatId":"8346228100 ","text":"=Démission N° {{ $json.query.q }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[784,-400],"id":"fe558d73-51c7-473f-9684-fb4b4752c066","name":"Notif Démission","webhookId":"b83dd522-5e54-4ccd-b3e3-6992f7f7859e","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"chatId":"8393454603","text":"=Démission N° {{ $json.query.q }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[784,-544],"id":"03fa4fcb-9fb4-426e-baca-97c647fc1aa2","name":"Send a text message","webhookId":"106debd8-246c-4fad-b5ce-73c114d22b13","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0da1328c-45e9-45a5-bcba-64942edec23a","name":"query","value":"={{ $json.query.q }}","type":"string"},{"id":"57959a04-6719-45de-8a20-1a6604001813","name":"date","value":"={{ $now }}","type":"string"},{"id":"9dfe37ca-0452-4e89-aa1a-c7ecc65673e2","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[976,-304],"id":"3b11878c-d224-4b16-8fd1-5dd203ca2136","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1hakD7xOJtS6ljEufusrE1FU1wQid_zrphivkXbuy76c/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hakD7xOJtS6ljEufusrE1FU1wQid_zrphivkXbuy76c/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["test"],"schema":[{"id":"test","displayName":"test","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,-304],"id":"8de82ce3-ee2e-4b5c-95f8-61e6c8a235e1","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"HozsBcMfmQwrO0Ko","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"37bdac6a-4645-4049-8c62-33b2bc91dca2","name":"=query.q","value":"DEM00123","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-80],"id":"2ffe6182-e175-49fa-8ae8-ef8928475fdb","name":"Edit Fields"},{"parameters":{"content":"## WBEHOOK \\\n est declenche par SAGE X3","height":176,"width":384},"type":"n8n-nodes-base.stickyNote","position":[-80,-336],"typeVersion":1,"id":"7e4af3b3-51bf-4662-bd37-43f3ac8939dc","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"s0hwchGVCJLLtAHN","mode":"list","cachedResultName":"A.RH-002 Contacte CV intern"},"workflowInputs":{"mappingMode":"defineBelow","value":{"NumPoste":"={{ $json.YNUM_0 }}"},"matchingColumns":["Titre"],"schema":[{"id":"NumPoste","displayName":"NumPoste","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1680,336],"id":"a030a729-1b3a-4497-905e-5c00cf6e73e1","name":"A.RH-002 : (sub) Contacte CV intern"},{"parameters":{"workflowId":{"__rl":true,"value":"TRYHh0vAX0PKNB8S","mode":"list","cachedResultName":"A.RH-003 Notifier Responsable magasin"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Dem":"={{$json.query.q}}"},"matchingColumns":[],"schema":[{"id":"Dem","displayName":"Dem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[784,-720],"id":"0f4dbccb-044c-4413-80e5-76b3898c116a","name":"A.RH-003 : (sub) Notifier Responsable magasin"}],"connections":{"Microsoft SQL":{"main":[[{"node":"GET INFORMATION DE POSTE","type":"main","index":0}]]},"GET INFORMATION DE POSTE":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0},{"node":"A.RH-002 : (sub) Contacte CV intern","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Send a text message to khadda","type":"main","index":0},{"node":"Send a text message to astitou","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Microsoft SQL","type":"main","index":0},{"node":"Notif Démission","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0},{"node":"Send a text message","type":"main","index":0},{"node":"A.RH-003 : (sub) Notifier Responsable magasin","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f97ee0e6-5d9f-4f1b-9a43-7a9bbf1b06c0","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}