a.rh-003 : (sub) notifier responsable magasin-TRYHh0vAX0PKNB8S.json
{"createdAt":"2025-12-08T14:36:11.144Z","updatedAt":"2025-12-19T08:42:13.000Z","id":"TRYHh0vAX0PKNB8S","name":"A.RH-003 : (sub) Notifier Responsable magasin","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Dem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-512,-32],"id":"aaef8cc3-610a-4504-a344-c820b7737f47","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"SELECT \nP.YTIT_0 AS Titre,\nD.YNUM_0 AS Demission,\nS.XNAMSAL_0 AS Nom, \nS.XPRENOM_0 AS Prenom,\nYA.YINTIT_0 AS Intitule, \nSA.YAVANTAGE_0 AS Avantage,\nSA.YACT_POSTE_0 AS Actif, \nD.NUMSAL_0  AS Salarie\nFROM jbelrh.JBELRH.YDEMISSION D\nLEFT JOIN jbelrh.JBELRH.XSAL S\nON S.XSAL_0=D.NUMSAL_0\nLEFT JOIN jbelrh.JBELRH.ZPOSTE P\nON S.ZPOSTE_0 = P.YNUM_0\nLEFT JOIN jbelrh.JBELRH.YSALAVANT SA\nON D.NUMSAL_0=SA.YSAL_0\nLEFT JOIN jbelrh.JBELRH.YAVANTAGE YA\nON YA.YAVT_0=SA.YAVANTAGE_0\nWHERE {{ $json.appended_condition[0] }} AND SA.YACT_POSTE_0=2"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[560,-48],"id":"4420d51c-a027-4c6e-a7b6-a93f55667955","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"z1O0MqQwQiU5terl","name":"SAGE RH"}}},{"parameters":{"chatId":"8346228100","text":"=RH-003: Bonjour,  {{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,-224],"id":"d4e3a37e-5c94-4dc2-8288-b81a2f837192","name":"Send a text message","webhookId":"0d9ce7ad-e21c-46e9-916f-5fbce073a6bc","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"jsCode":"// Groupement des avantages par salarié\nconst groupedData = {};\n\nitems.forEach(item => {\n  const key = item.json.Salarie;\n  \n  if (!groupedData[key]) {\n    groupedData[key] = {\n      Salarie: item.json.Salarie,\n      Nom: item.json.Nom,\n      Prenom: item.json.Prenom,\n      Demission: item.json.Demission,\n      Titre: item.json.Titre,\n      Avantages: []\n    };\n  }\n  \n  // Ajouter l'intitulé de l'avantage si actif\n  if (item.json.Actif === 2) {\n    groupedData[key].Avantages.push(item.json.Intitule);\n  }\n});\n\n// Créer le message pour chaque salarié\nconst messages = [];\nfor (const salarie in groupedData) {\n  const data = groupedData[salarie];\n  \n  if (data.Avantages.length > 0) {\n    const message = `Le salarié suivant est en démission (${data.Demission}) :\n    \nNom: ${data.Nom} ${data.Prenom}\nMatricule: ${data.Salarie}\nPoste: ${data.Titre}\n\nVeuillez récupérer les avantages suivants :\n${data.Avantages.map(av => `• ${av}`).join('\\n')}`;\n    \n    messages.push({\n      json: {\n        message: message,\n        ...data\n      }\n    });\n  }\n}\n\nreturn messages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-48],"id":"3504512f-2faf-433f-b4c0-528ad17d4395","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"5f915aa4-9a69-4b24-b93e-479d076d316a","name":"condition","value":"=D.YNUM_0='{{ $json.Dem }}'","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-160],"id":"18758d3f-afc3-4de0-bf96-5c0acaecf5a3","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"25b4fbd0-fdf8-4489-acc2-644ba60652cc","leftValue":"={{ $json.Dem }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,-32],"id":"0ef64554-f5ae-4995-9bc7-e5a69316095f","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"5f915aa4-9a69-4b24-b93e-479d076d316a","name":"condition","value":"=1=1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,64],"id":"bbc69645-abed-4483-8c47-f7e4e431fae8","name":"Edit Fields1"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"append","field":"condition"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[304,-48],"id":"9180cb56-47f1-447f-81be-4b7a7111e271","name":"Summarize"},{"parameters":{"chatId":"8393454603","text":"=RH-003: Bonjour,  {{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,-48],"id":"980fdc0c-6123-42e6-a5ab-4eaf42c60afd","name":"Send a text message1","webhookId":"0d9ce7ad-e21c-46e9-916f-5fbce073a6bc","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"chatId":"8232033350","text":"=RH-003: Bonjour,  {{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,144],"id":"3f87fe7d-d604-4593-82d8-26a5a1b23233","name":"Send a text message2","webhookId":"88dedf21-539a-4a4c-8193-e2877a814962","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Send a text message1","type":"main","index":0},{"node":"Send a text message2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a466deb7-7020-42a5-b415-1106d941fda0","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}