a.rh-002 : (sub) contacte cv intern-s0hwchGVCJLLtAHN.json
{"createdAt":"2025-12-06T22:50:47.198Z","updatedAt":"2025-12-19T08:42:41.000Z","id":"s0hwchGVCJLLtAHN","name":"A.RH-002 : (sub) Contacte CV intern","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"NumPoste"},{"name":"Titre"},{"name":"Description"},{"name":"Missions"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,-160],"id":"f64931e4-49e3-4a1b-a46e-d2c487de7b94","name":"When Executed by Another Workflow"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1hakD7xOJtS6ljEufusrE1FU1wQid_zrphivkXbuy76c/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1539525991,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hakD7xOJtS6ljEufusrE1FU1wQid_zrphivkXbuy76c/edit#gid=1539525991"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[944,-416],"id":"488de35f-0fb8-4a4d-91a2-91a3d218c357","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"HozsBcMfmQwrO0Ko","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT CV.YNOM_0, CV.YPRENOM_0, YPOSTE_0, YEXPERIENCE_0, YEMAILPER_0\n  \n  FROM jbelrh.JBELRH.YCV CV\nWHERE CV.YPOSTE_0='{{ $json.NumPoste }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-624,-160],"id":"c6c6c892-4bad-4b39-9e77-aa984c72ac9e","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"z1O0MqQwQiU5terl","name":"SAGE RH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f24a45b-8c9f-458b-8909-0bf8f4d8cd09","leftValue":"={{ $json.YEMAILPER_0 }}","rightValue":"@","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-160],"id":"dc267305-21ea-4baf-8b04-ed9fa7b979d9","name":"If"},{"parameters":{"chatId":"8346228100","text":"=agent d'envoyer Email : le condidat  {{ $json.YNOM_0 }} {{ $json.YPRENOM_0 }} a pas d'email ( Post : {{ $json.YPOSTE_0 }} )","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,0],"id":"30f122d0-228d-4a5d-8b2e-36bce83280d8","name":"Send a text message","webhookId":"b60bd6ba-d39d-40bb-b86a-ce2c3b65b4d0","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"promptType":"define","hasOutputParser":true,"options":{"systemMessage":"Tu es un assistant RH expert en rédaction d’emails de recrutement courts et professionnels.\n\nEntrées utilisateur :\n- Titre du poste :\n- Description du poste :\n- Missions principales :\n- Présentation de l’entreprise (À propos de …) :\n\nConsignes strictes :\n• L’email doit être court : 6 à 9 lignes maximum.\n• La description du poste doit être résumée en 2 à 3 lignes maximum.\n• Les missions doivent être sous forme de puces (maximum 5 points).\n• La section “À propos de l’entreprise” doit être résumée en 2 à 3 lignes.\n• Style : professionnel, clair, moderne, sans phrases longues ni génériques.\n• Langue : français.\n• Ajouter un objet d’email court et pertinent.\n• Terminer par une phrase d’appel à action (proposer un échange).\n\nFormat de sortie obligatoire :\n\nObjet : …\n\nBonjour,\n\n[Description du poste : 2–3 lignes]\n\nMissions principales :\n- …\n- …\n- …\n- …\n- …\n\nÀ propos de [NomEntreprise] :\n[Résumé 2–3 lignes]\n\n[Phrase d’invitation à échanger]\n\nCordialement,\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[576,-416],"id":"31b1d274-146b-408a-bf76-dbf82cd38907","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[512,-192],"id":"5b77abf3-7777-4f78-b97e-5a1579834e8e","name":"Groq Chat Model","credentials":{"groqApi":{"id":"42cvfunCJKecPQJP","name":"Groq account 2"}}},{"parameters":{"fromEmail":"astitoumd@gmail.com","toEmail":"={{ $fromAI('To_Email', ``, 'string') }}","subject":"={{ $fromAI('Subject', ``, 'string') }}","html":"={{ $fromAI('HTML', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[848,-192],"id":"02448121-f6e2-4173-976a-e363771de73f","name":"Send email in Send Email","webhookId":"33c4ef37-7430-4ccd-94a3-db8819d33da4","credentials":{"smtp":{"id":"Zuh4fvreXkzQMkUV","name":"smtp achat jbel-annour"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[624,-192],"id":"d18426d3-ec42-46a1-85a2-656fd85cb9b0","name":"Simple Memory"},{"parameters":{"chatId":"8232033350","text":"=agent d'envoyer Email : le condidat  {{ $json.YNOM_0 }} {{ $json.YPRENOM_0 }} a pas d'email ( Post : {{ $json.YPOSTE_0 }} )","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[592,144],"id":"4482c7bc-2616-4032-a9dd-22e299c21881","name":"Send a text message1","webhookId":"47fcc402-406c-4225-b8bc-27bfb6f2d353","credentials":{"telegramApi":{"id":"UHa8Tw7yhyWHsf8M","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b2fa1ffe-4f47-46b2-88e2-ecd516c879bd","name":"YNOM_0","value":"={{ $json.YNOM_0 }}","type":"string"},{"id":"c84d1feb-9f70-4137-aa76-b877d8a2b350","name":"YPRENOM_0","value":"={{ $json.YPRENOM_0 }}","type":"string"},{"id":"1a65f44a-a8c0-4386-9292-9d4013598a7c","name":"Titre","value":"={{ $('When Executed by Another Workflow').item.json.Titre }}","type":"string"},{"id":"2e956bae-2423-4c68-ad1a-5fc157f60f82","name":"DESCTIPTION_txt","value":"={{ $('When Executed by Another Workflow').item.json.DESCTIPTION_txt }}","type":"string"},{"id":"5e71c266-1fc2-4b0f-9d57-595d7a07100b","name":"MISSION_txt","value":"={{ $('When Executed by Another Workflow').item.json.MISSION_txt }}","type":"string"},{"id":"4dc0a969-e246-4d5e-a8fc-97353340eb3f","name":"YEMAILPER_0","value":"={{ $json.YEMAILPER_0 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,-160],"id":"f1a2fe11-66b3-437f-8b1d-cb6453781be6","name":"Edit Fields"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.data = item.json;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-416],"id":"2a86739d-3df9-4939-9153-7eba6e021d1b","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0},{"node":"Send a text message1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Send email in Send Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"NumPoste":"PST00064","Titre":"GESTIONNAIRE DE PAIE","DESCTIPTION_txt":"Le Gestionnaire de Paie est responsable de llaboration, du contrle et de la mise en paiement des salaires dans le respect de la lgislation marocaine et des procdures internes. Il gre lensemble du processus de paie, du traitement des variables (heures supplmentaires, primes, absences, congs) jusqu ldition des bulletins et des dclarations sociales.","MISSION_txt":"Symbol; - - Collecter, saisir et contrler les lments variables de la paie (heures, primes, congs, absences, retenues). - tablir et vrifier les bulletins de salaire. - Grer les dclarations sociales (CNSS, CIMR, AMO, impts). - Assurer le suivi des avances, prts salaris et indemnits. - Garantir la conformit de la paie aux dispositions lgales et conventionnelles. - Mettre jour rgulirement la base de donnes du personnel dans le systme (Sage X3 ou autre logiciel RH/paie). - Prparer et transmettre les tats de paie et les reporting la direction financire et RH. - Assurer le suivi des soldes de tout compte (dparts, licenciements, retraites). - Collaborer avec les auditeurs internes et externes en fournissant les documents ncessaires."}}],"Microsoft SQL":[{"json":{"YNOM_0":"LACHHAB","YPRENOM_0":"SAFWANE","YPOSTE_0":"PST00064","YEXPERIENCE_0":3,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"MALICK","YPRENOM_0":"PAPA","YPOSTE_0":"PST00064","YEXPERIENCE_0":9,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"LAHDILI","YPRENOM_0":"GHIZLAINE","YPOSTE_0":"PST00064","YEXPERIENCE_0":3,"YEMAILPER_0":"astitoumd@gmail.com"}},{"json":{"YNOM_0":"OUZMI","YPRENOM_0":"MANAL","YPOSTE_0":"PST00064","YEXPERIENCE_0":9,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"SIBOUIH","YPRENOM_0":"MARIYEM","YPOSTE_0":"PST00064","YEXPERIENCE_0":1,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"EL JEBYLY","YPRENOM_0":"FAHD","YPOSTE_0":"PST00064","YEXPERIENCE_0":7,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"OULHOUS","YPRENOM_0":"IMANE","YPOSTE_0":"PST00064","YEXPERIENCE_0":4,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"JABRI","YPRENOM_0":"Mohammed","YPOSTE_0":"PST00064","YEXPERIENCE_0":8,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"KARYOUATE","YPRENOM_0":"Hamza","YPOSTE_0":"PST00064","YEXPERIENCE_0":6,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"ELIDRISSI","YPRENOM_0":"ElMehdi","YPOSTE_0":"PST00064","YEXPERIENCE_0":10,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"SABIRI","YPRENOM_0":"ABDELLAH","YPOSTE_0":"PST00064","YEXPERIENCE_0":1,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"E L INZAL I","YPRENOM_0":"Ya s s ine","YPOSTE_0":"PST00064","YEXPERIENCE_0":1,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"EL BAZ","YPRENOM_0":"Mohamed","YPOSTE_0":"PST00064","YEXPERIENCE_0":6,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"KHALID","YPRENOM_0":"OUMAIMA","YPOSTE_0":"PST00064","YEXPERIENCE_0":6,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"SHIH","YPRENOM_0":"SOUFIANE","YPOSTE_0":"PST00064","YEXPERIENCE_0":8,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"Morad","YPRENOM_0":"Abdelmoumen","YPOSTE_0":"PST00064","YEXPERIENCE_0":19,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"Zouhair","YPRENOM_0":"Hamza","YPOSTE_0":"PST00064","YEXPERIENCE_0":1,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"BOUNAJI","YPRENOM_0":"Zouhair","YPOSTE_0":"PST00064","YEXPERIENCE_0":17,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"CHARAF","YPRENOM_0":"Mouna","YPOSTE_0":"PST00064","YEXPERIENCE_0":7,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"ADADI","YPRENOM_0":"WASSILA","YPOSTE_0":"PST00064","YEXPERIENCE_0":8,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"MOULELKSOUR","YPRENOM_0":"AYOUB","YPOSTE_0":"PST00064","YEXPERIENCE_0":8,"YEMAILPER_0":" "}},{"json":{"YNOM_0":"ARIFI","YPRENOM_0":"ABDELHAK","YPOSTE_0":"PST00064","YEXPERIENCE_0":8,"YEMAILPER_0":" "}}]},"versionId":"6bab409e-dca2-4d16-a39c-11aa320cfad6","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}