attestation non attachée-pfA7qqQnqLShgHod.json
{"createdAt":"2025-12-27T16:51:22.719Z","updatedAt":"2026-06-15T17:50:29.000Z","id":"pfA7qqQnqLShgHod","name":"Attestation non attachée","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4592,5216],"id":"08fe5816-d6fa-4fc0-b39c-a2edd60369ca","name":"Schedule Trigger3"},{"parameters":{"operation":"executeQuery","query":"-- ═══════════════════════════════════════════════════════════\n-- MULTI-DESTINATION : une ligne par niveau d'escalade actif\n-- ═══════════════════════════════════════════════════════════\n\nWITH base AS (\n    SELECT \n        t.XNUM_0        AS numero_attestation,\n        t.CREDATTIM_0   AS date_creation_attestation,\n        t.YDATCON_0     AS date_controle,\n        t.CREUSR_0      AS utilisateur_createur,\n        P.VALEUR_0      AS delai_total_jours,\n\n        COALESCE(x_direct.XSAL_0,   x_mapping.XSAL_0)   AS code_salarie,\n        COALESCE(x_direct.XNAMSAL_0,x_mapping.XNAMSAL_0) AS nom_salarie,\n        COALESCE(x_direct.XPRENOM_0,x_mapping.XPRENOM_0) AS prenom_salarie,\n        'gestionnaire.des.demandes.du.personnel@jbel-annour.ma'  AS email_salarie,\n        COALESCE(x_direct.YTELE_0,  x_mapping.YTELE_0)   AS num_telephone_salarie,\n        COALESCE(x_direct.YSUP_0,   x_mapping.YSUP_0)    AS code_superieur,\n\n        xx.XSAL_0    AS code_sup,\n        xx.XNAMSAL_0 AS nom_superieur,\n        xx.XPRENOM_0 AS prenom_superieur,\n        xx.XEMAIL_0  AS email_superieur,\n        xx.YTELE_0   AS num_telephone_sup,\n\n        pdg.XSAL_0   AS code_pdg,    pdg.XNAMSAL_0  AS nom_pdg,\n        pdg.XPRENOM_0 AS prenom_pdg, pdg.XEMAIL_0   AS email_pdg,\n        pdg.YTELE_0  AS telephone_pdg,\n\n        dga.XSAL_0   AS code_dga,    dga.XNAMSAL_0  AS nom_dga,\n        dga.XPRENOM_0 AS prenom_dga, dga.XEMAIL_0   AS email_dga,\n        dga.YTELE_0  AS telephone_dga,\n\n        farhat.XSAL_0   AS code_farhat,    farhat.XNAMSAL_0 AS nom_farhat,\n        farhat.XPRENOM_0 AS prenom_farhat, farhat.XEMAIL_0  AS email_farhat,\n        farhat.YTELE_0  AS telephone_farhat,\n\n        baallah.XSAL_0   AS code_baallah,    baallah.XNAMSAL_0 AS nom_baallah,\n        baallah.XPRENOM_0 AS prenom_baallah, baallah.XEMAIL_0  AS email_baallah,\n        baallah.YTELE_0  AS telephone_baallah,\n\n        -- Infos IA : salarie\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS bot_salarie,\n        -- sup\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS bot_superieur,\n        -- pdg\n        '8528101210'  AS chat_id_pdg,\n        (SELECT inf.LAN_0  FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n        -- dga\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n        -- farhat\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n        -- baallah\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        DATEADD(DAY, CAST(P.VALEUR_0 AS INT), t.CREDATTIM_0)                                       AS date_limite,\n        DATEDIFF(DAY, t.CREDATTIM_0, GETDATE())                                                     AS jours_depuis_creation,\n        DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), t.CREDATTIM_0))             AS jours_restants,\n        CAST(P.VALEUR_0 AS INT)                                                                     AS delai_int\n\n    FROM jbelrh.JBELRH.XATT t\n        LEFT JOIN jbelrh.JBELRH.XSAL x_direct ON x_direct.XSAL_0 = t.CREUSR_0\n        LEFT JOIN jbelrh.JBELRH.YSALAUS s     ON s.USER_0 = t.CREUSR_0\n        LEFT JOIN jbelrh.JBELRH.XSAL x_mapping ON x_mapping.XSAL_0 = s.XSAL_0\n        LEFT JOIN jbelrh.JBELRH.XSAL xx ON xx.XSAL_0 = COALESCE(x_direct.YSUP_0, x_mapping.YSUP_0)\n        CROSS APPLY (SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YDELPJATT') P\n        CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066') pdg\n        CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949') dga\n        CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602') farhat\n        CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179') baallah\n    WHERE \n        t.CREDATTIM_0 >= '2024-01-01'\n        AND t.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n        AND NOT EXISTS (\n            SELECT * FROM jbelrh.JBELRH.AOBJTXT\n            WHERE t.XNUM_0 = AOBJTXT.IDENT1_0 AND AOBJTXT.ABREV_0 = 'XATT'\n        )\n)\n\n-- ═══════════════════════════════════════════════════════════\n-- EXPANSION : une ligne par destination active\n-- Les conditions se CUMULENT (pas de CASE exclusif)\n-- ═══════════════════════════════════════════════════════════\n\n-- SALARIE  → jours_restants = 4\nSELECT *, 'SALARIE' AS niveau_escalade FROM base WHERE jours_restants = 4\n\nUNION ALL\n\n-- SUPERIEUR → jours_restants = 3\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\n\nUNION ALL\n\n-- FARHAT   → jours_restants entre 5 et 8 (inclus)\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants BETWEEN 5 AND 8\n\nUNION ALL\n\n-- DGA      → jours_restants <= délai/2\n--            CHEVAUCHE FARHAT quand délai/2 est dans [5..8]\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= (delai_int / 2)\n                                                       AND jours_restants > 4   -- déjà couverts par SUP/SAL/PDG\n\nUNION ALL\n\n-- BAALLAH  → jours_restants <= délai/2 (même seuil que DGA)\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= (delai_int / 2)\n                                                       AND jours_restants > 4   -- déjà couverts par SUP/SAL/PDG\n\nUNION ALL\n\n-- PDG      → jours_restants <= 2\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\n\nORDER BY jours_restants ASC, niveau_escalade DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-4368,5216],"id":"40091372-9d35-491a-8800-8984582e3652","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4144,5216],"id":"1d365aab-f543-4f73-9f97-3b191d57de88","name":"Vérifier Données Présentes3","notes":"Stoppe le workflow si aucune donnée"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3920,5312],"id":"755bbfc6-00f9-4238-8186-28f70075656d","name":"Fin - Aucune Donnée3","notes":"Aucune attestation à traiter aujourd'hui"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES PAR DESTINATAIRE ET NIVEAU D'ESCALADE\n// Niveaux : PDG / SUPERIEUR / SALARIE / FARHAT / DGA / BAALLAH\n// DGA & BAALLAH = notifiés quand jours_restants <= delai_total / 2\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION DES NOTIFICATIONS - ATTESTATIONS (avec DGA + BAALLAH)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Attestations reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  if (data.niveau_escalade === 'PDG') {\n    destinatairePrincipal = {\n      code: data.code_pdg,\n      nom: data.nom_pdg,\n      prenom: data.prenom_pdg,\n      email: data.email_pdg,\n      telephone: data.telephone_pdg,\n      chat_id: data.chat_id_pdg,\n      langue: data.langue_pdg,\n      bot: data.bot_pdg\n    };\n    codeDestinataire = data.code_pdg;\n    typeDestinataire = 'PDG';\n\n  } else if (data.niveau_escalade === 'SUPERIEUR') {\n    destinatairePrincipal = {\n      code: data.code_superieur,\n      nom: data.nom_superieur,\n      prenom: data.prenom_superieur,\n      email: data.email_superieur,\n      telephone: data.num_telephone_sup,\n      chat_id: data.chat_id_superieur,\n      langue: data.langue_superieur,\n      bot: data.bot_superieur\n    };\n    codeDestinataire = data.code_superieur;\n    typeDestinataire = 'SUPERIEUR';\n\n  } else if (data.niveau_escalade === 'SALARIE') {\n    destinatairePrincipal = {\n      code: data.code_salarie,\n      nom: data.nom_salarie,\n      prenom: data.prenom_salarie,\n      email: data.email_salarie,\n      telephone: data.num_telephone_salarier,\n      chat_id: data.chat_id_salarie,\n      langue: data.langue_salarie,\n      bot: data.bot_salarie\n    };\n    codeDestinataire = data.code_salarie;\n    typeDestinataire = 'SALARIE';\n\n  } else if (data.niveau_escalade === 'FARHAT') {\n    destinatairePrincipal = {\n      code: data.code_farhat,\n      nom: data.nom_farhat,\n      prenom: data.prenom_farhat,\n      email: data.email_farhat || null,\n      telephone: data.telephone_farhat || null,\n      chat_id: data.chat_id_farhat || null,\n      langue: data.langue_farhat || 'FRA',\n      bot: data.bot_farhat || null\n    };\n    codeDestinataire = data.code_farhat;\n    typeDestinataire = 'FARHAT';\n\n  } else if (data.niveau_escalade === 'DGA') {\n    destinatairePrincipal = {\n      code: data.code_dga,\n      nom: data.nom_dga,\n      prenom: data.prenom_dga,\n      email: data.email_dga || null,\n      telephone: data.telephone_dga || null,\n      chat_id: null,\n      langue: data.langue_dga || 'FRA',\n      bot: null\n    };\n    codeDestinataire = data.code_dga;\n    typeDestinataire = 'DGA';\n\n  } else if (data.niveau_escalade === 'BAALLAH') {\n    // ─── NOUVEAU : BAALLAH à mi-délai, même seuil que DGA ───\n    destinatairePrincipal = {\n      code: data.code_baallah,\n      nom: data.nom_baallah,\n      prenom: data.prenom_baallah,\n      email: data.email_baallah || null,\n      telephone: data.telephone_baallah || null,\n      chat_id: data.chat_id_baallah || null,\n      langue: data.langue_baallah || 'FRA',\n      bot: data.bot_baallah || null\n    };\n    codeDestinataire = data.code_baallah;\n    typeDestinataire = 'BAALLAH';\n\n  } else {\n    console.log(`⏭️  Attestation ${data.numero_attestation} ignorée (niveau: ${data.niveau_escalade})`);\n    return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade: data.niveau_escalade,\n\n      salarie: {\n        code: data.code_salarie,\n        nom: data.nom_salarie,\n        prenom: data.prenom_salarie,\n        email: data.email_salarie,\n        telephone: data.num_telephone_salarier,\n        chat_id: data.chat_id_salarie,\n        langue: data.langue_salarie,\n        bot: data.bot_salarie\n      },\n\n      superieur: {\n        code: data.code_superieur,\n        nom: data.nom_superieur,\n        prenom: data.prenom_superieur,\n        email: data.email_superieur,\n        telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur,\n        langue: data.langue_superieur,\n        bot: data.bot_superieur\n      },\n\n      pdg: {\n        code: data.code_pdg,\n        nom: data.nom_pdg,\n        prenom: data.prenom_pdg,\n        email: data.email_pdg,\n        telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg,\n        langue: data.langue_pdg,\n        bot: data.bot_pdg\n      },\n\n      dga: {\n        code: data.code_dga,\n        nom: data.nom_dga,\n        prenom: data.prenom_dga,\n        email: data.email_dga,\n        telephone: data.telephone_dga,\n        chat_id: null,\n        langue: data.langue_dga || 'FRA',\n        bot: null\n      },\n\n      farhat: {\n        code: data.code_farhat,\n        nom: data.nom_farhat,\n        prenom: data.prenom_farhat,\n        email: data.email_farhat,\n        telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat,\n        langue: data.langue_farhat,\n        bot: data.bot_farhat\n      },\n\n      baallah: {\n        code: data.code_baallah,\n        nom: data.nom_baallah,\n        prenom: data.prenom_baallah,\n        email: data.email_baallah,\n        telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah,\n        langue: data.langue_baallah || 'FRA',\n        bot: data.bot_baallah\n      },\n\n      attestations: []\n    };\n  }\n\n  notifications[cleDestinataire].attestations.push({\n    numero_attestation: data.numero_attestation,\n    date_creation_attestation: data.date_creation_attestation,\n    date_controle: data.date_controle,\n    utilisateur_createur: data.utilisateur_createur,\n    delai_total_jours: data.delai_total_jours,\n    date_limite: data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants: data.jours_restants,\n    salarie_concerne: {\n      code: data.code_salarie,\n      nom: data.nom_salarie,\n      prenom: data.prenom_salarie,\n      email: data.email_salarie,\n      telephone: data.num_telephone_salarier\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalAttestations = notif.attestations.length;\n  const joursMin = Math.min(...notif.attestations.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.attestations.map(a => a.jours_restants));\n  const delaiTotal = parseInt(notif.attestations[0]?.delai_total_jours) || 10;\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email && notif.salarie.chat_id) emailCC.push(notif.salarie.email);\n    if (notif.superieur.chat_id) chatIDsCC.push({\n      chat_id: notif.superieur.chat_id,\n      bot: notif.superieur.bot,\n      langue: notif.superieur.langue,\n      nom: `${notif.superieur.prenom} ${notif.superieur.nom}`\n    });\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id,\n      bot: notif.salarie.bot,\n      langue: notif.salarie.langue,\n      nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email && notif.salarie.chat_id) emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id,\n      bot: notif.salarie.bot,\n      langue: notif.salarie.langue,\n      nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'DGA') {\n    // DGA → email uniquement, pas de CC, pas de Telegram\n\n  } else if (notif.type_destinataire === 'BAALLAH') {\n    // BAALLAH → email + Telegram si chat_id disponible, pas de CC\n\n  } else if (notif.type_destinataire === 'FARHAT') {\n    // FARHAT → pas de CC\n  }\n  // SALARIE → Pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    salarie: notif.salarie,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    attestations: notif.attestations,\n    statistiques: {\n      total_attestations: totalAttestations,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: delaiTotal,\n      seuil_mi_delai: Math.floor(delaiTotal / 2)\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\nconsole.log('Par type:');\nconsole.log(`  - PDG:       ${resultats.filter(r => r.type_destinataire === 'PDG').length}`);\nconsole.log(`  - Supérieur: ${resultats.filter(r => r.type_destinataire === 'SUPERIEUR').length}`);\nconsole.log(`  - Salarié:   ${resultats.filter(r => r.type_destinataire === 'SALARIE').length}`);\nconsole.log(`  - DGA:       ${resultats.filter(r => r.type_destinataire === 'DGA').length}`);\nconsole.log(`  - Baallah:   ${resultats.filter(r => r.type_destinataire === 'BAALLAH').length}`);\nconsole.log(`  - Farhat:    ${resultats.filter(r => r.type_destinataire === 'FARHAT').length}`);\nconsole.log('\\nDétails:');\nresultats.forEach(r => {\n  console.log(`  ${r.type_destinataire} - ${r.destinataire_principal.nom}: ${r.statistiques.total_attestations} attestation(s)`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3920,5120],"id":"c2056251-a0b6-4b94-ab4c-bb7ec60a9202","name":"Structuration par Destinataire3","notes":"Groupe les attestations par destinataire avec escalade automatique (+ DGA + BAALLAH)"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG: '🔴 ALERTE URGENTE - Attestations Non Attachées',\n      SUPERIEUR: '🟠 IMPORTANT - Attestations Non Attachées',\n      SALARIE: '🟡 Rappel - Attestations à Compléter',\n      DGA: '🟠 INFO DGA - Attestations à Surveiller',\n      BAALLAH: '🟠 INFO X3 - Attestations à Surveiller',\n      FARHAT: '🔵 INFO PRÉVENTIVE - Attestations à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG: 'ALERTE URGENTE - Les attestations suivantes nécessitent votre attention IMMÉDIATE',\n      SUPERIEUR: 'Les attestations suivantes requièrent votre attention en priorité',\n      SALARIE: 'Rappel concernant vos attestations en attente de traitement',\n      DGA: 'Information - Les attestations suivantes ont atteint la moitié de leur délai sans document attaché',\n      BAALLAH: 'Information - Les attestations suivantes ont atteint la moitié de leur délai sans document attaché (suivi X3)',\n      FARHAT: 'Information préventive - Les attestations suivantes approchent de leur délai limite'\n    },\n    cc_message: {\n      base: 'Un message d\\'alerte concernant les attestations non attachées suivantes a été envoyé à',\n      votre_superieur: 'votre supérieur(e)',\n      le_pdg: 'la Direction (PDG)',\n      le_dga: 'la Direction Générale Adjointe (DGA)',\n      le_baallah: 'le Responsable X3 (Jaouad Baallah)',\n      le_farhat: 'le Responsable RH',\n      action: 'Veuillez prendre les mesures nécessaires pour traiter ces attestations dans les délais impartis.'\n    },\n    section_stats: 'STATISTIQUES',\n    total: 'Total attestations',\n    delai_min: 'Délai minimum',\n    jours: 'jour(s)',\n    seuil_mi_delai: 'Seuil mi-délai',\n    section_attestations: 'LISTE DES ATTESTATIONS NON ATTACHÉES',\n    numero: 'Numéro',\n    date_creation: 'Date création',\n    creee_par: 'Créée par',\n    salarie_concerne: 'Salarié concerné',\n    delai: 'Délai',\n    restant: 'restant(s)',\n    limite: 'Limite',\n    delai_total: 'Délai total',\n    action_requise: 'ACTION REQUISE',\n    urgent: 'URGENT - Attacher immédiatement',\n    contact: 'Contact Service RH',\n    cordialement: 'Cordialement',\n    signature: 'Service SI/IA - Jbel Annour',\n    message_auto: 'Message automatique',\n    ne_pas_repondre: 'Merci de ne pas répondre à cet email',\n    copie_info: '📋 CC',\n    instruction: 'Veuillez attacher les justificatifs manquants à ces attestations dans les meilleurs délais.',\n    instruction_mi_delai: 'Ces attestations ont dépassé la moitié du délai autorisé sans document attaché. Merci de vous assurer que les actions correctives sont engagées.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG: '🔴 تنبيه عاجل - شهادات غير مرفقة',\n      SUPERIEUR: '🟠 هام - شهادات غير مرفقة',\n      SALARIE: '🟡 تذكير - شهادات للإكمال',\n      DGA: '🟠 معلومة المدير العام المساعد - شهادات للمراقبة',\n      BAALLAH: '🟠 معلومة X3 - شهادات للمراقبة',\n      FARHAT: '🔵 معلومة وقائية - شهادات للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG: 'تنبيه عاجل - الشهادات التالية تتطلب اهتمامك الفوري',\n      SUPERIEUR: 'الشهادات التالية تتطلب اهتمامك بالأولوية',\n      SALARIE: 'تذكير بخصوص شهاداتك في انتظار المعالجة',\n      DGA: 'معلومة - الشهادات التالية تجاوزت نصف المهلة المحددة دون إرفاق وثائق',\n      BAALLAH: 'معلومة - الشهادات التالية تجاوزت نصف المهلة المحددة دون إرفاق وثائق (متابعة X3)',\n      FARHAT: 'معلومة وقائية - الشهادات التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    cc_message: {\n      base: 'تم إرسال رسالة تنبيه بخصوص الشهادات غير المرفقة التالية إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg: 'الإدارة (المدير العام)',\n      le_dga: 'المدير العام المساعد',\n      le_baallah: 'مسؤول X3 (جواد بعلة)',\n      le_farhat: 'مسؤول الموارد البشرية',\n      action: 'يرجى اتخاذ الإجراءات اللازمة لمعالجة هذه الشهادات في المواعيد المحددة.'\n    },\n    section_stats: 'الإحصائيات',\n    total: 'إجمالي الشهادات',\n    delai_min: 'الحد الأدنى للمهلة',\n    jours: 'يوم/أيام',\n    seuil_mi_delai: 'عتبة منتصف المهلة',\n    section_attestations: 'قائمة الشهادات غير المرفقة',\n    numero: 'الرقم',\n    date_creation: 'تاريخ الإنشاء',\n    creee_par: 'تم إنشاؤها من قبل',\n    salarie_concerne: 'الموظف المعني',\n    delai: 'المهلة',\n    restant: 'المتبقية',\n    limite: 'الحد',\n    delai_total: 'المهلة الإجمالية',\n    action_requise: 'الإجراء المطلوب',\n    urgent: 'عاجل - إرفاق فورا',\n    contact: 'اتصال بقسم الموارد البشرية',\n    cordialement: 'مع أطيب التحيات',\n    signature: 'قسم SI/IA - جبل النور',\n    message_auto: 'رسالة تلقائية',\n    ne_pas_repondre: 'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info: '📋 نسخة للعلم',\n    instruction: 'يرجى إرفاق المستندات الناقصة لهذه الشهادات في أقرب وقت ممكن.',\n    instruction_mi_delai: 'تجاوزت هذه الشهادات نصف المهلة المسموح بها دون إرفاق وثائق. يرجى التأكد من اتخاذ الإجراءات التصحيحية اللازمة.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG: '🔴 URGENT ALERT - Unattached Certificates',\n      SUPERIEUR: '🟠 IMPORTANT - Unattached Certificates',\n      SALARIE: '🟡 Reminder - Certificates to Complete',\n      DGA: '🟠 DGA INFO - Certificates to Monitor',\n      BAALLAH: '🟠 X3 INFO - Certificates to Monitor',\n      FARHAT: '🔵 PREVENTIVE INFO - Certificates to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG: 'URGENT ALERT - The following certificates require your IMMEDIATE attention',\n      SUPERIEUR: 'The following certificates require your priority attention',\n      SALARIE: 'Reminder about your certificates pending processing',\n      DGA: 'Information - The following certificates have exceeded half their deadline without an attached document',\n      BAALLAH: 'Information - The following certificates have exceeded half their deadline without an attached document (X3 monitoring)',\n      FARHAT: 'Preventive information - The following certificates are approaching their deadline'\n    },\n    cc_message: {\n      base: 'An alert message regarding the following unattached certificates has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg: 'the Management (CEO)',\n      le_dga: 'the Deputy General Manager (DGA)',\n      le_baallah: 'the X3 Manager (Jaouad Baallah)',\n      le_farhat: 'the HR Manager',\n      action: 'Please take the necessary measures to process these certificates within the specified deadlines.'\n    },\n    section_stats: 'STATISTICS',\n    total: 'Total certificates',\n    delai_min: 'Minimum deadline',\n    jours: 'day(s)',\n    seuil_mi_delai: 'Mid-deadline threshold',\n    section_attestations: 'LIST OF UNATTACHED CERTIFICATES',\n    numero: 'Number',\n    date_creation: 'Creation date',\n    creee_par: 'Created by',\n    salarie_concerne: 'Employee concerned',\n    delai: 'Deadline',\n    restant: 'remaining',\n    limite: 'Limit',\n    delai_total: 'Total deadline',\n    action_requise: 'ACTION REQUIRED',\n    urgent: 'URGENT - Attach immediately',\n    contact: 'HR Department Contact',\n    cordialement: 'Best regards',\n    signature: 'IT/AI Department - Jbel Annour',\n    message_auto: 'Automatic message',\n    ne_pas_repondre: 'Please do not reply to this email',\n    copie_info: '📋 COPY FOR INFORMATION',\n    instruction: 'Please attach the missing documents to these certificates as soon as possible.',\n    instruction_mi_delai: 'These certificates have exceeded half their allowed deadline without attached documents. Please ensure corrective actions are underway.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n\n  let emailSubject = T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE;\n  emailSubject += ` - ${stats.total_attestations} attestation(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n\n  if (data.type_destinataire === 'DGA' || data.type_destinataire === 'BAALLAH') {\n    emailBody += `${T.seuil_mi_delai}: ${stats.seuil_mi_delai} ${T.jours}\\n`;\n  }\n\n  if (data.type_destinataire !== 'SALARIE' && data.type_destinataire !== 'DGA' && data.type_destinataire !== 'BAALLAH') {\n    emailBody += `\\n${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom} (${data.salarie.code})\\n`;\n  }\n\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `🚨 ${T.action_requise}: ${T.urgent}\\n`;\n  } else if (data.type_destinataire === 'DGA' || data.type_destinataire === 'BAALLAH') {\n    emailBody += `📌 ${T.instruction_mi_delai}\\n`;\n  } else {\n    emailBody += `📌 ${T.instruction}\\n`;\n  }\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom}\\n`;\n    emailBody += `   Email: ${data.superieur.email}\\n`;\n    emailBody += `   Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  if (data.salarie && data.salarie.email) {\n    emailBody += `   ${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom}\\n`;\n    emailBody += `   Email: ${data.salarie.email}\\n`;\n    emailBody += `   Tel: ${data.salarie.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG') emailBody += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (data.type_destinataire === 'DGA') emailBody += `🟠 Notification envoyée au DGA (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  if (data.type_destinataire === 'BAALLAH') emailBody += `🟠 Notification envoyée à Jaouad Baallah / X3 (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `👤 *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 5).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 5) telegramMessage += `... et ${attestations.length - 5} autre(s) attestation(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n  const destinatairePrincipal = data.destinataire_principal;\n\n  let message_envoye_a = '';\n  let message_envoye_a_email = '';\n\n  if (typeDestinatairePrincipal === 'SUPERIEUR') {\n    message_envoye_a = `${T.cc_message.votre_superieur} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.votre_superieur} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'PDG') {\n    message_envoye_a = `${T.cc_message.le_pdg} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_pdg} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'DGA') {\n    message_envoye_a = `${T.cc_message.le_dga} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_dga} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'BAALLAH') {\n    message_envoye_a = `${T.cc_message.le_baallah} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_baallah} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'FARHAT') {\n    message_envoye_a = `${T.cc_message.le_farhat} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_farhat} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  }\n\n  let emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_attestations} attestation(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${message_envoye_a_email}.\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `${T.cc_message.action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   Email: ${data.superieur.email}\\n`;\n    emailBody += `   Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `📋 ${T.copie_info}\\n${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${message_envoye_a}.\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 3).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 3) telegramMessage += `... et ${attestations.length - 3} autre(s) attestation(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  const envoyer_cc_salarie = (data.type_destinataire === 'SUPERIEUR' || data.type_destinataire === 'PDG');\n  const envoyer_cc_superieur = (data.type_destinataire === 'PDG');\n\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      envoyer_cc_salarie,\n      envoyer_cc_superieur,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  if (data.type_destinataire === 'SUPERIEUR') {\n    if (data.salarie && data.salarie.chat_id) {\n      const messagesCC = genererMessageCC(data, data.salarie, 'SUPERIEUR');\n      results.push({\n        json: {\n          ...data, messages: messagesCC, type_envoi: 'CC',\n          destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n          envoyer_cc_salarie: true, envoyer_cc_superieur: false,\n          meta: { ...data.meta, langue_utilisee: data.salarie.langue || data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n        }\n      });\n    }\n  } else if (data.type_destinataire === 'PDG') {\n    if (data.superieur && data.superieur.chat_id) {\n      const messagesCCSuperieur = genererMessageCC(data, data.superieur, 'PDG');\n      results.push({\n        json: {\n          ...data, messages: messagesCCSuperieur, type_envoi: 'CC',\n          destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n          envoyer_cc_salarie: false, envoyer_cc_superieur: true,\n          meta: { ...data.meta, langue_utilisee: data.superieur.langue || data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n        }\n      });\n    }\n    if (data.salarie && data.salarie.chat_id) {\n      const messagesCCSalarie = genererMessageCC(data, data.salarie, 'PDG');\n      results.push({\n        json: {\n          ...data, messages: messagesCCSalarie, type_envoi: 'CC',\n          destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n          envoyer_cc_salarie: true, envoyer_cc_superieur: false,\n          meta: { ...data.meta, langue_utilisee: data.salarie.langue || data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n        }\n      });\n    }\n  } else if (data.type_destinataire === 'DGA') {\n    // DGA → email uniquement, pas de CC, pas de Telegram\n\n  } else if (data.type_destinataire === 'BAALLAH') {\n    // BAALLAH → email + Telegram si chat_id disponible, pas de CC\n    // Le message principal gère déjà Telegram si chat_id est défini\n\n  } else if (data.type_destinataire === 'FARHAT') {\n    if (data.salarie && data.salarie.chat_id) {\n      const messagesCC = genererMessageCC(data, data.salarie, 'FARHAT');\n      results.push({\n        json: {\n          ...data, messages: messagesCC, type_envoi: 'CC',\n          destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n          envoyer_cc_salarie: true, envoyer_cc_superieur: false,\n          meta: { ...data.meta, langue_utilisee: data.salarie.langue || data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n        }\n      });\n    }\n  }\n});\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES - ATTESTATIONS');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages générés: ${results.length}`);\nconsole.log(`  - Messages principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - Messages CC:         ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3696,5120],"id":"b32ffb54-2021-41fd-a220-507a411c6da4","name":"Génération Messages Multilingues3","notes":"Génère les messages en FRA/ARA/ENG selon le destinataire (+ DGA + BAALLAH)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89d1c815-4549-487b-a9ab-a9d4a9113ac3","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3392,4960],"id":"34b2778e-7b38-47c1-8d6c-77730c5750b3","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac8d9e1f-91c8-4e15-84e1-d1f3ccda8852","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3184,4832],"id":"feba011d-7b47-4a3b-850c-811ee36a05d4","name":"not pdg email3"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_final.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-2960,4736],"id":"a1bcb264-039f-42ef-93f2-8298d659d929","name":"Envoi Email3","webhookId":"0d92021c-99ff-4562-b70f-a05602c8ea08","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon escalade"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2960,4928],"id":"ffdf2f77-28b1-4ea7-aabb-799cee5664c6","name":"No Operation, do nothing11"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3184,5040],"id":"8cc311a7-a350-43d3-8f12-86a1620d9490","name":"No Operation, do nothing12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca4c637b-84e0-42b9-8814-b2a19364d18a","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"66146157-2656-4ce6-83a5-50eee01fbabf","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3408,5264],"id":"79d5d6d4-6813-4587-8faa-df39058f7095","name":"Si Chat ID Existe3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3e4c9d6-c4af-465c-b502-4dc7d7e59965","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}},{"id":"0f7475c4-656d-46ad-9461-d2d441c79a11","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3184,5216],"id":"1e818e2b-11c5-4dd7-9822-c48cf9e6255d","name":"not pdg chat id3"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2960,5120],"id":"40170d06-57b8-4db2-8761-a1362b25debf","name":"Envoi Telegram Principal3","webhookId":"95c70f81-d77b-4a3f-8918-d81b5b5c0749","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi au destinataire principal (DGA exclu = chat_id null, BAALLAH selon chat_id DB)"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3184,5376],"id":"6ecc8cc5-e1e4-450b-a6e5-771f30d7e826","name":"No Operation, do nothing13"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2960,5312],"id":"65abc449-62b4-4a5b-ae5f-6fab9a56a6f3","name":"No Operation, do nothing14"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2736,4928],"id":"629e2ab7-c797-4ed7-b4b8-1addb7dd3bb5","name":"Fin Workflow3","notes":"Toutes les notifications envoyées"}],"connections":{"Schedule Trigger3":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Vérifier Données Présentes3","type":"main","index":0}]]},"Vérifier Données Présentes3":{"main":[[{"node":"Structuration par Destinataire3","type":"main","index":0}],[{"node":"Fin - Aucune Donnée3","type":"main","index":0}]]},"Structuration par Destinataire3":{"main":[[{"node":"Génération Messages Multilingues3","type":"main","index":0}]]},"Génération Messages Multilingues3":{"main":[[{"node":"Si Chat ID Existe3","type":"main","index":0},{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"not pdg email3","type":"main","index":0}],[{"node":"No Operation, do nothing12","type":"main","index":0}]]},"not pdg email3":{"main":[[{"node":"Envoi Email3","type":"main","index":0}],[{"node":"No Operation, do nothing11","type":"main","index":0}]]},"Envoi Email3":{"main":[[{"node":"Fin Workflow3","type":"main","index":0}]]},"Si Chat ID Existe3":{"main":[[{"node":"not pdg chat id3","type":"main","index":0}],[{"node":"No Operation, do nothing13","type":"main","index":0}]]},"not pdg chat id3":{"main":[[{"node":"Envoi Telegram Principal3","type":"main","index":0}],[{"node":"No Operation, do nothing14","type":"main","index":0}]]},"Envoi Telegram Principal3":{"main":[[{"node":"Fin Workflow3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"d8f40174-e6ac-482b-b191-025655fe2806","triggerCount":1,"tags":[]}