augmentation de salaire non atachee-JREu92s4E5Tcuo5Y.json
{"createdAt":"2026-01-11T15:29:49.075Z","updatedAt":"2026-05-02T20:11:20.000Z","id":"JREu92s4E5Tcuo5Y","name":"Augmentation de salaire non atachee","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-test-email","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,112],"id":"a0fe4d66-3efe-4725-8183-1cbbb3c56fe7","name":"If - Filtre Email Test"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-email-das","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,16],"id":"22edc171-6536-4332-a46f-f141a0ac85ef","name":"not pdg email1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1408,208],"id":"01fe67bf-5b5f-4a00-a3b0-cc58d2bcd445","name":"No Operation Email Test"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1184,-80],"id":"c5d690cc-252e-43a9-b735-fe264def7152","name":"No Operation PDG Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"chat-id-exists-das","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"chat-id-not-empty-das","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,496],"id":"50ab7750-717f-44cc-886b-1d27c877f9fe","name":"Si Chat ID Existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-chat-das","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1408,400],"id":"ea14554a-2bd0-4adc-b8ad-f45cc29b0f37","name":"not pdg chat id1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1408,592],"id":"c160d3f6-605a-48d7-a8b2-b367571715ad","name":"No Operation No Chat ID"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1184,496],"id":"9cd152ee-1d11-4724-ace4-4ea5d4312803","name":"No Operation PDG Chat"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2752,400],"id":"b4170ab7-4481-465b-9641-39ad0218a07d","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT \n        da.XNUM_0           AS numero_demande,\n        da.CREDATTIM_0      AS date_creation_demande,\n        da.YDATCON_0        AS date_controle,\n        da.CREUSR_0         AS utilisateur_createur,\n        ACLOB.CLOB_0        AS commentaire,\n        P.VALEUR_0          AS delai_total_jours,\n\n        s.XSAL_0            AS code_salarie,\n        x.XNAMSAL_0         AS nom_salarie,\n        x.XPRENOM_0         AS prenom_salarie,\n        x.XEMAIL_0          AS email_salarie,\n        x.YTELE_0           AS num_telephone_salarie,\n        x.YSUP_0            AS code_superieur,\n\n        xx.XSAL_0           AS code_sup,\n        xx.XNAMSAL_0        AS nom_superieur,\n        xx.XPRENOM_0        AS prenom_superieur,\n        xx.XEMAIL_0         AS email_superieur,\n        xx.YTELE_0          AS num_telephone_sup,\n\n        pdg.XSAL_0          AS code_pdg,\n        pdg.XNAMSAL_0       AS nom_pdg,\n        pdg.XPRENOM_0       AS prenom_pdg,\n        pdg.XEMAIL_0        AS email_pdg,\n        pdg.YTELE_0         AS telephone_pdg,\n\n        dga.XSAL_0          AS code_dga,\n        dga.XNAMSAL_0       AS nom_dga,\n        dga.XPRENOM_0       AS prenom_dga,\n        dga.XEMAIL_0        AS email_dga,\n        dga.YTELE_0         AS telephone_dga,\n\n        farhat.XSAL_0       AS code_farhat,\n        farhat.XNAMSAL_0    AS nom_farhat,\n        farhat.XPRENOM_0    AS prenom_farhat,\n        farhat.XEMAIL_0     AS email_farhat,\n        farhat.YTELE_0      AS telephone_farhat,\n\n        -- ─── INFOS IA ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0)      AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0)      AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0)      AS bot_salarie,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0)     AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0)     AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0)     AS bot_superieur,\n\n        '8528101210'          AS chat_id_pdg,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)    AS langue_pdg,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)    AS bot_pdg,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)    AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)    AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)    AS bot_dga,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n        DATEADD(DAY, CAST(P.VALEUR_0 AS INT), da.CREDATTIM_0) AS date_limite,\n        DATEDIFF(DAY, da.CREDATTIM_0, GETDATE())               AS jours_depuis_creation,\n        DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), da.CREDATTIM_0)) AS jours_restants,\n        CAST(P.VALEUR_0 AS INT) AS delai_int\n\n    FROM jbelrh.JBELRH.XDASAL da\n\n    LEFT JOIN jbelrh.JBELRH.ACLOB ACLOB\n        ON ACLOB.IDENT1_0 = da.XNUM_0\n\n    LEFT JOIN jbelrh.JBELRH.YSALAUS s\n        ON da.CREUSR_0 = s.USER_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL x\n        ON x.XSAL_0 = s.XSAL_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL xx\n        ON xx.XSAL_0 = x.YSUP_0\n\n    CROSS APPLY (\n        SELECT TOP 1 VALEUR_0 \n        FROM jbelrh.JBELRH.ADOVAL \n        WHERE PARAM_0 = 'YDELPJDAS'\n    ) P\n\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n    ) pdg\n\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n\n    WHERE \n        da.CREDATTIM_0 >= '2024-01-01'\n        AND da.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n        AND NOT EXISTS (\n            SELECT * FROM jbelrh.JBELRH.AOBJTXT \n            WHERE da.XNUM_0 = AOBJTXT.IDENT1_0 \n              AND AOBJTXT.ABREV_0 = 'XDASAL'\n        )\n)\n\n-- ═══════════════════════════════\n-- MULTI ESCALADE\n-- ═══════════════════════════════\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\nUNION ALL\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants BETWEEN 5 AND 8\nUNION ALL\nSELECT *, 'DGA'       AS niveau_escalade \nFROM base \nWHERE jours_restants > 8\n  AND jours_restants <= (delai_int / 2)\n\nORDER BY jours_restants ASC, niveau_escalade DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-2528,400],"id":"ac54e496-517d-449e-9719-cbfe143e2121","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2304,400],"id":"d64c3007-c543-4599-8ec3-e3bba5e71906","name":"Vérifier Données Présentes"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2080,496],"id":"3a5ac95a-5cea-47f9-a4b1-03ce7be9daba","name":"Fin - Aucune Donnée"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES - DEMANDES D'AUGMENTATION DE SALAIRE\n// Niveaux : PDG / SUPERIEUR / SALARIE / FARHAT / DGA\n// DGA = notifié quand jours_restants > 8 ET <= delai_total / 2\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION - DEMANDES AUGMENTATION (avec DGA)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Demandes reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  if (data.niveau_escalade === 'PDG') {\n    destinatairePrincipal = {\n      code: data.code_pdg,\n      nom: data.nom_pdg,\n      prenom: data.prenom_pdg,\n      email: data.email_pdg,\n      telephone: data.telephone_pdg,\n      chat_id: data.chat_id_pdg,\n      langue: data.langue_pdg || 'FRA',\n      bot: data.bot_pdg\n    };\n    codeDestinataire = data.code_pdg;\n    typeDestinataire = 'PDG';\n\n  } else if (data.niveau_escalade === 'SUPERIEUR') {\n    destinatairePrincipal = {\n      code: data.code_sup,\n      nom: data.nom_superieur,\n      prenom: data.prenom_superieur,\n      email: data.email_superieur,\n      telephone: data.num_telephone_sup,\n      chat_id: data.chat_id_superieur,\n      langue: data.langue_superieur || 'FRA',\n      bot: data.bot_superieur\n    };\n    codeDestinataire = data.code_sup;\n    typeDestinataire = 'SUPERIEUR';\n\n  } else if (data.niveau_escalade === 'SALARIE') {\n    destinatairePrincipal = {\n      code: data.code_salarie,\n      nom: data.nom_salarie,\n      prenom: data.prenom_salarie,\n      email: data.email_salarie,\n      telephone: data.num_telephone_salarie,\n      chat_id: data.chat_id_salarie,\n      langue: data.langue_salarie || 'FRA',\n      bot: data.bot_salarie\n    };\n    codeDestinataire = data.code_salarie;\n    typeDestinataire = 'SALARIE';\n\n  } else if (data.niveau_escalade === 'FARHAT') {\n    destinatairePrincipal = {\n      code: data.code_farhat,\n      nom: data.nom_farhat,\n      prenom: data.prenom_farhat,\n      email: data.email_farhat || null,\n      telephone: data.telephone_farhat || null,\n      chat_id: data.chat_id_farhat || null,\n      langue: data.langue_farhat || 'FRA',\n      bot: data.bot_farhat || null\n    };\n    codeDestinataire = data.code_farhat;\n    typeDestinataire = 'FARHAT';\n\n  } else if (data.niveau_escalade === 'DGA') {\n    // ─── DGA : email uniquement, pas de Telegram ───\n    destinatairePrincipal = {\n      code: data.code_dga,\n      nom: data.nom_dga,\n      prenom: data.prenom_dga,\n      email: data.email_dga || null,\n      telephone: data.telephone_dga || null,\n      chat_id: null,\n      langue: data.langue_dga || 'FRA',\n      bot: null\n    };\n    codeDestinataire = data.code_dga;\n    typeDestinataire = 'DGA';\n\n  } else {\n    console.log(`⏭️  Demande ${data.numero_demande} ignorée (niveau: ${data.niveau_escalade})`);\n    return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade: data.niveau_escalade,\n\n      salarie: {\n        code: data.code_salarie,\n        nom: data.nom_salarie,\n        prenom: data.prenom_salarie,\n        email: data.email_salarie,\n        telephone: data.num_telephone_salarie,\n        chat_id: data.chat_id_salarie,\n        langue: data.langue_salarie || 'FRA',\n        bot: data.bot_salarie\n      },\n\n      superieur: {\n        code: data.code_sup,\n        nom: data.nom_superieur,\n        prenom: data.prenom_superieur,\n        email: data.email_superieur,\n        telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur,\n        langue: data.langue_superieur || 'FRA',\n        bot: data.bot_superieur\n      },\n\n      pdg: {\n        code: data.code_pdg,\n        nom: data.nom_pdg,\n        prenom: data.prenom_pdg,\n        email: data.email_pdg,\n        telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg,\n        langue: data.langue_pdg || 'FRA',\n        bot: data.bot_pdg\n      },\n\n      dga: {\n        code: data.code_dga,\n        nom: data.nom_dga,\n        prenom: data.prenom_dga,\n        email: data.email_dga,\n        telephone: data.telephone_dga,\n        chat_id: null,\n        langue: data.langue_dga || 'FRA',\n        bot: null\n      },\n\n      farhat: {\n        code: data.code_farhat,\n        nom: data.nom_farhat,\n        prenom: data.prenom_farhat,\n        email: data.email_farhat,\n        telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat,\n        langue: data.langue_farhat || 'FRA',\n        bot: data.bot_farhat\n      },\n\n      demandes: []\n    };\n  }\n\n  notifications[cleDestinataire].demandes.push({\n    numero_demande: data.numero_demande,\n    date_creation_demande: data.date_creation_demande,\n    date_controle: data.date_controle,\n    utilisateur_createur: data.utilisateur_createur,\n    delai_total_jours: data.delai_total_jours,\n    date_limite: data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants: data.jours_restants,\n    salarie_concerne: {\n      code: data.code_salarie,\n      nom: data.nom_salarie,\n      prenom: data.prenom_salarie,\n      email: data.email_salarie,\n      telephone: data.num_telephone_salarie\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalDemandes = notif.demandes.length;\n  const joursMin = Math.min(...notif.demandes.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.demandes.map(a => a.jours_restants));\n  const delaiTotal = parseInt(notif.demandes[0]?.delai_total_jours) || 10;\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email && notif.salarie.chat_id) emailCC.push(notif.salarie.email);\n    if (notif.superieur.chat_id) chatIDsCC.push({\n      chat_id: notif.superieur.chat_id, bot: notif.superieur.bot,\n      langue: notif.superieur.langue, nom: `${notif.superieur.prenom} ${notif.superieur.nom}`\n    });\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email && notif.salarie.chat_id) emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'DGA') {\n    // DGA → email uniquement, pas de CC, pas de Telegram\n\n  } else if (notif.type_destinataire === 'FARHAT') {\n    // FARHAT → pas de CC\n  }\n  // SALARIE → pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    salarie: notif.salarie,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    attestations: notif.demandes,\n    statistiques: {\n      total_attestations: totalDemandes,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: delaiTotal,\n      seuil_dga: Math.floor(delaiTotal / 2)\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\nconsole.log('Par type:');\nconsole.log(`  - PDG:       ${resultats.filter(r => r.type_destinataire === 'PDG').length}`);\nconsole.log(`  - Supérieur: ${resultats.filter(r => r.type_destinataire === 'SUPERIEUR').length}`);\nconsole.log(`  - Salarié:   ${resultats.filter(r => r.type_destinataire === 'SALARIE').length}`);\nconsole.log(`  - DGA:       ${resultats.filter(r => r.type_destinataire === 'DGA').length}`);\nconsole.log(`  - Farhat:    ${resultats.filter(r => r.type_destinataire === 'FARHAT').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,304],"id":"c9245426-3a73-44ed-b15a-03e7c775561f","name":"Structuration par Destinataire"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Demandes d\\'Augmentation Non Attachées',\n      SUPERIEUR:'🟠 IMPORTANT - Demandes d\\'Augmentation Non Attachées',\n      SALARIE:  '🟡 Rappel - Demandes d\\'Augmentation à Compléter',\n      DGA:      '🟠 INFO DGA - Demandes d\\'Augmentation à Surveiller',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Demandes d\\'Augmentation à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les demandes d\\'augmentation de salaire suivantes nécessitent votre attention IMMÉDIATE',\n      SUPERIEUR:'Les demandes d\\'augmentation de salaire suivantes requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos demandes d\\'augmentation de salaire en attente de traitement',\n      DGA:      'Information - Les demandes d\\'augmentation suivantes ont atteint la moitié de leur délai sans document attaché',\n      FARHAT:   'Information préventive - Les demandes d\\'augmentation de salaire suivantes approchent de leur délai limite'\n    },\n    cc_message: {\n      base: 'Un message d\\'alerte concernant les demandes d\\'augmentation non attachées suivantes a été envoyé à',\n      votre_superieur: 'votre supérieur(e)',\n      le_pdg:   'la Direction (PDG)',\n      le_dga:   'la Direction Générale Adjointe (DGA)',\n      le_farhat:'le Responsable RH',\n      action:   'Veuillez prendre les mesures nécessaires pour traiter ces demandes d\\'augmentation dans les délais impartis.'\n    },\n    section_stats:       'STATISTIQUES',\n    total:               'Total demandes d\\'augmentation',\n    delai_min:           'Délai minimum',\n    jours:               'jour(s)',\n    seuil_dga:           'Seuil DGA',\n    section_attestations:'LISTE DES DEMANDES D\\'AUGMENTATION NON ATTACHÉES',\n    numero:              'Numéro DAS',\n    date_creation:       'Date création',\n    creee_par:           'Créée par',\n    salarie_concerne:    'Salarié concerné',\n    delai:               'Délai',\n    restant:             'restant(s)',\n    limite:              'Limite',\n    delai_total:         'Délai total',\n    action_requise:      'ACTION REQUISE',\n    urgent:              'URGENT - Attacher les documents immédiatement',\n    contact:             'Contact Service RH',\n    cordialement:        'Cordialement',\n    signature:           'Service SI/IA - Jbel Annour',\n    message_auto:        'Message automatique',\n    ne_pas_repondre:     'Merci de ne pas répondre à cet email',\n    copie_info:          '📋 CC',\n    instruction:         'Veuillez attacher les justificatifs manquants à ces demandes d\\'augmentation dans les meilleurs délais.',\n    instruction_dga:     'Ces demandes ont dépassé la moitié du délai autorisé sans document attaché. Merci de vous assurer que les actions correctives sont engagées.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - طلبات الزيادة في الأجر غير المرفقة',\n      SUPERIEUR:'🟠 هام - طلبات الزيادة في الأجر غير المرفقة',\n      SALARIE:  '🟡 تذكير - طلبات الزيادة في الأجر للإكمال',\n      DGA:      '🟠 معلومة المدير العام المساعد - طلبات الزيادة للمراقبة',\n      FARHAT:   '🔵 معلومة وقائية - طلبات الزيادة في الأجر للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - طلبات الزيادة في الأجر التالية تتطلب اهتمامك الفوري',\n      SUPERIEUR:'طلبات الزيادة في الأجر التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص طلبات الزيادة في الأجر الخاصة بك في انتظار المعالجة',\n      DGA:      'معلومة - طلبات الزيادة التالية تجاوزت نصف المهلة المحددة دون إرفاق وثائق',\n      FARHAT:   'معلومة وقائية - طلبات الزيادة في الأجر التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    cc_message: {\n      base:     'تم إرسال رسالة تنبيه بخصوص طلبات الزيادة في الأجر غير المرفقة التالية إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg:   'الإدارة (المدير العام)',\n      le_dga:   'المدير العام المساعد',\n      le_farhat:'مسؤول الموارد البشرية',\n      action:   'يرجى اتخاذ الإجراءات اللازمة لمعالجة طلبات الزيادة في الأجر هذه في المواعيد المحددة.'\n    },\n    section_stats:       'الإحصائيات',\n    total:               'إجمالي طلبات الزيادة في الأجر',\n    delai_min:           'الحد الأدنى للمهلة',\n    jours:               'يوم/أيام',\n    seuil_dga:           'عتبة المدير العام المساعد',\n    section_attestations:'قائمة طلبات الزيادة في الأجر غير المرفقة',\n    numero:              'رقم DAS',\n    date_creation:       'تاريخ الإنشاء',\n    creee_par:           'تم إنشاؤه من قبل',\n    salarie_concerne:    'الموظف المعني',\n    delai:               'المهلة',\n    restant:             'المتبقية',\n    limite:              'الحد',\n    delai_total:         'المهلة الإجمالية',\n    action_requise:      'الإجراء المطلوب',\n    urgent:              'عاجل - إرفاق الوثائق فورا',\n    contact:             'اتصال بقسم الموارد البشرية',\n    cordialement:        'مع أطيب التحيات',\n    signature:           'قسم SI/IA - جبل النور',\n    message_auto:        'رسالة تلقائية',\n    ne_pas_repondre:     'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:          '📋 نسخة للعلم',\n    instruction:         'يرجى إرفاق الوثائق الناقصة لطلبات الزيادة في الأجر هذه في أقرب وقت ممكن.',\n    instruction_dga:     'تجاوزت هذه الطلبات نصف المهلة المسموح بها دون إرفاق وثائق. يرجى التأكد من اتخاذ الإجراءات التصحيحية اللازمة.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Unattached Salary Increase Requests',\n      SUPERIEUR:'🟠 IMPORTANT - Unattached Salary Increase Requests',\n      SALARIE:  '🟡 Reminder - Salary Increase Requests to Complete',\n      DGA:      '🟠 DGA INFO - Salary Increase Requests to Monitor',\n      FARHAT:   '🔵 PREVENTIVE INFO - Salary Increase Requests to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following salary increase requests require your IMMEDIATE attention',\n      SUPERIEUR:'The following salary increase requests require your priority attention',\n      SALARIE:  'Reminder about your salary increase requests pending processing',\n      DGA:      'Information - The following salary increase requests have exceeded half their deadline without an attached document',\n      FARHAT:   'Preventive information - The following salary increase requests are approaching their deadline'\n    },\n    cc_message: {\n      base:     'An alert message regarding the following unattached salary increase requests has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:   'the Management (CEO)',\n      le_dga:   'the Deputy General Manager (DGA)',\n      le_farhat:'the HR Manager',\n      action:   'Please take the necessary measures to process these salary increase requests within the specified deadlines.'\n    },\n    section_stats:       'STATISTICS',\n    total:               'Total salary increase requests',\n    delai_min:           'Minimum deadline',\n    jours:               'day(s)',\n    seuil_dga:           'DGA threshold',\n    section_attestations:'LIST OF UNATTACHED SALARY INCREASE REQUESTS',\n    numero:              'DAS Number',\n    date_creation:       'Creation date',\n    creee_par:           'Created by',\n    salarie_concerne:    'Employee concerned',\n    delai:               'Deadline',\n    restant:             'remaining',\n    limite:              'Limit',\n    delai_total:         'Total deadline',\n    action_requise:      'ACTION REQUIRED',\n    urgent:              'URGENT - Attach documents immediately',\n    contact:             'HR Department Contact',\n    cordialement:        'Best regards',\n    signature:           'IT/AI Department - Jbel Annour',\n    message_auto:        'Automatic message',\n    ne_pas_repondre:     'Please do not reply to this email',\n    copie_info:          '📋 COPY FOR INFORMATION',\n    instruction:         'Please attach the missing documents to these salary increase requests as soon as possible.',\n    instruction_dga:     'These requests have exceeded half their allowed deadline without attached documents. Please ensure corrective actions are underway.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n\n  let emailSubject = T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE;\n  emailSubject += ` - ${stats.total_attestations} demande(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n\n  if (data.type_destinataire === 'DGA') {\n    emailBody += `${T.seuil_dga}: ${stats.seuil_dga} ${T.jours}\\n`;\n  }\n\n  if (data.type_destinataire !== 'SALARIE' && data.type_destinataire !== 'DGA') {\n    emailBody += `\\n${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom} (${data.salarie.code})\\n`;\n  }\n\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_demande}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_demande, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `🚨 ${T.action_requise}: ${T.urgent}\\n`;\n  } else if (data.type_destinataire === 'DGA') {\n    emailBody += `📌 ${T.instruction_dga}\\n`;\n  } else {\n    emailBody += `📌 ${T.instruction}\\n`;\n  }\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom}\\n`;\n    emailBody += `   Email: ${data.superieur.email}\\n`;\n    emailBody += `   Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  if (data.salarie && data.salarie.email) {\n    emailBody += `   ${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom}\\n`;\n    emailBody += `   Email: ${data.salarie.email}\\n`;\n    emailBody += `   Tel: ${data.salarie.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG') emailBody += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (data.type_destinataire === 'DGA') emailBody += `🟠 Notification envoyée au DGA (seuil: délai/2 = ${stats.seuil_dga}j)\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `👤 *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 5).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_demande}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_demande, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 5) telegramMessage += `... et ${attestations.length - 5} autre(s) demande(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n  const destinatairePrincipal = data.destinataire_principal;\n\n  let message_envoye_a_email = '';\n  let message_envoye_a = '';\n\n  if (typeDestinatairePrincipal === 'SUPERIEUR') {\n    message_envoye_a = `${T.cc_message.votre_superieur} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.votre_superieur} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'PDG') {\n    message_envoye_a = `${T.cc_message.le_pdg} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_pdg} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'DGA') {\n    message_envoye_a = `${T.cc_message.le_dga} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_dga} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  } else if (typeDestinatairePrincipal === 'FARHAT') {\n    message_envoye_a = `${T.cc_message.le_farhat} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n    message_envoye_a_email = `${T.cc_message.le_farhat} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n  }\n\n  let emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_attestations} demande(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${message_envoye_a_email}.\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_demande}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_demande, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `${T.cc_message.action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   Email: ${data.superieur.email}\\n`;\n    emailBody += `   Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `📋 ${T.copie_info}\\n${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${message_envoye_a}.\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  attestations.slice(0, 3).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_demande}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_demande, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 3) telegramMessage += `... et ${attestations.length - 3} autre(s) demande(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  if (data.type_destinataire === 'SUPERIEUR') {\n    if (data.salarie && data.salarie.chat_id) {\n      const messagesCC = genererMessageCC(data, data.salarie, 'SUPERIEUR');\n      results.push({ json: { ...data, messages: messagesCC, type_envoi: 'CC', destinataire_final: data.salarie, meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n  } else if (data.type_destinataire === 'PDG') {\n    if (data.superieur && data.superieur.chat_id) {\n      const mCC = genererMessageCC(data, data.superieur, 'PDG');\n      results.push({ json: { ...data, messages: mCC, type_envoi: 'CC', destinataire_final: data.superieur, meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n    if (data.salarie && data.salarie.chat_id) {\n      const mCC = genererMessageCC(data, data.salarie, 'PDG');\n      results.push({ json: { ...data, messages: mCC, type_envoi: 'CC', destinataire_final: data.salarie, meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n  } else if (data.type_destinataire === 'DGA') {\n    // DGA → email uniquement, pas de CC\n  } else if (data.type_destinataire === 'FARHAT') {\n    if (data.salarie && data.salarie.chat_id) {\n      const mCC = genererMessageCC(data, data.salarie, 'FARHAT');\n      results.push({ json: { ...data, messages: mCC, type_envoi: 'CC', destinataire_final: data.salarie, meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n  }\n});\n\nconsole.log(`Total messages générés: ${results.length}`);\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,304],"id":"c2fd10ab-b4a7-47c0-be62-a31079129028","name":"Génération Messages Multilingues"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-1184,112],"id":"cfd99fef-2e99-4ab7-a635-9d71fd4a5e1b","name":"Envoi Email","webhookId":"ea9df054-b813-4cc8-8618-a22db8952e7a","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1184,304],"id":"ca8ce92b-7702-4d1c-99d8-d06b1b0c646b","name":"Envoi Telegram Principal","webhookId":"a1880c7c-6d22-4080-9855-632b1c7c35a2","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-960,208],"id":"e29ef132-e39d-4397-8333-a0ad93f47fd1","name":"Fin Workflow"}],"connections":{"If - Filtre Email Test":{"main":[[{"node":"not pdg email1","type":"main","index":0}],[{"node":"No Operation Email Test","type":"main","index":0}]]},"not pdg email1":{"main":[[{"node":"Envoi Email","type":"main","index":0}],[{"node":"No Operation PDG Email","type":"main","index":0}]]},"Si Chat ID Existe1":{"main":[[{"node":"not pdg chat id1","type":"main","index":0}],[{"node":"No Operation No Chat ID","type":"main","index":0}]]},"not pdg chat id1":{"main":[[{"node":"Envoi Telegram Principal","type":"main","index":0}],[{"node":"No Operation PDG Chat","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Vérifier Données Présentes","type":"main","index":0}]]},"Vérifier Données Présentes":{"main":[[{"node":"Structuration par Destinataire","type":"main","index":0}],[{"node":"Fin - Aucune Donnée","type":"main","index":0}]]},"Structuration par Destinataire":{"main":[[{"node":"Génération Messages Multilingues","type":"main","index":0}]]},"Génération Messages Multilingues":{"main":[[{"node":"If - Filtre Email Test","type":"main","index":0},{"node":"Si Chat ID Existe1","type":"main","index":0}]]},"Envoi Email":{"main":[[{"node":"Fin Workflow","type":"main","index":0}]]},"Envoi Telegram Principal":{"main":[[{"node":"Fin Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"92971411-6cd7-4f03-87f2-54e3d4b20937","triggerCount":1,"tags":[]}