auto_entrepreneur-HOg7diDUclqIwNuQ.json
{"createdAt":"2026-04-29T22:29:33.017Z","updatedAt":"2026-05-02T20:10:27.000Z","id":"HOg7diDUclqIwNuQ","name":"auto_entrepreneur","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-chat-id-exists","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"check-chat-id-not-empty","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,3584],"id":"72a35e5b-22ee-4b06-ab12-fe34d0411bce","name":"Si Chat ID Existe XSAL1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-576,3712],"id":"7adbd729-48ea-4e44-ab87-fd65507dea10","name":"No Chat ID - Ignoré XSAL1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-not-pdg-chat","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,3488],"id":"8a3410cd-fa16-4af1-a84f-f27809be93db","name":"Not PDG Chat ID XSAL1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-272,3600],"id":"38b16fd0-3ee2-4f5c-9f42-3c838e080a35","name":"Skip PDG Chat Direct XSAL1"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-272,3376],"id":"e82c1983-4a0e-424f-a139-79c3f2b2273b","name":"Envoi Telegram XSAL1","webhookId":"36e19469-b3a0-45f4-86a6-50e8e9ddfaad","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2176,3520],"id":"2d8c2e61-c79e-4a49-9ef9-b0f2c69c1657","name":"Schedule Trigger XSAL2"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT \n        XSAL.XSAL_0        AS code_salarie,\n        XSAL.XMAT_0        AS matricule,\n        XSAL.XNAMSAL_0     AS nom,\n        XSAL.XPRENOM_0     AS prenom,\n        XSAL.XEMAIL_0      AS email,\n        XSAL.YTELE_0       AS telephone,\n        XSAL.YSUP_0        AS code_superieur,\n        XSAL.CREDATTIM_0   AS date_creation,\n        XSAL.YDATECTRL_0   AS date_controle,\n        XSAL.CREUSR_0      AS user_createur,\n        YSALAUS.XSAL_0     AS code_createur,\n        CRE.XNAMSAL_0      AS nom_createur,\n        CRE.XPRENOM_0      AS prenom_createur,\n        CRE.XEMAIL_0       AS email_createur,\n        CRE.YTELE_0        AS tel_createur,\n        CRE.YSUP_0         AS sup_createur,\n        SUP.XSAL_0         AS code_sup_createur,\n        SUP.XNAMSAL_0      AS nom_sup_createur,\n        SUP.XPRENOM_0      AS prenom_sup_createur,\n        SUP.XEMAIL_0       AS email_sup_createur,\n        SUP.YTELE_0        AS tel_sup_createur,\n        pdg.XSAL_0         AS code_pdg,\n        pdg.XNAMSAL_0      AS nom_pdg,\n        pdg.XPRENOM_0      AS prenom_pdg,\n        pdg.XEMAIL_0       AS email_pdg,\n        pdg.YTELE_0        AS telephone_pdg,\n        dga.XSAL_0         AS code_dga,\n        dga.XNAMSAL_0      AS nom_dga,\n        dga.XPRENOM_0      AS prenom_dga,\n        dga.XEMAIL_0       AS email_dga,\n        dga.YTELE_0        AS telephone_dga,\n        farhat.XSAL_0      AS code_farhat,\n        farhat.XNAMSAL_0   AS nom_farhat,\n        farhat.XPRENOM_0   AS prenom_farhat,\n        farhat.XEMAIL_0    AS email_farhat,\n        farhat.YTELE_0     AS telephone_farhat,\n        baallah.XSAL_0     AS code_baallah,\n        baallah.XNAMSAL_0  AS nom_baallah,\n        baallah.XPRENOM_0  AS prenom_baallah,\n        baallah.XEMAIL_0   AS email_baallah,\n        baallah.YTELE_0    AS telephone_baallah,\n        -- IA : salarié\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS bot_salarie,\n        -- IA : supérieur du créateur\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)  AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)  AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)  AS bot_superieur,\n        -- IA : PDG (chat_id fixe)\n        '8528101210'           AS chat_id_pdg,\n        (SELECT inf.LAN_0  FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n        -- IA : DGA\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS bot_dga,\n        -- IA : FARHAT\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS bot_farhat,\n        -- IA : BAALLAH\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n        CASE \n            WHEN XSAL.YDATECTRL_0 != '1753-01-01' THEN XSAL.YDATECTRL_0\n            ELSE DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XSAL.CREDATTIM_0)\n        END AS date_limite,\n        DATEDIFF(DAY, XSAL.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n        CASE \n            WHEN XSAL.YDATECTRL_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, GETDATE(), XSAL.YDATECTRL_0)\n            ELSE \n                DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XSAL.CREDATTIM_0))\n        END AS jours_restants,\n        CASE \n            WHEN XSAL.YDATECTRL_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, XSAL.CREDATTIM_0, XSAL.YDATECTRL_0) / 2\n            ELSE \n                CAST(P.VALEUR_0 AS INT) / 2\n        END AS seuil_dga\n    FROM jbelrh.JBELRH.XSAL XSAL\n    LEFT JOIN jbelrh.JBELRH.YSALAUS YSALAUS ON YSALAUS.USER_0 = XSAL.CREUSR_0\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE ON CRE.XSAL_0 = YSALAUS.XSAL_0\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP ON SUP.XSAL_0 = CRE.YSUP_0\n    CROSS APPLY (SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YDELYAE') P\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066') pdg\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949') dga\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602') farhat\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179') baallah\n    WHERE \n        XSAL.XCAT_0 = 4\n        AND XSAL.CREDATTIM_0 >= '2024-01-01'\n        AND NOT EXISTS (\n            SELECT 1 FROM jbelrh.JBELRH.AOBJTXT A\n            WHERE XSAL.XSAL_0 = A.IDENT1_0 AND A.ABREV_0 = 'YAE'\n        )\n)\nSELECT *, 'SALARIE' AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT' FROM base WHERE jours_restants <= 8 AND jours_restants > 4\nUNION ALL\nSELECT *, 'BAALLAH' FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'DGA' FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'PDG' FROM base WHERE jours_restants <= 2\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1952,3520],"id":"ebbc3e8e-727b-455c-96bc-6578abcacb90","name":"SQL XSAL Escalade2","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1728,3520],"id":"bca67311-71f5-49c7-b896-a2e23bb6ef93","name":"Vérifier Données XSAL2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1504,3616],"id":"7a8e2f3a-4997-43cf-a361-f507382558ec","name":"Fin - Aucune Donnée XSAL2"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION NOTIFICATIONS - SALARIÉS (XSAL) + TELEGRAM');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Lignes reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const d = item.json;\n\n  let dest, codeKey, typeKey;\n\n  if (d.niveau_escalade === 'PDG') {\n    dest = {\n      code: d.code_pdg, nom: d.nom_pdg, prenom: d.prenom_pdg,\n      email: d.email_pdg, telephone: d.telephone_pdg,\n      chat_id: d.chat_id_pdg, langue: d.langue_pdg, bot: d.bot_pdg\n    };\n    codeKey = d.code_pdg; typeKey = 'PDG';\n\n  } else if (d.niveau_escalade === 'DGA') {\n    dest = {\n      code: d.code_dga, nom: d.nom_dga, prenom: d.prenom_dga,\n      email: d.email_dga, telephone: d.telephone_dga,\n      chat_id: d.chat_id_dga, langue: d.langue_dga, bot: d.bot_dga\n    };\n    codeKey = d.code_dga; typeKey = 'DGA';\n\n  } else if (d.niveau_escalade === 'BAALLAH') {\n    dest = {\n      code: d.code_baallah, nom: d.nom_baallah, prenom: d.prenom_baallah,\n      email: d.email_baallah, telephone: d.telephone_baallah,\n      chat_id: d.chat_id_baallah, langue: d.langue_baallah, bot: d.bot_baallah\n    };\n    codeKey = d.code_baallah; typeKey = 'BAALLAH';\n\n  } else if (d.niveau_escalade === 'SUPERIEUR') {\n    dest = {\n      code: d.code_sup_createur, nom: d.nom_sup_createur, prenom: d.prenom_sup_createur,\n      email: d.email_sup_createur, telephone: d.tel_sup_createur,\n      chat_id: d.chat_id_superieur, langue: d.langue_superieur, bot: d.bot_superieur\n    };\n    codeKey = d.code_sup_createur; typeKey = 'SUPERIEUR';\n\n  } else if (d.niveau_escalade === 'SALARIE') {\n    dest = {\n      code: d.code_salarie, nom: d.nom, prenom: d.prenom,\n      email: d.email, telephone: d.telephone,\n      chat_id: d.chat_id_salarie, langue: d.langue_salarie, bot: d.bot_salarie\n    };\n    codeKey = d.code_salarie; typeKey = 'SALARIE';\n\n  } else if (d.niveau_escalade === 'FARHAT') {\n    dest = {\n      code: d.code_farhat, nom: d.nom_farhat, prenom: d.prenom_farhat,\n      email: d.email_farhat, telephone: d.telephone_farhat,\n      chat_id: d.chat_id_farhat, langue: d.langue_farhat, bot: d.bot_farhat\n    };\n    codeKey = d.code_farhat; typeKey = 'FARHAT';\n\n  } else {\n    return;\n  }\n\n  const cleKey = `${typeKey}_${codeKey}`;\n\n  if (!notifications[cleKey]) {\n    notifications[cleKey] = {\n      destinataire_principal: dest,\n      type_destinataire: typeKey,\n      niveau_escalade: d.niveau_escalade,\n      salarie_info: {\n        code: d.code_salarie, nom: d.nom, prenom: d.prenom,\n        email: d.email, telephone: d.telephone,\n        chat_id: d.chat_id_salarie, langue: d.langue_salarie, bot: d.bot_salarie\n      },\n      superieur: {\n        code: d.code_sup_createur, nom: d.nom_sup_createur, prenom: d.prenom_sup_createur,\n        email: d.email_sup_createur, telephone: d.tel_sup_createur,\n        chat_id: d.chat_id_superieur, langue: d.langue_superieur, bot: d.bot_superieur\n      },\n      pdg: {\n        code: d.code_pdg, nom: d.nom_pdg, prenom: d.prenom_pdg,\n        email: d.email_pdg, telephone: d.telephone_pdg,\n        chat_id: d.chat_id_pdg, langue: d.langue_pdg, bot: d.bot_pdg\n      },\n      dga: {\n        code: d.code_dga, nom: d.nom_dga, prenom: d.prenom_dga,\n        email: d.email_dga, telephone: d.telephone_dga,\n        chat_id: d.chat_id_dga, langue: d.langue_dga, bot: d.bot_dga\n      },\n      farhat: {\n        code: d.code_farhat, nom: d.nom_farhat, prenom: d.prenom_farhat,\n        email: d.email_farhat, telephone: d.telephone_farhat,\n        chat_id: d.chat_id_farhat, langue: d.langue_farhat, bot: d.bot_farhat\n      },\n      baallah: {\n        code: d.code_baallah, nom: d.nom_baallah, prenom: d.prenom_baallah,\n        email: d.email_baallah, telephone: d.telephone_baallah,\n        chat_id: d.chat_id_baallah, langue: d.langue_baallah, bot: d.bot_baallah\n      },\n      salaries: []\n    };\n  }\n\n  notifications[cleKey].salaries.push({\n    code_salarie: d.code_salarie,\n    nom: d.nom, prenom: d.prenom,\n    email: d.email, telephone: d.telephone,\n    matricule: d.matricule,\n    date_creation: d.date_creation,\n    date_controle: d.date_controle,\n    date_limite: d.date_limite,\n    jours_depuis_creation: d.jours_depuis_creation,\n    jours_restants: d.jours_restants,\n    delai_int: d.delai_int,\n    seuil_dga: d.seuil_dga,\n    createur: {\n      code: d.code_createur, nom: d.nom_createur, prenom: d.prenom_createur,\n      email: d.email_createur, telephone: d.tel_createur\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const total = notif.salaries.length;\n  const joursMin = Math.min(...notif.salaries.map(s => s.jours_restants));\n  const joursMax = Math.max(...notif.salaries.map(s => s.jours_restants));\n  const delaiInt = notif.salaries[0]?.delai_int || 30;\n  const seuilDga = notif.salaries[0]?.seuil_dga || Math.floor(delaiInt / 2);\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    salarie_info: notif.salarie_info,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    salaries: notif.salaries,\n    statistiques: {\n      total_salaries: total,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      delai_int: delaiInt,\n      seuil_dga: seuilDga\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id,\n      langue_message: notif.destinataire_principal.langue || 'FRA'\n    }\n  };\n});\n\nconsole.log(`\\n✅ Groupes structurés: ${resultats.length}`);\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  console.log(`  - ${t}: ${resultats.filter(r => r.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,3424],"id":"f4b0a32e-fbdf-41c7-a153-1513da5b536a","name":"Structuration par Destinataire XSAL2"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet: {\n      PDG:      '🔴 ALERTE URGENTE - Salariés sans matricule/contrat',\n      DGA:      '🟠 INFO DGA - Salariés à mi-délai sans matricule',\n      BAALLAH:  '🟠 INFO - Salariés à mi-délai sans matricule',\n      SUPERIEUR:'🟠 IMPORTANT - Salariés sans matricule/contrat',\n      SALARIE:  '🟡 Rappel - Votre dossier est en attente de complétion',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Salariés à surveiller'\n    },\n    salutation: 'Bonjour',\n    intro: {\n      PDG:      \"ALERTE URGENTE - Les salariés suivants n'ont toujours pas de matricule ou contrat attaché\",\n      DGA:      'Information - Les salariés suivants ont atteint la moitié de leur délai sans traitement',\n      BAALLAH:  'Information - Les salariés suivants ont atteint la moitié de leur délai sans traitement',\n      SUPERIEUR:'Les salariés suivants requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant votre dossier en attente de traitement',\n      FARHAT:   'Information préventive - Les salariés suivants approchent de leur délai limite'\n    },\n    section_stats: 'STATISTIQUES',\n    section_liste: 'LISTE DES SALARIÉS CONCERNÉS',\n    total: 'Total salariés',\n    delai_min: 'Délai minimum restant',\n    delai_total: 'Délai total paramétré',\n    seuil_dga: 'Seuil mi-délai',\n    jours: 'jour(s)',\n    matricule: 'Matricule',\n    date_creation: 'Date création',\n    jours_restants: 'Jours restants',\n    date_limite: 'Date limite',\n    date_controle: 'Date contrôle',\n    createur: 'Créé par',\n    urgent: 'URGENT - Traitement immédiat requis',\n    instruction: 'Veuillez traiter ces dossiers dans les meilleurs délais.',\n    instruction_dga: 'Ces dossiers ont dépassé la moitié du délai autorisé. Merci de vous assurer que les actions correctives sont engagées.',\n    cordialement: 'Cordialement',\n    signature: 'Service SI/IA - Jbel Annour',\n    message_auto: 'Message automatique',\n    ne_pas_repondre: 'Merci de ne pas répondre à cet email'\n  }\n};\n\nfunction formaterDate(d) {\n  if (!d) return 'N/A';\n  return new Date(d).toLocaleDateString('fr-FR', { year: 'numeric', month: '2-digit', day: '2-digit' });\n}\n\nfunction emoji(j) {\n  if (j <= 2) return '🔴';\n  if (j === 3) return '🟠';\n  if (j === 4) return '🟡';\n  if (j <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererEmail(data) {\n  const T = TEMPLATES['FRA'];\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const type = data.type_destinataire;\n\n  let subject = `${T.sujet[type]} - ${stats.total_salaries} salarié(s)`;\n\n  let body = `${T.salutation} ${dest.prenom} ${dest.nom},\\n\\n`;\n  body += `${T.intro[type]}\\n\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n`;\n  body += `📊 ${T.section_stats}\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  body += `${emoji(stats.jours_min)} Niveau escalade : ${data.niveau_escalade}\\n`;\n  body += `${T.total} : ${stats.total_salaries}\\n`;\n  body += `${T.delai_min} : ${stats.jours_min} ${T.jours}\\n`;\n  body += `${T.delai_total} : ${stats.delai_int} ${T.jours}\\n`;\n  if (type === 'DGA' || type === 'BAALLAH') body += `${T.seuil_dga} : ${stats.seuil_dga} ${T.jours}\\n`;\n\n  body += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  body += `👥 ${T.section_liste}\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  data.salaries.forEach((s, i) => {\n    body += `${i + 1}. ${emoji(s.jours_restants)} ${s.prenom} ${s.nom} (${s.code_salarie})\\n`;\n    body += `   📋 ${T.matricule} : ${s.matricule && s.matricule.trim() ? s.matricule : 'Non attribué'}\\n`;\n    body += `   📅 ${T.date_creation} : ${formaterDate(s.date_creation)}\\n`;\n    if (s.date_controle && !String(s.date_controle).includes('1753')) {\n      body += `   🗓️ ${T.date_controle} : ${formaterDate(s.date_controle)}\\n`;\n    }\n    body += `   ⏰ ${T.jours_restants} : ${s.jours_restants} ${T.jours} (${T.date_limite} : ${formaterDate(s.date_limite)})\\n`;\n    body += `   👤 ${T.createur} : ${s.createur.prenom} ${s.createur.nom}\\n`;\n    if (s.jours_restants <= 2) body += `   🚨 ${T.urgent}\\n`;\n    body += `\\n`;\n  });\n\n  body += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) body += `🚨 ${T.urgent}\\n`;\n  else if (type === 'DGA' || type === 'BAALLAH') body += `📌 ${T.instruction_dga}\\n`;\n  else body += `📌 ${T.instruction}\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  body += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  body += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  body += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString())}\\n`;\n  body += `${T.ne_pas_repondre}\\n`;\n\n  return { subject, body };\n}\n\nfunction genererTelegram(data) {\n  const T = TEMPLATES['FRA'];\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const type = data.type_destinataire;\n\n  let text = `${emoji(stats.jours_min)} *${T.sujet[type]}*\\n`;\n  text += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  text += `👤 *${dest.prenom} ${dest.nom}*\\n\\n`;\n  text += `📊 *${T.section_stats}*\\n`;\n  text += `${T.total}: *${stats.total_salaries}*\\n`;\n  text += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n`;\n  if (type === 'DGA' || type === 'BAALLAH') text += `${T.seuil_dga}: *${stats.seuil_dga} ${T.jours}*\\n`;\n  text += `\\n👥 *${T.section_liste}*\\n\\n`;\n\n  data.salaries.slice(0, 5).forEach((s, i) => {\n    text += `${i + 1}. ${emoji(s.jours_restants)} *${s.prenom} ${s.nom}* (${s.code_salarie})\\n`;\n    text += `   📋 Mat: ${s.matricule && s.matricule.trim() ? s.matricule : 'Non attribué'}\\n`;\n    text += `   ⏰ ${s.jours_restants} ${T.jours} restant(s)\\n\\n`;\n  });\n  if (data.salaries.length > 5) text += `... et ${data.salaries.length - 5} autre(s) salarié(s)\\n\\n`;\n  if (stats.jours_min <= 2) text += `🚨 *${T.urgent}*\\n`;\n  else if (type === 'DGA' || type === 'BAALLAH') text += `📌 ${T.instruction_dga}\\n`;\n  else text += `📌 ${T.instruction}\\n`;\n  text += `\\n🤖 _${T.message_auto} - ${formaterDate(new Date().toISOString())}_\\n`;\n\n  return { text, parse_mode: 'Markdown' };\n}\n\n// ─────────────────────────────────────────────────────────────\n// DISPATCH : principal + CC Telegram (PDG/SUPERIEUR)\n// ─────────────────────────────────────────────────────────────\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const emailMsg    = genererEmail(data);\n  const telegramMsg = genererTelegram(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC Telegram : PDG → copie supérieur\n  if (data.type_destinataire === 'PDG' && data.superieur?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.superieur,\n      cc_pour_profil: 'SUPERIEUR',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC Telegram : PDG → copie salarié\n  if (data.type_destinataire === 'PDG' && data.salarie_info?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.salarie_info,\n      cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC Telegram : SUPERIEUR → copie salarié\n  if (data.type_destinataire === 'SUPERIEUR' && data.salarie_info?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.salarie_info,\n      cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n});\n\nconsole.log(`\\n✅ Messages générés: ${results.length}`);\nconsole.log(`  - Principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - CC Telegram: ${results.filter(r => r.json.type_envoi === 'CC').length}`);\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  console.log(`  - ${t}: ${results.filter(r => r.json.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,3424],"id":"690a5290-17e0-40c2-bc89-e0006dfd6318","name":"Génération Messages XSAL2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-farhat","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-992,3296],"id":"43396170-ce0b-4b45-9cfa-7638768d8c32","name":"Filtre FARHAT email2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-768,3392],"id":"360c8af5-c8b2-4510-93f2-fd6425aea0cf","name":"Skip FARHAT direct2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-pdg","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,3136],"id":"788856a7-ba37-406e-90f0-22bb38e06ad6","name":"Filtre PDG email2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-544,3296],"id":"f9433f41-6186-4abd-b18a-053115400977","name":"Skip PDG direct2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"check-email-empty","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-528,3008],"id":"e850abdc-09e1-4579-abb4-fac232162e21","name":"Email existe ?2"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-304,2880],"id":"96b00ad4-abae-4024-8719-1974d611d667","name":"Envoi Email XSAL2","webhookId":"63b1ef3d-0c7e-4897-afe3-31ebaffb656d","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,3136],"id":"44d923f8-ffb0-45b1-8ca5-85bfd2528b3b","name":"Pas d'email - ignoré2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,3184],"id":"52530d6b-c614-4435-8e96-ea88fec3bd76","name":"Fin Workflow XSAL2"}],"connections":{"Si Chat ID Existe XSAL1":{"main":[[{"node":"Not PDG Chat ID XSAL1","type":"main","index":0}],[{"node":"No Chat ID - Ignoré XSAL1","type":"main","index":0}]]},"Not PDG Chat ID XSAL1":{"main":[[{"node":"Envoi Telegram XSAL1","type":"main","index":0}],[{"node":"Skip PDG Chat Direct XSAL1","type":"main","index":0}]]},"Envoi Telegram XSAL1":{"main":[[{"node":"Fin Workflow XSAL2","type":"main","index":0}]]},"Schedule Trigger XSAL2":{"main":[[{"node":"SQL XSAL Escalade2","type":"main","index":0}]]},"SQL XSAL Escalade2":{"main":[[{"node":"Vérifier Données XSAL2","type":"main","index":0}]]},"Vérifier Données XSAL2":{"main":[[{"node":"Structuration par Destinataire XSAL2","type":"main","index":0}],[{"node":"Fin - Aucune Donnée XSAL2","type":"main","index":0}]]},"Structuration par Destinataire XSAL2":{"main":[[{"node":"Génération Messages XSAL2","type":"main","index":0}]]},"Génération Messages XSAL2":{"main":[[{"node":"Filtre FARHAT email2","type":"main","index":0},{"node":"Si Chat ID Existe XSAL1","type":"main","index":0}]]},"Filtre FARHAT email2":{"main":[[{"node":"Filtre PDG email2","type":"main","index":0}],[{"node":"Skip FARHAT direct2","type":"main","index":0}]]},"Filtre PDG email2":{"main":[[{"node":"Email existe ?2","type":"main","index":0}],[{"node":"Skip PDG direct2","type":"main","index":0}]]},"Email existe ?2":{"main":[[{"node":"Envoi Email XSAL2","type":"main","index":0}],[{"node":"Pas d'email - ignoré2","type":"main","index":0}]]},"Envoi Email XSAL2":{"main":[[{"node":"Fin Workflow XSAL2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger XSAL":{"recurrenceRules":[]},"node:Schedule Trigger XSAL1":{"recurrenceRules":[]},"node:Schedule Trigger XSAL2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d5a1d47-2b2b-4413-8b33-b0aa90aa7794","triggerCount":1,"tags":[]}