blocages-Ft7KiQXRXHZyyrJV.json
{"createdAt":"2026-06-30T08:57:08.337Z","updatedAt":"2026-07-11T08:06:43.000Z","id":"Ft7KiQXRXHZyyrJV","name":"blocages","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"NUM_0\", \"XPAYCSSPJ\".\"BPR_0\", \n\"XPAYCSSPJ\".\"XCODE_0\", \n\"XPAYCSSPJ\".\"BPRNAM_0\", \n\"XPAYCSSPJ\".\"FCY_0\", \n\"BPARTNER\".\"XCPT_0\", \n\"XPAYCSSPJ\".\"XACH_0\", \n\"XPAYCSSPJ\".\"XDATEC_0\",\nDATEDIFF(DAY, XPAYCSSPJ.XDATEC_0, GETDATE()) AS nbj\nFROM   \"x3\".\"BASE1\".\"XPOHCSSPJ\" \"XPAYCSSPJ\" \nLEFT OUTER JOIN \"x3\".\"BASE1\".\"BPARTNER\" \"BPARTNER\" \nON \"XPAYCSSPJ\".\"BPR_0\"=\"BPARTNER\".\"BPRNUM_0\"\nWHERE   NOT (\"XPAYCSSPJ\".\"BPR_0\"=N'T1821' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T1833' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2406' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2515' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2517' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2618' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2694' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2708' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3000' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3048' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3207' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3402' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3544' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3663' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3830' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3851' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4375' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4388' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T6448')\nORDER BY \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"XCODE_0\"\n\n\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,-16],"id":"dc300ec7-87bb-4796-84b7-6e86c443a5e2","name":"Liste Bons de commande Sans Pièces Jointes","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d93b100-2ca5-478d-8fd4-c8067cfcbef4","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-16],"id":"2a36629d-b87f-4955-bf2d-a1a4acd3d65a","name":"check if depase 15jrs"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,-16],"id":"8dce21fa-e80d-4e0f-9bd1-cb9400399687","name":"HTTP Request"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Liste Bons de commande Sans Pièces Jointes \" + row.NUM_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-16],"id":"7ec3de6f-6ecf-43ad-8eb2-798ddc5ad5e1","name":"Code"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-16],"id":"1833a6d2-f548-493a-b7c6-6a005960a822","name":"Code1"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[320,176],"id":"f78c28b0-a6f6-429d-af6f-4a8d200cac0b","name":"Split Out"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,176],"id":"e7e9cc80-1d57-4ade-899a-fb0e4f016f43","name":"Code2"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Control montan BC avec DFF \" + row.XCMD_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,176],"id":"8a4d3218-d692-4705-8c05-dee6daebcfd4","name":"Code3"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,176],"id":"88f65a8b-24a0-4f18-962b-4fb55805a6c0","name":"HTTP Request2"},{"parameters":{"url":"http://192.168.1.211:8004/api/control_mnt_cmd_facture","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,176],"id":"aae7d9f1-9c0d-4458-bb8d-79534e5673bf","name":"Control montan BC avec DFF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":24,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,368],"id":"29dabdf9-4e52-4de5-8429-eefdf943e7b4","name":"If"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,368],"id":"0ce3adee-d2f5-471f-b0f1-3087d7cb92b0","name":"Code4"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Liste Comparatifs Achat non rattachés \" + row.XNUM_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,368],"id":"af00e57a-68bb-4e6d-ba10-6b55d727be24","name":"Code5"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,368],"id":"f7df7bf6-564b-45f5-b109-98db13d291a8","name":"HTTP Request3"},{"parameters":{"operation":"executeQuery","query":"SELECT BASE1.XCOMFH.XNUM_0, BASE1.XCOMFH.XDATECMP_0, BASE1.XCOMFH.XDEM_0,BASE1.XCOMFH.XOBS_0,BASE1.XCOMFH.XOBSD_0,BASE1.XCOMFH.XDATC_0\n\n,BASE1.XCOMFH.CREUSR_0, \nDATEDIFF(DAY, BASE1.XCOMFH.XDATC_0, GETDATE()) AS nbj\n\nFROM     BASE1.XCOMFH \n  LEFT OUTER JOIN\n                  BASE1.AOBJTXT ON BASE1.XCOMFH.XNUM_0 = BASE1.AOBJTXT.IDENT1_0\nwhere BASE1.AOBJTXT.IDENT1_0 is null\n\t\t\t\t  order by XNUM_0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,368],"id":"29b5612a-ee7f-4e28-9bb7-5e096f57d57b","name":"Liste Comparatifs Achat non rattachés","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"select datediff(Day,XDATCMD_0,GETDATE()) as nbj, * \n,(select top 1 XACH_0 from BASE1.PORDERQ  where POHNUM_0=XCMD_0)  as Acheteur\nfrom BASE1.XDEPFACT \n\nwhere XFACT_0=''\nand XCMD_0  not in (select XCMD_0 from BASE1.XDEPFACT  where XFACT_0<>'')\nand XCMD_0  not in (select POHNUM_0  from BASE1.PORDERQ O   where LINCLEFLG_0=2  and RCPQTYSTU_0<QTYSTU_0)\nand left(XCMD_0,3)<>'CBC'\nand XFLGANN_0<>2 \norder by XDATCMD_0  asc"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,560],"id":"ae93b1ed-5591-44ac-9aae-e0d1650baea7","name":"Bons de commandes san facture fournisseur (30 jours)","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":30,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,560],"id":"56ec8381-30f3-4a58-966a-14d299226207","name":"If1"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,560],"id":"d7a57601-c0a3-4ef4-9b62-4025bf0578d2","name":"Code6"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"BC sans facture fournisseur \" + row.XCMD_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,560],"id":"13bbf2b9-82a7-4ee1-9122-acdcd664c1bd","name":"Code7"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,560],"id":"0f0e992a-b8d6-4aea-99a6-7af93fd11bbb","name":"HTTP Request4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,272],"id":"bd436601-dd53-4dc4-8e35-356e96c7e24d","name":"Schedule Trigger"}],"connections":{"Liste Bons de commande Sans Pièces Jointes":{"main":[[{"node":"check if depase 15jrs","type":"main","index":0}]]},"check if depase 15jrs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Control montan BC avec DFF":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"If":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Liste Comparatifs Achat non rattachés":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Bons de commandes san facture fournisseur (30 jours)":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Liste Bons de commande Sans Pièces Jointes","type":"main","index":0},{"node":"Control montan BC avec DFF","type":"main","index":0},{"node":"Liste Comparatifs Achat non rattachés","type":"main","index":0},{"node":"Bons de commandes san facture fournisseur (30 jours)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd5684e6-8199-4a16-87c5-fefbe60076c8","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}