blocages-Ft7KiQXRXHZyyrJV.json
{"createdAt":"2026-06-30T08:57:08.337Z","updatedAt":"2026-07-12T23:00:03.000Z","id":"Ft7KiQXRXHZyyrJV","name":"blocages","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"NUM_0\", \"XPAYCSSPJ\".\"BPR_0\", \n\"XPAYCSSPJ\".\"XCODE_0\", \n\"XPAYCSSPJ\".\"BPRNAM_0\", \n\"XPAYCSSPJ\".\"FCY_0\", \n\"BPARTNER\".\"XCPT_0\", \n\"XPAYCSSPJ\".\"XACH_0\", \n\"XPAYCSSPJ\".\"XDATEC_0\",\nDATEDIFF(DAY, XPAYCSSPJ.XDATEC_0, GETDATE()) AS nbj\nFROM   \"x3\".\"BASE1\".\"XPOHCSSPJ\" \"XPAYCSSPJ\" \nLEFT OUTER JOIN \"x3\".\"BASE1\".\"BPARTNER\" \"BPARTNER\" \nON \"XPAYCSSPJ\".\"BPR_0\"=\"BPARTNER\".\"BPRNUM_0\"\nWHERE   NOT (\"XPAYCSSPJ\".\"BPR_0\"=N'T1821' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T1833' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2406' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2515' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2517' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2618' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2694' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2708' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3000' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3048' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3207' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3402' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3544' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3663' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3830' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3851' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4375' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4388' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T6448')\nORDER BY \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"XCODE_0\"\n\n\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,-16],"id":"dc300ec7-87bb-4796-84b7-6e86c443a5e2","name":"Liste Bons de commande Sans Pièces Jointes","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d93b100-2ca5-478d-8fd4-c8067cfcbef4","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-16],"id":"2a36629d-b87f-4955-bf2d-a1a4acd3d65a","name":"check if depase 15jrs"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,-16],"id":"8dce21fa-e80d-4e0f-9bd1-cb9400399687","name":"HTTP Request"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Liste Bons de commande Sans Pièces Jointes \" + row.NUM_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-16],"id":"7ec3de6f-6ecf-43ad-8eb2-798ddc5ad5e1","name":"Code"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,-16],"id":"1833a6d2-f548-493a-b7c6-6a005960a822","name":"Code1"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[320,176],"id":"f78c28b0-a6f6-429d-af6f-4a8d200cac0b","name":"Split Out"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,176],"id":"e7e9cc80-1d57-4ade-899a-fb0e4f016f43","name":"Code2"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Control montan BC avec DFF \" + row.XCMD_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,176],"id":"8a4d3218-d692-4705-8c05-dee6daebcfd4","name":"Code3"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,176],"id":"88f65a8b-24a0-4f18-962b-4fb55805a6c0","name":"HTTP Request2"},{"parameters":{"url":"http://192.168.1.211:8004/api/control_mnt_cmd_facture","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,176],"id":"aae7d9f1-9c0d-4458-bb8d-79534e5673bf","name":"Control montan BC avec DFF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":24,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,368],"id":"29dabdf9-4e52-4de5-8429-eefdf943e7b4","name":"If"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,368],"id":"0ce3adee-d2f5-471f-b0f1-3087d7cb92b0","name":"Code4"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"Liste Comparatifs Achat non rattachés \" + row.XNUM_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,368],"id":"af00e57a-68bb-4e6d-ba10-6b55d727be24","name":"Code5"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,368],"id":"f7df7bf6-564b-45f5-b109-98db13d291a8","name":"HTTP Request3"},{"parameters":{"operation":"executeQuery","query":"SELECT BASE1.XCOMFH.XNUM_0, BASE1.XCOMFH.XDATECMP_0, BASE1.XCOMFH.XDEM_0,BASE1.XCOMFH.XOBS_0,BASE1.XCOMFH.XOBSD_0,BASE1.XCOMFH.XDATC_0\n\n,BASE1.XCOMFH.CREUSR_0, \nDATEDIFF(DAY, BASE1.XCOMFH.XDATC_0, GETDATE()) AS nbj\n\nFROM     BASE1.XCOMFH \n  LEFT OUTER JOIN\n                  BASE1.AOBJTXT ON BASE1.XCOMFH.XNUM_0 = BASE1.AOBJTXT.IDENT1_0\nwhere BASE1.AOBJTXT.IDENT1_0 is null\n\t\t\t\t  order by XNUM_0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,368],"id":"29b5612a-ee7f-4e28-9bb7-5e096f57d57b","name":"Liste Comparatifs Achat non rattachés","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"select datediff(Day,XDATCMD_0,GETDATE()) as nbj, * \n,(select top 1 XACH_0 from BASE1.PORDERQ  where POHNUM_0=XCMD_0)  as Acheteur\nfrom BASE1.XDEPFACT \n\nwhere XFACT_0=''\nand XCMD_0  not in (select XCMD_0 from BASE1.XDEPFACT  where XFACT_0<>'')\nand XCMD_0  not in (select POHNUM_0  from BASE1.PORDERQ O   where LINCLEFLG_0=2  and RCPQTYSTU_0<QTYSTU_0)\nand left(XCMD_0,3)<>'CBC'\nand XFLGANN_0<>2 \norder by XDATCMD_0  asc"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,560],"id":"ae93b1ed-5591-44ac-9aae-e0d1650baea7","name":"Bons de commandes san facture fournisseur (30 jours)","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":30,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,560],"id":"56ec8381-30f3-4a58-966a-14d299226207","name":"If1"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,560],"id":"d7a57601-c0a3-4ef4-9b62-4025bf0578d2","name":"Code6"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    \n    .map(item => {\n        const row = item.json;\n        return {\n            msg_blocage: \"BC sans facture fournisseur \" + row.XCMD_0,\n            service: \"SRV001\",\n            code_salarie: \"\"\n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,560],"id":"13bbf2b9-82a7-4ee1-9122-acdcd664c1bd","name":"Code7"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8004/api/blocage_rh/data ","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{ $json.donnees }},\n  \"email_expediteur\" : \"{{ $json.email_expediteur }}\",\n  \"headless\" : {{ $json.headless }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,560],"id":"0f0e992a-b8d6-4aea-99a6-7af93fd11bbb","name":"HTTP Request4"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,848],"id":"bd436601-dd53-4dc4-8e35-356e96c7e24d","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,1232],"id":"14659871-94ea-4b66-9be7-6c9637b661c3","name":"If2"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1232],"id":"e166e32f-3c8a-4bef-9b00-d98cfb721cba","name":"Code8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,1424],"id":"95d6b6fe-9382-419b-86fb-15319117d3d4","name":"If3"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1424],"id":"aeec70c2-3cf1-43c8-9801-28c7d6aec99b","name":"Code9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,1616],"id":"2a7861bf-305c-420a-a598-69c413275388","name":"If4"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,1616],"id":"cfb855cc-0080-499f-b0c1-c80ae6c142c1","name":"Code10"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,1808],"id":"e753a256-9519-4965-95e0-9e7fe73a7305","name":"Code11"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,2000],"id":"0bf406f7-a6bf-41d4-904a-36d2cbe79e8e","name":"If5"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,2000],"id":"d339e4da-6f80-442e-ae5c-6e4487822f5c","name":"Code12"},{"parameters":{"operation":"executeQuery","query":"SELECT \"XORVEPJ\".\"XDATC_0\", \"XORVEPJ\".\"XNUM_0\", \"XORVEPJ\".\"XBPS_0\", \"XORVEPJ\".\"XCOD_0\", \"XORVEPJ\".\"XINT_0\", \"PAYMENTH\".\"NUM_0\", \"XORVEPJ\".\"XMNT_0\", \"PAYMENTH\".\"AMTCUR_0\",\nDATEDIFF(DAY, XDATC_0,GETDATE()) as nbj\n FROM   \"x3\".\"BASE1\".\"XORVEPJ\" \"XORVEPJ\" LEFT OUTER JOIN \"x3\".\"BASE1\".\"PAYMENTH\" \"PAYMENTH\" ON \"XORVEPJ\".\"XNUM_0\"=\"PAYMENTH\".\"XVIN_0\"\n ORDER BY \"XORVEPJ\".\"XNUM_0\""},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,1232],"id":"7dd29776-6d19-471a-b756-f82a0ecd5464","name":"virement etrangers sans pj","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \"XORVEPJ\".\"XDATC_0\", \"XORVEPJ\".\"XNUM_0\", \"XORVEPJ\".\"XBPS_0\", \"XORVEPJ\".\"XCOD_0\", \"XORVEPJ\".\"XINT_0\", \"PAYMENTH\".\"NUM_0\", \"PAYMENTH\".\"AMTCUR_0\", \"XORVEPJ\".\"XMNT_0\",\nDATEDIFF(DAY, XDATC_0,GETDATE()) as nbj\n FROM   \"x3\".\"BASE1\".\"XORVNPJ\" \"XORVEPJ\" LEFT OUTER JOIN \"x3\".\"BASE1\".\"PAYMENTH\" \"PAYMENTH\" ON \"XORVEPJ\".\"XNUM_0\"=\"PAYMENTH\".\"XOVI_0\"\n ORDER BY \"XORVEPJ\".\"XNUM_0\""},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,1424],"id":"85fe7025-9da1-48b4-af8e-d1ffe29afe13","name":"virement nationaux sans pj","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"elect PNHNUM_0,RTNDAT_0,BPSNUM_0,BPRNAM_0,CREUSR_0,DATEDIFF( DAY,XDATCPJ_0,GETDATE()) as nbj ,XDATCPJ_0 from BASE1.PRETURN   \nwhere INVFLG_0<3 and XRETINT_0<>2"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,1616],"id":"ca07134e-8e55-415c-808a-c9bc1d3f57b1","name":"retour fournisseur non facturé","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"WITH \n-- ==========================================\n-- 1. Définition de \"Commande_1\"\n-- ==========================================\nCommande_1 AS (\n    SELECT L.XOBSER_0, L.XANND_0, L.XPERIOD_0\n    FROM BASE1.XCTRDF2 L \n    LEFT JOIN BASE1.XNBDECF D \n        ON L.XANND_0 = D.XANDEC_0  \n        AND L.XPERIOD_0 = D.XPERIOD_0 \n        AND L.XOBSER_0 = D.XOBSER_0\n    WHERE isnull(D.XOBSER_0, '') = ''\n      AND L.XANND_0 = YEAR(getdate()) - 1\n\n    UNION ALL\n\n    SELECT L.XOBSER_0, L.XANND_0, L.XPERIOD_0\n    FROM BASE1.XCTRDF2 L \n    LEFT JOIN BASE1.XNBDECF D \n        ON L.XANND_0 = D.XANDEC_0  \n        AND L.XPERIOD_0 = D.XPERIOD_0 \n        AND L.XOBSER_0 = D.XOBSER_0\n    WHERE isnull(D.XOBSER_0, '') = ''\n      AND L.XANND_0 = YEAR(getdate())  \n      AND L.XPERIOD_0 < MONTH(getdate()) \n),\n\n-- ==========================================\n-- 2. Définition de \"Commande\" (Requête Principale)\n-- ==========================================\nCommande AS (\n    SELECT \n        L.XOBSER_0, \n        L.XANND_0, \n        L.XPERIOD_0,\n        D.XOBSER_0  AS D_XOBSER_0,  -- Correspond à XOBSER_0(1)\n        D.XANDEC_0  AS D_XANDEC_0,\n        D.XPERIOD_0 AS D_XPERIOD_0, -- Correspond à XPERIOD_0(1)\n        D.XNUM_0    AS D_XNUM_0\n    FROM BASE1.XCTRDF2 L \n    LEFT JOIN BASE1.XNBDECF D \n        ON L.XANND_0 = D.XANDEC_0  \n        AND L.XPERIOD_0 = D.XPERIOD_0 \n        AND L.XOBSER_0 = D.XOBSER_0\n)\n\n-- ==========================================\n-- 3. Requête finale combinant tout avec les formules\n-- ==========================================\nSELECT \n    C.XOBSER_0,\n    C.XANND_0,\n    C.XPERIOD_0,\n    C.D_XOBSER_0,\n    C.D_XANDEC_0,\n    C.D_XPERIOD_0,\n    C.D_XNUM_0,\n\n    -- FORMULE DU MOIS : Convertit le numéro de la période en nom de mois\n    DATENAME(month, DATEADD(month, C.XPERIOD_0 - 1, CAST('2000-01-01' AS datetime))) AS Nom_Du_Mois,\n\n    -- FORMULE D'ETAT\n    CASE \n        WHEN C.D_XPERIOD_0 IS NULL THEN 'Non Déclaré' \n        ELSE 'Déclaré' \n    END AS Etat,\n\n    -- FORMULE DE MISE EN FORME (Couleurs)\n    CASE \n        -- Si l'état est \"Déclaré\"\n        WHEN (CASE WHEN C.D_XPERIOD_0 IS NULL THEN 'Non Déclaré' ELSE 'Déclaré' END) = 'Déclaré' \n            THEN 'Vert (227,255,227)'\n        \n        -- Si non déclaré mais présent dans Commande_1\n        WHEN C1.XPERIOD_0 IS NOT NULL \n            THEN 'Jaune (crYellow)'\n            \n        -- Sinon pas de couleur\n        ELSE 'Aucune (crNoColor)' \n    END AS Indicateur_Couleur\n\nFROM Commande C\n-- Application du lien visible sur votre image (Les 3 flèches)\nLEFT JOIN Commande_1 C1 \n    ON C.XOBSER_0 = C1.XOBSER_0 \n   AND C.XANND_0 = C1.XANND_0 \n   AND C.XPERIOD_0 = C1.XPERIOD_0\n\nwhere C.D_XPERIOD_0 is null\n-- Ordre de tri de votre \"Deuxième commande\"\nORDER BY \n    C.XANND_0, \n    C.XPERIOD_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,1808],"id":"6c66cc0a-035d-410e-b21a-7a3b5980c5d9","name":"agenda fiscal non declare","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \"XPAYPJ\".\"XDATE_0\", \"XPAYPJ\".\"NUM_0\", \"XPAYPJ\".\"BPCNUM_0\", \"XPAYPJ\".\"XCODE_0\", \"XPAYPJ\".\"BPRCNAM_0\", \"XPAYPJ\".\"PAYTYP_0\", \"XPAYPJ\".\"DES_0\", \"XPAYPJ\".\"REF_0\", \"XPAYPJ\".\"AMTCUR_0\",\nDATEDIFF(DAY,XDATE_0, GETDATE()) as nbj\n FROM   \"x3\".\"BASE1\".\"XPAYPJ\" \"XPAYPJ\"\n WHERE  \"XPAYPJ\".\"XDATE_0\">={ts '2022-01-01 00:00:00'}\n ORDER BY \"XPAYPJ\".\"XDATE_0\", \"XPAYPJ\".\"XCODE_0\""},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,2000],"id":"93435143-50d1-4561-a265-96e2409276d1","name":"REGLEMENT FOURNISSURS NON ATT","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"beddadfd-4381-4106-9a46-3f54e338df9c","leftValue":"={{ $json.nbj }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,752],"id":"0365866a-e7c2-4440-baa9-09f50fd5d033","name":"If6"},{"parameters":{"jsCode":"\n\nreturn $input.first();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,752],"id":"d8936fc9-7138-4a53-b851-6f2cf496afe6","name":"Code13"},{"parameters":{"operation":"executeQuery","query":"SELECT \"XPINCSSPJ\".\"XDATE_0\", \"XPINCSSPJ\".\"NUM_0\", \"XPINCSSPJ\".\"BPSNUM_0\", \"XPINCSSPJ\".\"XCODE_0\", \"XPINCSSPJ\".\"BPRCNAM_0\", \"XPINCSSPJ\".\"FCY_0\", \"BPARTNER\".\"XCPT_0\", \"XPINCSSPJ\".\"XDTREG_0\",\nCASE \n    WHEN XPINCSSPJ.XDTREG_0 >= '2023-01-01' \n        THEN DATEDIFF(day, XPINCSSPJ.XDTREG_0, CAST(GETDATE() AS DATE))\n    ELSE 0 \nEND AS nbj\n FROM   \"x3\".\"BASE1\".\"XPINCSSPJ\" \"XPINCSSPJ\" LEFT OUTER JOIN \"x3\".\"BASE1\".\"BPARTNER\" \"BPARTNER\" ON \"XPINCSSPJ\".\"BPSNUM_0\"=\"BPARTNER\".\"BPRNUM_0\"\n WHERE  \"XPINCSSPJ\".\"XDATE_0\">={ts '2023-01-01 00:00:00'}"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[96,752],"id":"b91d1eb8-2f09-41df-b2d6-c8c4c466100b","name":"Facture achat non att","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"content":"## Blocages des achats\n","height":1024,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-56,-112],"typeVersion":1,"id":"92c64a3f-ef41-4052-8976-ee9c9a9b59d9","name":"Sticky Note"},{"parameters":{"content":"##  Blocages comptabilite\n","height":912,"width":1296},"type":"n8n-nodes-base.stickyNote","position":[-336,1248],"typeVersion":1,"id":"76de2320-e8d5-428f-8427-d6ec8198b60b","name":"Sticky Note1"}],"connections":{"Liste Bons de commande Sans Pièces Jointes":{"main":[[{"node":"check if depase 15jrs","type":"main","index":0}]]},"check if depase 15jrs":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Control montan BC avec DFF":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"If":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Liste Comparatifs Achat non rattachés":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]},"Bons de commandes san facture fournisseur (30 jours)":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Liste Bons de commande Sans Pièces Jointes","type":"main","index":0},{"node":"Control montan BC avec DFF","type":"main","index":0},{"node":"Liste Comparatifs Achat non rattachés","type":"main","index":0},{"node":"Bons de commandes san facture fournisseur (30 jours)","type":"main","index":0},{"node":"virement etrangers sans pj","type":"main","index":0},{"node":"virement nationaux sans pj","type":"main","index":0},{"node":"retour fournisseur non facturé","type":"main","index":0},{"node":"agenda fiscal non declare","type":"main","index":0},{"node":"REGLEMENT FOURNISSURS NON ATT","type":"main","index":0},{"node":"Facture achat non att","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[]]},"If3":{"main":[[{"node":"Code9","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code10","type":"main","index":0}]]},"If5":{"main":[[{"node":"Code12","type":"main","index":0}]]},"virement etrangers sans pj":{"main":[[{"node":"If2","type":"main","index":0}]]},"virement nationaux sans pj":{"main":[[{"node":"If3","type":"main","index":0}]]},"retour fournisseur non facturé":{"main":[[{"node":"If4","type":"main","index":0}]]},"agenda fiscal non declare":{"main":[[{"node":"Code11","type":"main","index":0}]]},"REGLEMENT FOURNISSURS NON ATT":{"main":[[{"node":"If5","type":"main","index":0}]]},"If6":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Facture achat non att":{"main":[[{"node":"If6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48626e39-5b01-410f-a62a-d36771127c47","triggerCount":1,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}