br-gQmufgPbvuaNitpE.json
{"createdAt":"2026-02-24T09:32:32.446Z","updatedAt":"2026-06-10T22:43:50.000Z","id":"gQmufgPbvuaNitpE","name":"BR","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"\nselect \n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0,\n    '{{ $json.numero_bl }}' as numero_bl,\n    '{{ $json.lignes[0].designation }}' as designation_ocr,\n    '{{ $json.lignes[0].reference }}' as reference_ocr,\n    '{{ $json.lignes[0].quantite }}' as quantite_ocr,\n    '{{ $json.lignes[0].pu_ht }}'as prix_unitaire_ocr,\n    '{{ $json.lignes[0].montant_ht }}' as montant_ht_ocr,\n    MAX(POPLIN_0) AS max_poplin\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.numero_bc }}'\nGROUP BY\n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-4480,-20544],"id":"c593ba76-ff0b-42c8-b913-e26773792201","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"360b53d1-b7a2-439b-a535-773df26001b4","leftValue":"={{ $json.max_poplin }}","rightValue":1000,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4272,-20544],"id":"b158c37f-f4c4-4b9f-8006-01508bd1a156","name":"If6"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $json.reference_ocr }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $json.numero_bl }}' as numero_bl,\n    '{{ $json.designation_ocr }}' as designation_ocr,\n    '{{ $json.reference_ocr }}' as refrence_ocr,\n    '{{ $json.montant_ht_ocr }}' as montant_ht_ocr,\n    '{{ $json.quantite_ocr }}' as quantite_ocr\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.POHNUM_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-4048,-20688],"id":"8212fc43-5338-435a-bdfe-2e377678d030","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"command":"=C:\\hicham\\scripts\\match_article_br\\script.bat \"C:\\hicham\\scripts\\match_article_br\\input_temp.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-3840,-20400],"id":"e37e1878-2e17-4537-a5c5-404f1bdbdc43","name":"Execute Command1"},{"parameters":{"jsCode":"// Run Once for All Items ✅\nconst fs = require('fs');\n\n// Récupérer TOUS les items\nconst data = $input.all().map(item => item.json);\n\n// Écrire le tableau complet\nfs.writeFileSync(\n  'C:\\\\hicham\\\\scripts\\\\match_article_br\\\\input_temp.json',\n  JSON.stringify(data, null, 2),\n  'utf-8'\n);\n\n// Retourner tous les items pour la suite du workflow\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4048,-20400],"id":"db696ba9-a4b6-42f1-a2ad-c08348d9b6e7","name":"Code"},{"parameters":{"jsCode":"// Mode: Run Once for All Items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const stdout = item.json.stdout;\n  \n  if (!stdout || stdout.trim() === '') {\n    results.push({ json: { error: \"stdout vide\", raw: item.json } });\n    continue;\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(stdout);\n  } catch (e) {\n    results.push({ json: { error: \"JSON parse error: \" + e.message, raw: stdout.slice(0, 300) } });\n    continue;\n  }\n\n  // Normalise en tableau\n  const lines = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const line of lines) {\n    results.push({ json: line });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3632,-20400],"id":"34adc29a-d999-4fa3-a124-5cc25f131249","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.ITMDES1_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.POHNUM_0 }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.refrence_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"=100","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3680,-20688],"id":"26cab482-8ed8-44f4-b725-4ee1a845805e","name":"Edit Fields4"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields4').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields4').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields4').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields4').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields4').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-3040,-20704],"id":"030e27cf-e735-4446-8b32-e17c7e814258","name":"Insert rows in a table","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-3472,-20688],"id":"6db4b337-f0ed-4d6c-bcfd-ea6e1158f166","name":"Execute a SQL query","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3280,-20688],"id":"ff99fd3f-706a-468b-b91d-ea90371ee3ff","name":"If11"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields4').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields4').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields4').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2864,-20672],"id":"7d96d811-c70b-4667-b5cb-79d2857c7793","name":"Insert rows in a table6","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"text":"={{ $json.pages[0].markdown }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n\n    \"type_document\": {\n      \"type\": \"string\",\n      \"description\": \"Type du document détecté : 'BON_DE_LIVRAISON'. Valeur fixe pour ce workflow\"\n    },\n\n    \"numero_bl\": {\n      \"type\": \"string\",\n      \"description\": \"Numéro du bon de livraison. Ex: '0040355464'. Si plusieurs BL dans le même PDF, les séparer par virgule\"\n    },\n\n    \"date_bl\": {\n      \"type\": \"string\",\n      \"description\": \"Date du BL au format tel que détecté dans le document (ex: 04/07/2024)\"\n    },\n\n    \"numero_bc\": {\n      \"type\": \"string\",\n      \"description\": \"Numéro(s) du bon de commande. Chercher les mots-clés : 'BON DE COMMANDE', 'V/Commande', 'BC N°', 'N° BC'. Si plusieurs BCs, les séparer par ' - ' (ex: BC191397 - BC192493). Chaîne vide si aucun BC trouvé\"\n    },\n\n    \"fournisseur_nom\": {\n      \"type\": \"string\",\n      \"description\": \"Nom ou raison sociale du fournisseur émetteur du BL\"\n    },\n\n    \"base_ht\": {\n      \"type\": \"number\",\n      \"description\": \"Total HT du document. Format marocain : le point '.' est séparateur de milliers, la virgule ',' est séparateur décimal. Convertir en nombre JSON standard (ex: '34.453,94' → 34453.94)\"\n    },\n\n    \"tva_montant\": {\n      \"type\": \"number\",\n      \"description\": \"Montant total de la TVA. Même règle de conversion format marocain que base_ht. Ex: '6.890,79' → 6890.79. null si absent\"\n    },\n\n    \"total_ttc\": {\n      \"type\": \"number\",\n      \"description\": \"Total TTC du document. Même règle de conversion format marocain que base_ht. null si absent\"\n    },\n\n    \"lignes\": {\n      \"type\": \"array\",\n      \"description\": \"Toutes les lignes articles du tableau. Obligatoire : ne jamais retourner un tableau vide si des articles sont visibles. Extraire TOUTES les lignes. Le nombre de lignes = nombre de valeurs dans la colonne Quantité\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n\n          \"reference\": {\n            \"type\": \"string\",\n            \"description\": \"Code ou référence article tel qu'affiché dans la colonne REF / Référence / Code. null si absent\"\n          },\n\n          \"designation\": {\n            \"type\": \"string\",\n            \"description\": \"Libellé de l'article sans accents, apostrophes ni caractères non-ASCII (é→e, à→a, ç→c, '→espace). RÈGLE CRITIQUE : le nombre de désignations distinctes = nombre de valeurs dans la colonne Quantité. Si la colonne Désignation a exactement N fragments séparés par saut de ligne et Quantité = N valeurs → chaque fragment est une désignation SÉPARÉE, ne pas les fusionner. Si fragments Désignation > N → tout concaténer en une seule désignation\"\n          },\n\n          \"quantite\": {\n            \"type\": \"number\",\n            \"description\": \"Quantité numérique de la ligne. JAMAIS une date. Ne jamais concaténer deux valeurs séparées par saut de ligne (ex: '69\\\\n16' → ligne 1 qty=69, ligne 2 qty=16). Si pu_ht × quantite ≠ montant_ht affiché, recalculer : quantite = montant_ht / pu_ht\"\n          },\n\n          \"pu_ht\": {\n            \"type\": \"number\",\n            \"description\": \"Prix unitaire HT de la ligne. Même règle de conversion format marocain (point=milliers, virgule=décimal). null si absent\"\n          },\n\n          \"remise_pct\": {\n            \"type\": \"number\",\n            \"description\": \"Remise en pourcentage appliquée à la ligne. Mettre 0 si aucune remise mentionnée\"\n          },\n\n          \"montant_ht\": {\n            \"type\": \"number\",\n            \"description\": \"Montant HT de la ligne. Même règle de conversion format marocain. Vérification : pu_ht × quantite × (1 - remise_pct/100) doit correspondre. null si absent\"\n          }\n        }\n      }\n    }\n  }\n}","options":{"systemPromptTemplate":"Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\nTa mission : analyser le contenu OCR fourni et retourner UNIQUEMENT un objet JSON valide, sans aucun texte avant ou après, sans Markdown, sans backticks.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°0 — INTERDICTION ABSOLUE D'INVENTION (PRIORITÉ MAXIMALE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nINTERDIT ABSOLU : inventer, déduire, extrapoler ou compléter une valeur\nqui n'est PAS explicitement lisible dans le texte OCR fourni.\n\nSi une valeur n'est pas présente dans le texte OCR :\n  → Mettre OBLIGATOIREMENT null (nombres) ou null (strings)\n  → JAMAIS utiliser des valeurs par défaut inventées\n  → JAMAIS compléter depuis une \"connaissance générale\"\n\nCela s'applique STRICTEMENT à :\n  - numero_bl        → uniquement ce qui suit \"N° BL\" dans le texte\n  - date_bl          → uniquement ce qui suit \"Date Livraison\" dans le texte\n  - fournisseur_nom  → uniquement le nom lisible en en-tête du document\n  - base_ht          → null si aucune ligne \"Total HT\" ou \"Base HT\" visible\n  - tva_montant      → null si aucune ligne TVA visible\n  - total_ttc        → null si aucune ligne TTC visible\n  - pu_ht            → null si la colonne prix unitaire est absente ou vide\n  - montant_ht       → null si la colonne montant est absente ou vide\n  - lignes[]         → UNIQUEMENT les articles dont la quantité est lisible dans la colonne Quantité du tableau\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1 — NOMBRE D'ARTICLES (CRITIQUE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLa colonne QUANTITE est le SEUL critère qui détermine le nombre d'articles N.\nCompter les valeurs séparées par \\n dans la colonne Quantite = N articles.\n\nAppliquer colonne par colonne :\n\nQUANTITE → splitter par \\n → N articles (référence absolue)\n\nDESIGNATION → splitter par \\n → obtenir F fragments :\n  - F = N : chaque fragment = désignation DISTINCTE d'un article séparé. INTERDIT de fusionner.\n  - F > N : concaténer tous les fragments → une seule désignation pour l'article unique.\n  - F < N : répéter la dernière désignation connue pour les articles suivants.\n\nREFERENCE → splitter par \\n :\n  - fragments = N : une référence par article.\n  - fragments < N : répéter la dernière valeur connue.\n\nMONTANT_HT → splitter par \\n :\n  - fragments = N : un montant par article.\n  - fragments < N : null pour les articles sans montant.\n\nZipper toutes les colonnes index par index pour créer N objets articles.\n\nVERIFICATION FINALE :\n✅ Nombre d'articles créés = N\n✅ Chaque article a une désignation DIFFERENTE si fragments Designation = N\n✅ Aucune désignation ne contient \\n dans sa valeur finale\n✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°2 — DÉSIGNATION (NETTOYAGE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nDans le champ designation, remplacer ou supprimer obligatoirement :\n  - Apostrophes ' → espace\n  - Accents : e accent → e, a accent → a, u accent → u, i accent → i, o accent → o, c cedille → c, oe → oe, ae → ae\n  - Guillemets simples ou doubles → supprimer\n  - Tout caractère non-ASCII → équivalent ASCII ou supprimer\n  - References BL dans la désignation (BL N°..., B.L N°...) → supprimer\n  - References BC dans la désignation (BC N°..., B.C N°...) → supprimer\n  - Dates dans la désignation (du JJ/MM/AAAA, au JJ/MM/AAAA) → supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°3 — MONTANTS (FORMAT MAROCAIN)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLe point . est séparateur de milliers, la virgule , est séparateur décimal.\nConvertir en nombre JSON standard :\n  '34.453,94' → 34453.94\n  '1.200,00'  → 1200.0\n  '75 198,12' → 75198.12\n\nAppliquer à : base_ht, tva_montant, total_ttc, pu_ht, montant_ht de chaque ligne.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°4 — DÉTERMINATION DU CAS BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nChercher les numéros BC dans les champs : \"BON DE COMMANDE\", \"V/Commande\", \"BC N°\", \"N° BC\".\nLes séparateurs possibles entre plusieurs BCs : - / , espace.\n\nNORMALISATION DES NUMÉROS BC :\n  → Si la valeur trouvée est uniquement numérique (ex : 179804),\n    la convertir automatiquement en \"BC179804\".\n  → Si la valeur contient déjà le préfixe \"BC\" (ex : BC179804),\n    la conserver telle quelle.\n  → Supprimer les espaces inutiles autour du numéro.\n  → Appliquer cette règle à tous les BC détectés.\n\nCAS 1 — UN SEUL BC détecté :\n  → numero_bc dans l'objet bon_de_livraison\n  → articles dans le tableau racine \"lignes\"\n  → bons_de_commande = null\n\nCAS 2 — PLUSIEURS BCs détectés :\n  → lignes racine = null\n  → Créer un objet dans bons_de_commande pour CHAQUE BC\n  → Dupliquer TOUS les articles sous chaque BC\n  → bon_de_livraison ne contient PAS de champ numero_bc\n\nSi aucun BC détecté :\n  → CAS 1 avec numero_bc: null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°5 — VALEURS MANQUANTES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n  - Champ absent ou illisible → null\n  - Montants = nombres float (jamais string)\n  - Quantite = nombre entier positif (jamais une date)\n  - Dates = format tel que détecté dans le document\n  - Supprimer les espaces inutiles en début et fin de chaque valeur string\n  - remise_pct = 0 si aucune remise mentionnée\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES DE RAISONNEMENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE A — 2 articles distincts :\n  Quantite    : \"4\\n4\"\n  Designation : \"pliage de tole\\nsoudure\"\n  → N=2, F=2 → article 1 = \"pliage de tole\", article 2 = \"soudure\"\n  ❌ INTERDIT : \"pliage de tole soudure\" sur les deux lignes\n\nEXEMPLE B — 1 article désignation multi-ligne :\n  Quantite    : \"2\"\n  Designation : \"ventilateur\\nd extraction\\ntype axial\"\n  → N=1, F=3 → F > N → concaténer → \"ventilateur d extraction type axial\"\n\nEXEMPLE C — 3 articles, montant manquant :\n  Quantite    : \"1\\n2\\n1\"\n  Designation : \"roulement\\npalier\\ncouvercle\"\n  Montant     : \"150\\n300\"\n  → article 3 montant_ht = null\n\nEXEMPLE D — BC multiples :\n  V/Commande : BC191397 - BC192493\n  → CAS 2 → 2 objets dans bons_de_commande, lignes racine = null\n\nEXEMPLE E — BC unique :\n  V/Commande : 179804\n  → CAS 1 → numero_bc dans bon_de_livraison, articles dans lignes racine"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-5168,-20544],"id":"67c3144b-80a4-4798-a830-2dce7f26122d","name":"Information Extractor"},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-5168,-20304],"id":"ee2bf665-92f0-496a-b68b-d68c46b8d247","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const results = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n\n  for (const ligne of data.lignes || []) {\n    results.push({\n      json: {\n        type_document: data.type_document,\n        numero_bl: data.numero_bl,\n        date_bl: data.date_bl,\n        numero_bc: data.numero_bc,\n        fournisseur_nom: data.fournisseur_nom,\n        base_ht: data.base_ht,\n        tva_montant: data.tva_montant,\n        total_ttc: data.total_ttc,\n\n        // Une seule ligne par item\n        lignes: [ligne]\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4752,-20544],"id":"a85e1d99-dcce-47ba-91fb-1bd774a5e570","name":"Code3"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5472,-20528],"id":"c441bf52-a285-4bfa-b01b-d532885e3a4e","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"aIOzZ8o9jlqBz7Fq","name":"new mistral authorization"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5712,-20544],"id":"60b5fed0-5c3d-40c1-b13f-a43aa248d157","name":"Code6"},{"parameters":{"promptType":"define","text":"=Tu es un expert en gestion de stocks industriels et en reconnaissance sémantique de désignations techniques.\n\nTu reçois UNE LISTE D'ARTICLES issus d'un scan OCR qui n'ont PAS pu être associés automatiquement à des lignes ERP.\nPour CHAQUE article, tu dois trouver LA ligne ERP la plus probable parmi ses candidats.\n\nRÈGLES ABSOLUES DE SORTIE :\nLa réponse doit commencer par [ et se terminer par ]\nNe retourne AUCUN texte avant ou après le JSON\nN'utilise PAS de Markdown ni backticks\nNe retourne qu'UN SEUL tableau JSON contenant UN objet par article\nLa sortie doit être directement exploitable par JSON.parse()\nLe tableau doit contenir EXACTEMENT {{ $json.nb_articles }} objets dans le même ordre que les articles fournis\n\n⚠️ CONTEXTE MÉTIER FONDAMENTAL — À LIRE EN PREMIER :\nCe système crée des bons de réception à partir de bons de livraison fournisseur.\nLe bon de commande ERP sert de référence pour identifier les articles commandés.\nUn fournisseur peut livrer une commande EN PLUSIEURS FOIS (réceptions partielles).\nConséquence directe :\n  - quantite_ocr (BL reçu) peut être INFÉRIEURE à quantite_erp (BC total) → NORMAL\n  - montant_ht_ocr (BL reçu) peut être INFÉRIEUR à montant_ht_erp (BC total) → NORMAL\n  - Ces cas NE SONT PAS des incohérences et NE DOIVENT PAS pénaliser le matching\n  - Seul un OCR SUPÉRIEUR à l'ERP (hors tolérance 10%) est une vraie anomalie\n\n═══════════════════════════════════════\nARTICLES OCR À IDENTIFIER\n═══════════════════════════════════════\n{{ $json.articles_readable }}\n\n═══════════════════════════════════════\nMISSION — TRAITER CHAQUE ARTICLE SÉPARÉMENT\n═══════════════════════════════════════\n\nPour CHAQUE article de la liste, effectue les étapes suivantes de manière INDÉPENDANTE :\n\nÉTAPE 1 — DÉCOMPOSE la désignation OCR mot par mot :\n  Pour chaque mot, identifie :\n  - Sa catégorie : TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\n  - Son sens technique dans le domaine industriel/mécanique\n\nÉTAPE 2 — ANALYSE chaque ligne ERP candidate de CET article :\n  Pour chaque candidat, évalue :\n\n  A) Famille de produit (40 pts)\n     Les deux désignations décrivent-elles le même type d'article ?\n     Ex: \"Equerre\" ≈ \"AILE 90°\" (équerre = pièce à angle droit = aile 90°)\n     Ex: \"Chaine\" ≈ \"CHAINE\" (même famille)\n     Ex: \"Attache\" ≈ \"ATTACHE POUR\" (même famille)\n\n  B) Caractéristiques techniques (30 pts)\n     Y a-t-il des normes, dimensions ou références communes ou compatibles ?\n     Ex: \"08B1\" est une norme de chaîne → compatible avec \"CHAINE 1/2\"\"\n     Ex: \"16B2\" est une norme double rang → différent de \"08B1\" simple rang\n\n  C) Cohérence contextuelle (20 pts)\n     Dans le contexte de ce bon de commande, cette association est-elle logique ?\n     Les autres articles du BC suggèrent-ils un univers produit cohérent ?\n\n  D) Contradictions bloquantes (−30 pts si présentes)\n     Y a-t-il des éléments qui rendent la correspondance impossible ?\n     Ex: dimensions incompatibles, familles de produits opposées\n\nÉTAPE 3 — RÈGLE DE DÉCISION PAR ARTICLE :\n  - score_semantique ≥ 50 pts → match_confirme = true\n  - score_semantique < 50 pts → match_confirme = false\n  - Si aucune ligne ne dépasse 50 pts → choisir la meilleure et signaler l'incertitude\n\nRÈGLES IMPORTANTES :\n- Les apostrophes et accents manquants dans l'OCR sont normaux → ne pas pénaliser\n- Une désignation OCR courte peut être une version abrégée de la désignation ERP\n- Les normes techniques (08B1, 16B2, 1/2\", etc.) sont des indices forts\n- \"Equerre\" et \"AILE 90°\" désignent la même géométrie en langage industriel\n- Une quantité ou montant OCR inférieur à l'ERP est NORMAL (réception partielle)\n- Une quantité ou montant différent n'est PAS un motif de rejet à cette étape\n\n⚠️ IMPORTANT — UTILISER UNIQUEMENT LES DONNÉES FOURNIES :\nPour chaque article, le champ numero_bl, numero_bc et code_article_erp\ndoivent être repris EXACTEMENT depuis les données de l'article traité.\nNe pas inventer de valeurs. Ne pas mélanger les données entre articles.\n\n═══════════════════════════════════════\nFORMAT JSON STRICT — NE RETOURNER QUE CECI\n═══════════════════════════════════════\n\nUn tableau avec UN objet par article, dans le même ordre que l'input :\n\n[\n  {\n    \"bl\": {\n      \"numero_bl\": \"<reprendre numero_bl de l'article>\",\n      \"date_bc\": \"<reprendre date_bc de l'article>\",\n      \"numero_bc\": \"<reprendre numero_bc de l'article>\"\n    },\n      \"code_fournisseur\":\"<reprendre code_fournisseur de l'article>\",\n      \"quantite_ocr\":\"<reprendre quantite_ocr de l'article>\",\n      \"marque\": \"<reprendre marque de l'article>\",\n    \"matching\": {\n      \"designation_ocr\": \"<reprendre designation_ocr de l'article>\",\n      \"designation_erp\": \"<designation de la ligne ERP choisie>\",\n      \"code_article_erp\": \"<code_article de la ligne ERP choisie>\",\n      \"analyse_semantique\": {\n        \"decomposition_ocr\": [\n          {\n            \"mot\": \"\",\n            \"categorie\": \"TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\",\n            \"interpretation\": \"\"\n          }\n        ],\n        \"evaluation_candidates\": [\n          {\n            \"code_article\": \"\",\n            \"designation\": \"\",\n            \"score_semantique\": 0,\n            \"detail\": {\n              \"A_famille_produit\":        {\"points\": 0, \"max\": 40, \"justification\": \"\"},\n              \"B_caracteristiques_tech\":  {\"points\": 0, \"max\": 30, \"justification\": \"\"},\n              \"C_coherence_contextuelle\": {\"points\": 0, \"max\": 20, \"justification\": \"\"},\n              \"D_contradictions\":         {\"points\": 0, \"max\": 0,  \"justification\": \"\"}\n            }\n          }\n        ],\n        \"meilleur_candidat\": \"\",\n        \"justification_choix\": \"\"\n      },\n      \"match_confirme\": true,\n      \"niveau_confiance\": \"ELEVE | MOYEN | FAIBLE\",\n      \"alerte\": \"\",\n      \"justification_globale\": \"\"\n    }\n  }\n]","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction et de verification les designation des articles declarer  de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et aussi les donnes recuperer depuis sql.\ndonc il faut les verifier "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1840,-20160],"id":"24a6695c-721b-443c-86e2-65be40e928e9","name":"Basic LLM Chain"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4dbfb1f-7d88-4212-bcf2-5a43b24b8204","leftValue":"={{ $json.statut }}","rightValue":"non_matched","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3360,-20400],"id":"4c95a1d3-19ad-4743-8287-24629075497b","name":"If"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1632,-20704],"id":"42638465-53aa-48fb-b4ae-c873ece0b689","name":"Insert rows in a table7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2096,-20688],"id":"20bc3c19-ddec-4dc3-bfd8-3a53e7aa39ec","name":"Execute a SQL query7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,-20688],"id":"a17e4141-23f7-4ce0-9530-3b46a3ce979a","name":"If12"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.input.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.details_x3.ITMDES_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.details_x3.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.details_x3.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.details_x3.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.input.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.details_x3.XMARQ_0 }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.input.POHNUM_0 }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.input.reference_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.input.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"={{ $json.score }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2352,-20688],"id":"138aecf9-1609-469c-ba0f-23a45041efe2","name":"Edit Fields"},{"parameters":{"fileSelector":"={{ $json.formatted_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-5952,-20544],"id":"eb017f79-4407-4aa4-9306-ea27a062d470","name":"Read/Write Files from Disk1"},{"parameters":{"jsCode":"const items = $input.all();\n\n// ── Séparer les cas résolus des cas à re-traiter ──────────────\nconst resolved  = items.filter(i => i.json._match_confirme === true);\nconst unmatched = items.filter(i => i.json._match_confirme === false);\n\nif (unmatched.length === 0) return resolved;\n\n// ── Pour chaque cas non résolu, construire le contexte complet ─\n// On regroupe toutes les lignes ERP du même BC pour les donner à Claude\nconst bcGroups = {};\nfor (const item of items) {\n  const bc = item.json.POHNUM_0;\n  if (!bcGroups[bc]) bcGroups[bc] = [];\n  // Éviter les doublons de lignes ERP (même ITMREF_0)\n  const alreadyIn = bcGroups[bc].some(r => r.ITMREF_0 === item.json.ITMREF_0);\n  if (!alreadyIn) bcGroups[bc].push(item.json);\n}\n\n// ── Construire un item par cas non résolu avec toutes les lignes ERP dispo ─\nconst toProcess = unmatched.map(item => {\n  const bc       = item.json.POHNUM_0;\n  const erpLines = bcGroups[bc] || [];\n\n  return {\n    json: {\n      // Données OCR du cas non résolu\n      designation_ocr:  item.json.designation_ocr,\n      montant_ht_ocr:   item.json.montant_ht_ocr,\n      quantite_ocr:     item.json.quantite_ocr,\n      numero_bl:        item.json.numero_bl,\n      date_bc:          item.json.ORDDAT_0,\n      code_fournisseur: item.json.BPSNUM_0,\n      marque:           item.json.marque,\n      numero_bc:        item.json.numero_bc,\n\n      // Score initial (pour contexte dans le prompt)\n      _score_initial:   item.json._score_designation,\n      _alerte_initiale: item.json._alerte,\n\n      // Toutes les lignes ERP disponibles pour ce BC (pour le prompt Claude)\n      erp_candidates: JSON.stringify(\n        erpLines.map(r => ({\n          code_article: r.ITMREF_0,\n          designation:  r.ITMDES1_0,\n          quantite:     r.Quantite,\n          montant_ht:   r.montant_ht\n        }))\n      )\n    }\n  };\n});\n\nreturn toProcess;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2528,-20160],"id":"73c16375-9b7d-4d00-a27f-fef399a00286","name":"Code4"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.text || item.json.output || item.json.content || '';\n\n  let parsed = null;\n\n  // ── Tentative 1 : extraire tableau JSON depuis ```json ... ``` ──\n  const fenceMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (fenceMatch) {\n    try { parsed = JSON.parse(fenceMatch[1]); } catch (e) { parsed = null; }\n  }\n\n  // ── Tentative 2 : extraire tableau brut [ ... ] ──────────────\n  if (!parsed) {\n    const bracketMatch = text.match(/\\[[\\s\\S]*\\]/);\n    if (bracketMatch) {\n      try { parsed = JSON.parse(bracketMatch[0]); } catch (e) { parsed = null; }\n    }\n  }\n\n  // ── Échec total ───────────────────────────────────────────────\n  if (!parsed || !Array.isArray(parsed)) {\n    results.push({\n      json: {\n        _parse_error:   true,\n        _raw_text:      text,\n        _alerte:        'Impossible de parser la réponse LLM',\n        match_confirme: false\n      }\n    });\n    continue;\n  }\n\n  // ── Aplatir chaque objet du tableau ──────────────────────────\n  for (const entry of parsed) {\n    const bl       = entry.bl       || {};\n    const matching = entry.matching || {};\n\n    results.push({\n      json: {\n        // BL\n        numero_bl:                bl.numero_bl   || '',\n        date_bc:                  bl.date_bc     || '',\n        numero_bc:                bl.numero_bc   || '',\n        code_fournisseur:         entry.code_fournisseur || '',\n        quantite_ocr:             entry.quantite_ocr || '',\n        marque:                   entry.marque || '',\n\n        // Matching principal\n        designation_ocr:          matching.designation_ocr  || '',\n        designation_erp:          matching.designation_erp  || '',\n        code_article_erp:         matching.code_article_erp || '',\n\n        // Résultat final\n        match_confirme:           matching.match_confirme   ?? false,\n        niveau_confiance:         matching.niveau_confiance || '',\n        alerte:                   matching.alerte           || '',\n        justification_globale:    matching.justification_globale || '',\n\n        // Analyse sémantique\n        semantique_candidat:      matching.analyse_semantique?.meilleur_candidat     || '',\n        semantique_score:         matching.analyse_semantique?.evaluation_candidates?.[0]?.score_semantique ?? null,\n        semantique_justification: matching.analyse_semantique?.justification_choix   || '',\n        semantique_decomposition: matching.analyse_semantique?.decomposition_ocr     || [],\n\n        // JSON complet pour audit\n        _raw_json: entry\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-20160],"id":"4d4210e9-cb93-4aa6-93ae-8e2cf5a98b65","name":"Code12"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2288,-20160],"id":"a1b82570-9bf2-4a90-a030-1455c5e840bf","name":"Aggregate"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields5').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields5').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields5').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields5').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields5').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields5').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields5').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields5').item.json.date_import }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-384,-20144],"id":"72bee4d8-3d03-4cf5-bc0a-d5e08ed0130f","name":"Insert rows in a table8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-848,-20176],"id":"a2df78d3-18af-4f93-b351-08a6aff01fd0","name":"Execute a SQL query8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-624,-20160],"id":"69f97798-5330-434c-a7bc-52d1ed564bca","name":"If13"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.designation_erp }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.code_article_erp }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.date_bc }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,-20176],"id":"e0b950f0-b49f-421b-a622-d96b3860d1d7","name":"Edit Fields5"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Récupérer le tableau data du premier item\nconst dataArray = items[0].json.data || [];\n\n// Construire le prompt avec les vraies données sérialisées\nconst articlesJson = JSON.stringify(dataArray, null, 2);\nconst nbArticles   = dataArray.length;\n\n// Construire un résumé lisible article par article pour le prompt\nconst articlesReadable = dataArray.map((article, index) => {\n  const candidates = JSON.parse(article.erp_candidates || '[]');\n  const candidatesReadable = candidates.map(c =>\n    `      · [${c.code_article}] ${c.designation} | Qté: ${c.quantite} | Montant HT: ${c.montant_ht}`\n  ).join('\\n');\n\n  return `ARTICLE ${index + 1} :\n  - designation_ocr   : ${article.designation_ocr}\n  - montant_ht_ocr    : ${article.montant_ht_ocr}\n  - quantite_ocr      : ${article.quantite_ocr}\n  - numero_bl         : ${article.numero_bl}\n  - date_bc           : ${article.date_bc}\n  - marque            : ${article.marque}\n  - code_fournisseur  : ${article.code_fournisseur}\n  - numero_bc         : ${article.numero_bc}\n  - score_initial     : ${article._score_initial}%\n  - alerte_initiale   : ${article._alerte_initiale}\n  - erp_candidates    :\n${candidatesReadable}`;\n}).join('\\n\\n' + '─'.repeat(50) + '\\n\\n');\n\nreturn [{\n  json: {\n    nb_articles:      nbArticles,\n    articles_readable: articlesReadable,\n    articles_json:    articlesJson,\n    // Conserver les données originales pour le parsing après LLM\n    original_data:    dataArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,-20160],"id":"0deb05ac-84cc-4654-a0fb-da8592ad4d08","name":"Code13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1445ed2b-d28c-43b0-a995-4b442d427127","leftValue":"={{ $json.match_confirme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1312,-20160],"id":"9bd539a9-c261-4e83-afbb-a41461bfbcd8","name":"If14"},{"parameters":{"command":"=C:\\split_pdf\\script.bat \"{{ $json.body.pdf_path }}\" \"{{ $json.body.output_dir }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-6928,-20560],"id":"c5d7d643-b165-419b-b75d-fd53ee7370cc","name":"Execute Command2"},{"parameters":{"httpMethod":"POST","path":"bon_livraison","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7152,-20560],"id":"1d7e137f-1b67-4240-8cfc-b22b28366491","name":"Webhook1","webhookId":"7019a2ec-4891-4210-b039-3de304471936"},{"parameters":{"jsCode":"const output = items[0].json.stdout;\nconst result = JSON.parse(output);\n\n// Retourner chaque fichier comme un item séparé avec le chemin complet formaté\nreturn result.files.map(file => ({\n  json: {\n    page_number: file.page_number,\n    file_name: file.file_name,\n    file_path: file.file_path,\n    // Nouveau champ avec le chemin formaté pour n8n\n    formatted_path: `C:/hicham/data/document_pages/${file.file_name}`,\n    total_pages: result.total_pages\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6704,-20560],"id":"c84738f8-69b0-4a2d-881e-e8026bb7169b","name":"Code14"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6464,-20560],"id":"27cb7356-4896-428d-b7b7-77b58633043f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-6176,-20816],"id":"dcb454fb-6a8e-4a90-924e-21473c50804c"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4800,-20352],"id":"9b72e6ae-fabd-47df-8d9e-d8fd0aea452a","name":"Wait5","webhookId":"84c2a8f1-3ab5-42c3-96b6-ee8e347fdd40"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1456,-20672],"id":"67de9913-20af-4a0a-97ab-1cfefd26839d","name":"Insert rows in a table9","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1824,-19904],"id":"15a4d3d7-636e-4a93-aabf-0b1a7d02c302","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-6192,-20544],"id":"a04efc21-8c57-4f0c-9aa5-757335e08b01","name":"Wait6","webhookId":"8337bc5d-2b18-4777-8741-b58d53cf2356"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  console.log(\"ORDDAT_0 =\", item.json.ORDDAT_0);\n  console.log(\"TOUTES LES CLÉS =\", Object.keys(item.json));\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3856,-20688],"id":"8c448ebb-9120-4292-b7a8-e1060ab01c40","name":"Code1"}],"connections":{"Microsoft SQL2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Insert rows in a table6","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Insert rows in a table6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Code3","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]},"🔍 OCR Page":{"main":[[{"node":"Information Extractor","type":"main","index":0}],[{"node":"Wait5","type":"main","index":0}]]},"Code6":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code12","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Code4","type":"main","index":0}]]},"Insert rows in a table7":{"main":[[{"node":"Insert rows in a table9","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"If12","type":"main","index":0}]]},"If12":{"main":[[{"node":"Insert rows in a table7","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code12":{"main":[[{"node":"If14","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Insert rows in a table8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute a SQL query8":{"main":[[{"node":"If13","type":"main","index":0}]]},"If13":{"main":[[{"node":"Insert rows in a table8","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Execute a SQL query8","type":"main","index":0}]]},"Code13":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"If14":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command2":{"main":[[{"node":"Code14","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]},"Code14":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Wait6","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Insert rows in a table9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait6":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; fr-FR) WindowsPowerShell/5.1.17763.6640","content-type":"application/json","host":"192.168.1.211:5678","content-length":"227","connection":"Keep-Alive"},"params":{},"query":{},"body":{"output_dir":"C:\\hicham\\data\\document_pages","file_name":"SKM_301i26061013460.pdf","pdf_path":"C:\\hicham\\data\\bon_livraison\\SKM_301i26061013460.pdf","detected_at":"2026-06-10 14:45:07"},"webhookUrl":"192.168.1.211:5678/webhook/bon_livraison","executionMode":"production"}}]},"versionId":"ac7cc718-b46e-4761-bc95-5a78b11b9b9d","triggerCount":1,"tags":[]}