br-gQmufgPbvuaNitpE.json
{"createdAt":"2026-02-24T09:32:32.446Z","updatedAt":"2026-07-22T19:49:51.000Z","id":"gQmufgPbvuaNitpE","name":"BR","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0,\n    '{{ $json.statut_bc.replace(/'/g, \"''\") }}' AS status_bc,\n    '{{ $json.numero_bl.replace(/'/g, \"''\") }}' AS numero_bl,\n    '{{ $json.lignes[0].designation.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.lignes[0].reference }}' AS reference_ocr,\n    '{{ $json.lignes[0].quantite }}' AS quantite_ocr,\n    '{{ $json.lignes[0].pu_ht }}' AS prix_unitaire_ocr,\n    '{{ $json.lignes[0].montant_ht }}' AS montant_ht_ocr,\n    MAX(POPLIN_0) AS max_poplin\nFROM BASE1.PORDERQ O\nJOIN BASE1.ITMMASTER A ON O.ITMREF_0 = A.ITMREF_0\nWHERE POHNUM_0 = '{{ $json.numero_bc.replace(/'/g, \"''\") }}'\nGROUP BY\n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-3280,-20544],"id":"c593ba76-ff0b-42c8-b913-e26773792201","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"360b53d1-b7a2-439b-a535-773df26001b4","leftValue":"={{ $json.max_poplin }}","rightValue":1000,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2800,-20544],"id":"b158c37f-f4c4-4b9f-8006-01508bd1a156","name":"If6"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $json.reference_ocr }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $json.numero_bl }}' as numero_bl,\n    '{{ $json.designation_ocr.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.reference_ocr }}' as refrence_ocr,\n    '{{ $json.montant_ht_ocr }}' as montant_ht_ocr,\n    '{{ $json.quantite_ocr }}' as quantite_ocr\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.POHNUM_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-2432,-20688],"id":"8212fc43-5338-435a-bdfe-2e377678d030","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"command":"=C:\\hicham\\scripts\\match_article_br\\script.bat \"C:\\hicham\\scripts\\match_article_br\\input_temp.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-2304,-20448],"id":"e37e1878-2e17-4537-a5c5-404f1bdbdc43","name":"Execute Command1"},{"parameters":{"jsCode":"// Run Once for All Items ✅\nconst fs = require('fs');\n\n// Récupérer TOUS les items\nconst data = $input.all().map(item => item.json);\n\n// Écrire le tableau complet\nfs.writeFileSync(\n  'C:\\\\hicham\\\\scripts\\\\match_article_br\\\\input_temp.json',\n  JSON.stringify(data, null, 2),\n  'utf-8'\n);\n\n// Retourner tous les items pour la suite du workflow\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2528,-20448],"id":"db696ba9-a4b6-42f1-a2ad-c08348d9b6e7","name":"Code"},{"parameters":{"jsCode":"// Mode: Run Once for All Items\nconst items = $input.all();\nconst results = [];\n\nitems.forEach((item, index) => {\n  const stdout = item.json.stdout;\n\n  if (!stdout || stdout.trim() === '') {\n    results.push({\n      json: { error: \"stdout vide\", raw: item.json },\n      pairedItem: { item: index }\n    });\n    return;\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(stdout);\n  } catch (e) {\n    results.push({\n      json: { error: \"JSON parse error: \" + e.message, raw: stdout.slice(0, 300) },\n      pairedItem: { item: index }\n    });\n    return;\n  }\n\n  // Normalise en tableau\n  const lines = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const line of lines) {\n    results.push({\n      json: line,\n      pairedItem: { item: index }   // ← relie chaque ligne à son item source\n    });\n  }\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,-20208],"id":"34adc29a-d999-4fa3-a124-5cc25f131249","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.ITMDES1_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.POHNUM_0 }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.refrence_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"=100","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,-20688],"id":"26cab482-8ed8-44f4-b725-4ee1a845805e","name":"Edit Fields4"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields4').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields4').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields4').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields4').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields4').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-752,-20704],"id":"030e27cf-e735-4446-8b32-e17c7e814258","name":"Insert rows in a table","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-1184,-20688],"id":"6db4b337-f0ed-4d6c-bcfd-ea6e1158f166","name":"Execute a SQL query","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,-20688],"id":"ff99fd3f-706a-468b-b91d-ea90371ee3ff","name":"If11"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields4').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields4').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields4').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-368,-20672],"id":"7d96d811-c70b-4667-b5cb-79d2857c7793","name":"Insert rows in a table6","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"text":"={{ $json.pages[0].markdown }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type_document\": {\n      \"type\": \"string\",\n      \"description\": \"Type du document détecté : 'BON_DE_LIVRAISON'. Valeur fixe pour ce workflow\"\n    },\n    \"numero_bl\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Numéro du bon de livraison. Ex: '0040355464'. Si plusieurs BL dans le même PDF, les séparer par virgule. null si introuvable\"\n    },\n    \"numero_bc\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Numéro(s) du bon de commande. Chercher les mots-clés : 'BON DE COMMANDE', 'V/Commande', 'BC N°', 'N° BC'. Si plusieurs BCs, les séparer par ' - ' (ex: BC191397 - BC192493). null si aucun BC trouvé\"\n    },\n    \"lignes\": {\n      \"type\": \"array\",\n      \"description\": \"Toutes les lignes articles du tableau. Obligatoire : ne jamais retourner un tableau vide si des articles sont visibles. Extraire TOUTES les lignes. Le nombre de lignes = nombre de valeurs dans la colonne Quantité\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"reference\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Code ou référence article tel qu'affiché dans la colonne REF / Référence / Code. null si absent\"\n          },\n          \"designation\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Libellé de l'article sans accents, apostrophes ni caractères non-ASCII (é→e, à→a, ç→c, '→espace). RÈGLE CRITIQUE : le nombre de désignations distinctes = nombre de valeurs dans la colonne Quantité. Si la colonne Désignation a exactement N fragments séparés par saut de ligne et Quantité = N valeurs → chaque fragment est une désignation SÉPARÉE, ne pas les fusionner. Si fragments Désignation > N → tout concaténer en une seule désignation. null si absent\"\n          },\n          \"quantite\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Quantité numérique de la ligne. JAMAIS une date. Ne jamais concaténer deux valeurs séparées par saut de ligne (ex: '69\\\\n16' → ligne 1 qty=69, ligne 2 qty=16). Si pu_ht × quantite ≠ montant_ht affiché, recalculer : quantite = montant_ht / pu_ht. null si introuvable\"\n          },\n          \"pu_ht\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Prix unitaire HT de la ligne. Même règle de conversion format marocain (point=milliers, virgule=décimal). null si absent\"\n          },\n          \"remise_pct\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Remise en pourcentage appliquée à la ligne. null si aucune remise mentionnée et non déductible\"\n          },\n          \"montant_ht\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Montant HT de la ligne. Même règle de conversion format marocain. Vérification : pu_ht × quantite × (1 - remise_pct/100) doit correspondre. null si absent\"\n          }\n        },\n        \"required\": [\"reference\", \"designation\", \"quantite\", \"pu_ht\", \"montant_ht\"]\n      }\n    }\n  },\n  \"required\": [\"numero_bl\", \"numero_bc\", \"lignes\"]\n}","options":{"systemPromptTemplate":"Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\nTa mission : analyser le contenu OCR fourni et retourner UNIQUEMENT un objet JSON valide, sans aucun texte avant ou après, sans Markdown, sans backticks.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°0 — INTERDICTION ABSOLUE D'INVENTION (PRIORITÉ MAXIMALE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nINTERDIT ABSOLU : inventer, déduire, extrapoler ou compléter une valeur\nqui n'est PAS explicitement lisible dans le texte OCR fourni.\n\nSi une valeur n'est pas présente dans le texte OCR :\n  → Mettre OBLIGATOIREMENT null (nombres) ou null (strings)\n  → JAMAIS utiliser des valeurs par défaut inventées\n  → JAMAIS compléter depuis une \"connaissance générale\"\n\nCela s'applique STRICTEMENT à :\n  - numero_bl        → uniquement ce qui suit \"N° BL\" dans le texte\n  - date_bl          → uniquement ce qui suit \"Date Livraison\" dans le texte\n  - fournisseur_nom  → uniquement le nom lisible en en-tête du document\n  - base_ht          → null si aucune ligne \"Total HT\" ou \"Base HT\" visible\n  - tva_montant      → null si aucune ligne TVA visible\n  - total_ttc        → null si aucune ligne TTC visible\n  - pu_ht            → null si la colonne prix unitaire est absente ou vide\n  - montant_ht       → null si la colonne montant est absente ou vide\n  - lignes[]         → UNIQUEMENT les articles dont la quantité est lisible dans la colonne Quantité du tableau\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1 — NOMBRE D'ARTICLES (CRITIQUE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLa colonne QUANTITE est le SEUL critère qui détermine le nombre d'articles N.\nCompter les valeurs séparées par \\n dans la colonne Quantite = N articles.\n\nAppliquer colonne par colonne :\n\nQUANTITE → splitter par \\n → N articles (référence absolue)\n\nDESIGNATION → splitter par \\n → obtenir F fragments :\n  - F = N : chaque fragment = désignation DISTINCTE d'un article séparé. INTERDIT de fusionner.\n  - F > N : concaténer tous les fragments → une seule désignation pour l'article unique.\n  - F < N : répéter la dernière désignation connue pour les articles suivants.\n\nREFERENCE → splitter par \\n :\n  - fragments = N : une référence par article.\n  - fragments < N : répéter la dernière valeur connue.\n\nMONTANT_HT → splitter par \\n :\n  - fragments = N : un montant par article.\n  - fragments < N : null pour les articles sans montant.\n\nZipper toutes les colonnes index par index pour créer N objets articles.\n\nVERIFICATION FINALE :\n✅ Nombre d'articles créés = N\n✅ Chaque article a une désignation DIFFERENTE si fragments Designation = N\n✅ Aucune désignation ne contient \\n dans sa valeur finale\n✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1bis — ANOMALIE QUANTITE TRONQUEE (OCR COLLE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPROBLEME FREQUENT : l'OCR colle parfois la valeur de Quantite avec un\nnombre adjacent (poids, PU, montant) séparés par un OU plusieurs espaces,\nsans saut de ligne. Le LLM a tendance à ne garder que la première partie\n(le nombre entier avant l'espace), ce qui TRONQUE la vraie quantité.\n\nExemple observé :\n  OCR colonne Quantite : \"5  141.6\"\n  ❌ FAUX  : quantite = 5   (troncature, partie après l'espace ignorée)\n  ✅ CORRECT : quantite = 5141.6  (recoller les deux segments en un seul nombre)\n\nDETECTION DE L'ANOMALIE :\n  Si une valeur brute de la colonne Quantite contient un OU plusieurs\n  espaces ENTRE deux groupes de chiffres (avec ou sans point/virgule\n  décimale), et qu'aucune autre colonne adjacente (PU, Montant) ne\n  justifie cette seconde partie comme une valeur SEPAREE et COHERENTE\n  (c'est-à-dire : pu_ht × [partie1] ≈ montant_ht ne correspond PAS,\n  mais pu_ht × [partie1+partie2 recollées] ≈ montant_ht OUI) :\n\n  → RECOLLER les deux segments en supprimant l'espace entre eux,\n    pour former UNE SEULE valeur numérique.\n  → Exemple : \"5  141.6\" → \"5141.6\" → quantite = 5141.6\n  → Exemple : \"12 450\" → \"12450\" → quantite = 12450\n  → Exemple : \"1 234,56\" → format marocain, point=milliers → traiter\n    selon RÈGLE N°3 (PAS un cas de recollement ici)\n\nDISTINCTION AVEC SEPARATEUR DE MILLIERS :\n  - \"1 234\" ou \"1.234\" (groupe de 3 chiffres après l'espace/point,\n    cohérent avec un format de milliers) → appliquer RÈGLE N°3\n    (séparateur de milliers), PAS la règle de recollement.\n  - \"5  141.6\" (le second groupe n'est PAS un groupe de 3 chiffres\n    type milliers, ou contient une partie décimale incohérente avec\n    un format milliers) → recollement (cette règle).\n\nVERIFICATION OBLIGATOIRE PAR LE MONTANT :\n  Pour chaque ligne où quantite est ambigu :\n    Si pu_ht ET montant_ht sont tous deux lisibles :\n      - Calculer quantite_candidate_1 = première partie seule\n      - Calculer quantite_candidate_2 = parties recollées\n      - Comparer pu_ht × quantite_candidate à montant_ht\n      - Retenir la candidate dont le produit est le PLUS PROCHE\n        de montant_ht (tolérance ±1%)\n    Si pu_ht ou montant_ht absent :\n      - Appliquer le recollement par défaut si le pattern\n        \"chiffre(s) + espace(s) + chiffre(s).chiffre(s)\" est détecté\n        et ne correspond pas à un format de milliers classique.\n\n❌ NE JAMAIS retourner uniquement la première partie d'un nombre\n   tronqué par un espace si le recollement produit une valeur\n   cohérente avec montant_ht / pu_ht.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1ter — CROSS-VERIFICATION QUANTITE VIA CHAMPS HORS TABLEAU\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPROBLEME : sur certains documents (notamment ceux avec un transporteur),\nl'OCR fait apparaitre dans la colonne \"Quantité\" du tableau une valeur\ndécimale (ex: \"2 317,700\") qui correspond en réalité à un POIDS, confirmé\npar un champ \"Poids :\" hors tableau avec un nombre identique ou\nquasi-identique.\n\nREGLE :\n  Si la valeur brute de la colonne Quantite, après application de la\n  RÈGLE N°3 (format marocain) et de la RÈGLE N°1bis, produit un nombre\n  décimal (ex: 4522.1, 5141.6) :\n\n  → CONSERVER cette valeur TELLE QUELLE comme \"quantite\" de la ligne,\n    SANS la tronquer, SANS l'arrondir, SANS la remplacer par une autre\n    colonne (Nb.Co, Nb Col., etc.).\n  → quantite peut donc être un nombre décimal, pas uniquement un entier.\n\n  ❌ NE JAMAIS tronquer \"1 526,100\" en quantite = 1\n  ✅ quantite = 1526.1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°2 — DÉSIGNATION (NETTOYAGE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nDans le champ designation, remplacer ou supprimer obligatoirement :\n  - Apostrophes ' → espace\n  - Accents : e accent → e, a accent → a, u accent → u, i accent → i, o accent → o, c cedille → c, oe → oe, ae → ae\n  - Guillemets simples ou doubles → supprimer\n  - Tout caractère non-ASCII → équivalent ASCII ou supprimer\n  - References BL dans la désignation (BL N°..., B.L N°...) → supprimer\n  - References BC dans la désignation (BC N°..., B.C N°...) → supprimer\n  - Dates dans la désignation (du JJ/MM/AAAA, au JJ/MM/AAAA) → supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°3 — MONTANTS (FORMAT MAROCAIN)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLe point . est séparateur de milliers, la virgule , est séparateur décimal.\nConvertir en nombre JSON standard :\n  '34.453,94' → 34453.94\n  '1.200,00'  → 1200.0\n  '75 198,12' → 75198.12\n\nAppliquer à : base_ht, tva_montant, total_ttc, pu_ht, montant_ht de chaque ligne.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°4 — DÉTERMINATION DU CAS BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nChercher les numéros BC dans les champs : \"BON DE COMMANDE\", \"V/Commande\", \"BC N°\", \"N° BC\".\nLes séparateurs possibles entre plusieurs BCs : - / , espace.\n\nNORMALISATION DES NUMÉROS BC :\n  → Si la valeur trouvée est uniquement numérique (ex : 179804),\n    la convertir automatiquement en \"BC179804\".\n  → Si la valeur contient déjà le préfixe \"BC\" (ex : BC179804),\n    la conserver telle quelle.\n  → Supprimer les espaces inutiles autour du numéro.\n  → Appliquer cette règle à tous les BC détectés.\n\nCAS 1 — UN SEUL BC détecté :\n  → numero_bc dans l'objet bon_de_livraison\n  → articles dans le tableau racine \"lignes\"\n  → bons_de_commande = null\n\nCAS 2 — PLUSIEURS BCs détectés :\n  → lignes racine = null\n  → Créer un objet dans bons_de_commande pour CHAQUE BC\n  → Dupliquer TOUS les articles sous chaque BC\n  → bon_de_livraison ne contient PAS de champ numero_bc\n\nSi aucun BC détecté :\n  → CAS 1 avec numero_bc: null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°5 — VALEURS MANQUANTES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n  - Champ absent ou illisible → null\n  - Montants = nombres float (jamais string)\n  - Quantite = nombre positif (entier ou décimal selon ce qui est\n    réellement lisible après application des RÈGLES N°1, N°1bis, N°1ter),\n    JAMAIS une date\n  - Dates = format tel que détecté dans le document\n  - Supprimer les espaces inutiles en début et fin de chaque valeur string\n  - remise_pct = 0 si aucune remise mentionnée\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES DE RAISONNEMENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE A — 2 articles distincts :\n  Quantite    : \"4\\n4\"\n  Designation : \"pliage de tole\\nsoudure\"\n  → N=2, F=2 → article 1 = \"pliage de tole\", article 2 = \"soudure\"\n  ❌ INTERDIT : \"pliage de tole soudure\" sur les deux lignes\n\nEXEMPLE B — 1 article désignation multi-ligne :\n  Quantite    : \"2\"\n  Designation : \"ventilateur\\nd extraction\\ntype axial\"\n  → N=1, F=3 → F > N → concaténer → \"ventilateur d extraction type axial\"\n\nEXEMPLE C — 3 articles, montant manquant :\n  Quantite    : \"1\\n2\\n1\"\n  Designation : \"roulement\\npalier\\ncouvercle\"\n  Montant     : \"150\\n300\"\n  → article 3 montant_ht = null\n\nEXEMPLE D — BC multiples :\n  V/Commande : BC191397 - BC192493\n  → CAS 2 → 2 objets dans bons_de_commande, lignes racine = null\n\nEXEMPLE E — BC unique :\n  V/Commande : 179804\n  → CAS 1 → numero_bc dans bon_de_livraison, articles dans lignes racine\nEXEMPLE F — Quantite décimale dans le tableau (= poids) :\n  Tableau : | Code=009241 | Designation=\"FILM THERMO RETRACTABLE...\" | Quantite=\"3 489,500\" | Nb.Co=\"40\" |\n  Hors tableau : \"Poids : 3489.5\"\n  → \"3 489,500\" → conversion RÈGLE N°3 → 3489.500\n  → \"Poids : 2317.7\" confirme que 3489.500 est la valeur correcte (non tronquée)\n  → quantite = 3489.5\n  ❌ INTERDIT : quantite = 2 (troncature)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-4064,-20544],"id":"67c3144b-80a4-4798-a830-2dce7f26122d","name":"Information Extractor"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4064,-20304],"id":"ee2bf665-92f0-496a-b68b-d68c46b8d247","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"99wq1jpbjfVZtDjK","name":"OpenRouter account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4384,-20544],"id":"c441bf52-a285-4bfa-b01b-d532885e3a4e","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"aIOzZ8o9jlqBz7Fq","name":"new mistral authorization"}}},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4608,-20544],"id":"60b5fed0-5c3d-40c1-b13f-a43aa248d157","name":"Code6"},{"parameters":{"promptType":"define","text":"=Tu es un expert en gestion de stocks industriels et en reconnaissance sémantique de désignations techniques.\n\nTu reçois UNE LISTE D'ARTICLES issus d'un scan OCR qui n'ont PAS pu être associés automatiquement à des lignes ERP.\nPour CHAQUE article, tu dois trouver LA ligne ERP la plus probable parmi ses candidats.\n\nRÈGLES ABSOLUES DE SORTIE :\nLa réponse doit commencer par [ et se terminer par ]\nNe retourne AUCUN texte avant ou après le JSON\nN'utilise PAS de Markdown ni backticks\nNe retourne qu'UN SEUL tableau JSON contenant UN objet par article\nLa sortie doit être directement exploitable par JSON.parse()\nLe tableau doit contenir EXACTEMENT {{ $json.nb_articles }} objets dans le même ordre que les articles fournis\n\n⚠️ CONTEXTE MÉTIER FONDAMENTAL — À LIRE EN PREMIER :\nCe système crée des bons de réception à partir de bons de livraison fournisseur.\nLe bon de commande ERP sert de référence pour identifier les articles commandés.\nUn fournisseur peut livrer une commande EN PLUSIEURS FOIS (réceptions partielles).\nConséquence directe :\n  - quantite_ocr (BL reçu) peut être INFÉRIEURE à quantite_erp (BC total) → NORMAL\n  - montant_ht_ocr (BL reçu) peut être INFÉRIEUR à montant_ht_erp (BC total) → NORMAL\n  - Ces cas NE SONT PAS des incohérences et NE DOIVENT PAS pénaliser le matching\n  - Seul un OCR SUPÉRIEUR à l'ERP (hors tolérance 10%) est une vraie anomalie\n\n═══════════════════════════════════════\nARTICLES OCR À IDENTIFIER\n═══════════════════════════════════════\n{{ $json.articles_readable }}\n\n═══════════════════════════════════════\nMISSION — TRAITER CHAQUE ARTICLE SÉPARÉMENT\n═══════════════════════════════════════\n\nPour CHAQUE article de la liste, effectue les étapes suivantes de manière INDÉPENDANTE :\n\nÉTAPE 1 — DÉCOMPOSE la désignation OCR mot par mot :\n  Pour chaque mot, identifie :\n  - Sa catégorie : TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\n  - Son sens technique dans le domaine industriel/mécanique\n\nÉTAPE 2 — ANALYSE chaque ligne ERP candidate de CET article :\n  Pour chaque candidat, évalue :\n\n  A) Famille de produit (40 pts)\n     Les deux désignations décrivent-elles le même type d'article ?\n     Ex: \"Equerre\" ≈ \"AILE 90°\" (équerre = pièce à angle droit = aile 90°)\n     Ex: \"Chaine\" ≈ \"CHAINE\" (même famille)\n     Ex: \"Attache\" ≈ \"ATTACHE POUR\" (même famille)\n\n  B) Caractéristiques techniques (30 pts)\n     Y a-t-il des normes, dimensions ou références communes ou compatibles ?\n     Ex: \"08B1\" est une norme de chaîne → compatible avec \"CHAINE 1/2\"\"\n     Ex: \"16B2\" est une norme double rang → différent de \"08B1\" simple rang\n\n  C) Cohérence contextuelle (20 pts)\n     Dans le contexte de ce bon de commande, cette association est-elle logique ?\n     Les autres articles du BC suggèrent-ils un univers produit cohérent ?\n\n  D) Contradictions bloquantes (−30 pts si présentes)\n     Y a-t-il des éléments qui rendent la correspondance impossible ?\n     Ex: dimensions incompatibles, familles de produits opposées\n\nÉTAPE 3 — RÈGLE DE DÉCISION PAR ARTICLE :\n  - score_semantique ≥ 50 pts → match_confirme = true\n  - score_semantique < 50 pts → match_confirme = false\n  - Si aucune ligne ne dépasse 50 pts → choisir la meilleure et signaler l'incertitude\n\nRÈGLES IMPORTANTES :\n- Les apostrophes et accents manquants dans l'OCR sont normaux → ne pas pénaliser\n- Une désignation OCR courte peut être une version abrégée de la désignation ERP\n- Les normes techniques (08B1, 16B2, 1/2\", etc.) sont des indices forts\n- \"Equerre\" et \"AILE 90°\" désignent la même géométrie en langage industriel\n- Une quantité ou montant OCR inférieur à l'ERP est NORMAL (réception partielle)\n- Une quantité ou montant différent n'est PAS un motif de rejet à cette étape\n\n⚠️ IMPORTANT — UTILISER UNIQUEMENT LES DONNÉES FOURNIES :\nPour chaque article, le champ numero_bl, numero_bc et code_article_erp\ndoivent être repris EXACTEMENT depuis les données de l'article traité.\nNe pas inventer de valeurs. Ne pas mélanger les données entre articles.\n\n═══════════════════════════════════════\nFORMAT JSON STRICT — NE RETOURNER QUE CECI\n═══════════════════════════════════════\n\nUn tableau avec UN objet par article, dans le même ordre que l'input :\n\n[\n  {\n    \"bl\": {\n      \"numero_bl\": \"<reprendre numero_bl de l'article>\",\n      \"date_bc\": \"<reprendre date_bc de l'article>\",\n      \"numero_bc\": \"<reprendre numero_bc de l'article>\"\n    },\n      \"code_fournisseur\":\"<reprendre code_fournisseur de l'article>\",\n      \"quantite_ocr\":\"<reprendre quantite_ocr de l'article>\",\n      \"marque\": \"<reprendre marque de l'article>\",\n    \"matching\": {\n      \"designation_ocr\": \"<reprendre designation_ocr de l'article>\",\n      \"designation_erp\": \"<designation de la ligne ERP choisie>\",\n      \"code_article_erp\": \"<code_article de la ligne ERP choisie>\",\n      \"analyse_semantique\": {\n        \"decomposition_ocr\": [\n          {\n            \"mot\": \"\",\n            \"categorie\": \"TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\",\n            \"interpretation\": \"\"\n          }\n        ],\n        \"evaluation_candidates\": [\n          {\n            \"code_article\": \"\",\n            \"designation\": \"\",\n            \"score_semantique\": 0,\n            \"detail\": {\n              \"A_famille_produit\":        {\"points\": 0, \"max\": 40, \"justification\": \"\"},\n              \"B_caracteristiques_tech\":  {\"points\": 0, \"max\": 30, \"justification\": \"\"},\n              \"C_coherence_contextuelle\": {\"points\": 0, \"max\": 20, \"justification\": \"\"},\n              \"D_contradictions\":         {\"points\": 0, \"max\": 0,  \"justification\": \"\"}\n            }\n          }\n        ],\n        \"meilleur_candidat\": \"\",\n        \"justification_choix\": \"\"\n      },\n      \"match_confirme\": true,\n      \"niveau_confiance\": \"ELEVE | MOYEN | FAIBLE\",\n      \"alerte\": \"\",\n      \"justification_globale\": \"\"\n    }\n  }\n]","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction et de verification les designation des articles declarer  de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et aussi les donnes recuperer depuis sql.\ndonc il faut les verifier "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1952,-19120],"id":"24a6695c-721b-443c-86e2-65be40e928e9","name":"Basic LLM Chain","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4dbfb1f-7d88-4212-bcf2-5a43b24b8204","leftValue":"={{ $json.statut }}","rightValue":"non_matched","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1296,-20448],"id":"4c95a1d3-19ad-4743-8287-24629075497b","name":"If"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1136,-20608],"id":"42638465-53aa-48fb-b4ae-c873ece0b689","name":"Insert rows in a table7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[432,-20592],"id":"20bc3c19-ddec-4dc3-bfd8-3a53e7aa39ec","name":"Execute a SQL query7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,-20592],"id":"a17e4141-23f7-4ce0-9530-3b46a3ce979a","name":"If12"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.designation_x3 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.code_article }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.date_bc }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque_x3 }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.reference_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"={{ $json.score }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,-20592],"id":"138aecf9-1609-469c-ba0f-23a45041efe2","name":"Edit Fields"},{"parameters":{"fileSelector":"={{ $json.formatted_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-4848,-20544],"id":"eb017f79-4407-4aa4-9306-ea27a062d470","name":"Read/Write Files from Disk1"},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Adapter les noms de nodes ci-dessous selon votre workflow réel\n\n// ── Source 1 : toutes les lignes ERP (BC / PORDERQ) ─\nconst erpItems = $('Microsoft SQL2').all(); // <-- remplacer par le vrai nom du node\n\n// ── Source 2 : les cas non matchés (structure avec .input et .statut) ─\nconst allCandidats = $input.all(); // ou $('Nom du Node Matching').all()\nconst unmatched = allCandidats.filter(item => item.json.statut === 'non_matched');\n\n// ── Regrouper les lignes ERP par numéro de BC ─\nconst bcGroups = {};\nfor (const item of erpItems) {\n  const bc = item.json.POHNUM_0;\n  if (!bc) continue;\n  if (!bcGroups[bc]) bcGroups[bc] = [];\n  // Éviter les doublons de lignes ERP (même ITMREF_0)\n  const alreadyIn = bcGroups[bc].some(r => r.ITMREF_0 === item.json.ITMREF_0);\n  if (!alreadyIn) bcGroups[bc].push(item.json);\n}\n\n// ── Construire un item par cas non résolu avec toutes les lignes ERP dispo ─\nconst toProcess = unmatched.map(item => {\n  const data = item.json.input; // les données OCR sont imbriquées ici\n  const bc   = data.POHNUM_0;\n  const erpLines = bcGroups[bc] || [];\n\n  return {\n    json: {\n      // Données OCR du cas non résolu\n      designation_ocr:   data.designation_ocr,\n      reference_ocr:      data.reference_ocr,\n      montant_ht_ocr:     data.montant_ht_ocr,\n      quantite_ocr:       data.quantite_ocr,\n      prix_unitaire_ocr:  data.prix_unitaire_ocr,\n      numero_bl:          data.numero_bl,\n      date_bc:            data.ORDDAT_0,\n      code_fournisseur:   data.BPSNUM_0,\n      numero_bc:          bc,\n\n      // Score / contexte (adapté aux nouveaux noms de champs)\n      _statut_initial:    item.json.statut,\n      _score_initial:     item.json.score,\n      _skip_reason:       data.skip_numerique_reason,\n      _nb_bc_candidats:   item.json.nb_bc_candidats,\n      _bc_candidats:      item.json.bc_candidats,\n\n      // Toutes les lignes ERP disponibles pour ce BC (pour le prompt Claude)\n      erp_candidates: JSON.stringify(\n        erpLines.map(r => ({\n          code_article: r.ITMREF_0,\n          designation:  r.ITMDES1_0,\n          quantite:     r.Quantite,\n          montant_ht:   r.montant_ht\n        }))\n      )\n    }\n  };\n});\n\nreturn toProcess;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-19248],"id":"73c16375-9b7d-4d00-a27f-fef399a00286","name":"Code4","disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1504,-19216],"id":"a1b82570-9bf2-4a90-a030-1455c5e840bf","name":"Aggregate","disabled":true},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Microsoft SQL1').item.json.BPSNUM_0 }}"},{"column":"numero_bl","value":"={{ $('Microsoft SQL1').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Microsoft SQL1').item.json.POHNUM_0 }}"},{"column":"date_bc","value":"={{ $('Microsoft SQL1').item.json.ORDDAT_0 }}"},{"column":"code_article","value":"={{ $('Microsoft SQL1').item.json.ITMREF_0 }}"},{"column":"quantite","value":"={{ $('Microsoft SQL1').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Microsoft SQL1').item.json.XMARQ_0}}"},{"column":"date_import","value":"={{$now}}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2304,-20096],"id":"72bee4d8-3d03-4cf5-bc0a-d5e08ed0130f","name":"Insert rows in a table8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.ITMREF_0 }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1824,-20144],"id":"a2df78d3-18af-4f93-b351-08a6aff01fd0","name":"Execute a SQL query8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2048,-20112],"id":"69f97798-5330-434c-a7bc-52d1ed564bca","name":"If13"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $('Merge').item.json.numero_bl }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.code_article_erp }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.date_bc }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3936,-19312],"id":"e0b950f0-b49f-421b-a622-d96b3860d1d7","name":"Edit Fields5","disabled":true},{"parameters":{"jsCode":"const items = $input.all();\n\n// Récupérer le tableau data du premier item\nconst dataArray = items[0].json.data || [];\n\n// Construire le prompt avec les vraies données sérialisées\nconst articlesJson = JSON.stringify(dataArray, null, 2);\nconst nbArticles   = dataArray.length;\n\n// Construire un résumé lisible article par article pour le prompt\nconst articlesReadable = dataArray.map((article, index) => {\n  const candidates = JSON.parse(article.erp_candidates || '[]');\n  const candidatesReadable = candidates.map(c =>\n    `      · [${c.code_article}] ${c.designation} | Qté: ${c.quantite} | Montant HT: ${c.montant_ht}`\n  ).join('\\n');\n\n  return `ARTICLE ${index + 1} :\n  - designation_ocr   : ${article.designation_ocr}\n  - montant_ht_ocr    : ${article.montant_ht_ocr}\n  - quantite_ocr      : ${article.quantite_ocr}\n  - numero_bl         : ${article.numero_bl}\n  - date_bc           : ${article.date_bc}\n  - marque            : ${article.marque}\n  - code_fournisseur  : ${article.code_fournisseur}\n  - numero_bc         : ${article.numero_bc}\n  - score_initial     : ${article._score_initial}%\n  - alerte_initiale   : ${article._alerte_initiale}\n  - erp_candidates    :\n${candidatesReadable}`;\n}).join('\\n\\n' + '─'.repeat(50) + '\\n\\n');\n\nreturn [{\n  json: {\n    nb_articles:      nbArticles,\n    articles_readable: articlesReadable,\n    articles_json:    articlesJson,\n    // Conserver les données originales pour le parsing après LLM\n    original_data:    dataArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2592,-19296],"id":"0deb05ac-84cc-4654-a0fb-da8592ad4d08","name":"Code13","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1445ed2b-d28c-43b0-a995-4b442d427127","leftValue":"={{ $json.code_article_erp }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,-20320],"id":"9bd539a9-c261-4e83-afbb-a41461bfbcd8","name":"If14"},{"parameters":{"command":"=C:\\split_pdf\\script.bat \"{{ $json.body.pdf_path }}\" \"{{ $json.body.output_dir }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-6064,-20560],"id":"c5d7d643-b165-419b-b75d-fd53ee7370cc","name":"Execute Command2"},{"parameters":{"httpMethod":"POST","path":"bon_livraison","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6288,-20560],"id":"1d7e137f-1b67-4240-8cfc-b22b28366491","name":"Webhook1","webhookId":"7019a2ec-4891-4210-b039-3de304471936"},{"parameters":{"jsCode":"const output = items[0].json.stdout;\nconst result = JSON.parse(output);\n\n// Retourner chaque fichier comme un item séparé avec le chemin complet formaté\nreturn result.files.map(file => ({\n  json: {\n    page_number: file.page_number,\n    file_name: file.file_name,\n    file_path: file.file_path,\n    // Nouveau champ avec le chemin formaté pour n8n\n    formatted_path: `C:/hicham/data/document_pages/${file.file_name}`,\n    total_pages: result.total_pages\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5840,-20560],"id":"c84738f8-69b0-4a2d-881e-e8026bb7169b","name":"Code14"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5360,-20560],"id":"27cb7356-4896-428d-b7b7-77b58633043f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-5072,-20816],"id":"dcb454fb-6a8e-4a90-924e-21473c50804c"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3888,-20176],"id":"9b72e6ae-fabd-47df-8d9e-d8fd0aea452a","name":"Wait5","webhookId":"84c2a8f1-3ab5-42c3-96b6-ee8e347fdd40"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1312,-20576],"id":"67de9913-20af-4a0a-97ab-1cfefd26839d","name":"Insert rows in a table9","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-16,-20064],"id":"15a4d3d7-636e-4a93-aabf-0b1a7d02c302","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5088,-20544],"id":"a04efc21-8c57-4f0c-9aa5-757335e08b01","name":"Wait6","webhookId":"8337bc5d-2b18-4777-8741-b58d53cf2356"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  console.log(\"ORDDAT_0 =\", item.json.ORDDAT_0);\n  console.log(\"TOUTES LES CLÉS =\", Object.keys(item.json));\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,-20688],"id":"8c448ebb-9120-4292-b7a8-e1060ab01c40","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8750546-250c-48fb-8c55-d22dc4ca0b42","leftValue":"={{ $json.status_bc }}","rightValue":"MULTIPLE_BC","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3072,-20544],"id":"efcfd54f-0866-404d-a5db-aac0aaec9c49","name":"If1"},{"parameters":{"jsCode":"const results = [];\nfor (const item of items) {\n  const data = item.json.output;\n  const bcs = (data.numero_bc || \"\")\n    .split(/[-,]/)\n    .map(s => s.trim())\n    .filter(s => s.length > 0);\n\n  const statut_bc = bcs.length > 1 ? \"MULTIPLE_BC\" : \"UNIQUE_BC\";\n\n  for (const ligne of data.lignes || []) {\n    for (const bc of bcs) {\n      results.push({\n        json: {\n          type_document: data.type_document,\n          numero_bl: data.numero_bl,\n          date_bl: data.date_bl,\n          numero_bc: bc,\n          statut_bc: statut_bc,\n          fournisseur_nom: data.fournisseur_nom,\n          base_ht: data.base_ht,\n          tva_montant: data.tva_montant,\n          total_ttc: data.total_ttc,\n          lignes: [ligne]\n        }\n      });\n    }\n  }\n}\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,-20544],"id":"a85e1d99-dcce-47ba-91fb-1bd774a5e570","name":"seperateur des items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f77dd142-45fd-493a-911f-73310a79b72b","leftValue":"={{ $json.BPSNUM_0 }}","rightValue":"T1623","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,-18816],"id":"34c30d87-3db0-4b93-838b-cf0cee1a9dd9","name":"If2"},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\nconst items = $input.all();\n\n// ── Regrouper les lignes par numero_bl ─\nconst blGroups = {};\nfor (const item of items) {\n  const data = item.json.input;\n  const bl = data.numero_bl;\n  if (!bl || bl === 'undefined') continue; // ignorer les lignes sans BL\n\n  // ── Ne garder que les lignes dont le statut n'est pas 'not_matched' ─\n  if (item.json.statut === 'not_matched') continue;\n\n  if (!blGroups[bl]) {\n    blGroups[bl] = {\n      numero_bl: bl,\n      numero_bc: data.POHNUM_0,\n      code_fournisseur: data.BPSNUM_0,\n      date_bc: data.ORDDAT_0,\n      lignes: []\n    };\n  }\n  blGroups[bl].lignes.push({\n    designation_ocr:        data.designation_ocr,\n    reference_ocr:          data.reference_ocr,\n    reference_ocr_norm:     data.reference_ocr_norm,\n    quantite_ocr:           data.quantite_ocr,\n    prix_unitaire_ocr:      data.prix_unitaire_ocr,\n    montant_ht_ocr:         data.montant_ht_ocr,\n    skip_numerique_reason:  data.skip_numerique_reason,\n    statut:                 item.json.statut,\n    score:                  item.json.score,\n    nb_bc_candidats:        item.json.nb_bc_candidats,\n    bc_candidats:           item.json.bc_candidats,\n    // ── Code article et désignation matchés dans X3 ─\n    code_article:           item.json.itmref_found,\n    designation_x3:         item.json.itmdes_found,\n    marque_x3:               item.json.details_x3?.XMARQ_0 ?? null\n  });\n}\n\n// ── Construire un item Redis par BL ─\nconst groupesValides = Object.values(blGroups).filter(group => group.lignes.length > 0);\n\nconst toRedis = groupesValides.map(group => {\n  const redisData = {\n    numero_bl: group.numero_bl,\n    numero_bc: group.numero_bc,\n    code_fournisseur: group.code_fournisseur,\n    date_bc: group.date_bc,\n    nb_lignes_non_matchees: group.lignes.length,\n    lignes: group.lignes,\n    date_creation: new Date().toISOString(),\n    statut_global: 'en_attente_resolution'\n  };\n  return {\n    json: {\n      redis_key: `bl_non_matched:${group.numero_bl}`,\n      redis_value: JSON.stringify(redisData),\n      redis_ttl: 300,\n      user_data: redisData\n    }\n  };\n});\n\n// ── Item supplémentaire : regroupement global de toutes les données stockées dans Redis ─\nconst dateCreationGlobale = new Date().toISOString();\nconst resumeGlobal = {\n  nb_bl_total: groupesValides.length,\n  nb_lignes_total: groupesValides.reduce((sum, g) => sum + g.lignes.length, 0),\n  bls: groupesValides.map(g => g.numero_bl),\n  date_creation: dateCreationGlobale\n};\n\ntoRedis.push({\n  json: {\n    redis_key: `bl_non_matched:resume:${dateCreationGlobale}`,\n    redis_value: JSON.stringify(resumeGlobal),\n    redis_ttl: 300,\n    user_data: resumeGlobal\n  }\n});\n\nreturn toRedis;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1888,-20208],"id":"6c68d1fc-6689-46a3-829e-374b2027fec5","name":"Code3"},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":"={{ $json.redis_ttl }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1712,-20208],"id":"c63894c1-67b2-4b3a-a0b3-455866dcab35","name":"Redis","executeOnce":true,"credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"operation":"get","key":"=bl_non_matched:{{ $json.input.numero_bl }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1008,-20416],"id":"682c9a79-9cc6-4f01-9426-9d10b35dff66","name":"Redis1","executeOnce":true,"credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Le champ Redis contenant le JSON stringifié s'appelle \"propertyName\"\n\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const rawValue = item.json.propertyName;\n\n  if (!rawValue) continue;\n\n  let blData;\n  try {\n    blData = typeof rawValue === 'string' ? JSON.parse(rawValue) : rawValue;\n  } catch (e) {\n    result.push({\n      json: {\n        error: `Erreur de parsing JSON: ${e.message}`,\n        raw: rawValue\n      }\n    });\n    continue;\n  }\n\n  // ── Filtrer uniquement les lignes avec statut \"non_matched\" ─\n  const lignesNonMatchees = (blData.lignes || []).filter(\n    ligne => ligne.statut !== 'non_matched' || (ligne.score !== null)\n  );\n\n  // ── Créer un item n8n par ligne non matchée, avec le contexte du BL ─\n  for (const ligne of lignesNonMatchees) {\n    result.push({\n      json: {\n        // Contexte du BL/BC\n        numero_bl: blData.numero_bl,\n        numero_bc: blData.numero_bc,\n        code_fournisseur: blData.code_fournisseur,\n        date_bc: blData.date_bc,\n        date_creation: blData.date_creation,\n        statut_global: blData.statut_global,\n\n        // Détails de la ligne non matchée\n        designation_ocr: ligne.designation_ocr,\n        reference_ocr: ligne.reference_ocr,\n        reference_ocr_norm: ligne.reference_ocr_norm,\n        quantite_ocr: ligne.quantite_ocr,\n        prix_unitaire_ocr: ligne.prix_unitaire_ocr,\n        montant_ht_ocr: ligne.montant_ht_ocr,\n        skip_numerique_reason: ligne.skip_numerique_reason,\n        statut: ligne.statut,\n        score: ligne.score,\n        code_article: ligne.code_article,\n        nb_bc_candidats: ligne.nb_bc_candidats,\n        bc_candidats: ligne.bc_candidats\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,-20416],"id":"78e2e382-b1e6-4086-b2df-783a2315964e","name":"Code5","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41e199f8-4e87-436b-99a0-85d84559ed4d","leftValue":"={{ $json.code_article }}","rightValue":"={{ $('Microsoft SQL').item.json.ITMREF_0 }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-19216],"id":"09c72df9-cb24-4270-b969-56fb1c5d8fe0","name":"If3","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6ffe9d7-a314-4069-b7ba-e9f35fd719bb","leftValue":"={{ $json.statut }}","rightValue":"non_matched","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,-19024],"id":"836fe90a-5662-4ead-a2aa-87cc934c9969","name":"If4","disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT \n    O.POHNUM_0,\n    O.BPSNUM_0,\n    O.ORDDAT_0,\n    O.ITMREF_0,\n    A.ITMDES1_0,\n    '{{ $json.input.numero_bl.replace(/'/g, \"''\") }}' AS numero_bl,\n    '{{ $json.input.designation_ocr.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.input.reference_ocr }}' AS reference_ocr,\n    '{{ $json.input.quantite_ocr }}' AS quantite_ocr,\n    '{{ $json.input.prix_unitaire_ocr }}' AS prix_unitaire_ocr,\n    '{{ $json.input.montant_ht_ocr }}' AS montant_ht_ocr\nFROM BASE1.PORDERQ O\nJOIN BASE1.ITMMASTER A ON O.ITMREF_0 = A.ITMREF_0\nWHERE O.POHNUM_0 = '{{ $json.input.POHNUM_0.replace(/'/g, \"''\") }}'\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-688,-20256],"id":"aa79cfa0-807c-4d40-8a5d-d746b01da9c5","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"code_article","field2":"ITMREF_0"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-400,-20320],"id":"4c9da96b-e3ed-4b07-adda-7a2db03a00fe","name":"Merge","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=Voici une liste de lignes à analyser. Pour CHAQUE ligne, identifie LEQUEL des candidats ERP proposés (candidats_erp) correspond réellement à la désignation fournisseur (designation_ocr), en appliquant les règles du system prompt.\n\nLignes à analyser :\n{{ JSON.stringify($json.data.map((d, i) => ({\n  index: i,\n  designation_ocr: d.designation_ocr,\n  numero_bc: d.numero_bc,\n  numero_bl: d.numero_bl,\n  quantite_ocr: d.quantite_ocr,\n  candidats_erp: d.erp_candidates\n}))) }}\n\nPour chaque ligne, choisis le candidat de candidats_erp le plus cohérent sémantiquement et techniquement avec designation_ocr, en respectant strictement les règles d'unicité et d'absence de match du system prompt.\n\nRetourne un OBJET JSON unique avec exactement cette forme :\n{\n  \"lignes\": [\n    { \"index\": ..., \"designation_ocr\": ..., \"numero_bc\":...,\"numero_bl\":...,\"quantite_ocr:...\",'\"code_article_erp\": ..., \"designation_erp\": ... }\n  ]\n}\nLe tableau \"lignes\" doit contenir un résultat par ligne d'entrée, dans le même ordre que \"index\".","hasOutputParser":true,"options":{"systemMessage":"Tu es un expert en approvisionnement industriel spécialisé dans le matching d'articles techniques (composants électriques, mécaniques, pneumatiques, etc.) entre les désignations fournisseurs (bons de livraison, factures) et les désignations internes d'un ERP (Sage X3).\n\nMISSION :\nPour chaque désignation fournisseur (designation_ocr), identifie LEQUEL des articles ERP candidats fournis dans candidats_erp correspond réellement à l'article livré. Le besoin est de faire correspondre la désignation fournisseur (designation_ocr) avec la désignation système (ITMDES1_0) de chaque candidat, en te basant sur une compréhension SÉMANTIQUE et TECHNIQUE — pas seulement une similarité textuelle superficielle. Retiens le candidat dont la désignation système (ITMDES1_0) est la plus cohérente et la plus valide sémantiquement/techniquement avec la désignation fournisseur, et déduis-en le code_article_erp correspondant.\n\nRÈGLES D'ANALYSE :\nRÉFÉRENCES TECHNIQUES ET CODES PRODUITS\n   Compare en priorité les références techniques, codes produits, ou numéros de modèle mentionnés côté fournisseur avec ceux mentionnés dans chaque désignation ERP candidate. Une correspondance de référence technique est un signal FORT qui doit augmenter significativement la confiance du match.\n\nRÈGLE — UNICITÉ D'AFFECTATION D'UN CANDIDAT :\nUn même itmref (code_article_erp) ne peut être affecté qu'à UNE SEULE ligne parmi l'ensemble des lignes traitées dans cette requête — jamais dupliqué sur plusieurs designation_ocr différentes, même si ce candidat apparaît dans candidats_erp de plusieurs lignes.\nProcédure :\n1. Pour chaque ligne, évalue d'abord si AU MOINS UN candidat de candidats_erp correspond réellement (même fonction produit, référence technique cohérente) à designation_ocr.\n2. Si un même candidat semble pertinent pour plusieurs lignes, affecte-le UNIQUEMENT à la ligne où la correspondance est la plus forte (référence technique la plus proche, désignation la plus cohérente). Pour les autres lignes concurrentes sur ce même candidat, cherche un autre candidat dans leur propre candidats_erp, ou retourne null si aucun autre candidat ne convient.\n3. Si pour une ligne donnée aucun candidat de candidats_erp ne correspond réellement (différence de nature fonctionnelle du produit, ex : un relais proposé comme candidat pour une désignation de socle), retourne code_article_erp: null et designation_erp: null pour cette ligne — ne force JAMAIS un match technique incorrect uniquement pour éviter un null.\n\nRÈGLE — COULEUR COMME IDENTIFIANT CRITIQUE :\nPour les consommables (toners, cartouches, encres...), la couleur mentionnée (BLACK/NOIR, CYAN, MAGENTA, YELLOW/JAUNE...) est un identifiant AUSSI CRITIQUE qu'une référence technique — jamais interchangeable, même si le modèle/la gamme (ex: \"HP 207\", \"207A\") est identique. Un candidat d'une couleur différente de celle mentionnée dans designation_ocr ne doit JAMAIS être retenu, quelle que soit la proximité textuelle du reste de la désignation. Si aucun candidat de la bonne couleur n'existe dans candidats_erp, retourne null.\n\nRéponds UNIQUEMENT en JSON valide conforme au schéma fourni, sans texte avant/après, sans balises markdown.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[128,-20320],"id":"4430fd51-4961-4c17-a4dc-4c628eb5e605","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"lignes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"index\": { \"type\": \"number\" },\n          \"designation_ocr\": { \"type\": \"string\" },\n          \"numero_bc\":{ \"type\": \"string\" },\n          \"numero_bl\":{ \"type\": \"string\" },\n          \"quantite_ocr\":{ \"type\": \"string\" },\n          \"code_article_erp\": { \"type\": [\"string\", \"null\"] },\n          \"designation_erp\": { \"type\": [\"string\", \"null\"] }\n        },\n        \"required\": [\"index\", \"designation_ocr\",\"numero_bc\", \"quantite_ocr\",\"code_article_erp\", \"designation_erp\"]\n      }\n    }\n  },\n  \"required\": [\"lignes\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[320,-20064],"id":"83f8bc1d-0580-4337-94e0-1c428b453be0","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1632,-19136],"id":"14c596b4-0512-42b6-b85f-4e0f5a957337","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"SYZapeDhHPnLzHX3","name":"Mistral Cloud account 2"}},"disabled":true},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Regroupe les candidats ERP par designation_ocr (même OCR = plusieurs ITMREF possibles du même BC)\n\nconst items = $input.all();\nconst groupes = {};\n\nfor (const item of items) {\n  const d = item.json;\n  const key = `${d.designation_ocr}`;\n\n  if (!groupes[key]) {\n    groupes[key] = {\n      designation_ocr: d.designation_ocr,\n      numero_bc: d.POHNUM_0,\n      numero_bl: d.numero_bl,     \n      quantite_ocr: d.quantite_ocr,\n      erp_candidates: []\n    };\n  }\n\n  // Éviter les doublons de candidats\n  const dejaPresent = groupes[key].erp_candidates.some(c => c.itmref === d.ITMREF_0);\n  if (!dejaPresent) {\n    groupes[key].erp_candidates.push({\n      itmref: d.ITMREF_0,\n      designation: d.ITMDES1_0\n    });\n  }\n}\n\nreturn [{ json: { data: Object.values(groupes) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-20320],"id":"a4da1c9f-2974-4e82-b377-c09a9472ed81","name":"Code7"},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Éclate chaque ligne de output.lignes en un item n8n distinct\n\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const output = item.json.output;\n\n  if (!output || !Array.isArray(output.lignes)) {\n    result.push({\n      json: {\n        error: \"Format inattendu : 'output.lignes' introuvable ou n'est pas un tableau\",\n        raw: item.json\n      }\n    });\n    continue;\n  }\n\n  for (const ligne of output.lignes) {\n    result.push({\n      json: {\n        index: ligne.index,\n        designation_ocr: ligne.designation_ocr,\n        numero_bc: ligne.numero_bc,\n        numero_bl: ligne.numero_bl,\n        quantite_ocr: ligne.quantite_ocr,\n        code_article_erp: ligne.code_article_erp,\n        designation_erp: ligne.designation_erp,\n        match_trouve: ligne.code_article_erp !== null\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-20320],"id":"cfdfb1af-cf9b-4876-9bff-cc4fe02f3bb3","name":"Code8"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0,\n    ITMREF_0,\n    '{{ $json.designation_erp.replace(/'/g, \"''\") }}' as designation_erp,\n    '{{ $json.numero_bl.replace(/'/g, \"''\") }}' AS numero_bl,\n    '{{ $json.designation_ocr.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.quantite_ocr }}' AS quantite_ocr,\n    XMARQ_0\nFROM BASE1.PORDERQ \nWHERE POHNUM_0 = '{{ $json.numero_bc.replace(/'/g, \"''\") }}' and ITMREF_0='{{ $json.code_article_erp }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[1456,-20336],"id":"aca16f6c-e05e-4b1c-a9de-2e9acc0d23f2","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const userData = item.json.user_data;\n  const lignes = userData.lignes || [];\n\n  for (const ligne of lignes) {\n    result.push({\n      json: {\n        numero_bl: userData.numero_bl,\n        numero_bc: userData.numero_bc,\n        code_fournisseur: userData.code_fournisseur,\n        date_bc: userData.date_bc,\n        statut_global: userData.statut_global,\n        ...ligne\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,-20208],"id":"45e14ec2-ee98-499e-ba0f-2079e20020e7","name":"Code9"}],"connections":{"Microsoft SQL2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If6":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Insert rows in a table6","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[]]},"Insert rows in a table6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"seperateur des items","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"🔍 OCR Page":{"main":[[{"node":"Information Extractor","type":"main","index":0}],[]]},"Code6":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Microsoft SQL","type":"main","index":0},{"node":"Redis1","type":"main","index":0}]]},"Insert rows in a table7":{"main":[[{"node":"Insert rows in a table9","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"If12","type":"main","index":0}]]},"If12":{"main":[[{"node":"Insert rows in a table7","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code4":{"main":[[]]},"Aggregate":{"main":[[]]},"Insert rows in a table8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute a SQL query8":{"main":[[{"node":"If13","type":"main","index":0}]]},"If13":{"main":[[{"node":"Insert rows in a table8","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields5":{"main":[[]]},"Code13":{"main":[[]]},"If14":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}],[]]},"Execute Command2":{"main":[[{"node":"Code14","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]},"Code14":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Wait6","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Insert rows in a table9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Wait6":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If1":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"seperateur des items":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]},"If2":{"main":[[],[]]},"Code3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If3":{"main":[[]]},"If4":{"main":[[]]},"Microsoft SQL":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[]]},"Code7":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"If14","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Execute a SQL query8","type":"main","index":0}]]},"Code9":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Aggregate":[{"json":{"data":[{"POHNUM_0":"BC195079","BPSNUM_0":"T2768","ORDDAT_0":"2026-07-07T00:00:00.000Z","ITMREF_0":"A12946","ITMDES1_0":"RELAIS D'INTERFACE MINIATURE EMBROCHABLE 24VCC C2R1SNI-24VCC","numero_bl":"21787","designation_ocr":"P2RFZ-05-E SOCLE, MONTAGE SUR RAIL DIN/EN SURFACE, 5 BROCHES, BORNES ENFICHABLES OMRON","reference_ocr":"690420","quantite_ocr":"44","prix_unitaire_ocr":"42","montant_ht_ocr":"1848"},{"POHNUM_0":"BC195079","BPSNUM_0":"T2768","ORDDAT_0":"2026-07-07T00:00:00.000Z","ITMREF_0":"A12946","ITMDES1_0":"RELAIS D'INTERFACE MINIATURE EMBROCHABLE 24VCC C2R1SNI-24VCC","numero_bl":"21787","designation_ocr":"P2RF-05-PU SOCLE, RAIL DIN / MONTAGE EN SURFACE, 15.5MM, 5 BROCHES, BORNE PUSH-IN OMRON","reference_ocr":"685032","quantite_ocr":"53","prix_unitaire_ocr":"42","montant_ht_ocr":"2226"}]}}],"Code4":[],"Webhook1":[{"json":{"headers":{"user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; fr-FR) WindowsPowerShell/5.1.17763.6640","content-type":"application/json","host":"192.168.1.211:5678","content-length":"227"},"params":{},"query":{},"body":{"output_dir":"C:\\hicham\\data\\document_pages","file_name":"SKM_301i26072211323.pdf","pdf_path":"C:\\hicham\\data\\bon_livraison\\SKM_301i26072211323.pdf","detected_at":"2026-07-22 12:31:49"},"webhookUrl":"192.168.1.211:5678/webhook/bon_livraison","executionMode":"production"}}]},"versionId":"1eccec2c-b8b7-41e6-afa8-9e85d5969641","triggerCount":1,"tags":[]}