br-gQmufgPbvuaNitpE.json
{"createdAt":"2026-02-24T09:32:32.446Z","updatedAt":"2026-07-16T19:51:18.000Z","id":"gQmufgPbvuaNitpE","name":"BR","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0,\n    '{{ $json.statut_bc.replace(/'/g, \"''\") }}' AS status_bc,\n    '{{ $json.numero_bl.replace(/'/g, \"''\") }}' AS numero_bl,\n    '{{ $json.lignes[0].designation.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.lignes[0].reference }}' AS reference_ocr,\n    '{{ $json.lignes[0].quantite }}' AS quantite_ocr,\n    '{{ $json.lignes[0].pu_ht }}' AS prix_unitaire_ocr,\n    '{{ $json.lignes[0].montant_ht }}' AS montant_ht_ocr,\n    MAX(POPLIN_0) AS max_poplin\nFROM BASE1.PORDERQ O\nJOIN BASE1.ITMMASTER A ON O.ITMREF_0 = A.ITMREF_0\nWHERE POHNUM_0 = '{{ $json.numero_bc.replace(/'/g, \"''\") }}'\nGROUP BY\n    POHNUM_0,\n    BPSNUM_0,\n    ORDDAT_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-3248,-20544],"id":"c593ba76-ff0b-42c8-b913-e26773792201","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"360b53d1-b7a2-439b-a535-773df26001b4","leftValue":"={{ $json.max_poplin }}","rightValue":1000,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,-20544],"id":"b158c37f-f4c4-4b9f-8006-01508bd1a156","name":"If6"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $json.reference_ocr }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $json.numero_bl }}' as numero_bl,\n    '{{ $json.designation_ocr.replace(/'/g, \"''\") }}' AS designation_ocr,\n    '{{ $json.reference_ocr }}' as refrence_ocr,\n    '{{ $json.montant_ht_ocr }}' as montant_ht_ocr,\n    '{{ $json.quantite_ocr }}' as quantite_ocr\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.POHNUM_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-2320,-20688],"id":"8212fc43-5338-435a-bdfe-2e377678d030","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"command":"=C:\\hicham\\scripts\\match_article_br\\script.bat \"C:\\hicham\\scripts\\match_article_br\\input_temp.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-2112,-20400],"id":"e37e1878-2e17-4537-a5c5-404f1bdbdc43","name":"Execute Command1"},{"parameters":{"jsCode":"// Run Once for All Items ✅\nconst fs = require('fs');\n\n// Récupérer TOUS les items\nconst data = $input.all().map(item => item.json);\n\n// Écrire le tableau complet\nfs.writeFileSync(\n  'C:\\\\hicham\\\\scripts\\\\match_article_br\\\\input_temp.json',\n  JSON.stringify(data, null, 2),\n  'utf-8'\n);\n\n// Retourner tous les items pour la suite du workflow\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2304,-20400],"id":"db696ba9-a4b6-42f1-a2ad-c08348d9b6e7","name":"Code"},{"parameters":{"jsCode":"// Mode: Run Once for All Items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const stdout = item.json.stdout;\n  \n  if (!stdout || stdout.trim() === '') {\n    results.push({ json: { error: \"stdout vide\", raw: item.json } });\n    continue;\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(stdout);\n  } catch (e) {\n    results.push({ json: { error: \"JSON parse error: \" + e.message, raw: stdout.slice(0, 300) } });\n    continue;\n  }\n\n  // Normalise en tableau\n  const lines = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const line of lines) {\n    results.push({ json: line });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,-20400],"id":"34adc29a-d999-4fa3-a124-5cc25f131249","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.ITMDES1_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.POHNUM_0 }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.refrence_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"=100","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1952,-20688],"id":"26cab482-8ed8-44f4-b725-4ee1a845805e","name":"Edit Fields4"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields4').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields4').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields4').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields4').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields4').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-480,-20704],"id":"030e27cf-e735-4446-8b32-e17c7e814258","name":"Insert rows in a table","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-912,-20688],"id":"6db4b337-f0ed-4d6c-bcfd-ea6e1158f166","name":"Execute a SQL query","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-704,-20688],"id":"ff99fd3f-706a-468b-b91d-ea90371ee3ff","name":"If11"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields4').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields4').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields4').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields4').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields4').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields4').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields4').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-96,-20672],"id":"7d96d811-c70b-4667-b5cb-79d2857c7793","name":"Insert rows in a table6","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"text":"={{ $json.pages[0].markdown }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"type_document\": {\n      \"type\": \"string\",\n      \"description\": \"Type du document détecté : 'BON_DE_LIVRAISON'. Valeur fixe pour ce workflow\"\n    },\n    \"numero_bl\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Numéro du bon de livraison. Ex: '0040355464'. Si plusieurs BL dans le même PDF, les séparer par virgule. null si introuvable\"\n    },\n    \"numero_bc\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Numéro(s) du bon de commande. Chercher les mots-clés : 'BON DE COMMANDE', 'V/Commande', 'BC N°', 'N° BC'. Si plusieurs BCs, les séparer par ' - ' (ex: BC191397 - BC192493). null si aucun BC trouvé\"\n    },\n    \"lignes\": {\n      \"type\": \"array\",\n      \"description\": \"Toutes les lignes articles du tableau. Obligatoire : ne jamais retourner un tableau vide si des articles sont visibles. Extraire TOUTES les lignes. Le nombre de lignes = nombre de valeurs dans la colonne Quantité\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"reference\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Code ou référence article tel qu'affiché dans la colonne REF / Référence / Code. null si absent\"\n          },\n          \"designation\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Libellé de l'article sans accents, apostrophes ni caractères non-ASCII (é→e, à→a, ç→c, '→espace). RÈGLE CRITIQUE : le nombre de désignations distinctes = nombre de valeurs dans la colonne Quantité. Si la colonne Désignation a exactement N fragments séparés par saut de ligne et Quantité = N valeurs → chaque fragment est une désignation SÉPARÉE, ne pas les fusionner. Si fragments Désignation > N → tout concaténer en une seule désignation. null si absent\"\n          },\n          \"quantite\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Quantité numérique de la ligne. JAMAIS une date. Ne jamais concaténer deux valeurs séparées par saut de ligne (ex: '69\\\\n16' → ligne 1 qty=69, ligne 2 qty=16). Si pu_ht × quantite ≠ montant_ht affiché, recalculer : quantite = montant_ht / pu_ht. null si introuvable\"\n          },\n          \"pu_ht\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Prix unitaire HT de la ligne. Même règle de conversion format marocain (point=milliers, virgule=décimal). null si absent\"\n          },\n          \"remise_pct\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Remise en pourcentage appliquée à la ligne. null si aucune remise mentionnée et non déductible\"\n          },\n          \"montant_ht\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Montant HT de la ligne. Même règle de conversion format marocain. Vérification : pu_ht × quantite × (1 - remise_pct/100) doit correspondre. null si absent\"\n          }\n        },\n        \"required\": [\"reference\", \"designation\", \"quantite\", \"pu_ht\", \"montant_ht\"]\n      }\n    }\n  },\n  \"required\": [\"numero_bl\", \"numero_bc\", \"lignes\"]\n}","options":{"systemPromptTemplate":"Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\nTa mission : analyser le contenu OCR fourni et retourner UNIQUEMENT un objet JSON valide, sans aucun texte avant ou après, sans Markdown, sans backticks.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°0 — INTERDICTION ABSOLUE D'INVENTION (PRIORITÉ MAXIMALE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nINTERDIT ABSOLU : inventer, déduire, extrapoler ou compléter une valeur\nqui n'est PAS explicitement lisible dans le texte OCR fourni.\n\nSi une valeur n'est pas présente dans le texte OCR :\n  → Mettre OBLIGATOIREMENT null (nombres) ou null (strings)\n  → JAMAIS utiliser des valeurs par défaut inventées\n  → JAMAIS compléter depuis une \"connaissance générale\"\n\nCela s'applique STRICTEMENT à :\n  - numero_bl        → uniquement ce qui suit \"N° BL\" dans le texte\n  - date_bl          → uniquement ce qui suit \"Date Livraison\" dans le texte\n  - fournisseur_nom  → uniquement le nom lisible en en-tête du document\n  - base_ht          → null si aucune ligne \"Total HT\" ou \"Base HT\" visible\n  - tva_montant      → null si aucune ligne TVA visible\n  - total_ttc        → null si aucune ligne TTC visible\n  - pu_ht            → null si la colonne prix unitaire est absente ou vide\n  - montant_ht       → null si la colonne montant est absente ou vide\n  - lignes[]         → UNIQUEMENT les articles dont la quantité est lisible dans la colonne Quantité du tableau\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1 — NOMBRE D'ARTICLES (CRITIQUE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLa colonne QUANTITE est le SEUL critère qui détermine le nombre d'articles N.\nCompter les valeurs séparées par \\n dans la colonne Quantite = N articles.\n\nAppliquer colonne par colonne :\n\nQUANTITE → splitter par \\n → N articles (référence absolue)\n\nDESIGNATION → splitter par \\n → obtenir F fragments :\n  - F = N : chaque fragment = désignation DISTINCTE d'un article séparé. INTERDIT de fusionner.\n  - F > N : concaténer tous les fragments → une seule désignation pour l'article unique.\n  - F < N : répéter la dernière désignation connue pour les articles suivants.\n\nREFERENCE → splitter par \\n :\n  - fragments = N : une référence par article.\n  - fragments < N : répéter la dernière valeur connue.\n\nMONTANT_HT → splitter par \\n :\n  - fragments = N : un montant par article.\n  - fragments < N : null pour les articles sans montant.\n\nZipper toutes les colonnes index par index pour créer N objets articles.\n\nVERIFICATION FINALE :\n✅ Nombre d'articles créés = N\n✅ Chaque article a une désignation DIFFERENTE si fragments Designation = N\n✅ Aucune désignation ne contient \\n dans sa valeur finale\n✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1bis — ANOMALIE QUANTITE TRONQUEE (OCR COLLE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPROBLEME FREQUENT : l'OCR colle parfois la valeur de Quantite avec un\nnombre adjacent (poids, PU, montant) séparés par un OU plusieurs espaces,\nsans saut de ligne. Le LLM a tendance à ne garder que la première partie\n(le nombre entier avant l'espace), ce qui TRONQUE la vraie quantité.\n\nExemple observé :\n  OCR colonne Quantite : \"5  141.6\"\n  ❌ FAUX  : quantite = 5   (troncature, partie après l'espace ignorée)\n  ✅ CORRECT : quantite = 5141.6  (recoller les deux segments en un seul nombre)\n\nDETECTION DE L'ANOMALIE :\n  Si une valeur brute de la colonne Quantite contient un OU plusieurs\n  espaces ENTRE deux groupes de chiffres (avec ou sans point/virgule\n  décimale), et qu'aucune autre colonne adjacente (PU, Montant) ne\n  justifie cette seconde partie comme une valeur SEPAREE et COHERENTE\n  (c'est-à-dire : pu_ht × [partie1] ≈ montant_ht ne correspond PAS,\n  mais pu_ht × [partie1+partie2 recollées] ≈ montant_ht OUI) :\n\n  → RECOLLER les deux segments en supprimant l'espace entre eux,\n    pour former UNE SEULE valeur numérique.\n  → Exemple : \"5  141.6\" → \"5141.6\" → quantite = 5141.6\n  → Exemple : \"12 450\" → \"12450\" → quantite = 12450\n  → Exemple : \"1 234,56\" → format marocain, point=milliers → traiter\n    selon RÈGLE N°3 (PAS un cas de recollement ici)\n\nDISTINCTION AVEC SEPARATEUR DE MILLIERS :\n  - \"1 234\" ou \"1.234\" (groupe de 3 chiffres après l'espace/point,\n    cohérent avec un format de milliers) → appliquer RÈGLE N°3\n    (séparateur de milliers), PAS la règle de recollement.\n  - \"5  141.6\" (le second groupe n'est PAS un groupe de 3 chiffres\n    type milliers, ou contient une partie décimale incohérente avec\n    un format milliers) → recollement (cette règle).\n\nVERIFICATION OBLIGATOIRE PAR LE MONTANT :\n  Pour chaque ligne où quantite est ambigu :\n    Si pu_ht ET montant_ht sont tous deux lisibles :\n      - Calculer quantite_candidate_1 = première partie seule\n      - Calculer quantite_candidate_2 = parties recollées\n      - Comparer pu_ht × quantite_candidate à montant_ht\n      - Retenir la candidate dont le produit est le PLUS PROCHE\n        de montant_ht (tolérance ±1%)\n    Si pu_ht ou montant_ht absent :\n      - Appliquer le recollement par défaut si le pattern\n        \"chiffre(s) + espace(s) + chiffre(s).chiffre(s)\" est détecté\n        et ne correspond pas à un format de milliers classique.\n\n❌ NE JAMAIS retourner uniquement la première partie d'un nombre\n   tronqué par un espace si le recollement produit une valeur\n   cohérente avec montant_ht / pu_ht.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°1ter — CROSS-VERIFICATION QUANTITE VIA CHAMPS HORS TABLEAU\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nPROBLEME : sur certains documents (notamment ceux avec un transporteur),\nl'OCR fait apparaitre dans la colonne \"Quantité\" du tableau une valeur\ndécimale (ex: \"2 317,700\") qui correspond en réalité à un POIDS, confirmé\npar un champ \"Poids :\" hors tableau avec un nombre identique ou\nquasi-identique.\n\nREGLE :\n  Si la valeur brute de la colonne Quantite, après application de la\n  RÈGLE N°3 (format marocain) et de la RÈGLE N°1bis, produit un nombre\n  décimal (ex: 4522.1, 5141.6) :\n\n  → CONSERVER cette valeur TELLE QUELLE comme \"quantite\" de la ligne,\n    SANS la tronquer, SANS l'arrondir, SANS la remplacer par une autre\n    colonne (Nb.Co, Nb Col., etc.).\n  → quantite peut donc être un nombre décimal, pas uniquement un entier.\n\n  ❌ NE JAMAIS tronquer \"1 526,100\" en quantite = 1\n  ✅ quantite = 1526.1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°2 — DÉSIGNATION (NETTOYAGE)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nDans le champ designation, remplacer ou supprimer obligatoirement :\n  - Apostrophes ' → espace\n  - Accents : e accent → e, a accent → a, u accent → u, i accent → i, o accent → o, c cedille → c, oe → oe, ae → ae\n  - Guillemets simples ou doubles → supprimer\n  - Tout caractère non-ASCII → équivalent ASCII ou supprimer\n  - References BL dans la désignation (BL N°..., B.L N°...) → supprimer\n  - References BC dans la désignation (BC N°..., B.C N°...) → supprimer\n  - Dates dans la désignation (du JJ/MM/AAAA, au JJ/MM/AAAA) → supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°3 — MONTANTS (FORMAT MAROCAIN)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLe point . est séparateur de milliers, la virgule , est séparateur décimal.\nConvertir en nombre JSON standard :\n  '34.453,94' → 34453.94\n  '1.200,00'  → 1200.0\n  '75 198,12' → 75198.12\n\nAppliquer à : base_ht, tva_montant, total_ttc, pu_ht, montant_ht de chaque ligne.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°4 — DÉTERMINATION DU CAS BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nChercher les numéros BC dans les champs : \"BON DE COMMANDE\", \"V/Commande\", \"BC N°\", \"N° BC\".\nLes séparateurs possibles entre plusieurs BCs : - / , espace.\n\nNORMALISATION DES NUMÉROS BC :\n  → Si la valeur trouvée est uniquement numérique (ex : 179804),\n    la convertir automatiquement en \"BC179804\".\n  → Si la valeur contient déjà le préfixe \"BC\" (ex : BC179804),\n    la conserver telle quelle.\n  → Supprimer les espaces inutiles autour du numéro.\n  → Appliquer cette règle à tous les BC détectés.\n\nCAS 1 — UN SEUL BC détecté :\n  → numero_bc dans l'objet bon_de_livraison\n  → articles dans le tableau racine \"lignes\"\n  → bons_de_commande = null\n\nCAS 2 — PLUSIEURS BCs détectés :\n  → lignes racine = null\n  → Créer un objet dans bons_de_commande pour CHAQUE BC\n  → Dupliquer TOUS les articles sous chaque BC\n  → bon_de_livraison ne contient PAS de champ numero_bc\n\nSi aucun BC détecté :\n  → CAS 1 avec numero_bc: null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLE N°5 — VALEURS MANQUANTES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n  - Champ absent ou illisible → null\n  - Montants = nombres float (jamais string)\n  - Quantite = nombre positif (entier ou décimal selon ce qui est\n    réellement lisible après application des RÈGLES N°1, N°1bis, N°1ter),\n    JAMAIS une date\n  - Dates = format tel que détecté dans le document\n  - Supprimer les espaces inutiles en début et fin de chaque valeur string\n  - remise_pct = 0 si aucune remise mentionnée\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES DE RAISONNEMENT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE A — 2 articles distincts :\n  Quantite    : \"4\\n4\"\n  Designation : \"pliage de tole\\nsoudure\"\n  → N=2, F=2 → article 1 = \"pliage de tole\", article 2 = \"soudure\"\n  ❌ INTERDIT : \"pliage de tole soudure\" sur les deux lignes\n\nEXEMPLE B — 1 article désignation multi-ligne :\n  Quantite    : \"2\"\n  Designation : \"ventilateur\\nd extraction\\ntype axial\"\n  → N=1, F=3 → F > N → concaténer → \"ventilateur d extraction type axial\"\n\nEXEMPLE C — 3 articles, montant manquant :\n  Quantite    : \"1\\n2\\n1\"\n  Designation : \"roulement\\npalier\\ncouvercle\"\n  Montant     : \"150\\n300\"\n  → article 3 montant_ht = null\n\nEXEMPLE D — BC multiples :\n  V/Commande : BC191397 - BC192493\n  → CAS 2 → 2 objets dans bons_de_commande, lignes racine = null\n\nEXEMPLE E — BC unique :\n  V/Commande : 179804\n  → CAS 1 → numero_bc dans bon_de_livraison, articles dans lignes racine\nEXEMPLE F — Quantite décimale dans le tableau (= poids) :\n  Tableau : | Code=009241 | Designation=\"FILM THERMO RETRACTABLE...\" | Quantite=\"3 489,500\" | Nb.Co=\"40\" |\n  Hors tableau : \"Poids : 3489.5\"\n  → \"3 489,500\" → conversion RÈGLE N°3 → 3489.500\n  → \"Poids : 2317.7\" confirme que 3489.500 est la valeur correcte (non tronquée)\n  → quantite = 3489.5\n  ❌ INTERDIT : quantite = 2 (troncature)"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-4272,-20544],"id":"67c3144b-80a4-4798-a830-2dce7f26122d","name":"Information Extractor"},{"parameters":{"model":"openai/gpt-oss-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4272,-20304],"id":"ee2bf665-92f0-496a-b68b-d68c46b8d247","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"99wq1jpbjfVZtDjK","name":"OpenRouter account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4576,-20544],"id":"c441bf52-a285-4bfa-b01b-d532885e3a4e","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"aIOzZ8o9jlqBz7Fq","name":"new mistral authorization"}}},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4816,-20544],"id":"60b5fed0-5c3d-40c1-b13f-a43aa248d157","name":"Code6"},{"parameters":{"promptType":"define","text":"=Tu es un expert en gestion de stocks industriels et en reconnaissance sémantique de désignations techniques.\n\nTu reçois UNE LISTE D'ARTICLES issus d'un scan OCR qui n'ont PAS pu être associés automatiquement à des lignes ERP.\nPour CHAQUE article, tu dois trouver LA ligne ERP la plus probable parmi ses candidats.\n\nRÈGLES ABSOLUES DE SORTIE :\nLa réponse doit commencer par [ et se terminer par ]\nNe retourne AUCUN texte avant ou après le JSON\nN'utilise PAS de Markdown ni backticks\nNe retourne qu'UN SEUL tableau JSON contenant UN objet par article\nLa sortie doit être directement exploitable par JSON.parse()\nLe tableau doit contenir EXACTEMENT {{ $json.nb_articles }} objets dans le même ordre que les articles fournis\n\n⚠️ CONTEXTE MÉTIER FONDAMENTAL — À LIRE EN PREMIER :\nCe système crée des bons de réception à partir de bons de livraison fournisseur.\nLe bon de commande ERP sert de référence pour identifier les articles commandés.\nUn fournisseur peut livrer une commande EN PLUSIEURS FOIS (réceptions partielles).\nConséquence directe :\n  - quantite_ocr (BL reçu) peut être INFÉRIEURE à quantite_erp (BC total) → NORMAL\n  - montant_ht_ocr (BL reçu) peut être INFÉRIEUR à montant_ht_erp (BC total) → NORMAL\n  - Ces cas NE SONT PAS des incohérences et NE DOIVENT PAS pénaliser le matching\n  - Seul un OCR SUPÉRIEUR à l'ERP (hors tolérance 10%) est une vraie anomalie\n\n═══════════════════════════════════════\nARTICLES OCR À IDENTIFIER\n═══════════════════════════════════════\n{{ $json.articles_readable }}\n\n═══════════════════════════════════════\nMISSION — TRAITER CHAQUE ARTICLE SÉPARÉMENT\n═══════════════════════════════════════\n\nPour CHAQUE article de la liste, effectue les étapes suivantes de manière INDÉPENDANTE :\n\nÉTAPE 1 — DÉCOMPOSE la désignation OCR mot par mot :\n  Pour chaque mot, identifie :\n  - Sa catégorie : TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\n  - Son sens technique dans le domaine industriel/mécanique\n\nÉTAPE 2 — ANALYSE chaque ligne ERP candidate de CET article :\n  Pour chaque candidat, évalue :\n\n  A) Famille de produit (40 pts)\n     Les deux désignations décrivent-elles le même type d'article ?\n     Ex: \"Equerre\" ≈ \"AILE 90°\" (équerre = pièce à angle droit = aile 90°)\n     Ex: \"Chaine\" ≈ \"CHAINE\" (même famille)\n     Ex: \"Attache\" ≈ \"ATTACHE POUR\" (même famille)\n\n  B) Caractéristiques techniques (30 pts)\n     Y a-t-il des normes, dimensions ou références communes ou compatibles ?\n     Ex: \"08B1\" est une norme de chaîne → compatible avec \"CHAINE 1/2\"\"\n     Ex: \"16B2\" est une norme double rang → différent de \"08B1\" simple rang\n\n  C) Cohérence contextuelle (20 pts)\n     Dans le contexte de ce bon de commande, cette association est-elle logique ?\n     Les autres articles du BC suggèrent-ils un univers produit cohérent ?\n\n  D) Contradictions bloquantes (−30 pts si présentes)\n     Y a-t-il des éléments qui rendent la correspondance impossible ?\n     Ex: dimensions incompatibles, familles de produits opposées\n\nÉTAPE 3 — RÈGLE DE DÉCISION PAR ARTICLE :\n  - score_semantique ≥ 50 pts → match_confirme = true\n  - score_semantique < 50 pts → match_confirme = false\n  - Si aucune ligne ne dépasse 50 pts → choisir la meilleure et signaler l'incertitude\n\nRÈGLES IMPORTANTES :\n- Les apostrophes et accents manquants dans l'OCR sont normaux → ne pas pénaliser\n- Une désignation OCR courte peut être une version abrégée de la désignation ERP\n- Les normes techniques (08B1, 16B2, 1/2\", etc.) sont des indices forts\n- \"Equerre\" et \"AILE 90°\" désignent la même géométrie en langage industriel\n- Une quantité ou montant OCR inférieur à l'ERP est NORMAL (réception partielle)\n- Une quantité ou montant différent n'est PAS un motif de rejet à cette étape\n\n⚠️ IMPORTANT — UTILISER UNIQUEMENT LES DONNÉES FOURNIES :\nPour chaque article, le champ numero_bl, numero_bc et code_article_erp\ndoivent être repris EXACTEMENT depuis les données de l'article traité.\nNe pas inventer de valeurs. Ne pas mélanger les données entre articles.\n\n═══════════════════════════════════════\nFORMAT JSON STRICT — NE RETOURNER QUE CECI\n═══════════════════════════════════════\n\nUn tableau avec UN objet par article, dans le même ordre que l'input :\n\n[\n  {\n    \"bl\": {\n      \"numero_bl\": \"<reprendre numero_bl de l'article>\",\n      \"date_bc\": \"<reprendre date_bc de l'article>\",\n      \"numero_bc\": \"<reprendre numero_bc de l'article>\"\n    },\n      \"code_fournisseur\":\"<reprendre code_fournisseur de l'article>\",\n      \"quantite_ocr\":\"<reprendre quantite_ocr de l'article>\",\n      \"marque\": \"<reprendre marque de l'article>\",\n    \"matching\": {\n      \"designation_ocr\": \"<reprendre designation_ocr de l'article>\",\n      \"designation_erp\": \"<designation de la ligne ERP choisie>\",\n      \"code_article_erp\": \"<code_article de la ligne ERP choisie>\",\n      \"analyse_semantique\": {\n        \"decomposition_ocr\": [\n          {\n            \"mot\": \"\",\n            \"categorie\": \"TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\",\n            \"interpretation\": \"\"\n          }\n        ],\n        \"evaluation_candidates\": [\n          {\n            \"code_article\": \"\",\n            \"designation\": \"\",\n            \"score_semantique\": 0,\n            \"detail\": {\n              \"A_famille_produit\":        {\"points\": 0, \"max\": 40, \"justification\": \"\"},\n              \"B_caracteristiques_tech\":  {\"points\": 0, \"max\": 30, \"justification\": \"\"},\n              \"C_coherence_contextuelle\": {\"points\": 0, \"max\": 20, \"justification\": \"\"},\n              \"D_contradictions\":         {\"points\": 0, \"max\": 0,  \"justification\": \"\"}\n            }\n          }\n        ],\n        \"meilleur_candidat\": \"\",\n        \"justification_choix\": \"\"\n      },\n      \"match_confirme\": true,\n      \"niveau_confiance\": \"ELEVE | MOYEN | FAIBLE\",\n      \"alerte\": \"\",\n      \"justification_globale\": \"\"\n    }\n  }\n]","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction et de verification les designation des articles declarer  de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et aussi les donnes recuperer depuis sql.\ndonc il faut les verifier "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[928,-20160],"id":"24a6695c-721b-443c-86e2-65be40e928e9","name":"Basic LLM Chain"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4dbfb1f-7d88-4212-bcf2-5a43b24b8204","leftValue":"={{ $('Code2').item.json.statut }}","rightValue":"non_matched","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,-20400],"id":"4c95a1d3-19ad-4743-8287-24629075497b","name":"If"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"designation_ocr","value":"={{ $('Edit Fields').item.json.designation_ocr }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1136,-20704],"id":"42638465-53aa-48fb-b4ae-c873ece0b689","name":"Insert rows in a table7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[640,-20688],"id":"20bc3c19-ddec-4dc3-bfd8-3a53e7aa39ec","name":"Execute a SQL query7","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,-20688],"id":"a17e4141-23f7-4ce0-9530-3b46a3ce979a","name":"If12"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.input.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.details_x3.ITMDES_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.details_x3.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.details_x3.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.details_x3.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.input.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.details_x3.XMARQ_0 }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.input.POHNUM_0 }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.input.reference_ocr }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.input.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"={{ $json.score }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-20688],"id":"138aecf9-1609-469c-ba0f-23a45041efe2","name":"Edit Fields"},{"parameters":{"fileSelector":"={{ $json.formatted_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-5056,-20544],"id":"eb017f79-4407-4aa4-9306-ea27a062d470","name":"Read/Write Files from Disk1"},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Adapter les noms de nodes ci-dessous selon votre workflow réel\n\n// ── Source 1 : toutes les lignes ERP (BC / PORDERQ) ─\nconst erpItems = $('Microsoft SQL2').all(); // <-- remplacer par le vrai nom du node\n\n// ── Source 2 : les cas non matchés (structure avec .input et .statut) ─\nconst allCandidats = $input.all(); // ou $('Nom du Node Matching').all()\nconst unmatched = allCandidats.filter(item => item.json.statut === 'non_matched');\n\n// ── Regrouper les lignes ERP par numéro de BC ─\nconst bcGroups = {};\nfor (const item of erpItems) {\n  const bc = item.json.POHNUM_0;\n  if (!bc) continue;\n  if (!bcGroups[bc]) bcGroups[bc] = [];\n  // Éviter les doublons de lignes ERP (même ITMREF_0)\n  const alreadyIn = bcGroups[bc].some(r => r.ITMREF_0 === item.json.ITMREF_0);\n  if (!alreadyIn) bcGroups[bc].push(item.json);\n}\n\n// ── Construire un item par cas non résolu avec toutes les lignes ERP dispo ─\nconst toProcess = unmatched.map(item => {\n  const data = item.json.input; // les données OCR sont imbriquées ici\n  const bc   = data.POHNUM_0;\n  const erpLines = bcGroups[bc] || [];\n\n  return {\n    json: {\n      // Données OCR du cas non résolu\n      designation_ocr:   data.designation_ocr,\n      reference_ocr:      data.reference_ocr,\n      montant_ht_ocr:     data.montant_ht_ocr,\n      quantite_ocr:       data.quantite_ocr,\n      prix_unitaire_ocr:  data.prix_unitaire_ocr,\n      numero_bl:          data.numero_bl,\n      date_bc:            data.ORDDAT_0,\n      code_fournisseur:   data.BPSNUM_0,\n      numero_bc:          bc,\n\n      // Score / contexte (adapté aux nouveaux noms de champs)\n      _statut_initial:    item.json.statut,\n      _score_initial:     item.json.score,\n      _skip_reason:       data.skip_numerique_reason,\n      _nb_bc_candidats:   item.json.nb_bc_candidats,\n      _bc_candidats:      item.json.bc_candidats,\n\n      // Toutes les lignes ERP disponibles pour ce BC (pour le prompt Claude)\n      erp_candidates: JSON.stringify(\n        erpLines.map(r => ({\n          code_article: r.ITMREF_0,\n          designation:  r.ITMDES1_0,\n          quantite:     r.Quantite,\n          montant_ht:   r.montant_ht\n        }))\n      )\n    }\n  };\n});\n\nreturn toProcess;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-20160],"id":"73c16375-9b7d-4d00-a27f-fef399a00286","name":"Code4"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.text || item.json.output || item.json.content || '';\n\n  let parsed = null;\n\n  // ── Tentative 1 : extraire tableau JSON depuis ```json ... ``` ──\n  const fenceMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (fenceMatch) {\n    try { parsed = JSON.parse(fenceMatch[1]); } catch (e) { parsed = null; }\n  }\n\n  // ── Tentative 2 : extraire tableau brut [ ... ] ──────────────\n  if (!parsed) {\n    const bracketMatch = text.match(/\\[[\\s\\S]*\\]/);\n    if (bracketMatch) {\n      try { parsed = JSON.parse(bracketMatch[0]); } catch (e) { parsed = null; }\n    }\n  }\n\n  // ── Échec total ───────────────────────────────────────────────\n  if (!parsed || !Array.isArray(parsed)) {\n    results.push({\n      json: {\n        _parse_error:   true,\n        _raw_text:      text,\n        _alerte:        'Impossible de parser la réponse LLM',\n        match_confirme: false\n      }\n    });\n    continue;\n  }\n\n  // ── Aplatir chaque objet du tableau ──────────────────────────\n  for (const entry of parsed) {\n    const bl       = entry.bl       || {};\n    const matching = entry.matching || {};\n\n    results.push({\n      json: {\n        // BL\n        numero_bl:                bl.numero_bl   || '',\n        date_bc:                  bl.date_bc     || '',\n        numero_bc:                bl.numero_bc   || '',\n        code_fournisseur:         entry.code_fournisseur || '',\n        quantite_ocr:             entry.quantite_ocr || '',\n        marque:                   entry.marque || '',\n\n        // Matching principal\n        designation_ocr:          matching.designation_ocr  || '',\n        designation_erp:          matching.designation_erp  || '',\n        code_article_erp:         matching.code_article_erp || '',\n\n        // Résultat final\n        match_confirme:           matching.match_confirme   ?? false,\n        niveau_confiance:         matching.niveau_confiance || '',\n        alerte:                   matching.alerte           || '',\n        justification_globale:    matching.justification_globale || '',\n\n        // Analyse sémantique\n        semantique_candidat:      matching.analyse_semantique?.meilleur_candidat     || '',\n        semantique_score:         matching.analyse_semantique?.evaluation_candidates?.[0]?.score_semantique ?? null,\n        semantique_justification: matching.analyse_semantique?.justification_choix   || '',\n        semantique_decomposition: matching.analyse_semantique?.decomposition_ocr     || [],\n\n        // JSON complet pour audit\n        _raw_json: entry\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-20160],"id":"4d4210e9-cb93-4aa6-93ae-8e2cf5a98b65","name":"Code12"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,-20160],"id":"a1b82570-9bf2-4a90-a030-1455c5e840bf","name":"Aggregate"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields5').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields5').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields5').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields5').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields5').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields5').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields5').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields5').item.json.date_import }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[2384,-20144],"id":"72bee4d8-3d03-4cf5-bc0a-d5e08ed0130f","name":"Insert rows in a table8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1920,-20176],"id":"a2df78d3-18af-4f93-b351-08a6aff01fd0","name":"Execute a SQL query8","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2144,-20160],"id":"69f97798-5330-434c-a7bc-52d1ed564bca","name":"If13"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.designation_erp }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.code_article_erp }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.date_bc }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-20176],"id":"e0b950f0-b49f-421b-a622-d96b3860d1d7","name":"Edit Fields5"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Récupérer le tableau data du premier item\nconst dataArray = items[0].json.data || [];\n\n// Construire le prompt avec les vraies données sérialisées\nconst articlesJson = JSON.stringify(dataArray, null, 2);\nconst nbArticles   = dataArray.length;\n\n// Construire un résumé lisible article par article pour le prompt\nconst articlesReadable = dataArray.map((article, index) => {\n  const candidates = JSON.parse(article.erp_candidates || '[]');\n  const candidatesReadable = candidates.map(c =>\n    `      · [${c.code_article}] ${c.designation} | Qté: ${c.quantite} | Montant HT: ${c.montant_ht}`\n  ).join('\\n');\n\n  return `ARTICLE ${index + 1} :\n  - designation_ocr   : ${article.designation_ocr}\n  - montant_ht_ocr    : ${article.montant_ht_ocr}\n  - quantite_ocr      : ${article.quantite_ocr}\n  - numero_bl         : ${article.numero_bl}\n  - date_bc           : ${article.date_bc}\n  - marque            : ${article.marque}\n  - code_fournisseur  : ${article.code_fournisseur}\n  - numero_bc         : ${article.numero_bc}\n  - score_initial     : ${article._score_initial}%\n  - alerte_initiale   : ${article._alerte_initiale}\n  - erp_candidates    :\n${candidatesReadable}`;\n}).join('\\n\\n' + '─'.repeat(50) + '\\n\\n');\n\nreturn [{\n  json: {\n    nb_articles:      nbArticles,\n    articles_readable: articlesReadable,\n    articles_json:    articlesJson,\n    // Conserver les données originales pour le parsing après LLM\n    original_data:    dataArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-20160],"id":"0deb05ac-84cc-4654-a0fb-da8592ad4d08","name":"Code13"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1445ed2b-d28c-43b0-a995-4b442d427127","leftValue":"={{ $json.match_confirme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-20160],"id":"9bd539a9-c261-4e83-afbb-a41461bfbcd8","name":"If14"},{"parameters":{"command":"=C:\\split_pdf\\script.bat \"{{ $json.body.pdf_path }}\" \"{{ $json.body.output_dir }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-6064,-20560],"id":"c5d7d643-b165-419b-b75d-fd53ee7370cc","name":"Execute Command2"},{"parameters":{"httpMethod":"POST","path":"bon_livraison","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-6288,-20560],"id":"1d7e137f-1b67-4240-8cfc-b22b28366491","name":"Webhook1","webhookId":"7019a2ec-4891-4210-b039-3de304471936"},{"parameters":{"jsCode":"const output = items[0].json.stdout;\nconst result = JSON.parse(output);\n\n// Retourner chaque fichier comme un item séparé avec le chemin complet formaté\nreturn result.files.map(file => ({\n  json: {\n    page_number: file.page_number,\n    file_name: file.file_name,\n    file_path: file.file_path,\n    // Nouveau champ avec le chemin formaté pour n8n\n    formatted_path: `C:/hicham/data/document_pages/${file.file_name}`,\n    total_pages: result.total_pages\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5840,-20560],"id":"c84738f8-69b0-4a2d-881e-e8026bb7169b","name":"Code14"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-5568,-20560],"id":"27cb7356-4896-428d-b7b7-77b58633043f","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[-5280,-20816],"id":"dcb454fb-6a8e-4a90-924e-21473c50804c"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3904,-20352],"id":"9b72e6ae-fabd-47df-8d9e-d8fd0aea452a","name":"Wait5","webhookId":"84c2a8f1-3ab5-42c3-96b6-ee8e347fdd40"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1312,-20672],"id":"67de9913-20af-4a0a-97ab-1cfefd26839d","name":"Insert rows in a table9","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[944,-19904],"id":"15a4d3d7-636e-4a93-aabf-0b1a7d02c302","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-5296,-20544],"id":"a04efc21-8c57-4f0c-9aa5-757335e08b01","name":"Wait6","webhookId":"8337bc5d-2b18-4777-8741-b58d53cf2356"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  console.log(\"ORDDAT_0 =\", item.json.ORDDAT_0);\n  console.log(\"TOUTES LES CLÉS =\", Object.keys(item.json));\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,-20688],"id":"8c448ebb-9120-4292-b7a8-e1060ab01c40","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8750546-250c-48fb-8c55-d22dc4ca0b42","leftValue":"={{ $json.status_bc }}","rightValue":"MULTIPLE_BC","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2912,-20544],"id":"efcfd54f-0866-404d-a5db-aac0aaec9c49","name":"If1"},{"parameters":{"jsCode":"const results = [];\nfor (const item of items) {\n  const data = item.json.output;\n  const bcs = (data.numero_bc || \"\")\n    .split(/[-,]/)\n    .map(s => s.trim())\n    .filter(s => s.length > 0);\n\n  const statut_bc = bcs.length > 1 ? \"MULTIPLE_BC\" : \"UNIQUE_BC\";\n\n  for (const ligne of data.lignes || []) {\n    for (const bc of bcs) {\n      results.push({\n        json: {\n          type_document: data.type_document,\n          numero_bl: data.numero_bl,\n          date_bl: data.date_bl,\n          numero_bc: bc,\n          statut_bc: statut_bc,\n          fournisseur_nom: data.fournisseur_nom,\n          base_ht: data.base_ht,\n          tva_montant: data.tva_montant,\n          total_ttc: data.total_ttc,\n          lignes: [ligne]\n        }\n      });\n    }\n  }\n}\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3600,-20544],"id":"a85e1d99-dcce-47ba-91fb-1bd774a5e570","name":"seperateur des items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f77dd142-45fd-493a-911f-73310a79b72b","leftValue":"={{ $json.BPSNUM_0 }}","rightValue":"T1623","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3984,-20848],"id":"34c30d87-3db0-4b93-838b-cf0cee1a9dd9","name":"If2"},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// ── Regrouper les lignes par numero_bl ─\nconst blGroups = {};\n\nfor (const item of items) {\n  const data = item.json.input;\n  const bl = data.numero_bl;\n\n  if (!bl || bl === 'undefined') continue; // ignorer les lignes sans BL\n\n  if (!blGroups[bl]) {\n    blGroups[bl] = {\n      numero_bl: bl,\n      numero_bc: data.POHNUM_0,\n      code_fournisseur: data.BPSNUM_0,\n      date_bc: data.ORDDAT_0,\n      lignes: []\n    };\n  }\n\n  blGroups[bl].lignes.push({\n    designation_ocr:    data.designation_ocr,\n    reference_ocr:      data.reference_ocr,\n    reference_ocr_norm: data.reference_ocr_norm,\n    quantite_ocr:       data.quantite_ocr,\n    prix_unitaire_ocr:  data.prix_unitaire_ocr,\n    montant_ht_ocr:      data.montant_ht_ocr,\n    skip_numerique_reason: data.skip_numerique_reason,\n    statut:              item.json.statut,\n    score:                item.json.score,\n    nb_bc_candidats:      item.json.nb_bc_candidats,\n    bc_candidats:         item.json.bc_candidats\n  });\n}\n\n// ── Construire un item Redis par BL ─\nconst toRedis = Object.values(blGroups).map(group => {\n  const redisData = {\n    numero_bl: group.numero_bl,\n    numero_bc: group.numero_bc,\n    code_fournisseur: group.code_fournisseur,\n    date_bc: group.date_bc,\n    nb_lignes_non_matchees: group.lignes.length,\n    lignes: group.lignes,\n    date_creation: new Date().toISOString(),\n    statut_global: 'en_attente_resolution'\n  };\n\n  return {\n    json: {\n      redis_key: `bl_non_matched:${group.numero_bl}`,\n      redis_value: JSON.stringify(redisData),\n      redis_ttl: 300, // 24h — à ajuster selon besoin\n      user_data: redisData\n    }\n  };\n});\n\nreturn toRedis;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1648,-20400],"id":"6c68d1fc-6689-46a3-829e-374b2027fec5","name":"Code3"},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":"={{ $json.redis_ttl }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1248,-20400],"id":"c63894c1-67b2-4b3a-a0b3-455866dcab35","name":"Redis","credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"operation":"get","key":"={{ $json.redis_key }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-560,-20160],"id":"682c9a79-9cc6-4f01-9426-9d10b35dff66","name":"Redis1","credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"jsCode":"// Node Code n8n - Mode: \"Run Once for All Items\"\n// Ce node suppose que le node précédent a récupéré la valeur Redis (redis_value)\n\nconst items = $input.all();\n\nconst result = [];\n\nfor (const item of items) {\n  // Le champ contenant le JSON stringifié récupéré de Redis\n  // Adapter le nom du champ selon votre node Redis (ex: item.json.value, item.json.data, etc.)\n  const rawValue = item.json.propertyName || item.json.redis_value || item.json.data;\n\n  if (!rawValue) continue;\n\n  let blData;\n  try {\n    blData = typeof rawValue === 'string' ? JSON.parse(rawValue) : rawValue;\n  } catch (e) {\n    // Log d'erreur de parsing, on continue avec l'item suivant\n    result.push({\n      json: {\n        error: `Erreur de parsing JSON: ${e.message}`,\n        raw: rawValue\n      }\n    });\n    continue;\n  }\n\n  // ── Filtrer uniquement les lignes avec statut \"non_matched\" ─\n  const lignesNonMatchees = (blData.lignes || []).filter(\n    ligne => ligne.statut === 'non_matched'\n  );\n\n  // ── Créer un item n8n par ligne non matchée, avec le contexte du BL ─\n  for (const ligne of lignesNonMatchees) {\n    result.push({\n      json: {\n        // Contexte du BL/BC\n        numero_bl: blData.numero_bl,\n        numero_bc: blData.numero_bc,\n        code_fournisseur: blData.code_fournisseur,\n        date_bc: blData.date_bc,\n        date_creation: blData.date_creation,\n        statut_global: blData.statut_global,\n\n        // Détails de la ligne non matchée\n        designation_ocr: ligne.designation_ocr,\n        reference_ocr: ligne.reference_ocr,\n        reference_ocr_norm: ligne.reference_ocr_norm,\n        quantite_ocr: ligne.quantite_ocr,\n        prix_unitaire_ocr: ligne.prix_unitaire_ocr,\n        montant_ht_ocr: ligne.montant_ht_ocr,\n        skip_numerique_reason: ligne.skip_numerique_reason,\n        statut: ligne.statut,\n        score: ligne.score,\n        nb_bc_candidats: ligne.nb_bc_candidats,\n        bc_candidats: ligne.bc_candidats\n      }\n    });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,-20160],"id":"78e2e382-b1e6-4086-b2df-783a2315964e","name":"Code5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41e199f8-4e87-436b-99a0-85d84559ed4d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,-20160],"id":"09c72df9-cb24-4270-b969-56fb1c5d8fe0","name":"If3"}],"connections":{"Microsoft SQL2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If6":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Insert rows in a table6","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Insert rows in a table6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"seperateur des items","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"🔍 OCR Page":{"main":[[{"node":"Information Extractor","type":"main","index":0}],[]]},"Code6":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code12","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"Insert rows in a table7":{"main":[[{"node":"Insert rows in a table9","type":"main","index":0}]]},"Execute a SQL query7":{"main":[[{"node":"If12","type":"main","index":0}]]},"If12":{"main":[[{"node":"Insert rows in a table7","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Execute a SQL query7","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code12":{"main":[[{"node":"If14","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code13","type":"main","index":0}]]},"Insert rows in a table8":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute a SQL query8":{"main":[[{"node":"If13","type":"main","index":0}]]},"If13":{"main":[[{"node":"Insert rows in a table8","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Execute a SQL query8","type":"main","index":0}]]},"Code13":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"If14":{"main":[[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Command2":{"main":[[{"node":"Code14","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Execute Command2","type":"main","index":0}]]},"Code14":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me1","type":"main","index":0}],[{"node":"Wait6","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Insert rows in a table9":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait6":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"If1":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"seperateur des items":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]},"If2":{"main":[[],[]]},"Code3":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"If","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; fr-FR) WindowsPowerShell/5.1.17763.6640","content-type":"application/json","host":"192.168.1.211:5678","content-length":"227","connection":"Keep-Alive"},"params":{},"query":{},"body":{"output_dir":"C:\\hicham\\data\\document_pages","file_name":"SKM_301i26070916540.pdf","pdf_path":"C:\\hicham\\data\\bon_livraison\\SKM_301i26070916540.pdf","detected_at":"2026-07-09 17:54:02"},"webhookUrl":"192.168.1.211:5678/webhook/bon_livraison","executionMode":"production"}}],"Information Extractor":[{"json":{"output":{"type_document":"BON_DE_LIVRAISON","numero_bl":"21787","numero_bc":"BC195079","lignes":[{"reference":"125340","designation":"G2R-1-SN 24VDC (S) RELAIS COMPACT, PLAQUE D IDENTIFICATION, INDICATEUR MECANIQUE, INDICATEUR DEL, 24 VC.C., 1 INVERSEUR, 10 A, MONTAGE SUR SOCLE OMRON","quantite":140,"pu_ht":60,"montant_ht":8400},{"reference":"690420","designation":"P2RFZ-05-E SOCLE, MONTAGE SUR RAIL DIN/EN SURFACE, 5 BROCHES, BORNES ENFICHABLES OMRON","quantite":44,"pu_ht":42,"montant_ht":1848},{"reference":"685032","designation":"P2RF-05-PU SOCLE, RAIL DIN / MONTAGE EN SURFACE, 15.5MM, 5 BROCHES, BORNE PUSH-IN OMRON","quantite":53,"pu_ht":42,"montant_ht":2226}]}}}],"🔍 OCR Page":[{"json":{"pages":[{"index":0,"markdown":"# mest\n\nAutomatisation industrielle, composants capteurs et automates programmables électronique de puissance, comptage connexions électriques, outillage informatique industrielle formations Techniques\n\n![img-0.jpeg](img-0.jpeg)\n\nAssurance Qualité\n\nCasablanca le, 07/07/2026 12:11\n\nBRIQUETERIE JBEL ANNOUR\n\nRéférence Client : 342100957\n\nN° Commande Client : BC195079\n\nMode de livraison : V/S\n\nChargé d'affaire : MUSTAPHA 0661676805\n\nICE:000013302000037\n\nUSINE AIN TAKI OUELED MOUMEN\n\nROUTE RABAT CASABLANCA\n\nMOHAMMEDIA\n\nBON DE LIVRAISON N° : 21787\n\n|  Code Article | Désignation | Qté | P.U. | Montant  |\n| --- | --- | --- | --- | --- |\n|  125340 | G2R-1-SN 24VDC (S) RELAIS COMPACT, PLAQUE D'IDENTIFICATION, INDICATEUR MÉCANIQUE, INDICATEUR DEL, 24 VC.C., 1 INVERSEUR, 10 A, MONTAGE SUR SOCLE OMRON | 140 | 60.00 | 8 400.00  |\n|  690420 | P2RFZ-05-E SOCLE, MONTAGE SUR RAIL DIN/EN SURFACE, 5 BROCHES, BORNES ENFICHABLES OMRON | 44 | 42.00 | 1 848.00  |\n|  685032 | P2RF-05-PU SOCLE, RAIL DIN / MONTAGE EN SURFACE, 15.5MM, 5 BROCHES, BORNE PUSH-IN OMRON | 53 | 42.00 | 2 226.00  |\n|   | **mest composants** 4 Rue de Provins - 20310 Casablanca Tél.: 05.22.30.28.24 / 30.60.52 **LIVRAISON** |  |  |   |\n\nCONDITION DE REGLEMENT : 60 JOURS DATE FACTURE\n\n|  TOTAL H.T. | 12 474.00  |\n| --- | --- |\n|  TOTAL T.V.A. | 2 494.80  |\n|  TOTAL T.T.C. | 14 968.80  |\n\nMATERIEL DE QUALITE, D'ORIGINE GARANTIE\n\nOuverture des magasins\n\nDu lundi au vendredi\n\nde 8H à 12H30 et de 13H30 à 17H30\n\nReçu conforme\n\nSignature et cachet\n\n# LA PRÉSENTE LIVRAISON EST SOUMISE À NOS CONDITIONS GÉNÉRALES DE VENTE\n\nAvant la livraison, tous les produits ont été contrôlés et testés en état de fonctionner. Il est recommandé de bien s'informer et de lire les notices de sécurité et de mise en service du matériel. Un mauvais branchement électrique ou un mauvais emploi exclu notre responsabilité en cas de défectuosité.\n\nLe présent bon de livraison forme l'acte de vente entre mest Composants Electroniques et l'acheteur qui a adhéré sans réserve à nos conditions :\n\n- En renonçant expressément à ses propres conditions d'achat qu'il aurait pu émettre en passant la commande.\n\n- En acceptant d'honorer sans réserve le paiement à l'échéance figurant dans nos conditions particulières de vente sur le présent bon de livraison et sur la facture correspondante.\n\nmest sa composants électrotechniques au capital de 1 370 000 Dh - 4 et 6 rue de Provins - 20310 Casablanca - Tél. : 05 22 30 28 24 / 05 22 30 60 52 - Fax : 05 22 30 14 90\n\nR.C. Casablanca 32445 - C.N.S.S. 1885170 - Patente : 32505371 - Identifiant Fiscal 01621090 - ICE 001539173000039\n\nwww.mestomron.com - www.mestindustrie.com - vente @mestindustrie.com\n\n9/7/'26\n\n16:54","images":[{"id":"img-0.jpeg","top_left_x":586,"top_left_y":18,"bottom_right_x":662,"bottom_right_y":91,"image_base64":null,"image_annotation":null}],"tables":[],"hyperlinks":[],"header":null,"footer":null,"dimensions":{"dpi":87,"height":1018,"width":720},"confidence_scores":null,"blocks":[{"top_left_x":286,"top_left_y":20,"bottom_right_x":435,"bottom_right_y":73,"content":"# mest","type":"title"},{"top_left_x":236,"top_left_y":95,"bottom_right_x":480,"bottom_right_y":182,"content":"Automatisation industrielle, composants capteurs et automates programmables électronique de puissance, comptage connexions électriques, outillage informatique industrielle formations Techniques","type":"text"},{"top_left_x":586,"top_left_y":18,"bottom_right_x":662,"bottom_right_y":91,"content":"![img-0.jpeg](img-0.jpeg)","type":"image","image_id":"img-0.jpeg"},{"top_left_x":585,"top_left_y":94,"bottom_right_x":662,"bottom_right_y":104,"content":"Assurance Qualité","type":"text"},{"top_left_x":489,"top_left_y":174,"bottom_right_x":685,"bottom_right_y":192,"content":"Casablanca le, 07/07/2026 12:11","type":"text"},{"top_left_x":402,"top_left_y":198,"bottom_right_x":577,"bottom_right_y":214,"content":"BRIQUETERIE JBEL ANNOUR","type":"text"},{"top_left_x":32,"top_left_y":223,"bottom_right_x":243,"bottom_right_y":240,"content":"Référence Client : 342100957","type":"text"},{"top_left_x":32,"top_left_y":246,"bottom_right_x":237,"bottom_right_y":261,"content":"N° Commande Client : BC195079","type":"text"},{"top_left_x":32,"top_left_y":267,"bottom_right_x":198,"bottom_right_y":283,"content":"Mode de livraison : V/S","type":"text"},{"top_left_x":32,"top_left_y":290,"bottom_right_x":321,"bottom_right_y":307,"content":"Chargé d'affaire : MUSTAPHA 0661676805","type":"text"},{"top_left_x":402,"top_left_y":237,"bottom_right_x":541,"bottom_right_y":253,"content":"ICE:000013302000037","type":"text"},{"top_left_x":403,"top_left_y":255,"bottom_right_x":614,"bottom_right_y":269,"content":"USINE AIN TAKI OUELED MOUMEN","type":"text"},{"top_left_x":403,"top_left_y":271,"bottom_right_x":575,"bottom_right_y":285,"content":"ROUTE RABAT CASABLANCA","type":"text"},{"top_left_x":403,"top_left_y":292,"bottom_right_x":492,"bottom_right_y":307,"content":"MOHAMMEDIA","type":"text"},{"top_left_x":219,"top_left_y":327,"bottom_right_x":493,"bottom_right_y":346,"content":"BON DE LIVRAISON N° : 21787","type":"caption"},{"top_left_x":22,"top_left_y":355,"bottom_right_x":699,"bottom_right_y":678,"content":"|  Code Article | Désignation | Qté | P.U. | Montant  |\n| --- | --- | --- | --- | --- |\n|  125340 | G2R-1-SN 24VDC (S) RELAIS COMPACT, PLAQUE D'IDENTIFICATION, INDICATEUR MÉCANIQUE, INDICATEUR DEL, 24 VC.C., 1 INVERSEUR, 10 A, MONTAGE SUR SOCLE OMRON | 140 | 60.00 | 8 400.00  |\n|  690420 | P2RFZ-05-E SOCLE, MONTAGE SUR RAIL DIN/EN SURFACE, 5 BROCHES, BORNES ENFICHABLES OMRON | 44 | 42.00 | 1 848.00  |\n|  685032 | P2RF-05-PU SOCLE, RAIL DIN / MONTAGE EN SURFACE, 15.5MM, 5 BROCHES, BORNE PUSH-IN OMRON | 53 | 42.00 | 2 226.00  |\n|   | **mest composants** 4 Rue de Provins - 20310 Casablanca Tél.: 05.22.30.28.24 / 30.60.52 **LIVRAISON** |  |  |   |","type":"table","table_id":null},{"top_left_x":30,"top_left_y":689,"bottom_right_x":322,"bottom_right_y":704,"content":"CONDITION DE REGLEMENT : 60 JOURS DATE FACTURE","type":"text"},{"top_left_x":490,"top_left_y":681,"bottom_right_x":684,"bottom_right_y":744,"content":"|  TOTAL H.T. | 12 474.00  |\n| --- | --- |\n|  TOTAL T.V.A. | 2 494.80  |\n|  TOTAL T.T.C. | 14 968.80  |","type":"table","table_id":null},{"top_left_x":43,"top_left_y":739,"bottom_right_x":373,"bottom_right_y":756,"content":"MATERIEL DE QUALITE, D'ORIGINE GARANTIE","type":"text"},{"top_left_x":32,"top_left_y":778,"bottom_right_x":162,"bottom_right_y":792,"content":"Ouverture des magasins","type":"text"},{"top_left_x":32,"top_left_y":796,"bottom_right_x":135,"bottom_right_y":808,"content":"Du lundi au vendredi","type":"text"},{"top_left_x":32,"top_left_y":809,"bottom_right_x":214,"bottom_right_y":821,"content":"de 8H à 12H30 et de 13H30 à 17H30","type":"text"},{"top_left_x":308,"top_left_y":773,"bottom_right_x":407,"bottom_right_y":788,"content":"Reçu conforme","type":"text"},{"top_left_x":295,"top_left_y":790,"bottom_right_x":421,"bottom_right_y":805,"content":"Signature et cachet","type":"text"},{"top_left_x":104,"top_left_y":875,"bottom_right_x":639,"bottom_right_y":890,"content":"# LA PRÉSENTE LIVRAISON EST SOUMISE À NOS CONDITIONS GÉNÉRALES DE VENTE","type":"title"},{"top_left_x":34,"top_left_y":896,"bottom_right_x":680,"bottom_right_y":916,"content":"Avant la livraison, tous les produits ont été contrôlés et testés en état de fonctionner. Il est recommandé de bien s'informer et de lire les notices de sécurité et de mise en service du matériel. Un mauvais branchement électrique ou un mauvais emploi exclu notre responsabilité en cas de défectuosité.","type":"text"},{"top_left_x":34,"top_left_y":916,"bottom_right_x":651,"bottom_right_y":926,"content":"Le présent bon de livraison forme l'acte de vente entre mest Composants Electroniques et l'acheteur qui a adhéré sans réserve à nos conditions :","type":"text"},{"top_left_x":34,"top_left_y":926,"bottom_right_x":501,"bottom_right_y":936,"content":"- En renonçant expressément à ses propres conditions d'achat qu'il aurait pu émettre en passant la commande.","type":"list"},{"top_left_x":34,"top_left_y":936,"bottom_right_x":673,"bottom_right_y":958,"content":"- En acceptant d'honorer sans réserve le paiement à l'échéance figurant dans nos conditions particulières de vente sur le présent bon de livraison et sur la facture correspondante.","type":"list"},{"top_left_x":43,"top_left_y":966,"bottom_right_x":684,"bottom_right_y":976,"content":"mest sa composants électrotechniques au capital de 1 370 000 Dh - 4 et 6 rue de Provins - 20310 Casablanca - Tél. : 05 22 30 28 24 / 05 22 30 60 52 - Fax : 05 22 30 14 90","type":"footer"},{"top_left_x":130,"top_left_y":979,"bottom_right_x":592,"bottom_right_y":989,"content":"R.C. Casablanca 32445 - C.N.S.S. 1885170 - Patente : 32505371 - Identifiant Fiscal 01621090 - ICE 001539173000039","type":"footer"},{"top_left_x":208,"top_left_y":994,"bottom_right_x":513,"bottom_right_y":1003,"content":"www.mestomron.com - www.mestindustrie.com - vente @mestindustrie.com","type":"footer"},{"top_left_x":627,"top_left_y":994,"bottom_right_x":666,"bottom_right_y":1005,"content":"9/7/'26","type":"footer"},{"top_left_x":679,"top_left_y":995,"bottom_right_x":706,"bottom_right_y":1005,"content":"16:54","type":"footer"}]}],"model":"mistral-ocr-latest","document_annotation":null,"usage_info":{"pages_processed":1,"doc_size_bytes":83691}}}]},"versionId":"791f3b1d-16a3-4c7f-a2a8-6f73e7b39be4","triggerCount":1,"tags":[]}