conge non attachee-D4ulwSeOA0asHpaE.json
{"createdAt":"2026-01-07T16:53:29.580Z","updatedAt":"2026-05-02T20:10:56.000Z","id":"D4ulwSeOA0asHpaE","name":"conge non attachee","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"conge-filtre-test-email","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,2432],"id":"225df2fa-14e3-4279-a046-5f53294d46e8","name":"If - Filtre Email Test1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"conge-not-pdg-email","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,2336],"id":"99fcbc1b-995f-4b23-b3c1-cbf54559d32e","name":"not pdg email1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-848,2528],"id":"a8ff2680-a944-4640-ac93-a87e369766d6","name":"No Operation Email Test1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,2432],"id":"57acbf0f-4a02-4fce-908e-311a495c2460","name":"No Operation PDG Email1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"conge-chat-id-exists-1","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"conge-chat-id-exists-2","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1072,2816],"id":"bfebc182-8577-487c-9d61-9136dda257f4","name":"Si Chat ID Existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"conge-not-pdg-chat-id","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,2720],"id":"0562e906-50f1-453b-8c91-9daa9697ecae","name":"not pdg chat id1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-848,2912],"id":"26140084-4345-43ef-90be-cbdd517346b6","name":"No Operation No Chat ID1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,2816],"id":"665edf2a-3a40-4242-b26a-6fc8549bff7f","name":"No Operation PDG Chat1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    dc.XNUM_0           AS numero_demande_conge,\n    dc.CREDATTIM_0      AS date_creation_demande,\n    dc.YDATCON_0        AS date_controle,\n    dc.CREUSR_0         AS utilisateur_createur,\n\n    P.VALEUR_0          AS delai_total_jours,\n    CAST(P.VALEUR_0 AS INT) AS delai_int,\n\n    COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)       AS code_salarie,\n    COALESCE(x_direct.XNAMSAL_0, x_mapping.XNAMSAL_0) AS nom_salarie,\n    COALESCE(x_direct.XPRENOM_0, x_mapping.XPRENOM_0) AS prenom_salarie,\n    COALESCE(x_direct.XEMAIL_0, x_mapping.XEMAIL_0)   AS email_salarie,\n    COALESCE(x_direct.YTELE_0, x_mapping.YTELE_0)     AS num_telephone_salarie,\n    COALESCE(x_direct.YSUP_0, x_mapping.YSUP_0)       AS code_superieur,\n\n    xx.XNAMSAL_0        AS nom_superieur,\n    xx.XPRENOM_0        AS prenom_superieur,\n    xx.XEMAIL_0         AS email_superieur,\n    xx.YTELE_0          AS num_telephone_sup,\n\n    pdg.XSAL_0          AS code_pdg,\n    pdg.XNAMSAL_0       AS nom_pdg,\n    pdg.XPRENOM_0       AS prenom_pdg,\n    pdg.XEMAIL_0        AS email_pdg,\n    pdg.YTELE_0         AS telephone_pdg,\n\n    -- в”Ђв”Ђв”Ђ DGA в”Ђв”Ђв”Ђ\n    dga.XSAL_0          AS code_dga,\n    dga.XNAMSAL_0       AS nom_dga,\n    dga.XPRENOM_0       AS prenom_dga,\n    dga.XEMAIL_0        AS email_dga,\n    dga.YTELE_0         AS telephone_dga,\n\n    farhat.XSAL_0       AS code_farhat,\n    farhat.XNAMSAL_0    AS nom_farhat,\n    farhat.XPRENOM_0    AS prenom_farhat,\n    farhat.XEMAIL_0     AS email_farhat,\n    farhat.YTELE_0      AS telephone_farhat,\n\n    -- в”Ђв”Ђв”Ђ BAALLAH (NOUVEAU) в”Ђв”Ђв”Ђ\n    baallah.XSAL_0      AS code_baallah,\n    baallah.XNAMSAL_0   AS nom_baallah,\n    baallah.XPRENOM_0   AS prenom_baallah,\n    baallah.XEMAIL_0    AS email_baallah,\n    baallah.YTELE_0     AS telephone_baallah,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ SALARIГ‰ в”Ђв”Ђв”Ђ\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf\n     WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS chat_id_salarie,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf\n     WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS langue_salarie,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf\n     WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS bot_salarie,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ SUPГ‰RIEUR в”Ђв”Ђв”Ђ\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS chat_id_superieur,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS langue_superieur,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS bot_superieur,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ PDG в”Ђв”Ђв”Ђ\n    '8528101210'         AS chat_id_pdg,\n    (SELECT inf.LAN_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n    (SELECT inf.YBOT_0   FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ DGA в”Ђв”Ђв”Ђ\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ FARHAT в”Ђв”Ђв”Ђ\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n    -- в”Ђв”Ђв”Ђ INFOS IA вЂ“ BAALLAH (NOUVEAU) в”Ђв”Ђв”Ђ\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n    DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dc.CREDATTIM_0) AS date_limite,\n    DATEDIFF(DAY, dc.CREDATTIM_0, GETDATE())               AS jours_depuis_creation,\n    DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dc.CREDATTIM_0)) AS jours_restants\n\nFROM jbelrh.JBELRH.XRHDC dc\n\n    LEFT JOIN jbelrh.JBELRH.XSAL x_direct\n        ON x_direct.XSAL_0 = dc.CREUSR_0\n    LEFT JOIN jbelrh.JBELRH.YSALAUS s\n        ON s.USER_0 = dc.CREUSR_0\n    LEFT JOIN jbelrh.JBELRH.XSAL x_mapping\n        ON x_mapping.XSAL_0 = s.XSAL_0\n    LEFT JOIN jbelrh.JBELRH.XSAL xx\n        ON xx.XSAL_0 = COALESCE(x_direct.YSUP_0, x_mapping.YSUP_0)\n    CROSS APPLY (\n        SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YPJDC'\n    ) P\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n    ) pdg\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n    -- в”Ђв”Ђв”Ђ BAALLAH (NOUVEAU) в”Ђв”Ђв”Ђ\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n    ) baallah\n\nWHERE \n    dc.CREDATTIM_0 >= '2024-01-01'\n    AND dc.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n    AND NOT EXISTS (\n        SELECT * FROM jbelrh.JBELRH.AOBJTXT AOBJTXT\n        WHERE dc.XNUM_0 = AOBJTXT.IDENT1_0 AND AOBJTXT.ABREV_0 = 'XRHDC'\n    )\n    -- вњ… Couvre tous les niveaux jusqu'au seuil DGA/BAALLAH (dГ©lai/2)\n    AND DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dc.CREDATTIM_0))\n        <= (CAST(P.VALEUR_0 AS INT) / 2)\n\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1968,2720],"id":"2ba1a4bf-ce65-42e8-84c5-afd85b853ce3","name":"Microsoft SQL - CongГ©s1","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1744,2720],"id":"a469a0cb-e921-4a9f-8373-e838f3221d9f","name":"VГ©rifier DonnГ©es PrГ©sentes2","notes":"Stoppe le workflow si aucune donnГ©e"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1520,2816],"id":"778c7d8c-c213-4330-baf9-8df4e99bfc98","name":"Fin - Aucune DonnГ©e2","notes":"Aucun congГ© Г  traiter aujourd'hui"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log('рџ“Љ STRUCTURATION MULTI-DESTINATION - CONGГ‰S');\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log(`Demandes reГ§ues: ${items.length}`);\n\n// в”Ђв”Ђв”Ђ EXPANSION MULTI-NIVEAUX в”Ђв”Ђв”Ђ\nconst lignesExpansees = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  const jr = data.jours_restants;\n  const delai = parseInt(data.delai_int || data.delai_total_jours || 10);\n\n  const niveauxActifs = [];\n\n  if (jr <= 2)                                      niveauxActifs.push('PDG');\n  if (jr === 3)                                     niveauxActifs.push('SUPERIEUR');\n  if (jr === 4)                                     niveauxActifs.push('SALARIE');\n  if (jr >= 5 && jr <= 8)                           niveauxActifs.push('FARHAT');\n  if (jr > 4 && jr <= Math.floor(delai / 2))        niveauxActifs.push('DGA');\n  // в”Ђв”Ђв”Ђ BAALLAH : mГЄme seuil que DGA (dГ©lai/2) в”Ђв”Ђв”Ђ\n  if (jr > 4 && jr <= Math.floor(delai / 2))        niveauxActifs.push('BAALLAH');\n\n  niveauxActifs.forEach(niveau => {\n    lignesExpansees.push({ data, niveau });\n  });\n});\n\nconsole.log(`Lignes aprГЁs expansion multi-niveaux: ${lignesExpansees.length}`);\n\n// в”Ђв”Ђв”Ђ GROUPEMENT PAR DESTINATAIRE в”Ђв”Ђв”Ђ\nconst notifications = {};\n\nlignesExpansees.forEach(({ data, niveau }) => {\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n\n  switch (niveau) {\n    case 'PDG':\n      destinatairePrincipal = {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      };\n      codeDestinataire = data.code_pdg;\n      break;\n\n    case 'DGA':\n      destinatairePrincipal = {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      };\n      codeDestinataire = data.code_dga;\n      break;\n\n    case 'SUPERIEUR':\n      destinatairePrincipal = {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      };\n      codeDestinataire = data.code_superieur;\n      break;\n\n    case 'SALARIE':\n      destinatairePrincipal = {\n        code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n        email: data.email_salarie, telephone: data.num_telephone_salarie,\n        chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n      };\n      codeDestinataire = data.code_salarie;\n      break;\n\n    case 'FARHAT':\n      destinatairePrincipal = {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat || null, telephone: data.telephone_farhat || null,\n        chat_id: data.chat_id_farhat || null, langue: data.langue_farhat || 'FRA', bot: data.bot_farhat || null\n      };\n      codeDestinataire = data.code_farhat;\n      break;\n\n    // в”Ђв”Ђв”Ђ BAALLAH (NOUVEAU) в”Ђв”Ђв”Ђ\n    case 'BAALLAH':\n      destinatairePrincipal = {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah || null, telephone: data.telephone_baallah || null,\n        chat_id: data.chat_id_baallah || null, langue: data.langue_baallah || 'FRA', bot: data.bot_baallah || null\n      };\n      codeDestinataire = data.code_baallah;\n      break;\n\n    default:\n      return;\n  }\n\n  const cleDestinataire = `${niveau}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: niveau,\n      niveau_escalade: niveau,\n\n      salarie: {\n        code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n        email: data.email_salarie, telephone: data.num_telephone_salarie,\n        chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n      },\n      superieur: {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      },\n      pdg: {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      },\n      dga: {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      },\n      farhat: {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat, telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat, langue: data.langue_farhat, bot: data.bot_farhat\n      },\n      // в”Ђв”Ђв”Ђ BAALLAH (NOUVEAU) в”Ђв”Ђв”Ђ\n      baallah: {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah, telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah, langue: data.langue_baallah, bot: data.bot_baallah\n      },\n      attestations: []\n    };\n  }\n\n  // Г‰viter les doublons de congГ©s dans le mГЄme groupe\n  const dejaPresent = notifications[cleDestinataire].attestations\n    .some(a => a.numero_attestation === data.numero_demande_conge);\n\n  if (!dejaPresent) {\n    notifications[cleDestinataire].attestations.push({\n      numero_attestation: data.numero_demande_conge,\n      date_creation_attestation: data.date_creation_demande,\n      date_controle: data.date_controle,\n      utilisateur_createur: data.utilisateur_createur,\n      delai_total_jours: data.delai_total_jours,\n      date_limite: data.date_limite,\n      jours_depuis_creation: data.jours_depuis_creation,\n      jours_restants: data.jours_restants,\n      salarie_concerne: {\n        code: data.code_salarie,\n        nom: data.nom_salarie,\n        prenom: data.prenom_salarie,\n        email: data.email_salarie,\n        telephone: data.num_telephone_salarie\n      }\n    });\n  }\n});\n\n// в”Ђв”Ђв”Ђ FORMATAGE FINAL в”Ђв”Ђв”Ђ\nconst resultats = Object.values(notifications).map(notif => {\n  const joursMin = Math.min(...notif.attestations.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.attestations.map(a => a.jours_restants));\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.dga.email)       emailCC.push(notif.dga.email);\n    [notif.superieur, notif.salarie, notif.dga].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n\n  } else if (notif.type_destinataire === 'DGA') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    [notif.superieur, notif.salarie].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n\n  } else if (notif.type_destinataire === 'BAALLAH') {\n    // BAALLAH : mГЄme logique CC que DGA\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    [notif.superieur, notif.salarie].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'FARHAT') {\n    // Pas de CC pour FARHAT\n  }\n  // SALARIE в†’ pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    salarie: notif.salarie,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    attestations: notif.attestations,\n    statistiques: {\n      total_attestations: notif.attestations.length,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: notif.attestations[0]?.delai_total_jours || 10\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\nвњ… Notifications structurГ©es: ${resultats.length}`);\n['PDG','DGA','SUPERIEUR','SALARIE','FARHAT','BAALLAH'].forEach(t => {\n  const n = resultats.filter(r => r.type_destinataire === t).length;\n  if (n > 0) console.log(`  - ${t}: ${n}`);\n});\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1520,2624],"id":"cacb8751-a7c3-4ec1-93a4-4748f8e49de6","name":"Structuration par Destinataire2","notes":"Groupe les congГ©s par destinataire avec escalade automatique (PDG/DGA/SUPERIEUR/SALARIE/FARHAT/BAALLAH)"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      'рџ”ґ ALERTE URGENTE - CongГ©s Non AttachГ©s',\n      DGA:      'рџџЈ INFORMATION DIRECTION - CongГ©s Non AttachГ©s',\n      SUPERIEUR:'рџџ  IMPORTANT - CongГ©s Non AttachГ©s',\n      SALARIE:  'рџџЎ Rappel - CongГ©s Г  ComplГ©ter',\n      FARHAT:   'рџ”µ INFO PRГ‰VENTIVE - CongГ©s Г  Surveiller',\n      BAALLAH:  'рџџ¤ INFORMATION RESPONSABLE - CongГ©s Non AttachГ©s'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les demandes de congГ© suivantes nГ©cessitent votre attention IMMГ‰DIATE',\n      DGA:      'Information Direction - Les dossiers suivants ont dГ©passГ© le mi-dГ©lai rГ©glementaire',\n      SUPERIEUR:'Les demandes de congГ© suivantes requiГЁrent votre attention en prioritГ©',\n      SALARIE:  'Rappel concernant vos demandes de congГ© en attente de traitement',\n      FARHAT:   'Information prГ©ventive - Les demandes de congГ© suivantes approchent de leur dГ©lai limite',\n      BAALLAH:  'Information Responsable - Les dossiers suivants ont dГ©passГ© le mi-dГ©lai rГ©glementaire'\n    },\n    cc_message: {\n      base:            'Un message d\\'alerte concernant les demandes de congГ© non attachГ©es suivantes a Г©tГ© envoyГ© Г ',\n      votre_superieur: 'votre supГ©rieur(e)',\n      le_pdg:          'la Direction (PDG)',\n      le_dga:          'la Direction GГ©nГ©rale Adjointe (DGA)',\n      le_farhat:       'le Responsable RH',\n      le_baallah:      'le Responsable (Jaouad Baallah)',\n      action:          'Veuillez prendre les mesures nГ©cessaires pour traiter ces demandes dans les dГ©lais impartis.'\n    },\n    section_stats:        'STATISTIQUES',\n    total:                'Total demandes de congГ©',\n    delai_min:            'DГ©lai minimum',\n    jours:                'jour(s)',\n    section_attestations: 'LISTE DES CONGГ‰S NON ATTACHГ‰S',\n    numero:               'NumГ©ro demande',\n    date_creation:        'Date crГ©ation',\n    creee_par:            'CrГ©Г©e par',\n    salarie_concerne:     'SalariГ© concernГ©',\n    delai:                'DГ©lai',\n    restant:              'restant(s)',\n    limite:               'Limite',\n    delai_total:          'DГ©lai total',\n    action_requise:       'ACTION REQUISE',\n    urgent:               'URGENT - Attacher immГ©diatement les justificatifs',\n    contact:              'Contact Service RH',\n    cordialement:         'Cordialement',\n    signature:            'Service SI/IA - Jbel Annour',\n    message_auto:         'Message automatique',\n    ne_pas_repondre:      'Merci de ne pas rГ©pondre Г  cet email',\n    copie_info:           'рџ“‹ CC',\n    instruction:          'Veuillez attacher les justificatifs manquants Г  ces demandes de congГ© dans les meilleurs dГ©lais.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      'рџ”ґ ШЄЩ†ШЁЩЉЩ‡ Ш№Ш§Ш¬Щ„ - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш©',\n      DGA:      'рџџЈ Щ…Ш№Щ„Щ€Щ…Ш© Щ„Щ„ШҐШЇШ§Ш±Ш© - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш©',\n      SUPERIEUR:'рџџ  Щ‡Ш§Щ… - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш©',\n      SALARIE:  'рџџЎ ШЄШ°ЩѓЩЉШ± - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ Щ„Щ„ШҐЩѓЩ…Ш§Щ„',\n      FARHAT:   'рџ”µ Щ…Ш№Щ„Щ€Щ…Ш© Щ€Щ‚Ш§Ш¦ЩЉШ© - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ Щ„Щ„Щ…Ш±Ш§Щ‚ШЁШ©',\n      BAALLAH:  'рџџ¤ Щ…Ш№Щ„Щ€Щ…Ш© Щ…ШіШ¤Щ€Щ„ - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш©'\n    },\n    salutation: 'Щ…Ш±Ш­ШЁШ§',\n    introduction: {\n      PDG:      'ШЄЩ†ШЁЩЉЩ‡ Ш№Ш§Ш¬Щ„ - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ Ш§Щ„ШЄШ§Щ„ЩЉШ© ШЄШЄШ·Щ„ШЁ Ш§Щ‡ШЄЩ…Ш§Щ…Щѓ Ш§Щ„ЩЃЩ€Ш±ЩЉ',\n      DGA:      'Щ…Ш№Щ„Щ€Щ…Ш© Щ„Щ„ШҐШЇШ§Ш±Ш© - Ш§Щ„Щ…Щ„ЩЃШ§ШЄ Ш§Щ„ШЄШ§Щ„ЩЉШ© ШЄШ¬Ш§Щ€ШІШЄ Щ…Щ†ШЄШµЩЃ Ш§Щ„Щ…Щ‡Щ„Ш© Ш§Щ„Щ†ШёШ§Щ…ЩЉШ©',\n      SUPERIEUR:'Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ Ш§Щ„ШЄШ§Щ„ЩЉШ© ШЄШЄШ·Щ„ШЁ Ш§Щ‡ШЄЩ…Ш§Щ…Щѓ ШЁШ§Щ„ШЈЩ€Щ„Щ€ЩЉШ©',\n      SALARIE:  'ШЄШ°ЩѓЩЉШ± ШЁШ®ШµЩ€Шµ Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ЩЃЩЉ Ш§Щ†ШЄШёШ§Ш± Ш§Щ„Щ…Ш№Ш§Щ„Ш¬Ш©',\n      FARHAT:   'Щ…Ш№Щ„Щ€Щ…Ш© Щ€Щ‚Ш§Ш¦ЩЉШ© - Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ Ш§Щ„ШЄШ§Щ„ЩЉШ© ШЄЩ‚ШЄШ±ШЁ Щ…Щ† ШЄШ§Ш±ЩЉШ® Ш§Щ†ШЄЩ‡Ш§ШЎ Щ…Щ‡Щ„ШЄЩ‡Ш§',\n      BAALLAH:  'Щ…Ш№Щ„Щ€Щ…Ш© Щ…ШіШ¤Щ€Щ„ - Ш§Щ„Щ…Щ„ЩЃШ§ШЄ Ш§Щ„ШЄШ§Щ„ЩЉШ© ШЄШ¬Ш§Щ€ШІШЄ Щ…Щ†ШЄШµЩЃ Ш§Щ„Щ…Щ‡Щ„Ш© Ш§Щ„Щ†ШёШ§Щ…ЩЉШ©'\n    },\n    cc_message: {\n      base:            'ШЄЩ… ШҐШ±ШіШ§Щ„ Ш±ШіШ§Щ„Ш© ШЄЩ†ШЁЩЉЩ‡ ШЁШ®ШµЩ€Шµ Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш© Ш§Щ„ШЄШ§Щ„ЩЉШ© ШҐЩ„Щ‰',\n      votre_superieur: 'Ш±Ш¦ЩЉШіЩѓ Ш§Щ„Щ…ШЁШ§ШґШ±',\n      le_pdg:          'Ш§Щ„ШҐШЇШ§Ш±Ш© (Ш§Щ„Щ…ШЇЩЉШ± Ш§Щ„Ш№Ш§Щ…)',\n      le_dga:          'Ш§Щ„Щ…ШЇЩЉШ±ЩЉШ© Ш§Щ„Ш№Ш§Щ…Ш© Ш§Щ„Щ…ШіШ§Ш№ШЇШ©',\n      le_farhat:       'Щ…ШіШ¤Щ€Щ„ Ш§Щ„Щ…Щ€Ш§Ш±ШЇ Ш§Щ„ШЁШґШ±ЩЉШ©',\n      le_baallah:      'Ш§Щ„Щ…ШіШ¤Щ€Щ„ (Ш¬Щ€Ш§ШЇ ШЁШ№Щ„Ш§Шґ)',\n      action:          'ЩЉШ±Ш¬Щ‰ Ш§ШЄШ®Ш§Ш° Ш§Щ„ШҐШ¬Ш±Ш§ШЎШ§ШЄ Ш§Щ„Щ„Ш§ШІЩ…Ш© Щ„Щ…Ш№Ш§Щ„Ш¬Ш© Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ЩЃЩЉ Ш§Щ„Щ…Щ€Ш§Ш№ЩЉШЇ Ш§Щ„Щ…Ш­ШЇШЇШ©.'\n    },\n    section_stats:        'Ш§Щ„ШҐШ­ШµШ§Ш¦ЩЉШ§ШЄ',\n    total:                'ШҐШ¬Щ…Ш§Щ„ЩЉ Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„',\n    delai_min:            'Ш§Щ„Ш­ШЇ Ш§Щ„ШЈШЇЩ†Щ‰ Щ„Щ„Щ…Щ‡Щ„Ш©',\n    jours:                'ЩЉЩ€Щ…/ШЈЩЉШ§Щ…',\n    section_attestations: 'Щ‚Ш§Ш¦Щ…Ш© Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш©',\n    numero:               'Ш±Щ‚Щ… Ш§Щ„Ш·Щ„ШЁ',\n    date_creation:        'ШЄШ§Ш±ЩЉШ® Ш§Щ„ШҐЩ†ШґШ§ШЎ',\n    creee_par:            'ШЄЩ… ШҐЩ†ШґШ§Ш¤Щ‡Ш§ Щ…Щ† Щ‚ШЁЩ„',\n    salarie_concerne:     'Ш§Щ„Щ…Щ€ШёЩЃ Ш§Щ„Щ…Ш№Щ†ЩЉ',\n    delai:                'Ш§Щ„Щ…Щ‡Щ„Ш©',\n    restant:              'Ш§Щ„Щ…ШЄШЁЩ‚ЩЉШ©',\n    limite:               'Ш§Щ„Ш­ШЇ',\n    delai_total:          'Ш§Щ„Щ…Щ‡Щ„Ш© Ш§Щ„ШҐШ¬Щ…Ш§Щ„ЩЉШ©',\n    action_requise:       'Ш§Щ„ШҐШ¬Ш±Ш§ШЎ Ш§Щ„Щ…Ш·Щ„Щ€ШЁ',\n    urgent:               'Ш№Ш§Ш¬Щ„ - ШҐШ±ЩЃШ§Щ‚ Ш§Щ„Щ…ШіШЄЩ†ШЇШ§ШЄ ЩЃЩ€Ш±Ш§',\n    contact:              'Ш§ШЄШµШ§Щ„ ШЁЩ‚ШіЩ… Ш§Щ„Щ…Щ€Ш§Ш±ШЇ Ш§Щ„ШЁШґШ±ЩЉШ©',\n    cordialement:         'Щ…Ш№ ШЈШ·ЩЉШЁ Ш§Щ„ШЄШ­ЩЉШ§ШЄ',\n    signature:            'Щ‚ШіЩ… SI/IA - Ш¬ШЁЩ„ Ш§Щ„Щ†Щ€Ш±',\n    message_auto:         'Ш±ШіШ§Щ„Ш© ШЄЩ„Щ‚Ш§Ш¦ЩЉШ©',\n    ne_pas_repondre:      'ЩЉШ±Ш¬Щ‰ Ш№ШЇЩ… Ш§Щ„Ш±ШЇ Ш№Щ„Щ‰ Щ‡Ш°Ш§ Ш§Щ„ШЁШ±ЩЉШЇ Ш§Щ„ШҐЩ„ЩѓШЄШ±Щ€Щ†ЩЉ',\n    copie_info:           'рџ“‹ Щ†ШіШ®Ш© Щ„Щ„Ш№Щ„Щ…',\n    instruction:          'ЩЉШ±Ш¬Щ‰ ШҐШ±ЩЃШ§Щ‚ Ш§Щ„Щ…ШіШЄЩ†ШЇШ§ШЄ Ш§Щ„Щ†Ш§Щ‚ШµШ© Щ„Ш·Щ„ШЁШ§ШЄ Ш§Щ„Ш№Ш·Щ„ ЩЃЩЉ ШЈЩ‚Ш±ШЁ Щ€Щ‚ШЄ Щ…Щ…ЩѓЩ†.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      'рџ”ґ URGENT ALERT - Unattached Leave Requests',\n      DGA:      'рџџЈ MANAGEMENT INFORMATION - Unattached Leave Requests',\n      SUPERIEUR:'рџџ  IMPORTANT - Unattached Leave Requests',\n      SALARIE:  'рџџЎ Reminder - Leave Requests to Complete',\n      FARHAT:   'рџ”µ PREVENTIVE INFO - Leave Requests to Monitor',\n      BAALLAH:  'рџџ¤ MANAGER INFORMATION - Unattached Leave Requests'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following leave requests require your IMMEDIATE attention',\n      DGA:      'Management Information - The following files have passed the mid-deadline',\n      SUPERIEUR:'The following leave requests require your priority attention',\n      SALARIE:  'Reminder about your leave requests pending processing',\n      FARHAT:   'Preventive information - The following leave requests are approaching their deadline',\n      BAALLAH:  'Manager Information - The following files have passed the mid-deadline'\n    },\n    cc_message: {\n      base:            'An alert message regarding the following unattached leave requests has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:          'the Management (CEO)',\n      le_dga:          'the Deputy General Manager (DGA)',\n      le_farhat:       'the HR Manager',\n      le_baallah:      'the Manager (Jaouad Baallah)',\n      action:          'Please take the necessary measures to process these leave requests within the specified deadlines.'\n    },\n    section_stats:        'STATISTICS',\n    total:                'Total leave requests',\n    delai_min:            'Minimum deadline',\n    jours:                'day(s)',\n    section_attestations: 'LIST OF UNATTACHED LEAVE REQUESTS',\n    numero:               'Request number',\n    date_creation:        'Creation date',\n    creee_par:            'Created by',\n    salarie_concerne:     'Employee concerned',\n    delai:                'Deadline',\n    restant:              'remaining',\n    limite:               'Limit',\n    delai_total:          'Total deadline',\n    action_requise:       'ACTION REQUIRED',\n    urgent:               'URGENT - Attach supporting documents immediately',\n    contact:              'HR Department Contact',\n    cordialement:         'Best regards',\n    signature:            'IT/AI Department - Jbel Annour',\n    message_auto:         'Automatic message',\n    ne_pas_repondre:      'Please do not reply to this email',\n    copie_info:           'рџ“‹ COPY FOR INFORMATION',\n    instruction:          'Please attach the missing documents to these leave requests as soon as possible.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return 'рџ”ґ';\n  if (jours === 3) return 'рџџ ';\n  if (jours === 4) return 'рџџЎ';\n  if (jours <= 8) return 'рџ”µ';\n  return 'рџџў';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n\n  let emailSubject = (T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE)\n    + ` - ${stats.total_attestations} congГ©(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ“Љ ${T.section_stats}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n\n  if (data.type_destinataire !== 'SALARIE') {\n    emailBody += `\\n${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom} (${data.salarie.code})\\n`;\n  }\n\n  emailBody += `\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ“‹ ${T.section_attestations}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   рџ“… ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   рџ§‘ ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   вЏ° ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   рџљЁ ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += stats.jours_min <= 2 ? `рџљЁ ${T.action_requise}: ${T.urgent}\\n` : `рџ“Њ ${T.instruction}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `рџ“ћ ${T.contact}:\\n`;\n  if (data.superieur?.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom} - Email: ${data.superieur.email} - Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n`;\n  emailBody += `рџ¤– ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG')     emailBody += `рџ”ґ Notification URGENTE envoyГ©e au PDG\\n`;\n  if (data.type_destinataire === 'DGA')     emailBody += `рџџЈ Notification envoyГ©e Г  la DGA\\n`;\n  if (data.type_destinataire === 'BAALLAH') emailBody += `рџџ¤ Notification envoyГ©e Г  Jaouad Baallah\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n\\n`;\n  telegramMessage += `рџ‘¤ *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `рџ“Љ *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `рџ“‹ *${T.section_attestations}*\\n\\n`;\n\n  attestations.slice(0, 5).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   рџ“… ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   рџ§‘ ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   вЏ° ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 5) telegramMessage += `... et ${attestations.length - 5} autre(s) congГ©(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `рџљЁ *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n  const dp = data.destinataire_principal;\n\n  const labelMap = {\n    SUPERIEUR: T.cc_message.votre_superieur,\n    PDG:       T.cc_message.le_pdg,\n    DGA:       T.cc_message.le_dga,\n    FARHAT:    T.cc_message.le_farhat,\n    BAALLAH:   T.cc_message.le_baallah\n  };\n  const label = labelMap[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n\n  const emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_attestations} congГ©(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${label} ${dp.prenom} ${dp.nom}.\\n\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ“Љ ${T.section_stats}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ“‹ ${T.section_attestations}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   рџ“… ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   рџ§‘ ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   вЏ° ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   рџљЁ ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `${T.cc_message.action}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n`;\n  emailBody += `рџ¤– ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `${T.copie_info}\\n${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${label} *${dp.prenom} ${dp.nom}*.\\n\\n`;\n  telegramMessage += `рџ“Љ *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `рџ“‹ *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 3).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   рџ“… ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   рџ§‘ ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   вЏ° ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 3) telegramMessage += `... et ${attestations.length - 3} autre(s) congГ©(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\n// в”Ђв”Ђв”Ђ GГ‰NГ‰RATION DES RГ‰SULTATS в”Ђв”Ђв”Ђ\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // в”Ђв”Ђв”Ђ CC selon le niveau в”Ђв”Ђв”Ђ\n  if (data.type_destinataire === 'SUPERIEUR') {\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'SUPERIEUR'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'DGA') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  // в”Ђв”Ђв”Ђ BAALLAH CC (NOUVEAU) в”Ђв”Ђв”Ђ\n  } else if (data.type_destinataire === 'BAALLAH') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'BAALLAH'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'BAALLAH'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.dga?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.dga, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.dga, cc_pour_profil: 'DGA',\n        meta: { ...data.meta, langue_utilisee: data.dga.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'FARHAT') {\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'FARHAT'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n});\n\nconsole.log('\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log('рџ“§ GГ‰NГ‰RATION DES MESSAGES - CONGГ‰S NON ATTACHГ‰S');\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log(`Total messages gГ©nГ©rГ©s: ${results.length}`);\nconsole.log(`  - Messages principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - Messages CC: ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,2624],"id":"2be7d606-7efe-4be6-828c-8fd53b86b9e3","name":"GГ©nГ©ration Messages Multilingues2","notes":"GГ©nГЁre les messages en FRA/ARA/ENG selon le destinataire (PDG/DGA/SUPERIEUR/SALARIE/FARHAT/BAALLAH)"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-624,2240],"id":"50d00449-cb07-4a87-9f12-c11d95e7ca9f","name":"Envoi Email2","webhookId":"ff126d41-cb9d-42b5-8ace-ad06297e9165","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon escalade"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-624,2624],"id":"54a75698-3020-4509-8aea-26862e4cc6db","name":"Envoi Telegram Principal2","webhookId":"af9e90eb-bc1c-4dbf-998c-b6491a965ebc","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi au destinataire principal"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-400,2432],"id":"dba1add8-bcde-40f2-9650-88d445f50fa1","name":"Fin Workflow2","notes":"Toutes les notifications envoyГ©es"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2192,2720],"id":"f55a0be9-a924-4216-809a-7b7b50e6b21d","name":"Schedule Trigger2"}],"connections":{"If - Filtre Email Test1":{"main":[[{"node":"not pdg email1","type":"main","index":0}],[{"node":"No Operation Email Test1","type":"main","index":0}]]},"not pdg email1":{"main":[[{"node":"Envoi Email2","type":"main","index":0}],[{"node":"No Operation PDG Email1","type":"main","index":0}]]},"Si Chat ID Existe1":{"main":[[{"node":"not pdg chat id1","type":"main","index":0}],[{"node":"No Operation No Chat ID1","type":"main","index":0}]]},"not pdg chat id1":{"main":[[{"node":"Envoi Telegram Principal2","type":"main","index":0}],[{"node":"No Operation PDG Chat1","type":"main","index":0}]]},"Microsoft SQL - CongГ©s1":{"main":[[{"node":"VГ©rifier DonnГ©es PrГ©sentes2","type":"main","index":0}]]},"VГ©rifier DonnГ©es PrГ©sentes2":{"main":[[{"node":"Structuration par Destinataire2","type":"main","index":0}],[{"node":"Fin - Aucune DonnГ©e2","type":"main","index":0}]]},"Structuration par Destinataire2":{"main":[[{"node":"GГ©nГ©ration Messages Multilingues2","type":"main","index":0}]]},"GГ©nГ©ration Messages Multilingues2":{"main":[[{"node":"If - Filtre Email Test1","type":"main","index":0},{"node":"Si Chat ID Existe1","type":"main","index":0}]]},"Envoi Email2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"Envoi Telegram Principal2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Microsoft SQL - CongГ©s1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"792317f0-e5e2-4a41-a656-fab5891156c7","triggerCount":1,"tags":[]}