controle periode d'essaie-E51To4fBAxi7iVlC.json
{"createdAt":"2026-02-11T04:20:17.430Z","updatedAt":"2026-07-23T17:29:35.000Z","id":"E51To4fBAxi7iVlC","name":"controle periode d'essaie","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3920,256],"id":"654fb503-21c5-485c-956e-3a15b72bd8ce","name":"Déclencheur Quotidien - 8h","notes":"Exécution quotidienne à 8h du matin"},{"parameters":{"operation":"executeQuery","query":"-- ═══════════════════════════════════════════════════════════════\n-- REQUÊTE : SUIVI PÉRIODE D'ESSAI AVEC GESTION INITIALE + REDOUBLEMENT\n-- VERSION COMPLÈTE : Inclut les informations du supérieur hiérarchique\n--                  + Manager RH (≤10j) + Coordinatrice RH (≤15j)\n-- ═══════════════════════════════════════════════════════════════\n\nSELECT  \n    -- ─── INFORMATIONS CONTRAT ───\n    c.XNUM_0 as numero_contrat,\n    c.XDAT_0 as date_fiche,\n    c.XSAL_0 as code_salarie,\n    c.XPESSAI_0 as code_periode_essaie,\n    c.XPOST_0 as poste_salarie,\n\n    c.CREUSR_0 as create_user, \n    c.CREDATTIM_0 as date_creation,\n    \n    -- ─── INFORMATIONS SALARIÉ ───\n    s.XPRENOM_0 as prenom_salarie,\n    s.XNAMSAL_0 as nom_salarie,\n    s.XEMAIL_0 as email_salarie,\n    s.XNTEL_0 as telephone_salarie,\n    s.XDTE_0 as date_entree,\nYEAR(s.XDTS_0) AS annee_sortie,\n  s.YSUP_0 as code_superieur_hierarchique,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE c.XSAL_0 = inf.XSAL_0) AS chat_id_salarie,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE c.XSAL_0 = inf.XSAL_0) AS langue_salarie,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE c.XSAL_0 = inf.XSAL_0) AS bot_salarie,\n    \n    u.XSAL_0 as code_utilisateur,\n    \n    -- ─── INFORMATIONS SUPÉRIEUR HIÉRARCHIQUE ───\n    sup.XSAL_0 as code_superieur,\n    sup.XPRENOM_0 as prenom_superieur,\n    sup.XNAMSAL_0 as nom_superieur,\n    sup.XEMAIL_0 as email_superieur,\n    sup.XNTEL_0 as telephone_superieur,\n    sup.ZPOSTE_0 as poste_superieur,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE sup.XSAL_0 = inf.XSAL_0) AS chat_id_superieur,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE sup.XSAL_0 = inf.XSAL_0) AS langue_superieur,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE sup.XSAL_0 = inf.XSAL_0) AS bot_superieur,\n    \n    -- ─── PÉRIODE D'ESSAI (DYNAMIQUE DEPUIS APLSTD) ───\n    pe.LANMES_0 as libelle_periode_essai,\n    pe.LANNUM_0 as code_type_periode,\n    \n    -- ─── INDICATEUR DE PÉRIODE ───\n    CASE \n        WHEN GETDATE() < CASE \n            WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n            WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n            WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n        END THEN 'INITIALE'\n        ELSE 'REDOUBLEMENT'\n    END as type_periode_actuelle,\n    \n    -- ─── CALCUL DURÉES SELON TYPE ───\n    CASE \n        WHEN pe.LANNUM_0 = 1 THEN 3\n        WHEN pe.LANNUM_0 = 2 THEN 1.5\n        WHEN pe.LANNUM_0 = 3 THEN 0.5\n    END as duree_essai_initial_mois,\n    \n    CASE \n        WHEN pe.LANNUM_0 = 1 THEN 6\n        WHEN pe.LANNUM_0 = 2 THEN 3\n        WHEN pe.LANNUM_0 = 3 THEN 1\n    END as duree_essai_redoublement_mois,\n    \n    -- ─── DATES DE FIN PÉRIODE D'ESSAI ───\n    CASE \n        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n    END as date_fin_essai_initial,\n    \n    CASE \n        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n    END as date_fin_essai_redoublement,\n    \n    -- ─── DATE DE FIN APPLICABLE (selon période actuelle) ───\n    CASE \n        WHEN GETDATE() < CASE \n            WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n            WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n            WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n        END THEN \n            CASE \n                WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n            END\n        ELSE \n            CASE \n                WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n            END\n    END as date_fin_essai_applicable,\n    \n    -- ─── JOURS RESTANTS (selon période actuelle) ───\n    DATEDIFF(DAY, GETDATE(), \n        CASE \n            WHEN GETDATE() < CASE \n                WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n            END THEN \n                CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                END\n            ELSE \n                CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n                END\n        END\n    ) as jours_restants,\n    \n    -- ─── NIVEAU D'ESCALADE (DYNAMIQUE selon jours restants) ───\n    -- Logique : ≤10j → RESPO_RH + MANAGER_RH | ≤15j → RESPO_PERSONNEL_RECRUTEMENT + COORDINATRICE_RH\n    CASE \n        WHEN DATEDIFF(DAY, GETDATE(), \n            CASE \n                WHEN GETDATE() < CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                END THEN \n                    CASE \n                        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                    END\n                ELSE \n                    CASE \n                        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n                    END\n            END\n        ) <= 10 THEN 'RESPO_RH_MANAGER_RH'\n        WHEN DATEDIFF(DAY, GETDATE(), \n            CASE \n                WHEN GETDATE() < CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                END THEN \n                    CASE \n                        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                    END\n                ELSE \n                    CASE \n                        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n                        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n                    END\n            END\n        ) <= 15 THEN 'RESPO_PERSONNEL_RECRUTEMENT_COORDINATRICE_RH'\n        ELSE 'OK'\n    END as niveau_notification,\n    \n    -- ─── RESPONSABLE PERSONNEL ───\n    rp.XSAL_0 as code_respo_personnel,\n    rp.XPRENOM_0 as prenom_respo_personnel,\n    rp.XNAMSAL_0 as nom_respo_personnel,\n    rp.XEMAIL_0 as email_respo_personnel,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rp.XSAL_0 = inf.XSAL_0) AS chat_id_respo_personnel,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rp.XSAL_0 = inf.XSAL_0) AS langue_respo_personnel,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rp.XSAL_0 = inf.XSAL_0) AS bot_respo_personnel,\n    \n    -- ─── RESPONSABLE RECRUTEMENT ───\n    rr.XSAL_0 as code_respo_recrutement,\n    rr.XPRENOM_0 as prenom_respo_recrutement,\n    rr.XNAMSAL_0 as nom_respo_recrutement,\n    rr.XEMAIL_0 as email_respo_recrutement,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rr.XSAL_0 = inf.XSAL_0) AS chat_id_respo_recrutement,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rr.XSAL_0 = inf.XSAL_0) AS langue_respo_recrutement,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rr.XSAL_0 = inf.XSAL_0) AS bot_respo_recrutement,\n    \n    -- ─── RESPONSABLE RH ───\n    rrh.XSAL_0 as code_respo_rh,\n    rrh.XPRENOM_0 as prenom_respo_rh,\n    rrh.XNAMSAL_0 as nom_respo_rh,\n    rrh.XEMAIL_0 as email_respo_rh,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rrh.XSAL_0 = inf.XSAL_0) AS chat_id_respo_rh,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rrh.XSAL_0 = inf.XSAL_0) AS langue_respo_rh,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE rrh.XSAL_0 = inf.XSAL_0) AS bot_respo_rh,\n\n    -- ─── MANAGER RH (≤10j — même seuil que RESPO_RH) ───\n    mrh.XSAL_0 as code_manager_rh,\n    mrh.XPRENOM_0 as prenom_manager_rh,\n    mrh.XNAMSAL_0 as nom_manager_rh,\n    mrh.XEMAIL_0 as email_manager_rh,\n    mrh.XNTEL_0 as telephone_manager_rh,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE mrh.XSAL_0 = inf.XSAL_0) AS chat_id_manager_rh,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE mrh.XSAL_0 = inf.XSAL_0) AS langue_manager_rh,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE mrh.XSAL_0 = inf.XSAL_0) AS bot_manager_rh,\n\n    -- ─── COORDINATRICE RH (≤15j — même seuil que RESPO_PERSONNEL_RECRUTEMENT) ───\n    crh.XSAL_0 as code_coordinatrice_rh,\n    crh.XPRENOM_0 as prenom_coordinatrice_rh,\n    crh.XNAMSAL_0 as nom_coordinatrice_rh,\n    crh.XEMAIL_0 as email_coordinatrice_rh,\n    crh.XNTEL_0 as telephone_coordinatrice_rh,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE crh.XSAL_0 = inf.XSAL_0) AS chat_id_coordinatrice_rh,\n    (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE crh.XSAL_0 = inf.XSAL_0) AS langue_coordinatrice_rh,\n    (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE crh.XSAL_0 = inf.XSAL_0) AS bot_coordinatrice_rh\n\nFROM jbelrh.JBELRH.XCONTR c\nLEFT JOIN jbelrh.JBELRH.YSALAUS u ON c.CREUSR_0 = u.USER_0\nLEFT JOIN jbelrh.JBELRH.XSAL s ON s.XSAL_0 = c.XSAL_0\nLEFT JOIN jbelrh.JBELRH.XSAL sup ON sup.XSAL_0 = s.YSUP_0 AND sup.XFLG_0 = 2\nLEFT JOIN jbelrh.JBELRH.APLSTD pe ON pe.LANCHP_0 = 6075 AND pe.LAN_0 = 'FRA' AND pe.LANNUM_0 = c.XPESSAI_0\nLEFT JOIN jbelrh.JBELRH.ZPOSTE p1 ON p1.YNUM_0 = 'PST00052'\nLEFT JOIN jbelrh.JBELRH.XSAL rr ON rr.ZPOSTE_0 = p1.YNUM_0 AND rr.XFLG_0 = 2\nLEFT JOIN jbelrh.JBELRH.ZPOSTE p2 ON p2.YNUM_0 = 'PST00060'\nLEFT JOIN jbelrh.JBELRH.XSAL rp ON rp.ZPOSTE_0 = p2.YNUM_0 AND rp.XFLG_0 = 2\nLEFT JOIN jbelrh.JBELRH.ZPOSTE p3 ON p3.YNUM_0 = 'PST00187'\nLEFT JOIN jbelrh.JBELRH.XSAL rrh ON rrh.ZPOSTE_0 = p3.YNUM_0 AND rrh.XFLG_0 = 2\n-- ── Nouveau : Manager RH ── remplace 'PST_MANAGER_RH' par le vrai code poste\nLEFT JOIN jbelrh.JBELRH.ZPOSTE p4 ON p4.YNUM_0 = 'PST00186'\nLEFT JOIN jbelrh.JBELRH.XSAL mrh ON mrh.ZPOSTE_0 = p4.YNUM_0 AND mrh.XFLG_0 = 2\n-- ── Nouveau : Coordinatrice RH ── remplace 'PST_COORDINATRICE_RH' par le vrai code poste\nLEFT JOIN jbelrh.JBELRH.ZPOSTE p5 ON p5.YNUM_0 = 'PST00188'\nLEFT JOIN jbelrh.JBELRH.XSAL crh ON crh.ZPOSTE_0 = p5.YNUM_0 AND crh.XFLG_0 = 2\n\nWHERE\n    CASE \n        WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n        WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n    END >= GETDATE()\n    AND DATEDIFF(DAY, GETDATE(), \n        CASE \n            WHEN GETDATE() < CASE \n                WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n            END THEN \n                CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(day, 45, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 15, c.XDTE_0)\n                END\n            ELSE \n                CASE \n                    WHEN pe.LANNUM_0 = 1 THEN DATEADD(month, 6, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 2 THEN DATEADD(month, 3, c.XDTE_0)\n                    WHEN pe.LANNUM_0 = 3 THEN DATEADD(day, 30, c.XDTE_0)\n                END\n        END\n    ) <= 15\n  AND s.XFLG_0=2\n\nORDER BY jours_restants ASC, niveau_notification DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-3680,256],"id":"4e267726-f2c3-4026-b26f-820821704c31","name":"SQL - Périodes d'Essai avec Escalade","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}},"notes":"Extraction avec infos supérieurs hiérarchiques"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd60bdb8-7a28-49f1-8f23-70c2f141cd1d","leftValue":"={{ $json.annee_sortie }}","rightValue":1753,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3456,256],"id":"d0306687-46bc-4a5f-8178-d4c00038dddd","name":"Vérifier Données Présentes"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION : RH + SUPÉRIEURS HIÉRARCHIQUES\n// VERSION MISE À JOUR : + Manager RH (≤10j) + Coordinatrice RH (≤15j)\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n  \n  // ══════════════════════════════════════════════════════════\n  // 1. NOTIFICATION AUX RESPONSABLES RH/PERSONNEL/RECRUTEMENT\n  // ══════════════════════════════════════════════════════════\n  \n  // ── NIVEAU ≤ 10j : RESPO_RH + MANAGER_RH ──\n  if (data.niveau_notification === 'RESPO_RH_MANAGER_RH') {\n    \n    // 1a. Responsable RH\n    if (data.code_respo_rh) {\n      const cleRH = `RH_RESPO_RH_${data.code_respo_rh}`;\n      if (!notifications[cleRH]) {\n        notifications[cleRH] = {\n          destinataire_principal: {\n            code: data.code_respo_rh,\n            nom: data.nom_respo_rh,\n            prenom: data.prenom_respo_rh,\n            email: data.email_respo_rh,\n            chat_id: data.chat_id_respo_rh,\n            langue: data.langue_respo_rh,\n            bot: data.bot_respo_rh\n          },\n          type_destinataire: 'RESPO_RH',\n          type_notification: 'RESPONSABLES_RH',\n          niveau_notification: data.niveau_notification,\n          respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n          respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n          respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n          manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n          coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n          contrats: []\n        };\n      }\n      notifications[cleRH].contrats.push({\n        numero_contrat: data.numero_contrat,\n        code_salarie: data.code_salarie,\n        prenom_salarie: data.prenom_salarie,\n        nom_salarie: data.nom_salarie,\n        poste_salarie: data.poste_salarie,\n        date_entree: data.date_entree,\n        libelle_periode_essai: data.libelle_periode_essai,\n        type_periode_actuelle: data.type_periode_actuelle,\n        date_fin_essai_applicable: data.date_fin_essai_applicable,\n        jours_restants: data.jours_restants,\n        superieur_nom: data.nom_superieur,\n        superieur_prenom: data.prenom_superieur\n      });\n    }\n\n    // 1b. Manager RH\n    if (data.code_manager_rh) {\n      const cleMRH = `RH_MANAGER_RH_${data.code_manager_rh}`;\n      if (!notifications[cleMRH]) {\n        notifications[cleMRH] = {\n          destinataire_principal: {\n            code: data.code_manager_rh,\n            nom: data.nom_manager_rh,\n            prenom: data.prenom_manager_rh,\n            email: data.email_manager_rh,\n            chat_id: data.chat_id_manager_rh,\n            langue: data.langue_manager_rh,\n            bot: data.bot_manager_rh\n          },\n          type_destinataire: 'MANAGER_RH',\n          type_notification: 'RESPONSABLES_RH',\n          niveau_notification: data.niveau_notification,\n          respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n          respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n          respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n          manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n          coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n          contrats: []\n        };\n      }\n      notifications[cleMRH].contrats.push({\n        numero_contrat: data.numero_contrat,\n        code_salarie: data.code_salarie,\n        prenom_salarie: data.prenom_salarie,\n        nom_salarie: data.nom_salarie,\n        poste_salarie: data.poste_salarie,\n        date_entree: data.date_entree,\n        libelle_periode_essai: data.libelle_periode_essai,\n        type_periode_actuelle: data.type_periode_actuelle,\n        date_fin_essai_applicable: data.date_fin_essai_applicable,\n        jours_restants: data.jours_restants,\n        superieur_nom: data.nom_superieur,\n        superieur_prenom: data.prenom_superieur\n      });\n    }\n  }\n\n  // ── NIVEAU ≤ 15j : RESPO_PERSONNEL + RESPO_RECRUTEMENT + COORDINATRICE_RH ──\n  if (data.niveau_notification === 'RESPO_PERSONNEL_RECRUTEMENT_COORDINATRICE_RH') {\n\n    // 2a. Responsable Personnel\n    if (data.code_respo_personnel) {\n      const cleRP = `RH_RESPO_PERSONNEL_${data.code_respo_personnel}`;\n      if (!notifications[cleRP]) {\n        notifications[cleRP] = {\n          destinataire_principal: {\n            code: data.code_respo_personnel,\n            nom: data.nom_respo_personnel,\n            prenom: data.prenom_respo_personnel,\n            email: data.email_respo_personnel,\n            chat_id: data.chat_id_respo_personnel,\n            langue: data.langue_respo_personnel,\n            bot: data.bot_respo_personnel\n          },\n          type_destinataire: 'RESPO_PERSONNEL',\n          type_notification: 'RESPONSABLES_RH',\n          niveau_notification: data.niveau_notification,\n          respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n          respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n          respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n          manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n          coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n          contrats: []\n        };\n      }\n      notifications[cleRP].contrats.push({\n        numero_contrat: data.numero_contrat,\n        code_salarie: data.code_salarie,\n        prenom_salarie: data.prenom_salarie,\n        nom_salarie: data.nom_salarie,\n        poste_salarie: data.poste_salarie,\n        date_entree: data.date_entree,\n        libelle_periode_essai: data.libelle_periode_essai,\n        type_periode_actuelle: data.type_periode_actuelle,\n        date_fin_essai_applicable: data.date_fin_essai_applicable,\n        jours_restants: data.jours_restants,\n        superieur_nom: data.nom_superieur,\n        superieur_prenom: data.prenom_superieur\n      });\n    }\n\n    // 2b. Responsable Recrutement\n    if (data.code_respo_recrutement) {\n      const cleRR = `RH_RESPO_RECRUTEMENT_${data.code_respo_recrutement}`;\n      if (!notifications[cleRR]) {\n        notifications[cleRR] = {\n          destinataire_principal: {\n            code: data.code_respo_recrutement,\n            nom: data.nom_respo_recrutement,\n            prenom: data.prenom_respo_recrutement,\n            email: data.email_respo_recrutement,\n            chat_id: data.chat_id_respo_recrutement,\n            langue: data.langue_respo_recrutement,\n            bot: data.bot_respo_recrutement\n          },\n          type_destinataire: 'RESPO_RECRUTEMENT',\n          type_notification: 'RESPONSABLES_RH',\n          niveau_notification: data.niveau_notification,\n          respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n          respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n          respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n          manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n          coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n          contrats: []\n        };\n      }\n      notifications[cleRR].contrats.push({\n        numero_contrat: data.numero_contrat,\n        code_salarie: data.code_salarie,\n        prenom_salarie: data.prenom_salarie,\n        nom_salarie: data.nom_salarie,\n        poste_salarie: data.poste_salarie,\n        date_entree: data.date_entree,\n        libelle_periode_essai: data.libelle_periode_essai,\n        type_periode_actuelle: data.type_periode_actuelle,\n        date_fin_essai_applicable: data.date_fin_essai_applicable,\n        jours_restants: data.jours_restants,\n        superieur_nom: data.nom_superieur,\n        superieur_prenom: data.prenom_superieur\n      });\n    }\n\n    // 2c. Coordinatrice RH\n    if (data.code_coordinatrice_rh) {\n      const cleCRH = `RH_COORDINATRICE_RH_${data.code_coordinatrice_rh}`;\n      if (!notifications[cleCRH]) {\n        notifications[cleCRH] = {\n          destinataire_principal: {\n            code: data.code_coordinatrice_rh,\n            nom: data.nom_coordinatrice_rh,\n            prenom: data.prenom_coordinatrice_rh,\n            email: data.email_coordinatrice_rh,\n            chat_id: data.chat_id_coordinatrice_rh,\n            langue: data.langue_coordinatrice_rh,\n            bot: data.bot_coordinatrice_rh\n          },\n          type_destinataire: 'COORDINATRICE_RH',\n          type_notification: 'RESPONSABLES_RH',\n          niveau_notification: data.niveau_notification,\n          respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n          respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n          respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n          manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n          coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n          contrats: []\n        };\n      }\n      notifications[cleCRH].contrats.push({\n        numero_contrat: data.numero_contrat,\n        code_salarie: data.code_salarie,\n        prenom_salarie: data.prenom_salarie,\n        nom_salarie: data.nom_salarie,\n        poste_salarie: data.poste_salarie,\n        date_entree: data.date_entree,\n        libelle_periode_essai: data.libelle_periode_essai,\n        type_periode_actuelle: data.type_periode_actuelle,\n        date_fin_essai_applicable: data.date_fin_essai_applicable,\n        jours_restants: data.jours_restants,\n        superieur_nom: data.nom_superieur,\n        superieur_prenom: data.prenom_superieur\n      });\n    }\n  }\n  \n  // ══════════════════════════════════════════════════════════\n  // 3. NOTIFICATION AU SUPÉRIEUR HIÉRARCHIQUE (tous niveaux)\n  // ══════════════════════════════════════════════════════════\n  \n  if (data.code_superieur && data.email_superieur) {\n    const cleSup = `SUP_${data.code_superieur}`;\n    \n    if (!notifications[cleSup]) {\n      notifications[cleSup] = {\n        destinataire_principal: {\n          code: data.code_superieur,\n          nom: data.nom_superieur,\n          prenom: data.prenom_superieur,\n          email: data.email_superieur,\n          chat_id: data.chat_id_superieur,\n          langue: data.langue_superieur,\n          bot: data.bot_superieur\n        },\n        type_destinataire: 'SUPERIEUR',\n        type_notification: 'SUPERIEUR_HIERARCHIQUE',\n        niveau_notification: data.niveau_notification,\n        respo_personnel:   { code: data.code_respo_personnel,   nom: data.nom_respo_personnel,   prenom: data.prenom_respo_personnel,   email: data.email_respo_personnel,   chat_id: data.chat_id_respo_personnel,   langue: data.langue_respo_personnel,   bot: data.bot_respo_personnel },\n        respo_recrutement: { code: data.code_respo_recrutement, nom: data.nom_respo_recrutement, prenom: data.prenom_respo_recrutement, email: data.email_respo_recrutement, chat_id: data.chat_id_respo_recrutement, langue: data.langue_respo_recrutement, bot: data.bot_respo_recrutement },\n        respo_rh:          { code: data.code_respo_rh,          nom: data.nom_respo_rh,          prenom: data.prenom_respo_rh,          email: data.email_respo_rh,          chat_id: data.chat_id_respo_rh,          langue: data.langue_respo_rh,          bot: data.bot_respo_rh },\n        manager_rh:        { code: data.code_manager_rh,        nom: data.nom_manager_rh,        prenom: data.prenom_manager_rh,        email: data.email_manager_rh,        chat_id: data.chat_id_manager_rh,        langue: data.langue_manager_rh,        bot: data.bot_manager_rh },\n        coordinatrice_rh:  { code: data.code_coordinatrice_rh,  nom: data.nom_coordinatrice_rh,  prenom: data.prenom_coordinatrice_rh,  email: data.email_coordinatrice_rh,  chat_id: data.chat_id_coordinatrice_rh,  langue: data.langue_coordinatrice_rh,  bot: data.bot_coordinatrice_rh },\n        contrats: []\n      };\n    }\n    \n    notifications[cleSup].contrats.push({\n      numero_contrat: data.numero_contrat,\n      code_salarie: data.code_salarie,\n      prenom_salarie: data.prenom_salarie,\n      nom_salarie: data.nom_salarie,\n      poste_salarie: data.poste_salarie,\n      date_entree: data.date_entree,\n      libelle_periode_essai: data.libelle_periode_essai,\n      type_periode_actuelle: data.type_periode_actuelle,\n      date_fin_essai_applicable: data.date_fin_essai_applicable,\n      jours_restants: data.jours_restants\n    });\n  }\n});\n\n// ══════════════════════════════════════════════════════════\n// CONVERSION EN TABLEAU + ENRICHISSEMENT\n// ══════════════════════════════════════════════════════════\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalContrats = notif.contrats.length;\n  const joursMin = Math.min(...notif.contrats.map(c => c.jours_restants));\n  \n  // Email CC : pour RESPO_RECRUTEMENT, mettre RESPO_PERSONNEL en CC et vice-versa\n  let emailCC = [];\n  if (notif.type_destinataire === 'RESPO_RECRUTEMENT') {\n    if (notif.respo_personnel.email && notif.respo_personnel.code !== notif.destinataire_principal.code) {\n      emailCC.push(notif.respo_personnel.email);\n    }\n  }\n  if (notif.type_destinataire === 'RESPO_PERSONNEL') {\n    if (notif.respo_recrutement.email && notif.respo_recrutement.code !== notif.destinataire_principal.code) {\n      emailCC.push(notif.respo_recrutement.email);\n    }\n  }\n  \n  return {\n    ...notif,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    statistiques: {\n      total_contrats: totalContrats,\n      jours_min: joursMin,\n      priorite: notif.niveau_notification\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!(notif.destinataire_principal.chat_id && notif.destinataire_principal.chat_id.trim && notif.destinataire_principal.chat_id.trim() !== '')\n    }\n  };\n});\n\nconsole.log(`Notifications: ${resultats.length} total`);\nconsole.log(`  RH (≤10j RESPO_RH)       : ${resultats.filter(r => r.type_destinataire === 'RESPO_RH').length}`);\nconsole.log(`  RH (≤10j MANAGER_RH)     : ${resultats.filter(r => r.type_destinataire === 'MANAGER_RH').length}`);\nconsole.log(`  RH (≤15j RESPO_PERSONNEL): ${resultats.filter(r => r.type_destinataire === 'RESPO_PERSONNEL').length}`);\nconsole.log(`  RH (≤15j RESPO_RECRUT.)  : ${resultats.filter(r => r.type_destinataire === 'RESPO_RECRUTEMENT').length}`);\nconsole.log(`  RH (≤15j COORDINATRICE)  : ${resultats.filter(r => r.type_destinataire === 'COORDINATRICE_RH').length}`);\nconsole.log(`  SUPÉRIEURS               : ${resultats.filter(r => r.type_notification === 'SUPERIEUR_HIERARCHIQUE').length}`);\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,160],"id":"4ff1821f-8773-4f09-a8ec-1918ce44f024","name":"Structuration RH + Supérieurs"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION MESSAGES : RH vs SUPÉRIEURS\n// VERSION MISE À JOUR : + Manager RH + Coordinatrice RH\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujets: {\n      RESPO_RH:           '🔴 URGENT - Fins Période Essai (≤10j)',\n      MANAGER_RH:         '🔴 URGENT - Fins Période Essai (≤10j)',\n      RESPO_PERSONNEL:    '🟡 Rappel - Fins Période Essai (≤15j)',\n      RESPO_RECRUTEMENT:  '🟡 Rappel - Fins Période Essai (≤15j)',\n      COORDINATRICE_RH:   '🟡 Rappel - Fins Période Essai (≤15j)',\n      SUPERIEUR:          '📋 Évaluation Période Essai - Votre Collaborateur'\n    },\n    intros: {\n      RESPO_RH:           \"Périodes d'essai arrivant à échéance dans moins de 10 jours.\",\n      MANAGER_RH:         \"En tant que Manager RH, voici les périodes d'essai arrivant à échéance dans moins de 10 jours.\",\n      RESPO_PERSONNEL:    \"Périodes d'essai à surveiller dans les 15 prochains jours.\",\n      RESPO_RECRUTEMENT:  \"En tant que Responsable Recrutement, voici les périodes d'essai à venir dans les 15 prochains jours.\",\n      COORDINATRICE_RH:   \"En tant que Coordinatrice RH, voici les périodes d'essai à coordonner dans les 15 prochains jours.\",\n      SUPERIEUR:          \"La période d'essai de votre collaborateur arrive à échéance. Merci de préparer son évaluation.\"\n    },\n    actions: {\n      RESPO_RH:          '🚨 URGENT - Préparer évaluation immédiatement',\n      MANAGER_RH:        '🚨 URGENT - Superviser les évaluations',\n      RESPO_PERSONNEL:   '💡 Préparer les évaluations',\n      RESPO_RECRUTEMENT: '💡 Anticiper les décisions de recrutement',\n      COORDINATRICE_RH:  '💡 Coordonner le suivi des évaluations',\n      SUPERIEUR:         \"💡 Merci de préparer l'évaluation et de contacter le service RH\"\n    },\n    periode_initiale: '📅 Période INITIALE',\n    periode_redoublement: '🔄 Période RENOUVELABLE',\n    stats: 'STATISTIQUES',\n    total: 'Total dossiers',\n    delai: 'Délai minimum',\n    jours: 'jour(s)',\n    liste: 'LISTE DES SALARIÉS',\n    contrat: 'Contrat',\n    poste: 'Poste',\n    date_entree: 'Entrée',\n    date_fin: 'Fin essai',\n    restant: 'restant(s)',\n    contact_rh: 'Contact RH',\n    cordialement: 'Cordialement',\n    signature: 'Service SI/IA - Groupe JBEL ANNOUR',\n    auto: 'Message automatique'\n  }\n};\n\n// Fonction de formatage de date\nfunction fmt(d) {\n  if (!d) return 'N/A';\n  try { return new Date(d).toLocaleDateString('fr-FR'); } catch (e) { return 'N/A'; }\n}\n\n// Emoji selon urgence\nfunction emojiJours(j) {\n  return j <= 5 ? '🔴' : j <= 10 ? '🟠' : '🟡';\n}\n\n// Échapper les caractères spéciaux Markdown Telegram\nfunction escapeMarkdown(text) {\n  if (!text) return '';\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/[_*[\\]()~`>#+=|{}.!\\-]/g, '\\\\$&');\n}\n\nfunction genererMessage(item) {\n  const data = item.json;\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const isSuperieur = data.type_notification === 'SUPERIEUR_HIERARCHIQUE';\n  const typeD = data.type_destinataire;\n\n  // Langue du destinataire (défaut FRA)\n  const langue = (dest.langue || 'FRA').toUpperCase();\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n\n  const sujet    = T.sujets[typeD]  || T.sujets['SUPERIEUR'];\n  const intro    = T.intros[typeD]  || T.intros['SUPERIEUR'];\n  const action   = T.actions[typeD] || T.actions['SUPERIEUR'];\n\n  // ═══════════════════════════════════════════\n  // CORPS EMAIL\n  // ═══════════════════════════════════════════\n  let body = `Bonjour ${dest.prenom || ''} ${dest.nom || ''},\\n\\n`;\n  body += `${intro}\\n\\n`;\n  body += `${'='.repeat(63)}\\n`;\n  body += `📊 ${T.stats}\\n`;\n  body += `${'='.repeat(63)}\\n\\n`;\n  body += `${emojiJours(stats.jours_min)} ${T.total} : ${stats.total_contrats}\\n`;\n  body += `⏱ ${T.delai} : ${stats.jours_min} ${T.jours}\\n\\n`;\n  body += `${'='.repeat(63)}\\n`;\n  body += `📋 ${T.liste}\\n`;\n  body += `${'='.repeat(63)}\\n\\n`;\n\n  data.contrats.forEach((c, i) => {\n    const plLabel = c.type_periode_actuelle === 'INITIALE' ? T.periode_initiale : T.periode_redoublement;\n\n    body += `${i + 1}. ${emojiJours(c.jours_restants)} ${c.prenom_salarie || ''} ${c.nom_salarie || ''}\\n`;\n    body += `   📄 ${T.contrat}    : ${c.numero_contrat}\\n`;\n    body += `   👤 Code        : ${c.code_salarie}\\n`;\n    body += `   💼 ${T.poste}      : ${c.poste_salarie || 'N/A'}\\n`;\n    body += `   📅 ${T.date_entree} : ${fmt(c.date_entree)}\\n`;\n    body += `   ${plLabel}\\n`;\n    body += `   📆 ${T.date_fin}   : ${fmt(c.date_fin_essai_applicable)}\\n`;\n    body += `   ⏰ ${c.jours_restants} ${T.jours} ${T.restant}\\n`;\n\n    // Supérieur affiché uniquement pour les destinataires RH (pas pour le supérieur lui-même)\n    if (!isSuperieur && c.superieur_nom && c.superieur_prenom) {\n      body += `   👔 Supérieur   : ${c.superieur_prenom} ${c.superieur_nom}\\n`;\n    }\n\n    body += `   ${action}\\n\\n`;\n  });\n\n  // Contact RH pour le supérieur\n  if (isSuperieur) {\n    body += `${'='.repeat(63)}\\n`;\n    if (data.respo_rh && data.respo_rh.email) {\n      body += `📞 ${T.contact_rh} : ${data.respo_rh.email}\\n`;\n    }\n    body += `${'='.repeat(63)}\\n\\n`;\n  }\n\n  // CC info si présent\n  if (data.email_cc) {\n    body += `📋 Copie envoyée à : ${data.email_cc}\\n\\n`;\n  }\n\n  // Signature\n  body += `${T.cordialement},\\n\\n`;\n  body += `${T.signature}\\n\\n`;\n  body += `${'━'.repeat(63)}\\n`;\n  body += `🤖 ${T.auto} - ${fmt(new Date())}\\n`;\n\n  // ═══════════════════════════════════════════\n  // MESSAGE TELEGRAM\n  // ═══════════════════════════════════════════\n  let tgMsg = `${emojiJours(stats.jours_min)} *${escapeMarkdown(sujet)}*\\n`;\n  tgMsg += `${'━'.repeat(21)}\\n\\n`;\n  tgMsg += `👤 *${escapeMarkdown(dest.prenom || '')} ${escapeMarkdown(dest.nom || '')}*\\n\\n`;\n  tgMsg += `📊 ${escapeMarkdown(T.total)} : *${stats.total_contrats}*\\n`;\n  tgMsg += `⏱ ${escapeMarkdown(T.delai)} : *${stats.jours_min} ${T.jours}*\\n\\n`;\n  tgMsg += `📋 *${escapeMarkdown(T.liste)}*\\n\\n`;\n\n  // Limiter à 5 contrats dans Telegram pour éviter les messages trop longs\n  data.contrats.slice(0, 5).forEach((c, i) => {\n    const pe = c.type_periode_actuelle === 'INITIALE' ? '📅' : '🔄';\n    tgMsg += `${i + 1}\\\\. ${emojiJours(c.jours_restants)} *${escapeMarkdown(c.prenom_salarie || '')} ${escapeMarkdown(c.nom_salarie || '')}*\\n`;\n    tgMsg += `   📄 ${escapeMarkdown(c.numero_contrat)}\\n`;\n    tgMsg += `   ${pe} ${escapeMarkdown(c.type_periode_actuelle)}\\n`;\n    tgMsg += `   📆 ${escapeMarkdown(fmt(c.date_fin_essai_applicable))}\\n`;\n    tgMsg += `   ⏰ ${c.jours_restants} ${escapeMarkdown(T.jours)}\\n\\n`;\n  });\n\n  if (data.contrats.length > 5) {\n    tgMsg += `\\\\.\\\\.\\\\. et ${data.contrats.length - 5} autre\\\\(s\\\\)\\n\\n`;\n  }\n\n  if (isSuperieur && data.respo_rh && data.respo_rh.email) {\n    tgMsg += `📞 ${escapeMarkdown(T.contact_rh)} : ${escapeMarkdown(data.respo_rh.email)}\\n`;\n  }\n\n  // ═══════════════════════════════════════════\n  // RETOUR FINAL\n  // ═══════════════════════════════════════════\n  return {\n    json: {\n      ...data,\n      messages: {\n        email: {\n          subject: `${sujet} - ${stats.total_contrats} dossier(s)`,\n          body,\n          to: dest.email || null,\n          cc: data.email_cc || null\n        },\n        telegram: {\n          text: tgMsg,\n          parse_mode: 'MarkdownV2',\n          chat_id: dest.chat_id && dest.chat_id.trim && dest.chat_id.trim() !== '' ? dest.chat_id : null\n        }\n      },\n      meta: {\n        ...data.meta,\n        date_generation: new Date().toISOString()\n      }\n    }\n  };\n}\n\nreturn inputData.map(genererMessage);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,160],"id":"281a4594-86a3-4f96-92ec-f84ec9ea1b0b","name":"Génération Messages (RH + Sup)"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.messages.email.cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-2528,-176],"id":"5020b004-0c1a-481b-8c39-9849be0518fc","name":"Envoi Email","webhookId":"c372547e-8bd2-4c12-8b5a-3ec2e002feaf","retryOnFail":false,"credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"={{ $json.destinataire_principal.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2288,208],"id":"84316615-f6fc-4507-af2d-6770df8a454a","name":"Envoi Telegram","webhookId":"b928d23f-5d96-44ff-8c9b-77a694ebff79","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2064,16],"id":"e906e99e-6979-4a17-9f39-c3448b7bec2b","name":"Fin Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca4c637b-84e0-42b9-8814-b2a19364d18a","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}},{"id":"66146157-2656-4ce6-83a5-50eee01fbabf","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2768,400],"id":"ebc99010-17ca-4f3f-9bd0-4a36cfc9065d","name":"Si Chat ID Existe"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2544,496],"id":"53ddd75f-1019-4765-a5b7-40bd8eae38e2","name":"Pas de Telegram"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2528,112],"id":"530877bb-40c9-4734-b413-e5ff051ac7ac","name":"No Operation, do nothing1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bb0905fc-0af9-463e-a264-8c065824940d","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,304],"id":"92af9e57-d4b3-4af3-b4ea-235f0ca614e6","name":"not pdg chat Id"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2304,448],"id":"710b4d24-cc8f-448d-854f-44993e34cdc9","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f417d865-ce12-4b53-948b-d69ec75984ee","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"PDG@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2752,-32],"id":"4c4e43ff-a294-4ae9-a7b7-9397860909ff","name":"not pdg email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a7964d9-5113-4312-9443-7be2069ad850","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"chargee.de.recrutement.2@jbel-annour.ma","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2496,-496],"id":"21180475-984d-4698-b095-f4587eba887e","name":"If"}],"connections":{"Déclencheur Quotidien - 8h":{"main":[[{"node":"SQL - Périodes d'Essai avec Escalade","type":"main","index":0}]]},"SQL - Périodes d'Essai avec Escalade":{"main":[[{"node":"Vérifier Données Présentes","type":"main","index":0}]]},"Vérifier Données Présentes":{"main":[[{"node":"Structuration RH + Supérieurs","type":"main","index":0}],[]]},"Structuration RH + Supérieurs":{"main":[[{"node":"Génération Messages (RH + Sup)","type":"main","index":0}]]},"Génération Messages (RH + Sup)":{"main":[[{"node":"Si Chat ID Existe","type":"main","index":0},{"node":"not pdg email","type":"main","index":0}]]},"Envoi Email":{"main":[[{"node":"Fin Workflow","type":"main","index":0}]]},"Envoi Telegram":{"main":[[{"node":"Fin Workflow","type":"main","index":0}]]},"Si Chat ID Existe":{"main":[[{"node":"not pdg chat Id","type":"main","index":0}],[{"node":"Pas de Telegram","type":"main","index":0}]]},"not pdg chat Id":{"main":[[{"node":"Envoi Telegram","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"not pdg email":{"main":[[{"node":"Envoi Email","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"If":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Africa/Casablanca","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Déclencheur Quotidien - 8h1":{"recurrenceRules":[]},"node:Déclencheur Quotidien - 8h":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"297a4360-0f33-44df-9793-331d570852fe","triggerCount":1,"tags":[]}