demission-bKyonbPsi3sGW3ca.json
{"createdAt":"2026-02-02T19:15:21.026Z","updatedAt":"2026-02-12T17:40:56.000Z","id":"bKyonbPsi3sGW3ca","name":"demission","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"demission","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,752],"id":"9088ef24-3c83-495d-804b-862b8eee4384","name":"Webhook1","webhookId":"d2209f0d-f7f9-4543-9f74-8cd1113f6172"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,752],"id":"6cb181f5-18c4-4036-972f-94765f959247","name":"Merge1"},{"parameters":{"jsCode":"// ============================================================================\n// CODE 3 - EXTRACTION ET COMBINAISON DES VALEURS CATEGORIE ET PREAVIS\n// ============================================================================\n\nconst items = $input.all();\n\n// Initialiser les variables pour stocker les valeurs\nlet categorie = \"non définie\";\nlet preavis = \"non définie\";\n\n// Parcourir tous les items pour extraire CATEGORIE et PREAVIS\nitems.forEach(item => {\n  const lanchp = item.json[\"$resources\"][0].LANCHP;\n  const lanmes = item.json[\"$resources\"][0].LANMES;\n  const lannum = item.json[\"$resources\"][0].LANNUM;\n  \n  if (lanchp === 6262) {\n    // Menu 6262 → CATEGORIE\n    categorie = (lannum === 0 || lannum === null) ? \"non définie\" : lanmes;\n    \n  } else if (lanchp === 6263) {\n    // Menu 6263 → PREAVIS\n    preavis = (lanmes === \"1234\" || lannum === 1234 ) ? \"non définie\" : lanmes;\n  }\n});\n\n// Retourner UN SEUL item avec les deux valeurs combinées\nreturn [\n  {\n    json: {\n      CATEGORIE: categorie,\n      PREAVIS: preavis\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,752],"id":"4cc1fa56-b29b-4caf-ba9b-b428b7d9b2e2","name":"check if dure preavis and categorie pas definie"},{"parameters":{"jsCode":"// ============================================================================\n// CODE - MAPPING DES DONNÉES SAGE X3 AVEC CONVERSION DES CODES\n// ============================================================================\n\n// Récupérer les données du HTTP Request (XDEMISSION)\nconst xdemissionData = $node[\"récupérer donnes selon numéro démission\"].json;\n\n// Récupérer les données de Code3 (CATEGORIE et PREAVIS)\nconst code3Data = $input.first().json;\n\nconst mapping = {\n  XNUM: \"no_dossier\",\n  XSAL: \"code_salarie\",\n  XDATENT: \"date_entree\",\n  XDATDEM: \"date_demission\",\n  XFLGLEG: \"signature_legalisee\",\n  XTYPSAL: \"categorie_csp\",\n  XDURPR: \"duree_preavis\",\n  XDATPR: \"date_fin_preavis\",\n  XRMPINT: \"remplacant_interim\",\n  XPVVAL: \"validation_pv_passation\",\n  XMATOK: \"restitution_materiel\",\n  XDRKLNK: \"lien_recrutement\",\n  XFLGREMP: \"flag_remplacement\",\n  XPOSTE: \"poste\",\n  XMOTIF: \"motif_demission\",\n  XDATACC: \"date_preavis_accorde\"\n};\n\n// Tables de conversion pour duree_preavis (en jours)\nconst dureePreavisMapping = {\n  \"CE\": 0,\n  \"non définie\": 0,\n  \"8 jours\": 8,\n  \"1 mois\": 30,\n  \"2 mois\": 60,\n  \"3 mois\": 90\n};\n\nconst output = {};\n\n// Méta-informations\noutput.source = \"SageX3\";\n\n// Mapper les champs depuis XDEMISSION\nfor (const key in xdemissionData) {\n  if (mapping[key]) {\n    let value = xdemissionData[key];\n    \n    // Conversion spéciale pour XTYPSAL (catégorie CSP)\n    if (key === \"XTYPSAL\") {\n      value = code3Data.CATEGORIE;\n    }\n    \n    // Conversion spéciale pour XDURPR (durée de préavis)\n    if (key === \"XDURPR\") {\n      const preavisText = code3Data.PREAVIS;\n      value = dureePreavisMapping[preavisText] !== undefined \n        ? dureePreavisMapping[preavisText] \n        : 0;\n    }\n    \n    output[mapping[key]] = value;\n  }\n}\n\n// Ajouter les valeurs textuelles pour référence\noutput.categorie_csp_text = code3Data.CATEGORIE;\noutput.duree_preavis_text = code3Data.PREAVIS;\n\nreturn [{ json: output }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,752],"id":"204fd6d5-7edf-4372-b8cd-7930c8ee1ef4","name":"Mapping ALL data"},{"parameters":{"operation":"executeQuery","query":"select \n  s.XSAL_0 as code_salarie,\n  s.XNAMSAL_0 as nom_salarie,\n  s.XPRENOM_0 as prenom_salarie,\n  s.XEMAIL_0 as email_salarie,\n  s.YTELE_0 as telephone_salarie,\n  s.YSUP_0 as code_superieur,\n  ss.XNAMSAL_0 as nom_superieur,\n  ss.XPRENOM_0 as prenom_superieur,\n  ss.XEMAIL_0 as email_superieur,\n  ss.YTELE_0 as telephone_superieur,\n  (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = s.XSAL_0) AS chat_id_salarie,\n  (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = s.XSAL_0) AS langue_salarie,\n  (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = ss.XSAL_0) AS chat_id_superieur,\n  (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = ss.XSAL_0) AS langue_superieur,\n  (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = 'S1479') AS chat_id_rh,\n  (SELECT inf.LAN_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = 'S1479') AS langue_rh,\n  (SELECT s.XNAMSAL_0 FROM jbelrh.JBELRH.XSAL s WHERE s.XSAL_0 ='S1479' ) AS nom_rh,\n  (SELECT s.XPRENOM_0 FROM jbelrh.JBELRH.XSAL s WHERE s.XSAL_0 ='S1479' ) AS prenom_rh,\n  (SELECT s.XSAL_0 FROM jbelrh.JBELRH.XSAL s WHERE s.XSAL_0 ='S1479' ) AS code_rh,\n  (SELECT s.XEMAIL_0 FROM jbelrh.JBELRH.XSAL s WHERE s.XSAL_0 ='S1479' ) AS email_rh\nfrom jbelrh.JBELRH.XSAL s\nleft join jbelrh.JBELRH.XSAL ss on ss.XSAL_0=s.YSUP_0\nwhere s.XSAL_0='{{ $json.code_salarie }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[1152,752],"id":"c836c850-482c-4e6c-bfd5-61f1bf833c1e","name":"recuperer les donnes selon le code salarie","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"jsCode":"// Script n8n pour générer des notifications de démission personnalisées en 3 langues\n// À placer dans un nœud Code après le nœud Microsoft SQL\n\n// ============================================================================\n// TEMPLATES DE MESSAGES PAR LANGUE\n// ============================================================================\n\nconst messageTemplates = {\n  // ========== MESSAGES POUR LE SALARIÉ DÉMISSIONNAIRE ==========\n  employee: {\n    FRA: {\n      subject: \"Confirmation - Demande de démission enregistrée\",\n      body: `Bonjour {{prenom}} {{nom}},\n\nVotre demande de démission a été insérée dans le système avec succès.\n\n📋 INFORMATIONS DE VOTRE DOSSIER :\n• Numéro de dossier : {{no_dossier}}\n• Code salarié : {{code_salarie}}\n• Poste : {{poste}}\n• Catégorie : {{categorie_csp_text}}\n• Date de démission : {{date_demission}}\n• Durée de préavis : {{duree_preavis_text}}\n• Date de fin de préavis : {{date_fin_preavis}}\n\n⚠️ ACTIONS OBLIGATOIRES AVANT VOTRE DÉPART :\n\n1️⃣ PROCÈS-VERBAL DE PASSATION\nMerci de prendre l'initiative d'organiser le PV de passation avec votre responsable et votre remplaçant intérim.\n\n2️⃣ RESTITUTION DU MATÉRIEL\nMerci de faire la restitution de tous les matériels de l'entreprise et d'obtenir votre décharge.\n\n3️⃣ LÉGALISATION DE LA DÉMISSION\n\n4️⃣ NÉGOCIATION DU PRÉAVIS (OPTIONNEL)\nSi vous souhaitez négocier la durée de votre préavis, merci de formuler votre demande auprès du service RH.\n\nLe service SI reste à votre disposition pour toute question.\n\nCordialement,\nLe Service SI`\n    },\n    ENG: {\n      subject: \"Confirmation - Resignation Request Registered\",\n      body: `Hello {{prenom}} {{nom}},\n\nYour resignation request has been successfully registered in the system.\n\n📋 YOUR FILE INFORMATION:\n• File number: {{no_dossier}}\n• Employee code: {{code_salarie}}\n• Position: {{poste}}\n• Category: {{categorie_csp_text}}\n• Resignation date: {{date_demission}}\n• Notice period: {{duree_preavis_text}}\n• End of notice period: {{date_fin_preavis}}\n\n⚠️ MANDATORY ACTIONS BEFORE YOUR DEPARTURE:\n\n1️⃣ HANDOVER REPORT\nPlease take the initiative to organize the handover report with your manager and interim replacement.\n\n2️⃣ EQUIPMENT RETURN\nPlease return all company equipment and obtain your discharge certificate.\n\n3️⃣ RESIGNATION LEGALIZATION\n\n4️⃣ NOTICE PERIOD NEGOTIATION (OPTIONAL)\nIf you wish to negotiate your notice period duration, please submit your request to the HR department.\n\nThe HR department is available for any questions.\n\nBest regards,\nHuman Resources Department`\n    },\n    ARA: {\n      subject: \"تأكيد - تسجيل طلب الاستقالة\",\n      body: `مرحباً {{prenom}} {{nom}}\n\nتم إدراج طلب استقالتك في النظام بنجاح.\n\n────────────────────────────────\n📋 معلومات ملفك\n\n{{no_dossier}} : رقم الملف\n{{code_salarie}} : رمز الموظف\n{{poste}} : المنصب\n{{categorie_csp_text}} : الفئة\n{{date_demission}} : تاريخ الاستقالة\n{{duree_preavis_text}} : مدة الإشعار\n{{date_fin_preavis}} : تاريخ نهاية فترة الإشعار\n\n────────────────────────────────\n⚠️ الإجراءات الإلزامية قبل مغادرتك\n\n1️⃣ محضر التسليم\nيرجى اتخاذ المبادرة لتنظيم محضر التسليم مع مديرك وبديلك المؤقت.\n\n2️⃣ إرجاع المعدات\nيرجى إرجاع جميع معدات الشركة والحصول على شهادة الإبراء.\n\n3️⃣ توثيق الاستقالة\n\n4️⃣ التفاوض على فترة الإشعار (اختياري)\nإذا كنت ترغب في التفاوض على مدة فترة الإشعار، يرجى تقديم طلبك إلى قسم الموارد البشرية.\n\n────────────────────────────────\nقسم نظام المعلومات متاح للإجابة على أي أسئلة.\n\nمع أطيب التحيات\nقسم نظام المعلومات`\n    }\n  },\n\n  // ========== MESSAGES POUR LE SUPÉRIEUR ==========\n  manager: {\n    FRA: {\n      subject: \"Information : Démission d'un membre de votre équipe\",\n      body: `Bonjour {{prenom_superieur}} {{nom_superieur}},\n\nNous vous informons qu'un membre de votre équipe a déposé une demande de démission.\n\n👤 Informations sur le salarié :\n• Nom : {{prenom_salarie}} {{nom_salarie}}\n• Code salarié : {{code_salarie}}\n• Poste : {{poste}}\n• Catégorie : {{categorie_csp_text}}\n• Email : {{email_salarie}}\n• Téléphone : {{telephone_salarie}}\n\n📅 Informations sur la démission :\n• Numéro de dossier : {{no_dossier}}\n• Date de démission : {{date_demission}}\n• Durée du préavis : {{duree_preavis_text}}\n• Date de fin de préavis : {{date_fin_preavis}}\n• Motif: {{motif_demission}}\n\n⚠️ ACTIONS REQUISES DE VOTRE PART :\n1. ✅ Organiser le procès-verbal de passation de service\n2. ✅ Récupérer le matériel de l'entreprise\n3. ✅ Valider le transfert des dossiers et responsabilités\n{{remplacant_interim}}\n\nLe service SI reste à votre disposition pour tout accompagnement.\n\nCordialement,\nLe Service SI`\n    },\n    ENG: {\n      subject: \"Notice: Resignation of a Team Member\",\n      body: `Hello {{prenom_superieur}} {{nom_superieur}},\n\nWe inform you that a member of your team has submitted a resignation request.\n\n👤 Employee Information:\n• Name: {{prenom_salarie}} {{nom_salarie}}\n• Employee code: {{code_salarie}}\n• Position: {{poste}}\n• Category: {{categorie_csp_text}}\n• Email: {{email_salarie}}\n• Phone: {{telephone_salarie}}\n\n📅 Resignation Details:\n• File number: {{no_dossier}}\n• Resignation date: {{date_demission}}\n• Notice period: {{duree_preavis_text}}\n• End of notice period: {{date_fin_preavis}}\n• Reason: {{motif_demission}}\n\n⚠️ REQUIRED ACTIONS:\n1. ✅ Organize handover meeting\n2. ✅ Collect company equipment\n3. ✅ Validate transfer of files and responsibilities\n{{remplacant_interim}}\n\nThe IS department is available for any support needed.\n\nBest regards,\nIS Department`\n    },\n    ARA: {\n      subject: \"إشعار: استقالة أحد أعضاء فريقك\",\n      body: `مرحباً {{prenom_superieur}} {{nom_superieur}}\n\nنبلغكم بأن أحد أعضاء فريقك قد قدم طلب استقالة.\n\n────────────────────────────────\n👤 معلومات الموظف\n\n{{prenom_salarie}} {{nom_salarie}} : الاسم\n{{code_salarie}} : رمز الموظف\n{{poste}} : المنصب\n{{categorie_csp_text}} : الفئة\n{{email_salarie}} : البريد الإلكتروني\n{{telephone_salarie}} : الهاتف\n\n────────────────────────────────\n📅 تفاصيل الاستقالة\n\n{{no_dossier}} : رقم الملف\n{{date_demission}} : تاريخ الاستقالة\n{{duree_preavis_text}} : مدة الإشعار\n{{date_fin_preavis}} : تاريخ نهاية الإشعار\n{{motif_demission}} : السبب\n\n────────────────────────────────\n⚠️ الإجراءات المطلوبة\n\n✅ .1 تنظيم اجتماع تسليم المهام\n✅ .2 استلام معدات الشركة\n✅ .3 التحقق من نقل الملفات والمسؤوليات\n\n{{remplacant_interim}}\n\n────────────────────────────────\nقسم نظام المعلومات متاح لأي دعم مطلوب.\n\nمع أطيب التحيات\nقسم نظام المعلومات`\n    }\n  },\n\n  // ========== MESSAGES POUR LE RH ==========\n  hr: {\n    FRA: {\n      subject: \"🔔 Nouvelle démission - Action requise\",\n      body: `Bonjour {{prenom_rh}} {{nom_rh}},\n\nUne nouvelle demande de démission a été enregistrée dans le système.\n\n📋 INFORMATIONS DU DOSSIER :\n• Numéro : {{no_dossier}}\n• Date de création : {{date_demission}}\n\n👤 SALARIÉ DÉMISSIONNAIRE :\n• Nom : {{prenom_salarie}} {{nom_salarie}}\n• Code : {{code_salarie}}\n• Email : {{email_salarie}}\n• Téléphone : {{telephone_salarie}}\n• Poste : {{poste}}\n• Catégorie CSP : {{categorie_csp_text}}\n\n👔 SUPÉRIEUR HIÉRARCHIQUE :\n• Nom : {{prenom_superieur}} {{nom_superieur}}\n• Code : {{code_superieur}}\n• Email : {{email_superieur}}\n• Téléphone : {{telephone_superieur}}\n\n📅 DATES IMPORTANTES :\n• Date d'entrée : {{date_entree}}\n• Date de démission : {{date_demission}}\n• Durée du préavis : {{duree_preavis_text}}\n• Date de fin de préavis : {{date_fin_preavis}}\n{{date_preavis_accorde}}\n\n📝 DÉTAILS ADDITIONNELS :\n• Motif : {{motif_demission}}\n• Signature légalisée : {{signature_legalisee}}\n\n{{alert_remplacant}}\n1. Vérifier la complétude du dossier\n2. Planifier l'entretien de sortie\n3. Lancer la procédure de remplacement si nécessaire\n4. Organiser les formalités administratives\n\n───────────────────────────────────────\nNotification automatique - Système SI`\n    },\n    ENG: {\n      subject: \"🔔 New Resignation - Action Required\",\n      body: `Hello {{prenom_rh}} {{nom_rh}},\n\nA new resignation request has been registered in the system.\n\n📋 FILE INFORMATION:\n• Number: {{no_dossier}}\n• Creation date: {{date_demission}}\n\n👤 RESIGNING EMPLOYEE:\n• Name: {{prenom_salarie}} {{nom_salarie}}\n• Code: {{code_salarie}}\n• Email: {{email_salarie}}\n• Phone: {{telephone_salarie}}\n• Position: {{poste}}\n• CSP Category: {{categorie_csp_text}}\n\n👔 LINE MANAGER:\n• Name: {{prenom_superieur}} {{nom_superieur}}\n• Code: {{code_superieur}}\n• Email: {{email_superieur}}\n• Phone: {{telephone_superieur}}\n\n📅 IMPORTANT DATES:\n• Hire date: {{date_entree}}\n• Resignation date: {{date_demission}}\n• Notice period: {{duree_preavis_text}}\n• End of notice: {{date_fin_preavis}}\n{{date_preavis_accorde}}\n\n📝 ADDITIONAL DETAILS:\n• Reason: {{motif_demission}}\n• Legalized signature: {{signature_legalisee}}\n\n{{alert_remplacant}}\n1. Check file completeness\n2. Schedule exit interview\n3. Initiate replacement process if needed\n4. Organize administrative formalities\n\n───────────────────────────────────────\nAutomatic notification - IS`\n    },\n    ARA: {\n      subject: \"🔔 استقالة جديدة - إجراء مطلوب\",\n      body: `مرحباً {{prenom_rh}} {{nom_rh}}\n\nتم تسجيل طلب استقالة جديد في النظام.\n\n════════════════════════════════════════\n📋 معلومات الملف\n\n{{no_dossier}} : الرقم\n{{date_demission}} : تاريخ الإنشاء\n\n════════════════════════════════════════\n👤 الموظف المستقيل\n\n{{prenom_salarie}} {{nom_salarie}} : الاسم\n{{code_salarie}} : الرمز\n{{email_salarie}} : البريد الإلكتروني\n{{telephone_salarie}} : الهاتف\n{{poste}} : المنصب\n{{categorie_csp_text}} : الفئة المهنية\n\n════════════════════════════════════════\n👔 المدير المباشر\n\n{{prenom_superieur}} {{nom_superieur}} : الاسم\n{{code_superieur}} : الرمز\n{{email_superieur}} : البريد الإلكتروني\n{{telephone_superieur}} : الهاتف\n\n════════════════════════════════════════\n📅 التواريخ المهمة\n\n{{date_entree}} : تاريخ التوظيف\n{{date_demission}} : تاريخ الاستقالة\n{{duree_preavis_text}} : مدة الإشعار\n{{date_fin_preavis}} : تاريخ نهاية الإشعار\n{{date_preavis_accorde}}\n\n════════════════════════════════════════\n📝 تفاصيل إضافية\n\n{{motif_demission}} : السبب\n{{signature_legalisee}} : توقيع موثق\n\n════════════════════════════════════════\n{{alert_remplacant}}\n✅ .1 التحقق من اكتمال الملف\n✅ .2 جدولة مقابلة الخروج\n✅ .3 بدء عملية الاستبدال إذا لزم الأمر\n✅ .4 تنظيم الإجراءات الإدارية\n\n════════════════════════════════════════\nإشعار تلقائي - نظام إدارة نظام المعلومات`\n    }\n  }\n};\n\n// ============================================================================\n// FONCTIONS UTILITAIRES\n// ============================================================================\n\nfunction formatDate(dateString) {\n  if (!dateString) return 'Non spécifiée';\n  const date = new Date(dateString);\n  if (isNaN(date.getTime())) return dateString;\n  \n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  \n  return `${day}/${month}/${year}`;\n}\n\nfunction calculateEndDate(startDate, daysToAdd) {\n  if (!startDate || !daysToAdd) return null;\n  \n  const date = new Date(startDate);\n  date.setDate(date.getDate() + parseInt(daysToAdd));\n  \n  return date.toISOString().split('T')[0];\n}\n\nfunction getLanguage(langCode) {\n  if (!langCode || langCode.trim() === '') return 'FRA';\n  \n  const lang = langCode.toUpperCase().trim();\n  return ['FRA', 'ENG', 'ARA'].includes(lang) ? lang : 'FRA';\n}\n\nfunction replaceVariables(template, data) {\n  let result = template;\n  \n  for (const [key, value] of Object.entries(data)) {\n    const placeholder = new RegExp(`{{${key}}}`, 'g');\n    result = result.replace(placeholder, value || '');\n  }\n  \n  return result;\n}\n \n// ============================================================================\n// FONCTION PRINCIPALE\n// ============================================================================\n\nconst sqlData = $input.first().json;\nconst mappedData = $node[\"Mapping ALL data\"].json;\n\nconst dateFinPreavis = mappedData.date_fin_preavis || \n  calculateEndDate(mappedData.date_demission, mappedData.duree_preavis);\n\nconst commonData = {\n  no_dossier: mappedData.no_dossier || 'N/A',\n  code_salarie: sqlData.code_salarie || mappedData.code_salarie || 'N/A',\n  poste: mappedData.poste || 'Non spécifié',\n  categorie_csp_text: mappedData.categorie_csp_text || 'Non spécifiée',\n  \n  date_entree: formatDate(mappedData.date_entree),\n  date_demission: formatDate(mappedData.date_demission),\n  duree_preavis: mappedData.duree_preavis || '0',\n  duree_preavis_text: mappedData.duree_preavis_text || 'Non spécifiée',\n  date_fin_preavis: formatDate(dateFinPreavis),\n  \n  nom_salarie: sqlData.nom_salarie || 'N/A',\n  prenom_salarie: sqlData.prenom_salarie || 'N/A',\n  email_salarie: sqlData.email_salarie || 'N/A',\n  telephone_salarie: sqlData.telephone_salarie || 'N/A',\n  \n  code_superieur: sqlData.code_superieur || 'N/A',\n  nom_superieur: sqlData.nom_superieur || 'N/A',\n  prenom_superieur: sqlData.prenom_superieur || 'N/A',\n  email_superieur: sqlData.email_superieur || 'N/A',\n  telephone_superieur: sqlData.telephone_superieur || 'N/A',\n  \n  code_rh: sqlData.code_rh || 'S1479',\n  nom_rh: sqlData.nom_rh || 'N/A',\n  prenom_rh: sqlData.prenom_rh || 'N/A',\n  email_rh: sqlData.email_rh || 'N/A',\n  \n  motif_demission: mappedData.motif_demission ? `: ${mappedData.motif_demission}` : '',\n  signature_legalisee: mappedData.signature_legalisee ? 'Oui' : 'Non',\n  date_preavis_accorde: mappedData.date_preavis_accorde ? \n    `• Préavis accordé le : ${formatDate(mappedData.date_preavis_accorde)}` : '',\n  \n  remplacant_interim: mappedData.remplacant_interim ? \n    `• Remplaçant intérim : ${mappedData.remplacant_interim}` : '',\n};\n\nif (!mappedData.remplacant_interim || mappedData.remplacant_interim.trim() === '') {\n  commonData.alert_remplacant = '🚨 ATTENTION : Aucun remplaçant intérim n\\'est défini !\\n';\n} else {\n  commonData.alert_remplacant = '';\n}\n\nconst langueSalarie = getLanguage(sqlData.langue_salarie);\nconst langueSuperieur = getLanguage(sqlData.langue_superieur);\nconst langueRH = getLanguage(sqlData.langue_rh);\n\nconst notifications = [\n  {\n    destinataire: 'employee',\n    type: 'Salarié',\n    langue: langueSalarie,\n    nom: `${commonData.prenom_salarie} ${commonData.nom_salarie}`,\n    email: commonData.email_salarie,\n    telephone: commonData.telephone_salarie,\n    chat_id: sqlData.chat_id_salarie,\n    subject: messageTemplates.employee[langueSalarie].subject,\n    body: replaceVariables(\n      messageTemplates.employee[langueSalarie].body,\n      {\n        ...commonData,\n        nom: commonData.nom_salarie,\n        prenom: commonData.prenom_salarie\n      }\n    )\n  },\n  {\n    destinataire: 'manager',\n    type: 'Supérieur',\n    langue: langueSuperieur,\n    nom: `${commonData.prenom_superieur} ${commonData.nom_superieur}`,\n    email: commonData.email_superieur,\n    telephone: commonData.telephone_superieur,\n    chat_id: sqlData.chat_id_superieur,\n    subject: messageTemplates.manager[langueSuperieur].subject,\n    body: replaceVariables(\n      messageTemplates.manager[langueSuperieur].body,\n      commonData\n    )\n  },\n  {\n    destinataire: 'hr',\n    type: 'RH',\n    langue: langueRH,\n    nom: `${commonData.prenom_rh} ${commonData.nom_rh}`,\n    email: commonData.email_rh,\n    telephone: 'N/A',\n    chat_id: sqlData.chat_id_rh,\n    subject: messageTemplates.hr[langueRH].subject,\n    body: replaceVariables(\n      messageTemplates.hr[langueRH].body,\n      commonData\n    )\n  }\n];\n\nreturn notifications.map(notif => ({\n  json: {\n    notification_type: notif.type,\n    destinataire_role: notif.destinataire,\n    langue: notif.langue,\n    \n    destinataire_nom: notif.nom,\n    destinataire_email: notif.email,\n    destinataire_telephone: notif.telephone,\n    destinataire_chat_id: notif.chat_id,\n    \n    email_subject: notif.subject,\n    email_body: notif.body,\n    \n    dossier: {\n      no_dossier: commonData.no_dossier,\n      code_salarie: commonData.code_salarie,\n      nom_complet: `${commonData.prenom_salarie} ${commonData.nom_salarie}`,\n      date_demission: commonData.date_demission,\n      date_fin_preavis: commonData.date_fin_preavis,\n      lien_sage: commonData.lien_dossier\n    },\n    \n    timestamp: new Date().toISOString()\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,752],"id":"1257f74d-25c0-49a1-82b8-b91fa9c700d8","name":"personaliser les messages email"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"=elghalbzouri.hicham01@gmail.com","subject":"={{ $json.email_subject }}","emailFormat":"text","text":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1568,752],"id":"18a51a5f-fcf8-4fe1-bb06-71fa39012b85","name":"Send email","webhookId":"0f9cfe4a-03ba-404f-818d-7d63cf4b816e","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/APLSTD?representation=APLSTD.$query&Where=LANCHP eq 6262 and LAN eq 'FRA' and LANNUM eq {{ $json.XTYPSAL }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,624],"id":"af6f6649-05f8-4813-951d-b12d6f659420","name":"récupérer l'intitule de catégorie","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/APLSTD?representation=APLSTD.$query&Where=LANCHP eq 6263 and LAN eq 'FRA' and LANNUM eq {{ $json.XDURPR }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,896],"id":"db99d10d-d638-4586-bff7-89b4172791e6","name":"recuperer la duree de preavis","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/XDEMISSION('{{ $json.body.NoDossier }}')?representation=XDEMISSION.$details ","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,752],"id":"2742ba43-40af-4302-99d7-4e65a1b7420f","name":"récupérer donnes selon numéro démission","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}}],"connections":{"Webhook1":{"main":[[{"node":"récupérer donnes selon numéro démission","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"check if dure preavis and categorie pas definie","type":"main","index":0}]]},"check if dure preavis and categorie pas definie":{"main":[[{"node":"Mapping ALL data","type":"main","index":0}]]},"Mapping ALL data":{"main":[[{"node":"recuperer les donnes selon le code salarie","type":"main","index":0}]]},"recuperer les donnes selon le code salarie":{"main":[[{"node":"personaliser les messages email","type":"main","index":0}]]},"personaliser les messages email":{"main":[[{"node":"Send email","type":"main","index":0}]]},"récupérer l'intitule de catégorie":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"recuperer la duree de preavis":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"récupérer donnes selon numéro démission":{"main":[[{"node":"récupérer l'intitule de catégorie","type":"main","index":0},{"node":"recuperer la duree de preavis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7785e353-7883-4797-b972-276ac344afad","triggerCount":1,"tags":[]}