dff annulation control-Zx9k1MGOdmHgRNLx.json
{"createdAt":"2026-06-26T22:47:20.617Z","updatedAt":"2026-07-10T16:40:56.000Z","id":"Zx9k1MGOdmHgRNLx","name":"DFF annulation control","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"12e6c21d-aebf-4efc-9f23-c12f2de53c35","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    d.XCMD_0,\n    d.XFACT_0,\n    d.XMNT_0,\n    d.XDATF_0,\n    d.XNUM_0,\n    grp.NB_DOUBLONS,\n    grp.NUM_MIN\nFROM BASE1.XDEPFACT d\nINNER JOIN (\n    SELECT \n        XCMD_0,\n        XFACT_0,\n        XMNT_0,\n        XDATF_0,\n        COUNT(*)    AS NB_DOUBLONS,\n        MIN(XNUM_0) AS NUM_MIN\n    FROM BASE1.XDEPFACT\n    GROUP BY XCMD_0, XFACT_0, XMNT_0, XDATF_0\n    HAVING COUNT(*) > 1\n) grp\n    ON  d.XCMD_0 = grp.XCMD_0\n    AND d.XFACT_0 = grp.XFACT_0\n    AND d.XMNT_0  = grp.XMNT_0\n    AND d.XDATF_0 = grp.XDATF_0\nWHERE d.XNUM_0 <> grp.NUM_MIN  \nand d.XCMD_0<>'' and d.XFACT_0<>''\nORDER BY d.XCMD_0, d.XFACT_0, d.XNUM_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,0],"id":"85346595-c040-4c8f-9956-0b4e887e90fb","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// Filtrer ET mapper en une seule opération\nconst donnees = items\n    .map(item => {\n        const row = item.json;\n        return {\n            DFF: row.XNUM_0\n            \n        };\n    });\n\nreturn [{\n    json: {\n        donnees: JSON.stringify(donnees),  // ← stringify it here\n        email_expediteur: \"astitoumde@gmail.com\",\n        headless: false\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"ced99407-7769-4f42-9fec-223ae99d1adf","name":"Code"},{"parameters":{"method":"POST","url":"http://192.168.1.211:8003/api/dff_annulation_control/data","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"donnees\": {{$json.donnees}},\n  \"email_expediteur\": \"{{$json.email_expediteur}}\",\n  \"headless\": {{$json.headless}}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0],"id":"b6a35b76-db3b-4da6-8f50-3f72514088e8","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eea29e7b-e6d6-4e73-85d4-54578c6179e9","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"}]}