décharge non attachee-MvAYf0Hrv7U9m1mN.json
{"createdAt":"2026-01-07T18:12:40.093Z","updatedAt":"2026-05-02T20:13:19.000Z","id":"MvAYf0Hrv7U9m1mN","name":"Décharge non attachee","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-baallah-email","leftValue":"={{ $json.type_destinataire }}","rightValue":"BAALLAH","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,2528],"id":"fd9cfa6b-733f-4f9e-ba79-32dd29fc6c79","name":"Filtre BAALLAH email"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1152,2624],"id":"f1839667-6c83-4d3a-aba5-736d5f7d1d51","name":"Skip BAALLAH direct"},{"parameters":{"operation":"executeQuery","query":"-- ═══════════════════════════════════════════════════════════════\n-- MULTI-DESTINATION : une ligne par niveau d'escalade actif\n-- DÉCHARGES NON ATTACHÉES - VERSION AVEC DGA + BAALLAH (délai/2)\n-- ═══════════════════════════════════════════════════════════════\n\nWITH base AS (\n    SELECT\n        dech.XNUM_0          AS numero_decharge,\n        dech.CREDATTIM_0     AS date_creation_decharge,\n        dech.YDATCON_0       AS date_controle,\n        dech.CREUSR_0        AS utilisateur_createur,\n        P.VALEUR_0           AS delai_total_jours,\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n\n        -- ─── SALARIÉ CONCERNÉ ───\n        COALESCE(x_direct.XSAL_0,    x_mapping.XSAL_0)    AS code_salarie,\n        COALESCE(x_direct.XNAMSAL_0, x_mapping.XNAMSAL_0) AS nom_salarie,\n        COALESCE(x_direct.XPRENOM_0, x_mapping.XPRENOM_0) AS prenom_salarie,\n        COALESCE(x_direct.XEMAIL_0,  x_mapping.XEMAIL_0)  AS email_salarie,\n        COALESCE(x_direct.YTELE_0,   x_mapping.YTELE_0)   AS num_telephone_salarier,\n        COALESCE(x_direct.YSUP_0,    x_mapping.YSUP_0)    AS code_superieur,\n\n        -- ─── SUPÉRIEUR ───\n        xx.XSAL_0         AS code_sup,\n        xx.XNAMSAL_0      AS nom_superieur,\n        xx.XPRENOM_0      AS prenom_superieur,\n        xx.XEMAIL_0       AS email_superieur,\n        xx.YTELE_0        AS num_telephone_sup,\n\n        -- ─── PDG ───\n        pdg.XSAL_0        AS code_pdg,\n        pdg.XNAMSAL_0     AS nom_pdg,\n        pdg.XPRENOM_0     AS prenom_pdg,\n        pdg.XEMAIL_0      AS email_pdg,\n        pdg.YTELE_0       AS telephone_pdg,\n\n        -- ─── DGA ───\n        dga.XSAL_0        AS code_dga,\n        dga.XNAMSAL_0     AS nom_dga,\n        dga.XPRENOM_0     AS prenom_dga,\n        dga.XEMAIL_0      AS email_dga,\n        dga.YTELE_0       AS telephone_dga,\n\n        -- ─── FARHAT ───\n        farhat.XSAL_0     AS code_farhat,\n        farhat.XNAMSAL_0  AS nom_farhat,\n        farhat.XPRENOM_0  AS prenom_farhat,\n        farhat.XEMAIL_0   AS email_farhat,\n        farhat.YTELE_0    AS telephone_farhat,\n\n        -- ─── BAALLAH ───\n        baallah.XSAL_0    AS code_baallah,\n        baallah.XNAMSAL_0 AS nom_baallah,\n        baallah.XPRENOM_0 AS prenom_baallah,\n        baallah.XEMAIL_0  AS email_baallah,\n        baallah.YTELE_0   AS telephone_baallah,\n\n        -- ─── INFOS IA – SALARIÉ ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = COALESCE(x_direct.XSAL_0, x_mapping.XSAL_0)) AS bot_salarie,\n\n        -- ─── INFOS IA – SUPÉRIEUR ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS bot_superieur,\n\n        -- ─── INFOS IA – PDG ───\n        '8528101210'   AS chat_id_pdg,\n        (SELECT inf.LAN_0  FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n        -- ─── INFOS IA – DGA ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n\n        -- ─── INFOS IA – FARHAT ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n        -- ─── INFOS IA – BAALLAH ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        -- ─── CALCULS ───\n        DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dech.CREDATTIM_0)                                       AS date_limite,\n        DATEDIFF(DAY, dech.CREDATTIM_0, GETDATE())                                                     AS jours_depuis_creation,\n        DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dech.CREDATTIM_0))             AS jours_restants\n\n    FROM jbelrh.JBELRH.XDECH dech\n\n        LEFT JOIN jbelrh.JBELRH.XSAL x_direct\n            ON x_direct.XSAL_0 = dech.CREUSR_0\n        LEFT JOIN jbelrh.JBELRH.YSALAUS s\n            ON s.USER_0 = dech.CREUSR_0\n        LEFT JOIN jbelrh.JBELRH.XSAL x_mapping\n            ON x_mapping.XSAL_0 = s.XSAL_0\n        LEFT JOIN jbelrh.JBELRH.XSAL xx\n            ON xx.XSAL_0 = COALESCE(x_direct.YSUP_0, x_mapping.YSUP_0)\n        CROSS APPLY (\n            SELECT TOP 1 VALEUR_0\n            FROM jbelrh.JBELRH.ADOVAL\n            WHERE PARAM_0 = 'YDELPJATT'\n        ) P\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n        ) pdg\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n        ) dga\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n        ) farhat\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n        ) baallah\n\n    WHERE\n        dech.CREDATTIM_0 >= '2024-01-01'\n        AND dech.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n        AND NOT EXISTS (\n            SELECT *\n            FROM jbelrh.JBELRH.AOBJTXT AOBJTXT\n            WHERE dech.XNUM_0 = AOBJTXT.IDENT1_0\n            AND AOBJTXT.ABREV_0 = 'XDECH'\n        )\n)\n\n-- SALARIE  → jours_restants = 4\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\n\nUNION ALL\n\n-- SUPERIEUR → jours_restants = 3\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\n\nUNION ALL\n\n-- FARHAT → jours_restants entre 5 et 8\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants BETWEEN 5 AND 8\n\nUNION ALL\n\n-- DGA → jours_restants <= délai/2 ET > 4\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= (delai_int / 2)\n                                                       AND jours_restants > 4\n\nUNION ALL\n\n-- BAALLAH → même seuil que DGA : jours_restants <= délai/2 ET > 4\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= (delai_int / 2)\n                                                       AND jours_restants > 4\n\nUNION ALL\n\n-- PDG → jours_restants <= 2\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\n\nORDER BY jours_restants ASC, niveau_escalade DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-2496,2816],"id":"f2491d21-1fa1-4bf6-9b2c-144e8837a539","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2272,2816],"id":"c6a4e8ea-75a1-4c44-b40f-98ff2f0e399e","name":"Vérifier Données Présentes2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2048,2912],"id":"8b82ca85-69c6-41d0-b711-c739109d2458","name":"Fin - Aucune Donnée2"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION DES NOTIFICATIONS - DÉCHARGES (avec DGA + BAALLAH)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Décharges reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  if (data.niveau_escalade === 'PDG') {\n    destinatairePrincipal = {\n      code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n      email: data.email_pdg, telephone: data.telephone_pdg,\n      chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n    };\n    codeDestinataire = data.code_pdg; typeDestinataire = 'PDG';\n\n  } else if (data.niveau_escalade === 'SUPERIEUR') {\n    destinatairePrincipal = {\n      code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n      email: data.email_superieur, telephone: data.num_telephone_sup,\n      chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n    };\n    codeDestinataire = data.code_superieur; typeDestinataire = 'SUPERIEUR';\n\n  } else if (data.niveau_escalade === 'SALARIE') {\n    destinatairePrincipal = {\n      code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n      email: data.email_salarie, telephone: data.num_telephone_salarier,\n      chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n    };\n    codeDestinataire = data.code_salarie; typeDestinataire = 'SALARIE';\n\n  } else if (data.niveau_escalade === 'FARHAT') {\n    destinatairePrincipal = {\n      code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n      email: data.email_farhat || null, telephone: data.telephone_farhat || null,\n      chat_id: data.chat_id_farhat || null, langue: data.langue_farhat || 'FRA', bot: data.bot_farhat || null\n    };\n    codeDestinataire = data.code_farhat; typeDestinataire = 'FARHAT';\n\n  } else if (data.niveau_escalade === 'DGA') {\n    destinatairePrincipal = {\n      code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n      email: data.email_dga || null, telephone: data.telephone_dga || null,\n      chat_id: null, langue: data.langue_dga || 'FRA', bot: null\n    };\n    codeDestinataire = data.code_dga; typeDestinataire = 'DGA';\n\n  } else if (data.niveau_escalade === 'BAALLAH') {\n    destinatairePrincipal = {\n      code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n      email: data.email_baallah || null, telephone: data.telephone_baallah || null,\n      chat_id: data.chat_id_baallah || null, langue: data.langue_baallah || 'FRA', bot: data.bot_baallah || null\n    };\n    codeDestinataire = data.code_baallah; typeDestinataire = 'BAALLAH';\n\n  } else {\n    console.log(`⏭️  Décharge ${data.numero_decharge} ignorée (niveau: ${data.niveau_escalade})`);\n    return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade: data.niveau_escalade,\n      salarie: {\n        code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n        email: data.email_salarie, telephone: data.num_telephone_salarier,\n        chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n      },\n      superieur: {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      },\n      pdg: {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      },\n      dga: {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: null, langue: data.langue_dga || 'FRA', bot: null\n      },\n      farhat: {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat, telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat, langue: data.langue_farhat, bot: data.bot_farhat\n      },\n      baallah: {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah, telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah, langue: data.langue_baallah, bot: data.bot_baallah\n      },\n      decharges: []\n    };\n  }\n\n  notifications[cleDestinataire].decharges.push({\n    numero_attestation: data.numero_decharge,\n    date_creation_attestation: data.date_creation_decharge,\n    date_controle: data.date_controle,\n    utilisateur_createur: data.utilisateur_createur,\n    delai_total_jours: data.delai_total_jours,\n    date_limite: data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants: data.jours_restants,\n    salarie_concerne: {\n      code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n      email: data.email_salarie, telephone: data.num_telephone_salarier\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalAttestations = notif.decharges.length;\n  const joursMin = Math.min(...notif.decharges.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.decharges.map(a => a.jours_restants));\n  const delaiTotal = parseInt(notif.decharges[0]?.delai_total_jours) || 10;\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email) emailCC.push(notif.salarie.email);\n    if (notif.superieur.chat_id) chatIDsCC.push({ chat_id: notif.superieur.chat_id, bot: notif.superieur.bot, langue: notif.superieur.langue, nom: `${notif.superieur.prenom} ${notif.superieur.nom}` });\n    if (notif.salarie.chat_id) chatIDsCC.push({ chat_id: notif.salarie.chat_id, bot: notif.salarie.bot, langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}` });\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email) emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({ chat_id: notif.salarie.chat_id, bot: notif.salarie.bot, langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}` });\n  }\n  // DGA, BAALLAH, FARHAT, SALARIE → pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    salarie: notif.salarie,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    attestations: notif.decharges,\n    statistiques: {\n      total_attestations: totalAttestations,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: delaiTotal,\n      seuil_mi_delai: Math.floor(delaiTotal / 2)\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\nconsole.log('Par type:');\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  console.log(`  - ${t}: ${resultats.filter(r => r.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2048,2720],"id":"985dd3c5-c602-4050-978f-4bb832455799","name":"Structuration par Destinataire2"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Décharges Non Attachées',\n      SUPERIEUR:'🟠 IMPORTANT - Décharges Non Attachées',\n      SALARIE:  '🟡 Rappel - Décharges à Compléter',\n      DGA:      '🟠 INFO DGA - Décharges à Surveiller',\n      BAALLAH:  '🟠 INFO - Décharges à Surveiller',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Décharges à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les décharges suivantes nécessitent votre attention IMMÉDIATE',\n      SUPERIEUR:'Les décharges suivantes requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos décharges en attente de traitement',\n      DGA:      'Information - Les décharges suivantes ont atteint la moitié de leur délai sans document attaché',\n      BAALLAH:  'Information - Les décharges suivantes ont atteint la moitié de leur délai sans document attaché',\n      FARHAT:   'Information préventive - Les décharges suivantes approchent de leur délai limite'\n    },\n    cc_message: {\n      base: \"Un message d'alerte a été envoyé à\",\n      votre_superieur: 'votre supérieur(e)',\n      le_pdg: 'la Direction (PDG)',\n      le_dga: 'la Direction Générale Adjointe (DGA)',\n      le_baallah: 'la Direction',\n      le_farhat: 'le Responsable RH',\n      action: 'Veuillez prendre les mesures nécessaires pour traiter ces décharges dans les délais impartis.'\n    },\n    section_stats: 'STATISTIQUES',\n    total: 'Total décharges',\n    delai_min: 'Délai minimum',\n    jours: 'jour(s)',\n    seuil_mi_delai: 'Seuil mi-délai',\n    section_attestations: 'LISTE DES DÉCHARGES NON ATTACHÉES',\n    numero: 'Numéro',\n    date_creation: 'Date création',\n    salarie_concerne: 'Salarié concerné',\n    delai: 'Délai',\n    restant: 'restant(s)',\n    limite: 'Limite',\n    delai_total: 'Délai total',\n    action_requise: 'ACTION REQUISE',\n    urgent: 'URGENT - Attacher immédiatement',\n    contact: 'Contact Service RH',\n    cordialement: 'Cordialement',\n    signature: 'Service SI/IA - Jbel Annour',\n    message_auto: 'Message automatique',\n    ne_pas_repondre: 'Merci de ne pas répondre à cet email',\n    copie_info: '📋 CC',\n    instruction: 'Veuillez attacher les justificatifs manquants à ces décharges dans les meilleurs délais.',\n    instruction_mi_delai: 'Ces décharges ont dépassé la moitié du délai autorisé sans document attaché. Merci de vous assurer que les actions correctives sont engagées.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - وثائق الإخلاء غير مرفقة',\n      SUPERIEUR:'🟠 هام - وثائق الإخلاء غير مرفقة',\n      SALARIE:  '🟡 تذكير - وثائق الإخلاء للإكمال',\n      DGA:      '🟠 معلومة المدير العام المساعد - وثائق الإخلاء للمراقبة',\n      BAALLAH:  '🟠 معلومة - وثائق الإخلاء للمراقبة',\n      FARHAT:   '🔵 معلومة وقائية - وثائق الإخلاء للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - وثائق الإخلاء التالية تتطلب اهتمامك الفوري',\n      SUPERIEUR:'وثائق الإخلاء التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص وثائق الإخلاء في انتظار المعالجة',\n      DGA:      'معلومة - وثائق الإخلاء التالية تجاوزت نصف المهلة المحددة دون إرفاق وثائق',\n      BAALLAH:  'معلومة - وثائق الإخلاء التالية تجاوزت نصف المهلة المحددة دون إرفاق وثائق',\n      FARHAT:   'معلومة وقائية - وثائق الإخلاء التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    cc_message: {\n      base: 'تم إرسال رسالة تنبيه إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg: 'الإدارة (المدير العام)',\n      le_dga: 'المدير العام المساعد',\n      le_baallah: 'الإدارة',\n      le_farhat: 'مسؤول الموارد البشرية',\n      action: 'يرجى اتخاذ الإجراءات اللازمة لمعالجة وثائق الإخلاء في المواعيد المحددة.'\n    },\n    section_stats: 'الإحصائيات',\n    total: 'إجمالي وثائق الإخلاء',\n    delai_min: 'الحد الأدنى للمهلة',\n    jours: 'يوم/أيام',\n    seuil_mi_delai: 'عتبة منتصف المهلة',\n    section_attestations: 'قائمة وثائق الإخلاء غير المرفقة',\n    numero: 'الرقم',\n    date_creation: 'تاريخ الإنشاء',\n    salarie_concerne: 'الموظف المعني',\n    delai: 'المهلة',\n    restant: 'المتبقية',\n    limite: 'الحد',\n    delai_total: 'المهلة الإجمالية',\n    action_requise: 'الإجراء المطلوب',\n    urgent: 'عاجل - إرفاق فورا',\n    contact: 'اتصال بقسم الموارد البشرية',\n    cordialement: 'مع أطيب التحيات',\n    signature: 'قسم SI/IA - جبل النور',\n    message_auto: 'رسالة تلقائية',\n    ne_pas_repondre: 'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info: '📋 نسخة للعلم',\n    instruction: 'يرجى إرفاق المستندات الناقصة لوثائق الإخلاء في أقرب وقت ممكن.',\n    instruction_mi_delai: 'تجاوزت وثائق الإخلاء نصف المهلة المسموح بها دون إرفاق وثائق. يرجى التأكد من اتخاذ الإجراءات التصحيحية اللازمة.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Unattached Discharge Documents',\n      SUPERIEUR:'🟠 IMPORTANT - Unattached Discharge Documents',\n      SALARIE:  '🟡 Reminder - Discharge Documents to Complete',\n      DGA:      '🟠 DGA INFO - Discharge Documents to Monitor',\n      BAALLAH:  '🟠 INFO - Discharge Documents to Monitor',\n      FARHAT:   '🔵 PREVENTIVE INFO - Discharge Documents to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following discharge documents require your IMMEDIATE attention',\n      SUPERIEUR:'The following discharge documents require your priority attention',\n      SALARIE:  'Reminder about your discharge documents pending processing',\n      DGA:      'Information - The following discharge documents have exceeded half their deadline without an attached document',\n      BAALLAH:  'Information - The following discharge documents have exceeded half their deadline without an attached document',\n      FARHAT:   'Preventive information - The following discharge documents are approaching their deadline'\n    },\n    cc_message: {\n      base: 'An alert message has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg: 'the Management (CEO)',\n      le_dga: 'the Deputy General Manager (DGA)',\n      le_baallah: 'the Management',\n      le_farhat: 'the HR Manager',\n      action: 'Please take the necessary measures to process these discharge documents within the specified deadlines.'\n    },\n    section_stats: 'STATISTICS',\n    total: 'Total discharge documents',\n    delai_min: 'Minimum deadline',\n    jours: 'day(s)',\n    seuil_mi_delai: 'Mid-deadline threshold',\n    section_attestations: 'LIST OF UNATTACHED DISCHARGE DOCUMENTS',\n    numero: 'Number',\n    date_creation: 'Creation date',\n    salarie_concerne: 'Employee concerned',\n    delai: 'Deadline',\n    restant: 'remaining',\n    limite: 'Limit',\n    delai_total: 'Total deadline',\n    action_requise: 'ACTION REQUIRED',\n    urgent: 'URGENT - Attach immediately',\n    contact: 'HR Department Contact',\n    cordialement: 'Best regards',\n    signature: 'IT/AI Department - Jbel Annour',\n    message_auto: 'Automatic message',\n    ne_pas_repondre: 'Please do not reply to this email',\n    copie_info: '📋 COPY FOR INFORMATION',\n    instruction: 'Please attach the missing documents to these discharge documents as soon as possible.',\n    instruction_mi_delai: 'These discharge documents have exceeded half their allowed deadline without attached documents. Please ensure corrective actions are underway.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n  const type = data.type_destinataire;\n\n  let emailSubject = `${T.sujet_email[type] || T.sujet_email.SALARIE} - ${stats.total_attestations} décharge(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[type]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n\n  if (type === 'DGA' || type === 'BAALLAH') {\n    emailBody += `${T.seuil_mi_delai}: ${stats.seuil_mi_delai} ${T.jours}\\n`;\n  }\n\n  if (type !== 'SALARIE' && type !== 'DGA' && type !== 'BAALLAH') {\n    emailBody += `\\n${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom} (${data.salarie.code})\\n`;\n  }\n\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `🚨 ${T.action_requise}: ${T.urgent}\\n`;\n  } else if (type === 'DGA' || type === 'BAALLAH') {\n    emailBody += `📌 ${T.instruction_mi_delai}\\n`;\n  } else {\n    emailBody += `📌 ${T.instruction}\\n`;\n  }\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom}\\n`;\n    emailBody += `   Email: ${data.superieur.email}\\n`;\n    emailBody += `   Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  if (data.salarie && data.salarie.email) {\n    emailBody += `   ${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom}\\n`;\n    emailBody += `   Email: ${data.salarie.email}\\n`;\n    emailBody += `   Tel: ${data.salarie.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (type === 'PDG')     emailBody += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (type === 'DGA')     emailBody += `🟠 Notification envoyée au DGA (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  if (type === 'BAALLAH') emailBody += `🟠 Notification envoyée à Baallah (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[type]}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `👤 *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 5).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 5) telegramMessage += `... et ${attestations.length - 5} autre(s) décharge(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  const envoyer_cc_salarie   = (data.type_destinataire === 'SUPERIEUR' || data.type_destinataire === 'PDG');\n  const envoyer_cc_superieur = (data.type_destinataire === 'PDG');\n\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      envoyer_cc_salarie,\n      envoyer_cc_superieur,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC pour SUPERIEUR\n  if (data.type_destinataire === 'SUPERIEUR' && data.salarie && data.salarie.chat_id) {\n    results.push({ json: { ...data, messages: messagesPrincipal, type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE', envoyer_cc_salarie: true, envoyer_cc_superieur: false, meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() } } });\n  }\n  // CC pour PDG\n  if (data.type_destinataire === 'PDG') {\n    if (data.superieur && data.superieur.chat_id) {\n      results.push({ json: { ...data, messages: messagesPrincipal, type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR', envoyer_cc_salarie: false, envoyer_cc_superieur: true, meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n    if (data.salarie && data.salarie.chat_id) {\n      results.push({ json: { ...data, messages: messagesPrincipal, type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE', envoyer_cc_salarie: true, envoyer_cc_superieur: false, meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() } } });\n    }\n  }\n  // DGA, BAALLAH, FARHAT, SALARIE → pas de CC\n});\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES - DÉCHARGES (avec DGA + BAALLAH)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages générés: ${results.length}`);\nconsole.log(`  - Messages principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - Messages CC:         ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,2720],"id":"1c079242-64b7-4d41-b4d9-c47cf6542204","name":"Génération Messages Multilingues2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89d1c815-4549-487b-a9ab-a9d4a9113ac3","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1600,2624],"id":"b4378993-80fe-413e-b57f-b612d0058433","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fb3ec29-2e19-44f0-90be-638628cee9ea","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,2432],"id":"ee81f0ec-42c1-4d8d-91c5-68488d7e9cd2","name":"not pdg email1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca4c637b-84e0-42b9-8814-b2a19364d18a","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"66146157-2656-4ce6-83a5-50eee01fbabf","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1376,2912],"id":"00b8c79b-f179-4e16-a079-6b240368334e","name":"Si Chat ID Existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"992a301d-2313-47be-a820-7842846d5318","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,2816],"id":"c9873ce6-5cdc-4347-a0ae-f4e63390249f","name":"not pdg chat id1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-928,2336],"id":"70e8455b-49c8-469c-badb-c5b735b92f95","name":"Envoi Email2","webhookId":"92ad2e2f-5269-421a-83f1-7acce13d63a0","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-928,2720],"id":"b12a81f2-4636-4538-b46b-dd0d6ba02ebd","name":"Envoi Telegram Principal2","webhookId":"e4a23ade-32bc-43ca-bd0b-f160bbb94d7c","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,2528],"id":"79d9f3c8-caab-4778-9ea3-6e6564f00550","name":"Fin Workflow2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2720,2816],"id":"00256736-28ee-4bc7-8795-6d84f1b41233","name":"Schedule Trigger2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1376,2720],"id":"32106086-8043-4f34-9182-91970f7ef781","name":"No Operation, do nothing7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,2912],"id":"5a856cb9-980d-4b9a-9759-f78d956fad60","name":"No Operation, do nothing8"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1152,3008],"id":"3a8d9c60-1a53-43d4-a751-549522b2bff1","name":"No Operation, do nothing9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,2528],"id":"5ca1a581-7838-43ea-a95b-eab5242b64f9","name":"No Operation, do nothing10"}],"connections":{"Filtre BAALLAH email":{"main":[[{"node":"not pdg email1","type":"main","index":0}],[{"node":"Skip BAALLAH direct","type":"main","index":0}]]},"Microsoft SQL2":{"main":[[{"node":"Vérifier Données Présentes2","type":"main","index":0}]]},"Vérifier Données Présentes2":{"main":[[{"node":"Structuration par Destinataire2","type":"main","index":0}],[{"node":"Fin - Aucune Donnée2","type":"main","index":0}]]},"Structuration par Destinataire2":{"main":[[{"node":"Génération Messages Multilingues2","type":"main","index":0}]]},"Génération Messages Multilingues2":{"main":[[{"node":"Si Chat ID Existe1","type":"main","index":0},{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Filtre BAALLAH email","type":"main","index":0}],[{"node":"No Operation, do nothing7","type":"main","index":0}]]},"not pdg email1":{"main":[[{"node":"Envoi Email2","type":"main","index":0}],[{"node":"No Operation, do nothing10","type":"main","index":0}]]},"Si Chat ID Existe1":{"main":[[{"node":"not pdg chat id1","type":"main","index":0}],[{"node":"No Operation, do nothing9","type":"main","index":0}]]},"not pdg chat id1":{"main":[[{"node":"Envoi Telegram Principal2","type":"main","index":0}],[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"Envoi Email2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"Envoi Telegram Principal2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e0142cee-594b-430e-9f82-eedf9006ad63","triggerCount":1,"tags":[]}