départ salarié non attacher-oMHoNOhRKg5RgER8.json
{"createdAt":"2026-04-30T01:30:12.052Z","updatedAt":"2026-05-11T18:26:49.000Z","id":"oMHoNOhRKg5RgER8","name":"Départ Salarié non attacher","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-chat-id-exists","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"check-chat-id-not-empty","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2192,2096],"id":"3fd1e80e-1b2a-4b6a-8b7d-f32a0e113cb6","name":"Si Chat ID Existe XDEPSE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1968,2224],"id":"21bfec53-971d-4236-82fe-c4a60edcfc3b","name":"No Chat ID - Ignoré XDEPSE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-not-pdg-chat","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1968,2000],"id":"add1f43e-92e3-4d22-bd09-d593a0cbf187","name":"Not PDG Chat ID XDEPSE"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1728,2112],"id":"c5899d2a-f404-4171-a7e3-f69b763a3793","name":"Skip PDG Chat Direct XDEPSE"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1520,1904],"id":"f5633e26-58c5-4b6d-b7d8-f01fde3a1ef6","name":"Envoi Telegram XDEPSE","webhookId":"xdepse-telegram-001","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3312,2000],"id":"a6e1d302-24ae-4068-ac41-35ecb26cb957","name":"Schedule Trigger XDEPSE1"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT\n        XDEPSE.XNUM_0          AS num_dossier,\n        XDEPSE.XDAT_0          AS date_dossier,\n        XDEPSE.XSAL_0          AS code_salarie,\n        XDEPSE.XMAT_0          AS matricule,\n        XDEPSE.XNOM_0 + ' ' + XDEPSE.XPRENM_0 AS nom_prenom,\n        XDEPSE.XFNC_0          AS fonction,\n        XDEPSE.XDATE_0         AS date_embauche,\n        XDEPSE.XDATS_0         AS date_sortie,\n        XDEPSE.CREDATTIM_0     AS date_creation,\n        XDEPSE.YDATCON_0       AS date_controle,\n        XDEPSE.CREUSR_0        AS user_createur,\n        SAL.XNAMSAL_0          AS nom_salarie,\n        SAL.XPRENOM_0          AS prenom_salarie,\n        SAL.XEMAIL_0           AS email_salarie,\n        SAL.YTELE_0            AS tel_salarie,\n        SAL.YSUP_0             AS code_superieur_salarie,\n        YSALAUS.XSAL_0         AS code_createur,\n        CRE.XNAMSAL_0          AS nom_createur,\n        CRE.XPRENOM_0          AS prenom_createur,\n        CRE.XEMAIL_0           AS email_createur,\n        CRE.YTELE_0            AS tel_createur,\n        CRE.YSUP_0             AS code_sup_createur,\n        SUP.XSAL_0             AS code_superieur,\n        SUP.XNAMSAL_0          AS nom_superieur,\n        SUP.XPRENOM_0          AS prenom_superieur,\n        SUP.XEMAIL_0           AS email_superieur,\n        SUP.YTELE_0            AS tel_superieur,\n        pdg.XSAL_0             AS code_pdg,\n        pdg.XNAMSAL_0          AS nom_pdg,\n        pdg.XPRENOM_0          AS prenom_pdg,\n        pdg.XEMAIL_0           AS email_pdg,\n        pdg.YTELE_0            AS tel_pdg,\n        dga.XSAL_0             AS code_dga,\n        dga.XNAMSAL_0          AS nom_dga,\n        dga.XPRENOM_0          AS prenom_dga,\n        dga.XEMAIL_0           AS email_dga,\n        dga.YTELE_0            AS tel_dga,\n        farhat.XSAL_0          AS code_farhat,\n        farhat.XNAMSAL_0       AS nom_farhat,\n        farhat.XPRENOM_0       AS prenom_farhat,\n        farhat.XEMAIL_0        AS email_farhat,\n        farhat.YTELE_0         AS tel_farhat,\n        baallah.XSAL_0         AS code_baallah,\n        baallah.XNAMSAL_0      AS nom_baallah,\n        baallah.XPRENOM_0      AS prenom_baallah,\n        baallah.XEMAIL_0       AS email_baallah,\n        baallah.YTELE_0        AS tel_baallah,\n\n        -- ═══ INFOS TELEGRAM ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS chat_id_createur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS langue_createur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS bot_createur,\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS bot_superieur,\n        '8528101210'           AS chat_id_pdg,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)     AS langue_pdg,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)     AS bot_pdg,\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS bot_dga,\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS bot_farhat,\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        -- ═══ DÉLAI & CALCULS ═══\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n        CASE\n            WHEN XDEPSE.YDATCON_0 != '1753-01-01' THEN XDEPSE.YDATCON_0\n            ELSE DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XDEPSE.CREDATTIM_0)\n        END AS date_limite,\n        DATEDIFF(DAY, XDEPSE.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n        CASE\n            WHEN XDEPSE.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, GETDATE(), XDEPSE.YDATCON_0)\n            ELSE\n                DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XDEPSE.CREDATTIM_0))\n        END AS jours_restants,\n        CASE\n            WHEN XDEPSE.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, XDEPSE.CREDATTIM_0, XDEPSE.YDATCON_0) / 2\n            ELSE\n                CAST(P.VALEUR_0 AS INT) / 2\n        END AS seuil_dga\n\n    FROM [jbelrh].[JBELRH].[XDEPSE] XDEPSE\n\n    -- Infos du salarié concerné\n    LEFT JOIN jbelrh.JBELRH.XSAL SAL\n        ON SAL.XSAL_0 = XDEPSE.XSAL_0\n\n    -- Lien user créateur → code salarié créateur\n    LEFT JOIN jbelrh.JBELRH.YSALAUS YSALAUS\n        ON YSALAUS.USER_0 = XDEPSE.CREUSR_0\n\n    -- Infos du salarié créateur\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE\n        ON CRE.XSAL_0 = YSALAUS.XSAL_0\n\n    -- Infos du supérieur du créateur\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP\n        ON SUP.XSAL_0 = CRE.YSUP_0\n\n    -- Paramètre délai (CROSS APPLY remplacé par OUTER APPLY pour éviter élimination si absent)\n    OUTER APPLY (\n        SELECT TOP 1 VALEUR_0\n        FROM jbelrh.JBELRH.ADOVAL\n        WHERE PARAM_0 = 'YDELXDEPS'\n    ) P\n\n    -- Personnes fixes — OUTER APPLY pour ne pas bloquer si code absent\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL\n        WHERE XSAL_0 = 'S0066'\n    ) pdg\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL\n        WHERE XSAL_0 = 'S0949'\n    ) dga\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL\n        WHERE XSAL_0 = 'S1602'\n    ) farhat\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL\n        WHERE XSAL_0 = 'S0179'\n    ) baallah\n\n    WHERE\n        NOT EXISTS (\n            SELECT 1\n            FROM [jbelrh].[JBELRH].[AOBJTXT] AOBJTXT\n            WHERE XDEPSE.XNUM_0 = AOBJTXT.IDENT1_0\n              AND AOBJTXT.ABREV_0 = 'XDEPS'\n        )\n        AND CAST(XDEPSE.CREDATTIM_0 AS DATE) >= '2024-01-01'\n)\n\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants <= 8  AND jours_restants > 4\nUNION ALL\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 4\nUNION ALL\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\nORDER BY jours_restants ASC"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-3088,2000],"id":"3e8fb737-9db0-4277-b835-9d739669cffe","name":"SQL XDEPSE Escalade1","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2864,2000],"id":"22499279-d161-4764-9217-c6bda8695962","name":"Vérifier Données XDEPSE1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2640,2096],"id":"cdab1b16-fea8-4d75-9ccd-f661974273a6","name":"Fin - Aucune Donnée XDEPSE1"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION NOTIFICATIONS - DÉPARTS (XDEPSE)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Lignes reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const d = item.json;\n  let dest, codeKey, typeKey;\n\n  if (d.niveau_escalade === 'PDG') {\n    dest = { code: d.code_pdg, nom: d.nom_pdg, prenom: d.prenom_pdg, email: d.email_pdg, telephone: d.tel_pdg, chat_id: d.chat_id_pdg, langue: d.langue_pdg, bot: d.bot_pdg };\n    codeKey = d.code_pdg; typeKey = 'PDG';\n  } else if (d.niveau_escalade === 'DGA') {\n    dest = { code: d.code_dga, nom: d.nom_dga, prenom: d.prenom_dga, email: d.email_dga, telephone: d.tel_dga, chat_id: d.chat_id_dga, langue: d.langue_dga, bot: d.bot_dga };\n    codeKey = d.code_dga; typeKey = 'DGA';\n  } else if (d.niveau_escalade === 'BAALLAH') {\n    dest = { code: d.code_baallah, nom: d.nom_baallah, prenom: d.prenom_baallah, email: d.email_baallah, telephone: d.tel_baallah, chat_id: d.chat_id_baallah, langue: d.langue_baallah, bot: d.bot_baallah };\n    codeKey = d.code_baallah; typeKey = 'BAALLAH';\n  } else if (d.niveau_escalade === 'SUPERIEUR') {\n    dest = { code: d.code_superieur, nom: d.nom_superieur, prenom: d.prenom_superieur, email: d.email_superieur, telephone: d.tel_superieur, chat_id: d.chat_id_superieur, langue: d.langue_superieur, bot: d.bot_superieur };\n    codeKey = d.code_superieur; typeKey = 'SUPERIEUR';\n  } else if (d.niveau_escalade === 'SALARIE') {\n    dest = { code: d.code_createur, nom: d.nom_createur, prenom: d.prenom_createur, email: d.email_createur, telephone: d.tel_createur, chat_id: d.chat_id_createur, langue: d.langue_createur, bot: d.bot_createur };\n    codeKey = d.code_createur; typeKey = 'SALARIE';\n  } else if (d.niveau_escalade === 'FARHAT') {\n    dest = { code: d.code_farhat, nom: d.nom_farhat, prenom: d.prenom_farhat, email: d.email_farhat, telephone: d.tel_farhat, chat_id: d.chat_id_farhat, langue: d.langue_farhat, bot: d.bot_farhat };\n    codeKey = d.code_farhat; typeKey = 'FARHAT';\n  } else {\n    return;\n  }\n\n  const cleKey = `${typeKey}_${codeKey}`;\n\n  if (!notifications[cleKey]) {\n    notifications[cleKey] = {\n      destinataire_principal: dest,\n      type_destinataire: typeKey,\n      niveau_escalade: d.niveau_escalade,\n      createur_info: {\n        code: d.code_createur, nom: d.nom_createur, prenom: d.prenom_createur,\n        email: d.email_createur, telephone: d.tel_createur,\n        chat_id: d.chat_id_createur, langue: d.langue_createur, bot: d.bot_createur\n      },\n      superieur: {\n        code: d.code_superieur, nom: d.nom_superieur, prenom: d.prenom_superieur,\n        email: d.email_superieur, telephone: d.tel_superieur,\n        chat_id: d.chat_id_superieur, langue: d.langue_superieur, bot: d.bot_superieur\n      },\n      pdg:     { code: d.code_pdg,     nom: d.nom_pdg,     prenom: d.prenom_pdg,     email: d.email_pdg,     telephone: d.tel_pdg,     chat_id: d.chat_id_pdg,     langue: d.langue_pdg,     bot: d.bot_pdg },\n      dga:     { code: d.code_dga,     nom: d.nom_dga,     prenom: d.prenom_dga,     email: d.email_dga,     telephone: d.tel_dga,     chat_id: d.chat_id_dga,     langue: d.langue_dga,     bot: d.bot_dga },\n      farhat:  { code: d.code_farhat,  nom: d.nom_farhat,  prenom: d.prenom_farhat,  email: d.email_farhat,  telephone: d.tel_farhat,  chat_id: d.chat_id_farhat,  langue: d.langue_farhat,  bot: d.bot_farhat },\n      baallah: { code: d.code_baallah, nom: d.nom_baallah, prenom: d.prenom_baallah, email: d.email_baallah, telephone: d.tel_baallah, chat_id: d.chat_id_baallah, langue: d.langue_baallah, bot: d.bot_baallah },\n      dossiers: []\n    };\n  }\n\n  notifications[cleKey].dossiers.push({\n    num_dossier:           d.num_dossier,\n    date_dossier:          d.date_dossier,\n    code_salarie:          d.code_salarie,\n    nom_prenom:            d.nom_prenom,\n    nom_salarie:           d.nom_salarie,\n    prenom_salarie:        d.prenom_salarie,\n    email_salarie:         d.email_salarie,\n    tel_salarie:           d.tel_salarie,\n    matricule:             d.matricule,\n    fonction:              d.fonction,\n    date_embauche:         d.date_embauche,\n    date_sortie:           d.date_sortie,\n    date_creation:         d.date_creation,\n    date_controle:         d.date_controle,\n    date_limite:           d.date_limite,\n    jours_depuis_creation: d.jours_depuis_creation,\n    jours_restants:        d.jours_restants,\n    delai_int:             d.delai_int,\n    seuil_dga:             d.seuil_dga,\n    createur: {\n      code: d.code_createur, nom: d.nom_createur, prenom: d.prenom_createur,\n      email: d.email_createur, telephone: d.tel_createur\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const total    = notif.dossiers.length;\n  const joursMin = Math.min(...notif.dossiers.map(s => s.jours_restants));\n  const joursMax = Math.max(...notif.dossiers.map(s => s.jours_restants));\n  const delaiInt = notif.dossiers[0]?.delai_int || 30;\n  const seuilDga = notif.dossiers[0]?.seuil_dga || Math.floor(delaiInt / 2);\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_escalade:        notif.niveau_escalade,\n    createur_info:          notif.createur_info,\n    superieur:              notif.superieur,\n    pdg:                    notif.pdg,\n    dga:                    notif.dga,\n    farhat:                 notif.farhat,\n    baallah:                notif.baallah,\n    dossiers:               notif.dossiers,\n    statistiques: {\n      total_dossiers: total,\n      jours_min:      joursMin,\n      jours_max:      joursMax,\n      delai_int:      delaiInt,\n      seuil_dga:      seuilDga\n    },\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      peut_envoyer_email:    !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id,\n      langue_message:        notif.destinataire_principal.langue || 'FRA'\n    }\n  };\n});\n\nconsole.log(`\\n✅ Groupes structurés: ${resultats.length}`);\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  console.log(`  - ${t}: ${resultats.filter(r => r.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,1904],"id":"a6991dd0-323c-463a-a635-0c47e86557ad","name":"Structuration par Destinataire XDEPSE1"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nfunction formaterDate(d) {\n  if (!d) return 'N/A';\n  try { return new Date(d).toLocaleDateString('fr-FR', { year: 'numeric', month: '2-digit', day: '2-digit' }); }\n  catch(e) { return 'N/A'; }\n}\n\nfunction emoji(j) {\n  if (j <= 2) return '🔴';\n  if (j === 3) return '🟠';\n  if (j === 4) return '🟡';\n  if (j <= 8) return '🔵';\n  return '🟢';\n}\nfunction esc(text) {\n  if (text === null || text === undefined) return 'N/A';\n  return String(text)\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\./g, '\\\\.')\n    .replace(/!/g, '\\\\!')\n    .replace(/\\-/g, '\\\\-')\n    .replace(/\\+/g, '\\\\+')\n    .replace(/=/g, '\\\\=')\n    .replace(/\\|/g, '\\\\|')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]')\n    .replace(/\\(/g, '\\\\(')\n    .replace(/\\)/g, '\\\\)')\n    .replace(/</g, '\\\\<')\n    .replace(/>/g, '\\\\>')\n    .replace(/#/g, '\\\\#')\n    .replace(/~/g, '\\\\~')\n    .replace(/`/g, '\\\\`');\n}\n\nconst TEMPLATES = {\n  sujet: {\n    PDG:      '🔴 ALERTE URGENTE - Dossiers départ non clôturés',\n    DGA:      '🟠 INFO DGA - Dossiers départ à mi-délai',\n    BAALLAH:  '🟠 INFO - Dossiers départ à mi-délai',\n    SUPERIEUR:'🟠 IMPORTANT - Dossiers départ en attente',\n    SALARIE:  '🟡 Rappel - Votre dossier de départ est en attente',\n    FARHAT:   '🔵 INFO PRÉVENTIVE - Dossiers départ à surveiller'\n  },\n  intro: {\n    PDG:      \"ALERTE URGENTE - Les dossiers de départ suivants n'ont pas encore été clôturés\",\n    DGA:      'Information - Les dossiers de départ suivants ont atteint la moitié de leur délai sans traitement',\n    BAALLAH:  'Information - Les dossiers de départ suivants ont atteint la moitié de leur délai sans traitement',\n    SUPERIEUR:'Les dossiers de départ suivants requièrent votre attention en priorité',\n    SALARIE:  'Rappel concernant votre dossier de départ en attente de traitement',\n    FARHAT:   'Information préventive - Les dossiers de départ suivants approchent de leur délai limite'\n  }\n};\n\nfunction genererEmail(data) {\n  const dest    = data.destinataire_principal;\n  const stats   = data.statistiques;\n  const type    = data.type_destinataire;\n  const dossiers = data.dossiers;\n\n  const subject = `${TEMPLATES.sujet[type]} - ${stats.total_dossiers} dossier(s)`;\n\n  let body = `Bonjour ${dest.prenom || ''} ${dest.nom || ''},\\n\\n`;\n  body += `${TEMPLATES.intro[type]}\\n\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n`;\n  body += `📊 STATISTIQUES\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  body += `${emoji(stats.jours_min)} Niveau escalade : ${data.niveau_escalade}\\n`;\n  body += `Total dossiers : ${stats.total_dossiers}\\n`;\n  body += `Délai minimum restant : ${stats.jours_min} jour(s)\\n`;\n  body += `Délai total paramétré : ${stats.delai_int} jour(s)\\n`;\n  if (type === 'DGA' || type === 'BAALLAH') body += `Seuil mi-délai : ${stats.seuil_dga} jour(s)\\n`;\n\n  body += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  body += `📁 LISTE DES DOSSIERS DE DÉPART CONCERNÉS\\n`;\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  dossiers.forEach((s, i) => {\n    body += `${i + 1}. ${emoji(s.jours_restants)} Dossier N° ${s.num_dossier}\\n`;\n    body += `   👤 Créé par   : ${s.createur.prenom || ''} ${s.createur.nom || ''}\\n`;\n    body += `   ──────────────────────────────────────\\n`;\n    body += `   👤 Salarié    : ${s.nom_prenom} (${s.code_salarie})\\n`;\n    body += `   🏷️  Fonction   : ${s.fonction || 'N/A'}\\n`;\n    body += `   📋 Matricule  : ${s.matricule && s.matricule.trim() ? s.matricule : 'Non attribué'}\\n`;\n    body += `   📅 Embauche   : ${formaterDate(s.date_embauche)}\\n`;\n    body += `   🚪 Sortie     : ${formaterDate(s.date_sortie)}\\n`;\n    body += `   🕐 Création   : ${formaterDate(s.date_creation)}\\n`;\n    if (s.date_controle && !String(s.date_controle).includes('1753')) {\n      body += `   🗓️  Contrôle   : ${formaterDate(s.date_controle)}\\n`;\n    }\n    body += `   ⏰ Restant    : ${s.jours_restants} jour(s) (limite : ${formaterDate(s.date_limite)})\\n`;\n    if (s.jours_restants <= 2) body += `   🚨 URGENT - Traitement immédiat requis\\n`;\n    body += `\\n`;\n  });\n\n  body += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    body += `🚨 URGENT - Traitement immédiat requis\\n`;\n  } else if (type === 'DGA' || type === 'BAALLAH') {\n    body += `📌 Ces dossiers ont dépassé la moitié du délai autorisé. Merci de vous assurer que les actions correctives sont engagées.\\n`;\n  } else {\n    body += `📌 Veuillez traiter ces dossiers dans les meilleurs délais.\\n`;\n  }\n  body += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  body += `Cordialement,\\n\\nService SI/IA - Jbel Annour\\n\\n`;\n  body += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  body += `🤖 Message automatique - ${formaterDate(new Date().toISOString())}\\n`;\n  body += `Merci de ne pas répondre à cet email\\n`;\n\n  return { subject, body };\n}\n\nfunction genererTelegram(data) {\n  const dest    = data.destinataire_principal;\n  const stats   = data.statistiques;\n  const type    = data.type_destinataire;\n  const dossiers = data.dossiers;\n\n  // ── EN-TÊTE ──────────────────────────────────────────────\n  let text = `${emoji(stats.jours_min)} *${TEMPLATES.sujet[type]}*\\n`;\n  text += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n  // ── DESTINATAIRE ─────────────────────────────────────────\n  text += `📨 *Destinataire :* ${dest.prenom || ''} ${dest.nom || ''}\\n`;\n  text += `🏷️ *Niveau :* ${data.niveau_escalade}\\n\\n`;\n\n  // ── STATISTIQUES ─────────────────────────────────────────\n  text += `📊 *STATISTIQUES*\\n`;\n  text += `┣ Total dossiers: *${stats.total_dossiers}*\\n`;\n  text += `┣ Délai min restant: *${stats.jours_min} jour(s)*\\n`;\n  text += `┣ Délai total: *${stats.delai_int} jour(s)*\\n`;\n  if (type === 'DGA' || type === 'BAALLAH') {\n    text += `┗ Seuil mi-délai: *${stats.seuil_dga} jour(s)*\\n`;\n  } else {\n    text += `┗ Date traitement: *${formaterDate(new Date().toISOString())}*\\n`;\n  }\n  text += `\\n`;\n\n  // ── LISTE DES DOSSIERS ────────────────────────────────────\n  text += `📁 *LISTE DES DOSSIERS DE DÉPART*\\n`;\n  text += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n\n  dossiers.slice(0, 5).forEach((s, i) => {\n    const nomCreateur = `${s.createur.prenom || ''} ${s.createur.nom || ''}`.trim() || 'N/A';\n\n    text += `${i + 1}\\. ${emoji(s.jours_restants)} *N° ${s.num_dossier}*\\n`;\n    text += `   👤 *Créateur :* ${nomCreateur}\\n`;\n    text += `   ─────────────────────\\n`;\n    text += `   👤 Salarié  : ${s.nom_prenom || 'N/A'} \\(${s.code_salarie}\\)\\n`;\n    text += `   🏷️ Fonction : ${s.fonction || 'N/A'}\\n`;\n    text += `   📋 Matricule: ${s.matricule && s.matricule.trim() ? s.matricule : 'Non attribué'}\\n`;\n    text += `   📅 Embauche : ${formaterDate(s.date_embauche)}\\n`;\n    text += `   🚪 Sortie   : ${formaterDate(s.date_sortie)}\\n`;\n    text += `   🕐 Créé le  : ${formaterDate(s.date_creation)}\\n`;\n    if (s.date_controle && !String(s.date_controle).includes('1753')) {\n      text += `   🗓️ Contrôle : ${formaterDate(s.date_controle)}\\n`;\n    }\n    text += `   ⏰ Restant  : *${s.jours_restants} jour(s)*\\n`;\n    text += `   📅 Limite   : ${formaterDate(s.date_limite)}\\n`;\n    if (s.jours_restants <= 2) text += `   🚨 *URGENT - Traitement immédiat requis*\\n`;\n    text += `\\n`;\n  });\n\n  if (dossiers.length > 5) {\n    text += `_\\.\\.\\. et ${dossiers.length - 5} autre\\(s\\) dossier\\(s\\) non affiché\\(s\\)_\\n\\n`;\n  }\n\n  // ── CONCLUSION ────────────────────────────────────────────\n  text += `━━━━━━━━━━━━━━━━━━━━━\\n`;\n  if (stats.jours_min <= 2) text += `🚨 *URGENT - Traitement immédiat requis*\\n`;\n  else if (type === 'DGA' || type === 'BAALLAH') text += `📌 Ces dossiers ont dépassé la moitié du délai autorisé\\.\\n`;\n  else text += `📌 Veuillez traiter ces dossiers dans les meilleurs délais\\.\\n`;\n  text += `\\n🤖 _Message automatique \\- ${formaterDate(new Date().toISOString())}_\\n`;\n\n  return { text, parse_mode: 'MarkdownV2' };\n}\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data        = item.json;\n  const emailMsg    = genererEmail(data);\n  const telegramMsg = genererTelegram(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC Telegram : PDG → copie supérieur\n  if (data.type_destinataire === 'PDG' && data.superieur?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.superieur,\n      cc_pour_profil: 'SUPERIEUR',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC Telegram : PDG → copie créateur\n  if (data.type_destinataire === 'PDG' && data.createur_info?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.createur_info,\n      cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC Telegram : SUPERIEUR → copie créateur\n  if (data.type_destinataire === 'SUPERIEUR' && data.createur_info?.chat_id) {\n    results.push({ json: {\n      ...data,\n      messages: { email: emailMsg, telegram: telegramMsg },\n      type_envoi: 'CC',\n      destinataire_final: data.createur_info,\n      cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }});\n  }\n});\n\nconsole.log(`\\n✅ Messages générés: ${results.length}`);\nconsole.log(`  - Principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - CC Telegram: ${results.filter(r => r.json.type_envoi === 'CC').length}`);\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  console.log(`  - ${t}: ${results.filter(r => r.json.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2416,1904],"id":"106bd312-825c-4987-a69f-b17f4bc36029","name":"Génération Messages XDEPSE1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-farhat","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2192,1808],"id":"b6aa8fe5-79b1-4d61-a13a-bdd844553233","name":"Filtre FARHAT email XDEPSE1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1952,1856],"id":"6385be24-5517-437a-8b89-572629aad4b8","name":"Skip FARHAT direct XDEPSE1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-pdg","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1968,1648],"id":"515a1a07-61cd-42d0-8098-308582002333","name":"Filtre PDG email XDEPSE1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1728,1808],"id":"a95e5119-06f0-4bce-8b43-769ab239f7b1","name":"Skip PDG direct XDEPSE1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-email","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"check-email-empty","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1744,1504],"id":"fb4e41db-3630-40d9-a9f6-e93b97d57939","name":"Email existe XDEPSE ?1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-1520,1408],"id":"698f2cc3-effb-4d2d-a838-53b129a351f9","name":"Envoi Email XDEPSE1","webhookId":"62c24aa8-176f-4d71-b778-dd0a27be2273","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1520,1616],"id":"cc85dc55-eb17-4276-9e56-495251c5e5f2","name":"Pas d'email - ignoré XDEPSE1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1232,1520],"id":"ff2ff797-8d64-4d6c-b145-100845387655","name":"Fin Workflow XDEPSE1"}],"connections":{"Si Chat ID Existe XDEPSE":{"main":[[{"node":"Not PDG Chat ID XDEPSE","type":"main","index":0}],[{"node":"No Chat ID - Ignoré XDEPSE","type":"main","index":0}]]},"Not PDG Chat ID XDEPSE":{"main":[[{"node":"Envoi Telegram XDEPSE","type":"main","index":0}],[{"node":"Skip PDG Chat Direct XDEPSE","type":"main","index":0}]]},"Envoi Telegram XDEPSE":{"main":[[{"node":"Fin Workflow XDEPSE1","type":"main","index":0}]]},"Schedule Trigger XDEPSE1":{"main":[[{"node":"SQL XDEPSE Escalade1","type":"main","index":0}]]},"SQL XDEPSE Escalade1":{"main":[[{"node":"Vérifier Données XDEPSE1","type":"main","index":0}]]},"Vérifier Données XDEPSE1":{"main":[[{"node":"Structuration par Destinataire XDEPSE1","type":"main","index":0}],[{"node":"Fin - Aucune Donnée XDEPSE1","type":"main","index":0}]]},"Structuration par Destinataire XDEPSE1":{"main":[[{"node":"Génération Messages XDEPSE1","type":"main","index":0}]]},"Génération Messages XDEPSE1":{"main":[[{"node":"Filtre FARHAT email XDEPSE1","type":"main","index":0},{"node":"Si Chat ID Existe XDEPSE","type":"main","index":0}]]},"Filtre FARHAT email XDEPSE1":{"main":[[{"node":"Filtre PDG email XDEPSE1","type":"main","index":0}],[{"node":"Skip FARHAT direct XDEPSE1","type":"main","index":0}]]},"Filtre PDG email XDEPSE1":{"main":[[{"node":"Email existe XDEPSE ?1","type":"main","index":0}],[{"node":"Skip PDG direct XDEPSE1","type":"main","index":0}]]},"Email existe XDEPSE ?1":{"main":[[{"node":"Envoi Email XDEPSE1","type":"main","index":0}],[{"node":"Pas d'email - ignoré XDEPSE1","type":"main","index":0}]]},"Envoi Email XDEPSE1":{"main":[[{"node":"Fin Workflow XDEPSE1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger XDEPSE":{"recurrenceRules":[]},"node:Schedule Trigger XDEPSE1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger XDEPSE1":[{"json":{"timestamp":"2026-05-04T11:00:27.015-04:00","Readable date":"May 4th 2026, 11:00:27 am","Readable time":"11:00:27 am","Day of week":"Monday","Year":"2026","Month":"May","Day of month":"04","Hour":"11","Minute":"00","Second":"27","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"9123cee7-e483-45f8-87ed-7d6eec2a4fd4","triggerCount":1,"tags":[]}