enregistrer infos des salaries-T9utr340xrIKV4fV.json
{"createdAt":"2026-01-19T09:42:17.838Z","updatedAt":"2026-05-19T21:58:05.000Z","id":"T9utr340xrIKV4fV","name":"Enregistrer infos des salaries","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"},"id":"8303bb95-6a11-41d3-a704-6670b86b1d8b"}],"combinator":"and"},"renameOutput":true,"outputKey":"start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0531e0c-8de0-438c-abc0-e65294cf8c4e","leftValue":"={{ $json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}","rightValue":"start_registration","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":" start_registration"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7ca5b21-cbf9-49b2-8f2f-a6be74b91c0b","leftValue":"={{ $json.message.text }}","rightValue":"^[Ss][0-9]{4}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"code X3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41a95ecb-8fe0-4c0a-b6de-d0dc3311471b","leftValue":"={{ $json.callback_query.data }}","rightValue":"^lang_(ENG|FRA|ARA|ESP)_[Ss][0-9]{4}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"langue"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d070a7a3-c9c5-46a4-bef7-7c4faeba5783","leftValue":"={{ $json.message.text }}","rightValue":"/update","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"update"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d95349f0-4570-49ba-88ff-233b197d043a","leftValue":"={{ $json.message.text }}","rightValue":"^[0-9]{6}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"verification"}]},"options":{"fallbackOutput":1}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-176,16],"id":"0322f943-1c3e-4f07-9ed5-9679197f6920","name":"Switch - Router Principal"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition1","leftValue":"={{ $json.ETAT_UTILISATEUR }}","rightValue":"ENREGISTRÉ_COMPLET","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-592],"id":"dc3d5ae8-3a73-4672-bf0b-95a188f96479","name":"IF - Déjà Enregistré?"},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"=👋 Bienvenue de retour {{ $('Telegram Trigger1').item.json.message.from.first_name }} {{ $('Telegram Trigger1').item.json.message.from.last_name }}!|✅ Vous êtes déjà enregistré(e) :\n• Code X3 : {{ $json.Code_X3 }}\n• Langue : {{ $json['Langue'] }}\n• Date d'enregistrement : {{ $json.Date_creation }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[496,-688],"id":"f80293f2-4433-4585-aaba-c412997e092a","name":"Message Déjà Enregistré","webhookId":"478c8eb7-b344-4c15-9f61-828a38d6df01","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"=🎉 Bienvenue {{ $('Telegram Trigger1').item.json.message.from.first_name }} {{ $('Telegram Trigger1').item.json.message.from.last_name }} !\n\nPour recevoir les notifications et messages personnalisés, vous devez enregistrer vos informations :\n\n• 🔢 Code X3\n• 🌍 Langue préférée\n\nCliquez sur le bouton ci-dessous pour commencer :","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"▶️ Commencer","additionalFields":{"callback_data":"=start_registration"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-400],"id":"c983738f-7d52-4d63-bc6d-1fa696cd3901","name":"Message Bienvenue Nouveau","webhookId":"93f337d7-96a9-43a7-8ff2-817a8551e781","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"resource":"callback","queryId":"={{ $json.callback_query.id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,-304],"id":"63164279-3e1e-47c4-98d7-cfea026fea12","name":"Answer Callback Query","webhookId":"718de440-6734-456c-a3d7-8dbce9ad0ed4","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.callback_query.from.id }}","text":"🔢 **Étape 1/2 : Code salarié**  \n\nVeuillez saisir votre code X3 (format : S suivi de 4 chiffres)  \n📝 **Exemple :** S1234  \n\n👉 Tapez votre code ci-dessous :","replyMarkup":"forceReply","forceReply":{"force_reply":false},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[272,-304],"id":"59039875-6e8a-49a6-b098-7aece18dff64","name":"Demander Code X3","webhookId":"8db1912e-1197-443b-aa9d-c56298cd9792","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-400,80],"id":"cf3634e3-0119-47d0-b319-346768c7d918","name":"Telegram Trigger1","webhookId":"8b7071df-01c2-469a-b9ab-22bbb39721fa","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    '{{ $json.message.chat.id }}' AS CHAT_ID,\n\n    CASE \n        -- ENREGISTRÉ_COMPLET : Code X3 + Langue réelle\n        WHEN EXISTS (\n            SELECT 1\n            FROM jbelrh.JBELRH.YAIINFOSAL\n            WHERE TIDCHAT_0 = '{{ $json.message.chat.id }}'\n              AND XSAL_0 IS NOT NULL\n              AND TRIM(LAN_0) <> ''\n        )\n        THEN 'ENREGISTRÉ_COMPLET'\n\n        -- EN_ATTENTE_LANGUE : Code X3 ok mais langue vide ou null\n        WHEN EXISTS (\n            SELECT 1\n            FROM jbelrh.JBELRH.YAIINFOSAL\n            WHERE TIDCHAT_0 = '{{ $json.message.chat.id }}'\n              AND XSAL_0 IS NOT NULL\n              AND (LAN_0 IS NULL OR TRIM(LAN_0) = '')\n        )\n        THEN 'EN_ATTENTE_LANGUE'\n\n        -- NOUVEAU\n        ELSE 'NOUVEAU'\n    END AS ETAT_UTILISATEUR,\n\n    MAX(t.XSAL_0)      AS Code_X3,\n    NULLIF(TRIM(MAX(t.LAN_0)), '') AS Langue,\n    MAX(t.CREDATTIM_0) AS Date_creation\n\nFROM jbelrh.JBELRH.YAIINFOSAL t\nWHERE t.TIDCHAT_0 = '{{ $json.message.chat.id }}';\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,-592],"id":"83650df8-89a5-44c3-b742-3fa343d8fc86","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"operation":"executeQuery","query":"DECLARE @CODE_VERIF VARCHAR(6);\n\n-- Génération d’un code à 6 chiffres\nSET @CODE_VERIF = RIGHT(\n    '000000' + CAST(ABS(CHECKSUM(NEWID())) % 1000000 AS VARCHAR),\n    6\n);\n\nSELECT\n    '{{ $json.CODE_ENVOYE }}' AS code_x3,\n    t.XNAMSAL_0 AS nom,\n    t.XPRENOM_0 AS prenom,\n    t.XEMAIL_0 AS email,\n    CASE\n        WHEN t.XSAL_0 IS NOT NULL THEN 'OUI'\n        ELSE 'NON'\n    END AS EXISTE,\n    CASE\n        WHEN t.XSAL_0 IS NOT NULL THEN 'CODE_ENVOYE'\n        ELSE 'ERREUR'\n    END AS ETAT_VERIFICATION,\n    @CODE_VERIF AS CODE_A_ENVOYER -- 👉 à envoyer par email\nFROM jbelrh.JBELRH.XSAL t\nWHERE t.XSAL_0 = '{{ $json.CODE_ENVOYE }}';\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[496,-208],"id":"4a57f745-371f-4ad1-9e19-a169b823055f","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"❌ **Code non reconnu**\n\nLe code que vous avez saisi ne correspond à aucun salarié dans notre système.\n\n🔍 **Vérifications :**\n   • Le format est-il correct ? (S + 4 chiffres)\n   • Avez-vous bien tapé tous les caractères ?\n\n📝 **Exemple de code valide :** S1234\n\n🔄 Veuillez réessayer en saisissant un code valide.\n\n💬 En cas de problème, contactez le service RH.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,80],"id":"a1380864-e9e8-4ec5-ae68-20b9b23bc710","name":"Send a text message","webhookId":"b05971f1-82b8-4798-9b67-e13121156b32","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"✅ **Code validé avec succès !**\n\n🌍 **Étape 2/2 : Langue de communication**\n\nDans quelle langue souhaitez-vous recevoir vos notifications ?\n\n👇 Choisissez votre langue préférée :","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🇫🇷 Français","additionalFields":{"callback_data":"=lang_FRA_{{ $('If').item.json.code_x3 }}"}},{"text":"🇬🇧 English","additionalFields":{"callback_data":"=lang_ENG_{{ $('If').item.json.code_x3 }}"}}]}},{"row":{"buttons":[{"text":"🇪🇸 Español","additionalFields":{"callback_data":"=lang_ESP_{{ $('If').item.json.code_x3 }}"}},{"text":"🇸🇦 العربية","additionalFields":{"callback_data":"=lang_ARA_{{ $('If').item.json.code_x3 }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[944,272],"id":"97ec030f-3c9c-4611-8e47-899db10771a7","name":"Demander Langue","webhookId":"ba13702c-f10e-40d4-865b-07c7c370762e","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"jsCode":"// Récupération des données du callback\nconst callbackData = $json.callback_query.data;\nconst chatId = $json.callback_query.from.id;\n\n// Regex pour matcher: lang_XXX_SXXXX\nconst regex = /^lang_(FRA|ENG|ARA|ESP)_([Ss][0-9]{4})$/;\n\nif (!regex.test(callbackData)) {\n  return [{\n    json: {\n      valid: false,\n      message: 'Format invalide',\n      callback_data: callbackData\n    }\n  }];\n}\n\n// Extraction langue et code\nconst match = callbackData.match(regex);\nconst langueCode = match[1]; // FRA, ENG, ARA, ESP\nconst codeX3 = match[2];     // S1499\n\n// Mapping des langues\nconst languages = {\n  FRA: 'Français',\n  ENG: 'English',\n  ARA: 'العربية',\n  ESP: 'Español'\n};\n\nreturn [{\n  json: {\n    valid: true,\n    langue_code: langueCode,\n    langue_nom: languages[langueCode],\n    code_x3: codeX3,\n    chat_id: chatId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,272],"id":"53c7a26d-232e-4645-be4b-c4d4f9569ab0","name":"Code"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.callback_query.from.id }}","text":"🎉 **Inscription réussie !**\n\nFélicitations, votre profil est maintenant complet et actif.\n\n✅ **Configuration enregistrée :**\n   • Code X3 : Validé\n   • Langue : Configurée\n\n📬 Vous recevrez désormais toutes les notifications personnalisées dans votre langue.\n\nMerci et bienvenue ! 👋","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[496,272],"id":"c4581ad4-6a4a-40ae-afc0-ad9ce5a5d083","name":"Send a text message1","webhookId":"bd6c640b-60ea-4d58-b9f5-dc53f38c4043","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"method":"PUT","url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YAIINFOSAL('{{ $json.code_x3 }}')?representation=YAIINFOSAL.$edit","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"TIDCHAT\":\"{{ $json.chat_id }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,464],"id":"822ed67d-eefc-4177-be29-a44220ca6090","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}},"onError":"continueErrorOutput"},{"parameters":{"method":"PUT","url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YAIINFOSAL('{{ $json.code_x3 }}')?representation=YAIINFOSAL.$edit ","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"LAN\":\"{{ $json.langue_code }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,272],"id":"d44f4393-cf64-4910-bff1-e0f52b64888c","name":"HTTP Request1","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"entrer votre code x3","replyMarkup":"forceReply","forceReply":{"force_reply":false},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,464],"id":"1cd03fb2-8a7a-4c5f-9d36-2fddc0c621bd","name":"Demander Code X","webhookId":"8db1912e-1197-443b-aa9d-c56298cd9792","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42232f87-f6fb-46e5-80d2-d194f0da5822","leftValue":"={{ $json.ETAT_UTILISATEUR }}","rightValue":"EN_ATTENTE_LANGUE","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-496],"id":"c1076075-a356-4e4e-b583-34ebb1e3987e","name":"If1"},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"⚠️ **Inscription incomplète**\n\nVotre code X3 est enregistré, mais votre langue de communication n'a pas encore été sélectionnée.\n\n🌍 **Dernière étape !**\nChoisissez votre langue pour recevoir vos notifications :\n\n👇 Sélectionnez votre langue préférée :","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🇫🇷 Français","additionalFields":{"callback_data":"=lang_FRA_{{ $json.Code_X3 }}"}},{"text":"🇬🇧 English","additionalFields":{"callback_data":"=lang_ENG_{{ $json.Code_X3 }}"}}]}},{"row":{"buttons":[{"text":"🇪🇸 Español","additionalFields":{"callback_data":"=lang_ESP_{{ $json.Code_X3 }}"}},{"text":"🇸🇦 العربية","additionalFields":{"callback_data":"=lang_ARA_{{ $json.Code_X3 }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-592],"id":"13c14dde-2e5b-4731-8840-3838b566e3f3","name":"Demander Langue1","webhookId":"ba13702c-f10e-40d4-865b-07c7c370762e","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    '{{ $json.message.chat.id }}' AS CHAT_ID,\n    '{{ $json.message.text }}' AS CODE_ENVOYE,\n    \n    -- Déterminer l'état de l'utilisateur\n    CASE \n        WHEN EXISTS (\n            SELECT 1\n            FROM jbelrh.JBELRH.YAIINFOSAL\n            WHERE TIDCHAT_0 = '{{ $json.message.chat.id }}'\n              AND XSAL_0 IS NOT NULL \n              AND LAN_0 IS NOT NULL\n              AND LTRIM(RTRIM(LAN_0)) != ''  -- ✅ Vérifier que ce n'est pas juste des espaces\n        )\n        THEN 'ENREGISTRE_COMPLET'\n        \n        WHEN EXISTS (\n            SELECT 1\n            FROM jbelrh.JBELRH.YAIINFOSAL\n            WHERE TIDCHAT_0 = '{{ $json.message.chat.id }}'\n              AND XSAL_0 IS NOT NULL \n              AND (LAN_0 IS NULL OR LTRIM(RTRIM(LAN_0)) = '')  -- ✅ NULL ou vide (avec espaces)\n        )\n        THEN 'EN_ATTENTE_LANGUE'\n        \n        ELSE 'NOUVEAU'\n    END AS ETAT_UTILISATEUR,\n    \n    -- Récupérer le code existant s'il y en a un\n    COALESCE(MAX(t.XSAL_0), NULL) AS Code_X3_Existant,\n    \n    -- Nettoyer la langue (enlever les espaces)\n    CASE \n        WHEN MAX(t.LAN_0) IS NULL THEN NULL\n        WHEN LTRIM(RTRIM(MAX(t.LAN_0))) = '' THEN NULL\n        ELSE LTRIM(RTRIM(MAX(t.LAN_0)))\n    END AS Langue_Existante\n    \nFROM (SELECT 1 AS dummy) dummy_table\nLEFT JOIN jbelrh.JBELRH.YAIINFOSAL t \n    ON t.TIDCHAT_0 = '{{ $json.message.chat.id }}';"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[48,-16],"id":"18ddee53-d2ae-44a2-ae82-600820b9a71e","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"032e6f38-aae3-4d79-966c-0f36cdc98519","leftValue":"={{ $json.ETAT_UTILISATEUR }}","rightValue":"NOUVEAU","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,-16],"id":"de6cd9cf-0412-43c4-a791-fd15396f5c3d","name":"If2"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.user_data.email }}","subject":"code verification","emailFormat":"text","text":"=voici le code de verification de votre code x3 salarier:\n{{ $('If3').item.json.CODE_A_ENVOYER }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1392,-304],"id":"09dd3f0e-0d85-4c51-8190-97fe13794a2c","name":"Send email","webhookId":"3f892b2a-a8ff-4cc2-8c84-e36f1ccf1bb1","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"onError":"continueErrorOutput"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"📧 **Vérification de sécurité**\n\nUn code de vérification à 6 chiffres vient d'être envoyé à votre adresse email professionnelle.\n\n⏱️ **Code valide pendant 15 minutes**\n\n📝 Veuillez saisir le code reçu ci-dessous :\n\n💡 **Vous n'avez pas reçu le code ?**\n   • Vérifiez vos spams\n   • Patientez quelques instants\n   • Contactez le support si le problème persiste","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1616,-400],"id":"40ae1b8e-fcf7-441e-bd3e-4ef597f84125","name":"Send a text message4","webhookId":"ced68abc-f38a-428e-908d-fe0c68bace2a","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a754af0-9fa4-4df5-bf68-6dff457f3ade","leftValue":"={{ $json.EXISTE }}","rightValue":"OUI","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-208],"id":"5c83b1a1-b070-4ed6-b3f0-a449ed0d8844","name":"If3"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"❌ **Code de vérification incorrect**\n\nLe code que vous avez saisi est invalide ou a expiré.\n\n🔍 **Points à vérifier :**\n   • Avez-vous saisi les 6 chiffres correctement ?\n   • Le code est-il encore valide ? (15 min max)\n   • Utilisez-vous le dernier code reçu ?\n\n🔄 **Que faire ?**\n   1. Vérifiez le code dans votre email\n   2. Resaisissez-le avec attention\n   3. Si expiré, recommencez avec /start\n\n💬 **Besoin d'aide ?** Contactez le service RH.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,752],"id":"d2e8769b-dd68-4168-ac63-80b6a90430e1","name":"Send a text message5","webhookId":"b24d4a18-cc7a-4ea5-922a-5a71f08d2d09","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"operation":"set","key":"={{ $json.redis_key }}","value":"={{ $json.redis_value }}","expire":true,"ttl":"={{ $json.redis_ttl }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,-304],"id":"008e103e-0453-4ebf-93a5-82e84839277c","name":"Redis","credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"jsCode":"const chatId = $('Microsoft SQL3').first().json.CHAT_ID\nconst codeX3 = $input.first().json.code_x3;\n\n// Créer l'objet utilisateur\nconst userData = {\n  chat_id: chatId,\n  code_x3: codeX3,\n  nom: $input.first().json.nom,\n  prenom: $input.first().json.prenom,\n  email: $input.first().json.email,\n  existe: $input.first().json.EXISTE,\n  etat_verification: $input.first().json.ETAT_VERIFICATION,\n  code_a_envoyer: $input.first().json.CODE_A_ENVOYER,\n  date_creation: new Date().toISOString(),\n  tentatives: 0\n};\n\nreturn [{\n  json: {\n    redis_key: `user:${chatId}`,\n    redis_value: JSON.stringify(userData),\n    redis_ttl: 3600, // 5 minutes pour le code de vérification\n    user_data: userData\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,-304],"id":"be04006e-1372-4a92-bac8-245cea3dc9ff","name":"Code1"},{"parameters":{"operation":"get","key":"=user:{{ $json.message.chat.id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[48,656],"id":"1fbd87b5-ba2f-4e9e-b785-e1d9c35586e1","name":"Redis1","credentials":{"redis":{"id":"4voCQI5XRoQBeG4F","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a7d9e7f7-4385-44c0-b1ad-e379e180f01a","leftValue":"={{ $json.code_verification }}","rightValue":"={{ $('Switch - Router Principal').item.json.message.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,656],"id":"08aab7b2-0138-40ee-b32d-08e77131263b","name":"If"},{"parameters":{"jsCode":"const jsonString = $json.propertyName;\nconst data = JSON.parse(jsonString);\n\n// Extraire les données\nconst codeVerification = data.code_a_envoyer;\nconst codeX3Salarie = data.code_x3; // ✅ Correction ici\n\nreturn [{\n  json: {\n    code_verification: codeVerification,\n    chat_id: data.chat_id,\n    code_x3: codeX3Salarie // ✅ Utiliser la variable correcte\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,656],"id":"2221fc19-4dfe-4cf8-aecb-77bce7e7536a","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b639142a-5d45-49b6-ab2c-538f700e907f","leftValue":"={{ $json.ETAT_UTILISATEUR }}","rightValue":"=EN_ATTENTE_LANGUE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,80],"id":"7c101888-05d2-411e-bb8d-b23c26f0a989","name":"If5"},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"ℹ️ **Profil déjà configuré**\n\nVotre inscription est complète et votre profil est déjà actif.\n\n✅ Toutes vos informations sont à jour.\n\n💡 **Besoin d'aide ?**\n   Utilisez /start pour voir vos informations actuelles.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,272],"id":"4fb208a8-72b3-4053-8675-83f462e0051b","name":"Send a text message6","webhookId":"5d7463d3-3dde-4ee2-9bd9-965b441f4c81","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"🔄 **Finalisation de votre profil**\n\nVotre code X3 est déjà validé dans le système.\n\n🌍 **Action requise :**\nPour recevoir vos notifications, il ne vous reste qu'à sélectionner votre langue de communication.\n\n👇 Choisissez votre langue préférée :","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🇫🇷 Français","additionalFields":{"callback_data":"=lang_FRA_{{ $json.CODE_ENVOYE }}"}},{"text":"🇬🇧 English","additionalFields":{"callback_data":"=lang_ENG_{{ $json.CODE_ENVOYE }}"}}]}},{"row":{"buttons":[{"text":"🇪🇸 Español","additionalFields":{"callback_data":"=lang_ESP_{{ $json.CODE_ENVOYE }}"}},{"text":"🇸🇦 العربية","additionalFields":{"callback_data":"=lang_ARA_{{ $json.CODE_ENVOYE }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-16],"id":"35eda95e-e422-4496-9477-eaee6b2e1967","name":"Demander Langue2","webhookId":"ba13702c-f10e-40d4-865b-07c7c370762e","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"=Notre système a détecté une anomalie concernant votre dossier d'inscription.\nVeuillez vérifier votre inscription et contacter le service SI dans les plus brefs délais.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1840,-304],"id":"c284fac8-3d02-4ff7-93f4-d7c1d8772a3e","name":"Send a text message2","webhookId":"dea851ec-8deb-43bb-8aff-85ca9cdc52bf","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1bc99d9-edc4-424a-a618-f26a32d75822","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,560],"id":"8fcf23b8-206f-4623-a7ef-90f419a1edde","name":"If4"},{"parameters":{"chatId":"={{ $node['Telegram Trigger1'].json.message.chat.id }}","text":"=Notre système a détecté une anomalie concernant votre dossier d'inscription.\nVeuillez vérifier votre inscription et contacter le service SI dans les plus brefs délais.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1168,272],"id":"77f8e05b-f71a-4fa1-9a01-69d087e527d9","name":"Send a text message3","webhookId":"dea851ec-8deb-43bb-8aff-85ca9cdc52bf","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1168,656],"id":"71af0b71-bc6b-4f06-95a6-5b7395cee9cc","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1bc99d9-edc4-424a-a618-f26a32d75822","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1616,-208],"id":"c84456fb-12f5-4c3c-a04d-0a106539639d","name":"If6"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1840,-112],"id":"bbb5cc7c-dc82-4908-9ffa-56cbe79b3166","name":"No Operation, do nothing1"}],"connections":{"Switch - Router Principal":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}],[{"node":"Answer Callback Query","type":"main","index":0}],[{"node":"Microsoft SQL3","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[{"node":"Demander Code X","type":"main","index":0}],[{"node":"Redis1","type":"main","index":0}]]},"IF - Déjà Enregistré?":{"main":[[{"node":"Message Déjà Enregistré","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"Answer Callback Query":{"main":[[{"node":"Demander Code X3","type":"main","index":0}]]},"Demander Code X3":{"main":[[]]},"Telegram Trigger1":{"main":[[{"node":"Switch - Router Principal","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"IF - Déjà Enregistré?","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Demander Langue","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Demander Langue1","type":"main","index":0}],[{"node":"Message Bienvenue Nouveau","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Send a text message4","type":"main","index":0}],[{"node":"If6","type":"main","index":0}]]},"If3":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Redis1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Send a text message5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"If","type":"main","index":0}]]},"If5":{"main":[[{"node":"Demander Langue2","type":"main","index":0}],[{"node":"Send a text message6","type":"main","index":0}]]},"If4":{"main":[[{"node":"Send a text message3","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If6":{"main":[[{"node":"Send a text message2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5m4i1jK9nprJYIHA"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"871ba841-42da-4c83-b92a-797280b8d53c","triggerCount":1,"tags":[]}