envoyer demande avance a pdg-MMda32buxLjMXh4x.json
{"createdAt":"2026-06-19T00:03:28.208Z","updatedAt":"2026-07-08T21:31:54.000Z","id":"MMda32buxLjMXh4x","name":"Envoyer demande avance a PDG","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"42b7444a-250b-4791-a51b-0d5c78b769e7","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-192],"id":"9edf469c-a0bd-4494-bcfa-58f38c20d8f4","name":"Webhook","webhookId":"42b7444a-250b-4791-a51b-0d5c78b769e7"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    -- Informations de l'en-tete (Commande)\n    po.POHNUM_0 AS numero_bc,\n    po.APPFLG_0 AS code_signature,\n    sign.LANMES_0 AS statut_signature,\n    po.INVFLG_0 AS code_facturation,\n    fact.LANMES_0 AS statut_facturation,\n    po.RCPFLG_0 AS code_reception,\n    rcp.LANMES_0 AS statut_reception,\n    --po.CLEFLG_0 AS cloture,\n\tCASE po.CLEFLG_0 \n\t\tWHEN 1 THEN 'NON'\n\t\tWHEN 2 THEN 'OUI'\n\t\tELSE 'AUTRE'\n\tEND AS cloture,\n    po.TTVORD_0 AS total_ttc_commande,\n    po.TOTORD_0 AS total_ht_commande,\n    po.TOTLINAMT_0 AS total_ht_lignes,\n    po.TOTLINATI_0 AS total_ttc_lignes,\n\n    -- Informations des lignes (Details)\n    pq.BPSNUM_0 AS code_fournisseur_ligne,\n\tBPA.BPRNAM_0 as nom_fournisseur,\n    pq.ITMREF_0 AS reference_article,\n\tITM.ITMDES1_0 as designation_article,\n    pq.LINAMT_0 AS montant_ligne,\n    pq.QTYPUU_0 AS quantite_commandee,\n    pq.RCPQTYPUU_0 AS quantite_receptionnee,\n    pq.INVQTYPUU_0 AS quantite_facturee,\n    -- pq.LINCLEFLG_0 AS ligne_cloturee,\n\tCASE pq.LINCLEFLG_0 \n\t\tWHEN 1 THEN 'NON'\n\t\tWHEN 2 THEN 'OUI'\n\t\tELSE 'AUTRE'\n\tEND AS ligne_cloturee,\n    -- pq.LININVFLG_0 AS ligne_facturee,\n\tCASE pq.LININVFLG_0 \n\t\tWHEN 1 THEN 'NON'\n\t\tWHEN 2 THEN 'OUI'\n\t\tELSE 'AUTRE'\n\tEND AS ligne_facturee,\n    --pq.RCPCLEFLG_0 AS reception_cloturee,\n\tCASE pq.RCPCLEFLG_0 \n\t\tWHEN 1 THEN 'NON'\n\t\tWHEN 2 THEN 'OUI'\n\t\tELSE 'AUTRE'\n\tEND AS reception_cloturee\n\n\n\nFROM BASE1.PORDER po\nINNER JOIN BASE1.PORDERQ pq\n    ON po.POHNUM_0 = pq.POHNUM_0\nINNER JOIN BASE1.ITMMASTER ITM\n\tON pq.ITMREF_0=ITM.ITMREF_0\nINNER JOIN BASE1.BPARTNER BPA \n\tON pq.BPSNUM_0=BPA.BPRNUM_0\nLEFT JOIN BASE1.APLSTD sign\n    ON sign.LANCHP_0 = 280\n    AND sign.LAN_0 = 'FRA'\n    AND sign.LANNUM_0 = po.APPFLG_0\nLEFT JOIN BASE1.APLSTD fact\n    ON fact.LANCHP_0 = 280\n    AND fact.LAN_0 = 'FRA'\n    AND fact.LANNUM_0 = po.INVFLG_0\nLEFT JOIN BASE1.APLSTD rcp\n    ON rcp.LANCHP_0 = 280\n    AND rcp.LAN_0 = 'FRA'\n    AND rcp.LANNUM_0 = po.RCPFLG_0\nWHERE po.POHNUM_0 = '{{ $json.query.bc }}'\n\n\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-96,-192],"id":"84890cd1-fd11-43e1-b912-0a466c76ea14","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[128,-192],"id":"d849220d-7189-44a2-80fb-92a00bbf43bb","name":"Aggregate"},{"parameters":{"fileSelector":"={{ $json.filePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1472,480],"id":"df620cbe-b75a-4011-9634-691af62ddd2e","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"1fd8f8d0-c795-499b-82db-0e96d7e1e415","name":"ATT3","value":"X:/","type":"string"},{"id":"4716e79b-06ac-4933-8388-b009e43d140a","name":"ATT2","value":"Y:/","type":"string"},{"id":"6993ba1d-2e0c-455c-9ce0-941ead0366f5","name":"ATT","value":"Z:/","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,400],"id":"b53b3ace-f892-4f3a-bf3f-5d4a7c94cff0","name":"Edit Fields"},{"parameters":{"jsCode":"// Récupérer le nom du fichier\nconst fileName = $input.first().json.NAM_0;\n\n// Déterminer quel mapping utiliser\n// Par exemple, si le chemin contient [ATT3] ou [ATT2] ou [ATT]\nlet filePath;\n\nif (fileName.includes('[ATT3]')) {\n  filePath = $json.ATT3 + fileName.replace('[ATT3]/', '');\n} else if (fileName.includes('[ATT2]')) {\n  filePath = $json.ATT2 + fileName.replace('[ATT2]/', '');\n} else if (fileName.includes('[ATT]')) {\n  filePath = $json.ATT + fileName.replace('[ATT]/', '');\n} else {\n  // Si pas de mapping, utiliser ATT3 par défaut\n  filePath = $json.ATT3 + fileName;\n}\n\nreturn {\n  filePath: filePath,\n  originalData: $json\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,400],"id":"781a4558-aaa7-4655-806a-d0533e5ceac1","name":"Code"},{"parameters":{"operation":"executeQuery","query":"SELECT IDENT1_0, NAM_0\nFROM BASE1.AOBJTXT AOB \nWHERE AOB.IDENT1_0 = '{{ $('Webhook').item.json.query.bc }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[352,448],"id":"5cab8aee-49e8-4335-9a41-0df2c2fa990d","name":"Microsoft SQL1","alwaysOutputData":true,"credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,400],"id":"057666f0-9fae-4da1-845a-380f546e9e8b","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,400],"id":"4ccf5a86-c07a-4cf6-b1e0-5f94f18a48dd","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"FILES","options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,208],"id":"a7d3d1a1-b01f-406f-b2ad-85f8c3dbb4cd","name":"Aggregate1","alwaysOutputData":true},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1280,272],"id":"6ef3c516-1ef4-4c26-98eb-b6518e389e69","name":"Merge1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"pdg@jbel-annour.com","subject":"=demmande de avance : {{ $('Webhook').item.json.query.bc }}/{{ $('Webhook').item.json.query.tier }}/{{ $('Webhook').item.json.query.id }}","html":"={{ $json.htmlEmail }}","options":{"attachments":"={{ $json.attachmentsList }}","ccEmail":"cyber.analyst@jbel-annour.ma"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2368,-272],"id":"e565d4b1-4d61-43be-8804-582b06308c7c","name":"Send email","webhookId":"4c843430-6ba4-494c-a637-ab08b02edefb","credentials":{"smtp":{"id":"Q5Bchqa5QwHorq80","name":"AI SMTP"}}},{"parameters":{"jsCode":"// Récupère le premier item arrivant dans le nœud\nconst item = $input.all()[0];\n\n// Extrait toutes les clés présentes dans l'objet binaire (data, data_1, data_2...)\nconst binaryKeys = Object.keys(item.binary || {});\n\n// Crée une chaîne textuelle séparée par des virgules\nitem.json.attachmentsList = binaryKeys.join(',');\n\nreturn [item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-192],"id":"5c84115c-09b5-42d3-99b5-ffec70efa478","name":"Code1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2144,-272],"id":"824f1241-b223-40c8-8563-fee68e5866d2","name":"Merge2"},{"parameters":{"jsCode":"// Récupérer les données\nconst items = $input.all();\nconst solde_fournisseur = $input.first().json.Solde;\nconst data = items.map(item => item.json);\n// Extraire les infos du premier élément\nconst firstItem = data[0].data[0] || {};\nconst numeroBC = firstItem.numero_bc || 'N/A';\nconst statutSignature = firstItem.statut_signature || 'N/A';\nconst statutFacturation = firstItem.statut_facturation || 'N/A';\nconst statutReception = firstItem.statut_reception || 'N/A';\nconst cloture = firstItem.cloture || 'N/A';\nconst montant = $('Webhook').first().json.query.montant\nconst totalTtcCommande = firstItem.total_ttc_commande || 0;\nconst totalHtCommande = firstItem.total_ht_commande || 0;\nconst totalHtLignes = firstItem.total_ht_lignes || 0;\nconst totalTtcLignes = firstItem.total_ttc_lignes || 0;\n\n// Générer les lignes du tableau HTML\nlet tableRows = '';\ndata[0].data.forEach((item, index) => {\n  const rowBg = index % 2 === 0 ? '#f8f9fa' : 'white';\n  const highlight = (item.quantite_receptionnee === 0 || item.quantite_facturee === 0) ? 'background: #fff3cd;' : '';\n  console.log(data);\n  tableRows += `\n    <tr style=\"${rowBg}; ${highlight}\">\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0;\"><strong>${item.reference_article || 'N/A'}</strong></td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0;\"><strong>${item.designation_article || 'N/A'}</strong></td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0;\">${item.code_fournisseur_ligne || 'N/A'}</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0;\">${item.nom_fournisseur || 'N/A'}</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center;\">${item.quantite_commandee || 0}</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center; ${item.quantite_receptionnee === 0 ? 'color: #e74c3c; font-weight: bold;' : ''}\">${item.quantite_receptionnee || 0}</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center; ${item.quantite_facturee === 0 ? 'color: #e74c3c; font-weight: bold;' : ''}\">${item.quantite_facturee || 0}</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: right;\">${(item.montant_ligne || 0).toFixed(2)} DH</td>\n      <td style=\"padding: 10px; border-bottom: 1px solid #e0e0e0; text-align: center;\"><span style=\"background: #27ae60; color: white; padding: 2px 10px; border-radius: 12px; font-size: 12px;\">${item.ligne_cloturee || 0}</span></td>\n      \n    </tr>\n  `;\n  console.log(tableRows);\n});\n\n// Générer les alertes\nlet alerts = '';\ndata.forEach(item => {\n  if (item.quantite_receptionnee === 0 && item.quantite_commandee > 0) {\n    alerts += `<li>⚠️ <strong>${item.reference_article}</strong> : Quantité reçue = 0 sur ${item.quantite_commandee} commandée(s)</li>`;\n  }\n  if (item.quantite_facturee === 0 && item.quantite_commandee > 0) {\n    alerts += `<li>⚠️ <strong>${item.reference_article}</strong> : Quantité facturée = 0 sur ${item.quantite_commandee} commandée(s)</li>`;\n  }\n});\n\n// Construire l'email HTML\nconst htmlEmail = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; background: #f4f4f4; padding: 20px; }\n    .container { max-width: 1200px; margin: 0 auto; background: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px; margin-bottom: 30px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 5px 0 0 0; opacity: 0.9; }\n    .summary { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 15px; margin: 20px 0 30px 0; }\n    .summary-item { background: #f8f9fa; padding: 15px; border-radius: 8px; border-left: 4px solid #3498db; }\n    .summary-item .label { font-size: 11px; color: #7f8c8d; text-transform: uppercase; font-weight: bold; }\n    .summary-item .value { font-size: 16px; font-weight: bold; color: #2c3e50; margin-top: 5px; }\n    .totals { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 15px; margin: 20px 0; }\n    .totals div { background: #e8f4fd; padding: 15px; border-radius: 8px; text-align: center; }\n    .totals div .label { font-size: 11px; color: #7f8c8d; text-transform: uppercase; }\n    .totals div .value { font-size: 20px; font-weight: bold; color: #2c3e50; margin-top: 5px; }\n    table { width: 100%; border-collapse: collapse; margin: 20px 0; font-size: 13px; }\n    thead { background: #2c3e50; color: white; }\n    th { padding: 12px; text-align: left; }\n    td { padding: 10px; border-bottom: 1px solid #e0e0e0; }\n    .alert-box { background: #fff3cd; padding: 15px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #f39c12; }\n    .alert-box ul { margin: 10px 0 0 20px; }\n    .footer { margin-top: 30px; padding-top: 20px; border-top: 2px solid #e0e0e0; text-align: center; color: #7f8c8d; font-size: 12px; }\n    .badge { display: inline-block; padding: 3px 10px; border-radius: 12px; font-size: 11px; font-weight: bold; }\n    .badge-success { background: #27ae60; color: white; }\n    .badge-warning { background: #f39c12; color: white; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📄 Détail du Bon de Commande</h1>\n      <p style=\"color:#000000\"><strong>Numéro BC :</strong> ${numeroBC}</p>\n      <p style=\"color:#000000\"><strong>Montant d'avance:</strong> ${montant}</p>\n    </div>\n\n    <div class=\"summary\">\n      <div class=\"summary-item\">\n        <div class=\"label\">Statut Signature</div>\n        <div class=\"value\"><span class=\"badge badge-success\">✅ ${statutSignature}</span></div>\n      </div>\n      <div class=\"summary-item\">\n        <div class=\"label\">Statut Facturation</div>\n        <div class=\"value\"><span class=\"badge badge-warning\">⏳ ${statutFacturation}</span></div>\n      </div>\n      <div class=\"summary-item\">\n        <div class=\"label\">Statut Réception</div>\n        <div class=\"value\"><span class=\"badge badge-warning\">⏳ ${statutReception}</span></div>\n      </div>\n      <div class=\"summary-item\">\n        <div class=\"label\">Clôture</div>\n        <div class=\"value\"><span class=\"badge badge-success\">✅ ${cloture}</span></div>\n      </div>\n    </div>\n\n    <div class=\"totals\">\n      <div>\n        <div class=\"label\">Solde Fournisseur</div>\n        <div class=\"value\">${solde_fournisseur} DH</div>\n      </div>\n      <div>\n        <div class=\"label\">Total HT Commande</div>\n        <div class=\"value\">${totalHtCommande.toFixed(2)} DH</div>\n      </div>\n      <div>\n        <div class=\"label\">Total TTC Commande</div>\n        <div class=\"value\">${totalTtcCommande.toFixed(2)} DH</div>\n      </div>\n      <div>\n        <div class=\"label\">Total HT Lignes</div>\n        <div class=\"value\">${totalHtLignes.toFixed(2)} DH</div>\n      </div>\n      <div>\n        <div class=\"label\">Total TTC Lignes</div>\n        <div class=\"value\">${totalTtcLignes.toFixed(2)} DH</div>\n      </div>\n    </div>\n\n    <h2>📋 Détail des Lignes</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>Réf. Article</th>\n          <th>Article</th>\n          <th>code Fournisseur</th>\n          <th>Fournisseur</th>\n          <th style=\"text-align: center;\">Qté Cde</th>\n          <th style=\"text-align: center;\">Qté Reçue</th>\n          <th style=\"text-align: center;\">Qté Fact.</th>\n          <th style=\"text-align: right;\">Montant</th>\n          <th style=\"text-align: center;\">Ligne Clôt.</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${tableRows}\n      </tbody>\n    </table>\n\n    ${alerts ? `\n    <div class=\"alert-box\">\n      <strong>⚠️ Alertes :</strong>\n      <ul>\n        ${alerts}\n      </ul>\n    </div>\n    ` : ''}\n\n  </div>\n</body>\n</html>\n`;\n\n// Retourner le résultat avec htmlEmail ajouté au JSON\nreturn {\n  json: {\n    ...$json,\n    htmlEmail: htmlEmail\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,-336],"id":"9a560de9-8207-41d0-8158-3143b35c2916","name":"Code2"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    (\n    F.Soldedépart +\n    F.enReception +\n    F.enFacturation +\n    F.facture +\n    F.retourNF +\n    F.Réglement +\n    F.ECART_AUT\n    ) AS Solde\nFROM BASE1.SITUATION_FOU F\nWHERE F.BPRNUM_0 = '{{ $('Webhook').item.json.query.tier }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[1008,-416],"id":"6a168ca9-de94-42f7-b1e4-c24262a56d81","name":"solde fournisseur","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1696,-336],"id":"c787e41c-4563-4c47-9949-406595693c2a","name":"Merge3"}],"connections":{"Webhook":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"solde fournisseur","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate1":{"main":[[]]},"Merge1":{"main":[[]]},"Code1":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"Merge3","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"solde fournisseur":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Microsoft SQL1":[{"json":{}}],"Webhook":[{"json":{"headers":{"host":"192.168.1.211:5678","accept":"*/*","accept-encoding":"gzip, deflate","connection":"keep-alive","user-agent":"python-httpx/0.27.0"},"params":{},"query":{"id":"18","bc":"BC195088","tier":"T2440","montant":"3270","email":"astitoumd@gmail.com"},"webhookUrl":"192.168.1.211:5678/webhook/42b7444a-250b-4791-a51b-0d5c78b769e7","executionMode":"production"}}]},"versionId":"b874d31b-24f0-494c-9f23-30656a37ee11","triggerCount":1,"tags":[]}