evalution non attacher-rwjsWYBIVZMtS7dq.json
{"createdAt":"2026-04-30T22:45:55.234Z","updatedAt":"2026-05-02T23:28:01.000Z","id":"rwjsWYBIVZMtS7dq","name":"evalution non attacher","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1424,256],"id":"ec3b92b9-8cce-4529-b9ab-22a54cf8d5f3","name":"Schedule Trigger XEVDR"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT\n        XEVDR.XNUM_0          AS num_dossier,\n        XEVDR.XDAT_0          AS date_document,\n        XEVDR.XSAL_0          AS num_candidat,\n        XEVDR.XPOST_0         AS poste_a_pourvoir,\n        XEVDR.XCOM_0          AS commentaire,\n        XEVDR.CREDATTIM_0     AS date_creation,\n        XEVDR.YDATCON_0       AS date_controle,\n        XEVDR.CREUSR_0        AS user_createur,\n\n        -- Infos candidat\n        XSAL.XNAMSAL_0        AS nom_candidat,\n        XSAL.XPRENOM_0        AS prenom_candidat,\n        XSAL.XEMAIL_0         AS email_candidat,\n        XSAL.YTELE_0          AS tel_candidat,\n\n        -- Infos créateur (résolution via YSALAUS)\n        YSALAUS.XSAL_0        AS code_createur,\n        CRE.XNAMSAL_0         AS nom_createur,\n        CRE.XPRENOM_0         AS prenom_createur,\n        CRE.XEMAIL_0          AS email_createur,\n        CRE.YTELE_0           AS tel_createur,\n        CRE.YSUP_0            AS code_sup_createur,\n\n        -- Infos supérieur hiérarchique du créateur\n        SUP.XSAL_0            AS code_superieur,\n        SUP.XNAMSAL_0         AS nom_superieur,\n        SUP.XPRENOM_0         AS prenom_superieur,\n        SUP.XEMAIL_0          AS email_superieur,\n        SUP.YTELE_0           AS tel_superieur,\n\n        -- Responsables fixes\n        pdg.XSAL_0            AS code_pdg,\n        pdg.XNAMSAL_0         AS nom_pdg,\n        pdg.XPRENOM_0         AS prenom_pdg,\n        pdg.XEMAIL_0          AS email_pdg,\n        pdg.YTELE_0           AS tel_pdg,\n\n        dga.XSAL_0            AS code_dga,\n        dga.XNAMSAL_0         AS nom_dga,\n        dga.XPRENOM_0         AS prenom_dga,\n        dga.XEMAIL_0          AS email_dga,\n        dga.YTELE_0           AS tel_dga,\n\n        farhat.XSAL_0         AS code_farhat,\n        farhat.XNAMSAL_0      AS nom_farhat,\n        farhat.XPRENOM_0      AS prenom_farhat,\n        farhat.XEMAIL_0       AS email_farhat,\n        farhat.YTELE_0        AS tel_farhat,\n\n        baallah.XSAL_0        AS code_baallah,\n        baallah.XNAMSAL_0     AS nom_baallah,\n        baallah.XPRENOM_0     AS prenom_baallah,\n        baallah.XEMAIL_0      AS email_baallah,\n        baallah.YTELE_0       AS tel_baallah,\n\n        -- ═══ INFOS TELEGRAM ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS chat_id_createur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS langue_createur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = YSALAUS.XSAL_0) AS bot_createur,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = SUP.XSAL_0)     AS bot_superieur,\n\n        '8528101210'           AS chat_id_pdg,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)     AS langue_pdg,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0)     AS bot_pdg,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS bot_dga,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS bot_farhat,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        -- ═══ DÉLAI & CALCULS ═══\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n        CASE\n            WHEN XEVDR.YDATCON_0 != '1753-01-01' THEN XEVDR.YDATCON_0\n            ELSE DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XEVDR.CREDATTIM_0)\n        END AS date_limite,\n        DATEDIFF(DAY, XEVDR.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n        CASE\n            WHEN XEVDR.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, GETDATE(), XEVDR.YDATCON_0)\n            ELSE\n                DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XEVDR.CREDATTIM_0))\n        END AS jours_restants,\n        CASE\n            WHEN XEVDR.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, XEVDR.CREDATTIM_0, XEVDR.YDATCON_0) / 2\n            ELSE\n                CAST(P.VALEUR_0 AS INT) / 2\n        END AS seuil_dga\n\n    FROM [jbelrh].[JBELRH].[XEVDR] XEVDR\n\n    LEFT JOIN jbelrh.JBELRH.XSAL XSAL\n        ON XSAL.XSAL_0 = XEVDR.XSAL_0\n\n    LEFT JOIN jbelrh.JBELRH.YSALAUS YSALAUS\n        ON YSALAUS.USER_0 = XEVDR.CREUSR_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE\n        ON CRE.XSAL_0 = YSALAUS.XSAL_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP\n        ON SUP.XSAL_0 = CRE.YSUP_0\n\n    OUTER APPLY (\n        SELECT TOP 1 VALEUR_0\n        FROM jbelrh.JBELRH.ADOVAL\n        WHERE PARAM_0 = 'YDELXEVDR'\n    ) P\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n    ) pdg\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n    ) baallah\n\n    WHERE\n        NOT EXISTS (\n            SELECT 1 FROM [jbelrh].[JBELRH].[AOBJTXT] AOBJTXT\n            WHERE XEVDR.XNUM_0 = AOBJTXT.IDENT1_0\n              AND AOBJTXT.ABREV_0 = 'XEVDR'\n        )\n        AND CAST(XEVDR.CREDATTIM_0 AS DATE) >= '2024-01-01'\n)\n\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants <= 8  AND jours_restants > 4\nUNION ALL\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 4\nUNION ALL\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\nORDER BY jours_restants ASC"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1200,256],"id":"86d2f087-54fe-4ede-93e7-a72be2901209","name":"SQL - Évaluations XEVDR","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data-xevdr","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,256],"id":"f27f0378-0565-4cf2-a347-ffa0dad0f776","name":"Vérifier Données Présentes","notes":"Stoppe si aucune évaluation à traiter"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-752,352],"id":"e041ec87-b07b-4125-a4f9-24e5aa36839b","name":"Fin - Aucune Évaluation"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES PAR DESTINATAIRE — XEVDR\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION NOTIFICATIONS - ÉVALUATIONS XEVDR');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Lignes reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  switch (data.niveau_escalade) {\n\n    case 'PDG':\n      destinatairePrincipal = {\n        code:      data.code_pdg,\n        nom:       data.nom_pdg,\n        prenom:    data.prenom_pdg,\n        email:     data.email_pdg,\n        telephone: data.tel_pdg,\n        chat_id:   data.chat_id_pdg,\n        langue:    data.langue_pdg || 'FRA',\n        bot:       data.bot_pdg\n      };\n      codeDestinataire = data.code_pdg;\n      typeDestinataire = 'PDG';\n      break;\n\n    case 'DGA':\n      destinatairePrincipal = {\n        code:      data.code_dga,\n        nom:       data.nom_dga,\n        prenom:    data.prenom_dga,\n        email:     data.email_dga,\n        telephone: data.tel_dga,\n        chat_id:   data.chat_id_dga,\n        langue:    data.langue_dga || 'FRA',\n        bot:       data.bot_dga\n      };\n      codeDestinataire = data.code_dga;\n      typeDestinataire = 'DGA';\n      break;\n\n    case 'SUPERIEUR':\n      destinatairePrincipal = {\n        code:      data.code_superieur,\n        nom:       data.nom_superieur,\n        prenom:    data.prenom_superieur,\n        email:     data.email_superieur,\n        telephone: data.tel_superieur,\n        chat_id:   data.chat_id_superieur,\n        langue:    data.langue_superieur || 'FRA',\n        bot:       data.bot_superieur\n      };\n      codeDestinataire = data.code_superieur;\n      typeDestinataire = 'SUPERIEUR';\n      break;\n\n    case 'SALARIE':\n      destinatairePrincipal = {\n        code:      data.code_createur,\n        nom:       data.nom_createur,\n        prenom:    data.prenom_createur,\n        email:     data.email_createur,\n        telephone: data.tel_createur,\n        chat_id:   data.chat_id_createur,\n        langue:    data.langue_createur || 'FRA',\n        bot:       data.bot_createur\n      };\n      codeDestinataire = data.code_createur;\n      typeDestinataire = 'SALARIE';\n      break;\n\n    case 'FARHAT':\n      destinatairePrincipal = {\n        code:      data.code_farhat,\n        nom:       data.nom_farhat,\n        prenom:    data.prenom_farhat,\n        email:     data.email_farhat,\n        telephone: data.tel_farhat,\n        chat_id:   data.chat_id_farhat,\n        langue:    data.langue_farhat || 'FRA',\n        bot:       data.bot_farhat\n      };\n      codeDestinataire = data.code_farhat;\n      typeDestinataire = 'FARHAT';\n      break;\n\n    case 'BAALLAH':\n      destinatairePrincipal = {\n        code:      data.code_baallah,\n        nom:       data.nom_baallah,\n        prenom:    data.prenom_baallah,\n        email:     data.email_baallah,\n        telephone: data.tel_baallah,\n        chat_id:   data.chat_id_baallah,\n        langue:    data.langue_baallah || 'FRA',\n        bot:       data.bot_baallah\n      };\n      codeDestinataire = data.code_baallah;\n      typeDestinataire = 'BAALLAH';\n      break;\n\n    default:\n      console.log(`⏭️  Dossier ${data.num_dossier} ignoré (niveau: ${data.niveau_escalade})`);\n      return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade:   data.niveau_escalade,\n\n      // Profils complets\n      createur: {\n        code:      data.code_createur,\n        nom:       data.nom_createur,\n        prenom:    data.prenom_createur,\n        email:     data.email_createur,\n        telephone: data.tel_createur,\n        chat_id:   data.chat_id_createur,\n        langue:    data.langue_createur || 'FRA',\n        bot:       data.bot_createur\n      },\n      superieur: {\n        code:      data.code_superieur,\n        nom:       data.nom_superieur,\n        prenom:    data.prenom_superieur,\n        email:     data.email_superieur,\n        telephone: data.tel_superieur,\n        chat_id:   data.chat_id_superieur,\n        langue:    data.langue_superieur || 'FRA',\n        bot:       data.bot_superieur\n      },\n      pdg: {\n        code:      data.code_pdg,\n        nom:       data.nom_pdg,\n        prenom:    data.prenom_pdg,\n        email:     data.email_pdg,\n        telephone: data.tel_pdg,\n        chat_id:   data.chat_id_pdg,\n        langue:    data.langue_pdg || 'FRA',\n        bot:       data.bot_pdg\n      },\n      dga: {\n        code:      data.code_dga,\n        nom:       data.nom_dga,\n        prenom:    data.prenom_dga,\n        email:     data.email_dga,\n        telephone: data.tel_dga,\n        chat_id:   data.chat_id_dga,\n        langue:    data.langue_dga || 'FRA',\n        bot:       data.bot_dga\n      },\n      farhat: {\n        code:      data.code_farhat,\n        nom:       data.nom_farhat,\n        prenom:    data.prenom_farhat,\n        email:     data.email_farhat,\n        telephone: data.tel_farhat,\n        chat_id:   data.chat_id_farhat,\n        langue:    data.langue_farhat || 'FRA',\n        bot:       data.bot_farhat\n      },\n      baallah: {\n        code:      data.code_baallah,\n        nom:       data.nom_baallah,\n        prenom:    data.prenom_baallah,\n        email:     data.email_baallah,\n        telephone: data.tel_baallah,\n        chat_id:   data.chat_id_baallah,\n        langue:    data.langue_baallah || 'FRA',\n        bot:       data.bot_baallah\n      },\n\n      dossiers: []\n    };\n  }\n\n  notifications[cleDestinataire].dossiers.push({\n    num_dossier:          data.num_dossier,\n    date_document:        data.date_document,\n    date_creation:        data.date_creation,\n    date_controle:        data.date_controle,\n    date_limite:          data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants:       data.jours_restants,\n    delai_int:            data.delai_int,\n    poste_a_pourvoir:     data.poste_a_pourvoir,\n    commentaire:          data.commentaire,\n    candidat: {\n      code:      data.num_candidat,\n      nom:       data.nom_candidat,\n      prenom:    data.prenom_candidat,\n      email:     data.email_candidat,\n      telephone: data.tel_candidat\n    },\n    createur: {\n      code:      data.code_createur,\n      nom:       data.nom_createur,\n      prenom:    data.prenom_createur\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalDossiers = notif.dossiers.length;\n  const joursMin = Math.min(...notif.dossiers.map(d => d.jours_restants));\n  const joursMax = Math.max(...notif.dossiers.map(d => d.jours_restants));\n  const delaiTotal = parseInt(notif.dossiers[0]?.delai_int) || 10;\n  const seuilDga = Math.floor(delaiTotal / 2);\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_escalade:        notif.niveau_escalade,\n    email_cc:               null,\n    telegram_cc:            null,\n    createur:  notif.createur,\n    superieur: notif.superieur,\n    pdg:       notif.pdg,\n    dga:       notif.dga,\n    farhat:    notif.farhat,\n    baallah:   notif.baallah,\n    dossiers:  notif.dossiers,\n    statistiques: {\n      total_dossiers: totalDossiers,\n      jours_min:      joursMin,\n      jours_max:      joursMax,\n      priorite:       notif.niveau_escalade,\n      delai_total:    delaiTotal,\n      seuil_dga:      seuilDga\n    },\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      langue_message:        notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email:    !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\n['PDG','DGA','BAALLAH','FARHAT','SUPERIEUR','SALARIE'].forEach(t => {\n  console.log(`  - ${t}: ${resultats.filter(r => r.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,160],"id":"04cf2777-2df2-4994-a5c7-006c8f6cd437","name":"Structuration par Destinataire XEVDR"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION DES MESSAGES EMAIL + TELEGRAM — XEVDR\n// Multilingue : FRA / ARA / ENG\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Évaluations Non Attachées',\n      DGA:      '🟠 INFO DGA - Évaluations à Mi-Délai',\n      BAALLAH:  '🟣 INFO - Évaluations à Surveiller (Baallah)',\n      SUPERIEUR:'🟠 IMPORTANT - Évaluations Non Attachées',\n      SALARIE:  '🟡 Rappel - Évaluations à Compléter',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Évaluations à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les évaluations suivantes nécessitent votre attention IMMÉDIATE',\n      DGA:      'Information - Les évaluations suivantes ont atteint la moitié de leur délai sans document attaché',\n      BAALLAH:  'Information - Les évaluations suivantes sont à surveiller de près',\n      SUPERIEUR:'Les évaluations suivantes requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos évaluations en attente de traitement',\n      FARHAT:   'Information préventive - Les évaluations suivantes approchent de leur délai limite'\n    },\n    section_stats:    'STATISTIQUES',\n    total:            'Total évaluations',\n    delai_min:        'Délai minimum restant',\n    jours:            'jour(s)',\n    seuil_dga:        'Seuil mi-délai',\n    delai_total:      'Délai total',\n    section_dossiers: 'LISTE DES ÉVALUATIONS NON ATTACHÉES',\n    numero:           'N° Dossier',\n    date_creation:    'Date création',\n    candidat:         'Candidat',\n    poste:            'Poste',\n    delai:            'Délai',\n    restant:          'restant(s)',\n    limite:           'Limite',\n    action_requise:   'ACTION REQUISE',\n    urgent:           'URGENT - Attacher immédiatement les documents d\\'évaluation',\n    instruction:      'Veuillez attacher les documents manquants (grille d\\'évaluation, compte-rendu) dans les meilleurs délais.',\n    instruction_dga:  'Ces évaluations ont dépassé la moitié du délai autorisé. Merci de vous assurer que les actions correctives sont engagées.',\n    cordialement:     'Cordialement',\n    signature:        'Service SI/IA - Jbel Annour',\n    message_auto:     'Message automatique',\n    ne_pas_repondre:  'Merci de ne pas répondre à cet email',\n    copie_info:       '📋 CC'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - تقييمات غير مرفقة',\n      DGA:      '🟠 معلومة المدير العام المساعد - تقييمات في منتصف المهلة',\n      BAALLAH:  '🟣 معلومة - تقييمات للمراقبة (بعلة)',\n      SUPERIEUR:'🟠 هام - تقييمات غير مرفقة',\n      SALARIE:  '🟡 تذكير - تقييمات للإكمال',\n      FARHAT:   '🔵 معلومة وقائية - تقييمات للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - التقييمات التالية تتطلب اهتمامك الفوري',\n      DGA:      'معلومة - تجاوزت التقييمات التالية نصف المهلة المحددة دون إرفاق وثائق',\n      BAALLAH:  'معلومة - التقييمات التالية تستوجب المتابعة الدقيقة',\n      SUPERIEUR:'التقييمات التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص تقييماتك في انتظار المعالجة',\n      FARHAT:   'معلومة وقائية - التقييمات التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    section_stats:    'الإحصائيات',\n    total:            'إجمالي التقييمات',\n    delai_min:        'الحد الأدنى للمهلة المتبقية',\n    jours:            'يوم/أيام',\n    seuil_dga:        'عتبة منتصف المهلة',\n    delai_total:      'المهلة الإجمالية',\n    section_dossiers: 'قائمة التقييمات غير المرفقة',\n    numero:           'رقم الملف',\n    date_creation:    'تاريخ الإنشاء',\n    candidat:         'المرشح',\n    poste:            'المنصب',\n    delai:            'المهلة',\n    restant:          'المتبقية',\n    limite:           'الحد',\n    action_requise:   'الإجراء المطلوب',\n    urgent:           'عاجل - إرفاق وثائق التقييم فورا',\n    instruction:      'يرجى إرفاق المستندات الناقصة (شبكة التقييم، تقرير المقابلة) في أقرب وقت ممكن.',\n    instruction_dga:  'تجاوزت هذه التقييمات نصف المهلة المسموح بها دون إرفاق وثائق. يرجى اتخاذ الإجراءات اللازمة.',\n    cordialement:     'مع أطيب التحيات',\n    signature:        'قسم SI/IA - جبل النور',\n    message_auto:     'رسالة تلقائية',\n    ne_pas_repondre:  'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:       '📋 نسخة للعلم'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Unattached Evaluations',\n      DGA:      '🟠 DGA INFO - Evaluations at Mid-Deadline',\n      BAALLAH:  '🟣 INFO - Evaluations to Monitor (Baallah)',\n      SUPERIEUR:'🟠 IMPORTANT - Unattached Evaluations',\n      SALARIE:  '🟡 Reminder - Evaluations to Complete',\n      FARHAT:   '🔵 PREVENTIVE INFO - Evaluations to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following evaluations require your IMMEDIATE attention',\n      DGA:      'Information - The following evaluations have exceeded half their deadline without an attached document',\n      BAALLAH:  'Information - The following evaluations require close monitoring',\n      SUPERIEUR:'The following evaluations require your priority attention',\n      SALARIE:  'Reminder about your evaluations pending processing',\n      FARHAT:   'Preventive information - The following evaluations are approaching their deadline'\n    },\n    section_stats:    'STATISTICS',\n    total:            'Total evaluations',\n    delai_min:        'Minimum remaining deadline',\n    jours:            'day(s)',\n    seuil_dga:        'Mid-deadline threshold',\n    delai_total:      'Total deadline',\n    section_dossiers: 'LIST OF UNATTACHED EVALUATIONS',\n    numero:           'File number',\n    date_creation:    'Creation date',\n    candidat:         'Candidate',\n    poste:            'Position',\n    delai:            'Deadline',\n    restant:          'remaining',\n    limite:           'Limit',\n    action_requise:   'ACTION REQUIRED',\n    urgent:           'URGENT - Attach evaluation documents immediately',\n    instruction:      'Please attach the missing documents (evaluation grid, interview report) as soon as possible.',\n    instruction_dga:  'These evaluations have exceeded half their allowed deadline. Please ensure corrective actions are underway.',\n    cordialement:     'Best regards',\n    signature:        'IT/AI Department - Jbel Annour',\n    message_auto:     'Automatic message',\n    ne_pas_repondre:  'Please do not reply to this email',\n    copie_info:       '📋 COPY'\n  }\n};\n\n// ─────────────────────────────────────────────────────────────\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\n// ─────────────────────────────────────────────────────────────\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const dossiers = data.dossiers;\n\n  const sujet = (T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE)\n              + ` - ${stats.total_dossiers} dossier(s)`;\n\n  // ── Corps email ──\n  let body = `${T.salutation} ${dest.prenom} ${dest.nom},\\n\\n`;\n  body += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  body += `══════════════════════════════════════════════════════════\\n`;\n  body += `📊 ${T.section_stats}\\n`;\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n  body += `${getEmoji(stats.jours_min)} Niveau d'escalade : ${data.niveau_escalade}\\n`;\n  body += `${T.total} : ${stats.total_dossiers}\\n`;\n  body += `${T.delai_min} : ${stats.jours_min} ${T.jours}\\n`;\n  body += `${T.delai_total} : ${stats.delai_total} ${T.jours}\\n`;\n  if (['DGA','BAALLAH'].includes(data.type_destinataire)) {\n    body += `${T.seuil_dga} : ${stats.seuil_dga} ${T.jours}\\n`;\n  }\n  body += `\\n══════════════════════════════════════════════════════════\\n`;\n  body += `📋 ${T.section_dossiers}\\n`;\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n\n  dossiers.forEach((dos, i) => {\n    body += `${i + 1}. ${getEmoji(dos.jours_restants)} ${dos.num_dossier}\\n`;\n    body += `   📅 ${T.date_creation} : ${formaterDateHeure(dos.date_creation, langue)}\\n`;\n    if (dos.candidat && dos.candidat.nom) {\n      body += `   👤 ${T.candidat} : ${dos.candidat.prenom} ${dos.candidat.nom} (${dos.candidat.code})\\n`;\n    }\n    if (dos.poste_a_pourvoir) {\n      body += `   💼 ${T.poste} : ${dos.poste_a_pourvoir}\\n`;\n    }\n    body += `   ⏰ ${T.delai} : ${dos.jours_restants} ${T.jours} ${T.restant} (${T.limite} : ${formaterDate(dos.date_limite, langue)})\\n`;\n    if (dos.jours_restants <= 2) body += `   🚨 ${T.urgent}\\n`;\n    body += `\\n`;\n  });\n\n  body += `══════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    body += `🚨 ${T.action_requise} : ${T.urgent}\\n`;\n  } else if (['DGA','BAALLAH'].includes(data.type_destinataire)) {\n    body += `📌 ${T.instruction_dga}\\n`;\n  } else {\n    body += `📌 ${T.instruction}\\n`;\n  }\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n  body += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  body += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  body += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  body += `${T.ne_pas_repondre}\\n`;\n\n  // ── Telegram ──\n  let tg = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  tg += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  tg += `👤 *${dest.prenom} ${dest.nom}*\\n\\n`;\n  tg += `📊 *${T.section_stats}*\\n`;\n  tg += `${T.total} : *${stats.total_dossiers}*\\n`;\n  tg += `${T.delai_min} : *${stats.jours_min} ${T.jours}*\\n\\n`;\n  tg += `📋 *${T.section_dossiers}*\\n\\n`;\n\n  dossiers.slice(0, 5).forEach((dos, i) => {\n    tg += `${i + 1}. ${getEmoji(dos.jours_restants)} *${dos.num_dossier}*\\n`;\n    tg += `   📅 ${formaterDate(dos.date_creation, langue)}\\n`;\n    if (dos.candidat && dos.candidat.nom) {\n      tg += `   👤 ${dos.candidat.prenom} ${dos.candidat.nom}\\n`;\n    }\n    tg += `   ⏰ ${dos.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n\n  if (dossiers.length > 5) tg += `... et ${dossiers.length - 5} autre(s) dossier(s)\\n\\n`;\n  if (stats.jours_min <= 2) tg += `🚨 *${T.urgent}*\\n`;\n\n  return {\n    email:    { subject: sujet, body },\n    telegram: { text: tg, parse_mode: 'Markdown' }\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messages = genererMessagePrincipal(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages,\n      type_envoi:         'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC Supérieur → copie au créateur\n  if (data.type_destinataire === 'SUPERIEUR' && data.createur?.chat_id) {\n    results.push({ json: {\n      ...data, messages,\n      type_envoi:         'CC',\n      destinataire_final: data.createur,\n      cc_pour_profil:     'CREATEUR',\n      meta: { ...data.meta, langue_message: data.createur.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC PDG → copie supérieur + créateur\n  if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages,\n        type_envoi:         'CC',\n        destinataire_final: data.superieur,\n        cc_pour_profil:     'SUPERIEUR',\n        meta: { ...data.meta, langue_message: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.createur?.chat_id) {\n      results.push({ json: {\n        ...data, messages,\n        type_envoi:         'CC',\n        destinataire_final: data.createur,\n        cc_pour_profil:     'CREATEUR',\n        meta: { ...data.meta, langue_message: data.createur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n});\n\nconsole.log(`\\n📧 Messages générés: ${results.length}`);\nconsole.log(`  - Principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - CC:         ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,160],"id":"0b685988-0767-42c4-962e-a11c87bbaaee","name":"Génération Messages Multilingues XEVDR"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-email-test","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,-32],"id":"f172b0a9-dfe4-4024-bbb7-ae7dfb85c37e","name":"Filtre Email Test"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,64],"id":"4a10bc17-553b-4693-8bb7-a95b8f5bf1bd","name":"No Operation Email Test"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-email-xevdr","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,-128],"id":"9346584d-969b-4fd3-8f34-5ef7947e1b17","name":"Filtre Email PDG"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[144,-32],"id":"b39e1365-bb3c-460f-80fa-90655edec6cd","name":"No Operation PDG Email"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[144,-224],"id":"2d5dff34-d6c0-46ef-8132-15f0205a44f9","name":"Envoi Email XEVDR","webhookId":"7823f191-0584-4fa4-aab4-0e75c604e3c4","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"chat-id-existe-xevdr","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"chat-id-not-empty-xevdr","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,352],"id":"8d8b3db6-1e58-4c3c-a4b3-a9be0a5234df","name":"Si Chat ID Existe"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-80,448],"id":"8e385240-63e6-4fb6-8aad-892096d042bc","name":"No Operation Pas de Chat ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-chatid-xevdr","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,256],"id":"b3ce7a06-3f8d-424f-8c1e-6976fc67b615","name":"Filtre Chat ID PDG"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[144,352],"id":"1c255b41-f2d5-4cc9-ac2b-6d8b77644fc4","name":"No Operation PDG Chat"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[144,160],"id":"216056ef-79d9-4cd4-8352-2b54ac27b14c","name":"Envoi Telegram XEVDR","webhookId":"c89b2417-0c5c-48e2-9caa-2496e9825634","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[368,-32],"id":"7674d84d-6e15-48dc-aa24-d7881ecbf40d","name":"Fin Workflow XEVDR"}],"connections":{"Schedule Trigger XEVDR":{"main":[[{"node":"SQL - Évaluations XEVDR","type":"main","index":0}]]},"SQL - Évaluations XEVDR":{"main":[[{"node":"Vérifier Données Présentes","type":"main","index":0}]]},"Vérifier Données Présentes":{"main":[[{"node":"Structuration par Destinataire XEVDR","type":"main","index":0}],[{"node":"Fin - Aucune Évaluation","type":"main","index":0}]]},"Structuration par Destinataire XEVDR":{"main":[[{"node":"Génération Messages Multilingues XEVDR","type":"main","index":0}]]},"Génération Messages Multilingues XEVDR":{"main":[[{"node":"Filtre Email Test","type":"main","index":0},{"node":"Si Chat ID Existe","type":"main","index":0}]]},"Filtre Email Test":{"main":[[{"node":"Filtre Email PDG","type":"main","index":0}],[{"node":"No Operation Email Test","type":"main","index":0}]]},"Filtre Email PDG":{"main":[[{"node":"Envoi Email XEVDR","type":"main","index":0}],[{"node":"No Operation PDG Email","type":"main","index":0}]]},"Envoi Email XEVDR":{"main":[[{"node":"Fin Workflow XEVDR","type":"main","index":0}]]},"Si Chat ID Existe":{"main":[[{"node":"Filtre Chat ID PDG","type":"main","index":0}],[{"node":"No Operation Pas de Chat ID","type":"main","index":0}]]},"Filtre Chat ID PDG":{"main":[[{"node":"Envoi Telegram XEVDR","type":"main","index":0}],[{"node":"No Operation PDG Chat","type":"main","index":0}]]},"Envoi Telegram XEVDR":{"main":[[{"node":"Fin Workflow XEVDR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger XEVDR":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"94d93aed-2366-4cfa-b80c-8bb005845de5","triggerCount":1,"tags":[]}