get_id_telegram_for_agent_notification-s6QaX7Z6CWazkxc9.json
{"createdAt":"2025-12-17T19:23:31.235Z","updatedAt":"2026-01-09T10:44:08.000Z","id":"s6QaX7Z6CWazkxc9","name":"get_id_telegram_for_agent_notification","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ba1514fe-c89d-4e1f-8728-ec73db20f913","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-160,96],"webhookId":"8604aea0-5d13-45d1-8c00-1de430df5415","credentials":{"telegramApi":{"id":"pbQahAmFeJZ5SgLT","name":"notification"}}},{"parameters":{"jsCode":"/**\n * ============================================================================\n * NORMALISATION & VALIDATION DES DONNÉES TELEGRAM\n * ============================================================================\n * \n * Ce module effectue :\n * 1. Validation des champs obligatoires (update_id, from.id)\n * 2. Extraction et normalisation de toutes les données Telegram\n * 3. Conversion des timestamps UNIX vers DATETIME SQL Server\n * 4. Nettoyage des chaînes pour prévenir les injections SQL\n * 5. Génération d'un objet JSON prêt pour insertion SQL\n * \n * Table cible : [X3BI].[dbo].[telegram_messages]\n * \n * @author Workflow Production\n * @version 2.0.0\n * ============================================================================\n */\n\n// ============================================================================\n// EXTRACTION DES DONNÉES BRUTES\n// ============================================================================\n\nconst update = $input.item.json;\nconst message = update.message || {};\nconst from = message.from || {};\nconst chat = message.chat || {};\nconst entities = message.entities || [];\n\n// ============================================================================\n// VALIDATION DES CHAMPS OBLIGATOIRES\n// ============================================================================\n\n/**\n * Vérifie la présence des champs requis\n * Lance une exception si les données sont invalides\n */\nfunction validateRequiredFields(updateId, userId) {\n  const errors = [];\n  \n  if (!updateId) {\n    errors.push('update_id manquant ou invalide');\n  }\n  \n  if (!userId) {\n    errors.push('from.id (user_id) manquant ou invalide');\n  }\n  \n  if (errors.length > 0) {\n    throw new Error(`Validation échouée: ${errors.join(', ')}`);\n  }\n}\n\n// Exécution de la validation\nvalidateRequiredFields(update.update_id, from.id);\n\n// ============================================================================\n// FONCTIONS UTILITAIRES\n// ============================================================================\n\n/**\n * Nettoie une chaîne pour utilisation SQL Server\n * - Échappe les apostrophes simples\n * - Supprime les caractères de contrôle dangereux\n * - Limite la longueur si spécifié\n * \n * @param {string|null} str - Chaîne à nettoyer\n * @param {number} maxLength - Longueur maximale (optionnel)\n * @returns {string|null} - Chaîne nettoyée ou null\n */\nfunction sanitizeString(str, maxLength = null) {\n  if (str === null || str === undefined) {\n    return null;\n  }\n  \n  let cleaned = String(str)\n    .replace(/'/g, \"''\")\n    .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '');\n  \n  if (maxLength && cleaned.length > maxLength) {\n    cleaned = cleaned.substring(0, maxLength);\n  }\n  \n  return cleaned;\n}\n\n/**\n * Convertit un timestamp UNIX en format DATETIME SQL Server\n * Format de sortie : YYYY-MM-DD HH:MM:SS\n * \n * @param {number|null} unixTimestamp - Timestamp UNIX (secondes)\n * @returns {string|null} - Date formatée ou null\n */\nfunction convertUnixToSqlDatetime(unixTimestamp) {\n  if (!unixTimestamp || typeof unixTimestamp !== 'number') {\n    return null;\n  }\n  \n  try {\n    const date = new Date(unixTimestamp * 1000);\n    \n    // Vérification de validité de la date\n    if (isNaN(date.getTime())) {\n      return null;\n    }\n    \n    return date.toISOString().slice(0, 19).replace('T', ' ');\n  } catch (error) {\n    return null;\n  }\n}\n\n/**\n * Détecte la commande Telegram si présente\n * Analyse les entities pour trouver bot_command\n * \n * @param {Array} entities - Tableau des entities Telegram\n * @param {string} messageText - Texte du message\n * @returns {string|null} - Nom de la commande ou null\n */\nfunction detectCommand(entities, messageText) {\n  if (!entities || entities.length === 0) {\n    return null;\n  }\n  \n  const commandEntity = entities.find(e => e.type === 'bot_command');\n  \n  if (commandEntity && messageText) {\n    // Extraction du nom de la commande depuis le texte\n    const commandText = messageText.substring(\n      commandEntity.offset,\n      commandEntity.offset + commandEntity.length\n    );\n    return sanitizeString(commandText, 100);\n  }\n  \n  return commandEntity ? commandEntity.type : null;\n}\n\n/**\n * Convertit un booléen en BIT SQL Server (0 ou 1)\n * \n * @param {boolean|null} value - Valeur booléenne\n * @returns {number} - 0 ou 1\n */\nfunction booleanToBit(value) {\n  return value === true ? 1 : 0;\n}\n\n// ============================================================================\n// NORMALISATION DES DONNÉES\n// ============================================================================\n\nconst normalizedData = {\n  // Identifiants principaux\n  update_id: update.update_id,\n  message_id: message.message_id || null,\n  \n  // Informations utilisateur\n  user_id: from.id,\n  is_bot: booleanToBit(from.is_bot),\n  first_name: sanitizeString(from.first_name, 255),\n  last_name: sanitizeString(from.last_name, 255),\n  username: sanitizeString(from.username, 255),\n  language_code: sanitizeString(from.language_code, 10),\n  \n  // Informations chat\n  chat_id: chat.id || from.id,\n  chat_type: sanitizeString(chat.type || 'private', 50),\n  chat_title: sanitizeString(chat.title, 255),\n  \n  // Contenu du message\n  message_text: sanitizeString(message.text, 4000),\n  command: detectCommand(entities, message.text),\n  \n  // Timestamps\n  telegram_datetime: convertUnixToSqlDatetime(message.date),\n  \n  // Métadonnées de traitement\n  processed_at: new Date().toISOString().slice(0, 19).replace('T', ' '),\n  raw_update_id: update.update_id\n};\n\n// ============================================================================\n// RETOUR DES DONNÉES NORMALISÉES\n// ============================================================================\n\nreturn {\n  json: normalizedData\n};"},"id":"48743af4-634a-4642-9311-1c694a3fa78b","name":"🔄 Normalisation & Validation","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,0],"notes":"Validation des champs obligatoires, normalisation des données, conversion timestamps, prévention SQL injection"},{"parameters":{"operation":"executeQuery","query":"-- ============================================================================\n-- INSERTION MESSAGE TELEGRAM\n-- Table: [X3BI].[dbo].[telegram_messages]\n-- ============================================================================\n\nINSERT INTO [X3BI].[dbo].[telegram_messages] \n(\n    update_id,\n    message_id,\n    user_id,\n    is_bot,\n    first_name,\n    last_name,\n    username,\n    language_code,\n    chat_id,\n    chat_type,\n    chat_title,\n    message_text,\n    command,\n    telegram_datetime,\n    processed_at\n)\nVALUES \n(\n    {{ $json.update_id }},\n    {{ $json.message_id ?? 'NULL' }},\n    {{ $json.user_id }},\n    {{ $json.is_bot }},\n    {{ $json.first_name ? \"N'\" + $json.first_name + \"'\" : 'NULL' }},\n    {{ $json.last_name ? \"N'\" + $json.last_name + \"'\" : 'NULL' }},\n    {{ $json.username ? \"N'\" + $json.username + \"'\" : 'NULL' }},\n    {{ $json.language_code ? \"'\" + $json.language_code + \"'\" : 'NULL' }},\n    {{ $json.chat_id }},\n    {{ $json.chat_type ? \"'\" + $json.chat_type + \"'\" : \"'private'\" }},\n    {{ $json.chat_title ? \"N'\" + $json.chat_title + \"'\" : 'NULL' }},\n    {{ $json.message_text ? \"N'\" + $json.message_text + \"'\" : 'NULL' }},\n    {{ $json.command ? \"'\" + $json.command + \"'\" : 'NULL' }},\n    {{ $json.telegram_datetime ? \"'\" + $json.telegram_datetime + \"'\" : 'NULL' }},\n    {{ $json.processed_at ? \"'\" + $json.processed_at + \"'\" : 'GETDATE()' }}\n);\n\n-- Retourne l'ID inséré pour confirmation\nSELECT SCOPE_IDENTITY() AS inserted_id;"},"id":"7ed15539-6c94-414a-bce9-7d6e8084ede4","name":"💾 Insert SQL Server","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[288,0],"credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}},"onError":"continueErrorOutput","notes":"Insertion des données normalisées dans SQL Server avec gestion Unicode (N'...') et valeurs NULL"},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"success","type":"string"},{"id":"update_id","name":"update_id","value":"={{ $('🔄 Normalisation & Validation').item.json.update_id }}","type":"number"},{"id":"user_id","name":"user_id","value":"={{ $('🔄 Normalisation & Validation').item.json.user_id }}","type":"number"},{"id":"user_name","name":"user_name","value":"={{ $('🔄 Normalisation & Validation').item.json.first_name ?? 'Utilisateur' }}","type":"string"},{"id":"chat_id","name":"chat_id","value":"={{ $('🔄 Normalisation & Validation').item.json.chat_id }}","type":"number"},{"id":"message_preview","name":"message_preview","value":"={{ ($('🔄 Normalisation & Validation').item.json.message_text ?? '').substring(0, 50) }}","type":"string"},{"id":"processed_at","name":"processed_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"inserted_id","name":"inserted_id","value":"={{ $json.inserted_id ?? null }}","type":"number"}]},"options":{}},"id":"74d825f4-467d-44a4-8b59-2aca0e20a785","name":"✅ Success Handler","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-96],"notes":"Formate la réponse de succès avec les informations clés du traitement"},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"error","type":"string"},{"id":"error_at","name":"error_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"error_message","name":"error_message","value":"={{ $json.message ?? $json.errorMessage ?? $json.error ?? 'Erreur inconnue lors du traitement' }}","type":"string"},{"id":"error_code","name":"error_code","value":"={{ $json.code ?? $json.errorCode ?? 'UNKNOWN' }}","type":"string"},{"id":"failed_node","name":"failed_node","value":"💾 Insert SQL Server","type":"string"},{"id":"update_id","name":"update_id","value":"={{ $('🔄 Normalisation & Validation').item.json.update_id ?? 'N/A' }}","type":"string"},{"id":"user_id","name":"user_id","value":"={{ $('🔄 Normalisation & Validation').item.json.user_id ?? 'N/A' }}","type":"string"},{"id":"chat_id","name":"chat_id","value":"={{ $('🔄 Normalisation & Validation').item.json.chat_id ?? $('📥 Telegram Trigger').item.json.message?.chat?.id ?? 'N/A' }}","type":"string"}]},"options":{}},"id":"20bf0bde-b8c9-4879-bee3-f4c848dbeb37","name":"❌ Error Handler","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,96],"notes":"Capture et structure les informations d'erreur pour le logging et la notification"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=❌ *Erreur lors du traitement*\n\n🔹 *Code:* `{{ $json.error_code }}`\n🔹 *Message:* {{ $json.error_message }}\n🔹 *Node:* {{ $json.failed_node }}\n🔹 *Date:* {{ $json.error_at }}\n\n_Veuillez réessayer ou contacter le support._","additionalFields":{"parse_mode":"Markdown"}},"id":"63588cc4-ab00-4fce-a539-379478c3b3f2","name":"📤 Notify Error","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,96],"webhookId":"telegram-notify-error","credentials":{"telegramApi":{"id":"pbQahAmFeJZ5SgLT","name":"notification"}},"continueOnFail":true,"notes":"Envoie une notification Telegram formatée à l'utilisateur en cas d'erreur"},{"parameters":{"assignments":{"assignments":[{"id":"workflow_status","name":"workflow_status","value":"completed_with_error_notification","type":"string"},{"id":"notification_sent","name":"notification_sent","value":"={{ $json.ok ?? false }}","type":"boolean"},{"id":"original_error","name":"original_error","value":"={{ $('❌ Error Handler').item.json.error_message }}","type":"string"},{"id":"error_at","name":"error_at","value":"={{ $('❌ Error Handler').item.json.error_at }}","type":"string"}]},"options":{}},"id":"a5c41e84-42f0-45f5-9123-0bb1d58c1ed1","name":"📋 Error Log Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,96],"notes":"Log final du traitement d'erreur - Utilisable pour audit ou intégration monitoring"},{"parameters":{"assignments":{"assignments":[{"id":"workflow_status","name":"workflow_status","value":"completed_successfully","type":"string"},{"id":"summary","name":"summary","value":"=Message de {{ $('✅ Success Handler').item.json.user_name }} (ID: {{ $('✅ Success Handler').item.json.user_id }}) enregistré avec succès","type":"string"},{"id":"update_id","name":"update_id","value":"={{ $('✅ Success Handler').item.json.update_id }}","type":"number"},{"id":"inserted_id","name":"inserted_id","value":"={{ $('✅ Success Handler').item.json.inserted_id }}","type":"number"},{"id":"processed_at","name":"processed_at","value":"={{ $('✅ Success Handler').item.json.processed_at }}","type":"string"}]},"options":{}},"id":"4b7b557f-8236-4538-b3a7-4a04c041790a","name":"📋 Success Log Final","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-96],"notes":"Log final du traitement réussi - Utilisable pour audit ou intégration monitoring"},{"parameters":{"jsCode":"// Normalisation des données Telegram\nconst update = $input.item.json;\n\nconst telegram_timestamp = update.message?.date || '';\nconst telegram_datetime = telegram_timestamp ? new Date(telegram_timestamp * 1000).toISOString() : '';\nconst traitement_datetime = new Date().toISOString();\n\nreturn {\n  json: {\n    update_id: update.update_id || '',\n    message_id: update.message?.message_id || '',\n    user_id: update.message?.from?.id || '',\n    is_bot: update.message?.from?.is_bot || '',\n    first_name: update.message?.from?.first_name || '',\n    last_name: update.message?.from?.last_name || '',\n    language_code: update.message?.from?.language_code || '',\n    chat_id: update.message?.chat?.id || '',\n    chat_type: update.message?.chat?.type || '',\n    message_text: update.message?.text || '',\n    command: update.message?.entities?.[0]?.type || '',\n    telegram_datetime,\n    traitement_datetime\n  }\n};"},"id":"20dfb1a0-969c-4761-b21e-197d5075934f","name":"Normalisation","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,480]},{"parameters":{"jsCode":"// Génère une ligne CSV propre (sans headers)\nconst data = $input.item.json;\n\nconst escapeCsv = (value) => {\n  if (value === null || value === undefined) return '';\n  const str = String(value);\n  if (str.includes(',') || str.includes('\"') || str.includes('\\n') || str.includes('\\r')) {\n    return '\"' + str.replace(/\"/g, '\"\"') + '\"';\n  }\n  return str;\n};\n\nconst csvLine = [\n  escapeCsv(data.update_id),\n  escapeCsv(data.message_id),\n  escapeCsv(data.user_id),\n  escapeCsv(data.is_bot),\n  escapeCsv(data.first_name),\n  escapeCsv(data.last_name),\n  escapeCsv(data.language_code),\n  escapeCsv(data.chat_id),\n  escapeCsv(data.chat_type),\n  escapeCsv(data.message_text),\n  escapeCsv(data.command),\n  escapeCsv(data.telegram_datetime),\n  escapeCsv(data.traitement_datetime)\n].join(',') + '\\n';\n\n// Convertir en binaire pour le noeud Write Binary File\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(csvLine, 'utf8'),\n  'line.csv',\n  'text/csv'\n);\n\nreturn {\n  json: { \n    csvLine: csvLine.trim(),\n    ...data\n  },\n  binary: {\n    data: binaryData\n  }\n};"},"id":"8c28bcf3-669c-42d5-8dba-08cadce94984","name":"Generate CSV Line","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,480]},{"parameters":{"fileName":"=C:/n8n/data/telegram/telegram_tracker_ {{ $json.first_name }}_{{ $json.last_name }}.csv","options":{"append":true}},"id":"9b7e537f-c605-4bcf-8ec3-bca7e5e36681","name":"Append to CSV","type":"n8n-nodes-base.writeBinaryFile","typeVersion":1,"position":[672,480]},{"parameters":{"includeOtherFields":true,"options":{}},"id":"2d3fc804-445c-4001-b84a-3e737203c237","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,480]}],"connections":{"Telegram Trigger":{"main":[[{"node":"🔄 Normalisation & Validation","type":"main","index":0},{"node":"Normalisation","type":"main","index":0}]]},"🔄 Normalisation & Validation":{"main":[[{"node":"💾 Insert SQL Server","type":"main","index":0}]]},"💾 Insert SQL Server":{"main":[[{"node":"✅ Success Handler","type":"main","index":0}],[{"node":"❌ Error Handler","type":"main","index":0}]]},"✅ Success Handler":{"main":[[{"node":"📋 Success Log Final","type":"main","index":0}]]},"❌ Error Handler":{"main":[[{"node":"📤 Notify Error","type":"main","index":0}]]},"📤 Notify Error":{"main":[[{"node":"📋 Error Log Final","type":"main","index":0}]]},"Normalisation":{"main":[[{"node":"Generate CSV Line","type":"main","index":0}]]},"Generate CSV Line":{"main":[[{"node":"Append to CSV","type":"main","index":0}]]},"Append to CSV":{"main":[[{"node":"Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f6d21c99-cd24-4b72-8508-2c7f1a8f908b","triggerCount":1,"tags":[]}