kabadi-SJIqujs7csqsrDqs.json
{"createdAt":"2026-07-15T22:30:46.116Z","updatedAt":"2026-07-24T00:12:17.000Z","id":"SJIqujs7csqsrDqs","name":"kabadi","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":1}]}},"id":"3787ff1c-11b4-48fc-9e21-237ba3b428f4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[928,192]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    S.XSAL_0 AS code_x3,\n    S.XNAMSAL_0 AS nom,\n    S.XPRENOM_0 AS prenom,\n    CONVERT(VARCHAR(10), S.XDTN_0, 103) AS date_naissance,\n    CONVERT(VARCHAR(10), S.XDTE_0, 103) AS date_entree,\n    CASE\n    WHEN (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n          - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 = 0\n    THEN\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) % 12 AS VARCHAR\n        ) + ' mois'\n\n    ELSE\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 AS VARCHAR\n        ) + ' ' +\n        CASE\n            WHEN (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n                  - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 = 1\n            THEN 'an'\n            ELSE 'ans'\n        END\n        + ' et ' +\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) % 12 AS VARCHAR\n        ) + ' mois'\nEND AS anciennete_affichage,\n    P.YTIT_0 AS Poste,\n    S.XEMAIL_0 AS Email\n\nFROM jbelrh.JBELRH.XSAL S\nLEFT JOIN jbelrh.JBELRH.ZPOSTE P\n    ON S.ZPOSTE_0 = P.YNUM_0\nWHERE\n    S.XFLG_0 = 2\n    AND MONTH(S.XDTN_0) = MONTH(GETDATE())\n    AND DAY(S.XDTN_0) = DAY(GETDATE())\nORDER BY S.XNAMSAL_0, S.XPRENOM_0;"},"id":"aadbfaff-99ff-47d8-a240-d9b50933051e","name":"Anniversaire du jour","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1328,192],"credentials":{"microsoftSql":{"id":"yJEaGB9G0NLd2uPk","name":"Microsoft SQL account"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$items().length}}","operation":"larger","value2":0}]},"options":{}},"id":"a61ea57e-2278-41d2-a2a1-b507ff62f8b3","name":"Des anniversaires ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,192]},{"parameters":{"jsCode":"return $input.all().map(item => ({\n  json: {\n    message: `🎉 *JOYEUX ANNIVERSAIRE !* 🎉\n\nCher(e) *${item.json.prenom} ${item.json.nom}*,\n\nÀ l'occasion de votre anniversaire, nous vous adressons nos plus sincères félicitations et nos meilleurs vœux de santé, de bonheur et de réussite, tant sur le plan personnel que professionnel.\n\n📋 *Vos informations*\n• Code X3 : ${item.json.code_x3}\n• Date de naissance : ${item.json.date_naissance}\n• Date d'entrée : ${item.json.date_entree}\n• Ancienneté : ${item.json.anciennete_affichage}\n• Poste : ${item.json.Poste}\n• Email : ${item.json.Email}\n\n✨ Nous vous remercions pour votre engagement, votre professionnalisme et votre précieuse contribution au sein de *Jbel Annour*. Nous vous souhaitons une excellente journée d'anniversaire ainsi qu'une année riche en succès, en accomplissements et en moments de bonheur.\n\nAvec nos meilleures salutations,\n\n🤖 *Assistante IA de Mme Salma Sarhrany*\n*Service des Ressources Humaines*\n*Société Jbel Annour* 🎂🎁`,\n    email: item.json.Email\n  }\n}));"},"id":"072f2eec-fe4a-4336-9178-a66589f631bb","name":"Créer le message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,176]},{"parameters":{"fromEmail":"sarhrany.rh@jbel-annour.ma","toEmail":"={{ $json.email }}","subject":"Joyeux anniversaire","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false,"ccEmail":"=gestionnaire.des.conges@jbel-annour.ma"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2080,176],"id":"515bdf81-9b85-4522-a53b-5a9bd9699b8e","name":"Send email","webhookId":"a4514d13-eec3-44cd-adff-70bb23ecbed0","credentials":{"smtp":{"id":"GCzym15NrtBWq9vU","name":"SMTP"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n\t\t    SALARIE.XSAL_0 AS \"Code X3\",\n\t\t\tSALARIE.XMAT_0 AS \"Matricule\",\n\t\t\t  SALARIE.XNAMSAL_0+' '+SALARIE.XPRENOM_0 AS \"Nom & Prénom\",\n\t\t\t  SALARIE.YSUP_0 AS \"Code X3 Sup\",\n\t\t\tSUP.XNAMSAL_0+' '+SUP.XPRENOM_0 AS \"Supérieur\",\n\t\t\tSUP.XFLG_0 AS \"Supérieur FLAG\"\nFROM jbelrh.JBELRH.XSAL SALARIE\n\t\t\tLEFT JOIN jbelrh.JBELRH.XSAL SUP ON SALARIE.YSUP_0=SUP.XSAL_0\nWHERE SALARIE.XFLG_0=2 And SUP.XFLG_0<>2"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[1328,432],"id":"11f93dab-f34a-4809-a175-0d237db71353","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"yJEaGB9G0NLd2uPk","name":"Microsoft SQL account"}}},{"parameters":{"jsCode":"// Récupère tous les résultats de la requête SQL\nconst employees = $input.all();\n\n// Aucun salarié concerné : ne rien envoyer\nif (employees.length === 0) {\n  return [];\n}\n\n// Construction du message\nlet message = `🚨 *ALERTE RH - Supérieurs inactifs*\\n\\n`;\nmessage += `Les salariés suivants sont encore rattachés à un supérieur qui a quitté l'entreprise ou qui n'est plus actif.\\n\\n`;\n\nemployees.forEach((emp, index) => {\n  message += `👤 *${index + 1}. ${emp.json[\"Nom & Prénom\"]}*\\n`;\n  message += `📋 Code X3 : ${emp.json[\"Code X3\"]}\\n`;\n  message += `🆔 Matricule : ${emp.json[\"Matricule\"]}\\n`;\n  message += `👨‍💼 Supérieur : ${emp.json[\"Supérieur\"]}\\n`;\n  message += `📌 Code X3 Supérieur : ${emp.json[\"Code X3 Sup\"]}\\n\\n`;\n});\n\nmessage += `━━━━━━━━━━━━━━━━━━━━━━\\n`;\nmessage += `📊 *Total des salariés concernés : ${employees.length}*\\n\\n`;\nmessage += `⚠️ Merci de mettre à jour le rattachement hiérarchique dans Sage X3.\\n`;\nmessage += `\\n🤖 Notification automatique - Assistant IA RH`;\n\nreturn [\n  {\n    json: {\n      total: employees.length,\n      message: message\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,432],"id":"28af4212-a766-42d7-815d-886f34e031f8","name":"Code"},{"parameters":{"fromEmail":"sarhrany@jbel-annour.ma","toEmail":"=gestionnaire.des.conges@jbel-annour.ma","subject":"ALERTE RH - Supérieurs inactifs","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1888,432],"id":"99396e97-306e-4d45-9ba1-26307a490fc7","name":"Send email1","webhookId":"ce580759-5700-4b6c-a0fe-e43bc770cead","credentials":{"smtp":{"id":"GCzym15NrtBWq9vU","name":"SMTP"}}},{"parameters":{"chatId":"7416640157","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1888,592],"id":"e9ac3ff6-398b-4772-a0cd-c1220d8aabf3","name":"Send a text message","webhookId":"11049885-cbfa-4782-9b32-018143dfccc7","credentials":{"telegramApi":{"id":"6C92NYu5OyleK143","name":"Telegram ai sarhrany"}}},{"parameters":{"chatId":"7416640157","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2080,320],"id":"70524baa-57b3-4fc9-b2e7-8c326ae3fa05","name":"Send a text message1","webhookId":"dba85303-5051-4947-83db-505a11bf04c0","credentials":{"telegramApi":{"id":"6C92NYu5OyleK143","name":"Telegram ai sarhrany"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Anniversaire du jour","type":"main","index":0},{"node":"Microsoft SQL","type":"main","index":0}]]},"Anniversaire du jour":{"main":[[{"node":"Des anniversaires ?","type":"main","index":0}]]},"Des anniversaires ?":{"main":[[{"node":"Créer le message","type":"main","index":0}]]},"Créer le message":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Send a text message1","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send email1","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fdb854b9-68f1-40c4-b18a-8711008564dc","triggerCount":1,"tags":[]}