mobilitie interne non attache-JPyXV4MGMtQTOpwx.json
{"createdAt":"2026-01-11T16:53:53.219Z","updatedAt":"2026-05-02T20:12:38.000Z","id":"JPyXV4MGMtQTOpwx","name":"Mobilitie interne non attache","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1824,2400],"id":"f405ae51-2207-40fe-b252-763ca399af41","name":"Vérifier Données Présentes1","notes":"Stoppe le workflow si aucune donnée"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1600,2496],"id":"3c3c7140-fbee-4d7f-9a61-7cc3de3d2cb8","name":"Fin - Aucune Donnée1","notes":"Aucun accident à traiter aujourd'hui"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION MULTI-DESTINATION - MOBILITÉS INTERNES (avec BAALLAH)');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Mobilités reçues: ${items.length}`);\n\n// ─── EXPANSION MULTI-NIVEAUX ───\nconst lignesExpansees = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  const jr = data.jours_restants;\n  const delai = parseInt(data.delai_int || data.delai_total_jours || 10);\n\n  const niveauxActifs = [];\n\n  if (jr <= 2)                                      niveauxActifs.push('PDG');\n  if (jr === 3)                                     niveauxActifs.push('SUPERIEUR');\n  if (jr === 4)                                     niveauxActifs.push('SALARIE');\n  if (jr >= 5 && jr <= 8)                          niveauxActifs.push('FARHAT');\n  if (jr > 4 && jr <= Math.floor(delai / 2))       niveauxActifs.push('DGA');\n  if (jr > 4 && jr <= Math.floor(delai / 2))       niveauxActifs.push('BAALLAH');\n\n  niveauxActifs.forEach(niveau => {\n    lignesExpansees.push({ data, niveau });\n  });\n});\n\nconsole.log(`Lignes après expansion multi-niveaux: ${lignesExpansees.length}`);\n\n// ─── GROUPEMENT PAR DESTINATAIRE ───\nconst notifications = {};\n\nlignesExpansees.forEach(({ data, niveau }) => {\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n\n  switch (niveau) {\n    case 'PDG':\n      destinatairePrincipal = {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      };\n      codeDestinataire = data.code_pdg;\n      break;\n\n    case 'DGA':\n      destinatairePrincipal = {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      };\n      codeDestinataire = data.code_dga;\n      break;\n\n    case 'BAALLAH':\n      destinatairePrincipal = {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah || null, telephone: data.telephone_baallah || null,\n        chat_id: data.chat_id_baallah || null, langue: data.langue_baallah || 'FRA', bot: data.bot_baallah || null\n      };\n      codeDestinataire = data.code_baallah;\n      break;\n\n    case 'SUPERIEUR':\n      destinatairePrincipal = {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      };\n      codeDestinataire = data.code_superieur;\n      break;\n\n    case 'SALARIE':\n      destinatairePrincipal = {\n        code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n        email: data.email_salarie, telephone: data.num_telephone_salarie,\n        chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n      };\n      codeDestinataire = data.code_salarie;\n      break;\n\n    case 'FARHAT':\n      destinatairePrincipal = {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat || null, telephone: data.telephone_farhat || null,\n        chat_id: data.chat_id_farhat || null, langue: data.langue_farhat || 'FRA', bot: data.bot_farhat || null\n      };\n      codeDestinataire = data.code_farhat;\n      break;\n\n    default:\n      return;\n  }\n\n  const cleDestinataire = `${niveau}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: niveau,\n      niveau_escalade: niveau,\n\n      salarie: {\n        code: data.code_salarie, nom: data.nom_salarie, prenom: data.prenom_salarie,\n        email: data.email_salarie, telephone: data.num_telephone_salarie,\n        chat_id: data.chat_id_salarie, langue: data.langue_salarie, bot: data.bot_salarie\n      },\n      superieur: {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.num_telephone_sup,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      },\n      pdg: {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      },\n      dga: {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      },\n      farhat: {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat, telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat, langue: data.langue_farhat, bot: data.bot_farhat\n      },\n      baallah: {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah, telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah, langue: data.langue_baallah || 'FRA', bot: data.bot_baallah\n      },\n      attestations: []\n    };\n  }\n\n  // Éviter les doublons de mobilités dans le même groupe\n  const dejaPresent = notifications[cleDestinataire].attestations\n    .some(a => a.numero_attestation === data.numero_mobilite);\n\n  if (!dejaPresent) {\n    notifications[cleDestinataire].attestations.push({\n      numero_attestation: data.numero_mobilite,\n      date_creation_attestation: data.date_creation_mobilite,\n      date_controle: data.date_controle,\n      utilisateur_createur: data.utilisateur_createur,\n      delai_total_jours: data.delai_total_jours,\n      date_limite: data.date_limite,\n      jours_depuis_creation: data.jours_depuis_creation,\n      jours_restants: data.jours_restants,\n      salarie_concerne: {\n        code: data.code_salarie,\n        nom: data.nom_salarie,\n        prenom: data.prenom_salarie,\n        email: data.email_salarie,\n        telephone: data.num_telephone_salarie\n      }\n    });\n  }\n});\n\n// ─── FORMATAGE FINAL ───\nconst resultats = Object.values(notifications).map(notif => {\n  const joursMin = Math.min(...notif.attestations.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.attestations.map(a => a.jours_restants));\n  const delaiTotal = parseInt(notif.attestations[0]?.delai_total_jours) || 10;\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.dga.email)       emailCC.push(notif.dga.email);\n    [notif.superieur, notif.salarie, notif.dga].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n\n  } else if (notif.type_destinataire === 'DGA') {\n    if (notif.superieur.email) emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    [notif.superieur, notif.salarie].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n\n  } else if (notif.type_destinataire === 'BAALLAH') {\n    // BAALLAH → pas de CC, email + Telegram si chat_id disponible\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue, nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'FARHAT') {\n    // Pas de CC pour FARHAT\n  }\n  // SALARIE → pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    salarie: notif.salarie,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    attestations: notif.attestations,\n    statistiques: {\n      total_attestations: notif.attestations.length,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: delaiTotal,\n      seuil_mi_delai: Math.floor(delaiTotal / 2)\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\n['PDG','DGA','BAALLAH','SUPERIEUR','SALARIE','FARHAT'].forEach(t => {\n  const n = resultats.filter(r => r.type_destinataire === t).length;\n  if (n > 0) console.log(`  - ${t}: ${n}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1600,2304],"id":"c206a980-cc8d-4bcb-b19d-f36201267b0b","name":"Structuration par Destinataire1","notes":"Groupe les mobilités par destinataire avec escalade automatique (+ BAALLAH)"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Mobilités Internes Non Attachées',\n      DGA:      '🟣 INFORMATION DIRECTION - Mobilités Internes Non Attachées',\n      BAALLAH:  '🟠 INFO X3 - Mobilités Internes à Surveiller',\n      SUPERIEUR:'🟠 IMPORTANT - Mobilités Internes Non Attachées',\n      SALARIE:  '🟡 Rappel - Mobilités Internes à Compléter',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Mobilités Internes à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les demandes de mobilité interne suivantes nécessitent votre attention IMMÉDIATE',\n      DGA:      'Information Direction - Les dossiers suivants ont dépassé le mi-délai réglementaire',\n      BAALLAH:  'Information X3 - Les dossiers suivants ont dépassé le mi-délai réglementaire (suivi X3)',\n      SUPERIEUR:'Les demandes de mobilité interne suivantes requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos demandes de mobilité interne en attente de traitement',\n      FARHAT:   'Information préventive - Les demandes de mobilité interne suivantes approchent de leur délai limite'\n    },\n    cc_message: {\n      base:            'Un message d\\'alerte concernant les mobilités internes non attachées suivantes a été envoyé à',\n      votre_superieur: 'votre supérieur(e)',\n      le_pdg:          'la Direction (PDG)',\n      le_dga:          'la Direction Générale Adjointe (DGA)',\n      le_baallah:      'le Responsable X3 (Jaouad Baallah)',\n      le_farhat:       'le Responsable RH',\n      action:          'Veuillez prendre les mesures nécessaires pour traiter ces mobilités internes dans les délais impartis.'\n    },\n    section_stats:        'STATISTIQUES',\n    total:                'Total mobilités internes',\n    delai_min:            'Délai minimum',\n    jours:                'jour(s)',\n    seuil_mi_delai:       'Seuil mi-délai',\n    section_attestations: 'LISTE DES MOBILITÉS INTERNES NON ATTACHÉES',\n    numero:               'Numéro DMI',\n    date_creation:        'Date création',\n    creee_par:            'Créée par',\n    salarie_concerne:     'Salarié concerné',\n    delai:                'Délai',\n    restant:              'restant(s)',\n    limite:               'Limite',\n    delai_total:          'Délai total',\n    action_requise:       'ACTION REQUISE',\n    urgent:               'URGENT - Attacher les documents immédiatement',\n    contact:              'Contact Service RH',\n    cordialement:         'Cordialement',\n    signature:            'Service SI/IA - Jbel Annour',\n    message_auto:         'Message automatique',\n    ne_pas_repondre:      'Merci de ne pas répondre à cet email',\n    copie_info:           '📋 CC',\n    instruction:          'Veuillez attacher les documents justificatifs manquants à ces demandes de mobilité interne dans les meilleurs délais.',\n    instruction_mi_delai: 'Ces dossiers ont dépassé la moitié du délai autorisé sans document attaché. Merci de vous assurer que les actions correctives sont engagées.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - طلبات التنقل الداخلي غير المرفقة',\n      DGA:      '🟣 معلومة للإدارة - طلبات التنقل الداخلي غير المرفقة',\n      BAALLAH:  '🟠 معلومة X3 - طلبات التنقل الداخلي للمراقبة',\n      SUPERIEUR:'🟠 هام - طلبات التنقل الداخلي غير المرفقة',\n      SALARIE:  '🟡 تذكير - طلبات التنقل الداخلي للإكمال',\n      FARHAT:   '🔵 معلومة وقائية - طلبات التنقل الداخلي للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - طلبات التنقل الداخلي التالية تتطلب اهتمامك الفوري',\n      DGA:      'معلومة للإدارة - الملفات التالية تجاوزت منتصف المهلة النظامية',\n      BAALLAH:  'معلومة X3 - الملفات التالية تجاوزت منتصف المهلة النظامية (متابعة X3)',\n      SUPERIEUR:'طلبات التنقل الداخلي التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص طلبات التنقل الداخلي الخاصة بك في انتظار المعالجة',\n      FARHAT:   'معلومة وقائية - طلبات التنقل الداخلي التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    cc_message: {\n      base:            'تم إرسال رسالة تنبيه بخصوص طلبات التنقل الداخلي غير المرفقة التالية إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg:          'الإدارة (المدير العام)',\n      le_dga:          'المديرية العامة المساعدة',\n      le_baallah:      'مسؤول X3 (جواد بعلة)',\n      le_farhat:       'مسؤول الموارد البشرية',\n      action:          'يرجى اتخاذ الإجراءات اللازمة لمعالجة طلبات التنقل الداخلي هذه في المواعيد المحددة.'\n    },\n    section_stats:        'الإحصائيات',\n    total:                'إجمالي طلبات التنقل الداخلي',\n    delai_min:            'الحد الأدنى للمهلة',\n    jours:                'يوم/أيام',\n    seuil_mi_delai:       'عتبة منتصف المهلة',\n    section_attestations: 'قائمة طلبات التنقل الداخلي غير المرفقة',\n    numero:               'رقم DMI',\n    date_creation:        'تاريخ الإنشاء',\n    creee_par:            'تم إنشاؤه من قبل',\n    salarie_concerne:     'الموظف المعني',\n    delai:                'المهلة',\n    restant:              'المتبقية',\n    limite:               'الحد',\n    delai_total:          'المهلة الإجمالية',\n    action_requise:       'الإجراء المطلوب',\n    urgent:               'عاجل - إرفاق الوثائق فورا',\n    contact:              'اتصال بقسم الموارد البشرية',\n    cordialement:         'مع أطيب التحيات',\n    signature:            'قسم SI/IA - جبل النور',\n    message_auto:         'رسالة تلقائية',\n    ne_pas_repondre:      'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:           '📋 نسخة للعلم',\n    instruction:          'يرجى إرفاق الوثائق الناقصة لطلبات التنقل الداخلي هذه في أقرب وقت ممكن.',\n    instruction_mi_delai: 'تجاوزت هذه الملفات نصف المهلة المسموح بها دون إرفاق وثائق. يرجى التأكد من اتخاذ الإجراءات التصحيحية اللازمة.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Unattached Internal Mobility Requests',\n      DGA:      '🟣 MANAGEMENT INFORMATION - Unattached Internal Mobility Requests',\n      BAALLAH:  '🟠 X3 INFO - Internal Mobility Requests to Monitor',\n      SUPERIEUR:'🟠 IMPORTANT - Unattached Internal Mobility Requests',\n      SALARIE:  '🟡 Reminder - Internal Mobility Requests to Complete',\n      FARHAT:   '🔵 PREVENTIVE INFO - Internal Mobility Requests to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following internal mobility requests require your IMMEDIATE attention',\n      DGA:      'Management Information - The following files have passed the mid-deadline',\n      BAALLAH:  'X3 Information - The following files have passed the mid-deadline (X3 monitoring)',\n      SUPERIEUR:'The following internal mobility requests require your priority attention',\n      SALARIE:  'Reminder about your internal mobility requests pending processing',\n      FARHAT:   'Preventive information - The following internal mobility requests are approaching their deadline'\n    },\n    cc_message: {\n      base:            'An alert message regarding the following unattached internal mobility requests has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:          'the Management (CEO)',\n      le_dga:          'the Deputy General Manager (DGA)',\n      le_baallah:      'the X3 Manager (Jaouad Baallah)',\n      le_farhat:       'the HR Manager',\n      action:          'Please take the necessary measures to process these internal mobility requests within the specified deadlines.'\n    },\n    section_stats:        'STATISTICS',\n    total:                'Total internal mobility requests',\n    delai_min:            'Minimum deadline',\n    jours:                'day(s)',\n    seuil_mi_delai:       'Mid-deadline threshold',\n    section_attestations: 'LIST OF UNATTACHED INTERNAL MOBILITY REQUESTS',\n    numero:               'DMI Number',\n    date_creation:        'Creation date',\n    creee_par:            'Created by',\n    salarie_concerne:     'Employee concerned',\n    delai:                'Deadline',\n    restant:              'remaining',\n    limite:               'Limit',\n    delai_total:          'Total deadline',\n    action_requise:       'ACTION REQUIRED',\n    urgent:               'URGENT - Attach documents immediately',\n    contact:              'HR Department Contact',\n    cordialement:         'Best regards',\n    signature:            'IT/AI Department - Jbel Annour',\n    message_auto:         'Automatic message',\n    ne_pas_repondre:      'Please do not reply to this email',\n    copie_info:           '📋 COPY FOR INFORMATION',\n    instruction:          'Please attach the missing documents to these internal mobility requests as soon as possible.',\n    instruction_mi_delai: 'These files have exceeded half their allowed deadline without attached documents. Please ensure corrective actions are underway.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n\n  let emailSubject = (T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE)\n    + ` - ${stats.total_attestations} mobilité(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n\n  if (data.type_destinataire === 'DGA' || data.type_destinataire === 'BAALLAH') {\n    emailBody += `${T.seuil_mi_delai}: ${stats.seuil_mi_delai} ${T.jours}\\n`;\n  }\n\n  if (data.type_destinataire !== 'SALARIE' && data.type_destinataire !== 'DGA' && data.type_destinataire !== 'BAALLAH') {\n    emailBody += `\\n${T.salarie_concerne}: ${data.salarie.prenom} ${data.salarie.nom} (${data.salarie.code})\\n`;\n  }\n\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `🚨 ${T.action_requise}: ${T.urgent}\\n`;\n  } else if (data.type_destinataire === 'DGA' || data.type_destinataire === 'BAALLAH') {\n    emailBody += `📌 ${T.instruction_mi_delai}\\n`;\n  } else {\n    emailBody += `📌 ${T.instruction}\\n`;\n  }\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  if (data.superieur?.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom} - Email: ${data.superieur.email} - Tel: ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG')     emailBody += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (data.type_destinataire === 'DGA')     emailBody += `🟣 Notification envoyée à la DGA (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  if (data.type_destinataire === 'BAALLAH') emailBody += `🟠 Notification envoyée à Jaouad Baallah / X3 (seuil: délai/2 = ${stats.seuil_mi_delai}j)\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `👤 *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n\n  attestations.slice(0, 5).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 5) telegramMessage += `... et ${attestations.length - 5} autre(s) mobilité(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const attestations = data.attestations;\n  const dp = data.destinataire_principal;\n\n  const labelMap = {\n    SUPERIEUR: T.cc_message.votre_superieur,\n    PDG:       T.cc_message.le_pdg,\n    DGA:       T.cc_message.le_dga,\n    BAALLAH:   T.cc_message.le_baallah,\n    FARHAT:    T.cc_message.le_farhat\n  };\n  const label = labelMap[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n\n  const emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_attestations} mobilité(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${label} ${dp.prenom} ${dp.nom}.\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_attestations}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_attestations}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  attestations.forEach((att, index) => {\n    emailBody += `${index + 1}. ${getEmoji(att.jours_restants)} ${att.numero_attestation}\\n`;\n    emailBody += `   📅 ${T.date_creation}: ${formaterDateHeure(att.date_creation_attestation, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie_concerne}: ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom} (${att.salarie_concerne.code})\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${att.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(att.date_limite, langue)})\\n`;\n    if (att.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `${T.cc_message.action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `${T.copie_info}\\n${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${label} *${dp.prenom} ${dp.nom}*.\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_attestations}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_attestations}*\\n\\n`;\n  attestations.slice(0, 3).forEach((att, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(att.jours_restants)} *${att.numero_attestation}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(att.date_creation_attestation, langue)}\\n`;\n    telegramMessage += `   🧑 ${att.salarie_concerne.prenom} ${att.salarie_concerne.nom}\\n`;\n    telegramMessage += `   ⏰ ${att.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (attestations.length > 3) telegramMessage += `... et ${attestations.length - 3} autre(s) mobilité(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\n// ─── GÉNÉRATION DES RÉSULTATS ───\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // ─── CC selon le niveau ───\n  if (data.type_destinataire === 'SUPERIEUR') {\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'SUPERIEUR'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'DGA') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'BAALLAH') {\n    // BAALLAH → pas de CC, uniquement message principal (email + Telegram si chat_id dispo)\n\n  } else if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.dga?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.dga, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.dga, cc_pour_profil: 'DGA',\n        meta: { ...data.meta, langue_utilisee: data.dga.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'FARHAT') {\n    if (data.salarie?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.salarie, 'FARHAT'),\n        type_envoi: 'CC', destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n});\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES - MOBILITÉS INTERNES');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages générés: ${results.length}`);\nconsole.log(`  - Messages principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - Messages CC: ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,2304],"id":"f7102e76-9be3-4eb8-9a2a-76737cd87dd3","name":"Génération Messages Multilingues1","notes":"Génère les messages en FRA/ARA/ENG selon le destinataire (+ BAALLAH)"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-704,1920],"id":"1f5103c3-2985-4af7-8e2f-deedcde9f7ef","name":"Envoi Email1","webhookId":"92ad2e2f-5269-421a-83f1-7acce13d63a0","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon escalade"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-704,2304],"id":"ca53eaf0-1edf-4afc-a25e-2670c2e7f5ef","name":"Envoi Telegram Principal1","webhookId":"e4a23ade-32bc-43ca-bd0b-f160bbb94d7c","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi au destinataire principal"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-480,2112],"id":"fd53e253-edcb-47d1-8533-6faf09307aed","name":"Fin Workflow1","notes":"Toutes les notifications envoyées"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    dmi.XNUM_0          AS numero_mobilite,\n    dmi.CREDATTIM_0     AS date_creation_mobilite,\n    dmi.YDATCON_0       AS date_controle,\n    dmi.CREUSR_0        AS utilisateur_createur,\n    ACLOB.CLOB_0        AS commentaire,\n\n    P.VALEUR_0          AS delai_total_jours,\n    CAST(P.VALEUR_0 AS INT) AS delai_int,\n\n    s.XSAL_0            AS code_salarie,\n    x.XNAMSAL_0         AS nom_salarie,\n    x.XPRENOM_0         AS prenom_salarie,\n    x.XEMAIL_0          AS email_salarie,\n    x.YTELE_0           AS num_telephone_salarie,\n    x.YSUP_0            AS code_superieur,\n\n    xx.XNAMSAL_0        AS nom_superieur,\n    xx.XPRENOM_0        AS prenom_superieur,\n    xx.XEMAIL_0         AS email_superieur,\n    xx.YTELE_0          AS num_telephone_sup,\n\n    pdg.XSAL_0          AS code_pdg,\n    pdg.XNAMSAL_0       AS nom_pdg,\n    pdg.XPRENOM_0       AS prenom_pdg,\n    pdg.XEMAIL_0        AS email_pdg,\n    pdg.YTELE_0         AS telephone_pdg,\n\n    dga.XSAL_0          AS code_dga,\n    dga.XNAMSAL_0       AS nom_dga,\n    dga.XPRENOM_0       AS prenom_dga,\n    dga.XEMAIL_0        AS email_dga,\n    dga.YTELE_0         AS telephone_dga,\n\n    farhat.XSAL_0       AS code_farhat,\n    farhat.XNAMSAL_0    AS nom_farhat,\n    farhat.XPRENOM_0    AS prenom_farhat,\n    farhat.XEMAIL_0     AS email_farhat,\n    farhat.YTELE_0      AS telephone_farhat,\n\n    -- ─── BAALLAH (NOUVEAU) ───\n    baallah.XSAL_0      AS code_baallah,\n    baallah.XNAMSAL_0   AS nom_baallah,\n    baallah.XPRENOM_0   AS prenom_baallah,\n    baallah.XEMAIL_0    AS email_baallah,\n    baallah.YTELE_0     AS telephone_baallah,\n\n    -- ─── INFOS IA – SALARIÉ ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0) AS chat_id_salarie,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0) AS langue_salarie,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = x.XSAL_0) AS bot_salarie,\n\n    -- ─── INFOS IA – SUPÉRIEUR ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS chat_id_superieur,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS langue_superieur,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS bot_superieur,\n\n    -- ─── INFOS IA – PDG ───\n    '8528101210'        AS chat_id_pdg,\n    (SELECT inf.LAN_0   FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n    (SELECT inf.YBOT_0  FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n    -- ─── INFOS IA – DGA ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n\n    -- ─── INFOS IA – FARHAT ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n    -- ─── INFOS IA – BAALLAH (NOUVEAU) ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n    DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dmi.CREDATTIM_0) AS date_limite,\n    DATEDIFF(DAY, dmi.CREDATTIM_0, GETDATE())               AS jours_depuis_creation,\n    DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dmi.CREDATTIM_0)) AS jours_restants\n\nFROM jbelrh.JBELRH.XDMI dmi\n\n    LEFT JOIN jbelrh.JBELRH.ACLOB ACLOB\n        ON ACLOB.IDENT1_0 = dmi.XNUM_0\n    FULL OUTER JOIN jbelrh.JBELRH.YSALAUS s\n        ON dmi.CREUSR_0 = s.USER_0\n    LEFT JOIN jbelrh.JBELRH.XSAL x\n        ON x.XSAL_0 = s.XSAL_0\n    LEFT JOIN jbelrh.JBELRH.XSAL xx\n        ON xx.XSAL_0 = x.YSUP_0\n    CROSS APPLY (\n        SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YDELATTMOB'\n    ) P\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n    ) pdg\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n    -- ─── BAALLAH (NOUVEAU) ───\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n    ) baallah\n\nWHERE \n    dmi.CREDATTIM_0 >= '2024-01-01'\n    AND dmi.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n    AND NOT EXISTS (\n        SELECT * FROM jbelrh.JBELRH.AOBJTXT AOBJTXT \n        WHERE dmi.XNUM_0 = AOBJTXT.IDENT1_0 AND AOBJTXT.ABREV_0 = 'XDMI'\n    )\n    -- ✅ Couvre tous les niveaux jusqu'au seuil DGA/BAALLAH (délai/2)\n    AND DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), dmi.CREDATTIM_0))\n        <= (CAST(P.VALEUR_0 AS INT) / 2)\n\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-2048,2400],"id":"50e7851f-1f45-4f1d-86bb-e38c0de1da59","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2272,2400],"id":"6159385a-f04d-4de1-9a57-bf6c0b8e3b50","name":"Schedule Trigger1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac8d9e1f-91c8-4e15-84e1-d1f3ccda8852","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,2016],"id":"dc889d62-4667-4101-9dbf-217ce774ed73","name":"not pdg email1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,2112],"id":"d8b9f4eb-078e-4ef1-890e-ea112fd56754","name":"No Operation, do nothing4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca4c637b-84e0-42b9-8814-b2a19364d18a","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"66146157-2656-4ce6-83a5-50eee01fbabf","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,2496],"id":"e3c235d4-1963-43c5-bbd7-a6b7c68e32de","name":"Si Chat ID Existe1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d3e4c9d6-c4af-465c-b502-4dc7d7e59965","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-928,2400],"id":"f16bd7fb-cbd4-40ac-b4f0-080c68d0989c","name":"not pdg chat id1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,2592],"id":"7b714928-636d-4e81-9a6b-0a9dd473323d","name":"No Operation, do nothing5"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-704,2496],"id":"946b5f73-965d-401d-a028-fb76e43db308","name":"No Operation, do nothing6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89d1c815-4549-487b-a9ab-a9d4a9113ac3","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1152,2112],"id":"4c43c007-035e-4f5d-80ac-48f871bc69ef","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-928,2208],"id":"fb0e2a04-8f8e-41ea-aeed-2ed8378d3f8b","name":"No Operation, do nothing7"}],"connections":{"Vérifier Données Présentes1":{"main":[[{"node":"Structuration par Destinataire1","type":"main","index":0}],[{"node":"Fin - Aucune Donnée1","type":"main","index":0}]]},"Structuration par Destinataire1":{"main":[[{"node":"Génération Messages Multilingues1","type":"main","index":0}]]},"Génération Messages Multilingues1":{"main":[[{"node":"Si Chat ID Existe1","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Envoi Email1":{"main":[[{"node":"Fin Workflow1","type":"main","index":0}]]},"Envoi Telegram Principal1":{"main":[[{"node":"Fin Workflow1","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Vérifier Données Présentes1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"not pdg email1":{"main":[[{"node":"Envoi Email1","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Si Chat ID Existe1":{"main":[[{"node":"not pdg chat id1","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"not pdg chat id1":{"main":[[{"node":"Envoi Telegram Principal1","type":"main","index":0}],[{"node":"No Operation, do nothing6","type":"main","index":0}]]},"If1":{"main":[[{"node":"not pdg email1","type":"main","index":0}],[{"node":"No Operation, do nothing7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"0c399510-0b98-42fc-aaf4-6485a5cb5fb1","triggerCount":1,"tags":[]}