my workflow 156-p8Uu0zVFiA3lrQAw.json
{"createdAt":"2026-06-16T19:56:19.895Z","updatedAt":"2026-06-22T17:10:43.000Z","id":"p8Uu0zVFiA3lrQAw","name":"My workflow 156","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"DECLARE @DELAI_MAX   INT = 15;\nDECLARE @DELAI_RESP  INT = 4;\nDECLARE @DELAI_CREAT INT = 5;\nDECLARE @DELAI_JURID INT = @DELAI_MAX / 2;  -- 7j\n\nSELECT\n  XSAL.XSAL_0                                         AS code_x3_createur,\n  XSAL.XNAMSAL_0                                      AS nom_createur,\n  XSAL.XPRENOM_0                                      AS prenom_createur,\n  LTRIM(RTRIM(XSAL.XNAMSAL_0)) + ' ' + LTRIM(RTRIM(XSAL.XPRENOM_0)) AS nom_complet_createur,\n  XSAL.XEMAIL_0                                       AS email_createur,\n  POSTE.YTIT_0                                        AS poste_createur,\n\n  baallah.XSAL_0                                      AS code_x3_baallah,\n  baallah.XNAMSAL_0                                   AS nom_baallah,\n  baallah.XPRENOM_0                                   AS prenom_baallah,\n  baallah.XEMAIL_0                                    AS email_baallah,\n  baallah.YTELE_0                                     AS tele_baallah,\n\n  resonsable_achats.XSAL_0                            AS code_x3_respo_achat,\n  resonsable_achats.XNAMSAL_0                         AS nom_respo_achat,\n  resonsable_achats.XPRENOM_0                         AS prenom_respo_achat,\n  resonsable_achats.XEMAIL_0                          AS email_respo_achat,\n  resonsable_achats.YTELE_0                           AS tele_respo_achat,\n\n  resonsable_compta.XSAL_0                            AS code_x3_respo_compta,\n  resonsable_compta.XNAMSAL_0                         AS nom_respo_compta,\n  resonsable_compta.XPRENOM_0                         AS prenom_respo_compta,\n  resonsable_compta.XEMAIL_0                          AS email_respo_compta,\n  resonsable_compta.YTELE_0                           AS tele_respo_comptat,\n\n  '{{ $json.XDATE_0 }}'                               AS date_creation,\n  '{{ $json.NUM_0 }}'                                 AS numero_bc,\n  '{{ $json.BPR_0 }}'                                 AS code_fournisseur,\n  '{{ $json.XCODE_0 }}'                               AS code_fournisseur_sage100,\n  '{{ $json.BPRNAM_0 }}'                              AS raison_fournisseur,\n  '{{ $json.XCPT_0 }}'                                AS comptable,\n  '{{ $json.XACH_0 }}'                                AS acheteur,\n  '{{ $json.CREUSR_0 }}'                              AS cree_user,\n\n  DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  )                                                   AS jours_ecoules,\n\n  @DELAI_MAX - DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  )                                                   AS jours_restants_blocage,\n\n  @DELAI_JURID - DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  )                                                   AS jours_restants_juridique,\n\n  (@DELAI_MAX - @DELAI_CREAT) - DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  )                                                   AS jours_restants_createur,\n\n  (@DELAI_MAX - @DELAI_RESP) - DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  )                                                   AS jours_restants_responsable,\n\n  CASE\n    WHEN DATEDIFF(DAY, CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120), GETDATE()) >= @DELAI_MAX\n      THEN 'BLOQUE'\n    WHEN DATEDIFF(DAY, CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120), GETDATE()) >= (@DELAI_MAX - @DELAI_RESP)\n      THEN 'ALERTE_RESPONSABLE'\n    WHEN DATEDIFF(DAY, CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120), GETDATE()) >= (@DELAI_MAX - @DELAI_CREAT)\n      THEN 'ALERTE_CREATEUR'\n    WHEN DATEDIFF(DAY, CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120), GETDATE()) >= @DELAI_JURID\n      THEN 'ALERTE_JURIDIQUE'\n    ELSE 'OK'\n  END                                                 AS niveau_alerte,\n\n  @DELAI_MAX    AS param_delai_max,\n  @DELAI_JURID  AS param_delai_juridique,\n  @DELAI_CREAT  AS param_delai_createur,\n  @DELAI_RESP   AS param_delai_responsable\n\nFROM jbelrh.JBELRH.XSAL XSAL\n  LEFT JOIN jbelrh.JBELRH.XSAL         YSUP  ON XSAL.YSUP_0    = YSUP.XSAL_0\n  LEFT JOIN jbelrh.JBELRH.YFICHEPOSTE  YFICH ON YFICH.ZPOSTE_0 = XSAL.ZPOSTE_0\n  LEFT JOIN jbelrh.JBELRH.ZPOSTE       POSTE ON POSTE.YNUM_0   = XSAL.ZPOSTE_0\n  CROSS APPLY (\n    SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n    FROM jbelrh.JBELRH.XSAL\n    WHERE XSAL_0 = 'S0179'\n  ) baallah\n  CROSS APPLY (\n    SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n    FROM jbelrh.JBELRH.XSAL\n    WHERE ZPOSTE_0 = 'PST00029' AND XFLG_0 = 2\n  ) resonsable_achats\n  CROSS APPLY (\n    SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, 'chef.comptable@jbel-annour.ma' AS XEMAIL_0, YTELE_0\n    FROM jbelrh.JBELRH.XSAL\n    WHERE ZPOSTE_0 = 'PST00160' AND XFLG_0 = 2\n  ) resonsable_compta\n\nWHERE\n  DATEDIFF(DAY,\n    CONVERT(DATE, LEFT('{{ $json.XDATE_0 }}', 10), 120),\n    GETDATE()\n  ) <= @DELAI_MAX\n  AND REPLACE(UPPER(LTRIM(RTRIM(XSAL.XNAMSAL_0)) + ' ' + LTRIM(RTRIM(XSAL.XPRENOM_0))), '  ', ' ')\n    = REPLACE(UPPER('{{ $json.XACH_0.replace(/'/g, \"''\") }}'), '  ', ' ')\n  AND XSAL.XFLG_0 = 2"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[208,-288],"id":"c4299091-db3f-418d-a219-aad0283b9c8d","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"operation":"executeQuery","query":" SELECT \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"NUM_0\", \"XPAYCSSPJ\".\"BPR_0\", \"XPAYCSSPJ\".\"XCODE_0\", \"XPAYCSSPJ\".\"BPRNAM_0\", \"XPAYCSSPJ\".\"FCY_0\", \"BPARTNER\".\"XCPT_0\", \"XPAYCSSPJ\".\"XACH_0\", \"XPAYCSSPJ\".\"XDATEC_0\", PO.CREUSR_0\n FROM   \"x3\".\"BASE1\".\"XPOHCSSPJ\" \"XPAYCSSPJ\" LEFT OUTER JOIN \"x3\".\"BASE1\".\"BPARTNER\" \"BPARTNER\" ON \"XPAYCSSPJ\".\"BPR_0\"=\"BPARTNER\".\"BPRNUM_0\"\n left join BASE1.PORDER PO ON PO.POHNUM_0=\"XPAYCSSPJ\".NUM_0\n WHERE   NOT (\"XPAYCSSPJ\".\"BPR_0\"=N'T1821' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T1833' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2406' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2515' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2517' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2618' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2694' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T2708' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3000' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3048' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3207' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3402' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3544' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3663' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3830' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T3851' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4375' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T4388' OR \"XPAYCSSPJ\".\"BPR_0\"=N'T6448')\n AND XDATE_0 > DATEADD(DAY, -15, GETDATE())\n ORDER BY \"XPAYCSSPJ\".\"XDATE_0\", \"XPAYCSSPJ\".\"XCODE_0\""},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-208,-288],"id":"6b9331ee-3567-4227-8718-bc4a9ad6b24f","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"fileSelector":"//192.168.1.206/share_contact/Liste des comptes messagerie-06-04-2026.xlsx","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-208,-16],"id":"cf795e2e-4f6e-4c0e-84db-b880bccd27db","name":"Read/Write Files from Disk"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,-16],"id":"95c7ecd1-6261-484b-9b0e-9910707df900","name":"Extract from File"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"code_x3_createur","field2":"XSAL_0"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,-128],"id":"fcad891b-cb52-4779-86b8-ddff7e888441","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1487c32f-59f6-4646-8dff-44a972f63934","leftValue":"={{ $json.email_createur }}","rightValue":"@gmail.com","operator":{"type":"string","operation":"notContains"}},{"id":"7146f45d-7260-4f0e-9087-5e614e67939b","leftValue":"={{ $json.code_x3_createur }}","rightValue":"S1564","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,-288],"id":"08105d9b-2b5f-4daa-8d7f-f47aa7ac9f8b","name":"If"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES BC PAR DESTINATAIRE ET NIVEAU D'ALERTE\n//\n// Règles métier :\n// ─────────────────────────────────────────────────────────────\n// ALERTE_JURIDIQUE   → Destinataire : BAALLAH\n// ALERTE_CREATEUR    → Destinataire : Créateur du BC\n// ALERTE_RESPONSABLE → Destinataires : Responsable Achat + Responsable Compta\n//                      (deux notifications séparées, chacune avec ses BCs)\n// OK                 → Ignoré (pas de notification)\n//\n// Regroupement : plusieurs BCs d'un même destinataire = 1 seule notification\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📦 STRUCTURATION DES NOTIFICATIONS - BON DE COMMANDE');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`BCs reçus: ${items.length}`);\n\n// ── Buckets de regroupement par clé unique destinataire ──────────\nconst notifications = {};\n\n// ── Helpers ──────────────────────────────────────────────────────\nfunction toInt(val) {\n  const n = parseInt(val, 10);\n  return isNaN(n) ? 0 : n;\n}\n\nfunction buildBcEntry(data) {\n  return {\n    numero_bc:                data.numero_bc,\n    date_creation:            data.date_creation,\n    code_fournisseur:         data.code_fournisseur,\n    code_fournisseur_sage100: data.code_fournisseur_sage100,\n    raison_fournisseur:       data.raison_fournisseur,\n    comptable:                data.comptable,\n    jours_ecoules:            toInt(data.jours_ecoules),\n    jours_restants_blocage:   toInt(data.jours_restants_blocage),\n    jours_restants_juridique: toInt(data.jours_restants_juridique),\n    jours_restants_createur:  toInt(data.jours_restants_createur),\n    jours_restants_responsable: toInt(data.jours_restants_responsable),\n    niveau_alerte:            data.niveau_alerte,\n    param_delai_max:          toInt(data.param_delai_max),\n    param_delai_juridique:    toInt(data.param_delai_juridique),\n    param_delai_createur:     toInt(data.param_delai_createur),\n    param_delai_responsable:  toInt(data.param_delai_responsable),\n    // Créateur du BC (pour contexte dans tous les niveaux)\n    createur: {\n      code:  data.code_x3_createur,\n      nom:   data.nom_createur,\n      prenom: data.prenom_createur,\n      nom_complet: data.nom_complet_createur,\n      email: data.email_createur,\n      poste: data.poste_createur\n    }\n  };\n}\n\nfunction upsertNotification(cle, destinataire, typeDestinataire, niveauAlerte, bc) {\n  if (!notifications[cle]) {\n    notifications[cle] = {\n      destinataire_principal: destinataire,\n      type_destinataire:      typeDestinataire,\n      niveau_alerte:          niveauAlerte,\n      bcs: []\n    };\n  }\n  notifications[cle].bcs.push(bc);\n}\n\n// ── Traitement de chaque BC ───────────────────────────────────────\nitems.forEach(item => {\n  const data = item.json;\n  const niveau = data.niveau_alerte;\n\n  // ── BCs \"OK\" : aucune notification ───────────────────────────\n  if (niveau === 'OK') {\n    console.log(`✅ BC ${data.numero_bc} ignoré (statut OK)`);\n    return;\n  }\n\n  const bc = buildBcEntry(data);\n\n  // ── ALERTE_JURIDIQUE → BAALLAH ────────────────────────────────\n  if (niveau === 'ALERTE_JURIDIQUE') {\n    const cle = `BAALLAH_${data.code_x3_baallah}`;\n    const destinataire = {\n      code:      data.code_x3_baallah,\n      nom:       data.nom_baallah,\n      prenom:    data.prenom_baallah,\n      email:     data.email_baallah   || null,\n      telephone: data.tele_baallah    || null\n    };\n    upsertNotification(cle, destinataire, 'BAALLAH', niveau, bc);\n    return;\n  }\n\n  // ── ALERTE_CREATEUR → Créateur du BC ─────────────────────────\n  if (niveau === 'ALERTE_CREATEUR') {\n    const cle = `CREATEUR_${data.code_x3_createur}`;\n    const destinataire = {\n      code:      data.code_x3_createur,\n      nom:       data.nom_createur,\n      prenom:    data.prenom_createur,\n      nom_complet: data.nom_complet_createur,\n      email:     data.email_createur  || null,\n      telephone: null,\n      poste:     data.poste_createur\n    };\n    upsertNotification(cle, destinataire, 'CREATEUR', niveau, bc);\n    return;\n  }\n\n  // ── ALERTE_RESPONSABLE → Responsable Achat + Responsable Compta ─\n  if (niveau === 'ALERTE_RESPONSABLE') {\n\n    // 1. Responsable Achat\n    const cleAchat = `RESPO_ACHAT_${data.code_x3_respo_achat}`;\n    const destiAchat = {\n      code:      data.code_x3_respo_achat,\n      nom:       data.nom_respo_achat,\n      prenom:    data.prenom_respo_achat,\n      email:     data.email_respo_achat   || null,\n      telephone: data.tele_respo_achat    || null,\n      role:      'RESPONSABLE_ACHAT'\n    };\n    upsertNotification(cleAchat, destiAchat, 'RESPONSABLE_ACHAT', niveau, bc);\n\n    // 2. Responsable Compta\n    const cleCompta = `RESPO_COMPTA_${data.code_x3_respo_compta}`;\n    const destiCompta = {\n      code:      data.code_x3_respo_compta,\n      nom:       data.nom_respo_compta,\n      prenom:    data.prenom_respo_compta,\n      email:     data.email_respo_compta  || null,\n      telephone: data.tele_respo_comptat  || null,\n      role:      'RESPONSABLE_COMPTA'\n    };\n    upsertNotification(cleCompta, destiCompta, 'RESPONSABLE_COMPTA', niveau, bc);\n    return;\n  }\n\n  // ── Niveau inconnu ────────────────────────────────────────────\n  console.log(`⚠️  BC ${data.numero_bc} ignoré (niveau inconnu: ${niveau})`);\n});\n\n// ── Finalisation : enrichissement statistiques ───────────────────\nconst resultats = Object.entries(notifications).map(([cle, notif]) => {\n  const totalBcs   = notif.bcs.length;\n\n  // Jours restants avant blocage : le minimum (= le plus urgent)\n  const joursRestantsMin = Math.min(...notif.bcs.map(b => b.jours_restants_blocage));\n  const joursRestantsMax = Math.max(...notif.bcs.map(b => b.jours_restants_blocage));\n\n  // Jours restants spécifiques selon le type de destinataire\n  let joursRestantsSpecifiques = null;\n  if (notif.type_destinataire === 'BAALLAH') {\n    joursRestantsSpecifiques = Math.min(...notif.bcs.map(b => b.jours_restants_juridique));\n  } else if (notif.type_destinataire === 'CREATEUR') {\n    joursRestantsSpecifiques = Math.min(...notif.bcs.map(b => b.jours_restants_createur));\n  } else if (['RESPONSABLE_ACHAT', 'RESPONSABLE_COMPTA'].includes(notif.type_destinataire)) {\n    joursRestantsSpecifiques = Math.min(...notif.bcs.map(b => b.jours_restants_responsable));\n  }\n\n  // Niveau de priorité visuel\n  let priorite;\n  if (joursRestantsSpecifiques < 0)      priorite = 'CRITIQUE';\n  else if (joursRestantsSpecifiques === 0) priorite = 'URGENT';\n  else if (joursRestantsSpecifiques <= 2)  priorite = 'ELEVE';\n  else                                     priorite = 'NORMAL';\n\n  return {\n    // ── Identifiant interne du groupe ──────────────────────────\n    cle_notification: cle,\n\n    // ── Destinataire ───────────────────────────────────────────\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_alerte:          notif.niveau_alerte,\n\n    // ── Canaux d'envoi disponibles ─────────────────────────────\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      peut_envoyer_email:    !!(notif.destinataire_principal.email &&\n                                notif.destinataire_principal.email.trim() !== '' &&\n                                notif.destinataire_principal.email.trim() !== 'A'),\n      peut_envoyer_sms:      !!notif.destinataire_principal.telephone\n    },\n\n    // ── Statistiques du groupe ─────────────────────────────────\n    statistiques: {\n      total_bcs:                     totalBcs,\n      jours_restants_blocage_min:    joursRestantsMin,\n      jours_restants_blocage_max:    joursRestantsMax,\n      jours_restants_specifiques_min: joursRestantsSpecifiques,\n      priorite\n    },\n\n    // ── Liste des BCs concernés ────────────────────────────────\n    bcs: notif.bcs\n  };\n});\n\n// ── Tri par priorité décroissante (CRITIQUE en premier) ──────────\nconst ordrePriorite = { CRITIQUE: 0, URGENT: 1, ELEVE: 2, NORMAL: 3 };\nresultats.sort((a, b) =>\n  (ordrePriorite[a.statistiques.priorite] ?? 9) -\n  (ordrePriorite[b.statistiques.priorite] ?? 9)\n);\n\n// ── Logs de synthèse ─────────────────────────────────────────────\nconst byType = {};\nresultats.forEach(r => {\n  byType[r.type_destinataire] = (byType[r.type_destinataire] || 0) + 1;\n});\n\nconsole.log(`\\n✅ Notifications structurées : ${resultats.length}`);\nconsole.log('Par type :');\nObject.entries(byType).forEach(([type, count]) => {\n  console.log(`  - ${type.padEnd(20)} : ${count} notification(s)`);\n});\nconsole.log('\\nDétails :');\nresultats.forEach(r => {\n  const d = r.destinataire_principal;\n  const nom = d.nom_complet || `${d.prenom || ''} ${d.nom || ''}`.trim();\n  console.log(\n    `  [${r.statistiques.priorite.padEnd(8)}] ${r.type_destinataire.padEnd(20)} ` +\n    `| ${nom.padEnd(30)} | ${r.statistiques.total_bcs} BC(s) ` +\n    `| jours restants spéc.: ${r.statistiques.jours_restants_specifiques_min}`\n  );\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-288],"id":"ae6dee8d-ea63-4431-bb4c-dae3fef1d919","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"select XSAL_0,XNAMSAL_0,XPRENOM_0,'{{ $json.Email }}' as email_x3, POSTE.YTIT_0 from jbelrh.JBELRH.XSAL XSAL\n  left join jbelrh.JBELRH.ZPOSTE POSTE \n  ON POSTE.YNUM_0= XSAL.ZPOSTE_0\nwhere (REPLACE(UPPER(LTRIM(RTRIM(XSAL.XNAMSAL_0)) + ' ' + LTRIM(RTRIM(XSAL.XPRENOM_0))), '  ', ' ')\n    = REPLACE(UPPER('{{ $json[\"Nom d'utilisateur\"].replace(/'/g, \"''\") }}'), '  ', ' ') OR REPLACE(UPPER(LTRIM(RTRIM(XSAL.XPRENOM_0)) + ' ' + LTRIM(RTRIM(XSAL.XNAMSAL_0))), '  ', ' ')\n    = REPLACE(UPPER('{{ $json[\"Nom d'utilisateur\"].replace(/'/g, \"''\") }}'), '  ', ' ')) AND XFLG_0=2 AND (POSTE.YTIT_0='ACHETEUSE' or POSTE.YTIT_0='ACHETEUR' or POSTE.YTIT_0='COMPTABLE')"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[432,-16],"id":"5fc93ef5-4ad1-4eb6-ad78-6ed19dad249e","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"jsCode":"// Diagnostic sur tous les items - voir le format exact de XDATE_0\nreturn $input.all().map(item => {\n  const date = item.json.XDATE_0;\n  return {\n    json: {\n      ...item.json,\n      DEBUG_XDATE_0_valeur:        date,\n      DEBUG_XDATE_0_type:          typeof date,\n      DEBUG_XDATE_0_length:        date ? String(date).length : null,\n      DEBUG_XDATE_0_premiers_chars: date ? String(date).substring(0, 20) : null\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-288],"id":"10de15a2-e7f6-4f0f-8457-465bc9da7a54","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a32728bf-1c76-432a-bad5-f63d4f91b3ba","leftValue":"={{ $json[\"N° Compte\"] }}","rightValue":136,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,-16],"id":"bec68fb2-8516-40f7-a187-e70f413548a5","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1456,-288],"id":"77dfdb84-4423-4b14-9620-d96ee5ca740d","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"8dacc870-302b-4b38-ad24-0ddc847a4355","name":"code_x3_createur","value":"={{ $json.code_x3_createur }}","type":"string"},{"id":"813891f9-0a74-4995-a021-3f826e06690d","name":"nom_createur","value":"={{ $json.nom_createur }}","type":"string"},{"id":"5b5b4a96-2091-400b-9b69-95a0bf79b9fb","name":"prenom_createur","value":"={{ $json.prenom_createur }}","type":"string"},{"id":"c03efe21-a43a-4760-9f0a-42872104f27b","name":"nom_complet_createur","value":"={{ $json.nom_complet_createur }}","type":"string"},{"id":"e31ef9f4-ad9b-4cd3-b8b9-299059a0da36","name":"email_createur","value":"={{ $json.email_x3 }}","type":"string"},{"id":"31f30bd6-67d5-4b56-8b52-d2db26635305","name":"poste_createur","value":"={{ $json.poste_createur }}","type":"string"},{"id":"bff19e00-efd0-4674-a441-1d6dd170fb20","name":"code_x3_baallah","value":"={{ $json.code_x3_baallah }}","type":"string"},{"id":"0bc7db52-5b34-401c-b4c4-d86f734cef5b","name":"nom_baallah","value":"={{ $json.nom_baallah }}","type":"string"},{"id":"1b5f192d-a6a6-44f4-bd44-23524e55923f","name":"prenom_baallah","value":"={{ $json.prenom_baallah }}","type":"string"},{"id":"5a432fbd-fc38-4c10-9880-d01bb0a45781","name":"email_baallah","value":"={{ $json.email_baallah }}","type":"string"},{"id":"f2c50fdc-d748-414c-80ed-7f9aca4934dd","name":"tele_baallah","value":"={{ $json.tele_baallah }}","type":"string"},{"id":"3780ff4c-eabe-46ad-97bc-6ec13c0fb887","name":"code_x3_respo_achat","value":"={{ $json.code_x3_respo_achat }}","type":"string"},{"id":"9fdfbdd9-0e28-4361-b601-edb3e11be04f","name":"nom_respo_achat","value":"={{ $json.nom_respo_achat }}","type":"string"},{"id":"0bdaa8ea-6244-4a02-9544-1eb4655956dc","name":"prenom_respo_achat","value":"={{ $json.prenom_respo_achat }}","type":"string"},{"id":"ee4452c0-d293-46cc-aecc-05e3015fbd35","name":"email_respo_achat","value":"={{ $json.email_respo_achat }}","type":"string"},{"id":"d5ab3122-0da9-467e-bda0-604a067125e5","name":"tele_respo_achat","value":"={{ $json.tele_respo_achat }}","type":"string"},{"id":"d9d02969-5dea-4aee-960b-cb39a935eed2","name":"code_x3_respo_compta","value":"={{ $json.code_x3_respo_compta }}","type":"string"},{"id":"64fb6720-165e-42fa-a208-df2dc78011ba","name":"nom_respo_compta","value":"={{ $json.nom_respo_compta }}","type":"string"},{"id":"05c6cd3a-9c03-40a6-9d7e-e41c99703429","name":"prenom_respo_compta","value":"={{ $json.prenom_respo_compta }}","type":"string"},{"id":"f3d6f732-b746-4c6b-a7c8-42f300d6b338","name":"email_respo_compta","value":"={{ $json.email_respo_compta }}","type":"string"},{"id":"28999c8a-e987-4cfe-9e07-f1aab2ba7b17","name":"tele_respo_comptat","value":"={{ $json.tele_respo_comptat }}","type":"string"},{"id":"89812baa-b361-408d-9b10-17aecc655cf4","name":"date_creation","value":"={{ $json.date_creation }}","type":"string"},{"id":"ba12b185-95b2-4129-8a5e-ea426dd5d7ff","name":"numero_bc","value":"={{ $json.numero_bc }}","type":"string"},{"id":"3ec48652-98a2-4c03-89e4-335731ef4bd9","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"f88f1ba5-14c7-414a-991f-485971057020","name":"code_fournisseur_sage100","value":"={{ $json.code_fournisseur_sage100 }}","type":"string"},{"id":"32e51137-c602-4792-abc9-10614cdfa4c2","name":"raison_fournisseur","value":"={{ $json.raison_fournisseur }}","type":"string"},{"id":"f75185ed-dc2e-4301-a3fb-c39e76544708","name":"comptable","value":"={{ $json.comptable }}","type":"string"},{"id":"3ebe030e-7e27-476f-9699-d0f104ef609c","name":"acheteur","value":"={{ $json.acheteur }}","type":"string"},{"id":"5dd86a8b-0fff-4b6f-ac9b-c7bced109965","name":"jours_ecoules","value":"={{ $json.jours_ecoules }}","type":"string"},{"id":"4faf1924-e9fd-4390-985d-62d7ea89bafb","name":"cree_user","value":"={{ $json.cree_user }}","type":"string"},{"id":"d85d0754-af46-4f9c-b81f-26d6261d234e","name":"jours_restants_blocage","value":"={{ $json.jours_restants_blocage }}","type":"string"},{"id":"192b5c71-67bb-45c8-b7ee-d54674b07fad","name":"jours_restants_juridique","value":"={{ $json.jours_restants_juridique }}","type":"string"},{"id":"17021f15-b93b-4959-8fc5-af5fe41aa946","name":"jours_restants_createur","value":"={{ $json.jours_restants_createur }}","type":"string"},{"id":"50d38cd3-4d6c-4d64-8eed-ccc27aeafb23","name":"jours_restants_responsable","value":"={{ $json.jours_restants_responsable }}","type":"string"},{"id":"3b4b31bd-0479-415b-aeee-78d57cbc8d11","name":"niveau_alerte","value":"={{ $json.niveau_alerte }}","type":"string"},{"id":"ac39cd6c-7195-447e-b254-2a59fb0cd1a0","name":"param_delai_max","value":"={{ $json.param_delai_max }}","type":"string"},{"id":"84c7238b-9ecf-4223-a839-2ac14731a149","name":"param_delai_juridique","value":"={{ $json.param_delai_juridique }}","type":"string"},{"id":"036ff153-e9ac-4151-a892-820343409293","name":"param_delai_createur","value":"={{ $json.param_delai_createur }}","type":"string"},{"id":"216ea9d5-5b6a-43e0-a32f-342de766f2d0","name":"param_delai_responsable","value":"={{ $json.param_delai_responsable }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,-128],"id":"ec6c54fe-7122-4f6e-b251-958c3c626ead","name":"Edit Fields"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION DES MESSAGES BC - BONS DE COMMANDE NON VALIDÉS\n//\n// Destinataires & canaux :\n// ─────────────────────────────────────────────────────────────\n// BAALLAH          → Email + SMS (si téléphone)\n// RESPONSABLE_ACHAT  → Email + SMS\n// RESPONSABLE_COMPTA → Email + SMS\n// CREATEUR         → Email uniquement (si email valide)\n//\n// Langue par défaut : FRA\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\n// ── TEMPLATES MULTILINGUES ────────────────────────────────────────\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      BAALLAH:           '🔴 ALERTE JURIDIQUE - BONS DE COMMANDE SANS – PIÈCES JOINTES',\n      RESPONSABLE_ACHAT: '🟠 IMPORTANT - BONS DE COMMANDE SANS – PIÈCES JOINTES',\n      RESPONSABLE_COMPTA:'🟠 IMPORTANT - BONS DE COMMANDE SANS – PIÈCES JOINTES',\n      CREATEUR:          '🟡 Rappel - Vos Bons de Commande SANS – PIÈCES JOINTES'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      BAALLAH:           '⚠️ ALERTE JURIDIQUE — Les bons de commande suivants ont dépassé leur délai juridique sans – PIÈCES JOINTES. Votre intervention est requise.',\n      RESPONSABLE_ACHAT: '📋 Les bons de commande suivants ont pas des  PIÈCES JOINTES. En tant que Responsable Achat, merci de prendre les mesures nécessaires.',\n      RESPONSABLE_COMPTA:'📋 Les bons de commande suivants ont pas des  PIÈCES JOINTES. En tant que Responsable Comptabilité, merci de vérifier et relancer les acheteurs concernés.',\n      CREATEUR:          '📌 Rappel — Les bons de commande que vous avez créés nécessitent votre attention. Merci de les traiter dans les plus brefs délais.'\n    },\n    section_stats:  'RÉCAPITULATIF',\n    total:          'Nombre de BCs concernés',\n    jours:          'jour(s)',\n    blocage_min:    'Blocage imminent dans',\n    section_bcs:    'LISTE DES BONS DE COMMANDE',\n    numero_bc:      'N° BC',\n    date_creation:  'Date de création',\n    fournisseur:    'Fournisseur',\n    comptable:      'Comptable assigné',\n    createur:       'Créateur',\n    jours_ecoules:  'Jours écoulés',\n    jours_blocage:  'Jours avant blocage',\n    action_requise: 'ACTION REQUISE',\n    urgent:         'URGENT — Traiter immédiatement',\n    critique:       '🚨 CRITIQUE — Blocage imminent',\n    contact_achat:  'Contact Responsable Achat',\n    contact_compta: 'Contact Responsable Comptabilité',\n    cordialement:   'Cordialement',\n    signature:      'Service SI/IA - Jbel Annour',\n    message_auto:   'Message automatique',\n    ne_pas_repondre:'Merci de ne pas répondre à cet email',\n    instruction: {\n      BAALLAH:           'Ces BCs ont dépassé le délai juridique autorisé. Une intervention rapide est nécessaire pour éviter tout blocage.',\n      RESPONSABLE_ACHAT: 'Merci de contacter les acheteurs concernés et de vous assurer que ces BCs sont traités sans délai.',\n      RESPONSABLE_COMPTA:'Merci de vérifier l\\'état de ces BCs dans le système comptable et de relancer les responsables si nécessaire.',\n      CREATEUR:          'Merci de compléter le traitement de ces bons de commande avant la date limite de blocage.'\n    },\n    priorite: {\n      CRITIQUE: '🔴 CRITIQUE',\n      URGENT:   '🟠 URGENT',\n      ELEVE:    '🟡 ÉLEVÉ',\n      NORMAL:   '🟢 NORMAL'\n    },\n    // SMS\n    sms: {\n      BAALLAH:           (total, min) => `🔴 ALERTE JURIDIQUE BC | ${total} BC(s) dépassé(s) délai juridique | Blocage dans ${min}j | Jbel Annour SI/IA`,\n      RESPONSABLE_ACHAT: (total, min) => `🟠 ALERTE ACHAT | ${total} BC(s) en retard | Blocage dans ${min}j | Jbel Annour SI/IA`,\n      RESPONSABLE_COMPTA:(total, min) => `🟠 ALERTE COMPTA | ${total} BC(s) en retard | Blocage dans ${min}j | Jbel Annour SI/IA`,\n      CREATEUR:          (total, min) => `🟡 RAPPEL BC | ${total} BC(s) à traiter | Blocage dans ${min}j | Jbel Annour SI/IA`\n    }\n  },\n  ARA: {\n    sujet_email: {\n      BAALLAH:           '🔴 تنبيه قانوني - طلبيات غير محققة',\n      RESPONSABLE_ACHAT: '🟠 هام - طلبيات متأخرة (مسؤول المشتريات)',\n      RESPONSABLE_COMPTA:'🟠 هام - طلبيات متأخرة (مسؤول المحاسبة)',\n      CREATEUR:          '🟡 تذكير - طلبياتك في انتظار المعالجة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      BAALLAH:           '⚠️ تنبيه قانوني — تجاوزت طلبيات الشراء التالية مهلتها القانونية دون تحقق. تدخلك مطلوب.',\n      RESPONSABLE_ACHAT: '📋 طلبيات الشراء التالية تجاوزت مهلة معالجتها. بصفتك مسؤول المشتريات، يرجى اتخاذ الإجراءات اللازمة.',\n      RESPONSABLE_COMPTA:'📋 طلبيات الشراء التالية تجاوزت مهلة معالجتها. بصفتك مسؤول المحاسبة، يرجى التحقق ومتابعة المشترين.',\n      CREATEUR:          '📌 تذكير — طلبيات الشراء التي قمت بإنشائها تحتاج إلى اهتمامك. يرجى معالجتها في أقرب وقت ممكن.'\n    },\n    section_stats:  'ملخص',\n    total:          'عدد طلبيات الشراء المعنية',\n    jours:          'يوم/أيام',\n    blocage_min:    'حجب وشيك خلال',\n    section_bcs:    'قائمة طلبيات الشراء',\n    numero_bc:      'رقم الطلبية',\n    date_creation:  'تاريخ الإنشاء',\n    fournisseur:    'المورد',\n    comptable:      'المحاسب المعين',\n    createur:       'المنشئ',\n    jours_ecoules:  'الأيام المنقضية',\n    jours_blocage:  'أيام قبل الحجب',\n    action_requise: 'الإجراء المطلوب',\n    urgent:         'عاجل — معالجة فورية',\n    critique:       '🚨 حرج — حجب وشيك',\n    contact_achat:  'للتواصل مع مسؤول المشتريات',\n    contact_compta: 'للتواصل مع مسؤول المحاسبة',\n    cordialement:   'مع أطيب التحيات',\n    signature:      'قسم SI/IA - جبل النور',\n    message_auto:   'رسالة تلقائية',\n    ne_pas_repondre:'يرجى عدم الرد على هذا البريد الإلكتروني',\n    instruction: {\n      BAALLAH:           'تجاوزت هذه الطلبيات المهلة القانونية المحددة. تدخل سريع ضروري لتفادي الحجب.',\n      RESPONSABLE_ACHAT: 'يرجى التواصل مع المشترين المعنيين والتأكد من معالجة هذه الطلبيات دون تأخير.',\n      RESPONSABLE_COMPTA:'يرجى التحقق من حالة هذه الطلبيات في النظام المحاسبي ومتابعة المسؤولين إذا لزم الأمر.',\n      CREATEUR:          'يرجى إتمام معالجة طلبيات الشراء هذه قبل تاريخ الحجب.'\n    },\n    priorite: {\n      CRITIQUE: '🔴 حرج',\n      URGENT:   '🟠 عاجل',\n      ELEVE:    '🟡 مرتفع',\n      NORMAL:   '🟢 عادي'\n    },\n    sms: {\n      BAALLAH:           (total, min) => `🔴 تنبيه قانوني BC | ${total} طلبية تجاوزت المهلة | حجب خلال ${min}ج | SI/IA جبل النور`,\n      RESPONSABLE_ACHAT: (total, min) => `🟠 تنبيه مشتريات | ${total} طلبية متأخرة | حجب خلال ${min}ج | SI/IA جبل النور`,\n      RESPONSABLE_COMPTA:(total, min) => `🟠 تنبيه محاسبة | ${total} طلبية متأخرة | حجب خلال ${min}ج | SI/IA جبل النور`,\n      CREATEUR:          (total, min) => `🟡 تذكير BC | ${total} طلبية للمعالجة | حجب خلال ${min}ج | SI/IA جبل النور`\n    }\n  },\n  ENG: {\n    sujet_email: {\n      BAALLAH:           '🔴 LEGAL ALERT - Unvalidated Purchase Orders',\n      RESPONSABLE_ACHAT: '🟠 IMPORTANT - Overdue Purchase Orders (Purchase Mgr)',\n      RESPONSABLE_COMPTA:'🟠 IMPORTANT - Overdue Purchase Orders (Accounting Mgr)',\n      CREATEUR:          '🟡 Reminder - Your Purchase Orders Pending Processing'\n    },\n    salutation: 'Hello',\n    introduction: {\n      BAALLAH:           '⚠️ LEGAL ALERT — The following purchase orders have exceeded their legal deadline without validation. Your intervention is required.',\n      RESPONSABLE_ACHAT: '📋 The following purchase orders have exceeded their processing deadline. As Purchase Manager, please take the necessary actions.',\n      RESPONSABLE_COMPTA:'📋 The following purchase orders have exceeded their processing deadline. As Accounting Manager, please verify and follow up with the buyers.',\n      CREATEUR:          '📌 Reminder — The purchase orders you created require your attention. Please process them as soon as possible.'\n    },\n    section_stats:  'SUMMARY',\n    total:          'Number of POs concerned',\n    jours:          'day(s)',\n    blocage_min:    'Blocking imminent in',\n    section_bcs:    'LIST OF PURCHASE ORDERS',\n    numero_bc:      'PO Number',\n    date_creation:  'Creation date',\n    fournisseur:    'Supplier',\n    comptable:      'Assigned accountant',\n    createur:       'Creator',\n    jours_ecoules:  'Days elapsed',\n    jours_blocage:  'Days before blocking',\n    action_requise: 'ACTION REQUIRED',\n    urgent:         'URGENT — Process immediately',\n    critique:       '🚨 CRITICAL — Blocking imminent',\n    contact_achat:  'Contact Purchase Manager',\n    contact_compta: 'Contact Accounting Manager',\n    cordialement:   'Best regards',\n    signature:      'IT/AI Department - Jbel Annour',\n    message_auto:   'Automatic message',\n    ne_pas_repondre:'Please do not reply to this email',\n    instruction: {\n      BAALLAH:           'These POs have exceeded the legal deadline. Rapid intervention is needed to prevent any blocking.',\n      RESPONSABLE_ACHAT: 'Please contact the relevant buyers and ensure these POs are processed without delay.',\n      RESPONSABLE_COMPTA:'Please verify the status of these POs in the accounting system and follow up with managers if necessary.',\n      CREATEUR:          'Please complete the processing of these purchase orders before the blocking deadline.'\n    },\n    priorite: {\n      CRITIQUE: '🔴 CRITICAL',\n      URGENT:   '🟠 URGENT',\n      ELEVE:    '🟡 HIGH',\n      NORMAL:   '🟢 NORMAL'\n    },\n    sms: {\n      BAALLAH:           (total, min) => `🔴 LEGAL ALERT BC | ${total} PO(s) exceeded legal deadline | Blocking in ${min}d | Jbel Annour IT/AI`,\n      RESPONSABLE_ACHAT: (total, min) => `🟠 PURCHASE ALERT | ${total} PO(s) overdue | Blocking in ${min}d | Jbel Annour IT/AI`,\n      RESPONSABLE_COMPTA:(total, min) => `🟠 ACCOUNTING ALERT | ${total} PO(s) overdue | Blocking in ${min}d | Jbel Annour IT/AI`,\n      CREATEUR:          (total, min) => `🟡 PO REMINDER | ${total} PO(s) to process | Blocking in ${min}d | Jbel Annour IT/AI`\n    }\n  }\n};\n\n// ── HELPERS ───────────────────────────────────────────────────────\nfunction getLangue(data) {\n  return (data.meta && data.meta.langue) || 'FRA';\n}\n\nfunction getT(langue) {\n  return TEMPLATES[langue] || TEMPLATES.FRA;\n}\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction getEmojiBlocage(joursRestants) {\n  if (joursRestants <= 1)  return '🔴';\n  if (joursRestants <= 4)  return '🟠';\n  if (joursRestants <= 7)  return '🟡';\n  if (joursRestants <= 10) return '🔵';\n  return '🟢';\n}\n\nfunction emailValide(email) {\n  if (!email) return false;\n  const e = email.trim();\n  return e !== '' && e !== 'A' && e.includes('@');\n}\n\n// ── GÉNÉRATION DU CORPS EMAIL ─────────────────────────────────────\nfunction genererEmail(data) {\n  const langue     = getLangue(data);\n  const T          = getT(langue);\n  const type       = data.type_destinataire;\n  const dest       = data.destinataire_principal;\n  const stats      = data.statistiques;\n  const bcs        = data.bcs;\n  const prioLabel  = T.priorite[stats.priorite] || stats.priorite;\n\n  // ── Sujet ────────────────────────────────────────────────────\n  const sujet = `${T.sujet_email[type] || T.sujet_email.CREATEUR} — ${stats.total_bcs} BC(s)`;\n\n  // ── Corps ────────────────────────────────────────────────────\n  let corps = '';\n\n  corps += `${T.salutation} ${dest.prenom || ''} ${dest.nom || ''},\\n\\n`;\n  corps += `${T.introduction[type]}\\n\\n`;\n\n  // Bloc récapitulatif\n  corps += `═══════════════════════════════════════════════════════\\n`;\n  corps += `📊 ${T.section_stats}\\n`;\n  corps += `═══════════════════════════════════════════════════════\\n\\n`;\n  corps += `${prioLabel}\\n`;\n  corps += `${T.total} : ${stats.total_bcs}\\n`;\n  corps += `${T.blocage_min} : ${stats.jours_restants_blocage_min} ${T.jours}\\n`;\n\n  corps += `\\n`;\n\n  // Liste des BCs\n  corps += `═══════════════════════════════════════════════════════\\n`;\n  corps += `📋 ${T.section_bcs}\\n`;\n  corps += `═══════════════════════════════════════════════════════\\n\\n`;\n\n  bcs.forEach((bc, idx) => {\n    const emoji = getEmojiBlocage(bc.jours_restants_blocage);\n    corps += `${idx + 1}. ${emoji} ${bc.numero_bc}\\n`;\n    corps += `   📅 ${T.date_creation}   : ${formaterDate(bc.date_creation, langue)}\\n`;\n    corps += `   🏭 ${T.fournisseur}      : ${bc.raison_fournisseur || 'N/A'} (${bc.code_fournisseur || ''})\\n`;\n    corps += `   🧾 ${T.comptable}        : ${bc.comptable || 'N/A'}\\n`;\n\n    // Créateur affiché pour BAALLAH et RESPONSABLE (pas pour CREATEUR, c'est lui-même)\n    if (type !== 'CREATEUR') {\n      const cr = bc.createur;\n      corps += `   👤 ${T.createur}         : ${cr ? (cr.nom_complet || `${cr.prenom} ${cr.nom}`) : 'N/A'}\\n`;\n    }\n\n    corps += `   ⏱️  ${T.jours_ecoules}   : ${bc.jours_ecoules} ${T.jours}\\n`;\n    corps += `   ⏰ ${T.jours_blocage}     : ${bc.jours_restants_blocage} ${T.jours}\\n`;\n\n    if (bc.jours_restants_blocage <= 2) {\n      corps += `   ${T.critique}\\n`;\n    }\n    corps += `\\n`;\n  });\n\n  // Instruction finale\n  corps += `═══════════════════════════════════════════════════════\\n`;\n  if (stats.priorite === 'CRITIQUE' || stats.priorite === 'URGENT') {\n    corps += `🚨 ${T.action_requise} : ${T.urgent}\\n`;\n  }\n  corps += `📌 ${T.instruction[type]}\\n`;\n  corps += `═══════════════════════════════════════════════════════\\n\\n`;\n\n  // Cordialement\n  corps += `${T.cordialement},\\n\\n`;\n  corps += `${T.signature}\\n\\n`;\n  corps += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  corps += `🤖 ${T.message_auto} — ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  corps += `${T.ne_pas_repondre}\\n`;\n\n  return { sujet, corps };\n}\n\n// ── GÉNÉRATION DU SMS ─────────────────────────────────────────────\nfunction genererSMS(data) {\n  const langue  = getLangue(data);\n  const T       = getT(langue);\n  const type    = data.type_destinataire;\n  const stats   = data.statistiques;\n\n  const fnSms = T.sms[type];\n  if (!fnSms) return null;\n\n  return fnSms(stats.total_bcs, stats.jours_restants_blocage_min);\n}\n\n// ── TRAITEMENT PRINCIPAL ──────────────────────────────────────────\nconst results = [];\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES - BONS DE COMMANDE');\nconsole.log('═══════════════════════════════════════════════════');\n\ninputData.forEach(item => {\n  const data = item.json;\n  const type = data.type_destinataire;\n  const dest = data.destinataire_principal;\n\n  // ── Vérification des canaux disponibles ────────────────────\n  const peutEmail = data.meta.peut_envoyer_email && emailValide(dest.email);\n  const peutSMS   = data.meta.peut_envoyer_sms   && !!dest.telephone;\n\n  // ── CREATEUR sans email valide → log + skip ─────────────────\n  if (type === 'CREATEUR' && !peutEmail) {\n    console.log(`⚠️  CREATEUR ${dest.nom_complet || dest.nom} — email invalide (${dest.email}), notification ignorée`);\n    results.push({\n      json: {\n        ...data,\n        messages:         null,\n        type_envoi:       'IGNORE',\n        raison_ignore:    'email_invalide',\n        destinataire_final: dest,\n        meta: {\n          ...data.meta,\n          date_generation: new Date().toISOString(),\n          peut_envoyer_email: false,\n          peut_envoyer_sms:   false\n        }\n      }\n    });\n    return;\n  }\n\n  // ── Génération email & SMS ──────────────────────────────────\n  const email = peutEmail ? genererEmail(data) : null;\n  const sms   = peutSMS   ? genererSMS(data)   : null;\n\n  results.push({\n    json: {\n      ...data,\n      messages: {\n        email: email ? { sujet: email.sujet, corps: email.corps } : null,\n        sms:   sms   ? { texte: sms }                              : null\n      },\n      type_envoi:        'PRINCIPAL',\n      destinataire_final: dest,\n      meta: {\n        ...data.meta,\n        langue_utilisee:   getLangue(data),\n        date_generation:   new Date().toISOString(),\n        canaux_actifs: {\n          email: peutEmail,\n          sms:   peutSMS\n        }\n      }\n    }\n  });\n\n  console.log(\n    `  ✅ [${data.statistiques.priorite.padEnd(8)}] ${type.padEnd(20)}` +\n    ` | ${(dest.nom_complet || `${dest.prenom} ${dest.nom}`).trim().padEnd(28)}` +\n    ` | ${data.statistiques.total_bcs} BC(s)` +\n    ` | email:${peutEmail ? '✔' : '✘'} sms:${peutSMS ? '✔' : '✘'}`\n  );\n});\n\n// ── Synthèse logs ─────────────────────────────────────────────────\nconst envoyés  = results.filter(r => r.json.type_envoi === 'PRINCIPAL');\nconst ignorés  = results.filter(r => r.json.type_envoi === 'IGNORE');\nconst avecEmail = envoyés.filter(r => r.json.meta.canaux_actifs?.email);\nconst avecSMS   = envoyés.filter(r => r.json.meta.canaux_actifs?.sms);\n\nconsole.log(`\\n✅ Résumé :`);\nconsole.log(`   Messages générés   : ${envoyés.length}`);\nconsole.log(`   Avec email         : ${avecEmail.length}`);\nconsole.log(`   Avec SMS           : ${avecSMS.length}`);\nconsole.log(`   Ignorés (no email) : ${ignorés.length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-288],"id":"094be636-6265-4857-9ac0-3c32d4b6c44b","name":"Code3"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_final.email }}","subject":"={{ $json.messages.email.sujet }}","emailFormat":"text","text":"={{ $json.messages.email.corps }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2352,-288],"id":"5b9cae9d-3042-4862-904e-4286d9279156","name":"Send email","webhookId":"2bc5e22f-6b64-4a91-bfe1-3a0e2ff3a95e","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-160],"id":"724fa3be-82da-4406-ae31-20031a738b69","name":"Schedule Trigger1"}],"connections":{"Microsoft SQL2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"If1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code2":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0},{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4c3afad-a52c-483e-8d83-e7e7ce792f38","triggerCount":1,"tags":[]}