my workflow 167-SJIqujs7csqsrDqs.json
{"createdAt":"2026-07-15T22:30:46.116Z","updatedAt":"2026-07-16T22:33:55.000Z","id":"SJIqujs7csqsrDqs","name":"My workflow 167","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":1}]}},"id":"3787ff1c-11b4-48fc-9e21-237ba3b428f4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[928,192]},{"parameters":{"operation":"executeQuery","query":"SELECT\n    S.XSAL_0 AS code_x3,\n    S.XNAMSAL_0 AS nom,\n    S.XPRENOM_0 AS prenom,\n    CONVERT(VARCHAR(10), S.XDTN_0, 103) AS date_naissance,\n    CONVERT(VARCHAR(10), S.XDTE_0, 103) AS date_entree,\n    CASE\n    WHEN (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n          - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 = 0\n    THEN\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) % 12 AS VARCHAR\n        ) + ' mois'\n\n    ELSE\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 AS VARCHAR\n        ) + ' ' +\n        CASE\n            WHEN (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n                  - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) / 12 = 1\n            THEN 'an'\n            ELSE 'ans'\n        END\n        + ' et ' +\n        CAST(\n            (DATEDIFF(MONTH, S.XDTE_0, GETDATE())\n             - CASE WHEN DAY(GETDATE()) < DAY(S.XDTE_0) THEN 1 ELSE 0 END) % 12 AS VARCHAR\n        ) + ' mois'\nEND AS anciennete_affichage,\n    P.YTIT_0 AS Poste,\n    S.XEMAIL_0 AS Email\n\nFROM jbelrh.JBELRH.XSAL S\nLEFT JOIN jbelrh.JBELRH.ZPOSTE P\n    ON S.ZPOSTE_0 = P.YNUM_0\nWHERE\n    S.XFLG_0 = 2\n    AND MONTH(S.XDTN_0) = MONTH(GETDATE())\n    AND DAY(S.XDTN_0) = DAY(GETDATE())\nORDER BY S.XNAMSAL_0, S.XPRENOM_0;"},"id":"aadbfaff-99ff-47d8-a240-d9b50933051e","name":"Anniversaire du jour","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[1328,192],"credentials":{"microsoftSql":{"id":"yJEaGB9G0NLd2uPk","name":"Microsoft SQL account"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$items().length}}","operation":"larger","value2":0}]},"options":{}},"id":"a61ea57e-2278-41d2-a2a1-b507ff62f8b3","name":"Des anniversaires ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,192]},{"parameters":{"jsCode":"return $input.all().map(item => ({\n  json: {\n    message: `🎉 *ANNIVERSAIRE DU JOUR* 🎉\n\n👤 *${item.json.prenom} ${item.json.nom}*\n\n📋 Code X3 : ${item.json.code_x3}\n🎂 Date de naissance : ${item.json.date_naissance}\n📅 Date d'entrée : ${item.json.date_entree}\n🏆 Ancienneté : ${item.json.anciennete_affichage}\n💼 Poste : ${item.json.Poste}\n📧 Email : ${item.json.Email}\n\n🎊 Nous lui souhaitons un très joyeux anniversaire et beaucoup de succès ! 🎂🎁`,\n    email: item.json.Email\n  }\n}));"},"id":"072f2eec-fe4a-4336-9178-a66589f631bb","name":"Créer le message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,176]},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"=gestionnaire.des.conges@jbel-annour.ma,\n","subject":"Joyeux anniversaire","emailFormat":"text","text":"={{ $json.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2080,176],"id":"515bdf81-9b85-4522-a53b-5a9bd9699b8e","name":"Send email","webhookId":"a4514d13-eec3-44cd-adff-70bb23ecbed0","credentials":{"smtp":{"id":"GCzym15NrtBWq9vU","name":"SMTP"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Anniversaire du jour","type":"main","index":0}]]},"Anniversaire du jour":{"main":[[{"node":"Des anniversaires ?","type":"main","index":0}]]},"Des anniversaires ?":{"main":[[{"node":"Créer le message","type":"main","index":0}]]},"Créer le message":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1453b34-f1eb-478b-99fa-0a792181c8ef","triggerCount":1,"tags":[]}