my workflow 147-pMvKlxZwP9L3dPcY.json
{"createdAt":"2026-05-22T16:37:53.424Z","updatedAt":"2026-06-10T21:43:17.000Z","id":"pMvKlxZwP9L3dPcY","name":"My workflow 147","active":true,"isArchived":false,"nodes":[{"parameters":{"fileSelector":"=C:/hicham/interface_facture_iam/uploads/factures/{{ $json.body.file_name }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1408,224],"id":"7f7ad36d-9cce-4426-8627-66722c1976f2","name":"Read/Write Files from Disk1"},{"parameters":{"command":"=C:\\split_pdf\\script.bat \"C:/hicham/data/facture_telecome/{{ $json.fileName }}\" \"C:\\split_pdf\\document_pages_facture\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-1168,224],"id":"39fa9bf5-0687-4e27-830f-cdb39c06df34","name":"Execute Command"},{"parameters":{"jsCode":"const output = items[0].json.stdout;\nconst result = JSON.parse(output);\n\n// Retourner chaque fichier comme un item séparé avec le chemin complet formaté\nreturn result.files.map(file => ({\n  json: {\n    page_number: file.page_number,\n    file_name: file.file_name,\n    file_path: file.file_path,\n    // Nouveau champ avec le chemin formaté pour n8n\n    formatted_path: `C:/split_pdf/document_pages_facture/${file.file_name}`,\n    total_pages: result.total_pages\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,224],"id":"f3527dbf-1b3b-4edb-ba97-30ce4f83046c","name":"Code6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,208],"id":"221de1ee-ea30-408d-a87a-aeb9132b4625","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,2336],"id":"1833309f-20e7-477e-93ca-77156a1541be","name":"🔍 OCR Page","credentials":{"httpHeaderAuth":{"id":"iktad8R4qZ5QbkTP","name":"mistral_credential"}},"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,2336],"id":"5b961f2c-8b0a-4671-b026-a44ffbcdce54","name":"Code4","disabled":true},{"parameters":{"promptType":"define","text":"=Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (facture maroc telecome).\n\n⚠️ RÈGLES DE FORMAT DE SORTIE (OBLIGATOIRES) :\n- La réponse doit commencer par { et se terminer par }\n- Ne retourne AUCUN texte avant ou après le JSON\n- N'utilise PAS de Markdown, backticks, explications ou commentaires\n- La sortie doit être un JSON valide parseable par JSON.parse()\n\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📄 CONTENU OCR À ANALYSER :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.markdown }}","messages":{"messageValues":[{"message":"={{ $json.prompt_instruction }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1360,2496],"id":"a7dc5bbf-2f17-4fb9-83ee-d5a8826cd7a5","name":"Basic LLM Chain","retryOnFail":true,"alwaysOutputData":false,"disabled":true,"onError":"continueErrorOutput"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,2352],"id":"162f7fa3-989e-4a36-8f1d-836eb779b704","name":"Wait1","webhookId":"84c2a8f1-3ab5-42c3-96b6-ee8e347fdd40","disabled":true},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1152,480],"id":"3097321a-160a-47bb-a33f-2b1a38f01815","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"fileSelector":"={{ $json.formatted_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[320,224],"id":"5b0d67a3-d9d4-4009-8aea-e41a7a0d0326","name":"Read/Write Files from Disk2"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16,224],"id":"3f6e3cc4-dd6f-4987-b0af-781b50772af6","name":"Wait","webhookId":"4b189ed4-bdf9-4f12-9c1b-010d261ee23d"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction detecterTypePage(text) {\n  if (!text) return 'inconnu';\n\n  const signaux_globale = [\n    /MONTANT HT/i,\n    /MONTANT TTC/i,\n    /MONTANT D[UÛ]/i,\n    /MONTANT TVA/i,\n    /RÉCAPITULATIF|RECAPITULATIF/i,\n    /SYNTHÈSE|SYNTHESE/i,\n    /FRAIS MENSUELS[\\s\\S]{0,300}FRAIS PONCTUELS/i,\n  ];\n\n  const signaux_detail = [\n    /FORFAIT\\s+(OPTIMIS|PRO|BUSINESS|PREMIUM|ILLIMIT[EÉ]|TOUT ILLIMIT[EÉ])/i,\n    /N[°º]\\s*D['']APPEL/i,\n    /TOTAL CONTRAT/i,\n    /P[EÉ]RIODE\\s+FACTUR[EÉ]E/i,\n  ];\n\n  const score_globale = signaux_globale.filter(r => r.test(text)).length;\n  const score_detail  = signaux_detail.filter(r => r.test(text)).length;\n\n  const has_frais_ponctuels = /FRAIS PONCTUELS/i.test(text);\n  const has_promotions      = /PROMOTIONS ET R[EÉ]DUCTIONS/i.test(text);\n  const has_numero_appel    = /N[°º]\\s*D['']APPEL/i.test(text);\n  const has_total_contrat   = /TOTAL CONTRAT/i.test(text);\n\n  if (has_numero_appel && has_total_contrat && (has_frais_ponctuels || has_promotions)) {\n    return 'detail_enrichi';\n  }\n\n  if (score_detail >= 2 && score_globale === 0) return 'detail';\n  if (score_globale >= 2) return 'globale';\n  if (score_detail >= 1 && score_globale === 0) return 'detail';\n  return 'inconnu';\n}\n\nconst pages = items.map(item => ({\n  markdown: item.json.text || '',\n  numpages: item.json.numpages || null,\n}));\n\nconst contextItem = items[0];\n\nconst ecart_montant = contextItem.json.ecart_montant ?? null;\nconst page_actuelle = contextItem.json.page_index    ?? 0;\nconst is_retry      = ecart_montant !== null && ecart_montant !== 0;\nconst page_index    = is_retry ? page_actuelle + 1 : page_actuelle;\nconst plus_de_pages = page_index >= pages.length;\n\nconst current_markdown = pages[page_index]?.markdown || '';\n\nconst markdown_final = is_retry\n  ? pages.slice(0, page_index + 1).map((p, i) => `=== PAGE ${i} ===\\n${p.markdown}`).join('\\n\\n')\n  : `=== PAGE ${page_index} ===\\n${current_markdown}`;\n\nconst type_page      = detecterTypePage(current_markdown);\nconst is_detail_page = (type_page === 'detail' || type_page === 'detail_enrichi');\n\nconsole.log(`[page_index=${page_index}] type_page=\"${type_page}\" is_retry=${is_retry} total_pages=${pages.length}`);\n\n// ─── FORMAT ATTENDU sans accolades ──────────────────────────────────────────\n// IMPORTANT : pas d'accolades ici — elles font planter Handlebars dans\n// le noeud Information Extractor qui utilise ce champ comme template.\nconst JSON_FORMAT = `\nFORMAT DE REPONSE ATTENDU (13 champs racine + tableau lignes) :\n\n  page             : string  — ex: \"2/158\"\n  numero_facture   : string  — ex: \"0000305831052026\"\n  date_facture     : string  — format DD/MM/YYYY\n  fournisseur_nom  : string  — toujours \"Maroc Telecom\"\n  client_code      : string  — ex: \"1.40567476\"\n  periode_debut    : string  — format DD/MM/YYYY\n  periode_fin      : string  — format DD/MM/YYYY\n  montant_ht       : number  — 0 sur pages detail\n  tva_taux         : number  — 20\n  tva_montant      : number  — 0 sur pages detail\n  total_ttc        : number  — 0 sur pages detail\n  montant_du       : number  — 0 sur pages detail\n  total_contrat    : number  — valeur du TOTAL CONTRAT\n\n  lignes : tableau d'objets, chaque objet contient :\n    type         : string  — \"frais_mensuel\" | \"frais_ponctuel\" | \"promotion\" | \"detail_forfait\"\n    numero_appel : string  — ex: \"0661455888\" — null si absent\n    forfait      : string  — nom du forfait — null si absent\n    designation  : string  — libelle exact de la ligne\n    date_debut   : string  — format DD/MM/YYYY — null si absente\n    date_fin     : string  — format DD/MM/YYYY — null si absente\n    taux_pct     : number  — pourcentage sans symbole % — null si absent\n    montant_ttc  : number  — montant de la ligne, negatif si promotion\n\nReponds UNIQUEMENT avec le JSON brut, sans balises Markdown, sans texte avant ou apres.\n`;\n\nconst REGLES_MT = `\nREGLE IDENTIFICATION :\n- N Facture   : champ \"N Facture\" de l'en-tete\n- Date Facture: champ \"Date Facture\" au format DD/MM/YYYY\n- Client code : champ \"N Client\"\n- Fournisseur : toujours \"Maroc Telecom\"\n- page        : extraire depuis le texte OCR \"Page X/Y\" => format \"X/Y\"\n                (ex: \"Page 11/158\" => \"11/158\"). NE PAS utiliser page_index.\n- numero_appel: extraire depuis \"N d'Appel\" en supprimant les espaces\n                (ex: \"06 68 13 51 36\" => \"0668135136\").\n                Appliquer CE MEME numero a TOUTES les lignes du tableau \"lignes\".\n                Ne jamais laisser null si \"N d'Appel\" est present dans l'en-tete.\n\nREGLE FORMAT DES NOMBRES :\n- L'espace est le separateur de milliers : \"19 418.41\" => 19418.41\n- Le point est le separateur decimal\n- Montants negatifs gardent leur signe : \"-51.45\" => -51.45\n- taux_pct : extraire le pourcentage sans le symbole % (ex: \"3.00 %\" => 3.0)\n- Si un champ n'existe pas pour une ligne, mettre null (jamais omettre le champ)\n\nREGLE CENTRALE - TABLEAU \"lignes\" UNIQUE :\nToutes les lignes de la page vont dans UN SEUL tableau \"lignes\".\nChaque objet a OBLIGATOIREMENT le champ \"type\" parmi :\n  - \"detail_forfait\" => toute ligne d'une page de detail (FRAIS MENSUELS, FRAIS PONCTUELS, PROMOTIONS)\n  - \"frais_mensuel\"  => ligne FRAIS MENSUELS sur page globale uniquement\n  - \"frais_ponctuel\" => ligne FRAIS PONCTUELS sur page globale uniquement\n  - \"promotion\"      => ligne PROMOTIONS sur page globale uniquement\n\nREGLE LIGNES EN-TETE SANS MONTANT PROPRE :\nCertaines designations sont des en-tetes de groupe (ex: \"Roaming International\")\nqui N'ont PAS de montant propre et regroupent des sous-lignes indentees (\"-\").\n=> leur montant_ttc = 0, ils ne consomment PAS de montant du bloc droite.\n\nPROCEDURE D'ALIGNEMENT OBLIGATOIRE — BLOCS SEPARES :\n\nPRINCIPE FONDAMENTAL :\n  Le texte separe les designations (colonne gauche) et les montants (colonne droite)\n  en blocs distincts. Chaque bloc de montants appartient AU bloc de designations\n  qui le PRECEDE immediatement dans le texte.\n\n  ETAPE 1 — Identifie chaque BLOC de la page dans l'ordre :\n    - BLOC A = FRAIS MENSUELS   => ses designations + son bloc de montants\n    - BLOC B = FRAIS PONCTUELS  => ses designations + son bloc de montants\n    - BLOC C = PROMOTIONS       => ses designations + son bloc de montants\n\n  ETAPE 2 — Pour CHAQUE BLOC separement :\n    a) Liste les designations du bloc dans l'ordre\n    b) Identifie les en-tetes de groupe (pas de montant propre => montant_ttc=0)\n    c) Liste les montants du bloc dans l'ordre\n    d) Associe designation[i] => montant[i] (1 pour 1, dans l'ordre)\n    e) Les en-tetes de groupe ne consomment PAS de montant (ils recoivent 0)\n\n  ETAPE 3 — NE JAMAIS melanger les montants d'un bloc avec les designations d'un autre bloc\n\n  ETAPE 4 — Verification finale :\n    somme de TOUS les montant_ttc (tous blocs) = TOTAL CONTRAT\n    Si ecart > 0.01 DH => recommencer depuis ETAPE 1\n\nEXEMPLE BLOC SEPARE (page 11/158) :\n\n  BLOC A — FRAIS MENSUELS :\n    Designations :                      Montants bloc A :\n    1. Frais de plafonnement      =>     19.00\n    2. Forfait Optimis 30H+15Go   =>     150.00\n    3. Internet Mobile Gratuit    =>     0.00\n    4. Option intra flotte 0 dh   =>     0.00\n\n  BLOC B — FRAIS PONCTUELS :\n    Designations :                      Montants bloc B :\n    5. Changement de carte SIM    =>     25.00\n\n  TOTAL CONTRAT : 194.00\n  Verification : 19 + 150 + 0 + 0 + 25 = 194.00 OK\n\n  ERREUR TYPIQUE A EVITER :\n  FAUX : Frais plafonnement=>0 / Forfait=>0 / Internet=>0 / Option=>0 / SIM=>19 / SIM=>150...\n\nEXEMPLE AVEC ROAMING (page 13/138) :\n\n  BLOC A — FRAIS MENSUELS :\n    Designations :                      Montants bloc A :\n    1. Frais de plafonnement      =>     19.00\n    2. Forfait 50H + 40Go         =>     288.50\n    3. Internet Mobile Gratuit    =>     0.00\n    4. Option intra flotte 0 dh   =>     0.00\n    5. Roaming International      =>     0.00  (EN-TETE, pas de montant propre)\n    6.   - KPN Telecom Hollande    =>     91.64\n    7.   - A1 Telekom Autriche     =>     57.48\n\n  TOTAL CONTRAT : 2713.35\n\nREGLE CHAMPS STRICTS — ABSOLUE :\n- Le JSON retourne contient UNIQUEMENT les 13 champs racine + le tableau \"lignes\"\n- Les cles suivantes sont ABSOLUMENT INTERDITES :\n    \"frais_mensuels\", \"frais_ponctuels\", \"promotions\",\n    \"lignes_par_forfait\", \"details\", \"ecart_montant\",\n    \"page_index\", \"is_retry\", \"dff_numero\", \"FactureFrns\", \"Raison\", \"pdf_dest\"\n- Reponds UNIQUEMENT avec le JSON brut, sans balises Markdown, sans texte avant ou apres\n`;\n\nlet prompt_instruction;\n\nif (is_retry) {\n  prompt_instruction = `Tu es un assistant specialise dans l'extraction de donnees de factures Maroc Telecom.\n\nCONTEXTE : TEXTE COMPLET disponible (page globale + pages de detail).\nUn ecart a ete detecte. Reconstituer le JSON complet :\n- Totaux globaux depuis la page globale UNIQUEMENT\n- Toutes les lignes (globale + details) dans le tableau \"lignes\" avec leur type correct\n${REGLES_MT}\n${JSON_FORMAT}`;\n\n} else if (type_page === 'detail_enrichi') {\n  prompt_instruction = `Tu es un assistant specialise dans l'extraction de donnees de factures Maroc Telecom.\n\nCONTEXTE : PAGE DE DETAIL ENRICHIE d'une ligne telephonique.\nCette page contient plusieurs blocs pour UN SEUL N d'Appel :\n  - FRAIS MENSUELS (abonnements, options, roaming...)\n  - FRAIS PONCTUELS (pass data, SMS+, achats ponctuels...)\n  - PROMOTIONS ET REDUCTIONS (remises, reductions volume...)\n\nINSTRUCTIONS STRICTES :\n- montant_ht, tva_montant, total_ttc, montant_du => tous a 0\n- total_contrat => valeur numerique exacte du champ \"TOTAL CONTRAT\" de la page\n- lignes[] => UNE entree pour CHAQUE ligne de CHAQUE bloc present sur la page\n- Pour TOUTES les lignes (peu importe le bloc) : type=\"detail_forfait\"\n- Les blocs FRAIS PONCTUELS et PROMOTIONS DOIVENT etre inclus dans \"lignes[]\"\n${REGLES_MT}\n${JSON_FORMAT}`;\n\n} else if (type_page === 'detail') {\n  prompt_instruction = `Tu es un assistant specialise dans l'extraction de donnees de factures Maroc Telecom.\n\nCONTEXTE : PAGE DE DETAIL d'une ligne telephonique.\nCette page contient : N d'Appel, Periode facturee, FRAIS MENSUELS, TOTAL CONTRAT.\n\nINSTRUCTIONS STRICTES :\n- montant_ht, tva_montant, total_ttc, montant_du => 0\n- total_contrat => valeur de \"TOTAL CONTRAT\"\n- lignes[] => toutes les lignes FRAIS MENSUELS avec type=\"detail_forfait\"\n${REGLES_MT}\n${JSON_FORMAT}`;\n\n} else {\n  prompt_instruction = `Tu es un assistant specialise dans l'extraction de donnees de factures Maroc Telecom.\n\nCONTEXTE : PAGE GLOBALE (synthese) de la facture.\nCette page contient : en-tete, totaux globaux, blocs FRAIS MENSUELS / FRAIS PONCTUELS / PROMOTIONS.\n\nINSTRUCTIONS STRICTES :\n- Extraire montant_ht, tva_montant, total_ttc, montant_du depuis les totaux\n- total_contrat => 0\n- lignes[] => toutes les lignes de tous les blocs presents avec leur type correct\n  => type=\"frais_mensuel\"  pour le bloc FRAIS MENSUELS\n  => type=\"frais_ponctuel\" pour le bloc FRAIS PONCTUELS\n  => type=\"promotion\"      pour le bloc PROMOTIONS ET REDUCTIONS\n${REGLES_MT}\n${JSON_FORMAT}`;\n}\n\nreturn [{\n  json: {\n    page_index,\n    page_actuelle,\n    total_pages:     pages.length,\n    plus_de_pages,\n    type_page,\n    is_detail_page,\n    markdown:        markdown_final,\n    prompt_instruction,\n    is_retry,\n    dff_numero:      contextItem.json.dff_numero  || '',\n    FactureFrns:     contextItem.json.FactureFrns || '',\n    Raison:          contextItem.json.Raison       || '',\n    pdf_dest:        contextItem.json.pdf_dest     || '',\n    ecart_montant:   ecart_montant ?? 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,224],"id":"a1eff934-6539-44e0-94e4-30f3c694c6d0","name":"Code"},{"parameters":{"jsCode":"const rawText = $input.first().json.text || \n                $input.first().json.choices?.[0]?.message?.content || '';\n\nconst code3Data = $node[\"Loop Over Items\"].json;\nconst is_retry  = code3Data.is_retry || false;\n\nlet factureData = {};\n\n// ─── Nettoyage : évaluer les expressions arithmétiques dans les valeurs JSON\nfunction evaluerExpressionsArithmetiques(texte) {\n  return texte.replace(\n    /(\"[\\w]+\")\\s*:\\s*([\\d\\s\\+\\-\\*\\/\\.]+)(?=[,\\n\\}])/g,\n    (match, key, expr) => {\n      try {\n        if (/^[\\d\\s\\+\\-\\*\\/\\.]+$/.test(expr.trim())) {\n          const resultat = Function('\"use strict\"; return (' + expr.trim() + ')')();\n          if (typeof resultat === 'number' && isFinite(resultat)) {\n            return key + ': ' + resultat;\n          }\n        }\n      } catch(e) {}\n      return match;\n    }\n  );\n}\n\n// ─── Réparation JSON tronqué ─────────────────────────────────────────────\nfunction repairerJSON(texte) {\n  let t = texte.trim();\n  t = t.replace(/,\\s*([}\\]])/g, '$1');\n\n  let accolades = 0, crochets = 0, inString = false, escaped = false;\n  for (const ch of t) {\n    if (escaped)     { escaped = false; continue; }\n    if (ch === '\\\\') { escaped = true;  continue; }\n    if (ch === '\"')  { inString = !inString; continue; }\n    if (inString)    continue;\n    if (ch === '{')  accolades++;\n    if (ch === '}')  accolades--;\n    if (ch === '[')  crochets++;\n    if (ch === ']')  crochets--;\n  }\n\n  const lignes = t.split('\\n');\n  const derniereLigne = lignes[lignes.length - 1].trim();\n  if (derniereLigne &&\n      !derniereLigne.endsWith(',') &&\n      !derniereLigne.endsWith('{') &&\n      !derniereLigne.endsWith('[') &&\n      !derniereLigne.endsWith('}') &&\n      !derniereLigne.endsWith(']') &&\n      !derniereLigne.endsWith('\"')) {\n    lignes.pop();\n    t = lignes.join('\\n');\n  }\n  t = t.replace(/,\\s*$/, '');\n  while (crochets > 0)  { t += ']'; crochets--;  }\n  while (accolades > 0) { t += '}'; accolades--; }\n  return t;\n}\n\n// ─── Parse robuste (4 stratégies) ────────────────────────────────────────\nfunction parseRobuste(texte) {\n  let texteNettoye = evaluerExpressionsArithmetiques(texte);\n  try { return JSON.parse(texteNettoye); } catch(e) {}\n  try { return JSON.parse(repairerJSON(texteNettoye)); } catch(e) {}\n  try { return JSON.parse(repairerJSON(texte)); } catch(e) {\n    throw new Error('Toutes les stratégies de parsing ont échoué : ' + e.message);\n  }\n}\n\n// ─── Extraction du JSON brut depuis la réponse LLM ───────────────────────\ntry {\n  const matchCodeBlock = rawText.match(/```json\\s*([\\s\\S]*?)```/i);\n  if (matchCodeBlock) {\n    factureData = parseRobuste(matchCodeBlock[1].trim());\n  } else {\n    const matchBraces = rawText.match(/\\{[\\s\\S]*/);\n    if (matchBraces) {\n      factureData = parseRobuste(matchBraces[0]);\n    } else {\n      throw new Error('Aucun JSON trouvé dans la réponse');\n    }\n  }\n} catch (e) {\n  factureData = {\n    erreur: 'Parsing échoué : ' + e.message,\n    raw:    rawText.substring(0, 500)\n  };\n}\n\n// ─── Normalisation des montants (espaces résiduels → nombre) ─────────────\nfunction toNumber(val) {\n  if (typeof val === 'number') return val;\n  if (typeof val === 'string') {\n    const cleaned = val.replace(/\\s/g, '').replace(',', '.');\n    const n = parseFloat(cleaned);\n    return isFinite(n) ? n : 0;\n  }\n  return 0;\n}\n\n// ─── Normalisation des totaux globaux ────────────────────────────────────\nfactureData.montant_ht    = toNumber(factureData.montant_ht);\nfactureData.tva_montant   = toNumber(factureData.tva_montant);\nfactureData.total_ttc     = toNumber(factureData.total_ttc);\nfactureData.montant_du    = toNumber(factureData.montant_du);\nfactureData.tva_taux      = toNumber(factureData.tva_taux) || 20;\nfactureData.total_contrat = toNumber(factureData.total_contrat);\n\n// ─── Normalisation du tableau lignes[] unifié ─────────────────────────────\nconst lignesRaw = Array.isArray(factureData.lignes) ? factureData.lignes : [];\n\nconst lignes = lignesRaw.map(l => ({\n  type:         l.type         || 'detail_forfait',\n  numero_appel: l.numero_appel || null,\n  forfait:      l.forfait      || null,\n  designation:  l.designation  || '',\n  date_debut:   l.date_debut   || null,\n  date_fin:     l.date_fin     || null,\n  taux_pct:     l.taux_pct !== undefined && l.taux_pct !== null ? toNumber(l.taux_pct) : null,\n  montant_ttc:  toNumber(l.montant_ttc)\n}));\n\n// ─── Reconstruction des vues dérivées pour compatibilité pipeline ─────────\n// Ces tableaux sont reconstruits depuis lignes[] — ils ne viennent plus du LLM\n\nconst frais_mensuels  = lignes.filter(l => l.type === 'frais_mensuel');\nconst frais_ponctuels = lignes.filter(l => l.type === 'frais_ponctuel');\nconst promotions      = lignes.filter(l => l.type === 'promotion');\nconst lignes_detail   = lignes.filter(l => l.type === 'detail_forfait');\n\n// Regrouper les lignes de détail par numero_appel pour reconstituer lignes_par_forfait\nconst mapForfaits = {};\nfor (const l of lignes_detail) {\n  const key = l.numero_appel || l.forfait || 'inconnu';\n  if (!mapForfaits[key]) {\n    mapForfaits[key] = {\n      numero_appel:  l.numero_appel,\n      forfait:       l.forfait,\n      total_contrat: factureData.total_contrat, // total_contrat de la page courante\n      details:       []\n    };\n  }\n  mapForfaits[key].details.push({\n    designation: l.designation,\n    date_debut:  l.date_debut,\n    date_fin:    l.date_fin,\n    taux_pct:    l.taux_pct,\n    montant_ttc: l.montant_ttc\n  });\n}\nconst lignes_par_forfait_courant = Object.values(mapForfaits);\n\n// ─── Au retry : fusionner avec les données du 1er passage ─────────────────\nlet lignes_par_forfait_final = lignes_par_forfait_courant;\n\nif (is_retry) {\n  try {\n    const prevData = $node[\"Code4\"].json;\n\n    // Conserver les champs d'en-tête depuis le 1er passage (page globale)\n    const champsAConserver = [\n      'numero_facture', 'date_facture', 'fournisseur_nom', 'client_code',\n      'periode_debut',  'periode_fin',\n      'montant_ht',     'tva_taux',     'tva_montant',\n      'total_ttc',      'montant_du'\n    ];\n    for (const champ of champsAConserver) {\n      if (prevData[champ] !== undefined && prevData[champ] !== null && prevData[champ] !== '') {\n        factureData[champ] = prevData[champ];\n      }\n    }\n\n    // Conserver les frais globaux si le retry ne les a pas re-extraits\n    const prevLignes = Array.isArray(prevData.lignes) ? prevData.lignes : [];\n    const prevFraisMensuels  = prevLignes.filter(l => l.type === 'frais_mensuel');\n    const prevFraisPonctuels = prevLignes.filter(l => l.type === 'frais_ponctuel');\n    const prevPromotions     = prevLignes.filter(l => l.type === 'promotion');\n\n    if (!frais_mensuels.length  && prevFraisMensuels.length)\n      lignes.unshift(...prevFraisMensuels);\n    if (!frais_ponctuels.length && prevFraisPonctuels.length)\n      lignes.unshift(...prevFraisPonctuels);\n    if (!promotions.length      && prevPromotions.length)\n      lignes.unshift(...prevPromotions);\n\n    // Fusionner lignes_par_forfait (nouvelles pages enrichissent les anciennes)\n    const forfaitsExistants = prevData.lignes_par_forfait || [];\n    const mapMerge = {};\n    for (const f of forfaitsExistants) {\n      const key = f.numero_appel || f.forfait || JSON.stringify(f);\n      mapMerge[key] = f;\n    }\n    for (const f of lignes_par_forfait_courant) {\n      const key = f.numero_appel || f.forfait || JSON.stringify(f);\n      mapMerge[key] = f; // Le nouveau écrase (plus complet)\n    }\n    lignes_par_forfait_final = Object.values(mapMerge);\n\n  } catch(e) {}\n}\n\n// ─── Calcul de l'écart ────────────────────────────────────────────────────\n// Page globale  : total_ttc > 0, total_contrat = 0 → écart = total_ttc - somme(total_contrat des forfaits)\n// Page de détail: total_ttc = 0, total_contrat > 0  → pas d'écart à ce stade\nconst sommeForfaits = lignes_par_forfait_final\n  .reduce((acc, f) => acc + toNumber(f.total_contrat), 0);\n\nconst ecart_montant = factureData.total_ttc\n  ? Math.abs(Math.round((factureData.total_ttc - sommeForfaits) * 100) / 100)\n  : 0;\n\n// ─── Extraction et normalisation du champ page ───────────────────────────\nconst pageRaw    = factureData.page || `${(code3Data.page_index ?? 0) + 1}`;\nconst pageMatch  = String(pageRaw).match(/^(\\d+)(?:\\/(\\d+))?$/);\nconst page_actuelle_num = pageMatch ? parseInt(pageMatch[1], 10) : (code3Data.page_index ?? 0) + 1;\nconst total_pages_num   = pageMatch?.[2] ? parseInt(pageMatch[2], 10) : (code3Data.total_pages ?? null);\nconst page_label        = total_pages_num ? `${page_actuelle_num}/${total_pages_num}` : `${page_actuelle_num}`;\n\n// ─── Sortie finale ────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    // ── Champs d'identification ──\n    page:               page_label,\n    numero_facture:     factureData.numero_facture  || '',\n    date_facture:       factureData.date_facture    || '',\n    fournisseur_nom:    factureData.fournisseur_nom || 'Maroc Telecom',\n    client_code:        factureData.client_code     || '',\n    periode_debut:      factureData.periode_debut   || '',\n    periode_fin:        factureData.periode_fin     || '',\n\n    // ── Tableau unifié (nouveau format) ──\n    lignes,\n\n    // ── Vues dérivées (compatibilité avec les nodes suivants) ──\n    frais_mensuels,\n    frais_ponctuels,\n    promotions,\n    lignes_par_forfait: lignes_par_forfait_final,\n\n    // ── Totaux globaux ──\n    montant_ht:         factureData.montant_ht,\n    tva_taux:           factureData.tva_taux,\n    tva_montant:        factureData.tva_montant,\n    total_ttc:          factureData.total_ttc,\n    montant_du:         factureData.montant_du,\n    total_contrat:      factureData.total_contrat,\n\n    // ── Métadonnées pipeline ──\n    ecart_montant,\n    page_index:         page_actuelle_num - 1,\n    is_retry,\n    dff_numero:         code3Data.dff_numero  || '',\n    FactureFrns:        code3Data.FactureFrns || '',\n    Raison:             code3Data.Raison      || '',\n    pdf_dest:           code3Data.pdf_dest    || '',\n\n    // ── Erreur éventuelle ──\n    ...(factureData.erreur ? { erreur: factureData.erreur, raw: factureData.raw } : {})\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,2720],"id":"790632ed-6f4d-41e5-9e5d-7873c645e9a8","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-128,48],"id":"ea16211c-cc0b-43a6-b3d7-659195fa0b3a","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d830aa3-fd91-4931-87ce-ce725a51c4e2","leftValue":"={{ $json.page_number }}","rightValue":1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,224],"id":"91e3ca33-8ced-4377-86df-3c1b5e0bb6ae","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1mA1XF_SpCk4GXUtoQ82aT5PXK8OeR1HTpmQrbdHPOXE/edit?gid=590628#gid=590628","mode":"url"},"sheetName":{"__rl":true,"value":1469256049,"mode":"list","cachedResultName":"Feuille_telecome_11_2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1mA1XF_SpCk4GXUtoQ82aT5PXK8OeR1HTpmQrbdHPOXE/edit#gid=1469256049"},"columns":{"mappingMode":"defineBelow","value":{"page":"={{ $json.page_facture }}","numero_facture":"={{ $json.numero_facture }}","date_facture":"={{ $json.date_facture }}","fournisseur_nom":"={{ $json.fournisseur_nom }}","numero_appel":"={{ $json.numero_appel }}","designation":"={{ $json.designation }}","date_fin":"={{ $json.date_fin }}","date_debut":"={{ $json.date_debut }}","montant":"={{ $json.montant_ttc }}","total_contrat":"={{ $json.total_contrat }}"},"matchingColumns":[],"schema":[{"id":"page","displayName":"page","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_facture","displayName":"numero_facture","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_facture","displayName":"date_facture","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fournisseur_nom","displayName":"fournisseur_nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_appel","displayName":"numero_appel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"designation","displayName":"designation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_debut","displayName":"date_debut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_fin","displayName":"date_fin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"montant","displayName":"montant","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_contrat","displayName":"total_contrat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2064,608],"id":"deaaf390-47f3-44ff-996b-1ccc9768252b","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"qPR1pYNzaqdZvab9","name":"account elghalbzouri.hicham01@gmail.com"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  // ── L'output du LLM est dans .output ou directement dans .json ──────\n  const base = item.json.output || item.json;\n  const lignes = base.lignes || [];\n\n  for (const l of lignes) {\n    result.push({\n      json: {\n        numero_facture:  base.numero_facture  || null,\n        date_facture:    base.date_facture    || null,\n        fournisseur_nom: base.fournisseur_nom || null,\n        client_code:     base.client_code     || null,\n        page_facture:    base.page            || null,\n        numero_appel:    base.numero_appel      || null,\n        type_ligne:      l.type              || null,    \n        forfait:         l.forfait           || null,\n        total_contrat:   base.total_contrat  || 0,\n        designation:     l.designation       || null,\n        date_debut:      l.date_debut        || null,\n        date_fin:        l.date_fin          || null,\n        taux_pct:        l.taux_pct          ?? null,\n        // ── LLM retourne \"montant\" ou \"montant_ttc\" selon les pages ──\n        montant_ttc:     l.montant_ttc ?? l.montant ?? 0,\n      }\n    });\n  }\n}\n\nreturn result.length > 0 ? result : [{ json: { error: 'Aucune ligne extraite', input: $input.first().json } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,768],"id":"09a6ae4d-88d1-4a2c-a36a-60d166e1ab1c","name":"Code2","onError":"continueErrorOutput"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[528,224],"id":"ff5526fc-ae23-445f-bd1a-0a5180dd4773","name":"Extract from File"},{"parameters":{"text":"={{ $json.markdown }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"page\": {\n      \"type\": \"string\",\n      \"description\": \"Numéro de page au format X/Y tel que détecté dans le document. Ex: '2/158'\"\n    },\n    \"numero_facture\": {\n      \"type\": \"string\",\n      \"description\": \"Numéro de facture Maroc Telecom. Chercher les mots-clés : 'N° Facture', 'Facture N°', 'Référence facture'. Ex: 'F2024-001234'\"\n    },\n    \"date_facture\": {\n      \"type\": \"string\",\n      \"description\": \"Date de la facture au format tel que détecté dans le document. Ex: '04/07/2024'\"\n    },\n    \"numero_appel\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Numéro de téléphone concerné par la page. Ex: '06 62 71 16 34'.\"\n    },\n    \"fournisseur_nom\": {\n      \"type\": \"string\",\n      \"description\": \"Nom du fournisseur émetteur de la facture. Toujours 'Maroc Telecom' ou 'IAM'\"\n    },\n    \"total_contrat\": {\n      \"type\": \"number\",\n      \"description\": \"Valeur du TOTAL CONTRAT de la page. Format marocain : le point '.' est séparateur de milliers, la virgule ',' est séparateur décimal. Convertir en nombre JSON standard. Ex: '1.234,56' → 1234.56. null si absent\"\n    },\n    \"lignes\": {\n      \"type\": \"array\",\n      \"description\": \"Toutes les lignes de facturation de la page. Obligatoire : ne jamais retourner un tableau vide si des lignes sont visibles. Extraire TOUTES les lignes sans exception\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"type\": {\n            \"type\": \"string\",\n            \"description\": \"Type de ligne selon son contexte : 'detail_forfait' si détail d'un forfait, 'frais_mensuel' si abonnement ou frais récurrent mensuel, 'frais_ponctuel' si frais exceptionnel ou unique, 'promotion' si remise ou réduction appliquée\"\n          },\n          \"forfait\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Nom du forfait parent auquel appartient cette ligne. Ex: 'FORFAIT BUSINESS 100'. null si la ligne n'est pas rattachée à un forfait\"\n          },\n          \"designation\": {\n            \"type\": \"string\",\n            \"description\": \"Libellé exact de la ligne tel qu'affiché dans la facture, sans accents ni caractères non-ASCII (é→e, à→a, ç→c, '→espace). REGLE CRITIQUE : chaque ligne du tableau = une entrée distincte dans le tableau lignes. Ne jamais fusionner deux lignes séparées\"\n          },\n          \"date_debut\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Date de début de la période de facturation de la ligne au format DD/MM/YYYY. null si absente\"\n          },\n          \"date_fin\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"Date de fin de la période de facturation de la ligne au format DD/MM/YYYY. null si absente\"\n          },\n          \"montant\": {\n            \"type\": \"number\",\n            \"description\": \"Montant TTC de la ligne. Format marocain : point '.' = séparateur milliers, virgule ',' = séparateur décimal. Convertir en nombre standard. Ex: '1.234,56' → 1234.56. Les promotions et remises sont en négatif. Ex: '-120,00' → -120.00\"\n          }\n        },\n        \"required\": [\"type\", \"forfait\", \"designation\", \"date_debut\", \"date_fin\", \"montant\"]\n      }\n    }\n  },\n  \"required\": [\"page\", \"numero_facture\", \"date_facture\", \"fournisseur_nom\", \"total_contrat\", \"lignes\"]\n}","options":{"systemPromptTemplate":"={{ $json.prompt_instruction }}"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1152,224],"id":"ceacef94-f8cc-430a-9c86-3af867ed9853","name":"Information Extractor"},{"parameters":{"operation":"insert","collection":"facture_iam","fields":"numero_facture,date_facture,fournisseur_nom,page_facture,total_contrat,lignes","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1808,224],"id":"b70218f7-6314-4ab5-961f-384f0b494902","name":"Insert documents","credentials":{"mongoDb":{"id":"SHOM4YziuqhoyObJ","name":"MongoDB account"}}},{"parameters":{"jsCode":"return $input.all().map(item => ({\n  json: item.json.output\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,224],"id":"7b64f675-3eca-4847-be0d-cc774afd8fb7","name":"Code3"},{"parameters":{"httpMethod":"POST","path":"facture-iam","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1680,224],"id":"a9c5b122-7f10-426c-b4ec-dbaea62a1978","name":"Webhook","webhookId":"570dfabf-7da9-498c-a7e2-039f4fa5598b"}],"connections":{"Read/Write Files from Disk1":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"🔍 OCR Page":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"🔍 OCR Page","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[]]},"Wait1":{"main":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Code1":{"main":[[]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"Code2":{"main":[[],[]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Insert documents":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Insert documents","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"192.168.1.211:5678","accept":"*/*","accept-encoding":"gzip, deflate","connection":"keep-alive","user-agent":"python-httpx/0.28.1","content-length":"233","content-type":"application/json"},"params":{},"query":{},"body":{"file_path":"C:\\hicham\\interface_facture_iam\\uploads\\factures\\20260610_144135_Facture 1-2026.pdf","file_name":"20260610_144135_Facture 1-2026.pdf","original_name":"Facture 1-2026.pdf","uploaded_at":"2026-06-10T14:41:35.731622"},"webhookUrl":"192.168.1.211:5678/webhook/facture-iam","executionMode":"production"}}]},"versionId":"479fa25c-7f58-44cb-a0ab-c8f6071c4c68","triggerCount":1,"tags":[]}