my workflow 150-ArSHB0sEsZ3J10fR.json
{"createdAt":"2026-06-05T01:57:42.089Z","updatedAt":"2026-06-08T19:53:00.000Z","id":"ArSHB0sEsZ3J10fR","name":"My workflow 150","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select * from dataset_designation\nwhere code_fournisseur='{{ $json.BPSNUM_0 }}' and designation_fournisseur='{{ $json.designation_ocr }}'\n","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[1712,2208],"id":"5e9f6405-14a1-4b1a-ac29-0af3615ebd41","name":"Execute a SQL query2","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"select\n  '{{ $json.numero_bc }}' as numero_bc,\n  '{{ $json.date_bc }}' as date_bc,\n  '{{ $json.code_fournisseur }}' as code_fournisseur,\n  '{{ $json.reference_fournisseur }}' as reference_fournisseur,\n  '{{ $json.designation_erp }}' as designation_erp,\n  '{{ $json.quantite_bc }}' as quantite_bc,\n  '{{ $json.quantite_receptionne }}' as quantite_receptionne,\n  '{{ $json.monatant_ht_bc }}' as monatant_ht_bc,\n  '{{ $json.numero_bl }}' as numero_bl,\n  '{{ $json.designation_ocr }}' as designation_ocr,\n  '{{ $json.marque_ocr }}' as marque_ocr,\n  '{{ $json.montant_ht_ocr }}' as montant_ht_ocr,\n  '{{ $json.quantite_ocr }}'as quantite_ocr,\n  CASE\n    when count(*)=0 then 'introuvable'\n    else 'trouve'\n  END AS status,\n  code_article_erp\n  \n  \n  from collect_data_facture\nwhere code_fournisseur_erp='{{ $json.code_fournisseur }}' and ligne_designation_fournisseur='{{ $json.designation_ocr }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[4432,3680],"id":"5ec8a314-5043-4333-8485-2d3aadb84fcd","name":"Execute a SQL query3","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"select DISTINCT\n  '{{ $json.POHNUM_0 }}' as numero_bc,\n  '{{ $json.ORDDAT_0 }}' as date_bc,\n  '{{ $json.BPSNUM_0 }}' as code_fournisseur,\n  '{{ $json.reference_article_fournisseur }}' as reference_fournisseur,\n  '{{ $json.ITMREF_0 }}' as code_article_erp,\n  '{{ $json.ITMDES1_0 }}' as designation_erp,\n  '{{ $json.Quantite }}' as quantite_bc,\n  '{{ $json.Quantite_receptionnee }}' as quantite_receptionne,\n  '{{ $json.montant_ht }}' as monatant_ht_bc,\n  '{{ $json.numero_bl }}' as numero_bl,\n  '{{ $json.designation_ocr }}' as designation_ocr,\n  '{{ $json.marque_ocr }}' as marque_ocr,\n  '{{ $json.montant_ht_ocr }}' as montant_ht_ocr,\n  '{{ $json.quantite_ocr }}'as quantite_ocr,\n  CASE\n    when count(*)=0 then 'introuvable'\n    else 'trouve'\n  END AS status,\n  code_article\n  \n  \n  from dataset_designation\nwhere code_fournisseur='{{ $json.BPSNUM_0 }}' and designation_fournisseur='{{ $json.designation_ocr }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3904,3696],"id":"c24122f6-723b-4b6b-a330-8b1c420b655c","name":"Execute a SQL query4","executeOnce":false,"credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d6290bad-f1e9-4871-a118-503702676d86","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4160,3696],"id":"95c3ae11-7515-47f2-bd93-34850a733be1","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d6290bad-f1e9-4871-a118-503702676d86","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3680,3104],"id":"f4ba65b7-d2ab-4c6d-b91c-cb0af220ec52","name":"If1"},{"parameters":{"operation":"executeQuery","query":"\nselect \n    POHNUM_0,\n    BPSNUM_0,    \n    '{{ $json.article.designation }}' as designation_ocr,\n    '{{ $json.article.reference }}' as reference_ocr,\n    '{{ $json.article.quantite }}' as quantite_ocr,\n    '{{ $json.article.prix_unitaire }}'as prix_unitaire_ocr,\n    '{{ $json.article.montant_ht }}' as montant_ht_ocr,\n    MAX(POPLIN_0) AS max_poplin\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.bon_de_livraison.numero_bc_clean }}'\nGROUP BY\n    POHNUM_0,\n    BPSNUM_0;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2320,3024],"id":"974e0636-d9cd-4668-a6f2-1fe7f02dc729","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"360b53d1-b7a2-439b-a535-773df26001b4","leftValue":"={{ $json.max_poplin }}","rightValue":1000,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2528,3024],"id":"e9f9fc06-be03-41ad-a755-2cd98c160582","name":"If6"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $('Code7').item.json.article.reference }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $('Code7').item.json.article.numero_bl }}' as numero_bl,\n    '{{ $('Code7').item.json.article.designation }}' as designation_ocr,\n    '{{ $('Code7').item.json.article.marque }}' as marque_ocr,\n    '{{ $('Code7').item.json.article.montant_ht }}' as montant_ht_ocr,\n    '{{ $('Code7').item.json.article.quantite }}' as quantite_ocr,\n   '{{ $('Code7').item.json.bon_de_livraison.numero_bc_clean }}'  as numero_bc\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.POHNUM_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[4544,2480],"id":"9b99e5fb-54bb-420c-8cf7-33a7b7993a0e","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const key = item.json.POHNUM_0;\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,2432],"id":"acc9fe34-fb2d-4808-a728-2c57b4e1847a","name":"supprime les doublants"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction normalize(str) {\n  return (str || '')\n    .toUpperCase()\n    .replace(/[''`]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction scoreMatch(ocr, erp) {\n  const ocrNorm = normalize(ocr);\n  const erpNorm = normalize(erp);\n  if (ocrNorm === erpNorm) return 100;\n  const ocrWords = new Set(ocrNorm.split(' '));\n  const erpWords = new Set(erpNorm.split(' '));\n  let common = 0;\n  for (const w of ocrWords) {\n    if (erpWords.has(w)) common++;\n  }\n  return (common / Math.max(ocrWords.size, erpWords.size)) * 100;\n}\n\nfunction isConforme(valOcr, valErp) {\n  if (valOcr === null || valOcr === undefined || isNaN(valOcr)) return null;\n  if (valErp === null || valErp === undefined || isNaN(valErp) || valErp === 0) return null;\n  return (Math.abs(valOcr - valErp) / valErp * 100) <= 10;\n}\n\nfunction conformeScore(row, quantiteOcr, montantOcr) {\n  const qteConforme     = isConforme(quantiteOcr, parseFloat(row.Quantite));\n  const montantConforme = isConforme(montantOcr,  parseFloat(row.montant_ht));\n  return (qteConforme === true ? 1 : 0) + (montantConforme === true ? 1 : 0);\n}\n\n// ✅ Score global unique qui combine désignation + conformité\n// - Désignation OK (≥ seuil) → 10000 + scoreDesig  (toujours prioritaire)\n// - Désignation faible       → confScore * 1000 + scoreDesig\n//   → une ligne conforme (confScore=1 → 1000+) bat toujours une ligne non-conforme (max 999)\nfunction scoreGlobal(scoreDesig, confScore, seuil) {\n  if (scoreDesig >= seuil) return 10000 + scoreDesig;\n  return confScore * 1000 + scoreDesig;\n}\n\nfunction buildResult(row, scoreDesig, quantiteOcr, montantOcr) {\n  const SCORE_SEUIL = 40;\n  let matchConfirme, alerte;\n\n  if (scoreDesig >= SCORE_SEUIL) {\n    matchConfirme = true;\n    alerte = '';\n  } else {\n    const qteConforme     = isConforme(quantiteOcr, parseFloat(row.Quantite));\n    const montantConforme = isConforme(montantOcr,  parseFloat(row.montant_ht));\n\n    if (qteConforme === true || montantConforme === true) {\n      matchConfirme = true;\n      alerte = 'Désignation faible — match confirmé par quantité/montant';\n    } else if (qteConforme === null && montantConforme === null) {\n      matchConfirme = false;\n      alerte = 'Désignation faible et données quantité/montant absentes';\n    } else {\n      matchConfirme = false;\n      alerte = 'Désignation faible et aucune cohérence quantité/montant';\n    }\n  }\n\n  return {\n    ...row,\n    _score_designation: Math.round(scoreDesig),\n    _match_confirme:    matchConfirme,\n    _alerte:            alerte\n  };\n}\n\nconst SCORE_SEUIL = 40;\n\n// ── Grouper par designation_ocr + quantite_ocr + montant_ht_ocr ─────\nconst ocrGroups = {};\nfor (const item of items) {\n  const { designation_ocr, quantite_ocr, montant_ht_ocr } = item.json;\n  const compositeKey = `${designation_ocr}||${quantite_ocr ?? ''}||${montant_ht_ocr ?? ''}`;\n  if (!ocrGroups[compositeKey]) {\n    ocrGroups[compositeKey] = {\n      designationOcr: designation_ocr,\n      quantiteOcr:    parseFloat(quantite_ocr)   || null,\n      montantOcr:     parseFloat(montant_ht_ocr) || null,\n      rows: []\n    };\n  }\n  ocrGroups[compositeKey].rows.push(item.json);\n}\n\n// ── Pour chaque groupe, choisir la meilleure ligne ERP ───────\nconst results = [];\n\nfor (const group of Object.values(ocrGroups)) {\n  const { designationOcr, quantiteOcr, montantOcr, rows } = group;\n\n  let bestRow         = null;\n  let bestScoreGlobal = -1;\n  let bestMontantDiff = Infinity;\n\n  for (const row of rows) {\n    const scoreDesig  = scoreMatch(designationOcr, row.ITMDES1_0);\n    const confScore   = conformeScore(row, quantiteOcr, montantOcr);\n    const sg          = scoreGlobal(scoreDesig, confScore, SCORE_SEUIL);\n    const montantDiff = Math.abs((parseFloat(row.montant_ht) || 0) - (montantOcr || 0));\n\n    const isBetter =\n      sg > bestScoreGlobal ||\n      (sg === bestScoreGlobal && montantDiff < bestMontantDiff);\n\n    if (isBetter) {\n      bestScoreGlobal = sg;\n      bestMontantDiff = montantDiff;\n      bestRow         = row;\n    }\n  }\n\n  if (bestRow) {\n    const scoreDesigFinal = scoreMatch(designationOcr, bestRow.ITMDES1_0);\n    results.push({ json: buildResult(bestRow, scoreDesigFinal, quantiteOcr, montantOcr) });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4160,3456],"id":"08a84cee-c314-413e-b191-8037adb97f45","name":"eviter les doublons1"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,3136],"id":"ddea50bd-a56c-46fa-acb0-331ffc9ca8e1","name":"🔍 OCR Page1","credentials":{"httpHeaderAuth":{"id":"aIOzZ8o9jlqBz7Fq","name":"new mistral authorization"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return items.map(item => ({\n  json: {\n    model: \"mistral-ocr-latest\",\n    document: {\n      type: \"document_url\",\n      document_url: `data:application/pdf;base64,${item.binary.data.data}`\n    },\n    include_image_base64: false\n  },\n  binary: item.binary\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,3136],"id":"4df4de56-4160-4e8e-8da3-884e3aaa041c","name":"Code5"},{"parameters":{"promptType":"define","text":"=Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\n⚠️ RÈGLES DE FORMAT DE SORTIE (OBLIGATOIRES) :\n- La réponse doit commencer par { et se terminer par }\n- Ne retourne AUCUN texte avant ou après le JSON\n- N'utilise PAS de Markdown, backticks, explications ou commentaires\n- La sortie doit être un JSON valide parseable par JSON.parse()\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔍 RÈGLES CRITIQUES D'ANALYSE OCR\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. INTERPRÉTATION DES SAUTS DE LIGNE (\\n) :\n   - Chaque \\n représente un RETOUR À LA LIGNE physique dans le document\n   - Dans un tableau OCR, les cellules d'une même colonne séparées par \\n = LIGNES DIFFÉRENTES\n   - Ne jamais décider du nombre d'articles sur la base de la désignation seule\n   - La QUANTITÉ est le seul critère qui détermine le nombre d'articles\n\n2. ANALYSE DES TABLEAUX D'ARTICLES :\n   - Colonnes typiques : Référence | Désignation | Quantité | Prix Unitaire | Montant HT\n   - Chaque ligne du tableau = un article distinct\n   - Le nombre de valeurs dans la colonne Quantité = nombre d'articles à créer\n   - Si une colonne a moins de valeurs que Quantité → voir règles par colonne ci-dessous\n\n3. RÈGLES SPÉCIFIQUES AUX QUANTITÉS :\n   - Toujours des entiers ou décimaux numériques\n   - Ne jamais concaténer : \"1\\n7\" → article 1 qty=1, article 2 qty=7 (pas \"17\")\n   - C'est la colonne de référence principale pour le nombre d'articles\n\n4. RÈGLES SPÉCIFIQUES AUX RÉFÉRENCES :\n   - Si nombre de valeurs = N → chaque valeur = référence d'un article\n   - Si nombre de valeurs < N → répéter la dernière valeur connue pour les articles suivants\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n⚠️ RÈGLE PRIMORDIALE — DÉTERMINATION DU NOMBRE D'ARTICLES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLA QUANTITÉ EST LE SEUL CRITÈRE qui détermine le nombre d'articles N.\nCompter les valeurs dans la colonne \"Quantité\" séparées par \\n = N articles.\n\nMÉTHODE OBLIGATOIRE — appliquer colonne par colonne :\n\n  Étape 1 : COLONNE QUANTITÉ → splitter par \\n → liste de référence → N articles\n            Exemple : \"4\\n4\" → N = 2\n\n  Étape 2 : COLONNE DÉSIGNATION → splitter par \\n → liste de fragments\n            ⚠️ ATTENTION — deux sous-cas possibles :\n\n            SOUS-CAS A — fragments = N :\n              Chaque fragment = désignation distincte d'un article séparé\n              Exemple : \"pliage de tole\\nsoudure\" avec N=2\n              → fragment[0] = \"pliage de tole\"  → Article 1\n              → fragment[1] = \"soudure\"         → Article 2\n              ❌ INTERDIT de concaténer : NE PAS écrire \"pliage de tole soudure\"\n\n            SOUS-CAS B — fragments > N :\n              Les fragments supplémentaires continuent la désignation du même article\n              Exemple : \"ventilateur\\nd extraction\\ntype axial\" avec N=1\n              → tout concaténer → \"ventilateur d extraction type axial\" → Article 1\n\n            SOUS-CAS C — fragments < N :\n              Répéter la dernière désignation connue pour les articles suivants\n\n  Étape 3 : COLONNE RÉFÉRENCE → splitter par \\n\n            - fragments = N → une référence par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 4 : COLONNE MONTANT HT → splitter par \\n\n            - fragments = N → un montant par article\n            - fragments < N → null pour les articles sans montant\n\n  Étape 5 : COLONNE UNITÉ → splitter par \\n\n            - fragments = N → une unité par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 6 : Zipper toutes les listes index par index → créer N objets articles\n\n  Étape 7 — VÉRIFICATION FINALE OBLIGATOIRE :\n            Avant de retourner le JSON, vérifier :\n            ✅ Nombre d'articles créés = N (nombre de valeurs Quantité)\n            ✅ Chaque article a une désignation DIFFÉRENTE si fragments Désignation = N\n            ✅ Aucune désignation ne contient \"\\n\" dans sa valeur finale\n            ✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES CONCRETS :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE 1 — Quantité = 2 valeurs, Désignation = 2 fragments → 2 articles DISTINCTS :\n\n  Données brutes du tableau OCR :\n  | Référence | Désignation              | Quantité | Unité |\n  | C7        | pliage de tole\\nsoudure  | 4\\n4     | U\\nU  |\n\n  Traitement :\n  Quantité    : \"4\\n4\"                    → split → [\"4\",            \"4\"      ] → N = 2\n  Désignation : \"pliage de tole\\nsoudure\" → split → [\"pliage de tole\",\"soudure\"] → 2 fragments = N ✅\n  Référence   : \"C7\"                      → split → [\"C7\"]            → 1 valeur < N → répéter → [\"C7\", \"C7\"]\n  Unité       : \"U\\nU\"                    → split → [\"U\",             \"U\"     ]\n\n  Zip index par index :\n  index 0 → reference=\"C7\", designation=\"pliage de tole\", quantite=4, unite=\"U\"\n  index 1 → reference=\"C7\", designation=\"soudure\",        quantite=4, unite=\"U\"\n\n  Résultat JSON :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"soudure\",        \"quantite\": 4 }\n  ]\n\n  ❌ RÉSULTAT INTERDIT :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 }\n  ]\n\nEXEMPLE 2 — Désignation sur 3 lignes MAIS Quantité = 1 valeur → 1 seul article :\n\n  Quantité    : \"2\"                                      → N = 1\n  Désignation : \"ventilateur\\nd extraction\\ntype axial\"  → 3 fragments > N=1\n  → SOUS-CAS B → concaténer tout → \"ventilateur d extraction type axial\"\n\n  Résultat JSON :\n  [ { \"designation\": \"ventilateur d extraction type axial\", \"quantite\": 2 } ]\n\nEXEMPLE 3 — Quantité = 3 valeurs → 3 articles :\n\n  Quantité    : \"1\\n2\\n1\"                       → N = 3\n  Désignation : \"roulement\\npalier\\ncouvercle\"  → 3 fragments = N ✅\n  Montant     : \"150\\n300\"                      → 2 valeurs < N → montant[2] = null\n\n  Résultat JSON :\n  [\n    { \"designation\": \"roulement\", \"quantite\": 1, \"montant_ht\": 150  },\n    { \"designation\": \"palier\",    \"quantite\": 2, \"montant_ht\": 300  },\n    { \"designation\": \"couvercle\", \"quantite\": 1, \"montant_ht\": null }\n  ]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLES INTERDITES :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  ❌ Ne jamais utiliser \\n de la désignation seule pour compter les articles\n  ❌ Ne jamais fusionner deux quantités séparées par \\n en un seul article\n  ❌ Ne jamais créer plus d'articles que N (nombre de valeurs Quantité)\n  ❌ Ne jamais dupliquer la même désignation quand les fragments Désignation = N\n  ❌ Ne jamais concaténer deux fragments distincts si fragments = N\n  ✅ La Quantité est le seul juge du nombre d'articles\n  ✅ Si fragments Désignation = N → chaque fragment est une désignation UNIQUE et SÉPARÉE\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 REMPLACEMENT DES APOSTROPHES ET CARACTÈRES ACCENTUÉS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Champ \"designation\" : supprimer ou remplacer les caractères suivants :\n  * Apostrophes : ' → remplacer par espace ou supprimer\n  * Caractères accentués : é→e, è→e, ê→e, à→a, â→a, ù→u, û→u, î→i, ô→o, ç→c, ë→e, ï→i, ü→u, œ→oe, æ→ae\n  * Guillemets simples ou doubles : \" ' → supprimer\n  * Tout caractère non ASCII → remplacer par son équivalent ASCII ou supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 RÈGLE CONDITIONNELLE : UN OU PLUSIEURS BCs\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nÉTAPE 1 — Compter les BCs dans le champ \"V/Commande\" ou équivalent :\n  - Extraire tous les numéros BC listés (séparés par \"-\", \"/\", \",\" ou espace)\n  - Compter le nombre total de BCs distincts détectés\n\nCAS 1 — UN SEUL BC détecté :\n  - Mettre \"numero_bc\" directement dans l'objet \"bon_de_livraison\"\n  - Retourner les articles dans le tableau racine \"articles\"\n  - \"bons_de_commande\" = null\n  - Chaque article porte : numero_bl, numero_bc\n\nCAS 2 — PLUSIEURS BCs détectés :\n  - \"articles\" racine = null\n  - Créer un objet dans \"bons_de_commande\" pour CHAQUE BC\n  - Dupliquer TOUS les articles du BL sous chaque BC\n  - Chaque article porte : numero_bl, numero_bc\n  - \"bon_de_livraison\" ne contient PAS de champ numero_bc\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 1 (UN SEUL BC)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": null,\n  \"facture\": null,\n  \"articles\": [\n    {\n      \"numero_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"reference\": \"\",\n      \"designation\": \"\",\n      \"marque\": null,\n      \"quantite\": 0,\n      \"prix_unitaire\": null,\n      \"montant_ht\": null,\n      \"tva\": null\n    }\n  ]\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 2 (PLUSIEURS BCs)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": [\n    {\n      \"numero_bc\": \"\",\n      \"numero_bl\": \"\",\n      \"articles\": [\n        {\n          \"numero_bl\": \"\",\n          \"numero_bc\": \"\",\n          \"reference\": \"\",\n          \"designation\": \"\",\n          \"marque\": null,\n          \"quantite\": 0,\n          \"prix_unitaire\": null,\n          \"montant_ht\": null,\n          \"tva\": null\n        }\n      ]\n    }\n  ],\n  \"facture\": null,\n  \"articles\": null\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n✅ EXEMPLES DE RAISONNEMENT BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE CAS 1 — Un seul BC :\n  V/Commande : BC191397\n  → 1 BC détecté → CAS 1\n  → numero_bc dans bon_de_livraison, articles dans tableau racine\n  → bons_de_commande = null\n\nEXEMPLE CAS 2 — Plusieurs BCs :\n  V/Commande : BC191397 - BC192493 - BC192494\n  → 3 BCs détectés → CAS 2\n  → 3 objets dans bons_de_commande, chacun avec tous les articles dupliqués\n  → articles racine = null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📌 CONTRAINTES MÉTIER\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Si aucun BC détecté → CAS 1 avec numero_bc: null\n- Si un champ est absent ou illisible → null\n- Tous les montants = nombres float\n- Dates = format tel que détecté dans le document\n- Supprimer les espaces inutiles en début/fin de valeur\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📄 CONTENU OCR À ANALYSER :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.pages.map((p, i) => \"--- PAGE \" + (i+1) + \" ---\\n\" + p.markdown).join(\"\\n\\n\") }}","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et tu dois retourner uniquement un JSON propre et structuré, sans aucune explication ni texte supplémentaire.  Règles strictes : - Retourne uniquement du JSON valide - Nettoie les espaces inutiles dans les nombres (ex: \"1 530,0000\" → \"1530.00\") - Si une valeur est vide ou manquante, utilise null - Les montants doivent être des nombres (float) - Ne jamais inventer des données absentes du document"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[672,3120],"id":"94c07401-660a-405a-8a8b-45d7a2e2e7c2","name":"Basic LLM Chain4","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $json.article.reference }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $json.article.numero_bl }}' as numero_bl,\n    '{{ $json.article.designation }}' as designation_ocr,\n    '{{ $json.article.marque }}' as marque_ocr,\n    '{{ $json.article.montant_ht }}' as montant_ht_ocr,\n    '{{ $json.article.quantite }}' as quantite_ocr,\n   '{{ $json.bon_de_livraison.numero_bc_clean }}'  as numero_bc\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.bon_de_livraison.numero_bc_clean }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2096,2144],"id":"2b056c7b-cc9e-42fa-9188-c01cc65e6618","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"promptType":"define","text":"=Tu es un expert en gestion de stocks industriels et en reconnaissance sémantique de désignations techniques.\n\nTu reçois UNE LISTE D'ARTICLES issus d'un scan OCR qui n'ont PAS pu être associés automatiquement à des lignes ERP.\nPour CHAQUE article, tu dois trouver LA ligne ERP la plus probable parmi ses candidats.\n\nRÈGLES ABSOLUES DE SORTIE :\nLa réponse doit commencer par [ et se terminer par ]\nNe retourne AUCUN texte avant ou après le JSON\nN'utilise PAS de Markdown ni backticks\nNe retourne qu'UN SEUL tableau JSON contenant UN objet par article\nLa sortie doit être directement exploitable par JSON.parse()\nLe tableau doit contenir EXACTEMENT {{ $json.nb_articles }} objets dans le même ordre que les articles fournis\n\n⚠️ CONTEXTE MÉTIER FONDAMENTAL — À LIRE EN PREMIER :\nCe système crée des bons de réception à partir de bons de livraison fournisseur.\nLe bon de commande ERP sert de référence pour identifier les articles commandés.\nUn fournisseur peut livrer une commande EN PLUSIEURS FOIS (réceptions partielles).\nConséquence directe :\n  - quantite_ocr (BL reçu) peut être INFÉRIEURE à quantite_erp (BC total) → NORMAL\n  - montant_ht_ocr (BL reçu) peut être INFÉRIEUR à montant_ht_erp (BC total) → NORMAL\n  - Ces cas NE SONT PAS des incohérences et NE DOIVENT PAS pénaliser le matching\n  - Seul un OCR SUPÉRIEUR à l'ERP (hors tolérance 10%) est une vraie anomalie\n\n═══════════════════════════════════════\nARTICLES OCR À IDENTIFIER\n═══════════════════════════════════════\n{{ $json.articles_readable }}\n\n═══════════════════════════════════════\nMISSION — TRAITER CHAQUE ARTICLE SÉPARÉMENT\n═══════════════════════════════════════\n\nPour CHAQUE article de la liste, effectue les étapes suivantes de manière INDÉPENDANTE :\n\nÉTAPE 1 — DÉCOMPOSE la désignation OCR mot par mot :\n  Pour chaque mot, identifie :\n  - Sa catégorie : TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\n  - Son sens technique dans le domaine industriel/mécanique\n\nÉTAPE 2 — ANALYSE chaque ligne ERP candidate de CET article :\n  Pour chaque candidat, évalue :\n\n  A) Famille de produit (40 pts)\n     Les deux désignations décrivent-elles le même type d'article ?\n     Ex: \"Equerre\" ≈ \"AILE 90°\" (équerre = pièce à angle droit = aile 90°)\n     Ex: \"Chaine\" ≈ \"CHAINE\" (même famille)\n     Ex: \"Attache\" ≈ \"ATTACHE POUR\" (même famille)\n\n  B) Caractéristiques techniques (30 pts)\n     Y a-t-il des normes, dimensions ou références communes ou compatibles ?\n     Ex: \"08B1\" est une norme de chaîne → compatible avec \"CHAINE 1/2\"\"\n     Ex: \"16B2\" est une norme double rang → différent de \"08B1\" simple rang\n\n  C) Cohérence contextuelle (20 pts)\n     Dans le contexte de ce bon de commande, cette association est-elle logique ?\n     Les autres articles du BC suggèrent-ils un univers produit cohérent ?\n\n  D) Contradictions bloquantes (−30 pts si présentes)\n     Y a-t-il des éléments qui rendent la correspondance impossible ?\n     Ex: dimensions incompatibles, familles de produits opposées\n\nÉTAPE 3 — RÈGLE DE DÉCISION PAR ARTICLE :\n  - score_semantique ≥ 50 pts → match_confirme = true\n  - score_semantique < 50 pts → match_confirme = false\n  - Si aucune ligne ne dépasse 50 pts → choisir la meilleure et signaler l'incertitude\n\nRÈGLES IMPORTANTES :\n- Les apostrophes et accents manquants dans l'OCR sont normaux → ne pas pénaliser\n- Une désignation OCR courte peut être une version abrégée de la désignation ERP\n- Les normes techniques (08B1, 16B2, 1/2\", etc.) sont des indices forts\n- \"Equerre\" et \"AILE 90°\" désignent la même géométrie en langage industriel\n- Une quantité ou montant OCR inférieur à l'ERP est NORMAL (réception partielle)\n- Une quantité ou montant différent n'est PAS un motif de rejet à cette étape\n\n⚠️ IMPORTANT — UTILISER UNIQUEMENT LES DONNÉES FOURNIES :\nPour chaque article, le champ numero_bl, numero_bc et code_article_erp\ndoivent être repris EXACTEMENT depuis les données de l'article traité.\nNe pas inventer de valeurs. Ne pas mélanger les données entre articles.\n\n═══════════════════════════════════════\nFORMAT JSON STRICT — NE RETOURNER QUE CECI\n═══════════════════════════════════════\n\nUn tableau avec UN objet par article, dans le même ordre que l'input :\n\n[\n  {\n    \"bl\": {\n      \"numero_bl\": \"<reprendre numero_bl de l'article>\",\n      \"date_bc\": \"<reprendre date_bc de l'article>\",\n      \"numero_bc\": \"<reprendre numero_bc de l'article>\"\n    },\n      \"code_fournisseur\":\"<reprendre code_fournisseur de l'article>\",\n      \"quantite_ocr\":\"<reprendre quantite_ocr de l'article>\",\n      \"marque\": \"<reprendre marque de l'article>\",\n    \"matching\": {\n      \"designation_ocr\": \"<reprendre designation_ocr de l'article>\",\n      \"designation_erp\": \"<designation de la ligne ERP choisie>\",\n      \"code_article_erp\": \"<code_article de la ligne ERP choisie>\",\n      \"analyse_semantique\": {\n        \"decomposition_ocr\": [\n          {\n            \"mot\": \"\",\n            \"categorie\": \"TYPE_PRODUIT | FORME | NORME | DIMENSION | MATIERE | AUTRE\",\n            \"interpretation\": \"\"\n          }\n        ],\n        \"evaluation_candidates\": [\n          {\n            \"code_article\": \"\",\n            \"designation\": \"\",\n            \"score_semantique\": 0,\n            \"detail\": {\n              \"A_famille_produit\":        {\"points\": 0, \"max\": 40, \"justification\": \"\"},\n              \"B_caracteristiques_tech\":  {\"points\": 0, \"max\": 30, \"justification\": \"\"},\n              \"C_coherence_contextuelle\": {\"points\": 0, \"max\": 20, \"justification\": \"\"},\n              \"D_contradictions\":         {\"points\": 0, \"max\": 0,  \"justification\": \"\"}\n            }\n          }\n        ],\n        \"meilleur_candidat\": \"\",\n        \"justification_choix\": \"\"\n      },\n      \"match_confirme\": true,\n      \"niveau_confiance\": \"ELEVE | MOYEN | FAIBLE\",\n      \"alerte\": \"\",\n      \"justification_globale\": \"\"\n    }\n  }\n]","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction et de verification les designation des articles declarer  de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et aussi les donnes recuperer depuis sql.\ndonc il faut les verifier "}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[6480,3072],"id":"0b5e66de-48ba-4180-b47a-548e7a8508dd","name":"Basic LLM Chain5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f4dbfb1f-7d88-4212-bcf2-5a43b24b8204","leftValue":"={{ $json._match_confirme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4224,2848],"id":"716f49b2-739f-410b-87a3-8e5a0d247c1a","name":"If7"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields2').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields2').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields2').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields2').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields2').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields2').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields2').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields2').item.json.date_import }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[7120,2768],"id":"3e66ac3f-b143-4641-aa44-7c0418d88b09","name":"Insert rows in a table3","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[6656,2784],"id":"dedd3e14-a7e9-45c4-a137-8ab2651341fa","name":"Execute a SQL query5","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6880,2784],"id":"fd717b89-66b1-45c9-8f02-9d4b95a33917","name":"If8"},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction normalize(str) {\n  return (str || '')\n    .toUpperCase()\n    .replace(/[''`]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction scoreMatch(ocr, erp) {\n  const ocrNorm = normalize(ocr);\n  const erpNorm = normalize(erp);\n  if (ocrNorm === erpNorm) return 100;\n  const ocrWords = new Set(ocrNorm.split(' '));\n  const erpWords = new Set(erpNorm.split(' '));\n  let common = 0;\n  for (const w of ocrWords) {\n    if (erpWords.has(w)) common++;\n  }\n  return (common / Math.max(ocrWords.size, erpWords.size)) * 100;\n}\n\nfunction isConforme(valOcr, valErp) {\n  if (valOcr === null || valOcr === undefined || isNaN(valOcr)) return null;\n  if (valErp === null || valErp === undefined || isNaN(valErp) || valErp === 0) return null;\n  return (Math.abs(valOcr - valErp) / valErp * 100) <= 10;\n}\n\nfunction conformeScore(row, quantiteOcr, montantOcr) {\n  const qteConforme     = isConforme(quantiteOcr, parseFloat(row.Quantite));\n  const montantConforme = isConforme(montantOcr,  parseFloat(row.montant_ht));\n  return (qteConforme === true ? 1 : 0) + (montantConforme === true ? 1 : 0);\n}\n\n// ✅ Score global unique qui combine désignation + conformité\n// - Désignation OK (≥ seuil) → 10000 + scoreDesig  (toujours prioritaire)\n// - Désignation faible       → confScore * 1000 + scoreDesig\n//   → une ligne conforme (confScore=1 → 1000+) bat toujours une ligne non-conforme (max 999)\nfunction scoreGlobal(scoreDesig, confScore, seuil) {\n  if (scoreDesig >= seuil) return 10000 + scoreDesig;\n  return confScore * 1000 + scoreDesig;\n}\n\nfunction buildResult(row, scoreDesig, quantiteOcr, montantOcr) {\n  const SCORE_SEUIL = 40;\n  let matchConfirme, alerte;\n\n  if (scoreDesig >= SCORE_SEUIL) {\n    matchConfirme = true;\n    alerte = '';\n  } else {\n    const qteConforme     = isConforme(quantiteOcr, parseFloat(row.Quantite));\n    const montantConforme = isConforme(montantOcr,  parseFloat(row.montant_ht));\n\n    if (qteConforme === true || montantConforme === true) {\n      matchConfirme = true;\n      alerte = 'Désignation faible — match confirmé par quantité/montant';\n    } else if (qteConforme === null && montantConforme === null) {\n      matchConfirme = false;\n      alerte = 'Désignation faible et données quantité/montant absentes';\n    } else {\n      matchConfirme = false;\n      alerte = 'Désignation faible et aucune cohérence quantité/montant';\n    }\n  }\n\n  return {\n    ...row,\n    _score_designation: Math.round(scoreDesig),\n    _match_confirme:    matchConfirme,\n    _alerte:            alerte\n  };\n}\n\nconst SCORE_SEUIL = 40;\n\n// ── Grouper par designation_ocr + quantite_ocr + montant_ht_ocr ─────\nconst ocrGroups = {};\nfor (const item of items) {\n  const { designation_ocr, quantite_ocr, montant_ht_ocr } = item.json;\n  const compositeKey = `${designation_ocr}||${quantite_ocr ?? ''}||${montant_ht_ocr ?? ''}`;\n  if (!ocrGroups[compositeKey]) {\n    ocrGroups[compositeKey] = {\n      designationOcr: designation_ocr,\n      quantiteOcr:    parseFloat(quantite_ocr)   || null,\n      montantOcr:     parseFloat(montant_ht_ocr) || null,\n      rows: []\n    };\n  }\n  ocrGroups[compositeKey].rows.push(item.json);\n}\n\n// ── Pour chaque groupe, choisir la meilleure ligne ERP ───────\nconst results = [];\n\nfor (const group of Object.values(ocrGroups)) {\n  const { designationOcr, quantiteOcr, montantOcr, rows } = group;\n\n  let bestRow         = null;\n  let bestScoreGlobal = -1;\n  let bestMontantDiff = Infinity;\n\n  for (const row of rows) {\n    const scoreDesig  = scoreMatch(designationOcr, row.ITMDES1_0);\n    const confScore   = conformeScore(row, quantiteOcr, montantOcr);\n    const sg          = scoreGlobal(scoreDesig, confScore, SCORE_SEUIL);\n    const montantDiff = Math.abs((parseFloat(row.montant_ht) || 0) - (montantOcr || 0));\n\n    const isBetter =\n      sg > bestScoreGlobal ||\n      (sg === bestScoreGlobal && montantDiff < bestMontantDiff);\n\n    if (isBetter) {\n      bestScoreGlobal = sg;\n      bestMontantDiff = montantDiff;\n      bestRow         = row;\n    }\n  }\n\n  if (bestRow) {\n    const scoreDesigFinal = scoreMatch(designationOcr, bestRow.ITMDES1_0);\n    results.push({ json: buildResult(bestRow, scoreDesigFinal, quantiteOcr, montantOcr) });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,2848],"id":"b8fffe13-70e7-43d2-b7e5-f1d5d5a087c0","name":"eviter les doublons2"},{"parameters":{"jsCode":"const raw = $input.first().json.text;\nconst jsonMatch = raw.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nconst jsonString = jsonMatch ? jsonMatch[1] : raw.trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  throw new Error(\"Failed to parse JSON: \" + e.message);\n}\n\nconst blRaw = parsed.bon_de_livraison;\nconst blList = Array.isArray(blRaw) ? blRaw : (blRaw ? [blRaw] : []);\nconst factures = parsed.facture_liee || parsed.facture || [];\n\nfunction cleanBC(value) {\n  if (!value) return '';\n  let cleaned = value\n    .replace(/N°/gi, '')\n    .replace(/:/g, '')\n    .replace(/\\s+/g, '')\n    .trim();\n  if (/^\\d+$/.test(cleaned)) cleaned = 'BC' + cleaned;\n  if (/^bc\\d+$/i.test(cleaned)) cleaned = cleaned.toUpperCase();\n  return cleaned;\n}\n\nconst results = [];\n\n// ✅ CAS 2 — plusieurs BCs → articles dans bons_de_commande[].articles\nconst bonsDeCommande = parsed.bons_de_commande;\nif (Array.isArray(bonsDeCommande) && bonsDeCommande.length > 0) {\n  for (const bc of bonsDeCommande) {\n    const bl = blList.find(b => b.numero_bl === bc.numero_bl) || blList[0] || {};\n    const facturesDuBL = factures.filter(f => f.numero_bl === bc.numero_bl);\n    const blEnrichi = {\n      ...bl,\n      numero_bc_clean: cleanBC(bc.numero_bc)\n    };\n    for (const article of (bc.articles || [])) {\n      results.push({\n        json: {\n          documents_detectes: parsed.documents_detectes,\n          bon_de_livraison: blEnrichi,\n          article: article,\n          facture_liee: facturesDuBL,\n          bon_de_commande: bc.numero_bc || null\n        }\n      });\n    }\n  }\n}\n\n// ✅ CAS 1 — un seul BC → articles dans parsed.articles racine\nelse {\n  const articles = parsed.articles || [];\n  for (const bl of blList) {\n    const articlesDuBL = articles.filter(a => a.numero_bl === bl.numero_bl);\n    const facturesDuBL = factures.filter(f => f.numero_bl === bl.numero_bl);\n    const blEnrichi = {\n      ...bl,\n      numero_bc_clean: cleanBC(bl.numero_bc)\n    };\n    for (const article of articlesDuBL) {\n      results.push({\n        json: {\n          documents_detectes: parsed.documents_detectes,\n          bon_de_livraison: blEnrichi,\n          article: article,\n          facture_liee: facturesDuBL,\n          bon_de_commande: bl.numero_bc || null\n        }\n      });\n    }\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,3024],"id":"fa2d0ce2-2ef0-4cdf-91a2-9331918a5703","name":"structure donnes1"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.ITMDES1_0 }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.ITMREF_0 }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.ORDDAT_0 }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.BPSNUM_0 }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"},{"id":"e0072034-e60a-4d22-a1fe-b340d3124018","name":"reference_article_fournisseur","value":"={{ $json.reference_article_fournisseur }}","type":"string"},{"id":"ed39748f-5d9b-4319-8272-c2696ce1c1a6","name":"designation_ocr","value":"={{ $json.designation_ocr }}","type":"string"},{"id":"5658fd11-ff7a-47b0-80c0-be882aec877d","name":"score_designation","value":"={{ $json._score_designation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[6368,2832],"id":"dc3f5dbf-46b7-4234-9b74-ec278b25626e","name":"Edit Fields2"},{"parameters":{"fileSelector":"={{ $json.formatted_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-256,3136],"id":"ced6f41e-6a76-4416-a2d5-9fbd10316912","name":"Read/Write Files from Disk"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[672,3376],"id":"1e7cfe95-a2b5-4b09-b5df-4c336dd5ba25","name":"Groq Chat Model","credentials":{"groqApi":{"id":"hyhx001ancGYubiS","name":"Groq account 6"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// ── Séparer les cas résolus des cas à re-traiter ──────────────\nconst resolved  = items.filter(i => i.json._match_confirme === true);\nconst unmatched = items.filter(i => i.json._match_confirme === false);\n\nif (unmatched.length === 0) return resolved;\n\n// ── Pour chaque cas non résolu, construire le contexte complet ─\n// On regroupe toutes les lignes ERP du même BC pour les donner à Claude\nconst bcGroups = {};\nfor (const item of items) {\n  const bc = item.json.POHNUM_0;\n  if (!bcGroups[bc]) bcGroups[bc] = [];\n  // Éviter les doublons de lignes ERP (même ITMREF_0)\n  const alreadyIn = bcGroups[bc].some(r => r.ITMREF_0 === item.json.ITMREF_0);\n  if (!alreadyIn) bcGroups[bc].push(item.json);\n}\n\n// ── Construire un item par cas non résolu avec toutes les lignes ERP dispo ─\nconst toProcess = unmatched.map(item => {\n  const bc       = item.json.POHNUM_0;\n  const erpLines = bcGroups[bc] || [];\n\n  return {\n    json: {\n      // Données OCR du cas non résolu\n      designation_ocr:  item.json.designation_ocr,\n      montant_ht_ocr:   item.json.montant_ht_ocr,\n      quantite_ocr:     item.json.quantite_ocr,\n      numero_bl:        item.json.numero_bl,\n      date_bc:          item.json.ORDDAT_0,\n      code_fournisseur: item.json.BPSNUM_0,\n      marque:           item.json.marque,\n      numero_bc:        item.json.numero_bc,\n\n      // Score initial (pour contexte dans le prompt)\n      _score_initial:   item.json._score_designation,\n      _alerte_initiale: item.json._alerte,\n\n      // Toutes les lignes ERP disponibles pour ce BC (pour le prompt Claude)\n      erp_candidates: JSON.stringify(\n        erpLines.map(r => ({\n          code_article: r.ITMREF_0,\n          designation:  r.ITMDES1_0,\n          quantite:     r.Quantite,\n          montant_ht:   r.montant_ht\n        }))\n      )\n    }\n  };\n});\n\nreturn toProcess;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4720,3088],"id":"111e45eb-733b-4a07-a653-ea0b0e81abb0","name":"Code1"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const text = item.json.text || item.json.output || item.json.content || '';\n\n  let parsed = null;\n\n  // ── Tentative 1 : extraire tableau JSON depuis ```json ... ``` ──\n  const fenceMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/);\n  if (fenceMatch) {\n    try { parsed = JSON.parse(fenceMatch[1]); } catch (e) { parsed = null; }\n  }\n\n  // ── Tentative 2 : extraire tableau brut [ ... ] ──────────────\n  if (!parsed) {\n    const bracketMatch = text.match(/\\[[\\s\\S]*\\]/);\n    if (bracketMatch) {\n      try { parsed = JSON.parse(bracketMatch[0]); } catch (e) { parsed = null; }\n    }\n  }\n\n  // ── Échec total ───────────────────────────────────────────────\n  if (!parsed || !Array.isArray(parsed)) {\n    results.push({\n      json: {\n        _parse_error:   true,\n        _raw_text:      text,\n        _alerte:        'Impossible de parser la réponse LLM',\n        match_confirme: false\n      }\n    });\n    continue;\n  }\n\n  // ── Aplatir chaque objet du tableau ──────────────────────────\n  for (const entry of parsed) {\n    const bl       = entry.bl       || {};\n    const matching = entry.matching || {};\n\n    results.push({\n      json: {\n        // BL\n        numero_bl:                bl.numero_bl   || '',\n        date_bc:                  bl.date_bc     || '',\n        numero_bc:                bl.numero_bc   || '',\n        code_fournisseur:         entry.code_fournisseur || '',\n        quantite_ocr:             entry.quantite_ocr || '',\n        marque:                   entry.marque || '',\n\n        // Matching principal\n        designation_ocr:          matching.designation_ocr  || '',\n        designation_erp:          matching.designation_erp  || '',\n        code_article_erp:         matching.code_article_erp || '',\n\n        // Résultat final\n        match_confirme:           matching.match_confirme   ?? false,\n        niveau_confiance:         matching.niveau_confiance || '',\n        alerte:                   matching.alerte           || '',\n        justification_globale:    matching.justification_globale || '',\n\n        // Analyse sémantique\n        semantique_candidat:      matching.analyse_semantique?.meilleur_candidat     || '',\n        semantique_score:         matching.analyse_semantique?.evaluation_candidates?.[0]?.score_semantique ?? null,\n        semantique_justification: matching.analyse_semantique?.justification_choix   || '',\n        semantique_decomposition: matching.analyse_semantique?.decomposition_ocr     || [],\n\n        // JSON complet pour audit\n        _raw_json: entry\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6784,3072],"id":"7c074fa2-0166-481d-a420-5622c0ded6b1","name":"Code8"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[6032,3072],"id":"51463c7f-91d2-46ae-b2f9-a401321cbdca","name":"Aggregate1"},{"parameters":{"table":{"__rl":true,"value":"bon_reception","mode":"list","cachedResultName":"bon_reception"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_fournisseur","value":"={{ $('Edit Fields3').item.json.code_fournisseur }}"},{"column":"numero_bl","value":"={{ $('Edit Fields3').item.json.numero_bl }}"},{"column":"numero_bc","value":"={{ $('Edit Fields3').item.json.numero_b }}"},{"column":"date_bc","value":"={{ $('Edit Fields3').item.json.date_bc }}"},{"column":"code_article","value":"={{ $('Edit Fields3').item.json.code_article_erp }}"},{"column":"quantite","value":"={{ $('Edit Fields3').item.json.quantite_ocr }}"},{"column":"marque","value":"={{ $('Edit Fields3').item.json.marque }}"},{"column":"date_import","value":"={{ $('Edit Fields3').item.json.date_import }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[7936,3088],"id":"f5091f34-d7e8-43c1-ac01-0f7555d96092","name":"Insert rows in a table4","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  CASE \n    WHEN COUNT(*) = 0 THEN 'introuvable'\n    ELSE 'trouve'\n  END AS status,\n  CASE \n    WHEN COUNT(*) = 0 THEN 'Aucun bon de réception trouvé pour ce BL'\n    ELSE 'Bon de réception trouvé'\n  END AS message,\n  COUNT(*) as total,\n  MAX(numero_bl) as numero_bl\nFROM bon_reception\nWHERE numero_bl = '{{ $json.numero_bl }}' and code_article = '{{ $json.code_article_erp }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[7472,3056],"id":"0be666cc-743d-4ffb-b5bc-440f5b47059e","name":"Execute a SQL query6","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"94033b62-b26d-4d77-9225-5bb190a9096c","leftValue":"={{ $json.status }}","rightValue":"introuvable","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7696,3072],"id":"2f49ebde-8a7e-47dd-bdec-211fec54e65d","name":"If9"},{"parameters":{"assignments":{"assignments":[{"id":"5af052b9-d165-480d-a309-f21723b3179e","name":"numero_bl","value":"={{ $json.numero_bl }}","type":"string"},{"id":"92085402-123e-4997-899e-b2f44827f482","name":"designation_erp","value":"={{ $json.designation_erp }}","type":"string"},{"id":"348c26d2-d3a9-4a50-b3bf-936a7ce462d1","name":"code_article_erp","value":"={{ $json.code_article_erp }}","type":"string"},{"id":"f08b2110-4046-410b-b370-de692083f295","name":"date_bc","value":"={{ $json.date_bc }}","type":"string"},{"id":"33ab5623-3522-4609-963f-aec83fdc36f5","name":"code_fournisseur","value":"={{ $json.code_fournisseur }}","type":"string"},{"id":"cc3df062-ae8b-41a1-bca9-92a2d608bffe","name":"quantite_ocr","value":"={{ $json.quantite_ocr }}","type":"string"},{"id":"f8a6ebbc-4bf1-4cc4-b0c3-db096f0cf1ba","name":"marque","value":"={{ $json.marque }}","type":"string"},{"id":"e7a2ed13-b666-4c67-bca0-01a3cb3a803c","name":"date_import","value":"={{$now}}","type":"string"},{"id":"c3bd6414-f100-47d3-bb77-2e1417cb7859","name":"numero_b","value":"={{ $json.numero_bc }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7232,3056],"id":"bf999da8-df65-4e88-b30d-c12b1e977a34","name":"Edit Fields3"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Récupérer le tableau data du premier item\nconst dataArray = items[0].json.data || [];\n\n// Construire le prompt avec les vraies données sérialisées\nconst articlesJson = JSON.stringify(dataArray, null, 2);\nconst nbArticles   = dataArray.length;\n\n// Construire un résumé lisible article par article pour le prompt\nconst articlesReadable = dataArray.map((article, index) => {\n  const candidates = JSON.parse(article.erp_candidates || '[]');\n  const candidatesReadable = candidates.map(c =>\n    `      · [${c.code_article}] ${c.designation} | Qté: ${c.quantite} | Montant HT: ${c.montant_ht}`\n  ).join('\\n');\n\n  return `ARTICLE ${index + 1} :\n  - designation_ocr   : ${article.designation_ocr}\n  - montant_ht_ocr    : ${article.montant_ht_ocr}\n  - quantite_ocr      : ${article.quantite_ocr}\n  - numero_bl         : ${article.numero_bl}\n  - date_bc           : ${article.date_bc}\n  - marque            : ${article.marque}\n  - code_fournisseur  : ${article.code_fournisseur}\n  - numero_bc         : ${article.numero_bc}\n  - score_initial     : ${article._score_initial}%\n  - alerte_initiale   : ${article._alerte_initiale}\n  - erp_candidates    :\n${candidatesReadable}`;\n}).join('\\n\\n' + '─'.repeat(50) + '\\n\\n');\n\nreturn [{\n  json: {\n    nb_articles:      nbArticles,\n    articles_readable: articlesReadable,\n    articles_json:    articlesJson,\n    // Conserver les données originales pour le parsing après LLM\n    original_data:    dataArray\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6256,3072],"id":"eb81655f-8276-4a06-baba-6d30a2fd9036","name":"Code9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1445ed2b-d28c-43b0-a995-4b442d427127","leftValue":"={{ $json.match_confirme }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7008,3072],"id":"09bbf0bb-798c-43b3-a221-b77b44f9adeb","name":"If10"},{"parameters":{"command":"=C:\\split_pdf\\script.bat \"{{ $json.body.pdf_path }}\" \"{{ $json.body.output_dir }}\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-2080,3040],"id":"29c92f7b-1878-4df1-a4f0-2e54b9c2b1e7","name":"Execute Command"},{"parameters":{"httpMethod":"POST","path":"bon_livraison","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2304,3040],"id":"90ecaf27-fae3-4b58-a0a5-2f66ea71b690","name":"Webhook","webhookId":"7019a2ec-4891-4210-b039-3de304471936"},{"parameters":{"jsCode":"const output = items[0].json.stdout;\nconst result = JSON.parse(output);\n\n// Retourner chaque fichier comme un item séparé avec le chemin complet formaté\nreturn result.files.map(file => ({\n  json: {\n    page_number: file.page_number,\n    file_name: file.file_name,\n    file_path: file.file_path,\n    // Nouveau champ avec le chemin formaté pour n8n\n    formatted_path: `C:/hicham/data/document_pages/${file.file_name}`,\n    total_pages: result.total_pages\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1856,3040],"id":"bfbeef9c-8885-42f3-afb7-50aad3a13fe9","name":"Code10"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-976,3040],"id":"c9b74247-46bc-4a29-b2b6-e32f2f0dea7c","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-336,2928],"id":"e0229896-caf2-408d-b433-1cd0686ed8a0"},{"parameters":{"promptType":"define","text":"=Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\n⚠️ RÈGLES DE FORMAT DE SORTIE (OBLIGATOIRES) :\n- La réponse doit commencer par { et se terminer par }\n- Ne retourne AUCUN texte avant ou après le JSON\n- N'utilise PAS de Markdown, backticks, explications ou commentaires\n- La sortie doit être un JSON valide parseable par JSON.parse()\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔍 RÈGLES CRITIQUES D'ANALYSE OCR\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. INTERPRÉTATION DES SAUTS DE LIGNE (\\n) :\n   - Chaque \\n représente un RETOUR À LA LIGNE physique dans le document\n   - Dans un tableau OCR, les cellules d'une même colonne séparées par \\n = LIGNES DIFFÉRENTES\n   - Ne jamais décider du nombre d'articles sur la base de la désignation seule\n   - La QUANTITÉ est le seul critère qui détermine le nombre d'articles\n\n2. ANALYSE DES TABLEAUX D'ARTICLES :\n   - Colonnes typiques : Référence | Désignation | Quantité | Prix Unitaire | Montant HT\n   - Chaque ligne du tableau = un article distinct\n   - Le nombre de valeurs dans la colonne Quantité = nombre d'articles à créer\n   - Si une colonne a moins de valeurs que Quantité → voir règles par colonne ci-dessous\n\n3. RÈGLES SPÉCIFIQUES AUX QUANTITÉS :\n   - Toujours des entiers ou décimaux numériques\n   - Ne jamais concaténer : \"1\\n7\" → article 1 qty=1, article 2 qty=7 (pas \"17\")\n   - C'est la colonne de référence principale pour le nombre d'articles\n\n4. RÈGLES SPÉCIFIQUES AUX RÉFÉRENCES :\n   - Si nombre de valeurs = N → chaque valeur = référence d'un article\n   - Si nombre de valeurs < N → répéter la dernière valeur connue pour les articles suivants\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n⚠️ RÈGLE PRIMORDIALE — DÉTERMINATION DU NOMBRE D'ARTICLES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLA QUANTITÉ EST LE SEUL CRITÈRE qui détermine le nombre d'articles N.\nCompter les valeurs dans la colonne \"Quantité\" séparées par \\n = N articles.\n\nMÉTHODE OBLIGATOIRE — appliquer colonne par colonne :\n\n  Étape 1 : COLONNE QUANTITÉ → splitter par \\n → liste de référence → N articles\n            Exemple : \"4\\n4\" → N = 2\n\n  Étape 2 : COLONNE DÉSIGNATION → splitter par \\n → liste de fragments\n            ⚠️ ATTENTION — deux sous-cas possibles :\n\n            SOUS-CAS A — fragments = N :\n              Chaque fragment = désignation distincte d'un article séparé\n              Exemple : \"pliage de tole\\nsoudure\" avec N=2\n              → fragment[0] = \"pliage de tole\"  → Article 1\n              → fragment[1] = \"soudure\"         → Article 2\n              ❌ INTERDIT de concaténer : NE PAS écrire \"pliage de tole soudure\"\n\n            SOUS-CAS B — fragments > N :\n              Les fragments supplémentaires continuent la désignation du même article\n              Exemple : \"ventilateur\\nd extraction\\ntype axial\" avec N=1\n              → tout concaténer → \"ventilateur d extraction type axial\" → Article 1\n\n            SOUS-CAS C — fragments < N :\n              Répéter la dernière désignation connue pour les articles suivants\n\n  Étape 3 : COLONNE RÉFÉRENCE → splitter par \\n\n            - fragments = N → une référence par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 4 : COLONNE MONTANT HT → splitter par \\n\n            - fragments = N → un montant par article\n            - fragments < N → null pour les articles sans montant\n\n  Étape 5 : COLONNE UNITÉ → splitter par \\n\n            - fragments = N → une unité par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 6 : Zipper toutes les listes index par index → créer N objets articles\n\n  Étape 7 — VÉRIFICATION FINALE OBLIGATOIRE :\n            Avant de retourner le JSON, vérifier :\n            ✅ Nombre d'articles créés = N (nombre de valeurs Quantité)\n            ✅ Chaque article a une désignation DIFFÉRENTE si fragments Désignation = N\n            ✅ Aucune désignation ne contient \"\\n\" dans sa valeur finale\n            ✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES CONCRETS :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE 1 — Quantité = 2 valeurs, Désignation = 2 fragments → 2 articles DISTINCTS :\n\n  Données brutes du tableau OCR :\n  | Référence | Désignation              | Quantité | Unité |\n  | C7        | pliage de tole\\nsoudure  | 4\\n4     | U\\nU  |\n\n  Traitement :\n  Quantité    : \"4\\n4\"                    → split → [\"4\",            \"4\"      ] → N = 2\n  Désignation : \"pliage de tole\\nsoudure\" → split → [\"pliage de tole\",\"soudure\"] → 2 fragments = N ✅\n  Référence   : \"C7\"                      → split → [\"C7\"]            → 1 valeur < N → répéter → [\"C7\", \"C7\"]\n  Unité       : \"U\\nU\"                    → split → [\"U\",             \"U\"     ]\n\n  Zip index par index :\n  index 0 → reference=\"C7\", designation=\"pliage de tole\", quantite=4, unite=\"U\"\n  index 1 → reference=\"C7\", designation=\"soudure\",        quantite=4, unite=\"U\"\n\n  Résultat JSON :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"soudure\",        \"quantite\": 4 }\n  ]\n\n  ❌ RÉSULTAT INTERDIT :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 }\n  ]\n\nEXEMPLE 2 — Désignation sur 3 lignes MAIS Quantité = 1 valeur → 1 seul article :\n\n  Quantité    : \"2\"                                      → N = 1\n  Désignation : \"ventilateur\\nd extraction\\ntype axial\"  → 3 fragments > N=1\n  → SOUS-CAS B → concaténer tout → \"ventilateur d extraction type axial\"\n\n  Résultat JSON :\n  [ { \"designation\": \"ventilateur d extraction type axial\", \"quantite\": 2 } ]\n\nEXEMPLE 3 — Quantité = 3 valeurs → 3 articles :\n\n  Quantité    : \"1\\n2\\n1\"                       → N = 3\n  Désignation : \"roulement\\npalier\\ncouvercle\"  → 3 fragments = N ✅\n  Montant     : \"150\\n300\"                      → 2 valeurs < N → montant[2] = null\n\n  Résultat JSON :\n  [\n    { \"designation\": \"roulement\", \"quantite\": 1, \"montant_ht\": 150  },\n    { \"designation\": \"palier\",    \"quantite\": 2, \"montant_ht\": 300  },\n    { \"designation\": \"couvercle\", \"quantite\": 1, \"montant_ht\": null }\n  ]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLES INTERDITES :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  ❌ Ne jamais utiliser \\n de la désignation seule pour compter les articles\n  ❌ Ne jamais fusionner deux quantités séparées par \\n en un seul article\n  ❌ Ne jamais créer plus d'articles que N (nombre de valeurs Quantité)\n  ❌ Ne jamais dupliquer la même désignation quand les fragments Désignation = N\n  ❌ Ne jamais concaténer deux fragments distincts si fragments = N\n  ✅ La Quantité est le seul juge du nombre d'articles\n  ✅ Si fragments Désignation = N → chaque fragment est une désignation UNIQUE et SÉPARÉE\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 REMPLACEMENT DES APOSTROPHES ET CARACTÈRES ACCENTUÉS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Champ \"designation\" : supprimer ou remplacer les caractères suivants :\n  * Apostrophes : ' → remplacer par espace ou supprimer\n  * Caractères accentués : é→e, è→e, ê→e, à→a, â→a, ù→u, û→u, î→i, ô→o, ç→c, ë→e, ï→i, ü→u, œ→oe, æ→ae\n  * Guillemets simples ou doubles : \" ' → supprimer\n  * Tout caractère non ASCII → remplacer par son équivalent ASCII ou supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 RÈGLE CONDITIONNELLE : UN OU PLUSIEURS BCs\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nÉTAPE 1 — Compter les BCs dans le champ \"V/Commande\" ou équivalent :\n  - Extraire tous les numéros BC listés (séparés par \"-\", \"/\", \",\" ou espace)\n  - Compter le nombre total de BCs distincts détectés\n\nCAS 1 — UN SEUL BC détecté :\n  - Mettre \"numero_bc\" directement dans l'objet \"bon_de_livraison\"\n  - Retourner les articles dans le tableau racine \"articles\"\n  - \"bons_de_commande\" = null\n  - Chaque article porte : numero_bl, numero_bc\n\nCAS 2 — PLUSIEURS BCs détectés :\n  - \"articles\" racine = null\n  - Créer un objet dans \"bons_de_commande\" pour CHAQUE BC\n  - Dupliquer TOUS les articles du BL sous chaque BC\n  - Chaque article porte : numero_bl, numero_bc\n  - \"bon_de_livraison\" ne contient PAS de champ numero_bc\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 1 (UN SEUL BC)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": null,\n  \"facture\": null,\n  \"articles\": [\n    {\n      \"numero_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"reference\": \"\",\n      \"designation\": \"\",\n      \"marque\": null,\n      \"quantite\": 0,\n      \"prix_unitaire\": null,\n      \"montant_ht\": null,\n      \"tva\": null\n    }\n  ]\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 2 (PLUSIEURS BCs)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": [\n    {\n      \"numero_bc\": \"\",\n      \"numero_bl\": \"\",\n      \"articles\": [\n        {\n          \"numero_bl\": \"\",\n          \"numero_bc\": \"\",\n          \"reference\": \"\",\n          \"designation\": \"\",\n          \"marque\": null,\n          \"quantite\": 0,\n          \"prix_unitaire\": null,\n          \"montant_ht\": null,\n          \"tva\": null\n        }\n      ]\n    }\n  ],\n  \"facture\": null,\n  \"articles\": null\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n✅ EXEMPLES DE RAISONNEMENT BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE CAS 1 — Un seul BC :\n  V/Commande : BC191397\n  → 1 BC détecté → CAS 1\n  → numero_bc dans bon_de_livraison, articles dans tableau racine\n  → bons_de_commande = null\n\nEXEMPLE CAS 2 — Plusieurs BCs :\n  V/Commande : BC191397 - BC192493 - BC192494\n  → 3 BCs détectés → CAS 2\n  → 3 objets dans bons_de_commande, chacun avec tous les articles dupliqués\n  → articles racine = null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📌 CONTRAINTES MÉTIER\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Si aucun BC détecté → CAS 1 avec numero_bc: null\n- Si un champ est absent ou illisible → null\n- Tous les montants = nombres float\n- Dates = format tel que détecté dans le document\n- Supprimer les espaces inutiles en début/fin de valeur\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📄 CONTENU OCR À ANALYSER :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.pages.map((p, i) => \"--- PAGE \" + (i+1) + \" ---\\n\" + p.markdown).join(\"\\n\\n\") }}","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et tu dois retourner uniquement un JSON propre et structuré, sans aucune explication ni texte supplémentaire.  Règles strictes : - Retourne uniquement du JSON valide - Nettoie les espaces inutiles dans les nombres (ex: \"1 530,0000\" → \"1530.00\") - Si une valeur est vide ou manquante, utilise null - Les montants doivent être des nombres (float) - Ne jamais inventer des données absentes du document"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1056,3136],"id":"3e3e3ca0-1175-44d7-8803-0e5302f8bcdd","name":"Basic LLM Chain6","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1424,3392],"id":"013357d1-265f-45ff-b834-e0b2f7baee64","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"9D9Ns09zAbP5BByW","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"promptType":"define","text":"=Tu es un moteur d'extraction structuré ultra-précis, spécialisé en analyse de documents OCR (bons de livraison).\n\n⚠️ RÈGLES DE FORMAT DE SORTIE (OBLIGATOIRES) :\n- La réponse doit commencer par { et se terminer par }\n- Ne retourne AUCUN texte avant ou après le JSON\n- N'utilise PAS de Markdown, backticks, explications ou commentaires\n- La sortie doit être un JSON valide parseable par JSON.parse()\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔍 RÈGLES CRITIQUES D'ANALYSE OCR\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. INTERPRÉTATION DES SAUTS DE LIGNE (\\n) :\n   - Chaque \\n représente un RETOUR À LA LIGNE physique dans le document\n   - Dans un tableau OCR, les cellules d'une même colonne séparées par \\n = LIGNES DIFFÉRENTES\n   - Ne jamais décider du nombre d'articles sur la base de la désignation seule\n   - La QUANTITÉ est le seul critère qui détermine le nombre d'articles\n\n2. ANALYSE DES TABLEAUX D'ARTICLES :\n   - Colonnes typiques : Référence | Désignation | Quantité | Prix Unitaire | Montant HT\n   - Chaque ligne du tableau = un article distinct\n   - Le nombre de valeurs dans la colonne Quantité = nombre d'articles à créer\n   - Si une colonne a moins de valeurs que Quantité → voir règles par colonne ci-dessous\n\n3. RÈGLES SPÉCIFIQUES AUX QUANTITÉS :\n   - Toujours des entiers ou décimaux numériques\n   - Ne jamais concaténer : \"1\\n7\" → article 1 qty=1, article 2 qty=7 (pas \"17\")\n   - C'est la colonne de référence principale pour le nombre d'articles\n\n4. RÈGLES SPÉCIFIQUES AUX RÉFÉRENCES :\n   - Si nombre de valeurs = N → chaque valeur = référence d'un article\n   - Si nombre de valeurs < N → répéter la dernière valeur connue pour les articles suivants\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n⚠️ RÈGLE PRIMORDIALE — DÉTERMINATION DU NOMBRE D'ARTICLES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLA QUANTITÉ EST LE SEUL CRITÈRE qui détermine le nombre d'articles N.\nCompter les valeurs dans la colonne \"Quantité\" séparées par \\n = N articles.\n\nMÉTHODE OBLIGATOIRE — appliquer colonne par colonne :\n\n  Étape 1 : COLONNE QUANTITÉ → splitter par \\n → liste de référence → N articles\n            Exemple : \"4\\n4\" → N = 2\n\n  Étape 2 : COLONNE DÉSIGNATION → splitter par \\n → liste de fragments\n            ⚠️ ATTENTION — deux sous-cas possibles :\n\n            SOUS-CAS A — fragments = N :\n              Chaque fragment = désignation distincte d'un article séparé\n              Exemple : \"pliage de tole\\nsoudure\" avec N=2\n              → fragment[0] = \"pliage de tole\"  → Article 1\n              → fragment[1] = \"soudure\"         → Article 2\n              ❌ INTERDIT de concaténer : NE PAS écrire \"pliage de tole soudure\"\n\n            SOUS-CAS B — fragments > N :\n              Les fragments supplémentaires continuent la désignation du même article\n              Exemple : \"ventilateur\\nd extraction\\ntype axial\" avec N=1\n              → tout concaténer → \"ventilateur d extraction type axial\" → Article 1\n\n            SOUS-CAS C — fragments < N :\n              Répéter la dernière désignation connue pour les articles suivants\n\n  Étape 3 : COLONNE RÉFÉRENCE → splitter par \\n\n            - fragments = N → une référence par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 4 : COLONNE MONTANT HT → splitter par \\n\n            - fragments = N → un montant par article\n            - fragments < N → null pour les articles sans montant\n\n  Étape 5 : COLONNE UNITÉ → splitter par \\n\n            - fragments = N → une unité par article\n            - fragments < N → répéter la dernière valeur\n\n  Étape 6 : Zipper toutes les listes index par index → créer N objets articles\n\n  Étape 7 — VÉRIFICATION FINALE OBLIGATOIRE :\n            Avant de retourner le JSON, vérifier :\n            ✅ Nombre d'articles créés = N (nombre de valeurs Quantité)\n            ✅ Chaque article a une désignation DIFFÉRENTE si fragments Désignation = N\n            ✅ Aucune désignation ne contient \"\\n\" dans sa valeur finale\n            ✅ Aucune désignation ne fusionne deux fragments distincts si N > 1\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nEXEMPLES CONCRETS :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE 1 — Quantité = 2 valeurs, Désignation = 2 fragments → 2 articles DISTINCTS :\n\n  Données brutes du tableau OCR :\n  | Référence | Désignation              | Quantité | Unité |\n  | C7        | pliage de tole\\nsoudure  | 4\\n4     | U\\nU  |\n\n  Traitement :\n  Quantité    : \"4\\n4\"                    → split → [\"4\",            \"4\"      ] → N = 2\n  Désignation : \"pliage de tole\\nsoudure\" → split → [\"pliage de tole\",\"soudure\"] → 2 fragments = N ✅\n  Référence   : \"C7\"                      → split → [\"C7\"]            → 1 valeur < N → répéter → [\"C7\", \"C7\"]\n  Unité       : \"U\\nU\"                    → split → [\"U\",             \"U\"     ]\n\n  Zip index par index :\n  index 0 → reference=\"C7\", designation=\"pliage de tole\", quantite=4, unite=\"U\"\n  index 1 → reference=\"C7\", designation=\"soudure\",        quantite=4, unite=\"U\"\n\n  Résultat JSON :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"soudure\",        \"quantite\": 4 }\n  ]\n\n  ❌ RÉSULTAT INTERDIT :\n  [\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 },\n    { \"reference\": \"C7\", \"designation\": \"pliage de tole soudure\", \"quantite\": 4 }\n  ]\n\nEXEMPLE 2 — Désignation sur 3 lignes MAIS Quantité = 1 valeur → 1 seul article :\n\n  Quantité    : \"2\"                                      → N = 1\n  Désignation : \"ventilateur\\nd extraction\\ntype axial\"  → 3 fragments > N=1\n  → SOUS-CAS B → concaténer tout → \"ventilateur d extraction type axial\"\n\n  Résultat JSON :\n  [ { \"designation\": \"ventilateur d extraction type axial\", \"quantite\": 2 } ]\n\nEXEMPLE 3 — Quantité = 3 valeurs → 3 articles :\n\n  Quantité    : \"1\\n2\\n1\"                       → N = 3\n  Désignation : \"roulement\\npalier\\ncouvercle\"  → 3 fragments = N ✅\n  Montant     : \"150\\n300\"                      → 2 valeurs < N → montant[2] = null\n\n  Résultat JSON :\n  [\n    { \"designation\": \"roulement\", \"quantite\": 1, \"montant_ht\": 150  },\n    { \"designation\": \"palier\",    \"quantite\": 2, \"montant_ht\": 300  },\n    { \"designation\": \"couvercle\", \"quantite\": 1, \"montant_ht\": null }\n  ]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRÈGLES INTERDITES :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  ❌ Ne jamais utiliser \\n de la désignation seule pour compter les articles\n  ❌ Ne jamais fusionner deux quantités séparées par \\n en un seul article\n  ❌ Ne jamais créer plus d'articles que N (nombre de valeurs Quantité)\n  ❌ Ne jamais dupliquer la même désignation quand les fragments Désignation = N\n  ❌ Ne jamais concaténer deux fragments distincts si fragments = N\n  ✅ La Quantité est le seul juge du nombre d'articles\n  ✅ Si fragments Désignation = N → chaque fragment est une désignation UNIQUE et SÉPARÉE\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 REMPLACEMENT DES APOSTROPHES ET CARACTÈRES ACCENTUÉS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Champ \"designation\" : supprimer ou remplacer les caractères suivants :\n  * Apostrophes : ' → remplacer par espace ou supprimer\n  * Caractères accentués : é→e, è→e, ê→e, à→a, â→a, ù→u, û→u, î→i, ô→o, ç→c, ë→e, ï→i, ü→u, œ→oe, æ→ae\n  * Guillemets simples ou doubles : \" ' → supprimer\n  * Tout caractère non ASCII → remplacer par son équivalent ASCII ou supprimer\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔀 RÈGLE CONDITIONNELLE : UN OU PLUSIEURS BCs\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nÉTAPE 1 — Compter les BCs dans le champ \"V/Commande\" ou équivalent :\n  - Extraire tous les numéros BC listés (séparés par \"-\", \"/\", \",\" ou espace)\n  - Compter le nombre total de BCs distincts détectés\n\nCAS 1 — UN SEUL BC détecté :\n  - Mettre \"numero_bc\" directement dans l'objet \"bon_de_livraison\"\n  - Retourner les articles dans le tableau racine \"articles\"\n  - \"bons_de_commande\" = null\n  - Chaque article porte : numero_bl, numero_bc\n\nCAS 2 — PLUSIEURS BCs détectés :\n  - \"articles\" racine = null\n  - Créer un objet dans \"bons_de_commande\" pour CHAQUE BC\n  - Dupliquer TOUS les articles du BL sous chaque BC\n  - Chaque article porte : numero_bl, numero_bc\n  - \"bon_de_livraison\" ne contient PAS de champ numero_bc\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 1 (UN SEUL BC)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": null,\n  \"facture\": null,\n  \"articles\": [\n    {\n      \"numero_bl\": \"\",\n      \"numero_bc\": \"\",\n      \"reference\": \"\",\n      \"designation\": \"\",\n      \"marque\": null,\n      \"quantite\": 0,\n      \"prix_unitaire\": null,\n      \"montant_ht\": null,\n      \"tva\": null\n    }\n  ]\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 FORMAT JSON — CAS 2 (PLUSIEURS BCs)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{\n  \"documents_detectes\": [\"BON_DE_LIVRAISON\"],\n  \"bon_de_livraison\": [\n    {\n      \"numero_bl\": \"\",\n      \"date_bl\": \"\",\n      \"fournisseur\": \"\",\n      \"client\": \"\"\n    }\n  ],\n  \"bons_de_commande\": [\n    {\n      \"numero_bc\": \"\",\n      \"numero_bl\": \"\",\n      \"articles\": [\n        {\n          \"numero_bl\": \"\",\n          \"numero_bc\": \"\",\n          \"reference\": \"\",\n          \"designation\": \"\",\n          \"marque\": null,\n          \"quantite\": 0,\n          \"prix_unitaire\": null,\n          \"montant_ht\": null,\n          \"tva\": null\n        }\n      ]\n    }\n  ],\n  \"facture\": null,\n  \"articles\": null\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n✅ EXEMPLES DE RAISONNEMENT BC\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nEXEMPLE CAS 1 — Un seul BC :\n  V/Commande : BC191397\n  → 1 BC détecté → CAS 1\n  → numero_bc dans bon_de_livraison, articles dans tableau racine\n  → bons_de_commande = null\n\nEXEMPLE CAS 2 — Plusieurs BCs :\n  V/Commande : BC191397 - BC192493 - BC192494\n  → 3 BCs détectés → CAS 2\n  → 3 objets dans bons_de_commande, chacun avec tous les articles dupliqués\n  → articles racine = null\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📌 CONTRAINTES MÉTIER\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n- Si aucun BC détecté → CAS 1 avec numero_bc: null\n- Si un champ est absent ou illisible → null\n- Tous les montants = nombres float\n- Dates = format tel que détecté dans le document\n- Supprimer les espaces inutiles en début/fin de valeur\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📄 CONTENU OCR À ANALYSER :\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n{{ $json.pages.map((p, i) => \"--- PAGE \" + (i+1) + \" ---\\n\" + p.markdown).join(\"\\n\\n\") }}","messages":{"messageValues":[{"message":"Tu es un assistant spécialisé dans l'extraction de données structurées à partir de documents OCR au format Markdown. Tu reçois le contenu brut d'une facture extrait par OCR et tu dois retourner uniquement un JSON propre et structuré, sans aucune explication ni texte supplémentaire.  Règles strictes : - Retourne uniquement du JSON valide - Nettoie les espaces inutiles dans les nombres (ex: \"1 530,0000\" → \"1530.00\") - Si une valeur est vide ou manquante, utilise null - Les montants doivent être des nombres (float) - Ne jamais inventer des données absentes du document"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1408,3152],"id":"e06d3bc2-e8b0-4ac7-8e84-9bb54046db21","name":"Basic LLM Chain7","retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const escape = (val) => {\n  if (val === null || val === undefined) return '';\n  return String(val).replace(/'/g, \"''\");\n};\n\n// ✅ Parcourir TOUS les items avec $input.all()\nreturn $input.all().map(item => {\n  const i = item.json;\n  return {\n    json: {\n      ...i,\n      article: {\n        ...i.article,\n        designation: escape(i.article?.designation),\n        marque:      escape(i.article?.marque),\n        montant_ht:  escape(i.article?.montant_ht),\n        quantite:    escape(i.article?.quantite),\n        numero_bl:   escape(i.article?.numero_bl),\n      },\n      bon_de_livraison: {\n        ...i.bon_de_livraison,\n        numero_bc_clean: escape(i.bon_de_livraison?.numero_bc_clean),\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,3024],"id":"a10917f4-1cf7-4599-ae6a-915ec8f99202","name":"Code11"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[432,3200],"id":"96dc0dcf-bffb-42c4-b06a-501d4fff1ceb","name":"Wait3","webhookId":"84c2a8f1-3ab5-42c3-96b6-ee8e347fdd40"},{"parameters":{"table":{"__rl":true,"value":"dataset_designation","mode":"list","cachedResultName":"dataset_designation"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"code_article","value":"={{ $('Edit Fields2').item.json.code_article_erp }}"},{"column":"designation_interne","value":"={{ $('Edit Fields2').item.json.designation_erp }}"},{"column":"designation_fournisseur","value":"={{ $('Edit Fields2').item.json.designation_ocr }}"},{"column":"reference_fournisseur","value":"={{ $('Edit Fields2').item.json.reference_article_fournisseur }}"},{"column":"code_fournisseur","value":"={{ $('Edit Fields2').item.json.code_fournisseur }}"},{"column":"date_import","value":"={{ $('Edit Fields2').item.json.date_import }}"},{"column":"note"},{"column":"score_designation","value":"={{ $('Edit Fields2').item.json.score_designation }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[7296,2800],"id":"4d3ffd0b-ad15-4052-b506-c5429526443e","name":"Insert rows in a table5","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1088,3360],"id":"ea5e5257-fb89-413d-a304-c9739a6859e8","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[6496,3440],"id":"b230e052-68aa-4e58-beb0-4e8bb2f996b7","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"xkN4gsiIyGagzPtE","name":"OpenRouter account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-496,3136],"id":"9466764c-7e12-46f2-8b04-bd4521dbc4bb","name":"Wait4","webhookId":"8337bc5d-2b18-4777-8741-b58d53cf2356"},{"parameters":{"operation":"executeQuery","query":"select \n    POHNUM_0,\n    ORDDAT_0,\n    BPSNUM_0,\n    '{{ $('Code11').item.json.article.reference }}' as reference_article_fournisseur,\n    A.ITMREF_0,\n    A.ITMDES1_0,\n    A.XACH_0 as Acheteur,\n    A.XMARQ_0 as marque,\n    QTYSTU_0 as Quantite,\n    RCPQTYSTU_0 as Quantite_receptionnee,\n    LINAMT_0 as montant_ht,\n    '{{ $('Code11').item.json.article.numero_bl }}' as numero_bl,\n    '{{ $('Code11').item.json.article.designation }}' as designation_ocr,\n    '{{ $('Code11').item.json.article.marque }}' as marque_ocr,\n    '{{ $('Code11').item.json.article.montant_ht }}' as montant_ht_ocr,\n    '{{ $('Code11').item.json.article.quantite }}' as quantite_ocr,\n   '{{ $('Code11').item.json.bon_de_livraison.numero_bc_clean }}'  as numero_bc\n    from x3.BASE1.PORDERQ O ,BASE1.ITMMASTER A \n    where \n    O.ITMREF_0=A.ITMREF_0 \n    and   POHNUM_0='{{ $json.POHNUM_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[3904,3456],"id":"e4dab71e-0251-449c-8342-6113049097d8","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"command":"=C:\\hicham\\scripts\\match_article_br\\script.bat \"C:\\hicham\\scripts\\match_article_br\\input_temp.json\""},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2944,3120],"id":"0cd659b0-bd1e-4c66-8ccd-eae083951b26","name":"Execute Command1"},{"parameters":{"jsCode":"// Run Once for All Items ✅\nconst fs = require('fs');\n\n// Récupérer TOUS les items\nconst data = $input.all().map(item => item.json);\n\n// Écrire le tableau complet\nfs.writeFileSync(\n  'C:\\\\hicham\\\\scripts\\\\match_article_br\\\\input_temp.json',\n  JSON.stringify(data, null, 2),\n  'utf-8'\n);\n\n// Retourner tous les items pour la suite du workflow\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,3120],"id":"fdccac51-c25c-414d-99dc-455f71588c1d","name":"Code"},{"parameters":{"jsCode":"// Mode: Run Once for All Items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const stdout = item.json.stdout;\n  \n  if (!stdout || stdout.trim() === '') {\n    results.push({ json: { error: \"stdout vide\", raw: item.json } });\n    continue;\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(stdout);\n  } catch (e) {\n    results.push({ json: { error: \"JSON parse error: \" + e.message, raw: stdout.slice(0, 300) } });\n    continue;\n  }\n\n  // Normalise en tableau\n  const lines = Array.isArray(parsed) ? parsed : [parsed];\n\n  for (const line of lines) {\n    results.push({ json: line });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,3120],"id":"70dd005c-b02e-4616-b97b-51eb308b3c98","name":"Code2"}],"connections":{"Execute a SQL query3":{"main":[[{"node":"If1","type":"main","index":0}]]},"Execute a SQL query4":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute a SQL query3","type":"main","index":0}],[]]},"If1":{"main":[[{"node":"eviter les doublons2","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Microsoft SQL2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"🔍 OCR Page1":{"main":[[{"node":"Basic LLM Chain4","type":"main","index":0}],[{"node":"Wait3","type":"main","index":0}]]},"Code5":{"main":[[{"node":"🔍 OCR Page1","type":"main","index":0}]]},"Basic LLM Chain4":{"main":[[{"node":"structure donnes1","type":"main","index":0}],[{"node":"Basic LLM Chain6","type":"main","index":0}]]},"Basic LLM Chain5":{"main":[[{"node":"Code8","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Insert rows in a table3":{"main":[[{"node":"Insert rows in a table5","type":"main","index":0}]]},"Execute a SQL query5":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Insert rows in a table3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"eviter les doublons2":{"main":[[{"node":"If7","type":"main","index":0}]]},"structure donnes1":{"main":[[{"node":"Code11","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute a SQL query5","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain4","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Code8":{"main":[[{"node":"If10","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Insert rows in a table4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Execute a SQL query6":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Insert rows in a table4","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Execute a SQL query6","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Basic LLM Chain5","type":"main","index":0}]]},"If10":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Code10","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Code10":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Basic LLM Chain6":{"main":[[{"node":"structure donnes1","type":"main","index":0}],[{"node":"Basic LLM Chain7","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain7","type":"ai_languageModel","index":0}]]},"Basic LLM Chain7":{"main":[[{"node":"structure donnes1","type":"main","index":0}]]},"Code11":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Insert rows in a table5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain6","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain5","type":"ai_languageModel","index":0}]]},"Wait4":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"eviter les doublons1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"user-agent":"Mozilla/5.0 (Windows NT; Windows NT 10.0; fr-FR) WindowsPowerShell/5.1.17763.6640","content-type":"application/json","host":"192.168.1.211:5678","content-length":"235","connection":"Keep-Alive"},"params":{},"query":{},"body":{"output_dir":"C:\\hicham\\data\\document_pages","file_name":"BR1902162025080180462-2.pdf","pdf_path":"C:\\hicham\\data\\bon_livraison\\BR1902162025080180462-2.pdf","detected_at":"2026-06-08 12:18:35"},"webhookUrl":"192.168.1.211:5678/webhook/bon_livraison","executionMode":"production"}}]},"versionId":"2791d272-44ab-4072-9309-63d883dcff5f","triggerCount":1,"tags":[]}