notification d'absece-Peh7zzYKEzPtdsth.json
{"createdAt":"2026-01-09T17:56:06.135Z","updatedAt":"2026-02-05T08:25:17.000Z","id":"Peh7zzYKEzPtdsth","name":"notification d'absece","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"notification_absence","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,264],"id":"accd74b5-c295-46b1-9fc2-619c75a3dbc5","name":"Webhook","webhookId":"6f9a3c62-79e6-4cd8-a92d-93834d27664f"},{"parameters":{"operation":"executeQuery","query":"select \n        s.XNAMSAL_0 as nom_salarie\n       ,s.XPRENOM_0 as prenom_salarie\n       ,s.XSAL_0 as code_x3_salarie\n       , p.YNUM_0 as code_poste_salarie\n       , p.YTIT_0 as intitule_poste_salarie\n       , s.YTELE_0 as numero_tele_salarie\n       , s.XEMAIL_0 as email_salarie\n       , ss.XNAMSAL_0 as nom_superieur\n       , ss.XPRENOM_0 as prenom_superieur\n       , ss.XEMAIL_0 as email_superieur\n       , ss.YTELE_0 as numero_tele_salarie\n       ,  (SELECT res.XNAMSAL_0 FROM jbelrh.JBELRH.XSAL res WHERE res.XSAL_0 = 'S0331') AS nom_responsable_rh\n       ,  (SELECT res.XPRENOM_0 FROM jbelrh.JBELRH.XSAL res WHERE res.XSAL_0 = 'S0331') AS prenom_responsable_rh\n       ,  (SELECT res.XEMAIL_0 FROM jbelrh.JBELRH.XSAL res WHERE res.XSAL_0 = 'S0331') AS email_responsable_rh\n       ,    -- ─── INFOS IA – SALARIÉ ───\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = s.XSAL_0) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = s.XSAL_0) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = s.XSAL_0) AS bot_salarie,\n\n    -- ─── INFOS IA – SUPÉRIEUR ───\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = ss.XSAL_0) AS chat_id_superieur,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = ss.XSAL_0) AS langue_superieur,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = ss.XSAL_0) AS bot_superieur,\n\n    -- ─── INFOS IA – RES ───\n\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = 'S0331') AS chat_id_responsable,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = 'S0331') AS bot_responsable,\n    (SELECT inf.TIDCHAT_0   FROM jbelrh.JBELRH.YAIINFOSAL inf where inf.XSAL_0='S0331') AS langue_responsable\n    from jbelrh.JBELRH.XSAL s\n    left join jbelrh.JBELRH.ZPOSTE p \n        on p.YNUM_0=s.ZPOSTE_0\n    left join jbelrh.JBELRH.XSAL ss\n        on ss.XSAL_0=s.YSUP_0\n\n\n\nwhere s.XSAL_0 = '{{ $json.sourceData.query.Salarie }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[240,168],"id":"6bd1df98-a8c0-467a-ad59-7310ba774837","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"chatId":"={{ $json.messages.telegram.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1360,-24],"id":"e6940db2-375e-462e-8321-9bb1cb5fb5e7","name":"Send a text message","webhookId":"1e1a9f81-9db0-47c4-9bb0-b7db8e137c76","notesInFlow":false,"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"alwaysOutputData":true,"credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"onError":"continueErrorOutput"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.messages.email.to }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1136,264],"id":"99146605-ea0d-4e69-918f-2cc1cab34697","name":"Send email","webhookId":"40feba65-697a-48fe-a701-013956192d2c","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd602319-d05c-4a38-a6d1-bcae3d3f72b6","leftValue":"={{ $json.data.valide }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,264],"id":"5f19067e-45df-409e-acdb-14dd6b944310","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,360],"id":"3fc809a8-c0ff-406e-90d7-d6162b7cff38","name":"No Operation, do nothing"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION NOTIFICATIONS AVEC LIEN FORMULAIRE JUSTIFICATION\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\n// URL de votre serveur de formulaire (à configurer)\nconst BASE_URL_FORMULAIRE = 'https://formulaire-absence-jbel-annour.netlify.app/';\n\n// ─────────────────────────────────────────────────────────────\n// FONCTION POUR GÉNÉRER TOKEN UNIQUE\n// ─────────────────────────────────────────────────────────────\n\nfunction genererTokenUnique(codeX3, dateAbsence) {\n  // Créer un token unique basé sur code X3 + date + timestamp\n  const timestamp = Date.now();\n  const data = `${codeX3}-${dateAbsence}-${timestamp}`;\n  \n  // Simple encodage Base64 (en production, utilisez un vrai JWT ou hash sécurisé)\n  const token = Buffer.from(data).toString('base64')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_')\n    .replace(/=/g, '');\n  \n  return token;\n}\n\n// ─────────────────────────────────────────────────────────────\n// FONCTION POUR CRÉER LIEN FORMULAIRE\n// ─────────────────────────────────────────────────────────────\n\nfunction creerLienFormulaire(data) {\n  const dateAbsence = new Date().toISOString().split('T')[0];\n  const token = genererTokenUnique(data.code_poste_salarie, dateAbsence);\n  \n  const params = new URLSearchParams({\n    token: token,\n    code: data.code_poste_salarie,\n    nom: `${data.prenom_salarie} ${data.nom_salarie}`,\n    date: dateAbsence\n  });\n  \n  return `${BASE_URL_FORMULAIRE}?${params.toString()}`;\n}\n\n// ─────────────────────────────────────────────────────────────\n// TEMPLATES AVEC LIEN FORMULAIRE\n// ─────────────────────────────────────────────────────────────\n\nconst TEMPLATES = {\n  FRA: {\n    salarie: {\n      bouton_justifier: '🔗 JUSTIFIER MON ABSENCE MAINTENANT',\n      instruction_formulaire: 'Cliquez sur le lien ci-dessous pour remplir le formulaire de justification',\n      lien_direct: 'Lien direct',\n      ou_bien: 'Ou copiez ce lien dans votre navigateur',\n      delai_formulaire: '⚠️ Ce lien est valable 48 heures'\n    }\n  },\n  ARA: {\n    salarie: {\n      bouton_justifier: '🔗 تبرير غيابي الآن',\n      instruction_formulaire: 'انقر على الرابط أدناه لملء نموذج التبرير',\n      lien_direct: 'رابط مباشر',\n      ou_bien: 'أو انسخ هذا الرابط في متصفحك',\n      delai_formulaire: '⚠️ هذا الرابط صالح لمدة 48 ساعة'\n    }\n  },\n  ENG: {\n    salarie: {\n      bouton_justifier: '🔗 JUSTIFY MY ABSENCE NOW',\n      instruction_formulaire: 'Click the link below to fill out the justification form',\n      lien_direct: 'Direct link',\n      ou_bien: 'Or copy this link in your browser',\n      delai_formulaire: '⚠️ This link is valid for 48 hours'\n    }\n  }\n};\n\nfunction getLangue(langueData) {\n  if (!langueData) return 'FRA';\n  const langue = langueData.toUpperCase();\n  return ['FRA', 'ARA', 'ENG'].includes(langue) ? langue : 'FRA';\n}\n\n// ─────────────────────────────────────────────────────────────\n// GÉNÉRATION MESSAGE AVEC LIEN\n// ─────────────────────────────────────────────────────────────\n\nfunction genererMessageSalarieAvecLien(data) {\n  const langue = getLangue(data.langue_salarie);\n  const T = TEMPLATES[langue].salarie;\n  const lienFormulaire = creerLienFormulaire(data);\n\n  // ─── EMAIL ───\n  const emailSubject = `⚠️ ALERTE - Absence de pointage détectée`;\n  \n  let emailBody = `Bonjour ${data.prenom_salarie},\\n\\n`;\n  emailBody += `Une absence de pointage a été détectée dans le système SAGE X3.\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `🔴 ACTION IMMÉDIATE REQUISE\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  \n  emailBody += `${T.instruction_formulaire} :\\n\\n`;\n  emailBody += `👉 ${T.bouton_justifier}\\n`;\n  emailBody += `${lienFormulaire}\\n\\n`;\n  \n  emailBody += `${T.ou_bien} :\\n`;\n  emailBody += `${lienFormulaire}\\n\\n`;\n  \n  emailBody += `${T.delai_formulaire}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 INFORMATIONS\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `Nom: ${data.prenom_salarie} ${data.nom_salarie}\\n`;\n  emailBody += `Code: ${data.code_poste_salarie}\\n`;\n  emailBody += `Poste: ${data.intitule_poste_salarie}\\n`;\n  emailBody += `Date absence: ${new Date().toLocaleDateString('fr-FR')}\\n\\n`;\n  \n  emailBody += `⚠️ IMPORTANT:\\n`;\n  emailBody += `- Si vous avez oublié de pointer, contactez votre supérieur\\n`;\n  emailBody += `- Si vous étiez absent(e), remplissez le formulaire de justification\\n`;\n  emailBody += `- Délai maximum: 24 heures\\n\\n`;\n  \n  emailBody += `Cordialement,\\n`;\n  emailBody += `Service RH - Jbel Annour\\n`;\n\n  // ─── TELEGRAM ───\n  let telegramMessage = `🚨 *ABSENCE DE POINTAGE DÉTECTÉE*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `Bonjour *${data.prenom_salarie}*,\\n\\n`;\n  telegramMessage += `Une absence a été détectée dans le système.\\n\\n`;\n  telegramMessage += `🔴 *ACTION IMMÉDIATE*\\n\\n`;\n  telegramMessage += `${T.instruction_formulaire}:\\n\\n`;\n  telegramMessage += `[${T.bouton_justifier}](${lienFormulaire})\\n\\n`;\n  telegramMessage += `⏰ Délai: *24 heures maximum*\\n`;\n  telegramMessage += `${T.delai_formulaire}\\n\\n`;\n  telegramMessage += `📅 Date: ${new Date().toLocaleDateString('fr-FR')}\\n`;\n  telegramMessage += `💼 Code: ${data.code_poste_salarie}\\n`;\n\n  return {\n    email: {\n      subject: emailSubject,\n      body: emailBody,\n      to: data.email_salarie\n    },\n    telegram: {\n      text: telegramMessage,\n      parse_mode: 'Markdown',\n      chat_id: data.chat_id_salarie,\n      bot: data.bot_salarie\n    },\n    lien_formulaire: lienFormulaire,\n    token_justification: genererTokenUnique(data.code_poste_salarie, new Date().toISOString().split('T')[0])\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// TRAITEMENT\n// ─────────────────────────────────────────────────────────────\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  \n  const messagesAvecLien = genererMessageSalarieAvecLien(data);\n  \n  results.push({\n    json: {\n      type_envoi: 'SALARIE_AVEC_FORMULAIRE',\n      destinataire: 'salarie',\n      nom_complet: `${data.prenom_salarie} ${data.nom_salarie}`,\n      code_x3: data.code_poste_salarie,\n      messages: messagesAvecLien,\n      langue: getLangue(data.langue_salarie),\n      date_absence: new Date().toISOString(),\n      \n      // Données pour le suivi\n      token_justification: messagesAvecLien.token_justification,\n      lien_formulaire: messagesAvecLien.lien_formulaire,\n      statut_justification: 'EN_ATTENTE',\n      date_limite_justification: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString(), // 24h\n      \n      data_source: data\n    }\n  });\n});\n\nconsole.log(`\\n📧 Notifications avec formulaire générées: ${results.length}\\n`);\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,-560],"id":"40f52bbd-d448-4967-9e80-0b21089727a3","name":"Code2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,168],"id":"89ab3d21-3963-41fa-aa3a-be4454069a54","name":"Wait","webhookId":"718c8cc9-c06e-4218-8519-7f11bf293859"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[912,168],"id":"ce7e5d36-5fc9-4255-bac5-d2ac754a3057","name":"Wait1","webhookId":"688efbc0-859e-46d0-a013-42d0edc84c3f","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":false,"alwaysOutputData":false,"notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-telegram-error","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-96],"id":"c5365f42-dba5-4c5f-9849-4c9f30f023bf","name":"Check Telegram Error"},{"parameters":{"jsCode":"// ════════════════════════════════════════════════════════════\n// GESTION AMÉLIORÉE ERREUR 429 TELEGRAM - SYSTÈME DE RETRY ROBUSTE\n// ════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst MAX_RETRIES = 10; // ← MODIFIÉ : Passé de 5 à 10 tentatives\nconst BASE_WAIT_SECONDS = 35; // Attente de base augmentée (Telegram demande 30s minimum)\nconst results = [];\n\nfor (const item of inputData) {\n  const currentRetryCount = item.json.retryCount || 0;\n  const error = item.json.error || {};\n  \n  // ═══════════════════════════════════════════════════════════\n  // DÉTECTION ERREUR 429\n  // ═══════════════════════════════════════════════════════════\n  \n  // Vérifier différents formats d'erreur 429\n  const is429Error = \n    error.httpCode === '429' || \n    error.httpCode === 429 ||\n    (typeof error === 'string' && error.includes('429')) ||\n    (typeof error === 'string' && error.toLowerCase().includes('too many requests')) ||\n    (error.message && error.message.includes('429')) ||\n    (error.message && error.message.toLowerCase().includes('too many requests'));\n  \n  // ═══════════════════════════════════════════════════════════\n  // EXTRACTION DU DÉLAI SUGGÉRÉ PAR TELEGRAM\n  // ═══════════════════════════════════════════════════════════\n  \n  let telegramSuggestedWait = 0;\n  \n  if (is429Error) {\n    // Chercher \"retry after XX\" dans le message d'erreur\n    const errorString = typeof error === 'string' ? error : (error.message || '');\n    const retryAfterMatch = errorString.match(/retry after (\\d+)/i);\n    \n    if (retryAfterMatch) {\n      telegramSuggestedWait = parseInt(retryAfterMatch[1], 10);\n      console.log(`⏱️ Délai suggéré par Telegram: ${telegramSuggestedWait}s`);\n    }\n  }\n  \n  // ═══════════════════════════════════════════════════════════\n  // TRAITEMENT ERREUR 429\n  // ═══════════════════════════════════════════════════════════\n  \n  if (is429Error) {\n    const newRetryCount = currentRetryCount + 1;\n    \n    console.log('═══════════════════════════════════════════════════════════');\n    console.log(`🔄 ERREUR 429 DÉTECTÉE - Tentative ${newRetryCount}/${MAX_RETRIES}`);\n    console.log(`Chat ID: ${item.json.messages?.telegram?.chat_id}`);\n    console.log(`Destinataire: ${item.json.nom_complet}`);\n    console.log(`Type: ${item.json.type_envoi}`);\n    console.log('═══════════════════════════════════════════════════════════');\n    \n    if (newRetryCount <= MAX_RETRIES) {\n      // ─────────────────────────────────────────────────────────\n      // CALCUL DU DÉLAI D'ATTENTE PROGRESSIF\n      // ─────────────────────────────────────────────────────────\n      \n      // Utiliser le délai suggéré par Telegram OU un délai progressif\n      let waitSeconds;\n      \n      if (telegramSuggestedWait > 0) {\n        // Ajouter 5 secondes de marge au délai suggéré par Telegram\n        waitSeconds = telegramSuggestedWait + 5;\n      } else {\n        // Progression exponentielle: 35s, 45s, 60s, 75s, 90s, 105s, 120s, 120s, 120s, 120s\n        waitSeconds = Math.min(120, BASE_WAIT_SECONDS + (newRetryCount * 15));\n      }\n      \n      results.push({\n        json: {\n          ...item.json,\n          retryCount: newRetryCount,\n          retryStatus: 'RETRYING',\n          waitSeconds: waitSeconds,\n          telegramSuggestedWait: telegramSuggestedWait,\n          error429: true,\n          retryMessage: `Tentative ${newRetryCount}/${MAX_RETRIES} - Attente ${waitSeconds}s`,\n          originalError: error,\n          errorDetails: {\n            errorType: '429_TOO_MANY_REQUESTS',\n            errorMessage: typeof error === 'string' ? error : (error.message || 'Unknown error'),\n            httpCode: error.httpCode || '429',\n            timestamp: new Date().toISOString()\n          }\n        }\n      });\n      \n      console.log(`✅ Retry programmé`);\n      console.log(`   - Délai suggéré Telegram: ${telegramSuggestedWait}s`);\n      console.log(`   - Délai appliqué: ${waitSeconds}s`);\n      console.log(`   - Tentative: ${newRetryCount}/${MAX_RETRIES}`);\n      \n    } else {\n      // ─────────────────────────────────────────────────────────\n      // MAXIMUM DE TENTATIVES ATTEINT\n      // ─────────────────────────────────────────────────────────\n      \n      results.push({\n        json: {\n          ...item.json,\n          retryCount: newRetryCount,\n          retryStatus: 'MAX_RETRIES_REACHED',\n          error429: true,\n          finalError: `Échec après ${MAX_RETRIES} tentatives - Erreur 429 Telegram persistante`,\n          originalError: error,\n          failureDetails: {\n            totalRetries: MAX_RETRIES,\n            finalErrorMessage: typeof error === 'string' ? error : (error.message || 'Unknown error'),\n            destinataire: item.json.nom_complet,\n            chatId: item.json.messages?.telegram?.chat_id,\n            bot: item.json.messages?.telegram?.bot,\n            typeEnvoi: item.json.type_envoi,\n            timestamp: new Date().toISOString()\n          }\n        }\n      });\n      \n      console.log('═══════════════════════════════════════════════════════════');\n      console.log(`❌ ÉCHEC DÉFINITIF - Maximum de tentatives atteint`);\n      console.log(`   - Destinataire: ${item.json.nom_complet}`);\n      console.log(`   - Chat ID: ${item.json.messages?.telegram?.chat_id}`);\n      console.log(`   - Total tentatives: ${MAX_RETRIES}`);\n      console.log('═══════════════════════════════════════════════════════════');\n    }\n    \n  } else if (error && Object.keys(error).length > 0) {\n    // ─────────────────────────────────────────────────────────\n    // AUTRE TYPE D'ERREUR (NON 429)\n    // ─────────────────────────────────────────────────────────\n    \n    results.push({\n      json: {\n        ...item.json,\n        retryStatus: 'OTHER_ERROR',\n        error429: false,\n        otherError: error,\n        errorDetails: {\n          errorType: 'NON_429_ERROR',\n          errorMessage: typeof error === 'string' ? error : (error.message || 'Unknown error'),\n          httpCode: error.httpCode || 'N/A',\n          timestamp: new Date().toISOString()\n        }\n      }\n    });\n    \n    console.log('═══════════════════════════════════════════════════════════');\n    console.log(`⚠️ ERREUR NON-429 DÉTECTÉE`);\n    console.log(`   - Type: ${error.httpCode || 'Unknown'}`);\n    console.log(`   - Message: ${typeof error === 'string' ? error : (error.message || 'Unknown error')}`);\n    console.log(`   - Destinataire: ${item.json.nom_complet}`);\n    console.log('═══════════════════════════════════════════════════════════');\n    \n  } else {\n    // ─────────────────────────────────────────────────────────\n    // PAS D'ERREUR - TRANSMISSION NORMALE\n    // ─────────────────────────────────────────────────────────\n    \n    results.push({\n      json: {\n        ...item.json,\n        retryStatus: 'SUCCESS',\n        error429: false,\n        successDetails: {\n          status: 'MESSAGE_SENT',\n          timestamp: new Date().toISOString()\n        }\n      }\n    });\n  }\n}\n\n// ═══════════════════════════════════════════════════════════\n// RAPPORT FINAL\n// ═══════════════════════════════════════════════════════════\n\nconsole.log('\\n═══════════════════════════════════════════════════════════');\nconsole.log('📊 RAPPORT TRAITEMENT ERREURS TELEGRAM');\nconsole.log('═══════════════════════════════════════════════════════════');\nconsole.log(`Total items traités: ${results.length}`);\nconsole.log(`  - Retry programmés: ${results.filter(r => r.json.retryStatus === 'RETRYING').length}`);\nconsole.log(`  - Échecs définitifs: ${results.filter(r => r.json.retryStatus === 'MAX_RETRIES_REACHED').length}`);\nconsole.log(`  - Autres erreurs: ${results.filter(r => r.json.retryStatus === 'OTHER_ERROR').length}`);\nconsole.log(`  - Succès: ${results.filter(r => r.json.retryStatus === 'SUCCESS').length}`);\nconsole.log('═══════════════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,-192],"id":"ea0e3568-0459-4c2b-bc5a-bab27d47b678","name":"Handle 429 Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-retry-status","leftValue":"={{ $json.retryStatus }}","rightValue":"RETRYING","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,-288],"id":"081af74a-b57c-4fc3-9919-56504b7ca142","name":"Can Retry?"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2256,96],"id":"75c24098-ceac-4994-a538-8eda0d0e0781","name":"Wait Before Retry","webhookId":"wait-429-retry"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1808,0],"id":"20a73271-99cf-4562-8ac1-d9afaf454ef0","name":"Telegram Success"},{"parameters":{"jsCode":"// Fonction de validation du paramètre Q\nfunction verifierParametreQ(valeur) {\n  if (!valeur) {\n    return {\n      valide: false,\n      erreur: \"Le paramètre q est manquant\"\n    };\n  }\n\n  // Expression régulière pour vérifier le format S + 4 chiffres\n  const regex = /^S\\d{4}$/;\n\n  if (!regex.test(valeur)) {\n    return {\n      valide: false,\n      erreur: `Format invalide: \"${valeur}\". Format attendu: S suivi de 4 chiffres (ex: S0235)`\n    };\n  }\n\n  const numero = valeur.substring(1);\n\n  return {\n    valide: true,\n    valeurComplete: valeur,\n    lettre: valeur[0],\n    numero: numero,\n    numeroEntier: parseInt(numero, 10)\n  };\n}\n\n// Traitement adapté pour la structure de votre webhook\n// Les données arrivent sous forme de tableau avec un objet contenant query, body, params, etc.\n\nconst inputData = $input.all();\n\n// Initialiser le résultat\nlet resultat = {\n  success: false,\n  message: \"\",\n  data: null\n};\n\n// Parcourir les données d'entrée\nfor (const item of inputData) {\n  // Extraire le paramètre q depuis query (minuscule comme dans votre exemple)\n  const paramQ = item.json.query?.Salarie || item.json.body?.Salarie || item.json.params?.Salarie;\n  \n  // Vérifier le paramètre\n  const validation = verifierParametreQ(paramQ);\n  \n  if (!validation.valide) {\n    resultat = {\n      success: false,\n      message: validation.erreur,\n      parametreRecu: paramQ || \"aucun\",\n      sourceData: {\n        query: item.json.query,\n        body: item.json.body,\n        params: item.json.params\n      }\n    };\n  } else {\n    resultat = {\n      success: true,\n      message: \"Paramètre validé avec succès\",\n      data: validation,\n      sourceData: {\n        query: item.json.query,\n        webhookUrl: item.json.webhookUrl,\n        executionMode: item.json.executionMode\n      }\n    };\n  }\n}\n\n// Retourner le résultat\nreturn resultat;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,264],"id":"d866bc8c-652b-4719-8d80-0f9440760935","name":"vérification xsal"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION DE MESSAGES MULTILINGUES (FRA/ARA/ENG)\n// NOTIFICATIONS ABSENCE DE POINTAGE - SAGE X3\n// AVEC FORMULAIRE DE JUSTIFICATION PERSONNALISÉ\n// VERSION: SALARIÉ + SUPÉRIEUR UNIQUEMENT (SANS RH)\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\n// ─────────────────────────────────────────────────────────────\n// CONFIGURATION FORMULAIRE\n// ─────────────────────────────────────────────────────────────\n\nconst FORMULAIRE_BASE_URL = 'https://portailrh.jbel-annour.site/formulaire_abcense/';\n\n// ─────────────────────────────────────────────────────────────\n// TEMPLATES MULTILINGUES - ABSENCE POINTAGE\n// ─────────────────────────────────────────────────────────────\n\nconst TEMPLATES = {\n  FRA: {\n    salarie: {\n      sujet_email: '⚠️ ALERTE - Absence de pointage détectée',\n      salutation: 'Bonjour',\n      intro: 'Une absence de pointage a été détectée dans le système pour votre compte.',\n      alerte_principale: 'ABSENCE DE POINTAGE DÉTECTÉE',\n      section_details: 'DÉTAILS DE L\\'ABSENCE',\n      numero_dossier: 'Numéro de dossier',\n      date_absence: 'Date de l\\'absence',\n      heure_detection: 'Heure de détection',\n      systeme_source: 'Système source',\n      code_employe: 'Code employé',\n      section_profil: 'VOS INFORMATIONS',\n      nom_complet: 'Nom complet',\n      poste: 'Poste',\n      code_poste: 'Code poste',\n      telephone: 'Téléphone',\n      email: 'Email',\n      section_action: 'ACTION REQUISE IMMÉDIATEMENT',\n      instruction_1: '1️⃣ Vérifiez votre pointage de la journée',\n      instruction_2: '2️⃣ Si vous avez oublié de pointer, contactez immédiatement votre supérieur',\n      instruction_3: '3️⃣ Si vous étiez absent(e), justifiez votre absence selon la procédure en vigueur',\n      delai_action: 'Délai de régularisation',\n      delai_valeur: '24 heures maximum',\n      section_formulaire: 'FORMULAIRE DE JUSTIFICATION EN LIGNE',\n      formulaire_intro: 'Pour faciliter votre démarche, utilisez notre formulaire en ligne :',\n      formulaire_cta: '👉 CLIQUEZ ICI POUR JUSTIFIER VOTRE ABSENCE',\n      formulaire_avantages: 'Avantages du formulaire en ligne :',\n      formulaire_avantage_1: '✅ Rapide et sécurisé',\n      formulaire_avantage_2: '✅ Joindre des documents justificatifs',\n      formulaire_avantage_3: '✅ Traitement immédiat par le service RH',\n      section_contact: 'CONTACTS',\n      superieur: 'Votre supérieur hiérarchique',\n      service_rh: 'Service RH',\n      consequence: 'IMPORTANT',\n      consequence_texte: 'Toute absence non justifiée peut entraîner des sanctions disciplinaires conformément au règlement intérieur.',\n      cordialement: 'Cordialement',\n      signature: 'Service RH - Système automatisé Jbel Annour',\n      message_auto: 'Message automatique - Système SAGE X3',\n      ne_pas_repondre: 'Ne pas répondre à cet email - Contactez votre supérieur ou le service RH'\n    },\n    superieur: {\n      sujet_email: '🔴 ALERTE ABSENCE - Votre collaborateur',\n      salutation: 'Bonjour',\n      intro: 'Une absence de pointage a été détectée pour votre collaborateur.',\n      alerte: 'ABSENCE NON POINTÉE DÉTECTÉE',\n      section_collaborateur: 'COLLABORATEUR CONCERNÉ',\n      nom: 'Nom',\n      poste: 'Poste',\n      code_x3: 'Code SAGE X3',\n      email: 'Email',\n      telephone: 'Téléphone',\n      section_absence: 'DÉTAILS DE L\\'ABSENCE',\n      numero_dossier: 'Numéro de dossier',\n      date_absence: 'Date',\n      heure_detection: 'Détection',\n      section_action: 'VOTRE ACTION REQUISE',\n      instruction_1: '1️⃣ Contactez votre collaborateur pour vérification',\n      instruction_2: '2️⃣ Vérifiez si l\\'absence est justifiée (congé, maladie, mission, etc.)',\n      instruction_3: '3️⃣ Demandez la régularisation du pointage si oubli',\n      instruction_4: '4️⃣ Informez le service RH de la situation sous 24h',\n      rappel: 'RAPPEL PROCÉDURE',\n      rappel_texte: 'En cas d\\'absence injustifiée, vous devez déclencher la procédure disciplinaire selon le règlement intérieur.',\n      section_contact: 'CONTACT SERVICE RH',\n      cordialement: 'Cordialement',\n      signature: 'Service RH - Système automatisé Jbel Annour',\n      message_auto: 'Message automatique - Système SAGE X3'\n    }\n  },\n  ARA: {\n    salarie: {\n      sujet_email: '⚠️ تنبيه - غياب في التأشير',\n      salutation: 'مرحبا',\n      intro: 'تم اكتشاف غياب في التأشير في النظام لحسابك.',\n      alerte_principale: 'تم اكتشاف غياب في التأشير',\n      section_details: 'تفاصيل الغياب',\n      numero_dossier: 'رقم الملف',\n      date_absence: 'تاريخ الغياب',\n      heure_detection: 'وقت الاكتشاف',\n      systeme_source: 'مصدر النظام',\n      code_employe: 'رمز الموظف',\n      section_profil: 'معلوماتك',\n      nom_complet: 'الاسم الكامل',\n      poste: 'المنصب',\n      code_poste: 'رمز المنصب',\n      telephone: 'الهاتف',\n      email: 'البريد الإلكتروني',\n      section_action: 'الإجراء المطلوب فورا',\n      instruction_1: '1️⃣ تحقق من تأشيرك لهذا اليوم',\n      instruction_2: '2️⃣ إذا نسيت التأشير، اتصل فورا برئيسك',\n      instruction_3: '3️⃣ إذا كنت غائبا، قم بتبرير غيابك حسب الإجراءات المعمول بها',\n      delai_action: 'مهلة التسوية',\n      delai_valeur: '24 ساعة كحد أقصى',\n      section_formulaire: 'نموذج التبرير عبر الإنترنت',\n      formulaire_intro: 'لتسهيل إجراءاتك، استخدم نموذجنا عبر الإنترنت:',\n      formulaire_cta: '👉 انقر هنا لتبرير غيابك',\n      formulaire_avantages: 'مزايا النموذج عبر الإنترنت:',\n      formulaire_avantage_1: '✅ سريع وآمن',\n      formulaire_avantage_2: '✅ إرفاق مستندات التبرير',\n      formulaire_avantage_3: '✅ معالجة فورية من قسم الموارد البشرية',\n      section_contact: 'جهات الاتصال',\n      superieur: 'رئيسك المباشر',\n      service_rh: 'قسم الموارد البشرية',\n      consequence: 'مهم',\n      consequence_texte: 'أي غياب غير مبرر قد يؤدي إلى عقوبات تأديبية وفقا للنظام الداخلي.',\n      cordialement: 'مع أطيب التحيات',\n      signature: 'قسم الموارد البشرية - النظام الآلي جبل النور',\n      message_auto: 'رسالة تلقائية - نظام SAGE X3',\n      ne_pas_repondre: 'لا ترد على هذا البريد - اتصل برئيسك أو قسم الموارد البشرية'\n    },\n    superieur: {\n      sujet_email: '🔴 تنبيه غياب - موظفك',\n      salutation: 'مرحبا',\n      intro: 'تم اكتشاف غياب في التأشير لموظفك.',\n      alerte: 'تم اكتشاف غياب غير مؤشر',\n      section_collaborateur: 'الموظف المعني',\n      nom: 'الاسم',\n      poste: 'المنصب',\n      code_x3: 'رمز SAGE X3',\n      email: 'البريد الإلكتروني',\n      telephone: 'الهاتف',\n      section_absence: 'تفاصيل الغياب',\n      numero_dossier: 'رقم الملف',\n      date_absence: 'التاريخ',\n      heure_detection: 'الاكتشاف',\n      section_action: 'إجراءك المطلوب',\n      instruction_1: '1️⃣ اتصل بموظفك للتحقق',\n      instruction_2: '2️⃣ تحقق مما إذا كان الغياب مبررا (إجازة، مرض، مهمة، إلخ)',\n      instruction_3: '3️⃣ اطلب تسوية التأشير في حالة النسيان',\n      instruction_4: '4️⃣ أبلغ قسم الموارد البشرية بالوضع خلال 24 ساعة',\n      rappel: 'تذكير بالإجراءات',\n      rappel_texte: 'في حالة الغياب غير المبرر، يجب عليك تفعيل الإجراء التأديبي وفقا للنظام الداخلي.',\n      section_contact: 'اتصال قسم الموارد البشرية',\n      cordialement: 'مع أطيب التحيات',\n      signature: 'قسم الموارد البشرية - النظام الآلي جبل النور',\n      message_auto: 'رسالة تلقائية - نظام SAGE X3'\n    }\n  },\n  ENG: {\n    salarie: {\n      sujet_email: '⚠️ ALERT - Attendance Missing Detected',\n      salutation: 'Hello',\n      intro: 'An attendance absence has been detected in the system for your account.',\n      alerte_principale: 'ATTENDANCE ABSENCE DETECTED',\n      section_details: 'ABSENCE DETAILS',\n      numero_dossier: 'File number',\n      date_absence: 'Absence date',\n      heure_detection: 'Detection time',\n      systeme_source: 'Source system',\n      code_employe: 'Employee code',\n      section_profil: 'YOUR INFORMATION',\n      nom_complet: 'Full name',\n      poste: 'Position',\n      code_poste: 'Position code',\n      telephone: 'Phone',\n      email: 'Email',\n      section_action: 'IMMEDIATE ACTION REQUIRED',\n      instruction_1: '1️⃣ Check your attendance for the day',\n      instruction_2: '2️⃣ If you forgot to clock in, contact your supervisor immediately',\n      instruction_3: '3️⃣ If you were absent, justify your absence according to company policy',\n      delai_action: 'Regularization deadline',\n      delai_valeur: 'Maximum 24 hours',\n      section_formulaire: 'ONLINE JUSTIFICATION FORM',\n      formulaire_intro: 'To facilitate your process, use our online form:',\n      formulaire_cta: '👉 CLICK HERE TO JUSTIFY YOUR ABSENCE',\n      formulaire_avantages: 'Online form advantages:',\n      formulaire_avantage_1: '✅ Fast and secure',\n      formulaire_avantage_2: '✅ Attach supporting documents',\n      formulaire_avantage_3: '✅ Immediate processing by HR',\n      section_contact: 'CONTACTS',\n      superieur: 'Your supervisor',\n      service_rh: 'HR Department',\n      consequence: 'IMPORTANT',\n      consequence_texte: 'Any unjustified absence may result in disciplinary action according to internal regulations.',\n      cordialement: 'Best regards',\n      signature: 'HR Department - Automated System Jbel Annour',\n      message_auto: 'Automatic message - SAGE X3 System',\n      ne_pas_repondre: 'Do not reply to this email - Contact your supervisor or HR'\n    },\n    superieur: {\n      sujet_email: '🔴 ABSENCE ALERT - Your Employee',\n      salutation: 'Hello',\n      intro: 'An attendance absence has been detected for your employee.',\n      alerte: 'UNCLOCKED ABSENCE DETECTED',\n      section_collaborateur: 'EMPLOYEE CONCERNED',\n      nom: 'Name',\n      poste: 'Position',\n      code_x3: 'SAGE X3 Code',\n      email: 'Email',\n      telephone: 'Phone',\n      section_absence: 'ABSENCE DETAILS',\n      numero_dossier: 'File number',\n      date_absence: 'Date',\n      heure_detection: 'Detection',\n      section_action: 'YOUR ACTION REQUIRED',\n      instruction_1: '1️⃣ Contact your employee for verification',\n      instruction_2: '2️⃣ Check if absence is justified (leave, sick, mission, etc.)',\n      instruction_3: '3️⃣ Request attendance regularization if forgotten',\n      instruction_4: '4️⃣ Inform HR department of the situation within 24h',\n      rappel: 'PROCEDURE REMINDER',\n      rappel_texte: 'In case of unjustified absence, you must initiate disciplinary procedure according to internal regulations.',\n      section_contact: 'HR DEPARTMENT CONTACT',\n      cordialement: 'Best regards',\n      signature: 'HR Department - Automated System Jbel Annour',\n      message_auto: 'Automatic message - SAGE X3 System'\n    }\n  }\n};\n\n// ─────────────────────────────────────────────────────────────\n// HELPERS\n// ─────────────────────────────────────────────────────────────\n\nfunction nettoyerTelephone(numeros) {\n  if (Array.isArray(numeros)) {\n    return numeros.filter(num => num && num.trim() !== '').join(', ');\n  }\n  return numeros || 'Non renseigné';\n}\n\nfunction getLangue(langueData) {\n  if (!langueData) return 'FRA';\n  const langue = langueData.toUpperCase();\n  return ['FRA', 'ARA', 'ENG'].includes(langue) ? langue : 'FRA';\n}\n\nfunction formaterDate(langue = 'FRA') {\n  const date = new Date();\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale, { \n    year: 'numeric', \n    month: '2-digit', \n    day: '2-digit'\n  });\n}\n\nfunction formaterDateHeure(langue = 'FRA') {\n  const date = new Date();\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleString(locale, { \n    year: 'numeric', \n    month: '2-digit', \n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction formaterDateISO() {\n  const date = new Date();\n  return date.toISOString().split('T')[0]; // Format YYYY-MM-DD\n}\n\n// Récupérer et parser la date depuis le webhook\nfunction getDateAbsenceFromWebhook() {\n  try {\n    // Récupérer la date depuis le webhook (format: DD/MM/YYYY)\n    const webhookData = $('Webhook').first().json;\n    const dateStr = webhookData.query.Date; // Ex: \"02/01/2026\"\n    \n    if (!dateStr) {\n      return formaterDateISO(); // Fallback sur la date actuelle\n    }\n    \n    // Parser DD/MM/YYYY vers YYYY-MM-DD\n    const parts = dateStr.split('/');\n    if (parts.length === 3) {\n      const day = parts[0].padStart(2, '0');\n      const month = parts[1].padStart(2, '0');\n      const year = parts[2];\n      return `${year}-${month}-${day}`; // Format ISO: YYYY-MM-DD\n    }\n    \n    return formaterDateISO(); // Fallback si format incorrect\n  } catch (error) {\n    console.log('Erreur récupération date webhook:', error);\n    return formaterDateISO(); // Fallback en cas d'erreur\n  }\n}\n\n// Récupérer le numéro de dossier depuis le webhook\nfunction getNumeroDossierFromWebhook() {\n  try {\n    const webhookData = $('Webhook').first().json;\n    const numeroDossier = webhookData.query.ID; // Variable 'n' du webhook\n    \n    return numeroDossier || 'N/A'; // Fallback si non fourni\n  } catch (error) {\n    console.log('Erreur récupération numéro dossier webhook:', error);\n    return 'N/A'; // Fallback en cas d'erreur\n  }\n}\n\n// Formater la date d'absence selon la langue (depuis webhook)\nfunction formaterDateAbsence(langue = 'FRA') {\n  try {\n    const dateISO = getDateAbsenceFromWebhook(); // Ex: \"2026-01-02\"\n    const [year, month, day] = dateISO.split('-');\n    const dateObj = new Date(year, month - 1, day);\n    \n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return dateObj.toLocaleDateString(locale, { \n      year: 'numeric', \n      month: '2-digit', \n      day: '2-digit'\n    });\n  } catch (error) {\n    console.log('Erreur formatage date:', error);\n    return formaterDate(langue); // Fallback\n  }\n}\n\n// ─────────────────────────────────────────────────────────────\n// GÉNÉRATION TOKEN & URL FORMULAIRE\n// ─────────────────────────────────────────────────────────────\n\nfunction genererToken(codeX3, dateAbsence, numeroDossier) {\n  // Génère un token simple basé sur code X3 + date + numéro dossier + timestamp\n  const timestamp = Date.now();\n  const baseString = `${codeX3}-${dateAbsence}-${numeroDossier}-${timestamp}`;\n  \n  // Simple hash (pour production, utilisez une vraie fonction de hash)\n  let hash = 0;\n  for (let i = 0; i < baseString.length; i++) {\n    const char = baseString.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash; // Convert to 32bit integer\n  }\n  \n  return Math.abs(hash).toString(36).toUpperCase();\n}\n\nfunction genererURLFormulairePersonnalisee(data, dateAbsence) {\n  const numeroDossier = getNumeroDossierFromWebhook();\n  const token = genererToken(data.code_x3_salarie, dateAbsence, numeroDossier);\n  const nomComplet = `${data.prenom_salarie} ${data.nom_salarie}`;\n  \n  // Construction manuelle des paramètres URL (compatible n8n)\n  const params = [\n    `token=${encodeURIComponent(token)}`,\n    `code=${encodeURIComponent(data.code_x3_salarie)}`,\n    `nom=${encodeURIComponent(nomComplet)}`,\n    `date=${encodeURIComponent(dateAbsence)}`,\n    `dossier=${encodeURIComponent(numeroDossier)}`\n  ].join('&');\n  \n  return {\n    url: `${FORMULAIRE_BASE_URL}?${params}`,\n    token: token,\n    numeroDossier: numeroDossier\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// GÉNÉRATION MESSAGE SALARIÉ\n// ─────────────────────────────────────────────────────────────\n\nfunction genererMessageSalarie(data) {\n  const langue = getLangue(data.langue_salarie);\n  const T = TEMPLATES[langue].salarie;\n  const telephone = nettoyerTelephone(data.numero_tele_salarie);\n  const dateAbsenceISO = getDateAbsenceFromWebhook(); // Récupérer depuis webhook\n  const dateAbsence = formaterDateAbsence(langue); // Formatter selon langue\n  const heureDetection = formaterDateHeure(langue);\n  const numeroDossier = getNumeroDossierFromWebhook();\n  \n  // Générer URL personnalisée du formulaire\n  const formulaireData = genererURLFormulairePersonnalisee(data, dateAbsenceISO);\n\n  // ─── EMAIL ───\n  const emailSubject = `${T.sujet_email} - ${dateAbsence}`;\n  \n  let emailBody = `${T.salutation} ${data.prenom_salarie},\\n\\n`;\n  emailBody += `🚨 ${T.intro}\\n\\n`;\n \n  \n  emailBody += `📊 ${T.section_details}\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `${T.numero_dossier}: ${numeroDossier}\\n`;\n  emailBody += `${T.date_absence}: ${dateAbsence}\\n`;\n  emailBody += `${T.systeme_source}: SAGE X3\\n`;\n  emailBody += `${T.code_employe}: ${data.code_x3_salarie}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `🔴 ${T.section_action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.instruction_1}\\n`;\n  emailBody += `${T.instruction_2}\\n`;\n  emailBody += `${T.instruction_3}\\n\\n`;\n  \n  // SECTION FORMULAIRE EN LIGNE\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📝 ${T.section_formulaire}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.formulaire_intro}\\n\\n`;\n  emailBody += `🔗 ${T.formulaire_cta}\\n`;\n  emailBody += `${formulaireData.url}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📞 ${T.section_contact}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.superieur}:\\n`;\n  emailBody += `   ${data.prenom_superieur} ${data.nom_superieur}\\n`;\n  emailBody += `   Email: ${data.email_superieur}\\n\\n`;\n  emailBody += `${T.service_rh}:\\n`;\n  emailBody += `   ${data.prenom_responsable_rh} ${data.nom_responsable_rh}\\n`;\n  emailBody += `   Email: ${data.email_responsable_rh}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `⚠️ ${T.consequence}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.consequence_texte}\\n\\n`;\n  \n  emailBody += `${T.cordialement},\\n\\n`;\n  emailBody += `${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `⚠️ ${T.ne_pas_repondre}\\n`;\n\n  // ─── TELEGRAM ───\n  let telegramMessage = `🚨 *${T.alerte_principale}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${data.prenom_salarie}*,\\n\\n`;\n  telegramMessage += `⚠️ ${T.intro}\\n\\n`;\n  telegramMessage += `📊 *${T.section_details}*\\n`;\n  telegramMessage += `📋 ${T.numero_dossier}: *${numeroDossier}*\\n`;\n  telegramMessage += `📅 ${T.date_absence}: *${dateAbsence}*\\n`;\n  telegramMessage += `💼 ${T.code_employe}: ${data.code_x3_salarie}\\n\\n`;\n  telegramMessage += `🔴 *${T.section_action}*\\n\\n`;\n  telegramMessage += `${T.instruction_1}\\n`;\n  telegramMessage += `${T.instruction_2}\\n`;\n  telegramMessage += `${T.instruction_3}\\n\\n`;\n  \n  // AJOUT LIEN FORMULAIRE DANS TELEGRAM\n  telegramMessage += `📝 *${T.section_formulaire}*\\n`;\n  telegramMessage += `${T.formulaire_intro}\\n\\n`;\n  telegramMessage += `👉 [${T.formulaire_cta}](${formulaireData.url})\\n\\n`;\n  \n  telegramMessage += `📞 *${T.superieur}*: ${data.prenom_superieur} ${data.nom_superieur}\\n`;\n  telegramMessage += `📧 ${data.email_superieur}\\n`;\n\n  return {\n    email: {\n      subject: emailSubject,\n      body: emailBody,\n      to: data.email_salarie\n    },\n    telegram: {\n      text: telegramMessage,\n      parse_mode: 'Markdown',\n      chat_id: data.chat_id_salarie,\n      bot: data.bot_salarie\n    },\n    formulaire: {\n      url: formulaireData.url,\n      token: formulaireData.token,\n      numeroDossier: formulaireData.numeroDossier\n    }\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// GÉNÉRATION MESSAGE SUPÉRIEUR\n// ─────────────────────────────────────────────────────────────\n\nfunction genererMessageSuperieur(data) {\n  const langue = getLangue(data.langue_superieur);\n  const T = TEMPLATES[langue].superieur;\n  const telephone = nettoyerTelephone(data.numero_tele_salarie);\n  const dateAbsence = formaterDateAbsence(langue); // Utiliser date webhook\n  const heureDetection = formaterDateHeure(langue);\n  const numeroDossier = getNumeroDossierFromWebhook();\n\n  // ─── EMAIL ───\n  const emailSubject = `${T.sujet_email} - ${data.prenom_salarie} ${data.nom_salarie} - ${dateAbsence}`;\n  \n  let emailBody = `${T.salutation} ${data.prenom_superieur},\\n\\n`;\n  emailBody += `🔴 ${T.intro}\\n\\n`;\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `👥 ${T.section_collaborateur}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.nom}: ${data.prenom_salarie} ${data.nom_salarie}\\n`;\n  emailBody += `${T.poste}: ${data.intitule_poste_salarie}\\n`;\n  emailBody += `${T.code_x3}: ${data.code_x3_salarie}\\n`;\n  emailBody += `${T.email}: ${data.email_salarie}\\n`;\n  emailBody += `${T.telephone}: ${telephone}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_absence}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.numero_dossier}: ${numeroDossier}\\n`;\n  emailBody += `${T.date_absence}: ${dateAbsence}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `🔴 ${T.section_action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.instruction_1}\\n`;\n  emailBody += `${T.instruction_2}\\n`;\n  emailBody += `${T.instruction_3}\\n`;\n  emailBody += `${T.instruction_4}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `⚠️ ${T.rappel}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.rappel_texte}\\n\\n`;\n  \n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📞 ${T.section_contact}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${data.prenom_responsable_rh} ${data.nom_responsable_rh}\\n`;\n  emailBody += `Email: ${data.email_responsable_rh}\\n\\n`;\n  \n  emailBody += `${T.cordialement},\\n\\n`;\n  emailBody += `${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `${T.message_auto}\\n`;\n\n  // ─── TELEGRAM ───\n  let telegramMessage = `🔴 *${T.alerte}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${data.prenom_superieur}*,\\n\\n`;\n  telegramMessage += `⚠️ ${T.intro}\\n\\n`;\n  telegramMessage += `👥 *${T.section_collaborateur}*\\n`;\n  telegramMessage += `${T.nom}: *${data.prenom_salarie} ${data.nom_salarie}*\\n`;\n  telegramMessage += `${T.poste}: ${data.intitule_poste_salarie}\\n`;\n  telegramMessage += `${T.code_x3}: ${data.code_x3_salarie}\\n\\n`;\n  telegramMessage += `📊 *${T.section_absence}*\\n`;\n  telegramMessage += `📋 ${T.numero_dossier}: *${numeroDossier}*\\n`;\n  telegramMessage += `📅 ${T.date_absence}: *${dateAbsence}*\\n\\n`;\n  telegramMessage += `🔴 *${T.section_action}*\\n\\n`;\n  telegramMessage += `${T.instruction_1}\\n`;\n  telegramMessage += `${T.instruction_2}\\n`;\n  telegramMessage += `${T.instruction_3}\\n`;\n  telegramMessage += `${T.instruction_4}\\n\\n`;\n  telegramMessage += `⚠️ ${T.rappel_texte}\\n`;\n\n  return {\n    email: {\n      subject: emailSubject,\n      body: emailBody,\n      to: data.email_superieur\n    },\n    telegram: {\n      text: telegramMessage,\n      parse_mode: 'Markdown',\n      chat_id: data.chat_id_superieur,\n      bot: data.bot_superieur\n    }\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// TRAITEMENT DE TOUS LES ITEMS\n// ─────────────────────────────────────────────────────────────\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  \n  // MESSAGE POUR LE SALARIÉ (AVEC FORMULAIRE)\n  const messageSalarie = genererMessageSalarie(data);\n  results.push({\n    json: {\n      type_envoi: 'SALARIE',\n      destinataire: 'salarie',\n      nom_complet: `${data.prenom_salarie} ${data.nom_salarie}`,\n      code_x3: data.code_x3_salarie,\n      numero_dossier: getNumeroDossierFromWebhook(),\n      messages: messageSalarie,\n      langue: getLangue(data.langue_salarie),\n      date_absence: formaterDateAbsence(getLangue(data.langue_salarie)),\n      heure_detection: formaterDateHeure(getLangue(data.langue_salarie)),\n      formulaire_url: messageSalarie.formulaire.url,\n      formulaire_token: messageSalarie.formulaire.token,\n      formulaire_numero_dossier: messageSalarie.formulaire.numeroDossier,\n      data_source: data\n    }\n  });\n\n  // MESSAGE POUR LE SUPÉRIEUR\n  results.push({\n    json: {\n      type_envoi: 'SUPERIEUR',\n      destinataire: 'superieur',\n      nom_complet: `${data.prenom_superieur} ${data.nom_superieur}`,\n      collaborateur: `${data.prenom_salarie} ${data.nom_salarie}`,\n      code_x3: data.code_x3_salarie,\n      numero_dossier: getNumeroDossierFromWebhook(),\n      messages: genererMessageSuperieur(data),\n      langue: getLangue(data.langue_superieur),\n      date_absence: formaterDateAbsence(getLangue(data.langue_superieur)),\n      heure_detection: formaterDateHeure(getLangue(data.langue_superieur)),\n      data_source: data\n    }\n  });\n\n  // ⚠️ NOTIFICATION RH SUPPRIMÉE\n  // Le responsable RH sera notifié par une autre méthode\n});\n\n// ─────────────────────────────────────────────────────────────\n// RAPPORT\n// ─────────────────────────────────────────────────────────────\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('🚨 NOTIFICATIONS ABSENCE POINTAGE - SAGE X3');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages générés: ${results.length}`);\nconsole.log(`  - Notifications salarié (avec formulaire): ${results.filter(r => r.json.type_envoi === 'SALARIE').length}`);\nconsole.log(`  - Notifications supérieur: ${results.filter(r => r.json.type_envoi === 'SUPERIEUR').length}`);\nconsole.log(`  - Notifications RH: DÉSACTIVÉES (notifiées par autre méthode)`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,168],"id":"2c5d5634-eb5d-476e-85ba-0231d2a8f62a","name":"personnaliser messages telegram et email"},{"parameters":{"chatId":"739271105","text":"=🚨 *ALERTE – Erreur Telegram*\n\n👤 *Destinataire* : {{ $json.nom_complet }}\n📦 *Type d’envoi* : {{ $json.type_envoi }}\n💬 *Chat ID* : {{ $json.messages.telegram.chat_id }}\n🤖 *Bot* : {{ $json.messages.telegram.bot }}\n\n❌ *Erreur*\n{{ $json.otherError.message }}\n\n🔢 *Code HTTP* : {{ $json.otherError.httpCode }}\n\n📝 *Message envoyé*\n{{ $json.messages.telegram.text }}\n\n—\n_Système de notification – SAGE X3_\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2032,-96],"id":"fb09df0d-3d08-4ab2-a132-4b104d47bd3b","name":"erreur message","webhookId":"feb5cf4c-a4ed-44c7-9d58-031a969901a7","credentials":{"telegramApi":{"id":"vx4Ke2nmn9bGwVAl","name":"JbelErreur"}}},{"parameters":{"chatId":"739271105","text":"=🚨 *ALERTE – Échec d’envoi Telegram*\n🔁 Après *{{ $json.retryCount }}* tentatives\n\n👤 *Destinataire* : {{ $json.nom_complet }}\n📦 *Type d’envoi* : {{ $json.type_envoi }}\n💬 *Chat ID* : {{ $json.messages.telegram.chat_id }}\n🤖 *Bot* : {{ $json.messages.telegram.bot }}\n\n🏷 *Code X3* : {{ $json.code_x3 }}\n📁 *N° Dossier* : {{ $json.numero_dossier }}\n📅 *Date d’absence* : {{ $json.date_absence }}\n\n❌ *Erreur finale*\n{{ $json.finalError }}\n\n🧩 *Erreur originale*\n{{ $json.originalError.message }}\n\n📝 *Message Telegram non envoyé*\n{{ $json.messages.telegram.text }}\n\n⚠️ *Action requise*\n1️⃣ Vérifier les limites de l’API Telegram  \n2️⃣ Contacter le destinataire par un autre moyen  \n3️⃣ Vérifier la validité du Chat ID  \n\n—\n_Système de notification – SAGE X3_  \n🕒 {{ $now }}\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2256,-336],"id":"21d9b94d-fe70-4392-891f-d745db58f139","name":"erreur message si n'est pas envoyer","webhookId":"feb5cf4c-a4ed-44c7-9d58-031a969901a7","credentials":{"telegramApi":{"id":"vx4Ke2nmn9bGwVAl","name":"JbelErreur"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d10b440-d4a1-4b65-aa1b-bcd91cc4dc35","leftValue":"={{ $json.messages.telegram.chat_id }}","rightValue":"null","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1136,72],"id":"2e04a2a1-1f2d-4b73-a34c-7b510353ea4d","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,168],"id":"1f292dda-d6a5-4bee-8773-22916078d275","name":"No Operation, do nothing1"}],"connections":{"Webhook":{"main":[[{"node":"vérification xsal","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code2":{"main":[[]]},"Wait":{"main":[[{"node":"personnaliser messages telegram et email","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Check Telegram Error":{"main":[[{"node":"Handle 429 Error","type":"main","index":0}],[{"node":"Telegram Success","type":"main","index":0}]]},"Handle 429 Error":{"main":[[{"node":"Can Retry?","type":"main","index":0},{"node":"erreur message","type":"main","index":0}]]},"Can Retry?":{"main":[[{"node":"Wait Before Retry","type":"main","index":0}],[{"node":"erreur message si n'est pas envoyer","type":"main","index":0}]]},"Send a text message":{"main":[[],[{"node":"Check Telegram Error","type":"main","index":0}]]},"Wait Before Retry":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"vérification xsal":{"main":[[{"node":"If","type":"main","index":0}]]},"personnaliser messages telegram et email":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"bjaai.jbel-annour.site","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"154.144.230.135","cf-ipcountry":"MA","cf-ray":"9c833c8c290de93f-MAD","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"7055a0a8-cf8a-4bd8-b27b-104685142c11","connection":"keep-alive","method":"GET","url":"https://bjaai.jbel-annour.site/webhook/notification_absence?source=SageX3&user=S1406&statut=ABSENCE_CREEE&ID=ABS04802&Salarie=S0284&Date=01/02/2026&Fichpointage=FPT2600032","x-forwarded-for":"154.144.230.135","x-forwarded-proto":"https"},"params":{},"query":{"source":"SageX3","user":"S1406","statut":"ABSENCE_CREEE","ID":"ABS04802","Salarie":"S0284","Date":"01/02/2026","Fichpointage":"FPT2600032"},"body":{},"webhookUrl":"https://bjaai.jbel-annour.site/webhook/notification_absence","executionMode":"production"}}]},"versionId":"508de926-7c3c-410c-be05-2e2d8af2990e","triggerCount":1,"tags":[]}