notifier_pointeurs-3cv8c99BokxDldUQ.json
{"createdAt":"2026-02-02T18:04:48.054Z","updatedAt":"2026-02-02T22:03:09.000Z","id":"3cv8c99BokxDldUQ","name":"notifier_pointeurs","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"notification_pointeurs","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-832,544],"id":"eaf1441b-51a2-415c-8f22-5a6f3eaa54ef","name":"Webhook","webhookId":"45e0a45d-2d7e-4a77-9213-4b7434e12405"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  s.XSAL_0,\n  s.XNAMSAL_0,\n  s.XPRENOM_0,\n  s.XEMAIL_0,\n  ai.TIDCHAT_0,\n  ai.LAN_0\nFROM jbelrh.JBELRH.XSAL s\nLEFT JOIN jbelrh.JBELRH.YAIINFOSAL ai \n  ON ai.XSAL_0 = s.XSAL_0\nWHERE s.XSAL_0 = '{{ $json.query.Salarie }}';\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-608,544],"id":"c71d8424-1874-4550-a278-fc8696a0c237","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"jsCode":"// Templates multilingues pour les notifications de pointage\nconst templates = {\n  fr: {\n    subject: \"Notification de Pointage - {{ Date }}\",\n    body: `Bonjour {{ Prenom }} {{ Nom }},\n\nVotre pointage du {{ Date }} a été enregistré avec succès.\n\n📋 Détails du pointage :\n━━━━━━━━━━━━━━━━━━━━━━━━\n👤 Salarié : {{ Salarie }}\n📅 Date : {{ Date }}\n📝 Fiche : {{ Fichpointage }}\n\n⏰ Horaires :\n🌅 Entrée Matin : {{ H_Entree_Matin }}\n🌄 Sortie Matin : {{ H_Sortie_Matin }}\n🌆 Entrée Après-midi : {{ H_Entree_Apres }}\n🌇 Sortie Après-midi : {{ H_Sortie_Apres }}\n\n📊 Temps de Travail :\n⏱️ Matin : {{ Heures_Matin }}\n⏱️ Après-midi : {{ Heures_Apres_Midi }}\n🕐 Total : {{ Heures_Total }}\n\nCordialement,\nService SI - JBEL ANNOUR`,\n    telegram: `✅ *Pointage Enregistré*\\n\\n👤 *{{ Prenom }} {{ Nom }}*\\n📅 Date: {{ Date }}\\n📝 Fiche: {{ Fichpointage }}\\n\\n⏰ *Horaires:*\\n🌅 Entrée Matin: {{ H_Entree_Matin }}\\n🌄 Sortie Matin: {{ H_Sortie_Matin }}\\n🌆 Entrée A-M: {{ H_Entree_Apres }}\\n🌇 Sortie A-M: {{ H_Sortie_Apres }}\\n\\n📊 *Temps de Travail:*\\n⏱️ Matin: {{ Heures_Matin }}\\n⏱️ Après-midi: {{ Heures_Apres_Midi }}\\n🕐 Total: {{ Heures_Total }}`\n  },\n  en: {\n    subject: \"Time Tracking Notification - {{ Date }}\",\n    body: `Hello {{ Prenom }} {{ Nom }},\n\nYour time tracking for {{ Date }} has been successfully recorded.\n\n📋 Tracking Details:\n━━━━━━━━━━━━━━━━━━━━━━━━\n👤 Employee: {{ Salarie }}\n📅 Date: {{ Date }}\n📝 Record: {{ Fichpointage }}\n\n⏰ Schedule:\n🌅 Morning Entry: {{ H_Entree_Matin }}\n🌄 Morning Exit: {{ H_Sortie_Matin }}\n🌆 Afternoon Entry: {{ H_Entree_Apres }}\n🌇 Afternoon Exit: {{ H_Sortie_Apres }}\n\n📊 Working Hours:\n⏱️ Morning: {{ Heures_Matin }}\n⏱️ Afternoon: {{ Heures_Apres_Midi }}\n🕐 Total: {{ Heures_Total }}\n\nBest regards,\nSI Department - JBEL ANNOUR`,\n    telegram: `✅ *Time Tracking Recorded*\\n\\n👤 *{{ Prenom }} {{ Nom }}*\\n📅 Date: {{ Date }}\\n📝 Record: {{ Fichpointage }}\\n\\n⏰ *Schedule:*\\n🌅 Morning In: {{ H_Entree_Matin }}\\n🌄 Morning Out: {{ H_Sortie_Matin }}\\n🌆 Afternoon In: {{ H_Entree_Apres }}\\n🌇 Afternoon Out: {{ H_Sortie_Apres }}\\n\\n📊 *Working Hours:*\\n⏱️ Morning: {{ Heures_Matin }}\\n⏱️ Afternoon: {{ Heures_Apres_Midi }}\\n🕐 Total: {{ Heures_Total }}`\n  },\n  ar: {\n    subject: \"إشعار بالحضور والانصراف - {{ Date }}\",\n    body: `مرحبا {{ Prenom }} {{ Nom }}،\n\nتم تسجيل حضورك بتاريخ {{ Date }} بنجاح.\n\n📋 تفاصيل الحضور:\n━━━━━━━━━━━━━━━━━━━━━━━━\n👤 الموظف: {{ Salarie }}\n📅 التاريخ: {{ Date }}\n📝 السجل: {{ Fichpointage }}\n\n⏰ الأوقات:\n🌅 دخول الصباح: {{ H_Entree_Matin }}\n🌄 خروج الصباح: {{ H_Sortie_Matin }}\n🌆 دخول بعد الظهر: {{ H_Entree_Apres }}\n🌇 خروج بعد الظهر: {{ H_Sortie_Apres }}\n\n📊 ساعات العمل:\n⏱️ الصباح: {{ Heures_Matin }}\n⏱️ بعد الظهر: {{ Heures_Apres_Midi }}\n🕐 الإجمالي: {{ Heures_Total }}\n\nمع أطيب التحيات،\nقسم نظام المعلومات - جبل النور`,\n    telegram: `✅ *تم تسجيل الحضور*\\n\\n👤 *{{ Prenom }} {{ Nom }}*\\n📅 التاريخ: {{ Date }}\\n📝 السجل: {{ Fichpointage }}\\n\\n⏰ *الأوقات:*\\n🌅 دخول ص: {{ H_Entree_Matin }}\\n🌄 خروج ص: {{ H_Sortie_Matin }}\\n🌆 دخول م: {{ H_Entree_Apres }}\\n🌇 خروج م: {{ H_Sortie_Apres }}\\n\\n📊 *ساعات العمل:*\\n⏱️ الصباح: {{ Heures_Matin }}\\n⏱️ بعد الظهر: {{ Heures_Apres_Midi }}\\n🕐 الإجمالي: {{ Heures_Total }}`\n  }\n};\n\n// Fonction pour formater l'heure de HHMM vers HH:MM\nconst formatHeure = (heure) => {\n  if (!heure || heure === 'N/A') return 'N/A';\n  const heureStr = String(heure).padStart(4, '0');\n  return `${heureStr.substring(0, 2)}:${heureStr.substring(2, 4)}`;\n};\n\n// Fonction pour convertir HHMM en minutes depuis minuit\nconst heureEnMinutes = (heure) => {\n  if (!heure || heure === 'N/A') return null;\n  const heureStr = String(heure).padStart(4, '0');\n  const heures = parseInt(heureStr.substring(0, 2));\n  const minutes = parseInt(heureStr.substring(2, 4));\n  return heures * 60 + minutes;\n};\n\n// Fonction pour convertir des minutes en format \"Xh Ymin\"\nconst minutesEnTexte = (minutes, langue) => {\n  if (minutes === null || isNaN(minutes)) return 'N/A';\n  \n  const heures = Math.floor(minutes / 60);\n  const mins = minutes % 60;\n  \n  switch(langue) {\n    case 'fr':\n      if (heures > 0 && mins > 0) return `${heures}h ${mins}min`;\n      if (heures > 0) return `${heures}h`;\n      return `${mins}min`;\n    \n    case 'en':\n      if (heures > 0 && mins > 0) return `${heures}h ${mins}min`;\n      if (heures > 0) return `${heures}h`;\n      return `${mins}min`;\n    \n    case 'ar':\n      if (heures > 0 && mins > 0) return `${heures}س ${mins}د`;\n      if (heures > 0) return `${heures}س`;\n      return `${mins}د`;\n    \n    default:\n      return `${heures}h ${mins}min`;\n  }\n};\n\n// Fonction pour calculer la durée entre deux heures\nconst calculerDuree = (heureDebut, heureFin) => {\n  const debut = heureEnMinutes(heureDebut);\n  const fin = heureEnMinutes(heureFin);\n  \n  if (debut === null || fin === null) return null;\n  \n  let duree = fin - debut;\n  \n  // Gérer le cas où on passe minuit (rare mais possible)\n  if (duree < 0) {\n    duree += 24 * 60;\n  }\n  \n  return duree;\n};\n\n// Récupérer les données\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Récupérer les données du webhook (depuis le premier nœud)\n  const webhookData = $('Webhook').item.json;\n  \n  // Merger les données SQL et webhook\n  const mergedData = {\n    // Données SQL\n    XSAL_0: item.json.XSAL_0,\n    XNAMSAL_0: item.json.XNAMSAL_0,\n    XPRENOM_0: item.json.XPRENOM_0,\n    XEMAIL_0: item.json.XEMAIL_0,\n    TIDCHAT_0: item.json.TIDCHAT_0,\n    LAN_0: item.json.LAN_0,\n    // Données webhook\n    query: webhookData.query\n  };\n  \n  // Déterminer la langue (par défaut français si non spécifiée ou invalide)\n  let langue = (mergedData.LAN_0 || 'fr').toLowerCase();\n  \n  // Normaliser les codes de langue\n  if (langue === 'fra' || langue === 'french') langue = 'fr';\n  if (langue === 'eng' || langue === 'english') langue = 'en';\n  if (langue === 'ara' || langue === 'arabic') langue = 'ar';\n  \n  // Vérifier que la langue existe dans les templates\n  if (!templates[langue]) {\n    langue = 'fr'; // Défaut en français\n  }\n  \n  const template = templates[langue];\n  \n  // Calculer les heures de travail\n  const dureeMatin = calculerDuree(\n    mergedData.query?.H_Entree_Matin,\n    mergedData.query?.H_Sortie_Matin\n  );\n  \n  const dureeApresMidi = calculerDuree(\n    mergedData.query?.H_Entree_Apres,\n    mergedData.query?.H_Sortie_Apres\n  );\n  \n  // Calculer le total\n  let dureeTotal = null;\n  if (dureeMatin !== null && dureeApresMidi !== null) {\n    dureeTotal = dureeMatin + dureeApresMidi;\n  } else if (dureeMatin !== null) {\n    dureeTotal = dureeMatin;\n  } else if (dureeApresMidi !== null) {\n    dureeTotal = dureeApresMidi;\n  }\n  \n  // Préparer les données pour le remplacement\n  const replacements = {\n    Salarie: mergedData.XSAL_0 || 'N/A',\n    Nom: mergedData.XNAMSAL_0 || '',\n    Prenom: mergedData.XPRENOM_0 || '',\n    Date: mergedData.query?.Date || 'N/A',\n    Fichpointage: mergedData.query?.Fichpointage || 'N/A',\n    H_Entree_Matin: formatHeure(mergedData.query?.H_Entree_Matin),\n    H_Sortie_Matin: formatHeure(mergedData.query?.H_Sortie_Matin),\n    H_Entree_Apres: formatHeure(mergedData.query?.H_Entree_Apres),\n    H_Sortie_Apres: formatHeure(mergedData.query?.H_Sortie_Apres),\n    Heures_Matin: minutesEnTexte(dureeMatin, langue),\n    Heures_Apres_Midi: minutesEnTexte(dureeApresMidi, langue),\n    Heures_Total: minutesEnTexte(dureeTotal, langue)\n  };\n  \n  // Fonction pour remplacer les variables dans les templates\n  const replaceVars = (text) => {\n    let result = text;\n    for (const [key, value] of Object.entries(replacements)) {\n      const regex = new RegExp(`\\\\{\\\\{ ${key} \\\\}\\\\}`, 'g');\n      result = result.replace(regex, value);\n    }\n    return result;\n  };\n  \n  // Créer le résultat\n  results.push({\n    json: {\n      // Données originales\n      XSAL_0: mergedData.XSAL_0,\n      XNAMSAL_0: mergedData.XNAMSAL_0,\n      XPRENOM_0: mergedData.XPRENOM_0,\n      XEMAIL_0: mergedData.XEMAIL_0,\n      TIDCHAT_0: mergedData.TIDCHAT_0,\n      LAN_0: mergedData.LAN_0,\n      query: mergedData.query,\n      \n      // Données générées\n      langue: langue,\n      email_subject: replaceVars(template.subject),\n      email_body: replaceVars(template.body),\n      telegram_message: replaceVars(template.telegram),\n      has_email: !!(mergedData.XEMAIL_0),\n      has_telegram: !!(mergedData.TIDCHAT_0),\n      \n      // Données de débogage et statistiques\n      debug_replacements: replacements,\n      heures_travail: {\n        matin_minutes: dureeMatin,\n        apres_midi_minutes: dureeApresMidi,\n        total_minutes: dureeTotal,\n        matin_texte: minutesEnTexte(dureeMatin, langue),\n        apres_midi_texte: minutesEnTexte(dureeApresMidi, langue),\n        total_texte: minutesEnTexte(dureeTotal, langue)\n      }\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,544],"id":"02d89de2-6370-4728-a460-9281c1f2cea8","name":"Préparer Templates Multilingues"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition1","leftValue":"={{ $json.has_email }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,352],"id":"0f4513e4-3dc7-401d-b5e8-3b97530a2531","name":"Email Existe?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition1","leftValue":"={{ $json.has_telegram }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,736],"id":"6c5ef3dc-55f9-41d1-a4ea-4bc120863303","name":"Telegram Existe?"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.XEMAIL_0 }}","subject":"={{ $json.email_subject }}","emailFormat":"text","text":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[80,256],"id":"0f71ca4f-48b1-46cc-a5db-77ed18fcc492","name":"Envoyer Email","webhookId":"84f206e4-88d0-4857-ad4e-a2f9d718c259","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"chatId":"={{ $json.TIDCHAT_0 }}","text":"={{ $json.telegram_message }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[80,640],"id":"a29a06f9-e114-45d2-a9c1-49a002f9753f","name":"Envoyer Telegram","webhookId":"1ac9d521-51cc-4914-ad3b-fe8661e3145a","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[80,832],"id":"b01f6a0b-17d5-4d60-a18b-b9bc6c74d1b6","name":"Pas de Telegram"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[80,448],"id":"e220d1c0-4313-46e3-a6e8-596b7ef663f8","name":"Pas d'Email"}],"connections":{"Webhook":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"Préparer Templates Multilingues","type":"main","index":0}]]},"Préparer Templates Multilingues":{"main":[[{"node":"Email Existe?","type":"main","index":0},{"node":"Telegram Existe?","type":"main","index":0}]]},"Email Existe?":{"main":[[{"node":"Envoyer Email","type":"main","index":0}],[{"node":"Pas d'Email","type":"main","index":0}]]},"Telegram Existe?":{"main":[[{"node":"Envoyer Telegram","type":"main","index":0}],[{"node":"Pas de Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebbe382c-3b03-435e-a5ce-b2d3e8339e4d","triggerCount":1,"tags":[]}