notification at-2EwKxcwxKAe07CGI.json
{"createdAt":"2025-12-27T16:52:12.195Z","updatedAt":"2026-05-02T20:10:43.000Z","id":"2EwKxcwxKAe07CGI","name":"Notification AT","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-592,2448],"id":"dce5235f-89e0-4e1b-825f-f9b69686ed67","name":"No Operation PDG Email1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-592,2832],"id":"d467b458-d2d4-432c-9fe1-0be10bd9eb3f","name":"No Operation PDG Chat1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    AT.YNUM_0 as id_accident,\n    AT.YMAT_0 as matricule_salarie,\n    AT.YCODSAL_0 as code_salarie,\n    AT.YDATAT_0 as date_accident,\n    AT.YHEURAT_0 as heure_accident,\n    AT.YLIEUAT_0 as lieu_accident,\n    AT.YDESAT_0 as description_courte,\n    AT.YNATBLES_0 as type_accident,\n    SD.LANMES_0 as gravite,\n    AT.CREDATTIM_0 as date_creation,\n    AT.UPDDATTIM_0 as date_derniere_maj,\n    \n    P.VALEUR_0 as delai_total_jours,\n    CAST(P.VALEUR_0 AS INT) AS delai_int,\n    DATEADD(day, CAST(P.VALEUR_0 AS INT), AT.CREDATTIM_0) as date_limite_depot,\n    DATEDIFF(DAY, AT.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n    DATEDIFF(DAY, GETDATE(), DATEADD(day, CAST(P.VALEUR_0 AS INT), AT.CREDATTIM_0)) AS jours_restants,\n\n    -- Infos victime\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE AT.YCODSAL_0 = inf.XSAL_0) AS chat_id_victime,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE AT.YCODSAL_0 = inf.XSAL_0) AS langue_victime,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE AT.YCODSAL_0 = inf.XSAL_0) AS bot_victime,\n\n    -- Infirmier\n    S1.code_salarie_infirmier, S1.nom_infirmier, S1.prenom_infirmier,\n    S1.email_infirmier, S1.telephone_mobile_infirmier,\n    S1.chat_id_infirmier, S1.langue_infirmier, S1.bot_infirmier,\n    S1.titre_infirmier, S1.service_infirmier,\n\n    -- Supérieur\n    S1.code_superieur, S1.nom_superieur, S1.prenom_superieur,\n    S1.email_superieur, S1.telephone_mobile_superieur,\n    S1.chat_id_superieur, S1.langue_superieur, S1.bot_superieur,\n\n    -- PDG\n    'PDG'                 as code_pdg,\n    'Direction Générale'  as nom_pdg,\n    'Jbel Annour'         as prenom_pdg,\n    'PDG@jbel-annour.com' as email_pdg,\n    NULL                  as telephone_pdg,\n    '8528101210'          as chat_id_pdg,\n    'ARA'                 as langue_pdg,\n    '@Jbel_Annour_IAbot'  as bot_pdg,\n\n    -- DGA (S0949)\n    dga.XSAL_0    AS code_dga,\n    dga.XNAMSAL_0 AS nom_dga,\n    dga.XPRENOM_0 AS prenom_dga,\n    dga.XEMAIL_0  AS email_dga,\n    dga.YTELE_0   AS telephone_dga,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n\n    -- Farhat\n    farhat.XSAL_0    AS code_farhat,\n    farhat.XNAMSAL_0 AS nom_farhat,\n    farhat.XPRENOM_0 AS prenom_farhat,\n    farhat.XEMAIL_0  AS email_farhat,\n    farhat.YTELE_0   AS telephone_farhat,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n    -- Baallah (S0179 - NOUVEAU)\n    baallah.XSAL_0    AS code_baallah,\n    baallah.XNAMSAL_0 AS nom_baallah,\n    baallah.XPRENOM_0 AS prenom_baallah,\n    baallah.XEMAIL_0  AS email_baallah,\n    baallah.YTELE_0   AS telephone_baallah,\n    (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n    (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n    (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah\n\nFROM jbelrh.JBELRH.YAT AT \n    LEFT JOIN jbelrh.JBELRH.APLSTD SD ON AT.YGRAVAT_0 = SD.LANNUM_0  \n    CROSS APPLY (\n        SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YPJAT'\n    ) P\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n    -- ─── BAALLAH (NOUVEAU) ───\n    CROSS APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n    ) baallah\n    CROSS JOIN (\n        SELECT  \n            s.XSAL_0 AS code_salarie_infirmier,\n            s.XNAMSAL_0 AS nom_infirmier,\n            s.XPRENOM_0 AS prenom_infirmier,\n            s.YTELE_0 AS telephone_mobile_infirmier,\n            s.XEMAIL_0 AS email_infirmier,\n            (SELECT sf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL sf WHERE s.XSAL_0 = sf.XSAL_0) AS chat_id_infirmier,\n            (SELECT sf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL sf WHERE s.XSAL_0 = sf.XSAL_0) AS langue_infirmier,\n            (SELECT sf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL sf WHERE s.XSAL_0 = sf.XSAL_0) AS bot_infirmier,\n            z.YTIT_0 AS titre_infirmier,\n            ZS.YTIT_0 AS service_infirmier,\n            s.YSUP_0 AS code_superieur,\n            ss.XNAMSAL_0 AS nom_superieur, ss.XPRENOM_0 AS prenom_superieur,\n            ss.XEMAIL_0 AS email_superieur, ss.YTELE_0 AS telephone_mobile_superieur,\n            (SELECT sup.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL sup WHERE s.YSUP_0 = sup.XSAL_0) AS chat_id_superieur,\n            (SELECT sup.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL sup WHERE s.YSUP_0 = sup.XSAL_0) AS langue_superieur,\n            (SELECT sup.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL sup WHERE s.YSUP_0 = sup.XSAL_0) AS bot_superieur\n        FROM jbelrh.JBELRH.XSAL s\n            LEFT JOIN jbelrh.JBELRH.ZPOSTE z ON s.ZPOSTE_0 = z.YNUM_0\n            LEFT JOIN jbelrh.JBELRH.XSAL ss ON ss.XSAL_0 = s.YSUP_0\n            OUTER APPLY (SELECT y.YSRV_0 FROM jbelrh.JBELRH.ZPOSTE y WHERE y.YNUM_0 = s.ZPOSTE_0) po\n            LEFT JOIN jbelrh.JBELRH.ZSERVICES ZS ON po.YSRV_0 = ZS.YNUM_0\n        WHERE s.XFLG_0 = 2 AND po.YSRV_0 = 'SRV010'\n        GROUP BY s.XSAL_0, s.XNAMSAL_0, s.XPRENOM_0, z.YTIT_0, s.YSUP_0,\n                 ss.XPRENOM_0, ss.XNAMSAL_0, s.XEMAIL_0, ss.XEMAIL_0,\n                 s.YTELE_0, ss.YTELE_0, ZS.YTIT_0\n    ) S1\n\nWHERE \n    NOT EXISTS (\n        SELECT * FROM jbelrh.JBELRH.AOBJTXT AOBJTXT \n        WHERE AT.YNUM_0 = AOBJTXT.IDENT1_0 AND AOBJTXT.ABREV_0 = 'YAT'\n    )\n    AND DATEADD(day, CAST(P.VALEUR_0 AS INT), AT.CREDATTIM_0) >= GETDATE()\n    AND SD.LANCHP_0 = 6201 \n    AND SD.LAN_0 = 'FRA'\n    -- ✅ Couvre tous les niveaux jusqu'au seuil DGA/BAALLAH (délai/2)\n    AND DATEDIFF(DAY, GETDATE(), DATEADD(day, CAST(P.VALEUR_0 AS INT), AT.CREDATTIM_0)) \n        <= (CAST(P.VALEUR_0 AS INT) / 2)\n\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1936,2736],"id":"4ea118cd-e391-4589-81d3-e4edade4d705","name":"SQL - Accidents AT avec Escalade2","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}},"notes":"Extraction complète avec calcul automatique du niveau d'escalade (PDG/SUPERIEUR/INFIRMIER/FARHAT/BAALLAH)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,2736],"id":"ee9620ec-807c-4238-97e1-48bb1fc301d5","name":"Vérifier Données Présentes2","notes":"Stoppe le workflow si aucune donnée"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1488,2832],"id":"c365b108-7915-4641-8687-ed96d563c715","name":"Fin - Aucune Donnée2","notes":"Aucun accident à traiter aujourd'hui"},{"parameters":{"jsCode":"const items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION MULTI-DESTINATION - ACCIDENTS AT');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Accidents reçus: ${items.length}`);\n\n// ─── EXPANSION MULTI-NIVEAUX ───\nconst lignesExpansees = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  const jr = data.jours_restants;\n  const delai = parseInt(data.delai_int || data.delai_total_jours || 10);\n\n  const niveauxActifs = [];\n\n  if (jr <= 2)                                       niveauxActifs.push('PDG');\n  if (jr === 3)                                      niveauxActifs.push('SUPERIEUR');\n  if (jr === 4)                                      niveauxActifs.push('INFIRMIER');\n  if (jr >= 5 && jr <= 8)                            niveauxActifs.push('FARHAT');\n  if (jr > 4 && jr <= Math.floor(delai / 2))         niveauxActifs.push('DGA');\n  // ─── BAALLAH : même seuil que DGA (délai/2) ───\n  if (jr > 4 && jr <= Math.floor(delai / 2))         niveauxActifs.push('BAALLAH');\n\n  niveauxActifs.forEach(niveau => {\n    lignesExpansees.push({ data, niveau });\n  });\n});\n\nconsole.log(`Lignes après expansion multi-niveaux: ${lignesExpansees.length}`);\n\n// ─── GROUPEMENT PAR DESTINATAIRE ───\nconst notifications = {};\n\nlignesExpansees.forEach(({ data, niveau }) => {\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n\n  switch (niveau) {\n    case 'PDG':\n      destinatairePrincipal = {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      };\n      codeDestinataire = data.code_pdg;\n      break;\n\n    case 'DGA':\n      destinatairePrincipal = {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      };\n      codeDestinataire = data.code_dga;\n      break;\n\n    case 'SUPERIEUR':\n      destinatairePrincipal = {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.telephone_mobile_superieur,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      };\n      codeDestinataire = data.code_superieur;\n      break;\n\n    case 'INFIRMIER':\n      destinatairePrincipal = {\n        code: data.code_salarie_infirmier, nom: data.nom_infirmier, prenom: data.prenom_infirmier,\n        email: data.email_infirmier, telephone: data.telephone_mobile_infirmier,\n        chat_id: data.chat_id_infirmier, langue: data.langue_infirmier, bot: data.bot_infirmier\n      };\n      codeDestinataire = data.code_salarie_infirmier;\n      break;\n\n    case 'FARHAT':\n      destinatairePrincipal = {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat || null, telephone: data.telephone_farhat || null,\n        chat_id: data.chat_id_farhat || null, langue: data.langue_farhat || 'FRA', bot: data.bot_farhat || null\n      };\n      codeDestinataire = data.code_farhat;\n      break;\n\n    // ─── BAALLAH (NOUVEAU) ───\n    case 'BAALLAH':\n      destinatairePrincipal = {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah || null, telephone: data.telephone_baallah || null,\n        chat_id: data.chat_id_baallah || null, langue: data.langue_baallah || 'FRA', bot: data.bot_baallah || null\n      };\n      codeDestinataire = data.code_baallah;\n      break;\n\n    default:\n      return;\n  }\n\n  const cleDestinataire = `${niveau}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: niveau,\n      niveau_escalade: niveau,\n      infirmier: {\n        code: data.code_salarie_infirmier, nom: data.nom_infirmier, prenom: data.prenom_infirmier,\n        email: data.email_infirmier, telephone: data.telephone_mobile_infirmier,\n        chat_id: data.chat_id_infirmier, langue: data.langue_infirmier, bot: data.bot_infirmier\n      },\n      superieur: {\n        code: data.code_superieur, nom: data.nom_superieur, prenom: data.prenom_superieur,\n        email: data.email_superieur, telephone: data.telephone_mobile_superieur,\n        chat_id: data.chat_id_superieur, langue: data.langue_superieur, bot: data.bot_superieur\n      },\n      pdg: {\n        code: data.code_pdg, nom: data.nom_pdg, prenom: data.prenom_pdg,\n        email: data.email_pdg, telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg, langue: data.langue_pdg, bot: data.bot_pdg\n      },\n      dga: {\n        code: data.code_dga, nom: data.nom_dga, prenom: data.prenom_dga,\n        email: data.email_dga, telephone: data.telephone_dga,\n        chat_id: data.chat_id_dga, langue: data.langue_dga, bot: data.bot_dga\n      },\n      farhat: {\n        code: data.code_farhat, nom: data.nom_farhat, prenom: data.prenom_farhat,\n        email: data.email_farhat, telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat, langue: data.langue_farhat, bot: data.bot_farhat\n      },\n      // ─── BAALLAH (NOUVEAU) ───\n      baallah: {\n        code: data.code_baallah, nom: data.nom_baallah, prenom: data.prenom_baallah,\n        email: data.email_baallah, telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah, langue: data.langue_baallah, bot: data.bot_baallah\n      },\n      accidents: []\n    };\n  }\n\n  const dejaPresent = notifications[cleDestinataire].accidents\n    .some(a => a.id_accident === data.id_accident);\n\n  if (!dejaPresent) {\n    notifications[cleDestinataire].accidents.push({\n      id_accident: data.id_accident,\n      matricule_salarie: data.matricule_salarie,\n      code_salarie: data.code_salarie,\n      date_accident: data.date_accident,\n      heure_accident: data.heure_accident,\n      lieu_accident: data.lieu_accident,\n      description_courte: data.description_courte,\n      type_accident: data.type_accident,\n      gravite: data.gravite,\n      date_creation: data.date_creation,\n      date_limite_depot: data.date_limite_depot,\n      jours_depuis_creation: data.jours_depuis_creation,\n      jours_restants: data.jours_restants\n    });\n  }\n});\n\n// ─── FORMATAGE FINAL ───\nconst resultats = Object.values(notifications).map(notif => {\n  const joursMin = Math.min(...notif.accidents.map(a => a.jours_restants));\n  const joursMax = Math.max(...notif.accidents.map(a => a.jours_restants));\n\n  let emailCC = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email)   emailCC.push(notif.superieur.email);\n    if (notif.infirmier.email)   emailCC.push(notif.infirmier.email);\n    if (notif.dga.email)         emailCC.push(notif.dga.email);\n    [notif.superieur, notif.infirmier, notif.dga].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n  } else if (notif.type_destinataire === 'DGA') {\n    if (notif.infirmier.email)   emailCC.push(notif.infirmier.email);\n    if (notif.superieur.email)   emailCC.push(notif.superieur.email);\n    [notif.infirmier, notif.superieur].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n  } else if (notif.type_destinataire === 'BAALLAH') {\n    // BAALLAH : même logique CC que DGA\n    if (notif.infirmier.email)   emailCC.push(notif.infirmier.email);\n    if (notif.superieur.email)   emailCC.push(notif.superieur.email);\n    [notif.infirmier, notif.superieur].forEach(p => {\n      if (p.chat_id) chatIDsCC.push({ chat_id: p.chat_id, bot: p.bot, langue: p.langue, nom: `${p.prenom} ${p.nom}` });\n    });\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.infirmier.email)   emailCC.push(notif.infirmier.email);\n    if (notif.infirmier.chat_id) chatIDsCC.push({ chat_id: notif.infirmier.chat_id, bot: notif.infirmier.bot, langue: notif.infirmier.langue, nom: `${notif.infirmier.prenom} ${notif.infirmier.nom}` });\n  }\n  // INFIRMIER et FARHAT → pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire: notif.type_destinataire,\n    niveau_escalade: notif.niveau_escalade,\n    email_cc: emailCC.length > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC : null,\n    infirmier: notif.infirmier,\n    superieur: notif.superieur,\n    pdg: notif.pdg,\n    dga: notif.dga,\n    farhat: notif.farhat,\n    baallah: notif.baallah,\n    accidents: notif.accidents,\n    statistiques: {\n      total_accidents: notif.accidents.length,\n      jours_min: joursMin,\n      jours_max: joursMax,\n      priorite: notif.niveau_escalade,\n      delai_total: notif.accidents[0]?.delai_total_jours || 10\n    },\n    meta: {\n      date_traitement: new Date().toISOString(),\n      langue_message: notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email: !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\n['PDG','DGA','SUPERIEUR','INFIRMIER','FARHAT','BAALLAH'].forEach(t => {\n  const n = resultats.filter(r => r.type_destinataire === t).length;\n  if (n > 0) console.log(`  - ${t}: ${n}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,2640],"id":"8a8dd80a-ce36-4e73-b989-327d259d4117","name":"Structuration par Destinataire2","notes":"Groupe les accidents par destinataire avec escalade automatique (PDG/DGA/SUPERIEUR/INFIRMIER/FARHAT/BAALLAH)"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Accidents de Travail',\n      SUPERIEUR:'🟠 IMPORTANT - Accidents de Travail',\n      INFIRMIER:'🟡 Rappel - Accidents de Travail',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Accidents de Travail à Surveiller',\n      DGA:      '🟣 INFORMATION DIRECTION - Accidents de Travail',\n      BAALLAH:  '🟤 INFORMATION RESPONSABLE - Accidents de Travail'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les dossiers suivants nécessitent votre attention IMMÉDIATE',\n      SUPERIEUR:'Les dossiers suivants requièrent votre attention en priorité',\n      INFIRMIER:'Rappel concernant vos dossiers d\\'accidents de travail en attente',\n      FARHAT:   'Information préventive - Les dossiers suivants approchent de leur délai limite',\n      DGA:      'Information Direction - Les dossiers suivants approchent du mi-délai réglementaire',\n      BAALLAH:  'Information Responsable - Les dossiers suivants ont dépassé le mi-délai réglementaire'\n    },\n    cc_message: {\n      base:            'Un message d\\'alerte concernant les accidents de travail suivants a été envoyé à',\n      votre_superieur: 'votre supérieur(e)',\n      le_pdg:          'la Direction (PDG)',\n      le_farhat:       'le Responsable RH',\n      le_dga:          'la Direction Générale Adjointe',\n      le_baallah:      'le Responsable (Jaouad Baallah)',\n      action:          'Veuillez prendre les mesures nécessaires pour traiter ces dossiers dans les délais impartis.'\n    },\n    section_stats:   'STATISTIQUES',\n    total:           'Total dossiers',\n    delai_min:       'Délai minimum',\n    jours:           'jour(s)',\n    section_dossiers:'LISTE DES DOSSIERS',\n    not_attached:    'NON ATTACHÉE',\n    date:            'Date',\n    lieu:            'Lieu',\n    delai:           'Délai',\n    restant:         'restant(s)',\n    limite:          'Limite',\n    delai_total:     'Délai total',\n    action_requise:  'ACTION REQUISE',\n    urgent:          'URGENT - Traiter immédiatement',\n    contact:         'Contact Service Médical',\n    cordialement:    'Cordialement',\n    signature:       'Service SI/IA - Jbel Annour',\n    message_auto:    'Message automatique',\n    ne_pas_repondre: 'Merci de ne pas répondre à cet email',\n    copie_info:      '📋 CC',\n    instruction:     'Veuillez préparer et attacher les pièces justificatives manquantes à ces dossiers d\\'accidents dans les meilleurs délais.'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - حوادث العمل',\n      SUPERIEUR:'🟠 هام - حوادث العمل',\n      INFIRMIER:'🟡 تذكير - حوادث العمل',\n      FARHAT:   '🔵 معلومة وقائية - حوادث العمل للمراقبة',\n      DGA:      '🟣 معلومة للإدارة - حوادث العمل',\n      BAALLAH:  '🟤 معلومة مسؤول - حوادث العمل'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - الملفات التالية تتطلب اهتمامك الفوري',\n      SUPERIEUR:'الملفات التالية تتطلب اهتمامك بالأولوية',\n      INFIRMIER:'تذكير بخصوص ملفات حوادث العمل في انتظارك',\n      FARHAT:   'معلومة وقائية - الملفات التالية تقترب من تاريخ انتهاء مهلتها',\n      DGA:      'معلومة للإدارة - الملفات التالية اقتربت من منتصف المهلة النظامية',\n      BAALLAH:  'معلومة مسؤول - الملفات التالية تجاوزت منتصف المهلة النظامية'\n    },\n    cc_message: {\n      base:            'تم إرسال رسالة تنبيه بخصوص حوادث العمل التالية إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg:          'الإدارة (المدير العام)',\n      le_farhat:       'مسؤول الموارد البشرية',\n      le_dga:          'المديرية العامة المساعدة',\n      le_baallah:      'المسؤول (جواد بعلاش)',\n      action:          'يرجى اتخاذ الإجراءات اللازمة لمعالجة هذه الملفات في المواعيد المحددة.'\n    },\n    section_stats:   'الإحصائيات',\n    total:           'إجمالي الملفات',\n    delai_min:       'الحد الأدنى للمهلة',\n    jours:           'يوم/أيام',\n    section_dossiers:'قائمة الملفات',\n    not_attached:    'الغير المؤرشفة',\n    date:            'التاريخ',\n    lieu:            'المكان',\n    delai:           'المهلة',\n    restant:         'المتبقية',\n    limite:          'الحد',\n    delai_total:     'المهلة الإجمالية',\n    action_requise:  'الإجراء المطلوب',\n    urgent:          'عاجل - المعالجة فورا',\n    contact:         'اتصال بالقسم الطبي',\n    cordialement:    'مع أطيب التحيات',\n    signature:       'قسم SI/IA - جبل النور',\n    message_auto:    'رسالة تلقائية',\n    ne_pas_repondre: 'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:      '📋 نسخة للعلم',\n    instruction:     'يرجى تحضير وإرفاق الوثائق الناقصة لملفات حوادث العمل هذه في أقرب وقت ممكن.'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Work Accidents',\n      SUPERIEUR:'🟠 IMPORTANT - Work Accidents',\n      INFIRMIER:'🟡 Reminder - Work Accidents',\n      FARHAT:   '🔵 PREVENTIVE INFO - Work Accidents to Monitor',\n      DGA:      '🟣 MANAGEMENT INFORMATION - Work Accidents',\n      BAALLAH:  '🟤 MANAGER INFORMATION - Work Accidents'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following files require your IMMEDIATE attention',\n      SUPERIEUR:'The following files require your priority attention',\n      INFIRMIER:'Reminder about your pending work accident files',\n      FARHAT:   'Preventive information - The following files are approaching their deadline',\n      DGA:      'Management Information - The following files are approaching the mid-deadline',\n      BAALLAH:  'Manager Information - The following files have passed the mid-deadline'\n    },\n    cc_message: {\n      base:            'An alert message regarding the following work accidents has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:          'the Management (CEO)',\n      le_farhat:       'the HR Manager',\n      le_dga:          'the Deputy General Manager',\n      le_baallah:      'the Manager (Jaouad Baallah)',\n      action:          'Please take the necessary measures to process these files within the specified deadlines.'\n    },\n    section_stats:   'STATISTICS',\n    total:           'Total files',\n    delai_min:       'Minimum deadline',\n    jours:           'day(s)',\n    section_dossiers:'FILE LIST',\n    not_attached:    'NOT ATTACHED',\n    date:            'Date',\n    lieu:            'Location',\n    delai:           'Deadline',\n    restant:         'remaining',\n    limite:          'Limit',\n    delai_total:     'Total deadline',\n    action_requise:  'ACTION REQUIRED',\n    urgent:          'URGENT - Process immediately',\n    contact:         'Medical Service Contact',\n    cordialement:    'Best regards',\n    signature:       'IT/AI Department - Jbel Annour',\n    message_auto:    'Automatic message',\n    ne_pas_repondre: 'Please do not reply to this email',\n    copie_info:      '📋 COPY FOR INFORMATION',\n    instruction:     'Please prepare and attach the missing documents to these work accident files as soon as possible.'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  const date = new Date(dateStr);\n  const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n  return date.toLocaleDateString(locale);\n}\n\nfunction formaterHeure(heureStr) {\n  if (!heureStr) return '';\n  const h = heureStr.toString().padStart(4, '0');\n  return h.substring(0, 2) + ':' + h.substring(2, 4);\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const accidents = data.accidents;\n\n  let emailSubject = T.sujet_email[data.type_destinataire] || T.sujet_email.INFIRMIER;\n  emailSubject += ` - ${stats.total_accidents} dossier(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_accidents}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n\n  if (data.type_destinataire !== 'INFIRMIER') {\n    emailBody += `\\nInfirmier concerné: ${data.infirmier.prenom} ${data.infirmier.nom} (${data.infirmier.code})\\n`;\n  }\n\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_dossiers}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  accidents.forEach((acc, index) => {\n    emailBody += `${index + 1}. ${getEmoji(acc.jours_restants)} ${acc.id_accident}\\n`;\n    emailBody += `   📅 ${T.date}: ${formaterDate(acc.date_accident, langue)} ${formaterHeure(acc.heure_accident)}\\n`;\n    emailBody += `   📍 ${T.lieu}: ${acc.lieu_accident || 'N/A'}\\n`;\n    emailBody += `   👤 Matricule: ${acc.matricule_salarie}\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${acc.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(acc.date_limite_depot, langue)})\\n`;\n    if (acc.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `🚨 ${T.action_requise}: ${T.urgent}\\n`;\n  } else {\n    emailBody += `📌 ${T.instruction}\\n`;\n  }\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  emailBody += `   Email: ${data.infirmier.email}\\n`;\n  emailBody += `   Tel: ${data.infirmier.telephone || 'N/A'}\\n\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG')     emailBody += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (data.type_destinataire === 'DGA')     emailBody += `🟣 Notification envoyée à la DGA\\n`;\n  if (data.type_destinataire === 'BAALLAH') emailBody += `🟤 Notification envoyée à Jaouad Baallah\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `👤 *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_accidents}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_dossiers} ${T.not_attached}*\\n\\n`;\n\n  accidents.slice(0, 5).forEach((acc, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(acc.jours_restants)} *${acc.id_accident}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(acc.date_accident, langue)} ${formaterHeure(acc.heure_accident)}\\n`;\n    telegramMessage += `   📍 ${acc.lieu_accident || 'N/A'}\\n`;\n    telegramMessage += `   ⏰ ${acc.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (accidents.length > 5) telegramMessage += `... et ${accidents.length - 5} autre(s) dossier(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const accidents = data.accidents;\n  const dp = data.destinataire_principal;\n\n  const labelMap = {\n    SUPERIEUR: T.cc_message.votre_superieur,\n    PDG:       T.cc_message.le_pdg,\n    FARHAT:    T.cc_message.le_farhat,\n    DGA:       T.cc_message.le_dga,\n    BAALLAH:   T.cc_message.le_baallah\n  };\n  const label = labelMap[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n\n  const emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_accidents} dossier(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${label} ${dp.prenom} ${dp.nom}.\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_accidents}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_dossiers}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  accidents.forEach((acc, index) => {\n    emailBody += `${index + 1}. ${getEmoji(acc.jours_restants)} ${acc.id_accident}\\n`;\n    emailBody += `   📅 ${T.date}: ${formaterDate(acc.date_accident, langue)} ${formaterHeure(acc.heure_accident)}\\n`;\n    emailBody += `   📍 ${T.lieu}: ${acc.lieu_accident || 'N/A'}\\n`;\n    emailBody += `   👤 Matricule: ${acc.matricule_salarie}\\n`;\n    emailBody += `   ⏰ ${T.delai}: ${acc.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(acc.date_limite_depot, langue)})\\n`;\n    if (acc.jours_restants <= 2) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `${T.cc_message.action}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `📞 ${T.contact}:\\n`;\n  emailBody += `   Email: ${data.infirmier.email}\\n`;\n  emailBody += `   Tel: ${data.infirmier.telephone || 'N/A'}\\n\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `${T.copie_info}\\n${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${label} *${dp.prenom} ${dp.nom}*.\\n\\n`;\n  telegramMessage += `📊 *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total}: *${stats.total_accidents}*\\n`;\n  telegramMessage += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `📋 *${T.section_dossiers} ${T.not_attached}*\\n\\n`;\n  accidents.slice(0, 3).forEach((acc, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(acc.jours_restants)} *${acc.id_accident}*\\n`;\n    telegramMessage += `   📅 ${formaterDate(acc.date_accident, langue)}\\n`;\n    telegramMessage += `   ⏰ ${acc.jours_restants} ${T.jours} ${T.restant}\\n\\n`;\n  });\n  if (accidents.length > 3) telegramMessage += `... et ${accidents.length - 3} autre(s) dossier(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n\\n`;\n\n  return {\n    email: { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\n// ─── GÉNÉRATION DES RÉSULTATS ───\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  results.push({\n    json: {\n      ...data,\n      messages: messagesPrincipal,\n      type_envoi: 'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // ─── CC selon le niveau ───\n  if (data.type_destinataire === 'SUPERIEUR') {\n    if (data.infirmier?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.infirmier, 'SUPERIEUR'),\n        type_envoi: 'CC', destinataire_final: data.infirmier, cc_pour_profil: 'INFIRMIER',\n        meta: { ...data.meta, langue_utilisee: data.infirmier.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'DGA') {\n    if (data.infirmier?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.infirmier, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.infirmier, cc_pour_profil: 'INFIRMIER',\n        meta: { ...data.meta, langue_utilisee: data.infirmier.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'DGA'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  // ─── BAALLAH CC (NOUVEAU) ───\n  } else if (data.type_destinataire === 'BAALLAH') {\n    if (data.infirmier?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.infirmier, 'BAALLAH'),\n        type_envoi: 'CC', destinataire_final: data.infirmier, cc_pour_profil: 'INFIRMIER',\n        meta: { ...data.meta, langue_utilisee: data.infirmier.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'BAALLAH'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.superieur, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.infirmier?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.infirmier, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.infirmier, cc_pour_profil: 'INFIRMIER',\n        meta: { ...data.meta, langue_utilisee: data.infirmier.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.dga?.chat_id) {\n      results.push({ json: {\n        ...data, messages: genererMessageCC(data, data.dga, 'PDG'),\n        type_envoi: 'CC', destinataire_final: data.dga, cc_pour_profil: 'DGA',\n        meta: { ...data.meta, langue_utilisee: data.dga.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n\n  } else if (data.type_destinataire === 'FARHAT') {\n    // FARHAT → pas de CC\n  }\n});\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES - ACCIDENTS AT');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages générés: ${results.length}`);\nconsole.log(`  - Messages principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - Messages CC: ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,2640],"id":"3441b640-3c68-40c3-8842-f3377511f0d4","name":"Génération Messages Multilingues2","notes":"Génère les messages en FRA/ARA/ENG selon le destinataire (PDG/DGA/SUPERIEUR/INFIRMIER/FARHAT/BAALLAH)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"048d54e0-aa39-4b20-81c9-41a97f7c3ace","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"PDG@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,2352],"id":"44a93a4f-6c5a-44dd-9a43-ef00ee470bab","name":"not pdg email2"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-592,2256],"id":"7ea97f58-c17d-4e55-b47b-aca8ec404f11","name":"Envoi Email2","webhookId":"58904ef3-dc73-424d-a24f-b4a595cb90a5","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon escalade"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4223ab8a-1918-4e4c-afe3-a4b3c3dcee3c","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,2736],"id":"dc2a797a-b16c-4e27-b49a-bca6c9931c3e","name":"not pdg chat id2"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-592,2640],"id":"a05c0135-550a-4066-9459-3d930a5cbcd3","name":"Envoi Telegram Principal2","webhookId":"25390415-1221-49c6-8999-e95666c0fd73","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi au destinataire principal"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-368,2448],"id":"f22f8607-df42-4054-b5ca-cceafdbea502","name":"Fin Workflow2","notes":"Toutes les notifications envoyées"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2160,2736],"id":"909cdd8e-28a1-4060-a7b3-9e62fe1c4029","name":"Schedule Trigger2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89d1c815-4549-487b-a9ab-a9d4a9113ac3","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,2448],"id":"70fcbc26-1c53-4dc6-b7cb-49fe5e94b8b3","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-816,2544],"id":"1b7cd2a3-5ba5-400b-a159-554d75496af9","name":"No Operation farhat Email"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca4c637b-84e0-42b9-8814-b2a19364d18a","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"66146157-2656-4ce6-83a5-50eee01fbabf","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,2832],"id":"85aaa68d-04fb-4700-996e-20f654c4ed84","name":"Si Chat ID Existe1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-816,2928],"id":"a7b84f3d-695e-4870-9983-09053b18d616","name":"No Operation, do nothing3"}],"connections":{"SQL - Accidents AT avec Escalade2":{"main":[[{"node":"Vérifier Données Présentes2","type":"main","index":0}]]},"Vérifier Données Présentes2":{"main":[[{"node":"Structuration par Destinataire2","type":"main","index":0}],[{"node":"Fin - Aucune Donnée2","type":"main","index":0}]]},"Structuration par Destinataire2":{"main":[[{"node":"Génération Messages Multilingues2","type":"main","index":0}]]},"Génération Messages Multilingues2":{"main":[[{"node":"If","type":"main","index":0},{"node":"Si Chat ID Existe1","type":"main","index":0}]]},"not pdg email2":{"main":[[{"node":"Envoi Email2","type":"main","index":0}],[{"node":"No Operation PDG Email1","type":"main","index":0}]]},"Envoi Email2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"not pdg chat id2":{"main":[[{"node":"Envoi Telegram Principal2","type":"main","index":0}],[{"node":"No Operation PDG Chat1","type":"main","index":0}]]},"Envoi Telegram Principal2":{"main":[[{"node":"Fin Workflow2","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"SQL - Accidents AT avec Escalade2","type":"main","index":0}]]},"If":{"main":[[{"node":"not pdg email2","type":"main","index":0}],[{"node":"No Operation farhat Email","type":"main","index":0}]]},"Si Chat ID Existe1":{"main":[[{"node":"not pdg chat id2","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"876dd727-dfd4-4aa2-a5e8-37578e716177","triggerCount":1,"tags":[]}