notification absence res rh-RT2YLSzeszjSqQsk.json
{"createdAt":"2026-02-01T03:47:16.570Z","updatedAt":"2026-02-02T22:07:16.000Z","id":"RT2YLSzeszjSqQsk","name":"Notification ABSENCE RES RH","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Sauvegarder les données JSON dans un fichier temporaire\nconst fs = require('fs');\nconst path = require('path');\n\n// Récupérer les données\nconst data = $input.item.json.body;\n\n// Créer un nom de fichier unique avec timestamp\nconst timestamp = Date.now();\n\n// CHEMINS PERSONNALISÉS - Modifier ici si nécessaire\nconst inputDir = 'C:\\\\hicham\\\\data\\\\input_data_absence';\nconst outputDir = 'C:\\\\hicham\\\\data\\\\output_pdf_absence';\n\n// Créer les dossiers s'ils n'existent pas\nif (!fs.existsSync(inputDir)) {\n  fs.mkdirSync(inputDir, { recursive: true });\n}\nif (!fs.existsSync(outputDir)) {\n  fs.mkdirSync(outputDir, { recursive: true });\n}\n\n// Chemins complets des fichiers\nconst inputFile = path.join(inputDir, `input_data_${timestamp}.json`);\nconst outputFile = path.join(outputDir, `rapport_absences_${data.fiche_pointage}_${timestamp}.pdf`);\n\n// Écrire le fichier JSON\nfs.writeFileSync(inputFile, JSON.stringify(data, null, 2), 'utf8');\n\nreturn {\n  json: {\n    inputFile: inputFile,\n    outputFile: outputFile,\n    fichePointage: data.fiche_pointage,\n    dateFiche: data.date_fiche,\n    nombreAbsents: data.absents.length,\n    pythonScript: 'C:\\\\hicham\\\\n8n\\\\generate_pdf_absence\\\\generer_pdf.py'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,528],"id":"6521832e-d21b-4c00-89e0-0c9dee8f1fed","name":"Préparer fichiers"},{"parameters":{"httpMethod":"POST","path":"notification_rh","options":{"rawBody":true}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[160,528],"id":"5d2b697f-1440-4d43-bcf0-a60317af4c18","name":"Webhook1","webhookId":"c2180c2c-d726-4db0-bb28-c72bd3583185"},{"parameters":{"command":"=python \"{{ $json.pythonScript }}\" --input \"{{ $json.inputFile }}\" --output \"{{ $json.outputFile }}\" --verbose"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[944,528],"id":"4fe357b1-1b63-440e-817c-8c67ae4dbb25","name":"Générer PDF avec Python1"},{"parameters":{"filePath":"={{ $('Préparer fichiers').item.json.outputFile }}"},"type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[1168,528],"id":"4b8a8032-76bf-4092-80e9-5dad4f91e6eb","name":"Lire PDF depuis le disque1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"btissam.elkaissi@gmail.com","subject":"=🚨 Notification d'absences - {{ $('Préparer fichiers').item.json.fichePointage }} ({{ $('Préparer fichiers').item.json.dateFiche }})","html":"=<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body {\n      font-family: 'Times New Roman', serif;\n      color: #222;\n      line-height: 1.8;\n      background-color: #f5f5f5;\n    }\n    .wrapper {\n      max-width: 700px;\n      margin: 30px auto;\n      background-color: #ffffff;\n      box-shadow: 0 0 10px rgba(0,0,0,0.1);\n    }\n    .letterhead {\n      background-color: #1a237e;\n      color: white;\n      padding: 30px;\n      text-align: center;\n    }\n    .letterhead h1 {\n      margin: 0;\n      font-size: 22px;\n      letter-spacing: 1px;\n    }\n    .content {\n      padding: 40px;\n    }\n    .formal-date {\n      text-align: right;\n      font-style: italic;\n      color: #666;\n      margin-bottom: 30px;\n    }\n    .reference {\n      background-color: #f8f9fa;\n      padding: 15px;\n      margin: 25px 0;\n      border: 1px solid #dee2e6;\n    }\n    .reference p {\n      margin: 5px 0;\n    }\n    .statistics {\n      background-color: #e8eaf6;\n      padding: 20px;\n      margin: 25px 0;\n      border-left: 5px solid #3f51b5;\n    }\n    .statistics h3 {\n      margin-top: 0;\n      color: #1a237e;\n    }\n    .signature {\n      margin-top: 40px;\n      padding-top: 20px;\n      border-top: 2px solid #1a237e;\n    }\n    .footer {\n      background-color: #f8f9fa;\n      padding: 20px;\n      text-align: center;\n      font-size: 12px;\n      color: #666;\n      border-top: 1px solid #dee2e6;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"letterhead\">\n      <h1>DIRECTION DES RESSOURCES HUMAINES</h1>\n      <p>Rapport d'absences du personnel</p>\n    </div>\n    \n    <div class=\"content\">\n      \n      <p><strong>À l'attention de Madame/Monsieur le Directeur des Ressources Humaines,</strong></p>\n      \n      <p>Nous avons l'honneur de porter à votre connaissance le rapport des absences du personnel pour la période concernée.</p>\n      \n      <div class=\"reference\">\n        <p><strong>Référence :</strong> {{ $json.fileName }}</p>\n        <p><strong>Date de pointage :</strong> {{ $json.date }}</p>\n        <p><strong>Date d'émission :</strong> {{ $now.format('DD/MM') }}</p>\n      </div>\n      \n      <div class=\"statistics\">\n        <h3>📊 Statistiques</h3>\n        <p><strong>Nombre total d'absences :</strong> {{ $json.nombreAbsents }} salarié(s)</p>\n        <p><strong>Document joint :</strong> Rapport détaillé au format PDF</p>\n      </div>\n      \n      <p>Le rapport joint présente la liste exhaustive des salariés absents avec les informations suivantes :</p>\n      <ul>\n        <li>Code d'identification du salarié</li>\n        <li>Nom et prénom</li>\n        <li>Numéro de dossier d'absence</li>\n        <li>Type d'absence</li>\n      </ul>\n      \n      <p>Nous vous prions de bien vouloir prendre connaissance de ce document et d'entreprendre les actions nécessaires conformément aux procédures en vigueur.</p>\n      \n      <div class=\"signature\">\n        <p><strong>Veuillez agréer, Madame/Monsieur, l'expression de notre considération distinguée.</strong></p>\n        <p style=\"margin-top: 30px;\">\n          <em>Le Système Automatisé de Gestion RH</em><br>\n          Direction des Ressources Humaines\n        </p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>","options":{"appendAttribution":false,"attachments":"data","ccEmail":"elabbadibrz@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1632,528],"id":"e5daf011-a435-4645-ad94-f3c975fa0c0f","name":"Envoyer Email1","webhookId":"17ac12d1-f714-4b3a-9dc4-65706727c1f9","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"jsCode":"// Nettoyer les fichiers temporaires\nconst fs = require('fs');\n\nconst inputFile = $('Préparer fichiers').item.json.inputFile;\nconst outputFile = $('Préparer fichiers').item.json.outputFile;\n\ntry {\n  if (fs.existsSync(inputFile)) {\n    fs.unlinkSync(inputFile);\n  }\n  if (fs.existsSync(outputFile)) {\n    fs.unlinkSync(outputFile);\n  }\n  return { json: { cleaned: true, message: 'Fichiers temporaires supprimés' } };\n} catch (error) {\n  return { json: { cleaned: false, error: error.message } };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,528],"id":"a3badbb3-3589-45e2-b93e-35313c6879b7","name":"Nettoyer fichiers temp1"},{"parameters":{"assignments":{"assignments":[{"id":"57356baa-8f70-4cb0-8fa3-0354d3b2a658","name":"fileName","value":"={{ $('Préparer fichiers').item.json.fichePointage }}","type":"string"},{"id":"19926df7-be82-4e5a-92b5-b413ae117924","name":"date","value":"={{ $('Préparer fichiers').item.json.dateFiche }}","type":"string"},{"id":"f41eca15-6edf-43d8-b93d-cd23c55e0b97","name":"nombreAbsents","value":"={{ $('Préparer fichiers').item.json.nombreAbsents }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1376,528],"id":"e16e4f16-dfe4-4537-8031-61d8bd075aaf","name":"Edit Fields"},{"parameters":{"jsCode":"// Script de normalisation des types d'absence\n// Convertit les types textuels en numériques\n\n// Récupérer les données du webhook\nconst data = $input.item.json.body;\n\n// Mapping des types textuels vers numériques\nconst typeMapping = {\n  'journée complète': '1',\n  'journee complete': '1',\n  'journée complete': '1',\n  'journee complète': '1',\n  'demi-journée': '2',\n  'demi-journee': '2',\n  'demi journée': '2',\n  'demi journee': '2'\n};\n\n// Normaliser les types d'absence\nif (data.absents && Array.isArray(data.absents)) {\n  data.absents = data.absents.map(absent => {\n    if (absent.type) {\n      // Convertir en minuscule et trim pour la comparaison\n      const typeNormalized = absent.type.toLowerCase().trim();\n      \n      // Chercher la correspondance\n      const mappedType = typeMapping[typeNormalized];\n      \n      if (mappedType) {\n        absent.type = mappedType;\n      } else {\n        // Si pas de correspondance, mettre \"1\" par défaut (journée complète)\n        console.log(`⚠️ Type non reconnu: \"${absent.type}\" pour ${absent.nom} - Type par défaut: 1`);\n        absent.type = '1';\n      }\n    } else {\n      // Si pas de type, mettre \"1\" par défaut\n      absent.type = '1';\n    }\n    return absent;\n  });\n}\n\n// Retourner les données modifiées\nreturn {\n  json: {\n    body: data\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,528],"id":"438f5884-6352-4486-8874-49f5ac4a838e","name":"Normaliser Types d'Absence"}],"connections":{"Préparer fichiers":{"main":[[{"node":"Générer PDF avec Python1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Normaliser Types d'Absence","type":"main","index":0}]]},"Générer PDF avec Python1":{"main":[[{"node":"Lire PDF depuis le disque1","type":"main","index":0}]]},"Lire PDF depuis le disque1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Envoyer Email1":{"main":[[{"node":"Nettoyer fichiers temp1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envoyer Email1","type":"main","index":0}]]},"Normaliser Types d'Absence":{"main":[[{"node":"Préparer fichiers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Paris","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"5m4i1jK9nprJYIHA"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"bjaai.jbel-annour.site","content-length":"14323","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"154.144.230.135","cf-ipcountry":"MA","cf-ray":"9c79bd47ffeab416-MRS","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"7055a0a8-cf8a-4bd8-b27b-104685142c11","connection":"keep-alive","content-type":"application/json","method":"POST","url":"https://bjaai.jbel-annour.site/webhook/notification_rh","x-forwarded-for":"154.144.230.135","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"fiche_pointage":"FPT2600028","date_fiche":"28/01/2026","absents":[{"Codex3":"S1167","nom":"HADIRI AYOUB","dossier":"ABS04302","type":"journée complète"},{"Codex3":"S0031","nom":"KICHOUHI MALIKA","dossier":"ABS04303","type":"journée complète"},{"Codex3":"S0082","nom":"RAIS SOUMAYA","dossier":"ABS04304","type":"journée complète"},{"Codex3":"S0344","nom":"RIAD AYOUB","dossier":"ABS04305","type":"journée complète"},{"Codex3":"S0470","nom":"ESSABRAOUI SOUKAINA","dossier":"ABS04306","type":"journée complète"},{"Codex3":"S0515","nom":"OUALI FATIHA","dossier":"ABS04307","type":"journée complète"},{"Codex3":"S0530","nom":"CHAIB YOUSRA","dossier":"ABS04308","type":"demi-journée"},{"Codex3":"S0905","nom":"FARRAD SALMA","dossier":"ABS04309","type":"journée complète"},{"Codex3":"S1020","nom":"ELAZIZ AZIZ","dossier":"ABS04310","type":"journée complète"},{"Codex3":"S1068","nom":"ELBZYOUY SALAHEDDINE","dossier":"ABS04311","type":"demi-journée"},{"Codex3":"S0673","nom":"BOUKCHAB HANANE","dossier":"ABS04312","type":"demi-journée"},{"Codex3":"S1038","nom":"Touhafi Kawtar","dossier":"ABS04313","type":"journée complète"},{"Codex3":"S1113","nom":"EL MANSOURI KAOUTHAR","dossier":"ABS04314","type":"journée complète"},{"Codex3":"S1140","nom":"FAKHAM ZOUHAIR","dossier":"ABS04315","type":"journée complète"},{"Codex3":"S1098","nom":"ELGHAOUZI ABDELHAKIM","dossier":"ABS04316","type":"journée complète"},{"Codex3":"S1150","nom":"AIT BAHA ZAKARIA","dossier":"ABS04317","type":"journée complète"},{"Codex3":"S1198","nom":"EL KBILI BADR","dossier":"ABS04318","type":"journée complète"},{"Codex3":"S1157","nom":"SHAIMY ABDESSAMAD","dossier":"ABS04319","type":"journée complète"},{"Codex3":"S1279","nom":"ABOUELKASM AYOUB","dossier":"ABS04320","type":"journée complète"},{"Codex3":"S1289","nom":"Adraoui hassane","dossier":"ABS04321","type":"demi-journée"},{"Codex3":"S1300","nom":"Et-tahery Mourad","dossier":"ABS04322","type":"journée complète"},{"Codex3":"S1252","nom":"Zariry Youssef","dossier":"ABS04323","type":"journée complète"},{"Codex3":"S1327","nom":"Chaoui Abdelali ","dossier":"ABS04324","type":"journée complète"},{"Codex3":"S1326","nom":"Ouariagli Fouad","dossier":"ABS04325","type":"journée complète"},{"Codex3":"S1323","nom":"GOUMRI Anas ","dossier":"ABS04326","type":"demi-journée"},{"Codex3":"S1316","nom":"LEGADANI SOUFIANE","dossier":"ABS04327","type":"journée complète"},{"Codex3":"S1370","nom":"SALMI MOHAMMED","dossier":"ABS04328","type":"demi-journée"},{"Codex3":"S1385","nom":"MOUSTAID YOUNESS","dossier":"ABS04329","type":"journée complète"},{"Codex3":"S1389","nom":"BAHARI Moussa","dossier":"ABS04330","type":"journée complète"},{"Codex3":"S1398","nom":"SEBBAR HASSAN","dossier":"ABS04331","type":"journée complète"},{"Codex3":"S1209","nom":"ELALMOUSSI Oussama","dossier":"ABS04332","type":"journée complète"},{"Codex3":"S1227","nom":"larhrib Chaimae","dossier":"ABS04333","type":"journée complète"},{"Codex3":"S1261","nom":"Lahroussi Anass","dossier":"ABS04334","type":"journée complète"},{"Codex3":"S1288","nom":"Kharbouche hakima","dossier":"ABS04335","type":"journée complète"},{"Codex3":"S1286","nom":"JARMANY MOHAMED","dossier":"ABS04336","type":"journée complète"},{"Codex3":"S1295","nom":"OUALI MOUSTAPHA","dossier":"ABS04337","type":"journée complète"},{"Codex3":"S1307","nom":"KHALKI Khaoula","dossier":"ABS04338","type":"journée complète"},{"Codex3":"S1329","nom":"AIT AJNANE EL MEHDI","dossier":"ABS04339","type":"journée complète"},{"Codex3":"S1355","nom":"SAADAOUI YOUSSEF","dossier":"ABS04340","type":"journée complète"},{"Codex3":"S1357","nom":"EL AOSSI Abdellah","dossier":"ABS04341","type":"demi-journée"},{"Codex3":"S1356","nom":"MOURTAJ JAOUAD","dossier":"ABS04342","type":"journée complète"},{"Codex3":"S1368","nom":"MHYA AHMED","dossier":"ABS04343","type":"journée complète"},{"Codex3":"S1231","nom":"Azrour Said ","dossier":"ABS04344","type":"journée complète"},{"Codex3":"S1348","nom":"SBAI MOHAMED","dossier":"ABS04345","type":"journée complète"},{"Codex3":"S1363","nom":"SOUISSI ACHRAF","dossier":"ABS04346","type":"journée complète"},{"Codex3":"S1376","nom":"ELBAZ Ibrahim","dossier":"ABS04347","type":"journée complète"},{"Codex3":"S1364","nom":"HANBAL MOHSSINE ","dossier":"ABS04348","type":"journée complète"},{"Codex3":"S1544","nom":"TARNI JILALI","dossier":"ABS04349","type":"journée complète"},{"Codex3":"S1546","nom":"AIT ICHOU WALID","dossier":"ABS04350","type":"demi-journée"},{"Codex3":"S1410","nom":"Toumi Rachid ","dossier":"ABS04351","type":"journée complète"},{"Codex3":"S1431","nom":"EL HAFDI YAHYA","dossier":"ABS04352","type":"demi-journée"},{"Codex3":"S1435","nom":"ADJANE REDA","dossier":"ABS04353","type":"journée complète"},{"Codex3":"S1461","nom":"EL BADAOUY REDOUANE","dossier":"ABS04354","type":"journée complète"},{"Codex3":"S1462","nom":"LAMNASRY AHMED","dossier":"ABS04355","type":"journée complète"},{"Codex3":"S1467","nom":"CHOKRI ABDELHAK","dossier":"ABS04356","type":"journée complète"},{"Codex3":"S1469","nom":"SABIR KHALID","dossier":"ABS04357","type":"journée complète"},{"Codex3":"S1492","nom":"AHLA AYOUB","dossier":"ABS04358","type":"demi-journée"},{"Codex3":"S1490","nom":"HACHAMA NABIL","dossier":"ABS04359","type":"journée complète"},{"Codex3":"S1489","nom":"MHAR MARIAM","dossier":"ABS04360","type":"journée complète"},{"Codex3":"S1507","nom":"KOUKI REDA","dossier":"ABS04361","type":"journée complète"},{"Codex3":"S1508","nom":"RIAME Ayoub","dossier":"ABS04362","type":"journée complète"},{"Codex3":"S1476","nom":"EL FADLA KHALID","dossier":"ABS04363","type":"journée complète"},{"Codex3":"S1520","nom":"FIZZOU OMAR","dossier":"ABS04364","type":"journée complète"},{"Codex3":"S1493","nom":"DORAH HAMZA","dossier":"ABS04365","type":"demi-journée"},{"Codex3":"S1537","nom":"EL GHAM NOUHAYLA","dossier":"ABS04366","type":"demi-journée"},{"Codex3":"S1529","nom":"HIFDI RABI","dossier":"ABS04367","type":"journée complète"},{"Codex3":"S1535","nom":"MRAGBANE MOHAMED","dossier":"ABS04368","type":"journée complète"},{"Codex3":"S0028","nom":"BAJJOU IMADE","dossier":"ABS04369","type":"journée complète"},{"Codex3":"S1102","nom":"ASOUADA MEHDI","dossier":"ABS04370","type":"journée complète"},{"Codex3":"S1106","nom":"KASSIOUI Mohammed","dossier":"ABS04371","type":"journée complète"},{"Codex3":"S1158","nom":"AIT ICHOU WALID","dossier":"ABS04372","type":"journée complète"},{"Codex3":"S0137","nom":"TARNI JILALI","dossier":"ABS04373","type":"journée complète"},{"Codex3":"S0316","nom":"MANSSOURI MUSTAPHA","dossier":"ABS04374","type":"journée complète"},{"Codex3":"S0265","nom":"ERRBAHI ABDERRAHIM","dossier":"ABS04375","type":"journée complète"},{"Codex3":"S1131","nom":"Kamal Younes","dossier":"ABS04376","type":"journée complète"},{"Codex3":"S0903","nom":"BELAZZABI ZAKARIA","dossier":"ABS04377","type":"demi-journée"},{"Codex3":"S0798","nom":"FEKAKY SAID","dossier":"ABS04378","type":"journée complète"},{"Codex3":"S0252","nom":"KHALIS KAMAL","dossier":"ABS04379","type":"journée complète"},{"Codex3":"S0153","nom":"BELBOUHALI MOHAMMED","dossier":"ABS04380","type":"journée complète"},{"Codex3":"S0594","nom":"BOUTMIM FOUAD","dossier":"ABS04381","type":"journée complète"},{"Codex3":"S0599","nom":"EL FANOUNI NADA","dossier":"ABS04382","type":"journée complète"},{"Codex3":"S0691","nom":"EL OUATIKI CHARIF","dossier":"ABS04383","type":"journée complète"},{"Codex3":"S0874","nom":"EL HARROUNI ALAOUI EL GHALI","dossier":"ABS04384","type":"journée complète"},{"Codex3":"S0925","nom":"MRANI ALAOUI AL MEHDI","dossier":"ABS04385","type":"journée complète"},{"Codex3":"S0928","nom":"EZ-ZOUGGARI HICHAM","dossier":"ABS04386","type":"journée complète"},{"Codex3":"S0997","nom":"SOUGMI KAMAL","dossier":"ABS04387","type":"journée complète"},{"Codex3":"S0719","nom":"EL AMINE ABDELLATIF","dossier":"ABS04388","type":"journée complète"},{"Codex3":"S0387","nom":"SALAHEDDIN AYMAN","dossier":"ABS04389","type":"journée complète"},{"Codex3":"S0405","nom":"BAATMANE M'HAND","dossier":"ABS04390","type":"journée complète"},{"Codex3":"S0534","nom":"KHALAFA MOHAMMED","dossier":"ABS04391","type":"journée complète"},{"Codex3":"S0616","nom":"BELABED HASSANE","dossier":"ABS04392","type":"journée complète"},{"Codex3":"S0617","nom":"EL MAHMOUDY SOUFIANE","dossier":"ABS04393","type":"journée complète"},{"Codex3":"S0232","nom":"ELGANA FATEH","dossier":"ABS04394","type":"journée complète"},{"Codex3":"S0614","nom":"EL MAJDOUB M'RHAR","dossier":"ABS04395","type":"journée complète"},{"Codex3":"S0805","nom":"EL HOB Youssef","dossier":"ABS04396","type":"journée complète"},{"Codex3":"S0233","nom":"EL HIRECH HAMMOU","dossier":"ABS04397","type":"journée complète"},{"Codex3":"S0299","nom":"MONSSIF ABDESLAM","dossier":"ABS04398","type":"journée complète"},{"Codex3":"S0057","nom":"ES-SOUISSI AHMED","dossier":"ABS04399","type":"journée complète"},{"Codex3":"S0087","nom":"BENAZIZI RACHID","dossier":"ABS04400","type":"journée complète"},{"Codex3":"S0364","nom":"EL KHAYATI OTHMANE","dossier":"ABS04401","type":"journée complète"},{"Codex3":"S0374","nom":"MAROUF MOHAMMED","dossier":"ABS04402","type":"journée complète"},{"Codex3":"S0394","nom":"LAMALLAH ABDELMJID","dossier":"ABS04403","type":"journée complète"},{"Codex3":"S0465","nom":"SABBAR SAAD","dossier":"ABS04404","type":"journée complète"},{"Codex3":"S0471","nom":"RAJI HASSAN","dossier":"ABS04405","type":"journée complète"},{"Codex3":"S0545","nom":"EL AYYACHI BALGHITI","dossier":"ABS04406","type":"journée complète"},{"Codex3":"S0565","nom":"HOUSSNI KAMAL","dossier":"ABS04407","type":"journée complète"},{"Codex3":"S0574","nom":"NEFFAD OUSSAMA","dossier":"ABS04408","type":"journée complète"},{"Codex3":"S0624","nom":"JADIANY EL MOSTAFA","dossier":"ABS04409","type":"journée complète"},{"Codex3":"S0198","nom":"HAMMOUCH KAMAL","dossier":"ABS04410","type":"journée complète"},{"Codex3":"S0201","nom":"ELMAHROUCH HAMID","dossier":"ABS04411","type":"journée complète"},{"Codex3":"S0203","nom":"EL KOBB YASSENE","dossier":"ABS04412","type":"journée complète"},{"Codex3":"S0210","nom":"EL KHAYATI NOUREDDINE","dossier":"ABS04413","type":"journée complète"},{"Codex3":"S0211","nom":"BOUCHALA CHAKIR","dossier":"ABS04414","type":"journée complète"},{"Codex3":"S0215","nom":"ABOURZAIM JILALI","dossier":"ABS04415","type":"journée complète"},{"Codex3":"S0240","nom":"ELHIRECH AZZOUZ","dossier":"ABS04416","type":"journée complète"},{"Codex3":"S0242","nom":"ROUKHILA MOHAMED","dossier":"ABS04417","type":"journée complète"},{"Codex3":"S0247","nom":"LASMAK YOUSSEF","dossier":"ABS04418","type":"journée complète"},{"Codex3":"S0248","nom":"FEKKAKY SALAH","dossier":"ABS04419","type":"journée complète"},{"Codex3":"S0251","nom":"EL HIRECH MOUSSA","dossier":"ABS04420","type":"journée complète"},{"Codex3":"S0253","nom":"BELGHITI DRISS","dossier":"ABS04421","type":"journée complète"},{"Codex3":"S0254","nom":"EL KOBB MOURAD","dossier":"ABS04422","type":"journée complète"},{"Codex3":"S0258","nom":"FOUTOUH MOHAMED","dossier":"ABS04423","type":"journée complète"},{"Codex3":"S0261","nom":"FOURAD YASSINE","dossier":"ABS04424","type":"journée complète"},{"Codex3":"S0269","nom":"ELHADDANI AZIZ","dossier":"ABS04425","type":"journée complète"},{"Codex3":"S0272","nom":"ETTOURCHI ELHACHMI","dossier":"ABS04426","type":"journée complète"},{"Codex3":"S0294","nom":"GJINI ABDERRAZZAK","dossier":"ABS04427","type":"journée complète"},{"Codex3":"S0779","nom":"RIRY NABIL","dossier":"ABS04428","type":"journée complète"},{"Codex3":"S0741","nom":"DADI ABDERRAHIM","dossier":"ABS04429","type":"journée complète"},{"Codex3":"S0757","nom":"KOTBI MOUHCINE","dossier":"ABS04430","type":"journée complète"},{"Codex3":"S0838","nom":"NAJIH AHMED","dossier":"ABS04431","type":"journée complète"},{"Codex3":"S0404","nom":"RAMLI ABDELMJID","dossier":"ABS04432","type":"journée complète"},{"Codex3":"S0449","nom":"OUHOUSSA HICHAM","dossier":"ABS04433","type":"journée complète"},{"Codex3":"S0209","nom":"ELHIRECH AHMED","dossier":"ABS04434","type":"journée complète"},{"Codex3":"S0259","nom":"SARHROUNI ABDELHAK","dossier":"ABS04435","type":"journée complète"},{"Codex3":"S0281","nom":"CHEBLAOUI TARIK","dossier":"ABS04436","type":"journée complète"},{"Codex3":"S0298","nom":"DAROUICHE ALI","dossier":"ABS04437","type":"journée complète"},{"Codex3":"S1033","nom":"LOKBIDI YOUNESSE","dossier":"ABS04438","type":"journée complète"},{"Codex3":"S0163","nom":"LATIF AHMED","dossier":"ABS04439","type":"journée complète"},{"Codex3":"S0375","nom":"AHMADI EL HOUSSAINE","dossier":"ABS04440","type":"journée complète"},{"Codex3":"S0396","nom":"SERTI KARYM","dossier":"ABS04441","type":"journée complète"},{"Codex3":"S0488","nom":"KNOUZ MOHAMED","dossier":"ABS04442","type":"journée complète"},{"Codex3":"S0474","nom":"BENDAOUI NOUR-EDDINE","dossier":"ABS04443","type":"journée complète"},{"Codex3":"S0538","nom":"LABRAHMI ABDELILAH","dossier":"ABS04444","type":"journée complète"},{"Codex3":"S0908","nom":"BENJERRARA HAMZA","dossier":"ABS04445","type":"demi-journée"},{"Codex3":"S0995","nom":"ELOUCHAM Hamza","dossier":"ABS04446","type":"journée complète"},{"Codex3":"S0221","nom":"BOUMSSISSE HASSAN","dossier":"ABS04447","type":"demi-journée"},{"Codex3":"S0260","nom":"BENBRAHIM HAKIM","dossier":"ABS04448","type":"journée complète"},{"Codex3":"S0292","nom":"EL ABBAR MAHMOUD","dossier":"ABS04449","type":"journée complète"},{"Codex3":"S0310","nom":"HICHAM MUSTAPHA","dossier":"ABS04450","type":"journée complète"},{"Codex3":"S0521","nom":"SIDKI MERYEM","dossier":"ABS04451","type":"journée complète"},{"Codex3":"S0821","nom":"EL FATIHI Arsalan","dossier":"ABS04452","type":"demi-journée"},{"Codex3":"S0255","nom":"AGUIDA MOSTAFA","dossier":"ABS04453","type":"journée complète"},{"Codex3":"S0066","nom":"BOUZBIB ABDELKADER","dossier":"ABS04454","type":"journée complète"},{"Codex3":"S0878","nom":"MOUDAKKIR ISMAIL","dossier":"ABS04455","type":"journée complète"},{"Codex3":"S0790","nom":"FEJJAJ TARIK","dossier":"ABS04456","type":"journée complète"},{"Codex3":"S0716","nom":"NABIHI redouane","dossier":"ABS04457","type":"journée complète"}]},"webhookUrl":"https://bjaai.jbel-annour.site/webhook/notification_rh","executionMode":"production"}}]},"versionId":"b64d02a3-61bf-465c-af96-97e8a392a292","triggerCount":1,"tags":[]}