notification fournisseur remise-eXuiCI8V4XMyobbx.json
{"createdAt":"2026-03-13T09:37:29.657Z","updatedAt":"2026-06-30T03:54:05.000Z","id":"eXuiCI8V4XMyobbx","name":"notification fournisseur remise","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":14,"triggerAtMinute":25}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,-1680],"id":"33e8d3a9-3e58-4d48-938e-283d034b900f","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    DISTINCT\n    DP.XCODF_0                          AS CODE_FRNS,\n    BP.BPRNAM_0                         AS Raison,\n    BP.XCPT_0                           AS Comptable,\n    DD.XNUM_0                           AS N_Depot,\n    DP.XMNT_0                           AS Mnt_Facture,\n    DP.XCMD_0                           AS BC,\n    DP.XMNTCMD_0                        AS MontantBC,\n    DD.XNRCP_0                          AS Bon_Reception,\n    DD.XNUMBL_0                         AS Bon_livraison,\n    DP.XFACT_0                          AS FactureFrns,\n    FORMAT(DP.XDATF_0, 'dd/MM/yyyy')   AS DateFacture,\n    DD.XMNTRCP_0                        AS Montant_Net_Par_BR,\n    BR_SUM.SOMME_BR_DEDUP               AS SOME_BR_F,\n    (DP.XMNT_0 - BR_SUM.SOMME_BR_DEDUP) AS Ecart_Global\n\nFROM BASE1.XDEPFAD DD\nINNER JOIN BASE1.XDEPFACT DP  ON DD.XNUM_0    = DP.XNUM_0\nLEFT  JOIN BASE1.BPARTNER  BP  ON DP.XCODF_0   = BP.BPRNUM_0\nLEFT  JOIN BASE1.PORDER    PO  ON PO.POHNUM_0  = DP.XCMD_0\nLEFT  JOIN BASE1.PINVOICED P   ON P.NUMORI_0   = DD.XNRCP_0\n\n-- ← NOUVEAU : vérification si la facture existe déjà dans PINVOICE\nLEFT JOIN BASE1.PINVOICE PI ON (\n    LTRIM(RTRIM(PI.INVREF_0)) = 'FN°' + LTRIM(RTRIM(DP.XFACT_0))  -- Cas 1 : avec FN°\n    OR\n    LTRIM(RTRIM(PI.INVREF_0)) = LTRIM(RTRIM(DP.XFACT_0))           -- Cas 2 : sans FN°\n)\n\n-- Retours\nLEFT JOIN (\n    SELECT\n        N.PTHNUM_0,\n        SUM(N.QTYPUU_0 * RD.NETPRI_0 \n            + (N.QTYPUU_0 * (RD.AMTTAXLIN1_0 / NULLIF(RD.QTYPUU_0, 0)))) AS Total_Retours_TTC\n    FROM BASE1.PRETURND N\n    INNER JOIN BASE1.PRECEIPTD RD \n        ON N.PTHNUM_0 = RD.PTHNUM_0 \n        AND N.PTDLIN_0 = RD.PTDLIN_0\n    INNER JOIN BASE1.PRETURN PT \n        ON N.PNHNUM_0 = PT.PNHNUM_0\n    WHERE PT.XRETINT_0 <> 2\n    GROUP BY N.PTHNUM_0\n) RET ON RET.PTHNUM_0 = DD.XNRCP_0\n\n\nLEFT JOIN (\n    SELECT \n        XFACT_0,\n        SUM(XMNTRCP_0) AS SOMME_BR_DEDUP\n    FROM (\n        SELECT DISTINCT\n            DP3.XFACT_0,\n            DD3.XNRCP_0,\n            DD3.XMNTRCP_0\n        FROM BASE1.XDEPFAD    DD3\n        INNER JOIN BASE1.XDEPFACT DP3 ON DD3.XNUM_0 = DP3.XNUM_0\n        WHERE DD3.XNRCP_0 <> ''\n    ) BR_DIST\n    GROUP BY XFACT_0\n) BR_SUM ON BR_SUM.XFACT_0 = DP.XFACT_0\n\nWHERE DD.XNRCP_0 <> ''\n  AND P.NUM_0    IS NULL\n  AND PI.NUM_0   IS NULL    -- ← NOUVEAU : exclure si facture déjà dans PINVOICE\n  -- AND PO.CLEFLG_0 = 2\n  AND DP.XORGI_0 = 2\n  --AND DP.XCMD_0 ='BC190697'\n\nORDER BY DP.XCMD_0"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2048,-1680],"id":"36bf8a93-ef66-4301-82f2-9d3c2d79d5a6","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec69f2b0-a850-4c6a-a0c5-f6c1461b66ad","leftValue":"={{ $json.Ecart_Global }}","rightValue":"={{Number(0)}}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2272,-1680],"id":"836c8d28-f8ca-4e6d-9b22-4b8479369c62","name":"If"},{"parameters":{"operation":"executeQuery","query":"select XCMD_0,XFACT_0,XMNT_0,XNUM_0 from BASE1.XDEPFACT\nwhere XFACT_0='{{ $json.FactureFrns }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2720,-1680],"id":"77e91cb6-4ead-44b5-9db8-f0136ccc6880","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    REC.PTHNUM_0,\n    REC.POHNUM_0,\n    REC.LINATIAMT_0  AS mnt_br,\n    REC.XBNT_0       AS bl,\n    REC.QTYUOM_0     AS quantity,\n    '{{ $json.XFACT_0 }}'    AS facture_fournisseur,\n    {{ $json.XMNT_0 }}       AS mnt_facture,\n    '{{ $json.XNUM_0 }}'     AS DFF\nFROM BASE1.PRECEIPTD REC\nLEFT JOIN BASE1.PINVOICED PI\n    ON PI.NUMORI_0 = REC.PTHNUM_0\nWHERE REC.POHNUM_0 = '{{ $json.XCMD_0 }}'\n  AND PI.NUM_0 IS NULL\n  AND REC.PTHNUM_0 NOT IN (\n      SELECT RTD.PTHNUM_0\n      FROM BASE1.PRETURN RT\n      INNER JOIN BASE1.PRETURND RTD\n          ON RT.PNHNUM_0 = RTD.PNHNUM_0\n      WHERE RT.XRETINT_0 = 2\n  )\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[2944,-1680],"id":"e61a5f62-2d2a-4bb3-976e-8f33173146d9","name":"Microsoft SQL3","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01226f2e-1b9f-4ada-80df-23d6bdf6b7cf","leftValue":"={{ $json.statut }}","rightValue":"MATCH","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3392,-1680],"id":"5f65022c-f894-4b56-b254-d1f3c465fa49","name":"If2"},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const { facture_fournisseur, mnt_facture, liste_DFFs, detail_brs_disponibles } = item.json;\n\n  // Collecter tous les BCs uniques depuis detail_brs_disponibles\n  const bcsSet = new Set();\n  const dffsSet = new Set();\n\n  (detail_brs_disponibles || []).forEach(br => {\n    // BCs peuvent être séparés par virgule dans le champ BCs\n    (br.BCs || '').split(',').map(s => s.trim()).filter(Boolean).forEach(bc => bcsSet.add(bc));\n    if (br.DFF) dffsSet.add(br.DFF.trim());\n  });\n\n  // Aussi collecter depuis liste_DFFs au niveau racine\n  (liste_DFFs || '').split(',').map(s => s.trim()).filter(Boolean).forEach(d => dffsSet.add(d));\n\n  return {\n    json: {\n      facture_fournisseur,\n      mnt_facture,\n      liste_DFFs:  [...dffsSet].join(', '),\n      liste_BCs:   [...bcsSet].join(', '),\n      nb_bcs:      bcsSet.size,\n      nb_dffs:     dffsSet.size\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3616,-1696],"id":"a1b15f5a-3859-4ad2-a63b-00069d2ec241","name":"Code19"},{"parameters":{"jsCode":"const items = $input.all();\nconst normalise = (s) => (s || '').trim().toUpperCase();\nconst arrondi   = (n) => Math.round(parseFloat(n || 0) * 100) / 100;\n\n// ── 1. Grouper par facture → collecter tous les BRs distincts ──────────\nconst groupes = {};\n\nfor (const item of items) {\n  const { PTHNUM_0, POHNUM_0, mnt_br, bl, facture_fournisseur, mnt_facture, DFF } = item.json;\n\n  const keyFacture = normalise(facture_fournisseur);\n  if (!keyFacture) continue;\n\n  if (!groupes[keyFacture]) {\n    groupes[keyFacture] = {\n      facture_fournisseur: keyFacture,\n      mnt_facture:         arrondi(mnt_facture),\n      dffs:                new Set(),   // plusieurs DFF possibles pour une facture\n      brs:                 {}\n    };\n  }\n\n  const grp   = groupes[keyFacture];\n  const keyBR = normalise(PTHNUM_0);\n\n  // Collecter les DFF liés à cette facture\n  if (DFF) grp.dffs.add(normalise(DFF));\n\n  if (!grp.brs[keyBR]) {\n    grp.brs[keyBR] = {\n      BR:     PTHNUM_0,\n      BCs:    new Set(),\n      BL:     (bl || '').trim(),\n      DFF:    DFF || '',\n      mnt_br: 0\n    };\n  }\n  grp.brs[keyBR].mnt_br = arrondi(grp.brs[keyBR].mnt_br + arrondi(mnt_br));\n  grp.brs[keyBR].BCs.add(normalise(POHNUM_0));\n  if (DFF) grp.brs[keyBR].DFF = DFF; // mise à jour si présent\n}\n\n// ── 2. Subset sum : trouver combinaison(s) de BRs = mnt_facture ────────\nfunction trouverCombinations(brs, cible, tolerance = 0.01) {\n  const resultats = [];\n\n  function backtrack(index, somme, combo) {\n    if (Math.abs(somme - cible) <= tolerance) {\n      resultats.push([...combo]);\n      return;\n    }\n    if (somme > cible + tolerance || index >= brs.length) return;\n\n    for (let i = index; i < brs.length; i++) {\n      combo.push(brs[i]);\n      backtrack(i + 1, arrondi(somme + brs[i].mnt_br), combo);\n      combo.pop();\n    }\n  }\n\n  backtrack(0, 0, []);\n  return resultats;\n}\n\n// ── 3. Construire résultat ─────────────────────────────────────────────\nconst resultats = [];\n\nfor (const grp of Object.values(groupes)) {\n  const { facture_fournisseur, mnt_facture, brs, dffs } = grp;\n  const brsListe     = Object.values(brs);\n  const sommeTotale  = arrondi(brsListe.reduce((s, b) => s + b.mnt_br, 0));\n  const combinations = trouverCombinations(brsListe, mnt_facture);\n  const liste_dffs   = [...dffs].join(', ');\n\n  if (combinations.length > 0) {\n    combinations.forEach((combo, idx) => {\n      resultats.push({\n        statut:             'MATCH',\n        facture_fournisseur,\n        mnt_facture,\n        liste_DFFs:         liste_dffs,\n        somme_combo:        arrondi(combo.reduce((s, b) => s + b.mnt_br, 0)),\n        ecart:              0,\n        combinaison_nb:     idx + 1,\n        nb_brs_match:       combo.length,\n        nb_brs_disponibles: brsListe.length,\n        liste_BRs_match:    combo.map(b => b.BR).join(', '),\n        liste_BCs_match:    [...new Set(combo.flatMap(b => [...b.BCs]))].join(', '),\n        brs_non_utilises:   brsListe\n                              .filter(b => !combo.find(c => c.BR === b.BR))\n                              .map(b => b.BR).join(', '),\n        detail_brs_match:   combo.map(b => ({\n          DFF:    b.DFF,\n          BR:     b.BR,\n          BL:     b.BL,\n          BCs:    [...b.BCs].join(', '),\n          mnt_br: b.mnt_br\n        }))\n      });\n    });\n  } else {\n    const ecart = arrondi(sommeTotale - mnt_facture);\n    resultats.push({\n      statut:             sommeTotale > mnt_facture ? 'SURPLUS_BR' : 'MANQUE_BR',\n      facture_fournisseur,\n      mnt_facture,\n      liste_DFFs:         liste_dffs,\n      somme_combo:        sommeTotale,\n      ecart,\n      combinaison_nb:     0,\n      nb_brs_match:       0,\n      nb_brs_disponibles: brsListe.length,\n      liste_BRs_match:    '',\n      liste_BCs_match:    '',\n      brs_non_utilises:   brsListe.map(b => b.BR).join(', '),\n      detail_brs_match:   [],\n      detail_brs_disponibles: brsListe.map(b => ({\n        DFF:    b.DFF,\n        BR:     b.BR,\n        BL:     b.BL,\n        BCs:    [...b.BCs].join(', '),\n        mnt_br: b.mnt_br\n      }))\n    });\n  }\n}\n\n// Trier : MATCH en premier, puis par mnt_facture décroissant\nresultats.sort((a, b) => {\n  if (a.statut === 'MATCH' && b.statut !== 'MATCH') return -1;\n  if (a.statut !== 'MATCH' && b.statut === 'MATCH') return 1;\n  return b.mnt_facture - a.mnt_facture;\n});\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3168,-1680],"id":"4cc14cc5-c7d4-46b7-94f9-cc84bb0b028a","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"953e4756-8841-43b9-8942-df575e170eb3","leftValue":"={{ $json.Mnt_Facture }}","rightValue":"={{ $json.MontantBC }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2496,-1696],"id":"e0128653-30d2-4bc0-b6c9-5942542cc089","name":"If1"},{"parameters":{"operation":"executeQuery","query":"select DISTINCT numero_bc, num_facture,observation,numero_bl from ocr_facture\nwhere num_facture='{{ $json.facture_fournisseur }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[3824,-1696],"id":"2807eb0a-8003-4fc9-8135-3b0e83aff81e","name":"Execute a SQL query","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a847c7f-f3fa-49bd-b038-3f42b34f52fe","leftValue":"={{ $json.observation }}","rightValue":"MATCH","operator":{"type":"string","operation":"notEquals"}},{"id":"243ad6f6-bbef-4562-acc8-8f9d39db186c","leftValue":"={{ $json.observation }}","rightValue":"BLOQUE","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4080,-1696],"id":"cb85ab1b-ad0e-40bf-bde0-0a89f33d22b4","name":"If4"},{"parameters":{"operation":"executeQuery","query":"select  * from ocr_facture\nwhere num_facture='{{ $json.num_facture }}'","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[5824,-1904],"id":"cbcae6db-330a-4119-ab70-bac6613226b0","name":"Execute a SQL query1","executeOnce":false,"credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"operation":"executeQuery","query":"select REC.PTHNUM_0,REC.POHNUM_0,REC.LINATIAMT_0 as mnt_br,REC.XBNT_0 as bl, REC.ITMREF_0 as code_article_erp, REC.QTYUOM_0 as quantity,'{{ $json.XFACT_0 }}' as facture_fournisseur, {{ $json.XMNT_0 }} as mnt_facture, '{{ $json.XNUM_0 }}' as DFF from BASE1.PRECEIPTD REC\nleft join BASE1.PINVOICED PI\n  on PI.NUMORI_0=REC.PTHNUM_0\n  where REC.POHNUM_0='{{ $json.XCMD_0 }}' \nAND PI.NUM_0 is NULL"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[5920,-2208],"id":"15200e80-997d-4c18-8e12-e4e224fece5a","name":"Microsoft SQL7","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}},"disabled":true},{"parameters":{"jsCode":"// ============================================================\n//  ANALYSEUR D'ÉCARTS ARTICLES — Nœud Code n8n  v4\n//\n//  Corrections v4 :\n//    — codes_en_ecart ne contient que les VRAIS écarts\n//      (ECART_REEL ou écart quantité) — les cas OCR_TTC_AU_LIEU_DE_HT\n//      et RECEPTION_PARTIELLE_FACTUREE_TOTAL ne sont PAS des écarts\n//    — Tolérance globale de 5 DH sur :\n//        1. Le total facture OCR  vs  somme mnt_ht_erp_total\n//        2. Le total facture OCR  vs  somme mnt_ttc_erp_total\n//    — type_ecart \"OK\" inclut désormais les cas où\n//      quantité et montant matchent (HT ou TTC)\n// ============================================================\n\n// ─── 1. CONFIGURATION ────────────────────────────────────────\nconst CONFIG = {\n  // Tolérance par ligne (centimes)\n  toleranceMontantLigne: 0.01,\n\n  // Tolérance globale sur le total facture (en DH)\n  toleranceTotalFacture: 5,\n\n  champs: {\n    code_article:     \"code_article\",\n    code_article_erp: \"code_article_erp\",\n    quantite_ocr:     \"quantite\",\n    quantite_erp:     \"quantity\",\n    montant_ht_ocr:   \"montant_ht_ocr\",\n    montant_ht_erp:   \"mnt_br_ht\",\n    montant_ttc_erp:  \"mnt_br_ttc\",\n    numero_bc:        \"numero_bc\",\n    num_facture:      \"num_facture\",\n    dff:              \"dff\",\n    bl:               \"bl\",\n    id:               \"id\",\n    // Champ optionnel : montant total de la facture OCR\n    // (si présent dans vos données, ex: \"mnt_facture\")\n    mnt_facture_ocr:  \"mnt_facture\",\n  }\n};\n\n// ─── 2. UTILITAIRES ──────────────────────────────────────────\n\nfunction round(n, dec = 2) {\n  return Math.round(n * Math.pow(10, dec)) / Math.pow(10, dec);\n}\n\nfunction parseNum(val) {\n  const n = parseFloat(val);\n  return isNaN(n) ? 0 : n;\n}\n\nfunction get(row, fieldKey) {\n  return row[CONFIG.champs[fieldKey]];\n}\n\n// ─── 3. DIAGNOSTIC MONTANT LIGNE ─────────────────────────────\n\nfunction diagnostiquerMontant(mnt_ocr, mnt_ht_erp, mnt_ttc_erp) {\n  const tol = CONFIG.toleranceMontantLigne;\n\n  const delta_ocr_vs_ht  = round(mnt_ocr - mnt_ht_erp);\n  const delta_ocr_vs_ttc = round(mnt_ocr - mnt_ttc_erp);\n\n  const ecart_ocr_vs_ht  = Math.abs(delta_ocr_vs_ht)  > tol;\n  const ecart_ocr_vs_ttc = Math.abs(delta_ocr_vs_ttc) > tol;\n\n  // ocr_nature :\n  //   HT_CORRECT  → OCR = HT ERP        ✓ pas d'écart\n  //   TTC_EXTRAIT → OCR = TTC ERP       ✓ pas d'écart de valeur, juste de base\n  //   ECART_REEL  → OCR ≠ HT ni TTC    ✗ vrai problème\n  let ocr_nature;\n  if      (!ecart_ocr_vs_ht)  ocr_nature = \"HT_CORRECT\";\n  else if (!ecart_ocr_vs_ttc) ocr_nature = \"TTC_EXTRAIT\";\n  else                         ocr_nature = \"ECART_REEL\";\n\n  return {\n    delta_ocr_vs_ht,\n    ecart_ocr_vs_ht,\n    delta_ocr_vs_ttc,\n    ecart_ocr_vs_ttc,\n    ocr_nature,\n    ocr_extrait_ttc: ocr_nature === \"TTC_EXTRAIT\",\n  };\n}\n\n// ─── 4. EXTRACTION DES CHAMPS D'UNE LIGNE ────────────────────\n\nfunction extraireChamps(row) {\n  return {\n    id:            get(row, \"id\") || \"\",\n    code_article:  get(row, \"code_article\") || get(row, \"code_article_erp\") || \"\",\n    bc:            get(row, \"numero_bc\") || \"\",\n    facture:       get(row, \"num_facture\") || \"\",\n    dff:           get(row, \"dff\") || row[\"DFF\"] || \"\",\n    bl:            get(row, \"bl\") || \"\",\n    qty_ocr:       parseNum(get(row, \"quantite_ocr\")),\n    qty_erp:       parseNum(get(row, \"quantite_erp\")),\n    mnt_ocr:       parseNum(get(row, \"montant_ht_ocr\")),\n    mnt_ht_erp:    parseNum(get(row, \"montant_ht_erp\")),\n    mnt_ttc_erp:   parseNum(get(row, \"montant_ttc_erp\")),\n    mnt_facture:   parseNum(get(row, \"mnt_facture_ocr\")),\n  };\n}\n\n// ─── 5. CONSOLIDATION DES DOUBLONS ───────────────────────────\n\nfunction consoliderGroupes(lignes) {\n  const groupes = {};\n  const ordre   = [];\n\n  lignes.forEach(row => {\n    const c   = extraireChamps(row);\n    const key = `${c.code_article}__${c.bc}`;\n\n    if (!groupes[key]) {\n      ordre.push(key);\n      groupes[key] = {\n        ids:               [],\n        code_article:      c.code_article,\n        bc:                c.bc,\n        facture:           c.facture,\n        dff:               c.dff,\n        bl:                c.bl,\n        qty_ocr:           c.qty_ocr,\n        mnt_ocr:           c.mnt_ocr,\n        mnt_facture:       c.mnt_facture,\n        qty_erp_total:     0,\n        mnt_ht_erp_total:  0,\n        mnt_ttc_erp_total: 0,\n        lignes_erp:        [],\n        est_doublon:       false,\n      };\n    }\n\n    const g = groupes[key];\n    g.ids.push(c.id);\n    g.qty_erp_total     = round(g.qty_erp_total     + c.qty_erp);\n    g.mnt_ht_erp_total  = round(g.mnt_ht_erp_total  + c.mnt_ht_erp);\n    g.mnt_ttc_erp_total = round(g.mnt_ttc_erp_total + c.mnt_ttc_erp);\n    g.lignes_erp.push({\n      id:          c.id,\n      bl:          c.bl,\n      qty_erp:     c.qty_erp,\n      mnt_ht_erp:  c.mnt_ht_erp,\n      mnt_ttc_erp: c.mnt_ttc_erp,\n    });\n\n    if (g.lignes_erp.length > 1) g.est_doublon = true;\n  });\n\n  return ordre.map(key => groupes[key]);\n}\n\n// ─── 6. ANALYSE D'UN GROUPE ──────────────────────────────────\n\nfunction analyserGroupe(g) {\n  // ── Quantité ─────────────────────────────────────────────\n  const delta_qty = round(g.qty_ocr - g.qty_erp_total);\n  const ecart_qty = delta_qty !== 0;\n\n  // ── Montant (sur totaux consolidés) ──────────────────────\n  const diag = diagnostiquerMontant(g.mnt_ocr, g.mnt_ht_erp_total, g.mnt_ttc_erp_total);\n\n  // ── TVA implicite ─────────────────────────────────────────\n  let taux_tva_implicite = null;\n  if (g.mnt_ht_erp_total > 0 && g.mnt_ttc_erp_total > 0) {\n    taux_tva_implicite = round((g.mnt_ttc_erp_total / g.mnt_ht_erp_total - 1) * 100);\n  }\n\n  // ── Réception partielle ───────────────────────────────────\n  //  Doublon + quantité OK + montant OK (HT ou TTC)\n  const reception_partielle =\n    g.est_doublon &&\n    !ecart_qty &&\n    (diag.ocr_nature === \"HT_CORRECT\" || diag.ocr_nature === \"TTC_EXTRAIT\");\n\n  // ── Vrai écart ? ──────────────────────────────────────────\n  //  Un article EST en écart uniquement si :\n  //    - écart quantité, OU\n  //    - ECART_REEL sur le montant\n  //  Les cas TTC_EXTRAIT et HT_CORRECT ne sont PAS des écarts\n  const ecart_mnt_reel = diag.ocr_nature === \"ECART_REEL\";\n  const vrai_ecart     = ecart_qty || ecart_mnt_reel;\n\n  // ── Type d'écart ──────────────────────────────────────────\n  let type_ecart;\n  if (reception_partielle) {\n    type_ecart = diag.ocr_extrait_ttc\n      ? \"RECEPTION_PARTIELLE_FACTUREE_TOTAL_TTC\"\n      : \"RECEPTION_PARTIELLE_FACTUREE_TOTAL_HT\";\n  } else if (ecart_qty && ecart_mnt_reel) {\n    type_ecart = \"QTE_ET_MONTANT\";\n  } else if (ecart_qty) {\n    type_ecart = \"QUANTITE_SEULE\";\n  } else if (ecart_mnt_reel) {\n    type_ecart = \"MONTANT_SEUL_REEL\";\n  } else if (diag.ocr_extrait_ttc) {\n    // Pas un vrai écart — OCR a capturé le TTC, valeur correcte\n    type_ecart = \"OK_OCR_BASE_TTC\";\n  } else {\n    type_ecart = \"OK\";\n  }\n\n  // a_ecart = true UNIQUEMENT pour les vrais problèmes\n  const a_ecart = vrai_ecart;\n\n  // ── Notes ─────────────────────────────────────────────────\n  const notes = [];\n  if (reception_partielle)            notes.push(\"RECEPTION_PARTIELLE_FACTUREE_EN_TOTAL\");\n  if (diag.ocr_extrait_ttc)           notes.push(\"OCR_EXTRAIT_EN_TTC\");\n  if (ecart_mnt_reel)                 notes.push(\"ECART_MONTANT_REEL\");\n  if (ecart_qty && delta_qty > 0)     notes.push(\"QTE_OCR_SUPERIEURE_ERP\");\n  if (ecart_qty && delta_qty < 0)     notes.push(\"QTE_OCR_INFERIEURE_ERP\");\n  if (g.est_doublon && !reception_partielle)\n    notes.push(`DOUBLON_${g.lignes_erp.length}_LIGNES_ERP`);\n\n  return {\n    ids:           g.ids,\n    code_article:  g.code_article,\n    numero_bc:     g.bc,\n    num_facture:   g.facture,\n    dff:           g.dff,\n    bl:            g.bl,\n\n    qty_ocr:           g.qty_ocr,\n    qty_erp_total:     g.qty_erp_total,\n    delta_qty,\n    ecart_qty,\n\n    mnt_ocr_brut:      g.mnt_ocr,\n    mnt_ht_erp_total:  g.mnt_ht_erp_total,\n    mnt_ttc_erp_total: g.mnt_ttc_erp_total,\n    taux_tva_implicite,\n\n    delta_ocr_vs_ht:   diag.delta_ocr_vs_ht,\n    ecart_ocr_vs_ht:   diag.ecart_ocr_vs_ht,\n    delta_ocr_vs_ttc:  diag.delta_ocr_vs_ttc,\n    ecart_ocr_vs_ttc:  diag.ecart_ocr_vs_ttc,\n\n    ocr_nature:        diag.ocr_nature,\n    ocr_extrait_ttc:   diag.ocr_extrait_ttc,\n\n    est_doublon:                        g.est_doublon,\n    nb_lignes_erp:                      g.lignes_erp.length,\n    reception_partielle_facturee_total: reception_partielle,\n    detail_lignes_erp:                  g.lignes_erp,\n\n    type_ecart,\n    a_ecart,           // true = vrai problème à traiter\n    notes: notes.join(\" | \") || null,\n  };\n}\n\n// ─── 7. CONTRÔLE TOTAL FACTURE ───────────────────────────────\n//\n//  Compare le montant total de la facture OCR\n//  avec la somme des articles ERP (HT et TTC)\n//  Tolérance : CONFIG.toleranceTotalFacture (5 DH)\n//\nfunction controlerTotalFacture(resultats, lignes) {\n  const tol = CONFIG.toleranceTotalFacture;\n\n  // Montant total facture OCR (pris sur la première ligne qui l'a)\n  const mnt_facture_ocr = (() => {\n    for (const row of lignes) {\n      const v = parseNum(get(row, \"mnt_facture_ocr\"));\n      if (v > 0) return v;\n    }\n    return null;\n  })();\n\n  // Somme des montants ERP sur tous les groupes\n  const somme_ht_erp  = round(resultats.reduce((a, r) => a + r.mnt_ht_erp_total,  0));\n  const somme_ttc_erp = round(resultats.reduce((a, r) => a + r.mnt_ttc_erp_total, 0));\n\n  // Somme des montants OCR (bruts) sur tous les groupes\n  const somme_ocr_brut = round(resultats.reduce((a, r) => a + r.mnt_ocr_brut, 0));\n\n  const delta_total_ocr_vs_ht  = mnt_facture_ocr !== null ? round(mnt_facture_ocr - somme_ht_erp)  : null;\n  const delta_total_ocr_vs_ttc = mnt_facture_ocr !== null ? round(mnt_facture_ocr - somme_ttc_erp) : null;\n  const delta_somme_ocr_vs_ht  = round(somme_ocr_brut - somme_ht_erp);\n  const delta_somme_ocr_vs_ttc = round(somme_ocr_brut - somme_ttc_erp);\n\n  // Statut du total facture\n  let statut_total_facture = \"NON_DISPONIBLE\";\n  if (mnt_facture_ocr !== null) {\n    if      (Math.abs(delta_total_ocr_vs_ht)  <= tol) statut_total_facture = \"TOTAL_MATCH_HT\";\n    else if (Math.abs(delta_total_ocr_vs_ttc) <= tol) statut_total_facture = \"TOTAL_MATCH_TTC\";\n    else                                               statut_total_facture = \"TOTAL_ECART\";\n  }\n\n  // Statut de la somme des lignes OCR vs ERP\n  let statut_somme_lignes;\n  if      (Math.abs(delta_somme_ocr_vs_ht)  <= tol) statut_somme_lignes = \"SOMME_MATCH_HT\";\n  else if (Math.abs(delta_somme_ocr_vs_ttc) <= tol) statut_somme_lignes = \"SOMME_MATCH_TTC\";\n  else                                               statut_somme_lignes = \"SOMME_ECART\";\n\n  return {\n    // Total facture OCR (champ mnt_facture si disponible)\n    mnt_facture_ocr,\n    delta_total_ocr_vs_ht,\n    delta_total_ocr_vs_ttc,\n    statut_total_facture,\n\n    // Somme des montants bruts OCR ligne par ligne\n    somme_ocr_brut,\n    somme_ht_erp,\n    somme_ttc_erp,\n    delta_somme_ocr_vs_ht,\n    delta_somme_ocr_vs_ttc,\n    statut_somme_lignes,\n\n    tolerance_utilisee_dh: tol,\n  };\n}\n\n// ─── 8. STATISTIQUES ─────────────────────────────────────────\n\nfunction calculerStats(resultats, lignes) {\n  // Vrais écarts uniquement\n  const vraisEcarts  = resultats.filter(r => r.a_ecart);\n  const ok           = resultats.filter(r => !r.a_ecart);\n  const qty_seule    = resultats.filter(r => r.type_ecart === \"QUANTITE_SEULE\");\n  const mnt_reel     = resultats.filter(r => r.type_ecart === \"MONTANT_SEUL_REEL\");\n  const les_deux     = resultats.filter(r => r.type_ecart === \"QTE_ET_MONTANT\");\n  const ocr_ttc      = resultats.filter(r => r.type_ecart === \"OK_OCR_BASE_TTC\");\n  const rec_part     = resultats.filter(r => r.reception_partielle_facturee_total);\n\n  const somme_delta_reel = round(\n    resultats.filter(r => r.ocr_nature === \"ECART_REEL\")\n      .reduce((acc, r) => acc + Math.abs(r.delta_ocr_vs_ht), 0)\n  );\n\n  const somme_tva_capturee = round(\n    resultats.filter(r => r.ocr_extrait_ttc)\n      .reduce((acc, r) => acc + Math.abs(r.delta_ocr_vs_ht), 0)\n  );\n\n  const controle_total = controlerTotalFacture(resultats, lignes);\n\n  // Nom de facture (unique, premier trouvé)\n  const _res_num_facture = resultats.find(r => r.num_facture)?.num_facture ?? null;\n\n  // Liste des DFF distincts\n  const _res_dffs = [...new Set(resultats.map(r => r.dff).filter(Boolean))];\n\n  return {\n    num_facture: _res_num_facture,\n    dffs:        _res_dffs,\n\n    total_lignes_input:                 resultats.reduce((a, r) => a + r.nb_lignes_erp, 0),\n    total_articles_consolides:          resultats.length,\n\n    // Vrais écarts (à traiter)\n    total_vrais_ecarts:                 vraisEcarts.length,\n    total_ok:                           ok.length,\n    ecart_qty_seule:                    qty_seule.length,\n    ecart_mnt_reel_seul:                mnt_reel.length,\n    ecart_qty_et_montant:               les_deux.length,\n\n    // Informatif (pas des erreurs)\n    articles_ocr_base_ttc:              ocr_ttc.length,\n    articles_reception_partielle:       rec_part.length,\n\n    // Montants\n    somme_delta_montant_reel:           somme_delta_reel,\n    somme_tva_capturee_par_ocr:         somme_tva_capturee,\n\n    // CODES EN ÉCART = uniquement les vrais problèmes\n    codes_vrais_ecarts: [...new Set(vraisEcarts.map(r => r.code_article))],\n\n    // Codes informatifs (OCR TTC ou réception partielle, pas des erreurs)\n    codes_ocr_base_ttc:     [...new Set(ocr_ttc.map(r => r.code_article))],\n    codes_reception_partielle: rec_part.map(r => ({\n      code_article:      r.code_article,\n      numero_bc:         r.numero_bc,\n      nb_lignes_erp:     r.nb_lignes_erp,\n      qty_ocr:           r.qty_ocr,\n      qty_erp_total:     r.qty_erp_total,\n      mnt_ocr_brut:      r.mnt_ocr_brut,\n      mnt_ht_erp_total:  r.mnt_ht_erp_total,\n      mnt_ttc_erp_total: r.mnt_ttc_erp_total,\n      ocr_nature:        r.ocr_nature,\n      detail_lignes_erp: r.detail_lignes_erp,\n    })),\n\n    // Contrôle total facture (avec tolérance 5 DH)\n    controle_total_facture: controle_total,\n  };\n}\n\n// ─── 9. ENTRÉE N8N ───────────────────────────────────────────\n\nlet lignes = [];\n\nfor (const item of $input.all()) {\n  const d = item.json;\n  if (Array.isArray(d))                       lignes = lignes.concat(d);\n  else if (Array.isArray(d.data))             lignes = lignes.concat(d.data);\n  else if (Array.isArray(d.items))            lignes = lignes.concat(d.items);\n  else if (Array.isArray(d.rows))             lignes = lignes.concat(d.rows);\n  else if (d && d.code_article !== undefined) lignes.push(d);\n}\n\nif (lignes.length === 0) {\n  return [{\n    json: {\n      erreur: \"Aucune ligne trouvée dans l'input.\",\n      champs_attendus: Object.values(CONFIG.champs),\n    }\n  }];\n}\n\n// ─── 10. TRAITEMENT & SORTIE ─────────────────────────────────\n\nconst groupes   = consoliderGroupes(lignes);\nconst resultats = groupes.map(analyserGroupe);\nconst stats     = calculerStats(resultats, lignes);\n\nconst output = resultats.map(r => ({ json: r }));\n\noutput.unshift({\n  json: {\n    _type:     \"RESUME\",\n    ...stats,\n    timestamp: new Date().toISOString(),\n  }\n});\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6880,-1696],"id":"d28b7db2-9862-455e-88ff-e16674a8a5b6","name":"Code2"},{"parameters":{"jsCode":"const allItems = $input.all();\n\n// Dédoublonner par num_facture — garder le premier item de chaque facture\nconst seenFactures = new Set();\nconst result = [];\n\nfor (const item of allItems) {\n  const facture = item.json.num_facture.trim();\n  if (!seenFactures.has(facture)) {\n    seenFactures.add(facture);\n    result.push({ json: item.json });\n  }\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4368,-1712],"id":"d156c4b9-1bdb-4027-843f-89bfe7a6f621","name":"Code4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4944,-1696],"id":"1c568c3a-b306-4248-a456-6f7d9ed3084d","name":"Loop Over Items1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"code_article","field2":"code_article_erp"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[6640,-1696],"id":"1e343bf7-bc1e-4b99-8f1b-fd96f423f11c","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5728,-2096],"id":"4665fba2-9133-4beb-8fc7-0bb788af8337","name":"No Operation, do nothing"},{"parameters":{"operation":"executeQuery","query":"select fact.XCMD_0,fact.XFACT_0,fact.XMNT_0,fact.XNUM_0, PO.RCPFLG_0, '{{ $json.numero_bl }}' as numero_bl from BASE1.XDEPFACT fact\n  left join BASE1.PORDER PO\n  on TRIM(PO.POHNUM_0) = TRIM(fact.XCMD_0)\nwhere XFACT_0='{{ $json.num_facture }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[5824,-1552],"id":"546231c1-d3a0-4212-b314-6d7e11c42f0c","name":"Microsoft SQL5","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"jsCode":"const allItems = $input.all();\n\nconst destinataires = [\n  'responsable.comptabilite@jbel-annour.ma',\n  'archiviste.4@jbel-annour.ma',\n  'responsable.magasin@jbel-annour.ma',\n  'acheteur.1@jbel-annour.ma'\n];\n\nconst fmt = (n) => parseFloat(n || 0).toLocaleString('fr-FR', {\n  minimumFractionDigits: 2, maximumFractionDigits: 2\n});\n\nconst badgeEcart = (type) => {\n  if (type === 'OK' || type === 'OK_OCR_BASE_TTC')\n    return `<span style=\"background:#d5f5e3;color:#1e8449;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">✅ OK</span>`;\n  if (type === 'QTE_ET_MONTANT')\n    return `<span style=\"background:#fadbd8;color:#922b21;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">✖ QTÉ + MONTANT</span>`;\n  if (type === 'QTE_SEULE')\n    return `<span style=\"background:#fef9e7;color:#9a7d0a;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">⚠ QTÉ SEULE</span>`;\n  if (type === 'MONTANT_SEUL')\n    return `<span style=\"background:#fef9e7;color:#9a7d0a;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">⚠ MONTANT SEUL</span>`;\n  if (type === 'RECEPTION_PARTIELLE_FACTUREE_TOTAL_TTC')\n    return `<span style=\"background:#fdebd0;color:#784212;padding:2px 9px;border-radius:10px;font-size:12px;\">⚠ Multi-BL</span>`;\n  return `<span style=\"background:#f2f3f4;color:#555;padding:2px 9px;border-radius:10px;font-size:12px;\">${type || '—'}</span>`;\n};\n\n// ── EXTRACTION ROBUSTE : wrapper { data: [...] } OU tableau plat ───\nfunction extraireItems(allItems) {\n  const rows = [];\n  for (const item of allItems) {\n    const val = item.json;\n    if (val && Array.isArray(val.data)) {\n      for (const d of val.data) rows.push(d);\n    } else {\n      rows.push(val);\n    }\n  }\n  return rows;\n}\n\nconst rows = extraireItems(allItems);\n\nconst resumes = rows.filter(r => r._type === 'RESUME');\nconst lignes  = rows.filter(r => !r._type);\n\n// Regrouper lignes par facture\nconst lignesParFacture = {};\nfor (const ligne of lignes) {\n  const f = ligne.num_facture;\n  if (!lignesParFacture[f]) lignesParFacture[f] = [];\n  lignesParFacture[f].push(ligne);\n}\n\nconst result = [];\n\nfor (const resume of resumes) {\n  // Ce script ne traite que les factures AVEC écart réel\n  if (resume.total_vrais_ecarts === 0) continue;\n\n  const facture  = resume.num_facture;\n  const articles = lignesParFacture[facture] || [];\n  const ecarts   = articles.filter(a => a.a_ecart);\n  const ctrl     = resume.controle_total_facture || {};\n\n  // ── BLOC ARTICLES EN ÉCART ─────────────────────────────────────\n  const blocsEcartHTML = ecarts.map(a => {\n    // Cas article NON RÉCEPTIONNÉ (code vide, qty_erp = 0)\n    const isNonReceptionne = !a.code_article || a.qty_erp_total === 0;\n    const articleLabel = a.code_article\n      ? `${a.code_article} — BL : ${a.bl || '—'} — BC : ${a.numero_bc || '—'}`\n      : `<em style=\"color:#c0392b;\">Article NON RÉCEPTIONNÉ (absent du BR)</em>`;\n\n    // Détail lignes ERP si présentes et non vides\n    const lignesErpNonVides = (a.detail_lignes_erp || []).filter(l => l.qty_erp > 0);\n    const detailErpHTML = lignesErpNonVides.length > 0 ? `\n      <p style=\"margin:10px 0 4px;font-size:12px;font-weight:600;color:#7d6608;\">Réceptions ERP existantes :</p>\n      <table style=\"width:100%;border-collapse:collapse;font-size:12px;border:1px solid #fad7a0;border-radius:4px;overflow:hidden;\">\n        <thead><tr style=\"background:#e59866;color:white;\">\n          <th style=\"padding:5px 8px;text-align:left;\">BL</th>\n          <th style=\"padding:5px 8px;text-align:center;\">Qté</th>\n          <th style=\"padding:5px 8px;text-align:right;\">HT</th>\n          <th style=\"padding:5px 8px;text-align:right;\">TTC</th>\n        </tr></thead>\n        <tbody>${lignesErpNonVides.map((l, i) => `\n          <tr style=\"background:${i%2===0?'#fff':'#fafafa'};\">\n            <td style=\"padding:5px 8px;border-bottom:1px solid #eee;\">${l.bl || '—'}</td>\n            <td style=\"padding:5px 8px;border-bottom:1px solid #eee;text-align:center;\">${l.qty_erp}</td>\n            <td style=\"padding:5px 8px;border-bottom:1px solid #eee;text-align:right;\">${fmt(l.mnt_ht_erp)} DH</td>\n            <td style=\"padding:5px 8px;border-bottom:1px solid #eee;text-align:right;\">${fmt(l.mnt_ttc_erp)} DH</td>\n          </tr>`).join('')}\n        </tbody>\n      </table>` : '';\n\n    // Badge doublon\n    const doublonBadge = a.est_doublon\n      ? `<span style=\"background:#f9ebea;color:#c0392b;padding:2px 8px;border-radius:8px;font-size:11px;margin-left:8px;\">DOUBLON ×${a.nb_lignes_erp}</span>`\n      : '';\n\n    return `\n    <div style=\"background:#fef5f5;border-left:4px solid #e74c3c;border-radius:4px;padding:14px 16px;margin-bottom:12px;\">\n      <p style=\"margin:0 0 4px;font-weight:700;color:#922b21;font-size:14px;\">\n        ✖ Article NON CONFORME ${doublonBadge}\n        <span style=\"font-size:12px;font-weight:400;color:#c0392b;margin-left:6px;\">(${a.notes || a.type_ecart || ''})</span>\n      </p>\n      <p style=\"margin:0 0 10px;font-style:italic;color:#666;font-size:13px;\">${articleLabel}</p>\n      <table style=\"font-size:13px;border-collapse:collapse;width:100%;\">\n        <tr>\n          <td style=\"color:#888;width:160px;\">Qté facture :</td>\n          <td style=\"font-weight:700;color:#c0392b;\">${a.qty_ocr}</td>\n          <td style=\"color:#888;width:120px;\">Qté BR :</td>\n          <td style=\"font-weight:700;\">${a.qty_erp_total}</td>\n          <td style=\"color:#888;width:80px;\">Δ Qté :</td>\n          <td style=\"font-weight:700;color:${a.delta_qty > 0 ? '#c0392b' : '#1e8449'};\">\n            ${a.delta_qty > 0 ? '+' : ''}${a.delta_qty}\n          </td>\n        </tr>\n        <tr>\n          <td style=\"color:#888;padding-top:6px;\">Mnt facture :</td>\n          <td style=\"font-weight:700;color:#c0392b;padding-top:6px;\">${fmt(a.mnt_ocr_brut)} DH</td>\n          <td style=\"color:#888;padding-top:6px;\">Mnt BR (HT) :</td>\n          <td style=\"padding-top:6px;\">${fmt(a.mnt_ht_erp_total)} DH</td>\n          <td style=\"color:#888;padding-top:6px;\">Δ Mnt :</td>\n          <td style=\"font-weight:700;color:${a.delta_ocr_vs_ht > 0 ? '#c0392b' : '#1e8449'};padding-top:6px;\">\n            ${a.delta_ocr_vs_ht > 0 ? '+' : ''}${fmt(a.delta_ocr_vs_ht)} DH\n          </td>\n        </tr>\n      </table>\n      ${isNonReceptionne ? `\n      <div style=\"background:#fff3cd;border-left:3px solid #e74c3c;padding:8px 12px;margin-top:10px;border-radius:3px;font-size:12px;color:#7d6608;\">\n        ⚠ Aucune ligne de réception trouvée dans Sage X3 pour cet article. Vérifier la livraison physique.\n      </div>` : ''}\n      ${detailErpHTML}\n    </div>`;\n  }).join('');\n\n  // ── TABLEAU DÉTAIL TOUTES LIGNES ───────────────────────────────\n  const lignesTableHTML = articles.map((a, i) => `\n    <tr style=\"background:${a.a_ecart ? '#fef5f5' : (i % 2 === 0 ? '#fff' : '#f8f9fa')};\">\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-weight:600;font-size:12px;\">${a.code_article || '<em style=\"color:#c0392b;\">—</em>'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;color:#555;\">${a.dff || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;\">${a.numero_bc || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;color:#555;\">${a.bl || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;\">${a.qty_ocr}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;\">${a.qty_erp_total}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;font-weight:700;\n          color:${a.delta_qty > 0 ? '#e74c3c' : a.delta_qty < 0 ? '#f39c12' : '#27ae60'};\">\n        ${a.delta_qty > 0 ? '+' : ''}${a.delta_qty}\n      </td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:right;font-size:12px;\">${fmt(a.mnt_ocr_brut)} DH</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:right;font-size:12px;\">${fmt(a.mnt_ht_erp_total)} DH</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;\">${badgeEcart(a.type_ecart)}</td>\n    </tr>`).join('');\n\n  const htmlMessage = `\n<div style=\"font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:760px;margin:auto;border:1px solid #d5d8dc;border-radius:10px;overflow:hidden;\">\n\n  <div style=\"background:linear-gradient(135deg,#922b21 0%,#c0392b 100%);padding:26px 30px;text-align:center;\">\n    <p style=\"color:#fadbd8;margin:0 0 4px;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">Rapport de Contrôle Facture</p>\n    <h2 style=\"color:#fff;margin:0;font-size:20px;font-weight:700;\">⚠ ÉCART DÉTECTÉ — ACTION REQUISE</h2>\n    <p style=\"color:rgba(255,255,255,0.8);margin:6px 0 0;font-size:13px;\">\n      ${resume.total_vrais_ecarts} article(s) en écart — Δ total : ${fmt(resume.somme_delta_montant_reel)} DH\n    </p>\n  </div>\n\n  <div style=\"padding:26px 30px;\">\n\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:0;\">📄 Informations Facture</h3>\n    <table style=\"width:100%;background:#eaf4fb;border-radius:6px;border-collapse:collapse;font-size:14px;\">\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;width:200px;\">N° Facture</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#1a5276;font-size:16px;\">${facture}</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">DFF(s)</td>\n        <td style=\"padding:9px 14px;\">${resume.dffs.join(', ')}</td>\n      </tr>\n      <tr style=\"background:#d6eaf8;\">\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Total articles</td>\n        <td style=\"padding:9px 14px;font-weight:600;\">${resume.total_articles_consolides}</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Articles OK</td>\n        <td style=\"padding:9px 14px;color:#1e8449;font-weight:700;\">${resume.total_ok}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Articles en écart</td>\n        <td style=\"padding:9px 14px;color:#c0392b;font-weight:700;\">${resume.total_vrais_ecarts}</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Δ Montant total</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#c0392b;\">+${fmt(resume.somme_delta_montant_reel)} DH</td>\n      </tr>\n      <tr style=\"background:#d6eaf8;\">\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Mnt OCR facture</td>\n        <td style=\"padding:9px 14px;font-weight:600;\">${fmt(ctrl.mnt_facture_ocr)} DH</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Somme HT ERP</td>\n        <td style=\"padding:9px 14px;font-weight:600;\">${fmt(ctrl.somme_ht_erp)} DH</td>\n      </tr>\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Somme TTC ERP</td>\n        <td style=\"padding:9px 14px;font-weight:600;\">${fmt(ctrl.somme_ttc_erp)} DH</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Statut total</td>\n        <td style=\"padding:9px 14px;\">\n          <span style=\"background:#fadbd8;color:#922b21;padding:3px 10px;border-radius:10px;font-size:12px;font-weight:700;\">\n            ${ctrl.statut_total_facture}\n          </span>\n        </td>\n      </tr>\n    </table>\n\n    <h3 style=\"color:#c0392b;border-bottom:2px solid #e74c3c;padding-bottom:7px;margin-top:26px;\">\n      ✖ Articles en Écart (${ecarts.length})\n    </h3>\n    ${blocsEcartHTML}\n\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:26px;\">\n      📦 Détail des Lignes (${articles.length} article(s))\n    </h3>\n    <div style=\"overflow-x:auto;\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;border:1px solid #d5d8dc;border-radius:6px;overflow:hidden;\">\n      <thead>\n        <tr style=\"background:#2c3e50;color:white;\">\n          <th style=\"padding:8px 9px;text-align:left;\">Article</th>\n          <th style=\"padding:8px 9px;text-align:left;\">DFF</th>\n          <th style=\"padding:8px 9px;text-align:left;\">BC</th>\n          <th style=\"padding:8px 9px;text-align:left;\">BL</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Qté fact.</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Qté BR</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Δ</th>\n          <th style=\"padding:8px 9px;text-align:right;\">Mnt OCR</th>\n          <th style=\"padding:8px 9px;text-align:right;\">Mnt HT ERP</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Statut</th>\n        </tr>\n      </thead>\n      <tbody>${lignesTableHTML}</tbody>\n      <tfoot>\n        <tr style=\"background:#eaf4fb;font-weight:700;\">\n          <td colspan=\"7\" style=\"padding:9px;text-align:right;color:#1a5276;font-size:13px;\">TOTAL</td>\n          <td style=\"padding:9px;text-align:right;font-size:13px;\">${fmt(ctrl.somme_ocr_brut)} DH</td>\n          <td style=\"padding:9px;text-align:right;font-size:13px;\">${fmt(ctrl.somme_ht_erp)} DH</td>\n          <td></td>\n        </tr>\n      </tfoot>\n    </table>\n    </div>\n\n    <div style=\"background:#fff3cd;border-left:5px solid #e74c3c;padding:16px 20px;border-radius:4px;margin-top:24px;\">\n      <p style=\"margin:0 0 8px;font-weight:700;color:#c0392b;font-size:15px;\">🔴 ACTION REQUISE</p>\n      <p style=\"margin:0 0 8px;color:#333;font-size:14px;\">\n        La facture <strong>${facture}</strong> présente <strong>${resume.total_vrais_ecarts} article(s) en écart</strong>\n        pour un delta total de <strong>+${fmt(resume.somme_delta_montant_reel)} DH</strong>.\n      </p>\n      <ul style=\"margin:4px 0 0;padding-left:20px;font-size:14px;color:#333;line-height:2;\">\n        <li>Vérifier les quantités livrées auprès du magasin</li>\n        <li>Contacter le fournisseur pour correction de la facture si nécessaire</li>\n        <li>Bloquer la validation comptable jusqu'à régularisation dans Sage X3</li>\n      </ul>\n    </div>\n\n  </div>\n\n  <div style=\"background:#f2f3f4;padding:12px 20px;text-align:center;font-size:11px;color:#aaa;border-top:1px solid #e0e0e0;\">\n    Message généré automatiquement — Système de contrôle factures Sage X3 &nbsp;|&nbsp; Jbel Annour\n    &nbsp;|&nbsp; ${new Date(resume.timestamp).toLocaleString('fr-FR')}\n  </div>\n</div>`.trim();\n\n  result.push({\n    json: {\n      to: destinataires.join(','),\n      subject: `⚠ ÉCART FACTURE — ${facture} — ${resume.total_vrais_ecarts} article(s) — Δ +${fmt(resume.somme_delta_montant_reel)} DH`,\n      message: htmlMessage,\n      meta: {\n        num_facture:         facture,\n        dffs:                resume.dffs,\n        has_ecart:           true,\n        total_ecarts:        resume.total_vrais_ecarts,\n        delta_montant_total: resume.somme_delta_montant_reel,\n        statut_total:        ctrl.statut_total_facture\n      }\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7712,-1936],"id":"eb4f8f9c-824b-4b1d-8424-2a91618ff6e7","name":"Code5"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"=elghalbzouri.hicham01@gmail.com","subject":"={{ $json.subject }}","html":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[7968,-1936],"id":"de69613e-f7bc-4ae2-a5b3-88cbfb7d0f55","name":"Send email1","webhookId":"694c19e3-0344-480b-87e7-a4be9cd5284c","alwaysOutputData":true,"credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5d68031-cc07-49c7-9fef-47abad62ea05","leftValue":"={{ $json.num_facture }}","rightValue":"13014419","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4576,-1712],"id":"8af5a2b7-9d52-46cb-83f2-9f7afcde44cf","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4098b740-c32f-43fe-a298-c8469f0b7e2c","leftValue":"={{ $json.data[0].total_vrais_ecarts }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7328,-1696],"id":"2c598730-e4ff-48a6-9484-ad793b9ac755","name":"If6"},{"parameters":{"jsCode":"const allItems = $input.all();\n\nconst destinataires = [\n  'responsable.comptabilite@jbel-annour.ma',\n  'archiviste.4@jbel-annour.ma',\n  'responsable.magasin@jbel-annour.ma',\n  'acheteur.1@jbel-annour.ma'\n];\n\nconst fmt = (n) => parseFloat(n || 0).toLocaleString('fr-FR', {\n  minimumFractionDigits: 2, maximumFractionDigits: 2\n});\n\nfunction extraireItems(allItems) {\n  const rows = [];\n  for (const item of allItems) {\n    const val = item.json;\n    if (val && Array.isArray(val.data)) {\n      for (const d of val.data) rows.push(d);\n    } else {\n      rows.push(val);\n    }\n  }\n  return rows;\n}\n\nconst rows    = extraireItems(allItems);\nconst resumes = rows.filter(r => r._type === 'RESUME');\nconst lignes  = rows.filter(r => !r._type);\n\nconst lignesParFacture = {};\nfor (const ligne of lignes) {\n  const f = ligne.num_facture;\n  if (!lignesParFacture[f]) lignesParFacture[f] = [];\n  lignesParFacture[f].push(ligne);\n}\n\nconst result = [];\n\nfor (const resume of resumes) {\n  if (resume.total_vrais_ecarts !== 0) continue;\n\n  const facture  = resume.num_facture;\n  const articles = lignesParFacture[facture] || [];\n  const ctrl     = resume.controle_total_facture || {};\n\n  // Articles dont le BR couvre plusieurs factures (nb_lignes_erp > 1 ou réception partielle)\n  const articlesMultiBR = articles.filter(a =>\n    a.reception_partielle_facturee_total === true ||\n    a.nb_lignes_erp > 1 ||\n    a.type_ecart === 'RECEPTION_PARTIELLE_FACTUREE_TOTAL_TTC'\n  );\n\n  // Grouper par DFF\n  const parDFF = {};\n  for (const a of articles) {\n    const key = a.dff || '_sans_dff';\n    if (!parDFF[key]) parDFF[key] = [];\n    parDFF[key].push(a);\n  }\n\n  // ── BLOCS DÉTAIL ARTICLES MULTI-BR ────────────────────────────\n  const blocsMultiBRHTML = articlesMultiBR.map(a => {\n    const totalQtyBRs  = (a.detail_lignes_erp || []).reduce((s, l) => s + (l.qty_erp || 0), 0);\n    const totalMntBRs  = (a.detail_lignes_erp || []).reduce((s, l) => s + parseFloat(l.mnt_ttc_erp || 0), 0);\n    const ecartMnt     = totalMntBRs - parseFloat(a.mnt_ttc_erp_total || 0);\n\n    const lignesDetailHTML = (a.detail_lignes_erp || []).map((l, i) => `\n      <tr style=\"background:${i % 2 === 0 ? '#fff' : '#fafafa'};\">\n        <td style=\"padding:7px 11px;border-bottom:1px solid #eee;font-size:12px;font-weight:600;\">${l.bl || '—'}</td>\n        <td style=\"padding:7px 11px;border-bottom:1px solid #eee;text-align:center;font-size:12px;\">${l.qty_erp}</td>\n        <td style=\"padding:7px 11px;border-bottom:1px solid #eee;text-align:right;font-size:12px;\">${fmt(l.mnt_ht_erp)} DH</td>\n        <td style=\"padding:7px 11px;border-bottom:1px solid #eee;text-align:right;font-size:12px;font-weight:600;color:#1e8449;\">${fmt(l.mnt_ttc_erp)} DH</td>\n      </tr>`).join('');\n\n    return `\n    <div style=\"background:#fef5e7;border-left:4px solid #f39c12;border-radius:6px;padding:16px 18px;margin-bottom:14px;\">\n\n      <div style=\"display:flex;justify-content:space-between;align-items:flex-start;flex-wrap:wrap;gap:8px;margin-bottom:12px;\">\n        <div>\n          <p style=\"margin:0;font-weight:700;color:#9a5a00;font-size:15px;\">\n            ⚠ BR partagé entre plusieurs factures\n          </p>\n          <p style=\"margin:4px 0 0;font-size:12px;color:#b7770d;\">\n            Cet article est réceptionné dans un BR qui couvre également d'autres factures fournisseur\n          </p>\n        </div>\n        <span style=\"background:#fdebd0;color:#784212;padding:3px 12px;border-radius:12px;font-size:13px;font-weight:700;white-space:nowrap;\">\n          ${a.code_article || '—'}\n        </span>\n      </div>\n\n      <!-- Données de rapprochement -->\n      <table style=\"width:100%;font-size:13px;border-collapse:collapse;margin-bottom:14px;\">\n        <tr>\n          <td style=\"color:#888;width:180px;padding:4px 0;\">BC rattaché :</td>\n          <td style=\"font-weight:600;color:#333;\">${a.numero_bc || '—'}</td>\n          <td style=\"color:#888;width:100px;padding:4px 0;\">DFF :</td>\n          <td style=\"font-weight:600;color:#333;\">${a.dff || '—'}</td>\n        </tr>\n        <tr>\n          <td style=\"color:#888;padding:4px 0;\">Qté sur cette facture :</td>\n          <td style=\"font-weight:700;color:#333;\">${a.qty_ocr}</td>\n          <td style=\"color:#888;padding:4px 0;\">Nb BRs liés :</td>\n          <td style=\"font-weight:700;color:#9a5a00;\">${a.nb_lignes_erp} BR(s) / BL(s)</td>\n        </tr>\n        <tr>\n          <td style=\"color:#888;padding:4px 0;\">Mnt facture (TTC) :</td>\n          <td style=\"font-weight:700;color:#1a5276;\">${fmt(a.mnt_ttc_erp_total)} DH</td>\n          <td style=\"color:#888;padding:4px 0;\">Total BRs (TTC) :</td>\n          <td style=\"font-weight:700;color:${ecartMnt > 0.01 ? '#c0392b' : '#1e8449'};\">${fmt(totalMntBRs)} DH</td>\n        </tr>\n        ${ecartMnt > 0.01 ? `\n        <tr>\n          <td colspan=\"2\"></td>\n          <td style=\"color:#888;padding:4px 0;\">Excédent BR :</td>\n          <td style=\"font-weight:700;color:#c0392b;\">+${fmt(ecartMnt)} DH</td>\n        </tr>` : ''}\n      </table>\n\n      <!-- Explication métier -->\n      <div style=\"background:#fff8ee;border:1px solid #fad7a0;border-radius:5px;padding:12px 14px;margin-bottom:14px;\">\n        <p style=\"margin:0 0 6px;font-weight:700;color:#9a5a00;font-size:13px;\">📌 Explication du rapprochement</p>\n        <p style=\"margin:0 0 6px;font-size:13px;color:#555;line-height:1.7;\">\n          Le fournisseur a livré cet article via <strong>${a.nb_lignes_erp} bon(s) de livraison (BL)</strong>.\n          À la réception, le magasin a créé <strong>${a.nb_lignes_erp} bon(s) de réception (BR)</strong> correspondants.\n        </p>\n        <p style=\"margin:0 0 6px;font-size:13px;color:#555;line-height:1.7;\">\n          Ces BRs contiennent également des articles appartenant à <strong>d'autres factures fournisseur</strong>\n          — ce qui explique que le montant total des BRs (<strong>${fmt(totalMntBRs)} DH</strong>)\n          soit supérieur au montant de la présente facture (<strong>${fmt(a.mnt_ttc_erp_total)} DH</strong>).\n        </p>\n        <p style=\"margin:0;font-size:13px;color:#7d6608;line-height:1.7;\">\n          <strong>✅ Conclusion :</strong> Il n'y a pas d'écart réel sur cette facture.\n          La part facturée (<strong>${fmt(a.mnt_ttc_erp_total)} DH</strong>) correspond exactement\n          aux articles inclus dans la présente facture. Les articles excédentaires dans les BRs\n          seront rattachés aux autres factures concernées.\n        </p>\n      </div>\n\n      <!-- Détail des BRs / BLs -->\n      <p style=\"margin:0 0 8px;font-size:13px;color:#7d6608;font-weight:700;\">\n        📋 Détail des BRs associés à cet article :\n      </p>\n      <table style=\"width:100%;border-collapse:collapse;border:1px solid #fad7a0;border-radius:5px;overflow:hidden;font-size:12px;\">\n        <thead>\n          <tr style=\"background:#e59866;color:white;\">\n            <th style=\"padding:7px 11px;text-align:left;\">N° BL / BR</th>\n            <th style=\"padding:7px 11px;text-align:center;\">Qté réceptionnée</th>\n            <th style=\"padding:7px 11px;text-align:right;\">Montant HT</th>\n            <th style=\"padding:7px 11px;text-align:right;\">Montant TTC</th>\n          </tr>\n        </thead>\n        <tbody>${lignesDetailHTML}</tbody>\n        <tfoot>\n          <tr style=\"background:#fef0d9;font-weight:700;\">\n            <td style=\"padding:7px 11px;font-size:12px;color:#7d6608;\">TOTAL BRs</td>\n            <td style=\"padding:7px 11px;text-align:center;font-size:12px;\">${totalQtyBRs}</td>\n            <td style=\"padding:7px 11px;text-align:right;font-size:12px;\"></td>\n            <td style=\"padding:7px 11px;text-align:right;font-size:12px;color:#c0392b;\">${fmt(totalMntBRs)} DH</td>\n          </tr>\n          <tr style=\"background:#e8f8f0;\">\n            <td colspan=\"3\" style=\"padding:7px 11px;font-size:12px;font-weight:700;color:#1e8449;\">\n              Part rattachée à cette facture\n            </td>\n            <td style=\"padding:7px 11px;text-align:right;font-size:13px;font-weight:700;color:#1e8449;\">\n              ${fmt(a.mnt_ttc_erp_total)} DH ✓\n            </td>\n          </tr>\n        </tfoot>\n      </table>\n\n      <div style=\"margin-top:12px;padding:10px 14px;background:#fdebd0;border-radius:5px;font-size:12px;color:#784212;\">\n        <strong>⚠ Action archivage :</strong> Lors du classement, joindre l'ensemble des BRs listés ci-dessus\n        et indiquer que ces BRs couvrent plusieurs factures. Le service comptabilité devra ventiler\n        chaque BR entre les factures concernées dans Sage X3.\n      </div>\n    </div>`;\n  }).join('');\n\n  // ── BADGE STATUT LIGNE ─────────────────────────────────────────\n  const badgeType = (a) => {\n    if (a.reception_partielle_facturee_total || a.nb_lignes_erp > 1)\n      return `<span style=\"background:#fdebd0;color:#784212;padding:2px 8px;border-radius:10px;font-size:11px;font-weight:700;\">⚠ BR multi-factures</span>`;\n    if (a.ocr_extrait_ttc)\n      return `<span style=\"background:#eaf4fb;color:#1a5276;padding:2px 8px;border-radius:10px;font-size:11px;\">TTC extrait</span>`;\n    return `<span style=\"background:#d5f5e3;color:#1e8449;padding:2px 8px;border-radius:10px;font-size:11px;font-weight:700;\">✅ OK</span>`;\n  };\n\n  // ── TABLEAU TOUTES LIGNES ──────────────────────────────────────\n  const lignesTableHTML = articles.map((a, i) => `\n    <tr style=\"background:${a.nb_lignes_erp > 1 ? '#fef9f0' : (i % 2 === 0 ? '#fff' : '#f8f9fa')};\">\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-weight:600;font-size:12px;\">${a.code_article || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;color:#555;\">${a.dff || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;\">${a.numero_bc || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;font-size:11px;color:#555;\">${a.bl || '—'}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;\">${a.qty_ocr}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;font-size:12px;\">${a.qty_erp_total}</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:right;font-size:12px;\">${fmt(a.mnt_ocr_brut)} DH</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:right;font-size:12px;\">${fmt(a.mnt_ht_erp_total)} DH</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:right;font-size:12px;font-weight:600;color:#1e8449;\">${fmt(a.mnt_ttc_erp_total)} DH</td>\n      <td style=\"padding:7px 9px;border-bottom:1px solid #eee;text-align:center;\">${badgeType(a)}</td>\n    </tr>`).join('');\n\n  // ── RÉCAP DFFs ─────────────────────────────────────────────────\n  const dffsRecapHTML = resume.dffs.map(dff => {\n    const lignesDFF = parDFF[dff] || [];\n    const totalTTC  = lignesDFF.reduce((s, a) => s + parseFloat(a.mnt_ttc_erp_total || 0), 0);\n    return `\n      <div style=\"flex:1;min-width:150px;background:#f0f9ff;border:1px solid #aed6f1;border-radius:6px;padding:10px 14px;\">\n        <p style=\"margin:0 0 4px;font-size:12px;color:#2e86c1;font-weight:700;\">${dff}</p>\n        <p style=\"margin:0;font-size:13px;color:#1a5276;\">${lignesDFF.length} article(s)</p>\n        <p style=\"margin:2px 0 0;font-size:13px;font-weight:700;color:#1e8449;\">${fmt(totalTTC)} DH TTC</p>\n      </div>`;\n  }).join('');\n\n  // ── NOTE OCR TTC ───────────────────────────────────────────────\n  const ocrTTCNote = resume.articles_ocr_base_ttc > 0 ? `\n    <div style=\"background:#eaf4fb;border-left:4px solid #2e86c1;padding:14px 18px;border-radius:4px;margin-top:16px;\">\n      <p style=\"margin:0 0 6px;font-weight:700;color:#1a5276;font-size:14px;\">ℹ Note OCR — Montants extraits en TTC</p>\n      <p style=\"margin:0;color:#333;font-size:13px;\">\n        <strong>${resume.articles_ocr_base_ttc} article(s)</strong> extraits en TTC par l'OCR\n        (TVA capturée : <strong>${fmt(resume.somme_tva_capturee_par_ocr)} DH</strong>).\n        Rapprochement effectué sur base TTC — aucun écart réel détecté.\n      </p>\n    </div>` : '';\n\n  const statutBadge = ['TOTAL_MATCH_TTC','TOTAL_OK'].includes(ctrl.statut_total_facture)\n    ? `<span style=\"background:#d5f5e3;color:#1e8449;padding:3px 10px;border-radius:10px;font-size:12px;font-weight:700;\">✅ ${ctrl.statut_total_facture}</span>`\n    : `<span style=\"background:#d6eaf8;color:#1a5276;padding:3px 10px;border-radius:10px;font-size:12px;font-weight:700;\">${ctrl.statut_total_facture}</span>`;\n\n  const htmlMessage = `\n<div style=\"font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:760px;margin:auto;border:1px solid #d5d8dc;border-radius:10px;overflow:hidden;\">\n\n  <div style=\"background:linear-gradient(135deg,#1a5276 0%,#21618c 60%,#2e86c1 100%);padding:26px 30px;text-align:center;\">\n    <p style=\"color:#aed6f1;margin:0 0 4px;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">Rapport de Contrôle Facture — Sage X3</p>\n    <h2 style=\"color:#fff;margin:0;font-size:20px;font-weight:700;\">✅ FACTURE VALIDÉE — AUCUN ÉCART RÉEL</h2>\n    <p style=\"color:rgba(255,255,255,0.8);margin:6px 0 0;font-size:13px;\">\n      ${articlesMultiBR.length > 0\n        ? `${articlesMultiBR.length} article(s) avec BRs partagés entre plusieurs factures — voir détail ci-dessous`\n        : 'Tous les articles sont conformes aux bons de réception'}\n    </p>\n  </div>\n\n  <div style=\"padding:26px 30px;\">\n\n    <!-- CONTEXTE MÉTIER GLOBAL -->\n    ${articlesMultiBR.length > 0 ? `\n    <div style=\"background:#f4f6f7;border-left:4px solid #5d6d7e;border-radius:5px;padding:14px 18px;margin-bottom:22px;\">\n      <p style=\"margin:0 0 6px;font-weight:700;color:#2c3e50;font-size:14px;\">📖 Contexte du rapprochement</p>\n      <p style=\"margin:0;font-size:13px;color:#555;line-height:1.8;\">\n        Cette facture a été rapprochée avec les bons de réception (BRs) créés en magasin lors de l'arrivée\n        des marchandises. Certains BRs ont été établis sur la base de <strong>bons de livraison (BLs) groupés</strong>\n        contenant des articles destinés à <strong>plusieurs factures fournisseur différentes</strong>.\n        Le montant total de ces BRs est donc supérieur au montant de la présente facture —\n        ce qui est normal et attendu. <strong>Aucun écart réel n'a été détecté</strong> sur les articles\n        facturés.\n      </p>\n    </div>` : ''}\n\n    <!-- RÉSUMÉ FACTURE -->\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:0;\">📄 Informations Facture</h3>\n    <table style=\"width:100%;background:#eaf4fb;border-radius:6px;border-collapse:collapse;font-size:14px;\">\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;width:200px;\">N° Facture</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#1a5276;font-size:16px;\">${facture}</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Statut total</td>\n        <td style=\"padding:9px 14px;\">${statutBadge}</td>\n      </tr>\n      <tr style=\"background:#d6eaf8;\">\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Total articles</td>\n        <td style=\"padding:9px 14px;font-weight:600;\">${resume.total_articles_consolides}</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Articles conformes</td>\n        <td style=\"padding:9px 14px;color:#1e8449;font-weight:700;\">${resume.total_ok} / ${resume.total_articles_consolides}</td>\n      </tr>\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Mnt OCR facture</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#1a5276;\">${fmt(ctrl.mnt_facture_ocr)} DH</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Somme TTC ERP</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#1e8449;\">${fmt(ctrl.somme_ttc_erp)} DH</td>\n      </tr>\n      <tr style=\"background:#d6eaf8;\">\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Somme HT ERP</td>\n        <td style=\"padding:9px 14px;\">${fmt(ctrl.somme_ht_erp)} DH</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">TVA capturée OCR</td>\n        <td style=\"padding:9px 14px;\">${fmt(resume.somme_tva_capturee_par_ocr)} DH</td>\n      </tr>\n      <tr>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">Écarts réels</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:#1e8449;\">0</td>\n        <td style=\"padding:9px 14px;color:#5d6d7e;\">BRs partagés (multi-factures)</td>\n        <td style=\"padding:9px 14px;font-weight:700;color:${articlesMultiBR.length > 0 ? '#9a5a00' : '#1e8449'};\">\n          ${articlesMultiBR.length} article(s)\n        </td>\n      </tr>\n    </table>\n\n    <div style=\"display:flex;gap:10px;margin-top:14px;flex-wrap:wrap;\">${dffsRecapHTML}</div>\n\n    ${ocrTTCNote}\n\n    <!-- SECTION BRs PARTAGÉS -->\n    ${articlesMultiBR.length > 0 ? `\n    <h3 style=\"color:#9a5a00;border-bottom:2px solid #f39c12;padding-bottom:7px;margin-top:26px;\">\n      ⚠ Articles avec BRs partagés entre plusieurs factures (${articlesMultiBR.length})\n    </h3>\n    <p style=\"color:#555;font-size:13px;margin-top:-6px;margin-bottom:16px;line-height:1.7;\">\n      Les articles ci-dessous ont été réceptionnés via des BRs dont le contenu dépasse la présente facture.\n      Ces BRs incluent des articles rattachés à <strong>d'autres factures fournisseur</strong>.\n      La part correspondant à cette facture est correctement valorisée et validée.\n    </p>\n    ${blocsMultiBRHTML}` : ''}\n\n    <!-- TABLEAU DÉTAIL COMPLET -->\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:26px;\">\n      📦 Détail de tous les articles (${articles.length})\n    </h3>\n    <div style=\"overflow-x:auto;\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;border:1px solid #d5d8dc;border-radius:6px;overflow:hidden;\">\n      <thead>\n        <tr style=\"background:#2c3e50;color:white;\">\n          <th style=\"padding:8px 9px;text-align:left;\">Article</th>\n          <th style=\"padding:8px 9px;text-align:left;\">DFF</th>\n          <th style=\"padding:8px 9px;text-align:left;\">BC</th>\n          <th style=\"padding:8px 9px;text-align:left;\">BL</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Qté fact.</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Qté BR</th>\n          <th style=\"padding:8px 9px;text-align:right;\">OCR brut</th>\n          <th style=\"padding:8px 9px;text-align:right;\">HT ERP</th>\n          <th style=\"padding:8px 9px;text-align:right;\">TTC ERP</th>\n          <th style=\"padding:8px 9px;text-align:center;\">Statut</th>\n        </tr>\n      </thead>\n      <tbody>${lignesTableHTML}</tbody>\n      <tfoot>\n        <tr style=\"background:#eaf4fb;font-weight:700;\">\n          <td colspan=\"6\" style=\"padding:9px;text-align:right;color:#1a5276;font-size:13px;\">TOTAL</td>\n          <td style=\"padding:9px;text-align:right;font-size:13px;\">${fmt(ctrl.somme_ocr_brut)} DH</td>\n          <td style=\"padding:9px;text-align:right;font-size:13px;\">${fmt(ctrl.somme_ht_erp)} DH</td>\n          <td style=\"padding:9px;text-align:right;font-size:13px;color:#1e8449;\">${fmt(ctrl.somme_ttc_erp)} DH</td>\n          <td></td>\n        </tr>\n      </tfoot>\n    </table>\n    </div>\n\n    <!-- VALIDATION COMPTABLE -->\n    <div style=\"background:#eafaf1;border-left:5px solid #27ae60;padding:16px 20px;border-radius:4px;margin-top:24px;\">\n      <p style=\"margin:0 0 8px;font-weight:700;color:#1e8449;font-size:15px;\">✅ Validation comptable possible</p>\n      <p style=\"margin:0 0 8px;color:#333;font-size:14px;\">\n        La facture <strong>${facture}</strong> est validée — <strong>0 écart réel</strong> sur\n        ${resume.total_articles_consolides} article(s) — Total TTC :\n        <strong>${fmt(ctrl.somme_ttc_erp)} DH</strong>.\n      </p>\n      ${articlesMultiBR.length > 0 ? `\n      <div style=\"margin-top:10px;padding:12px 14px;background:#fef9e7;border-radius:5px;border:1px solid #fad7a0;\">\n        <p style=\"margin:0 0 6px;font-weight:700;color:#9a5a00;font-size:13px;\">⚠ Instructions pour le service archivage :</p>\n        <ul style=\"margin:0;padding-left:18px;font-size:13px;color:#7d6608;line-height:2;\">\n          <li>Joindre l'ensemble des BRs listés dans la section ci-dessus, même si leur montant total excède cette facture</li>\n          <li>Annoter chaque BR partagé en indiquant les références des autres factures auxquelles il est également rattaché</li>\n          <li>Signaler au service comptabilité la nécessité de ventiler ces BRs entre les factures concernées dans Sage X3</li>\n          <li>Conserver une copie du présent rapport comme justificatif du rapprochement effectué</li>\n        </ul>\n      </div>` : ''}\n    </div>\n\n  </div>\n\n  <div style=\"background:#f2f3f4;padding:12px 20px;text-align:center;font-size:11px;color:#aaa;border-top:1px solid #e0e0e0;\">\n    Message généré automatiquement — Système de contrôle factures Sage X3 &nbsp;|&nbsp; Jbel Annour\n    &nbsp;|&nbsp; ${new Date(resume.timestamp).toLocaleString('fr-FR')}\n  </div>\n</div>`.trim();\n\n  result.push({\n    json: {\n      to: destinataires.join(','),\n      subject: articlesMultiBR.length > 0\n        ? `✅ Facture validée — ${facture} — ${articlesMultiBR.length} BR(s) partagés à ventiler en archivage`\n        : `✅ Facture conforme — ${facture} — ${resume.total_articles_consolides} articles validés`,\n      message: htmlMessage,\n      meta: {\n        num_facture:          facture,\n        dffs:                 resume.dffs,\n        total_articles:       resume.total_articles_consolides,\n        articles_ok:          resume.total_ok,\n        vrais_ecarts:         0,\n        articles_brs_partages: articlesMultiBR.length,\n        codes_brs_partages:   articlesMultiBR.map(a => a.code_article),\n        mnt_ttc_erp:          ctrl.somme_ttc_erp,\n        statut_total:         ctrl.statut_total_facture,\n        tva_capturee_ocr:     resume.somme_tva_capturee_par_ocr\n      }\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7712,-1488],"id":"b6ef156c-39c2-429d-818e-41491097001a","name":"Code6"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.message }}","options":{"ccEmail":"y.saadaoui@jbel-annour.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[8384,-1488],"id":"8bbb5d9c-d299-4d75-9b79-4c9d0ef39a62","name":"Send email2","webhookId":"cca7ce3c-9916-4cc9-8a90-f819e5f72e8c","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[7088,-1696],"id":"ea996ac6-046b-467e-9dfe-2db0dffe4802","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d72e13d3-ba47-492c-a4d6-e75810a8e8f7","leftValue":"={{ $json.numero_bl }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5392,-1664],"id":"5d98e706-770d-49d9-8a90-d8f15777aeb0","name":"If7"},{"parameters":{"operation":"executeQuery","query":"select REC.PTHNUM_0,RECD.POHNUM_0,RECD.LINATIAMT_0 as mnt_br_ttc,RECD.LINAMT_0 as mnt_br_ht, RECD.XBNT_0 as bl, RECD.ITMREF_0 as code_article_erp, RECD.QTYUOM_0 as quantity,'{{ $json.XFACT_0 }}' as facture_fournisseur, {{ $json.XMNT_0 }} as mnt_facture, '{{ $json.XNUM_0 }}' as DFF  from BASE1.PRECEIPT REC\n  left join BASE1.PRECEIPTD RECD\n  on REC.PTHNUM_0=RECD.PTHNUM_0\nwhere  RECD.POHNUM_0='{{ $json.XCMD_0 }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[6016,-1552],"id":"13595781-86aa-4917-aee1-03b3f14a3464","name":"Microsoft SQL2","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"select fact.XCMD_0,fact.XFACT_0,fact.XMNT_0,fact.XNUM_0, PO.RCPFLG_0, '{{ $json.numero_bl }}' as numero_bl from BASE1.XDEPFACT fact\n  left join BASE1.PORDER PO\n  on TRIM(PO.POHNUM_0) = TRIM(fact.XCMD_0)\nwhere XFACT_0='{{ $json.num_facture }}'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[5824,-1744],"id":"30beaf19-f0b9-42fe-b114-49f6b018b498","name":"Microsoft SQL6","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"operation":"executeQuery","query":"select REC.PTHNUM_0,REC.POHNUM_0,REC.LINATIAMT_0 as mnt_br_ttc,REC.LINAMT_0 as mnt_br_ht, REC.XBNT_0 as bl, REC.ITMREF_0 as code_article_erp, REC.QTYUOM_0 as quantity,'{{ $json.XFACT_0 }}' as facture_fournisseur, {{ $json.XMNT_0 }} as mnt_facture, '{{ $json.XNUM_0 }}' as DFF from BASE1.PRECEIPTD REC\nleft join BASE1.PINVOICED PI\n  on PI.NUMORI_0=REC.PTHNUM_0\n  where REC.POHNUM_0='{{ $json.XCMD_0 }}' \nAND PI.NUM_0 is NULL"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[6016,-1744],"id":"828dba24-a556-4e60-9608-fbd80c689c6b","name":"Microsoft SQL8","credentials":{"microsoftSql":{"id":"HW9ko65N6UH3Mtv7","name":"SageX3_241"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"790bda7c-89b0-48db-bfe1-6da14709cfaa","leftValue":"={{ $json.accepted }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8176,-1936],"id":"42ad37ca-af6f-4ff0-8530-55a94168c45f","name":"If3"},{"parameters":{"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[8416,-1952],"id":"1f97ac41-83ae-447a-abe9-0d24188061be","name":"Insert rows in a table","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Microsoft SQL","type":"main","index":0}]]},"Microsoft SQL":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"If1","type":"main","index":0}],[]]},"Microsoft SQL1":{"main":[[{"node":"Microsoft SQL3","type":"main","index":0}]]},"Microsoft SQL3":{"main":[[{"node":"Code3","type":"main","index":0}]]},"If2":{"main":[[{"node":"Code19","type":"main","index":0}],[]]},"Code3":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code19":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Microsoft SQL7":{"main":[[]]},"Code4":{"main":[[{"node":"If5","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Execute a SQL query1","type":"main","index":0},{"node":"If7","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Microsoft SQL5":{"main":[[{"node":"Microsoft SQL2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Send email1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"If6":{"main":[[{"node":"Code5","type":"main","index":0}],[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Send email2","type":"main","index":0}]]},"Send email2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If6","type":"main","index":0}]]},"If7":{"main":[[{"node":"Microsoft SQL6","type":"main","index":0}],[{"node":"Microsoft SQL5","type":"main","index":0}]]},"Microsoft SQL2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Microsoft SQL6":{"main":[[{"node":"Microsoft SQL8","type":"main","index":0}]]},"Microsoft SQL8":{"main":[[{"node":"Merge","type":"main","index":1}]]},"If3":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Microsoft SQL7":[{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192036","mnt_br":12720,"bl":"2026/01","code_article_erp":"A15795","quantity":2,"facture_fournisseur":"2026/003 BIS MO ","mnt_facture":524305.4,"DFF":"DFF13201"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192036","mnt_br":4560,"bl":"2026/01","code_article_erp":"A15796","quantity":1,"facture_fournisseur":"2026/003 BIS MO ","mnt_facture":524305.4,"DFF":"DFF13201"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192197","mnt_br":10800,"bl":"2026/01","code_article_erp":"A15792","quantity":2,"facture_fournisseur":"2026/003 BIS MO","mnt_facture":524305.4,"DFF":"DFF13291"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":21216,"bl":"2026/01","code_article_erp":"A05820","quantity":104,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":53352,"bl":"2026/01","code_article_erp":"A14366","quantity":234,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":9600,"bl":"2026/01","code_article_erp":"A15675","quantity":8,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":5219.28,"bl":"2026/01","code_article_erp":"A15782","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":49920,"bl":"2026/01","code_article_erp":"A15783","quantity":13,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":8256,"bl":"2026/01","code_article_erp":"A15784","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":35640,"bl":"2026/01","code_article_erp":"A15785","quantity":11,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":92484,"bl":"2026/01","code_article_erp":"A15672","quantity":367,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":10500,"bl":"2026/01","code_article_erp":"A15660","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":10692,"bl":"2026/01","code_article_erp":"A15786","quantity":9,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":5082,"bl":"2026/01","code_article_erp":"A15773","quantity":5,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":2032.8,"bl":"2026/01","code_article_erp":"A15774","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":5808,"bl":"2026/01","code_article_erp":"A15775","quantity":2,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":39336,"bl":"2026/01","code_article_erp":"A15776","quantity":5,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":9605,"bl":"2026/01","code_article_erp":"A10272","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":10424.04,"bl":"2026/01","code_article_erp":"A15777","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":9624,"bl":"2026/01","code_article_erp":"A15778","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":10639.2,"bl":"2026/01","code_article_erp":"A15779","quantity":1,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":27192,"bl":"2026/01","code_article_erp":"A15780","quantity":2,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":15462.48,"bl":"2026/01","code_article_erp":"A15781","quantity":2,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":1320,"bl":"2026/01","code_article_erp":"A15671","quantity":2,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":15735.6,"bl":"2026/01","code_article_erp":"A15673","quantity":47,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":28080,"bl":"2026/01","code_article_erp":"A15677","quantity":180,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":9636,"bl":"2026/01","code_article_erp":"A15678","quantity":146,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":2520,"bl":"2026/01","code_article_erp":"A15676","quantity":6,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}},{"json":{"PTHNUM_0":"BR192579","POHNUM_0":"BC192199","mnt_br":6336,"bl":"2026/01","code_article_erp":"A15705","quantity":33,"facture_fournisseur":"2026/003 BIS MO  ","mnt_facture":524305.4,"DFF":"DFF13293"}}],"Schedule Trigger":[{"json":{"timestamp":"2026-06-29T14:25:12.029-04:00","Readable date":"June 29th 2026, 2:25:12 pm","Readable time":"2:25:12 pm","Day of week":"Monday","Year":"2026","Month":"June","Day of month":"29","Hour":"14","Minute":"25","Second":"12","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"d5609edc-75de-4474-903e-d8dd53a2dc93","triggerCount":1,"tags":[]}