notifactions pour blocages de pointage-oWPKa3jLcx7TBQuu.json
{"createdAt":"2026-07-01T19:08:38.595Z","updatedAt":"2026-07-08T17:32:09.000Z","id":"oWPKa3jLcx7TBQuu","name":"notifactions pour blocages de pointage","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT * FROM  sage_blocages;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[192,-128],"id":"dc5f458d-8957-4ede-bdf0-e9434ca501b3","name":"Execute a SQL query","credentials":{"mySql":{"id":"UQgwXFPyjoWRnOlu","name":"reception"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8c5331e-38b1-4b68-aedc-174ff7b53848","leftValue":"={{ $json.nb_envois }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,-368],"id":"6e328569-fc39-41da-a09e-d9bae1ee12a8","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"abf9d7c1-1a81-47ce-bcfd-e09701273388","leftValue":"={{ $json.nb_envois }}","rightValue":14,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,-16],"id":"55fca129-33f7-46e8-9a1c-bfd36ced1c81","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aa5e5e1-8593-4018-9a29-40f54722f3ff","leftValue":"={{ $json.nb_envois }}","rightValue":21,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[544,192],"id":"c85852f0-be3e-4939-bf94-2494ba5b6f67","name":"If2"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,-128],"id":"a381560a-c217-49c4-a354-7f023c6e449c","name":"Schedule Trigger"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// RELANCE SERVICE JURIDIQUE — Factures non traitées (délai 7j dépassé)\n// Entrée attendue : fusion (Merge/Append) de deux sources :\n//   1) Factures en retard : { numero_facture, numero_dff, premier_envoi,\n//      dernier_envoi, nb_envois, nb_envois_max, created_at }\n//   2) Destinataire(s) : { code_baallah, nom_baallah, prenom_baallah,\n//      email_baallah, telephone_baallah }\n// ═══════════════════════════════════════════════════════════════\n\nconst DELAI_JOURS = 7; // niveau d'escalade géré par ce node\n\nconst allItems = $input.all();\n\n// ── EXTRACTION ROBUSTE : sépare factures / destinataires ──────────\nfunction extraireItems(allItems) {\n  const factures = [];\n  const destinataires = [];\n  for (const item of allItems) {\n    const val = item.json;\n    if (val && val.code_baallah) {\n      destinataires.push(val);\n    } else if (val && val.numero_facture) {\n      factures.push(val);\n    }\n  }\n  return { factures, destinataires };\n}\n\nconst { factures, destinataires } = extraireItems(allItems);\n\nif (factures.length === 0) {\n  return []; // rien à relancer\n}\n\nconst fmtDate = (d) => {\n  if (!d) return '—';\n  const dt = new Date(d.replace(' ', 'T'));\n  return dt.toLocaleString('fr-FR', {\n    day: '2-digit', month: '2-digit', year: 'numeric',\n    hour: '2-digit', minute: '2-digit'\n  });\n};\n\nconst joursEcoules = (d) => {\n  if (!d) return null;\n  const dt = new Date(d.replace(' ', 'T'));\n  const diffMs = Date.now() - dt.getTime();\n  return Math.floor(diffMs / (1000 * 60 * 60 * 24));\n};\n\nconst badgeRelance = (nb, nbMax) => {\n  const ratio = nb - nbMax;\n  if (ratio >= 2)\n    return `<span style=\"background:#fadbd8;color:#922b21;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🔴 ${nb}× envoyés</span>`;\n  if (ratio >= 1)\n    return `<span style=\"background:#fdebd0;color:#784212;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🟠 ${nb}× envoyés</span>`;\n  return `<span style=\"background:#fef9e7;color:#9a7d0a;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🟡 ${nb}× envoyés</span>`;\n};\n\nconst badgeJours = (j) => {\n  if (j === null) return '—';\n  if (j >= 14)\n    return `<span style=\"color:#922b21;font-weight:700;\">${j} j</span>`;\n  if (j >= 7)\n    return `<span style=\"color:#c0392b;font-weight:700;\">${j} j</span>`;\n  return `<span style=\"color:#7d6608;font-weight:600;\">${j} j</span>`;\n};\n\n// ── TABLEAU DES FACTURES ────────────────────────────────────────\nconst lignesTableHTML = factures.map((f, i) => {\n  const jours = joursEcoules(f.premier_envoi);\n  return `\n    <tr style=\"background:${i % 2 === 0 ? '#fff' : '#fafafa'};\">\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-weight:700;font-size:13px;color:#1a5276;\">${f.numero_facture}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;color:#555;\">${f.numero_dff || '—'}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;\">${fmtDate(f.premier_envoi)}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;\">${fmtDate(f.dernier_envoi)}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;text-align:center;\">${badgeRelance(f.nb_envois)}</td>\n    </tr>`;\n}).join('');\n\nconst nbFactures = factures.length;\nconst nbCritiques = factures.filter(f => (f.nb_envois - f.nb_envois_max) >= 2).length;\n\n// ── GÉNÉRATION D'UN MESSAGE PAR DESTINATAIRE ────────────────────\nconst result = [];\n\nconst listeDestinataires = destinataires.length > 0\n  ? destinataires\n  : [{ nom_baallah: '', prenom_baallah: '', email_baallah: null }]; // fallback si non fourni\n\nfor (const dest of listeDestinataires) {\n  const nomComplet = `${dest.prenom_baallah || ''} ${dest.nom_baallah || ''}`.trim() || 'Responsable';\n\n  const htmlMessage = `\n<div style=\"font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:760px;margin:auto;border:1px solid #d5d8dc;border-radius:10px;overflow:hidden;\">\n\n  <div style=\"background:linear-gradient(135deg,#922b21 0%,#c0392b 100%);padding:26px 30px;text-align:center;\">\n    <p style=\"color:#fadbd8;margin:0 0 4px;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">Relance Service Juridique</p>\n    <h2 style=\"color:#fff;margin:0;font-size:20px;font-weight:700;\">⚠ FACTURES EN ATTENTE DE TRAITEMENT — DÉLAI ${DELAI_JOURS}J DÉPASSÉ</h2>\n    <p style=\"color:rgba(255,255,255,0.85);margin:6px 0 0;font-size:13px;\">\n      ${nbFactures} facture(s) concernée(s)${nbCritiques > 0 ? ` — dont ${nbCritiques} en relance critique` : ''}\n    </p>\n  </div>\n\n  <div style=\"padding:26px 30px;\">\n\n    <p style=\"font-size:14px;color:#333;\">Bonjour ${nomComplet},</p>\n    <p style=\"font-size:14px;color:#333;line-height:1.6;\">\n      Les factures listées ci-dessous ont dépassé un délai de <strong>${DELAI_JOURS} jours</strong> depuis leur première\n      notification et n'ont, à ce jour, toujours pas été traitées. Elles ont fait l'objet de plusieurs relances\n      automatiques sans retour. Merci de bien vouloir statuer sur leur traitement.\n    </p>\n\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:22px;\">\n      📄 Factures concernées (${nbFactures})\n    </h3>\n    <div style=\"overflow-x:auto;\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;border:1px solid #d5d8dc;border-radius:6px;overflow:hidden;\">\n      <thead>\n        <tr style=\"background:#2c3e50;color:white;\">\n          <th style=\"padding:8px 10px;text-align:left;\">N° Facture</th>\n          <th style=\"padding:8px 10px;text-align:left;\">N° DFF</th>\n          <th style=\"padding:8px 10px;text-align:left;\">1ère notification</th>\n          <th style=\"padding:8px 10px;text-align:left;\">Dernière notification</th>\n          <th style=\"padding:8px 10px;text-align:center;\">Relances</th>\n        </tr>\n      </thead>\n      <tbody>${lignesTableHTML}</tbody>\n    </table>\n    </div>\n\n    <div style=\"background:#fff3cd;border-left:5px solid #e74c3c;padding:16px 20px;border-radius:4px;margin-top:24px;\">\n      <p style=\"margin:0 0 8px;font-weight:700;color:#c0392b;font-size:15px;\">🔴 ACTION REQUISE</p>\n      <p style=\"margin:0;color:#333;font-size:14px;line-height:1.6;\">\n        Merci de traiter ces dossiers dans les meilleurs délais afin d'éviter tout blocage administratif\n        ou comptable supplémentaire.\n      </p>\n    </div>\n\n  </div>\n\n  <div style=\"background:#f2f3f4;padding:12px 20px;text-align:center;font-size:11px;color:#aaa;border-top:1px solid #e0e0e0;\">\n    Message généré automatiquement — Système de suivi des relances factures &nbsp;|&nbsp; Jbel Annour\n    &nbsp;|&nbsp; ${new Date().toLocaleString('fr-FR')}\n  </div>\n</div>`.trim();\n\n  result.push({\n    json: {\n      to: dest.email_baallah || '',\n      subject: `⚠ RELANCE JURIDIQUE — ${nbFactures} facture(s) en attente (délai ${DELAI_JOURS}j dépassé)`,\n      message: htmlMessage,\n      meta: {\n        destinataire: nomComplet,\n        email: dest.email_baallah,\n        nb_factures: nbFactures,\n        nb_critiques: nbCritiques,\n        factures: factures.map(f => f.numero_facture),\n        delai_jours: DELAI_JOURS\n      }\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-480],"id":"578a8542-591c-45a3-8d10-7e6574980811","name":"Code"},{"parameters":{"operation":"executeQuery","query":"select \n  XSAL_0 AS code_baallah,\n  XNAMSAL_0 AS nom_baallah,\n  XPRENOM_0 AS prenom_baallah, \n  XEMAIL_0 AS email_baallah,\n  YTELE_0 AS telephone_baallah \n  from jbelrh.JBELRH.XSAL\nWHERE XSAL_0 = 'S0179'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[560,-560],"id":"bec0659f-2712-41d8-8e2c-7142ca1e8aab","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"operation":"executeQuery","query":"select \n    XSAL_0 AS code_dga,\n    XNAMSAL_0 AS nom_dga,\n    XPRENOM_0 AS prenom_dga,\n    XEMAIL_0 AS email_dga,\n    YTELE_0 AS telephone_dga\n    FROM jbelrh.JBELRH.XSAL\n       WHERE XSAL_0 = 'S0949'"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[544,-208],"id":"7e2e1436-4557-4897-81ed-ff3f9556a760","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// RELANCE DGA — Factures non traitées (délai 14j dépassé)\n// Entrée attendue : fusion (Merge/Append) de deux sources :\n//   1) Factures en retard : { numero_facture, numero_dff, premier_envoi,\n//      dernier_envoi, nb_envois, nb_envois_max, created_at }\n//   2) Destinataire(s) : { code_dga, nom_dga, prenom_dga,\n//      email_dga, telephone_dga }\n// ═══════════════════════════════════════════════════════════════\n\nconst DELAI_JOURS = 14; // niveau d'escalade géré par ce node\n\nconst allItems = $input.all();\n\n// ── EXTRACTION ROBUSTE : sépare factures / destinataires ──────────\nfunction extraireItems(allItems) {\n  const factures = [];\n  const destinataires = [];\n  for (const item of allItems) {\n    const val = item.json;\n    if (val && val.code_dga) {\n      destinataires.push(val);\n    } else if (val && val.numero_facture) {\n      factures.push(val);\n    }\n  }\n  return { factures, destinataires };\n}\n\nconst { factures, destinataires } = extraireItems(allItems);\n\nif (factures.length === 0) {\n  return []; // rien à relancer\n}\n\nconst fmtDate = (d) => {\n  if (!d) return '—';\n  const dt = new Date(d.replace(' ', 'T'));\n  return dt.toLocaleString('fr-FR', {\n    day: '2-digit', month: '2-digit', year: 'numeric',\n    hour: '2-digit', minute: '2-digit'\n  });\n};\n\nconst joursEcoules = (d) => {\n  if (!d) return null;\n  const dt = new Date(d.replace(' ', 'T'));\n  const diffMs = Date.now() - dt.getTime();\n  return Math.floor(diffMs / (1000 * 60 * 60 * 24));\n};\n\nconst badgeRelance = (nb) => {\n  if (nb >= 10)\n    return `<span style=\"background:#7b241c;color:#fff;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🔴🔴 ${nb}× envoyés</span>`;\n  if (nb >= 5)\n    return `<span style=\"background:#fadbd8;color:#922b21;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🔴 ${nb}× envoyés</span>`;\n  return `<span style=\"background:#fdebd0;color:#784212;padding:2px 9px;border-radius:10px;font-size:12px;font-weight:700;\">🟠 ${nb}× envoyés</span>`;\n};\n\nconst badgeJours = (j) => {\n  if (j === null) return '—';\n  if (j >= 21)\n    return `<span style=\"color:#7b241c;font-weight:700;\">${j} j</span>`;\n  if (j >= 14)\n    return `<span style=\"color:#922b21;font-weight:700;\">${j} j</span>`;\n  return `<span style=\"color:#c0392b;font-weight:700;\">${j} j</span>`;\n};\n\n// ── TABLEAU DES FACTURES ────────────────────────────────────────\nconst lignesTableHTML = factures.map((f, i) => {\n  const jours = joursEcoules(f.premier_envoi);\n  return `\n    <tr style=\"background:${i % 2 === 0 ? '#fff' : '#fafafa'};\">\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-weight:700;font-size:13px;color:#1a5276;\">${f.numero_facture}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;color:#555;\">${f.numero_dff || '—'}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;\">${fmtDate(f.premier_envoi)}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;font-size:12px;\">${fmtDate(f.dernier_envoi)}</td>\n      <td style=\"padding:8px 10px;border-bottom:1px solid #eee;text-align:center;\">${badgeRelance(f.nb_envois)}</td>\n    </tr>`;\n}).join('');\n\nconst nbFactures = factures.length;\nconst nbCritiques = factures.filter(f => f.nb_envois >= 10).length;\n\n// ── GÉNÉRATION D'UN MESSAGE PAR DESTINATAIRE ────────────────────\nconst result = [];\n\nconst listeDestinataires = destinataires.length > 0\n  ? destinataires\n  : [{ nom_dga: '', prenom_dga: '', email_dga: null }]; // fallback si non fourni\n\nfor (const dest of listeDestinataires) {\n  const nomComplet = `${dest.prenom_dga || ''} ${dest.nom_dga || ''}`.trim() || 'Responsable';\n\n  const htmlMessage = `\n<div style=\"font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;max-width:760px;margin:auto;border:1px solid #d5d8dc;border-radius:10px;overflow:hidden;\">\n\n  <div style=\"background:linear-gradient(135deg,#641e16 0%,#922b21 100%);padding:26px 30px;text-align:center;\">\n    <p style=\"color:#fadbd8;margin:0 0 4px;font-size:11px;letter-spacing:2px;text-transform:uppercase;\">Escalade DGA — Relance Niveau 2</p>\n    <h2 style=\"color:#fff;margin:0;font-size:20px;font-weight:700;\">🔴 FACTURES TOUJOURS NON TRAITÉES — DÉLAI ${DELAI_JOURS}J DÉPASSÉ</h2>\n    <p style=\"color:rgba(255,255,255,0.85);margin:6px 0 0;font-size:13px;\">\n      ${nbFactures} facture(s) concernée(s)${nbCritiques > 0 ? ` — dont ${nbCritiques} en relance très critique (≥10 envois)` : ''}\n    </p>\n  </div>\n\n  <div style=\"padding:26px 30px;\">\n\n    <p style=\"font-size:14px;color:#333;\">Bonjour ${nomComplet},</p>\n    <p style=\"font-size:14px;color:#333;line-height:1.6;\">\n      Les factures listées ci-dessous ont dépassé un délai de <strong>${DELAI_JOURS} jours</strong> depuis leur première\n      notification et n'ont, à ce jour, toujours pas été traitées, malgré une première relance au service juridique.\n      Ce dossier vous est désormais escaladé pour arbitrage et suivi.\n    </p>\n\n    <h3 style=\"color:#1a5276;border-bottom:2px solid #2e86c1;padding-bottom:7px;margin-top:22px;\">\n      📄 Factures concernées (${nbFactures})\n    </h3>\n    <div style=\"overflow-x:auto;\">\n    <table style=\"width:100%;border-collapse:collapse;font-size:12px;border:1px solid #d5d8dc;border-radius:6px;overflow:hidden;\">\n      <thead>\n        <tr style=\"background:#2c3e50;color:white;\">\n          <th style=\"padding:8px 10px;text-align:left;\">N° Facture</th>\n          <th style=\"padding:8px 10px;text-align:left;\">N° DFF</th>\n          <th style=\"padding:8px 10px;text-align:left;\">1ère notification</th>\n          <th style=\"padding:8px 10px;text-align:left;\">Dernière notification</th>\n          <th style=\"padding:8px 10px;text-align:center;\">Relances</th>\n        </tr>\n      </thead>\n      <tbody>${lignesTableHTML}</tbody>\n    </table>\n    </div>\n\n    <div style=\"background:#fdedec;border-left:5px solid #922b21;padding:16px 20px;border-radius:4px;margin-top:24px;\">\n      <p style=\"margin:0 0 8px;font-weight:700;color:#7b241c;font-size:15px;\">🔴 ACTION REQUISE — NIVEAU DGA</p>\n      <p style=\"margin:0;color:#333;font-size:14px;line-height:1.6;\">\n        Ces dossiers n'ont pas été régularisés malgré les relances précédentes. Merci de statuer rapidement\n        sur leur traitement ou de mandater la personne compétente pour éviter tout blocage administratif,\n        comptable ou contentieux.\n      </p>\n    </div>\n\n  </div>\n\n  <div style=\"background:#f2f3f4;padding:12px 20px;text-align:center;font-size:11px;color:#aaa;border-top:1px solid #e0e0e0;\">\n    Message généré automatiquement — Système de suivi des relances factures &nbsp;|&nbsp; Jbel Annour\n    &nbsp;|&nbsp; ${new Date().toLocaleString('fr-FR')}\n  </div>\n</div>`.trim();\n\n  result.push({\n    json: {\n      to: dest.email_dga || '',\n      subject: `🔴 RELANCE DGA — ${nbFactures} facture(s) en attente (délai ${DELAI_JOURS}j dépassé)`,\n      message: htmlMessage,\n      meta: {\n        destinataire: nomComplet,\n        email: dest.email_dga,\n        nb_factures: nbFactures,\n        nb_critiques: nbCritiques,\n        factures: factures.map(f => f.numero_facture),\n        delai_jours: DELAI_JOURS\n      }\n    }\n  });\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,-112],"id":"8d5e5566-65da-475c-a6fd-3994f10f363a","name":"Code1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,176],"id":"74deb7a7-6ea9-4967-bfea-73bec35ab4d0","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[848,-480],"id":"9f5d4263-5738-4841-a945-848067f02adf","name":"Merge"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1296,-480],"id":"6ddf4331-3683-4683-adf2-e7acaed37f47","name":"Send email","webhookId":"fdfce6d7-df45-4ead-a8b1-d84e4e0c5e34","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,-112],"id":"f67a4305-3f78-439c-a9fc-d64744016113","name":"Merge1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"elghalbzouri.hicham01@gmail.com","subject":"={{ $json.subject }}","html":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1296,-112],"id":"0b027b49-919e-4868-b1de-16bc9e22888d","name":"Send email1","webhookId":"167ed140-32a7-4ea8-beda-25103e13d7c3","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}}],"connections":{"Execute a SQL query":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Microsoft SQL","type":"main","index":0},{"node":"Microsoft SQL1","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":1}],[]]},"Microsoft SQL":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"If2":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"41af51f0-ba26-4b1d-b14b-b397c16f6e1e","triggerCount":1,"tags":[]}