rapport_rh non attachee-FiJdxV5qH1Vns7xV.json
{"createdAt":"2026-05-01T20:33:13.150Z","updatedAt":"2026-05-02T23:18:31.000Z","id":"FiJdxV5qH1Vns7xV","name":"Rapport_rh non attachee","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1328,512],"id":"2845ecf0-29f1-4ece-b94e-e5e5ec7bd8a0","name":"Schedule Trigger XRAPRH"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT\n        -- ═══ INFOS RAPPORT RH ═══\n        XRAPRH.XNUM_0        AS num_rapport,\n        XRAPRH.XDAT_0        AS date_rapport,\n        TYPE.LANMES_0        AS type_rapport,\n        XRAPRH.CREDATTIM_0   AS date_creation,\n        XRAPRH.YDATCON_0     AS date_controle,\n        XRAPRH.CREUSR_0      AS user_createur,\n        XRAPRH.XRESP_0       AS cadre_juridique,\n        XRAPRH.XCONC_0       AS concernes,\n        XRAPRH.XOBJET_0      AS nom_prenom_sujet,\n        XRAPRH.XSAL_0        AS code_salarie,\n        XRAPRH.XFONC_0       AS fonction_salarie,\n        XRAPRH.XADDR_0       AS adresse_salarie,\n        XRAPRH.XMAT_0        AS matricule_salarie,\n\n        -- ═══ INFOS SALARIÉ CONCERNÉ ═══\n        SAL.XNAMSAL_0        AS nom_salarie,\n        SAL.XPRENOM_0        AS prenom_salarie,\n        SAL.XEMAIL_0         AS email_salarie,\n        SAL.YTELE_0          AS tel_salarie,\n        SAL.YSUP_0           AS code_superieur_salarie,\n\n        -- ═══ INFOS CRÉATEUR (résolution dual-path) ═══\n        COALESCE(\n            CASE WHEN XRAPRH.CREUSR_0 LIKE 'S%' THEN XRAPRH.CREUSR_0 ELSE NULL END,\n            YSALAUS.XSAL_0\n        )                    AS code_createur,\n\n        COALESCE(CRE_DIRECT.XNAMSAL_0, CRE_LOGIN.XNAMSAL_0)  AS nom_createur,\n        COALESCE(CRE_DIRECT.XPRENOM_0, CRE_LOGIN.XPRENOM_0)  AS prenom_createur,\n        COALESCE(CRE_DIRECT.XEMAIL_0,  CRE_LOGIN.XEMAIL_0)   AS email_createur,\n        COALESCE(CRE_DIRECT.YTELE_0,   CRE_LOGIN.YTELE_0)    AS tel_createur,\n        COALESCE(CRE_DIRECT.YSUP_0,    CRE_LOGIN.YSUP_0)     AS code_sup_createur,\n\n        -- ═══ INFOS SUPÉRIEUR DU CRÉATEUR ═══\n        COALESCE(SUP_DIRECT.XSAL_0,    SUP_LOGIN.XSAL_0)     AS code_superieur,\n        COALESCE(SUP_DIRECT.XNAMSAL_0, SUP_LOGIN.XNAMSAL_0)  AS nom_superieur,\n        COALESCE(SUP_DIRECT.XPRENOM_0, SUP_LOGIN.XPRENOM_0)  AS prenom_superieur,\n        COALESCE(SUP_DIRECT.XEMAIL_0,  SUP_LOGIN.XEMAIL_0)   AS email_superieur,\n        COALESCE(SUP_DIRECT.YTELE_0,   SUP_LOGIN.YTELE_0)    AS tel_superieur,\n\n        -- ═══ RESPONSABLES FIXES ═══\n        pdg.XSAL_0           AS code_pdg,\n        pdg.XNAMSAL_0        AS nom_pdg,\n        pdg.XPRENOM_0        AS prenom_pdg,\n        pdg.XEMAIL_0         AS email_pdg,\n        pdg.YTELE_0          AS tel_pdg,\n\n        dga.XSAL_0           AS code_dga,\n        dga.XNAMSAL_0        AS nom_dga,\n        dga.XPRENOM_0        AS prenom_dga,\n        dga.XEMAIL_0         AS email_dga,\n        dga.YTELE_0          AS tel_dga,\n\n        farhat.XSAL_0        AS code_farhat,\n        farhat.XNAMSAL_0     AS nom_farhat,\n        farhat.XPRENOM_0     AS prenom_farhat,\n        farhat.XEMAIL_0      AS email_farhat,\n        farhat.YTELE_0       AS tel_farhat,\n\n        baallah.XSAL_0       AS code_baallah,\n        baallah.XNAMSAL_0    AS nom_baallah,\n        baallah.XPRENOM_0    AS prenom_baallah,\n        baallah.XEMAIL_0     AS email_baallah,\n        baallah.YTELE_0      AS tel_baallah,\n\n        -- ═══ INFOS TELEGRAM CRÉATEUR ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(\n                CASE WHEN XRAPRH.CREUSR_0 LIKE 'S%' THEN XRAPRH.CREUSR_0 ELSE NULL END,\n                YSALAUS.XSAL_0\n            )) AS chat_id_createur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(\n                CASE WHEN XRAPRH.CREUSR_0 LIKE 'S%' THEN XRAPRH.CREUSR_0 ELSE NULL END,\n                YSALAUS.XSAL_0\n            )) AS langue_createur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(\n                CASE WHEN XRAPRH.CREUSR_0 LIKE 'S%' THEN XRAPRH.CREUSR_0 ELSE NULL END,\n                YSALAUS.XSAL_0\n            )) AS bot_createur,\n\n        -- ═══ INFOS TELEGRAM SUPÉRIEUR ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0)) AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0)) AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf\n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0)) AS bot_superieur,\n\n        -- ═══ INFOS TELEGRAM PDG (chat_id fixe) ═══\n        '8528101210'          AS chat_id_pdg,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n        -- ═══ INFOS TELEGRAM DGA ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS bot_dga,\n\n        -- ═══ INFOS TELEGRAM FARHAT ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS bot_farhat,\n\n        -- ═══ INFOS TELEGRAM BAALLAH ═══\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        -- ═══ DÉLAI & CALCULS ═══\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n        CASE\n            WHEN XRAPRH.YDATCON_0 != '1753-01-01' THEN XRAPRH.YDATCON_0\n            ELSE DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XRAPRH.CREDATTIM_0)\n        END AS date_limite,\n        DATEDIFF(DAY, XRAPRH.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n        CASE\n            WHEN XRAPRH.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, GETDATE(), XRAPRH.YDATCON_0)\n            ELSE\n                DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XRAPRH.CREDATTIM_0))\n        END AS jours_restants,\n        CASE\n            WHEN XRAPRH.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, XRAPRH.CREDATTIM_0, XRAPRH.YDATCON_0) / 2\n            ELSE\n                CAST(P.VALEUR_0 AS INT) / 2\n        END AS seuil_dga\n\n    FROM [jbelrh].[JBELRH].[XRAPRH] XRAPRH\n\n    LEFT JOIN [jbelrh].[JBELRH].[APLSTD] TYPE\n        ON XRAPRH.XTYP_0 = TYPE.LANNUM_0\n        AND TYPE.LANCHP_0 = 6074\n        AND TYPE.LAN_0 = 'FRA'\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SAL\n        ON SAL.XSAL_0 = XRAPRH.XSAL_0\n\n    -- ─── Path 1 : CREUSR_0 est déjà un code X3 (commence par S) ───\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE_DIRECT\n        ON XRAPRH.CREUSR_0 LIKE 'S%'\n        AND CRE_DIRECT.XSAL_0 = XRAPRH.CREUSR_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP_DIRECT\n        ON CRE_DIRECT.XSAL_0 IS NOT NULL\n        AND SUP_DIRECT.XSAL_0 = CRE_DIRECT.YSUP_0\n\n    -- ─── Path 2 : CREUSR_0 est un login → résolution via YSALAUS ───\n    LEFT JOIN jbelrh.JBELRH.YSALAUS YSALAUS\n        ON XRAPRH.CREUSR_0 NOT LIKE 'S%'\n        AND YSALAUS.USER_0 = XRAPRH.CREUSR_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE_LOGIN\n        ON YSALAUS.XSAL_0 IS NOT NULL\n        AND CRE_LOGIN.XSAL_0 = YSALAUS.XSAL_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP_LOGIN\n        ON CRE_LOGIN.XSAL_0 IS NOT NULL\n        AND SUP_LOGIN.XSAL_0 = CRE_LOGIN.YSUP_0\n\n    OUTER APPLY (\n        SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YDELRPRH'\n    ) P\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n    ) pdg\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n    ) dga\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n    ) farhat\n\n    OUTER APPLY (\n        SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n        FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n    ) baallah\n\n    WHERE\n        NOT EXISTS (\n            SELECT 1 FROM [jbelrh].[JBELRH].[AOBJTXT] AOBJTXT\n            WHERE XRAPRH.XNUM_0 = AOBJTXT.IDENT1_0 AND AOBJTXT.ABREV_0 = 'XRAPRH'\n        )\n        AND CAST(XRAPRH.CREDATTIM_0 AS DATE) >= '2024-01-01'\n)\n\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants <= 8  AND jours_restants > 4\nUNION ALL\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 4\nUNION ALL\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 4\nUNION ALL\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1104,512],"id":"d44b1a48-9c32-4869-a822-2faf3edb8d7a","name":"SQL - Rapports RH XRAPRH","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data-xraprh","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,512],"id":"72acd7dc-989c-45f6-909d-7ad8363daacd","name":"Vérifier Données Présentes","notes":"Stoppe si aucun rapport RH à traiter"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-656,608],"id":"3d2008bd-e653-4690-a38a-fc32fbd2c33a","name":"Fin - Aucun Rapport à Traiter"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES PAR DESTINATAIRE — XRAPRH (Rapports RH)\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📋 STRUCTURATION NOTIFICATIONS - RAPPORTS RH XRAPRH');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Lignes reçues: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  switch (data.niveau_escalade) {\n\n    case 'PDG':\n      destinatairePrincipal = {\n        code:      data.code_pdg,\n        nom:       data.nom_pdg,\n        prenom:    data.prenom_pdg,\n        email:     data.email_pdg,\n        telephone: data.tel_pdg,\n        chat_id:   data.chat_id_pdg,\n        langue:    data.langue_pdg || 'FRA',\n        bot:       data.bot_pdg\n      };\n      codeDestinataire = data.code_pdg;\n      typeDestinataire = 'PDG';\n      break;\n\n    case 'DGA':\n      destinatairePrincipal = {\n        code:      data.code_dga,\n        nom:       data.nom_dga,\n        prenom:    data.prenom_dga,\n        email:     data.email_dga,\n        telephone: data.tel_dga,\n        chat_id:   data.chat_id_dga,\n        langue:    data.langue_dga || 'FRA',\n        bot:       data.bot_dga\n      };\n      codeDestinataire = data.code_dga;\n      typeDestinataire = 'DGA';\n      break;\n\n    case 'SUPERIEUR':\n      destinatairePrincipal = {\n        code:      data.code_superieur,\n        nom:       data.nom_superieur,\n        prenom:    data.prenom_superieur,\n        email:     data.email_superieur,\n        telephone: data.tel_superieur,\n        chat_id:   data.chat_id_superieur,\n        langue:    data.langue_superieur || 'FRA',\n        bot:       data.bot_superieur\n      };\n      codeDestinataire = data.code_superieur;\n      typeDestinataire = 'SUPERIEUR';\n      break;\n\n    case 'SALARIE':\n      destinatairePrincipal = {\n        code:      data.code_createur,\n        nom:       data.nom_createur,\n        prenom:    data.prenom_createur,\n        email:     data.email_createur,\n        telephone: data.tel_createur,\n        chat_id:   data.chat_id_createur,\n        langue:    data.langue_createur || 'FRA',\n        bot:       data.bot_createur\n      };\n      codeDestinataire = data.code_createur;\n      typeDestinataire = 'SALARIE';\n      break;\n\n    case 'FARHAT':\n      destinatairePrincipal = {\n        code:      data.code_farhat,\n        nom:       data.nom_farhat,\n        prenom:    data.prenom_farhat,\n        email:     data.email_farhat,\n        telephone: data.tel_farhat,\n        chat_id:   data.chat_id_farhat,\n        langue:    data.langue_farhat || 'FRA',\n        bot:       data.bot_farhat\n      };\n      codeDestinataire = data.code_farhat;\n      typeDestinataire = 'FARHAT';\n      break;\n\n    case 'BAALLAH':\n      destinatairePrincipal = {\n        code:      data.code_baallah,\n        nom:       data.nom_baallah,\n        prenom:    data.prenom_baallah,\n        email:     data.email_baallah,\n        telephone: data.tel_baallah,\n        chat_id:   data.chat_id_baallah,\n        langue:    data.langue_baallah || 'FRA',\n        bot:       data.bot_baallah\n      };\n      codeDestinataire = data.code_baallah;\n      typeDestinataire = 'BAALLAH';\n      break;\n\n    default:\n      console.log(`⏭️  Rapport ${data.num_rapport} ignoré (niveau: ${data.niveau_escalade})`);\n      return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade:   data.niveau_escalade,\n\n      // ── Profils complets ──\n      createur: {\n        code:      data.code_createur,\n        nom:       data.nom_createur,\n        prenom:    data.prenom_createur,\n        email:     data.email_createur,\n        telephone: data.tel_createur,\n        chat_id:   data.chat_id_createur,\n        langue:    data.langue_createur || 'FRA',\n        bot:       data.bot_createur\n      },\n      salarie: {\n        code:      data.code_salarie,\n        nom:       data.nom_salarie,\n        prenom:    data.prenom_salarie,\n        email:     data.email_salarie,\n        telephone: data.tel_salarie,\n        chat_id:   data.chat_id_createur,\n        langue:    data.langue_createur || 'FRA',\n        bot:       data.bot_createur\n      },\n      superieur: {\n        code:      data.code_superieur,\n        nom:       data.nom_superieur,\n        prenom:    data.prenom_superieur,\n        email:     data.email_superieur,\n        telephone: data.tel_superieur,\n        chat_id:   data.chat_id_superieur,\n        langue:    data.langue_superieur || 'FRA',\n        bot:       data.bot_superieur\n      },\n      pdg: {\n        code:      data.code_pdg,\n        nom:       data.nom_pdg,\n        prenom:    data.prenom_pdg,\n        email:     data.email_pdg,\n        telephone: data.tel_pdg,\n        chat_id:   data.chat_id_pdg,\n        langue:    data.langue_pdg || 'FRA',\n        bot:       data.bot_pdg\n      },\n      dga: {\n        code:      data.code_dga,\n        nom:       data.nom_dga,\n        prenom:    data.prenom_dga,\n        email:     data.email_dga,\n        telephone: data.tel_dga,\n        chat_id:   data.chat_id_dga,\n        langue:    data.langue_dga || 'FRA',\n        bot:       data.bot_dga\n      },\n      farhat: {\n        code:      data.code_farhat,\n        nom:       data.nom_farhat,\n        prenom:    data.prenom_farhat,\n        email:     data.email_farhat,\n        telephone: data.tel_farhat,\n        chat_id:   data.chat_id_farhat,\n        langue:    data.langue_farhat || 'FRA',\n        bot:       data.bot_farhat\n      },\n      baallah: {\n        code:      data.code_baallah,\n        nom:       data.nom_baallah,\n        prenom:    data.prenom_baallah,\n        email:     data.email_baallah,\n        telephone: data.tel_baallah,\n        chat_id:   data.chat_id_baallah,\n        langue:    data.langue_baallah || 'FRA',\n        bot:       data.bot_baallah\n      },\n\n      rapports: []\n    };\n  }\n\n  // ── Données spécifiques au rapport RH ──\n  notifications[cleDestinataire].rapports.push({\n    num_rapport:           data.num_rapport,\n    date_rapport:          data.date_rapport,\n    date_creation:         data.date_creation,\n    date_controle:         data.date_controle,\n    date_limite:           data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants:        data.jours_restants,\n    delai_int:             data.delai_int,\n    type_rapport:          data.type_rapport,\n    cadre_juridique:       data.cadre_juridique,\n    concernes:             data.concernes,\n    nom_prenom_sujet:      data.nom_prenom_sujet,\n    fonction_salarie:      data.fonction_salarie,\n    adresse_salarie:       data.adresse_salarie,\n    matricule_salarie:     data.matricule_salarie,\n    salarie_concerne: {\n      code:      data.code_salarie,\n      matricule: data.matricule_salarie,\n      nom:       data.nom_salarie,\n      prenom:    data.prenom_salarie,\n      email:     data.email_salarie,\n      telephone: data.tel_salarie,\n      fonction:  data.fonction_salarie\n    }\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalRapports = notif.rapports.length;\n  const joursMin      = Math.min(...notif.rapports.map(r => r.jours_restants));\n  const joursMax      = Math.max(...notif.rapports.map(r => r.jours_restants));\n  const delaiTotal    = parseInt(notif.rapports[0]?.delai_int) || 10;\n  const seuilDga      = Math.floor(delaiTotal / 2);\n\n  // ── Comptage par type de rapport ──\n  const typesCount = {};\n  notif.rapports.forEach(r => {\n    const t = r.type_rapport || 'Non défini';\n    typesCount[t] = (typesCount[t] || 0) + 1;\n  });\n\n  // ── CC Email & Telegram ──\n  let emailCC    = [];\n  let telegramCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur?.email)   emailCC.push(notif.superieur.email);\n    if (notif.createur?.email)    emailCC.push(notif.createur.email);\n    if (notif.superieur?.chat_id) telegramCC.push({\n      chat_id: notif.superieur.chat_id, bot: notif.superieur.bot,\n      langue: notif.superieur.langue,\n      nom: `${notif.superieur.prenom} ${notif.superieur.nom}`\n    });\n    if (notif.createur?.chat_id) telegramCC.push({\n      chat_id: notif.createur.chat_id, bot: notif.createur.bot,\n      langue: notif.createur.langue,\n      nom: `${notif.createur.prenom} ${notif.createur.nom}`\n    });\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.createur?.email)   emailCC.push(notif.createur.email);\n    if (notif.createur?.chat_id) telegramCC.push({\n      chat_id: notif.createur.chat_id, bot: notif.createur.bot,\n      langue: notif.createur.langue,\n      nom: `${notif.createur.prenom} ${notif.createur.nom}`\n    });\n  }\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_escalade:        notif.niveau_escalade,\n    email_cc:               emailCC.length   > 0 ? emailCC.join(',') : null,\n    telegram_cc:            telegramCC.length > 0 ? telegramCC        : null,\n    createur:  notif.createur,\n    salarie:   notif.salarie,\n    superieur: notif.superieur,\n    pdg:       notif.pdg,\n    dga:       notif.dga,\n    farhat:    notif.farhat,\n    baallah:   notif.baallah,\n    rapports:  notif.rapports,\n    statistiques: {\n      total_rapports: totalRapports,\n      jours_min:      joursMin,\n      jours_max:      joursMax,\n      priorite:       notif.niveau_escalade,\n      delai_total:    delaiTotal,\n      seuil_dga:      seuilDga,\n      types_count:    typesCount\n    },\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      langue_message:        notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email:    !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\n['PDG','DGA','BAALLAH','FARHAT','SUPERIEUR','SALARIE'].forEach(t => {\n  console.log(`  - ${t}: ${resultats.filter(r => r.type_destinataire === t).length}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,416],"id":"9b74ef79-3992-44a6-8048-073feac6139e","name":"Structuration par Destinataire XRAPRH","notes":"Groupe les rapports RH par destinataire avec comptage par type"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// GÉNÉRATION MESSAGES EMAIL + TELEGRAM — XRAPRH (Rapports RH)\n// Multilingue : FRA / ARA / ENG\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Rapports RH Non Attachés',\n      DGA:      '🟠 INFO DGA - Rapports RH à Mi-Délai',\n      BAALLAH:  '🟣 INFO - Rapports RH à Surveiller',\n      SUPERIEUR:'🟠 IMPORTANT - Rapports RH Non Attachés',\n      SALARIE:  '🟡 Rappel - Vos Rapports RH à Compléter',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Rapports RH à Surveiller'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE — Les rapports RH suivants nécessitent votre attention IMMÉDIATE',\n      DGA:      'Information — Les rapports RH suivants ont atteint la moitié de leur délai sans document attaché',\n      BAALLAH:  'Information — Les rapports RH suivants sont à surveiller de près',\n      SUPERIEUR:'Les rapports RH suivants requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos rapports RH en attente de traitement',\n      FARHAT:   'Information préventive — Les rapports RH suivants approchent de leur délai limite'\n    },\n    section_stats:    'STATISTIQUES',\n    total:            'Total rapports RH',\n    delai_min:        'Délai minimum restant',\n    jours:            'jour(s)',\n    seuil_dga:        'Seuil mi-délai',\n    delai_total:      'Délai total paramétré',\n    types_repartition:'Répartition par type',\n    section_rapports: 'LISTE DES RAPPORTS RH NON ATTACHÉS',\n    numero:           'N° Rapport',\n    date_rapport:     'Date rapport',\n    date_creation:    'Date création',\n    type_rapport:     'Type',\n    salarie_concerne: 'Salarié concerné',\n    matricule:        'Matricule',\n    fonction:         'Fonction',\n    cadre_juridique:  'Cadre juridique',\n    createur_label:       'Créé par',\n    email_createur_label: 'Email créateur',\n    tel_createur_label:   'Tél. créateur',\n    concernes:        'Concernés',\n    sujet:            'Sujet',\n    delai_label:      'Délai restant',\n    restant:          'restant(s)',\n    limite:           'Date limite',\n    action_requise:   'ACTION REQUISE',\n    urgent:           'URGENT — Attacher immédiatement les documents du rapport RH',\n    instruction:      'Veuillez attacher les documents manquants (rapport signé, pièces jointes) dans les meilleurs délais.',\n    instruction_dga:  'Ces rapports ont dépassé la moitié du délai autorisé sans document attaché. Merci de vous assurer que les actions correctives sont engagées.',\n    cordialement:     'Cordialement',\n    signature:        'Service SI/IA — Jbel Annour',\n    message_auto:     'Message automatique',\n    ne_pas_repondre:  'Merci de ne pas répondre à cet email',\n    copie_info:       '📋 CC'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - تقارير الموارد البشرية غير المرفقة',\n      DGA:      '🟠 معلومة المدير العام المساعد - تقارير الموارد البشرية في منتصف المهلة',\n      BAALLAH:  '🟣 معلومة - تقارير الموارد البشرية للمراقبة',\n      SUPERIEUR:'🟠 هام - تقارير الموارد البشرية غير المرفقة',\n      SALARIE:  '🟡 تذكير - تقارير الموارد البشرية للإكمال',\n      FARHAT:   '🔵 معلومة وقائية - تقارير الموارد البشرية للمراقبة'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل — تقارير الموارد البشرية التالية تتطلب اهتمامك الفوري',\n      DGA:      'معلومة — تجاوزت تقارير الموارد البشرية التالية نصف المهلة المحددة دون إرفاق وثائق',\n      BAALLAH:  'معلومة — تقارير الموارد البشرية التالية تستوجب المتابعة الدقيقة',\n      SUPERIEUR:'تقارير الموارد البشرية التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص تقارير الموارد البشرية في انتظار المعالجة',\n      FARHAT:   'معلومة وقائية — تقارير الموارد البشرية التالية تقترب من تاريخ انتهاء مهلتها'\n    },\n    section_stats:    'الإحصائيات',\n    total:            'إجمالي تقارير الموارد البشرية',\n    delai_min:        'الحد الأدنى للمهلة المتبقية',\n    jours:            'يوم/أيام',\n    seuil_dga:        'عتبة منتصف المهلة',\n    delai_total:      'المهلة الإجمالية المحددة',\n    types_repartition:'التوزيع حسب النوع',\n    section_rapports: 'قائمة تقارير الموارد البشرية غير المرفقة',\n    numero:           'رقم التقرير',\n    date_rapport:     'تاريخ التقرير',\n    date_creation:    'تاريخ الإنشاء',\n    type_rapport:     'النوع',\n    salarie_concerne: 'الموظف المعني',\n    matricule:        'رقم التسجيل',\n    fonction:         'الوظيفة',\n    cadre_juridique:  'الإطار القانوني',\n    createur_label:       'أنشأه',\n    email_createur_label: 'بريد المنشئ',\n    tel_createur_label:   'هاتف المنشئ',\n    concernes:        'المعنيون',\n    sujet:            'الموضوع',\n    delai_label:      'المهلة المتبقية',\n    restant:          'المتبقية',\n    limite:           'التاريخ الأقصى',\n    action_requise:   'الإجراء المطلوب',\n    urgent:           'عاجل — إرفاق وثائق التقرير فورا',\n    instruction:      'يرجى إرفاق المستندات الناقصة (التقرير الموقع، المرفقات) في أقرب وقت ممكن.',\n    instruction_dga:  'تجاوزت هذه التقارير نصف المهلة المسموح بها دون إرفاق وثائق. يرجى التأكد من اتخاذ الإجراءات التصحيحية.',\n    cordialement:     'مع أطيب التحيات',\n    signature:        'قسم SI/IA — جبل النور',\n    message_auto:     'رسالة تلقائية',\n    ne_pas_repondre:  'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:       '📋 نسخة للعلم'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Unattached HR Reports',\n      DGA:      '🟠 DGA INFO - HR Reports at Mid-Deadline',\n      BAALLAH:  '🟣 INFO - HR Reports to Monitor',\n      SUPERIEUR:'🟠 IMPORTANT - Unattached HR Reports',\n      SALARIE:  '🟡 Reminder - Your HR Reports to Complete',\n      FARHAT:   '🔵 PREVENTIVE INFO - HR Reports to Monitor'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT — The following HR reports require your IMMEDIATE attention',\n      DGA:      'Information — The following HR reports have exceeded half their deadline without an attached document',\n      BAALLAH:  'Information — The following HR reports require close monitoring',\n      SUPERIEUR:'The following HR reports require your priority attention',\n      SALARIE:  'Reminder about your HR reports pending processing',\n      FARHAT:   'Preventive information — The following HR reports are approaching their deadline'\n    },\n    section_stats:    'STATISTICS',\n    total:            'Total HR reports',\n    delai_min:        'Minimum remaining deadline',\n    jours:            'day(s)',\n    seuil_dga:        'Mid-deadline threshold',\n    delai_total:      'Total configured deadline',\n    types_repartition:'Distribution by type',\n    section_rapports: 'LIST OF UNATTACHED HR REPORTS',\n    numero:           'Report number',\n    date_rapport:     'Report date',\n    date_creation:    'Creation date',\n    type_rapport:     'Type',\n    salarie_concerne: 'Employee concerned',\n    matricule:        'Employee ID',\n    fonction:         'Function',\n    cadre_juridique:  'Legal framework',\n    createur_label:       'Created by',\n    email_createur_label: 'Creator email',\n    tel_createur_label:   'Creator phone',\n    concernes:        'Concerned parties',\n    sujet:            'Subject',\n    delai_label:      'Remaining deadline',\n    restant:          'remaining',\n    limite:           'Deadline',\n    action_requise:   'ACTION REQUIRED',\n    urgent:           'URGENT — Attach HR report documents immediately',\n    instruction:      'Please attach the missing documents (signed report, attachments) as soon as possible.',\n    instruction_dga:  'These reports have exceeded half their allowed deadline without attached documents. Please ensure corrective actions are underway.',\n    cordialement:     'Best regards',\n    signature:        'IT/AI Department — Jbel Annour',\n    message_auto:     'Automatic message',\n    ne_pas_repondre:  'Please do not reply to this email',\n    copie_info:       '📋 COPY'\n  }\n};\n\n// ─────────────────────────────────────────────────────────────\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return '🔴';\n  if (jours === 3) return '🟠';\n  if (jours === 4) return '🟡';\n  if (jours <= 8) return '🔵';\n  return '🟢';\n}\n\n// ─────────────────────────────────────────────────────────────\n// MESSAGE PRINCIPAL\n// ─────────────────────────────────────────────────────────────\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const rapports = data.rapports;\n\n  const sujet = (T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE)\n              + ` - ${stats.total_rapports} rapport(s)`;\n\n  // ── Corps email ──\n  let body = `${T.salutation} ${dest.prenom} ${dest.nom},\\n\\n`;\n  body += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  body += `══════════════════════════════════════════════════════════\\n`;\n  body += `📊 ${T.section_stats}\\n`;\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n  body += `${getEmoji(stats.jours_min)} Niveau d'escalade : ${data.niveau_escalade}\\n`;\n  body += `${T.total} : ${stats.total_rapports}\\n`;\n  body += `${T.delai_min} : ${stats.jours_min} ${T.jours}\\n`;\n  body += `${T.delai_total} : ${stats.delai_total} ${T.jours}\\n`;\n  if (['DGA','BAALLAH'].includes(data.type_destinataire)) {\n    body += `${T.seuil_dga} : ${stats.seuil_dga} ${T.jours}\\n`;\n  }\n\n  // Répartition par type\n  if (stats.types_count && Object.keys(stats.types_count).length > 0) {\n    body += `\\n📂 ${T.types_repartition} :\\n`;\n    Object.entries(stats.types_count).forEach(([type, count]) => {\n      body += `   • ${type} : ${count}\\n`;\n    });\n  }\n\n  body += `\\n══════════════════════════════════════════════════════════\\n`;\n  body += `📋 ${T.section_rapports}\\n`;\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n\n  rapports.forEach((rap, i) => {\n      body += `${i + 1}. ${getEmoji(rap.jours_restants)} ${rap.num_rapport}\\n`;\n      if (rap.type_rapport) body += `   🏷️  ${T.type_rapport} : ${rap.type_rapport}\\n`;\n      body += `   📅 ${T.date_rapport} : ${formaterDate(rap.date_rapport, langue)}\\n`;\n      body += `   🗂️  ${T.date_creation} : ${formaterDateHeure(rap.date_creation, langue)}\\n`;\n      // ✅ Salarié concerné\n      body += `   👤 ${T.salarie_concerne} : ${rap.salarie_concerne.prenom} ${rap.salarie_concerne.nom}`;\n      if (rap.salarie_concerne.matricule) body += ` (${T.matricule}: ${rap.salarie_concerne.matricule})`;\n      body += `\\n`;\n      if (rap.salarie_concerne.fonction) body += `   💼 ${T.fonction} : ${rap.salarie_concerne.fonction}\\n`;\n      if (rap.nom_prenom_sujet)  body += `   📌 ${T.sujet} : ${rap.nom_prenom_sujet}\\n`;\n      if (rap.cadre_juridique)   body += `   ⚖️  ${T.cadre_juridique} : ${rap.cadre_juridique}\\n`;\n      if (rap.concernes)         body += `   👥 ${T.concernes} : ${rap.concernes}\\n`;\n      body += `   ⏰ ${T.delai_label} : ${rap.jours_restants} ${T.jours} ${T.restant} (${T.limite} : ${formaterDate(rap.date_limite, langue)})\\n`;\n      // ✅ Créateur du rapport\n      body += `   ─────────────────────────────────────\\n`;\n      body += `   ✍️  ${T.createur_label} : ${data.createur.prenom || ''} ${data.createur.nom || ''} (${data.createur.code || rap.user_createur || 'N/A'})\\n`;\n      if (data.createur.email)     body += `   ✉️  ${T.email_createur_label} : ${data.createur.email}\\n`;\n      if (data.createur.telephone) body += `   📞 ${T.tel_createur_label} : ${data.createur.telephone}\\n`;\n      if (rap.jours_restants <= 2) body += `   🚨 ${T.urgent}\\n`;\n      body += `\\n`;\n  });\n\n  body += `══════════════════════════════════════════════════════════\\n`;\n  if (stats.jours_min <= 2) {\n    body += `🚨 ${T.action_requise} : ${T.urgent}\\n`;\n  } else if (['DGA','BAALLAH'].includes(data.type_destinataire)) {\n    body += `📌 ${T.instruction_dga}\\n`;\n  } else {\n    body += `📌 ${T.instruction}\\n`;\n  }\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n  body += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  body += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  body += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG') body += `🔴 Notification URGENTE envoyée au PDG\\n`;\n  if (data.type_destinataire === 'DGA') body += `🟠 Notification DGA (seuil mi-délai: ${stats.seuil_dga}j)\\n`;\n  body += `${T.ne_pas_repondre}\\n`;\n\n  // ── Telegram ──\n  let tg = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  tg += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  tg += `👤 *${dest.prenom} ${dest.nom}*\\n\\n`;\n  tg += `📊 *${T.section_stats}*\\n`;\n  tg += `${T.total} : *${stats.total_rapports}*\\n`;\n  tg += `${T.delai_min} : *${stats.jours_min} ${T.jours}*\\n`;\n\n  // Types en Telegram\n  if (stats.types_count && Object.keys(stats.types_count).length > 0) {\n    tg += `\\n📂 ${T.types_repartition} :\\n`;\n    Object.entries(stats.types_count).forEach(([type, count]) => {\n      tg += `   • ${type} : ${count}\\n`;\n    });\n  }\n  tg += `\\n📋 *${T.section_rapports}*\\n\\n`;\n\n  rapports.slice(0, 5).forEach((rap, i) => {\n      tg += `${i + 1}. ${getEmoji(rap.jours_restants)} *${rap.num_rapport}*\\n`;\n      if (rap.type_rapport) tg += `   🏷️ ${rap.type_rapport}\\n`;\n      tg += `   👤 ${rap.salarie_concerne.prenom} ${rap.salarie_concerne.nom}\\n`;\n      if (rap.nom_prenom_sujet) tg += `   📌 ${rap.nom_prenom_sujet}\\n`;\n      tg += `   ⏰ ${rap.jours_restants} ${T.jours} ${T.restant}\\n`;\n      // ✅ Créateur\n      tg += `   ✍️ *${T.createur_label}* : ${data.createur.prenom || ''} ${data.createur.nom || ''}\\n`;\n      if (data.createur.telephone) tg += `   📞 ${data.createur.telephone}\\n`;\n      tg += `\\n`;\n  });\n\n  if (rapports.length > 5) tg += `... et ${rapports.length - 5} autre(s) rapport(s)\\n\\n`;\n  if (stats.jours_min <= 2) tg += `🚨 *${T.urgent}*\\n`;\n\n  return {\n    email:    { subject: sujet, body },\n    telegram: { text: tg, parse_mode: 'Markdown' }\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// MESSAGE CC\n// ─────────────────────────────────────────────────────────────\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const rapports = data.rapports;\n  const destPrincipal = data.destinataire_principal;\n\n  const labels = { PDG: 'le PDG', DGA: 'le DGA', SUPERIEUR: 'votre supérieur(e)', FARHAT: 'le Responsable RH', BAALLAH: 'la Direction' };\n  const label = labels[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n\n  const sujet = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_rapports} rapport(s)`;\n\n  let body = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  body += `Un message d'alerte concernant les rapports RH non attachés a été envoyé à ${label} ${destPrincipal.prenom} ${destPrincipal.nom}.\\n\\n`;\n  body += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade} | ${T.total}: ${stats.total_rapports} | ${T.delai_min}: ${stats.jours_min} ${T.jours}\\n\\n`;\n  body += `══════════════════════════════════════════════════════════\\n`;\n  body += `📋 ${T.section_rapports}\\n`;\n  body += `══════════════════════════════════════════════════════════\\n\\n`;\n\n  rapports.forEach((rap, i) => {\n      body += `${i + 1}. ${getEmoji(rap.jours_restants)} ${rap.num_rapport}\\n`;\n      if (rap.type_rapport) body += `   🏷️  ${T.type_rapport}: ${rap.type_rapport}\\n`;\n      body += `   👤 ${rap.salarie_concerne.prenom} ${rap.salarie_concerne.nom}\\n`;\n      if (rap.nom_prenom_sujet) body += `   📌 ${T.sujet}: ${rap.nom_prenom_sujet}\\n`;\n      body += `   ⏰ ${rap.jours_restants} ${T.jours} ${T.restant} (${T.limite}: ${formaterDate(rap.date_limite, langue)})\\n`;\n      // ✅ Créateur\n      body += `   ✍️  ${T.createur_label} : ${data.createur.prenom || ''} ${data.createur.nom || ''} (${data.createur.code || 'N/A'})\\n`;\n      if (data.createur.email)     body += `   ✉️  ${T.email_createur_label} : ${data.createur.email}\\n`;\n      if (data.createur.telephone) body += `   📞 ${T.tel_createur_label} : ${data.createur.telephone}\\n`;\n      body += `\\n`;\n  });\n\n  body += `Veuillez prendre les mesures nécessaires pour traiter ces rapports dans les délais impartis.\\n\\n`;\n  body += `${T.cordialement},\\n\\n${T.signature}\\n`;\n  body += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  body += `🤖 ${T.message_auto} | ${T.copie_info} | ${T.ne_pas_repondre}\\n`;\n\n  let tg = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  tg += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  tg += `Un message a été envoyé à *${destPrincipal.prenom} ${destPrincipal.nom}* (${label}).\\n\\n`;\n  tg += `📊 ${T.total}: *${stats.total_rapports}* | ⏰ *${stats.jours_min} ${T.jours}*\\n\\n`;\n\n  rapports.slice(0, 3).forEach((rap, i) => {\n      tg += `${i + 1}. ${getEmoji(rap.jours_restants)} *${rap.num_rapport}*\\n`;\n      if (rap.type_rapport) tg += `   🏷️ ${rap.type_rapport}\\n`;\n      tg += `   👤 ${rap.salarie_concerne.prenom} ${rap.salarie_concerne.nom}\\n`;\n      tg += `   ⏰ ${rap.jours_restants} ${T.jours} ${T.restant}\\n`;\n      // ✅ Créateur\n      tg += `   ✍️ *${T.createur_label}* : ${data.createur.prenom || ''} ${data.createur.nom || ''}\\n`;\n      tg += `\\n`;\n  });\n\n  return {\n    email:    { subject: sujet, body },\n    telegram: { text: tg, parse_mode: 'Markdown' }\n  };\n}\n\n// ─────────────────────────────────────────────────────────────\n// DISPATCH\n// ─────────────────────────────────────────────────────────────\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messages = genererMessagePrincipal(data);\n\n  // Message principal\n  results.push({\n    json: {\n      ...data,\n      messages,\n      type_envoi:         'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC SUPERIEUR → copie au créateur\n  if (data.type_destinataire === 'SUPERIEUR' && data.createur?.chat_id) {\n    const messagesCC = genererMessageCC(data, data.createur, 'SUPERIEUR');\n    results.push({ json: {\n      ...data, messages: messagesCC, type_envoi: 'CC',\n      destinataire_final: data.createur, cc_pour_profil: 'CREATEUR',\n      meta: { ...data.meta, langue_message: data.createur.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC PDG → copie supérieur + créateur\n  if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      const msgCCSup = genererMessageCC(data, data.superieur, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSup, type_envoi: 'CC',\n        destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_message: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.createur?.chat_id) {\n      const msgCCSal = genererMessageCC(data, data.createur, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSal, type_envoi: 'CC',\n        destinataire_final: data.createur, cc_pour_profil: 'CREATEUR',\n        meta: { ...data.meta, langue_message: data.createur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n});\n\nconsole.log(`\\n📧 Messages générés: ${results.length}`);\nconsole.log(`  - Principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - CC:         ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,416],"id":"bfd5c071-ab20-490d-ab72-148f7a115d87","name":"Génération Messages Multilingues XRAPRH","notes":"Email + Telegram en FRA/ARA/ENG — affiche type rapport, cadre juridique, concernés"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filter-email-test-xraprh","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,224],"id":"04b31e5d-2a37-4e16-ab8d-4125a111bfc7","name":"Filtre Email Test"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,320],"id":"f03d4ade-80b5-428e-b12f-ed688c204d46","name":"No Operation Email Test"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-email-xraprh","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,128],"id":"06298a2b-2837-47de-b9cd-b897d1e0a54e","name":"Filtre Email PDG"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,224],"id":"60dc713c-e9aa-4faf-baf0-4a4cb7ce8a06","name":"No Operation PDG Email"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[240,32],"id":"4cedaa3a-12c0-4013-ad3a-41fd81ce07a3","name":"Envoi Email XRAPRH","webhookId":"375663bd-a7ae-426b-9d28-7995cbb8363f","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon niveau d'escalade"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"chat-id-existe-xraprh","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"chat-id-not-empty-xraprh","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":" ","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,608],"id":"c93542ca-509a-4f08-aae8-fd0b26111657","name":"Si Chat ID Existe"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,704],"id":"f01b1a55-c8c1-4f4d-9d03-847ae68afad5","name":"No Operation Pas de Chat ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-chatid-xraprh","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,512],"id":"e5e43313-dfdf-412b-8cee-65136639643f","name":"Filtre Chat ID PDG"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,608],"id":"ba33b4cb-9a6a-40fa-a1da-7915c3e60c53","name":"No Operation PDG Chat"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,416],"id":"2a0de610-c1bf-4bea-9f9d-3befabcfd5c6","name":"Envoi Telegram XRAPRH","webhookId":"4d55217c-3178-4597-83ef-c79323cefda7","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi Telegram au destinataire final"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[464,224],"id":"da6de936-7776-453c-a876-0092f0d20a32","name":"Fin Workflow XRAPRH","notes":"Toutes les notifications rapports RH envoyées"}],"connections":{"Schedule Trigger XRAPRH":{"main":[[{"node":"SQL - Rapports RH XRAPRH","type":"main","index":0}]]},"SQL - Rapports RH XRAPRH":{"main":[[{"node":"Vérifier Données Présentes","type":"main","index":0}]]},"Vérifier Données Présentes":{"main":[[{"node":"Structuration par Destinataire XRAPRH","type":"main","index":0}],[{"node":"Fin - Aucun Rapport à Traiter","type":"main","index":0}]]},"Structuration par Destinataire XRAPRH":{"main":[[{"node":"Génération Messages Multilingues XRAPRH","type":"main","index":0}]]},"Génération Messages Multilingues XRAPRH":{"main":[[{"node":"Filtre Email Test","type":"main","index":0},{"node":"Si Chat ID Existe","type":"main","index":0}]]},"Filtre Email Test":{"main":[[{"node":"Filtre Email PDG","type":"main","index":0}],[{"node":"No Operation Email Test","type":"main","index":0}]]},"Filtre Email PDG":{"main":[[{"node":"Envoi Email XRAPRH","type":"main","index":0}],[{"node":"No Operation PDG Email","type":"main","index":0}]]},"Envoi Email XRAPRH":{"main":[[{"node":"Fin Workflow XRAPRH","type":"main","index":0}]]},"Si Chat ID Existe":{"main":[[{"node":"Filtre Chat ID PDG","type":"main","index":0}],[{"node":"No Operation Pas de Chat ID","type":"main","index":0}]]},"Filtre Chat ID PDG":{"main":[[{"node":"Envoi Telegram XRAPRH","type":"main","index":0}],[{"node":"No Operation PDG Chat","type":"main","index":0}]]},"Envoi Telegram XRAPRH":{"main":[[{"node":"Fin Workflow XRAPRH","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger XRAPRH":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"27729c3f-8a8e-4c69-9474-0c4b2fc931bd","triggerCount":1,"tags":[]}