receiption emails-3kZKVCtliP9TYtFD.json
{"createdAt":"2025-12-30T12:47:54.771Z","updatedAt":"2025-12-31T15:25:41.000Z","id":"3kZKVCtliP9TYtFD","name":"Receiption Emails","active":false,"isArchived":false,"nodes":[{"parameters":{"downloadAttachments":true,"options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-3248,1056],"id":"ebfcadc8-dfbe-4dc5-9c74-a15b357992d0","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"JrK5PbaFoBwZj78D","name":"AI EMAIL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{$json.subject}}","operation":"contains","value2":"BC"}]}},"name":"Contient BC ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-2992,1056],"id":"235805cc-d375-4670-9be0-a078838fffdd"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extraire BC et analyser pièces jointes\nconst subject = $input.item.json.subject || '';\nconst body = $input.item.json.text || $input.item.json.html || '';\nconst from = $input.item.json.from?.address || '';\n\n// Regex BC\nconst bcRegex = /BC\\d{6}/gi;\nlet bcMatch = subject.match(bcRegex);\nif (!bcMatch) {\n  bcMatch = body.match(bcRegex);\n}\n\nconst numero_bc = bcMatch ? bcMatch[0] : null;\n\n// Analyser pièces jointes depuis binary (objet, pas array)\nconst binaryData = $input.item.binary || {};\nconst attachmentKeys = Object.keys(binaryData);\n\n// Construire array d'attachments\nconst attachments = attachmentKeys.map(key => {\n  const att = binaryData[key];\n  return {\n    key: key,\n    filename: att.fileName || key,\n    mimeType: att.mimeType || '',\n    fileExtension: att.fileExtension || '',\n    data: key\n  };\n});\n\n// Filtrer les PDFs\nconst pdfAttachments = attachments.filter(att => \n  att.mimeType?.includes('pdf') || \n  att.filename?.toLowerCase().endsWith('.pdf') ||\n  att.fileExtension?.toLowerCase() === 'pdf'\n);\n\n// IMPORTANT : Retourner avec le binary préservé\nreturn {\n  json: {\n    numero_bc: numero_bc,\n    email_from: from,\n    email_subject: subject,\n    email_body: body.substring(0, 1000),\n    email_date: $input.item.json.date,\n    has_pdf: pdfAttachments.length > 0,\n    pdf_count: pdfAttachments.length,\n    pdf_attachments: pdfAttachments,\n    all_attachments: attachments\n  },\n  binary: binaryData  // ← AJOUT : Passer le binary\n};"},"name":"Extract BC + PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2736,1040],"id":"d42f7989-a75e-496f-ba7c-0b4bac466fbf"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.numero_bc}}","operation":"isNotEmpty"}]}},"name":"BC Trouvé ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-2512,1040],"id":"5dcfde4d-00ec-4f0e-85d0-177d6e175cc2"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  bc.id as bc_id,\n  bc.numero_bc,\n  bc.numero_br,\n  bc.code_fournisseur,\n  bc.montant_ttc,    \n  bc.montant_restant,\n  bc.statut_paiement,\n  f.nom_fournisseur,\n  f.email as email_fournisseur\n  FROM bons_commande bc\n  INNER JOIN fournisseurs f ON bc.code_fournisseur = f.code_fournisseur\n  WHERE bc.numero_bc = '{{$json.numero_bc}}'\n  LIMIT 1","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-2224,1024],"id":"e018d19c-b852-4307-9c2c-7dc5c5c13564","name":"Get BC Info1","credentials":{"mySql":{"id":"HY0cAb2ucxAhaHHY","name":"suivi_factures_fournisseurs"}}},{"parameters":{"conditions":{"number":[{"value1":"={{$json.bc_id}}","operation":"largerEqual","value2":1}]}},"name":"BC Existe ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1952,1024],"id":"b29b2da4-2c8b-41b0-84ba-e1b8a992c50c"},{"parameters":{"assignments":{"assignments":[{"id":"bc_id","name":"bc_id","value":"={{$json.bc_id}}","type":"number"},{"id":"numero_bc","name":"numero_bc","value":"={{$json.numero_bc}}","type":"string"},{"id":"montant_ttc","name":"montant_ttc","value":"={{$json.montant_ttc}}","type":"number"},{"id":"montant_restant","name":"montant_restant","value":"={{$json.montant_restant}}","type":"number"},{"id":"email_from","name":"email_from","value":"={{$node[\"Extract BC + PDFs\"].json.email_from}}","type":"string"},{"id":"has_pdf","name":"has_pdf","value":"={{$node[\"Extract BC + PDFs\"].json.has_pdf}}","type":"boolean"},{"id":"pdf_attachments","name":"pdf_attachments","value":"={{$node[\"Extract BC + PDFs\"].json.pdf_attachments}}","type":"array"}]},"options":{}},"name":"Merge Data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1696,1008],"id":"983ff0f2-3918-4d4b-b40c-535b2edb79ea"},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.has_pdf}}","value2":true}]}},"name":"A PDF ?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1424,1008],"id":"aa6b1ee9-2fbd-4908-a260-cd1cdc108901"},{"parameters":{"operation":"pdf","options":{}},"name":"Extract Text from PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-864,992],"id":"70037ffb-74ed-4ac9-b2e4-44068ac0bd17"},{"parameters":{"jsCode":"// Analyser le texte extrait du PDF\nconst text = $input.item.json.text || '';\nconst textLower = text.toLowerCase();\n\n// Détecter si c'est une facture\nconst isFacture = \n  textLower.includes('facture') ||\n  textLower.includes('invoice') ||\n  textLower.includes('fact') ||\n  textLower.includes('n°') && textLower.includes('date');\n\n// Extraire numéro de facture\nconst numeroFactureRegex = /(facture|invoice|fact)[\\s:n°#-]*(\\d+[\\/-]?\\d*)/gi;\nconst numeroMatch = text.match(numeroFactureRegex);\nconst numero_facture = numeroMatch ? numeroMatch[0].replace(/[^0-9\\/\\-]/g, '') : null;\n\n// Extraire date (formats: DD/MM/YYYY, DD-MM-YYYY, YYYY-MM-DD)\nconst dateRegex = /(\\d{2}[\\/\\-]\\d{2}[\\/\\-]\\d{4})|(\\d{4}[\\/\\-]\\d{2}[\\/\\-]\\d{2})/g;\nconst dateMatches = text.match(dateRegex);\nconst date_facture = dateMatches ? dateMatches[0] : null;\n\n// Extraire montants (formats: 1234.56, 1 234,56, 1234,56)\nconst montantRegex = /(\\d{1,3}(?:[\\s,]\\d{3})*(?:[.,]\\d{2})?)(?=\\s*(DH|MAD|EUR|€|dh))/g;\nconst montantMatches = text.match(montantRegex);\n\n// Prendre le dernier montant (souvent le total TTC)\nlet montant_ttc = null;\nif (montantMatches && montantMatches.length > 0) {\n  const lastMontant = montantMatches[montantMatches.length - 1];\n  // Normaliser: remplacer espaces et virgules par point\n  montant_ttc = parseFloat(lastMontant.replace(/[\\s]/g, '').replace(',', '.'));\n}\n\n// Extraire TVA si présente\nconst tvaRegex = /tva[\\s:]*([\\d.,]+)\\s*%?/gi;\nconst tvaMatch = text.match(tvaRegex);\nconst taux_tva = tvaMatch ? parseFloat(tvaMatch[0].replace(/[^0-9.,]/g, '').replace(',', '.')) : 20.0;\n\n// Score de confiance\nlet confidence_score = 0;\nif (isFacture) confidence_score += 30;\nif (numero_facture) confidence_score += 25;\nif (date_facture) confidence_score += 25;\nif (montant_ttc) confidence_score += 20;\n\nreturn {\n  is_facture: isFacture,\n  numero_facture: numero_facture,\n  date_facture: date_facture,\n  montant_ttc: montant_ttc,\n  taux_tva: taux_tva,\n  confidence_score: confidence_score,\n  texte_extrait: text.substring(0, 2000), // Limiter à 2000 caractères\n  bc_id: $node[\"Merge Data\"].json.bc_id,\n  numero_bc: $node[\"Merge Data\"].json.numero_bc,\n  montant_bc: $node[\"Merge Data\"].json.montant_ttc\n};"},"name":"Analyze PDF Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,992],"id":"c1fdf711-4ea7-4391-bb85-184298d7cf33"},{"parameters":{"jsCode":"const extractNode = $('Extract BC + PDFs').all();\nconst binaryData = extractNode[0].binary || {};\n\n// Récupérer les infos PDF\nconst pdfAttachments = $json.pdf_attachments || [];\n\n// Créer un item par PDF avec le binary\nconst items = []; \n\nfor(const pdf of pdfAttachments) { \n      const pdfKey = pdf.key; \n          const pdfBinary = binaryData[pdfKey];  \n\n          if (pdfBinary) { \n            items.push({ \n              json: { \n                bc_id: $json.bc_id, \n                numero_bc: $json.numero_bc, \n                montant_ttc: $json.montant_ttc, \n                montant_restant: $json.montant_restant, \n                email_from: $json.email_from, \n                pdf_filename: pdfBinary.fileName || pdf.filename, \n                pdf_size: pdfBinary.fileSize || 0, \n                pdf_key: pdfKey\n              }, \n              binary: { \n                data: pdfBinary\n              }\n            }); \n          } \n        } \n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,992],"id":"f992c13f-00ec-45aa-b8f8-451fbea70cc9","name":"Code"},{"parameters":{"promptType":"define","text":"=Analyse cette facture et extrais les informations suivantes au format JSON:\n\n```\n{{$json.texte_extrait}}\n```\n\nRéponds UNIQUEMENT avec un objet JSON contenant:\n- numero_facture: string (le numéro de facture)\n- date_facture: string (format YYYY-MM-DD)\n- montant_ht: number (montant HT en DH)\n- montant_tva: number (montant TVA en DH)\n- montant_ttc: number (montant TTC en DH)\n- taux_tva: number (taux TVA en %)\n- fournisseur: string (nom du fournisseur)\n- est_facture: boolean (true si c'est bien une facture)\n- est_partielle: boolean (true si facture partielle, détecte mots: acompte, partiel, solde)\n\nMontant BC attendu: {{$json.montant_bc}} DH\n\nRéponds UNIQUEMENT en JSON, sans texte avant ou après.\",","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-336,992],"id":"897e2702-0bf3-4861-b7db-b77a6978401b","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-368,1232],"id":"7ce6fd8f-8ec9-4dc0-9d9c-fc673cea4674","name":"Groq Chat Model","credentials":{"groqApi":{"id":"WpX5HqUBrcIxe7zp","name":"Groq account 5"}}},{"parameters":{"jsCode":"// Merger résultats AI avec extraction basique\nconst basicExtraction = $node[\"Analyze PDF Content\"].json;\n\nlet aiData = {};\ntry {\n  // Parser réponse AI (enlever markdown si présent)\n  let aiText = $input.item.json.response || '{}';\n  aiText = aiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  aiData = JSON.parse(aiText);\n} catch (e) {\n  console.log('AI parsing failed, using basic extraction');\n  aiData = {};\n}\n\n// Utiliser AI si disponible, sinon extraction basique\nreturn {\n  bc_id: basicExtraction.bc_id,\n  numero_bc: basicExtraction.numero_bc,\n  numero_facture: aiData.numero_facture || basicExtraction.numero_facture,\n  date_facture: aiData.date_facture || basicExtraction.date_facture,\n  montant_ht: aiData.montant_ht || null,\n  montant_tva: aiData.montant_tva || null,\n  montant_ttc: aiData.montant_ttc || basicExtraction.montant_ttc,\n  taux_tva: aiData.taux_tva || basicExtraction.taux_tva,\n  est_partielle: aiData.est_partielle || false,\n  est_facture: aiData.est_facture !== false, // Default true si AI confirme ou pas de réponse\n  confidence_score: aiData.est_facture ? 95 : basicExtraction.confidence_score,\n  texte_extrait: basicExtraction.texte_extrait,\n  pdf_filename: basicExtraction.pdf_filename,\n  pdf_size: basicExtraction.pdf_size,\n  methode: aiData.est_facture ? 'AI' : 'Regex',\n  email_from: $node[\"Merge Data\"].json.email_from\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,992],"id":"7db936d1-4497-44c1-aa52-1f599ee798fc","name":"Merge AI + Basic"},{"parameters":{"operation":"executeQuery","query":"-- Enregistrer facture\nINSERT INTO factures_recues (\n    bc_id,\n    email_received_date,\n    email_subject,\n    email_from,\n    fichier_pdf_nom,\n    fichier_pdf_size,\n    numero_facture,\n    date_facture,\n    montant_ht,\n    montant_tva,\n    montant_ttc,\n    est_partielle,\n    statut_extraction,\n    statut_verification,\n    texte_extrait\n)\nVALUES (\n    {{$json.bc_id}},\n    NOW(),\n    '{{$node[\\\"Extract BC + PDFs\\\"].json.email_subject}}',\n    '{{$json.email_from}}',\n    '{{$json.pdf_filename}}',\n    {{$json.pdf_size || 0}},\n    '{{$json.numero_facture}}',\n    {{$json.date_facture ? \\\"'\\\" + $json.date_facture + \\\"'\\\" : \\\"NULL\\\"}},\n    {{$json.montant_ht || \\\"NULL\\\"}},\n    {{$json.montant_tva || \\\"NULL\\\"}},\n    {{$json.montant_ttc || \\\"NULL\\\"}},\n    {{$json.est_partielle ? 1 : 0}},\n    '{{$json.confidence_score >= 80 ? \\\"valide\\\" : \\\"a_verifier\\\"}}',\n    'non_verifie',\n    '{{$json.texte_extrait}}'\n);\n\nSELECT LAST_INSERT_ID() AS facture_id;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[256,992],"id":"0380b690-28a1-4ffe-a12a-973ebae5c1e8","name":"Execute a SQL query","credentials":{"mySql":{"id":"HY0cAb2ucxAhaHHY","name":"suivi_factures_fournisseurs"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Contient BC ?","type":"main","index":0}]]},"Contient BC ?":{"main":[[{"node":"Extract BC + PDFs","type":"main","index":0}]]},"Extract BC + PDFs":{"main":[[{"node":"BC Trouvé ?","type":"main","index":0}]]},"BC Trouvé ?":{"main":[[{"node":"Get BC Info1","type":"main","index":0}]]},"Get BC Info1":{"main":[[{"node":"BC Existe ?","type":"main","index":0}]]},"BC Existe ?":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Merge Data":{"main":[[{"node":"A PDF ?","type":"main","index":0}]]},"Extract Text from PDF":{"main":[[{"node":"Analyze PDF Content","type":"main","index":0}]]},"A PDF ?":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Extract Text from PDF","type":"main","index":0}]]},"Analyze PDF Content":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Merge AI + Basic","type":"main","index":0}]]},"Merge AI + Basic":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"db7547f2-af2f-4828-aa3e-a8ab66c64466","triggerCount":0,"tags":[{"createdAt":"2025-12-19T08:42:11.867Z","updatedAt":"2025-12-19T08:42:11.867Z","id":"ijWRuA43jKqKJr5f","name":"prod"},{"createdAt":"2025-12-31T13:39:18.887Z","updatedAt":"2025-12-31T13:39:18.887Z","id":"tnJanJhi4cKRPZXq","name":"newrs"}]}