salarie non attachee-b9cdwKpggbTFQ2Qr.json
{"createdAt":"2026-05-02T00:23:21.126Z","updatedAt":"2026-05-13T02:23:14.000Z","id":"b9cdwKpggbTFQ2Qr","name":"Salarie non attachee","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2064,1280],"id":"4d6aca73-cf7a-4d9f-999b-aaf71debd3a4","name":"Schedule Trigger XSAL"},{"parameters":{"operation":"executeQuery","query":"WITH base AS (\n    SELECT \n        -- SalariГ©\n        XSAL.XSAL_0        AS code_salarie,\n        XSAL.XMAT_0        AS matricule,\n        XSAL.XNAMSAL_0     AS nom,\n        XSAL.XPRENOM_0     AS prenom,\n        XSAL.XEMAIL_0      AS email,\n        XSAL.YTELE_0       AS telephone,\n        XSAL.YSUP_0        AS code_superieur,\n        XSAL.CREDATTIM_0   AS date_creation,\n        XSAL.YDATCON_0     AS date_controle,\n        XSAL.CREUSR_0      AS user_createur,\n\n        -- CatГ©gorie (libellГ© FRA)\n        CAT.LANMES_0       AS categorie,\n\n        -- Poste / Service\n        ZPOSTE.YTIT_0      AS poste,\n        ZSERVICES.YTIT_0   AS service,\n\n        -- CrГ©ateur rГ©solu : code X3 direct OU via YSALAUS\n        COALESCE(\n            CASE WHEN XSAL.CREUSR_0 LIKE 'S%' THEN XSAL.CREUSR_0 ELSE NULL END,\n            YSALAUS.XSAL_0\n        ) AS code_createur,\n\n        -- Nom crГ©ateur\n        COALESCE(CRE_DIRECT.XNAMSAL_0, CRE_LOGIN.XNAMSAL_0)   AS nom_createur,\n        COALESCE(CRE_DIRECT.XPRENOM_0, CRE_LOGIN.XPRENOM_0)   AS prenom_createur,\n        COALESCE(CRE_DIRECT.XEMAIL_0,  CRE_LOGIN.XEMAIL_0)    AS email_createur,\n        COALESCE(CRE_DIRECT.YTELE_0,   CRE_LOGIN.YTELE_0)     AS tel_createur,\n        COALESCE(CRE_DIRECT.YSUP_0,    CRE_LOGIN.YSUP_0)      AS sup_createur,\n\n        -- SupГ©rieur du crГ©ateur\n        COALESCE(SUP_DIRECT.XSAL_0,    SUP_LOGIN.XSAL_0)      AS code_sup_createur,\n        COALESCE(SUP_DIRECT.XNAMSAL_0, SUP_LOGIN.XNAMSAL_0)   AS nom_sup_createur,\n        COALESCE(SUP_DIRECT.XPRENOM_0, SUP_LOGIN.XPRENOM_0)   AS prenom_sup_createur,\n        COALESCE(SUP_DIRECT.XEMAIL_0,  SUP_LOGIN.XEMAIL_0)    AS email_sup_createur,\n        COALESCE(SUP_DIRECT.YTELE_0,   SUP_LOGIN.YTELE_0)     AS tel_sup_createur,\n\n        -- PDG\n        pdg.XSAL_0         AS code_pdg,\n        pdg.XNAMSAL_0      AS nom_pdg,\n        pdg.XPRENOM_0      AS prenom_pdg,\n        pdg.XEMAIL_0       AS email_pdg,\n        pdg.YTELE_0        AS telephone_pdg,\n\n        -- DGA\n        dga.XSAL_0         AS code_dga,\n        dga.XNAMSAL_0      AS nom_dga,\n        dga.XPRENOM_0      AS prenom_dga,\n        dga.XEMAIL_0       AS email_dga,\n        dga.YTELE_0        AS telephone_dga,\n\n        -- FARHAT\n        farhat.XSAL_0      AS code_farhat,\n        farhat.XNAMSAL_0   AS nom_farhat,\n        farhat.XPRENOM_0   AS prenom_farhat,\n        farhat.XEMAIL_0    AS email_farhat,\n        farhat.YTELE_0     AS telephone_farhat,\n\n        -- BAALLAH\n        baallah.XSAL_0     AS code_baallah,\n        baallah.XNAMSAL_0  AS nom_baallah,\n        baallah.XPRENOM_0  AS prenom_baallah,\n        baallah.XEMAIL_0   AS email_baallah,\n        baallah.YTELE_0    AS telephone_baallah,\n\n        -- IA : salariГ©\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = XSAL.XSAL_0) AS bot_salarie,\n    -- IA : crГ©ateur\n  (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf \n      WHERE inf.XSAL_0 = COALESCE(CRE_DIRECT.XSAL_0, CRE_LOGIN.XSAL_0))  AS chat_id_createur,\n  (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf \n      WHERE inf.XSAL_0 = COALESCE(CRE_DIRECT.XSAL_0, CRE_LOGIN.XSAL_0))  AS langue_createur,\n  (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf \n      WHERE inf.XSAL_0 = COALESCE(CRE_DIRECT.XSAL_0, CRE_LOGIN.XSAL_0))  AS bot_createur,\n\n        -- IA : supГ©rieur du crГ©ateur\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf \n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0))  AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf \n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0))  AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf \n            WHERE inf.XSAL_0 = COALESCE(SUP_DIRECT.XSAL_0, SUP_LOGIN.XSAL_0))  AS bot_superieur,\n\n        -- IA : PDG (chat_id fixe)\n        '8528101210' AS chat_id_pdg,\n        (SELECT inf.LAN_0  FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n        -- IA : DGA\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0)     AS bot_dga,\n\n        -- IA : FARHAT\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0)  AS bot_farhat,\n\n        -- IA : BAALLAH\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        -- DГ©lais et calculs\n        CAST(P.VALEUR_0 AS INT) AS delai_int,\n        CASE \n            WHEN XSAL.YDATCON_0 != '1753-01-01' THEN XSAL.YDATCON_0\n            ELSE DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XSAL.CREDATTIM_0)\n        END AS date_limite,\n        DATEDIFF(DAY, XSAL.CREDATTIM_0, GETDATE()) AS jours_depuis_creation,\n        CASE \n            WHEN XSAL.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, GETDATE(), XSAL.YDATCON_0)\n            ELSE \n                DATEDIFF(DAY, GETDATE(), DATEADD(DAY, CAST(P.VALEUR_0 AS INT), XSAL.CREDATTIM_0))\n        END AS jours_restants,\n        CASE \n            WHEN XSAL.YDATCON_0 != '1753-01-01'\n                THEN DATEDIFF(DAY, XSAL.CREDATTIM_0, XSAL.YDATCON_0) / 2\n            ELSE \n                CAST(P.VALEUR_0 AS INT) / 2\n        END AS seuil_dga\n\n    FROM jbelrh.JBELRH.XSAL XSAL\n\n    LEFT JOIN jbelrh.JBELRH.APLSTD CAT\n        ON XSAL.XCAT_0 = CAT.LANNUM_0 \n        AND CAT.LANCHP_0 = 14003 \n        AND CAT.LAN_0 = 'FRA'\n\n    LEFT JOIN jbelrh.JBELRH.ZPOSTE    ZPOSTE    ON XSAL.ZPOSTE_0 = ZPOSTE.YNUM_0\n    LEFT JOIN jbelrh.JBELRH.ZSERVICES ZSERVICES ON ZPOSTE.YSRV_0 = ZSERVICES.YNUM_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE_DIRECT\n        ON XSAL.CREUSR_0 LIKE 'S%'\n        AND CRE_DIRECT.XSAL_0 = XSAL.CREUSR_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP_DIRECT\n        ON CRE_DIRECT.XSAL_0 IS NOT NULL\n        AND SUP_DIRECT.XSAL_0 = CRE_DIRECT.YSUP_0\n\n    LEFT JOIN jbelrh.JBELRH.YSALAUS YSALAUS\n        ON XSAL.CREUSR_0 NOT LIKE 'S%'\n        AND YSALAUS.USER_0 = XSAL.CREUSR_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL CRE_LOGIN\n        ON YSALAUS.XSAL_0 IS NOT NULL\n        AND CRE_LOGIN.XSAL_0 = YSALAUS.XSAL_0\n\n    LEFT JOIN jbelrh.JBELRH.XSAL SUP_LOGIN\n        ON CRE_LOGIN.XSAL_0 IS NOT NULL\n        AND SUP_LOGIN.XSAL_0 = CRE_LOGIN.YSUP_0\n\n    CROSS APPLY (SELECT TOP 1 VALEUR_0 FROM jbelrh.JBELRH.ADOVAL WHERE PARAM_0 = 'YDELSAL') P\n\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066') pdg\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949') dga\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602') farhat\n    CROSS APPLY (SELECT TOP 1 XSAL_0,XNAMSAL_0,XPRENOM_0,XEMAIL_0,YTELE_0 FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179') baallah\n\n    WHERE \n        XSAL.XCAT_0 <> 4\n        AND CAST(XSAL.CREDATTIM_0 AS DATE) >= '2024-01-01'\n        AND NOT EXISTS (\n            SELECT 1 FROM jbelrh.JBELRH.AOBJTXT A\n            WHERE XSAL.XSAL_0 = A.IDENT1_0 AND A.ABREV_0 = 'XSAL'\n        )\n)\n\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT'    FROM base WHERE jours_restants <= 8  AND jours_restants > 4\nUNION ALL\nSELECT *, 'BAALLAH'   FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'DGA'       FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'PDG'       FROM base WHERE jours_restants <= 2\nORDER BY jours_restants ASC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-1840,1280],"id":"fd6e6cd4-7e98-4277-9bb7-ca664c384b51","name":"Microsoft SQL - SalariГ©s Non AttachГ©s","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data-xsal","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,1280],"id":"173b4042-b7f4-41a0-bf63-dffff59b6724","name":"VГ©rifier DonnГ©es PrГ©sentes XSAL","notes":"Stoppe le workflow si aucun salariГ© non attachГ©"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1392,1376],"id":"93a471b0-d076-4711-a3b4-b7c98719ac67","name":"Fin - Aucune DonnГ©e XSAL","notes":"Aucun salariГ© non attachГ© Г  traiter aujourd'hui"},{"parameters":{"jsCode":"// в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n// STRUCTURATION DES DONNГ‰ES PAR DESTINATAIRE ET NIVEAU D'ESCALADE\n// SALARIГ‰S NON ATTACHГ‰S (XSAL)\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nconst items = $input.all();\n\nconsole.log('\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log('рџ“Љ STRUCTURATION DES NOTIFICATIONS - SALARIГ‰S NON ATTACHГ‰S');\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log(`Items reГ§us: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  if (data.niveau_escalade === 'PDG') {\n    destinatairePrincipal = {\n      code: data.code_pdg,\n      nom: data.nom_pdg,\n      prenom: data.prenom_pdg,\n      email: data.email_pdg,\n      telephone: data.telephone_pdg,\n      chat_id: data.chat_id_pdg,\n      langue: data.langue_pdg,\n      bot: data.bot_pdg\n    };\n    codeDestinataire = data.code_pdg;\n    typeDestinataire = 'PDG';\n\n  } else if (data.niveau_escalade === 'DGA') {\n    destinatairePrincipal = {\n      code: data.code_dga,\n      nom: data.nom_dga,\n      prenom: data.prenom_dga,\n      email: data.email_dga || null,\n      telephone: data.telephone_dga || null,\n      chat_id: null,\n      langue: data.langue_dga || 'FRA',\n      bot: null\n    };\n    codeDestinataire = data.code_dga;\n    typeDestinataire = 'DGA';\n\n  } else if (data.niveau_escalade === 'SUPERIEUR') {\n    destinatairePrincipal = {\n      code: data.code_sup_createur,\n      nom: data.nom_sup_createur,\n      prenom: data.prenom_sup_createur,\n      email: data.email_sup_createur,\n      telephone: data.tel_sup_createur,\n      chat_id: data.chat_id_superieur,\n      langue: data.langue_superieur,\n      bot: data.bot_superieur\n    };\n    codeDestinataire = data.code_sup_createur;\n    typeDestinataire = 'SUPERIEUR';\n\n  // APRГ€S\n  } else if (data.niveau_escalade === 'SALARIE') {\n      destinatairePrincipal = {\n        code: data.code_createur,\n        nom: data.nom_createur,\n        prenom: data.prenom_createur,\n        email: data.email_createur,\n        telephone: data.tel_createur,\n        chat_id: data.chat_id_createur,\n        langue:  data.langue_createur || 'FRA',\n        bot:     data.bot_createur\n      };\n      codeDestinataire = data.code_createur;\n      typeDestinataire = 'SALARIE';\n\n  } else if (data.niveau_escalade === 'FARHAT') {\n    destinatairePrincipal = {\n      code: data.code_farhat,\n      nom: data.nom_farhat,\n      prenom: data.prenom_farhat,\n      email: data.email_farhat || null,\n      telephone: data.telephone_farhat || null,\n      chat_id: data.chat_id_farhat || null,\n      langue: data.langue_farhat || 'FRA',\n      bot: data.bot_farhat || null\n    };\n    codeDestinataire = data.code_farhat;\n    typeDestinataire = 'FARHAT';\n\n  } else if (data.niveau_escalade === 'BAALLAH') {\n    destinatairePrincipal = {\n      code: data.code_baallah,\n      nom: data.nom_baallah,\n      prenom: data.prenom_baallah,\n      email: data.email_baallah || null,\n      telephone: data.telephone_baallah || null,\n      chat_id: data.chat_id_baallah || null,\n      langue: data.langue_baallah || 'FRA',\n      bot: data.bot_baallah || null\n    };\n    codeDestinataire = data.code_baallah;\n    typeDestinataire = 'BAALLAH';\n\n  } else {\n    console.log(`вЏ­пёЏ  SalariГ© ${data.code_salarie} ignorГ© (niveau: ${data.niveau_escalade})`);\n    return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire: typeDestinataire,\n      niveau_escalade: data.niveau_escalade,\n\n      salarie: {\n        code: data.code_salarie,\n        nom: data.nom,\n        prenom: data.prenom,\n        email: data.email,\n        telephone: data.telephone,\n        chat_id: data.chat_id_createur,\n        langue: data.langue_createur ,\n        bot: data.bot_createur,\n        matricule: data.matricule,\n        categorie: data.categorie,\n        poste: data.poste,\n        service: data.service\n      },\n      superieur: {\n        code: data.code_sup_createur,\n        nom: data.nom_sup_createur,\n        prenom: data.prenom_sup_createur,\n        email: data.email_sup_createur,\n        telephone: data.tel_sup_createur,\n        chat_id: data.chat_id_superieur,\n        langue: data.langue_superieur,\n        bot: data.bot_superieur\n      },\n      createur: {\n        code: data.code_createur,\n        nom: data.nom_createur,\n        prenom: data.prenom_createur,\n        email: data.email_createur,\n        telephone: data.tel_createur\n      },\n      pdg: {\n        code: data.code_pdg,\n        nom: data.nom_pdg,\n        prenom: data.prenom_pdg,\n        email: data.email_pdg,\n        telephone: data.telephone_pdg,\n        chat_id: data.chat_id_pdg,\n        langue: data.langue_pdg,\n        bot: data.bot_pdg\n      },\n      dga: {\n        code: data.code_dga,\n        nom: data.nom_dga,\n        prenom: data.prenom_dga,\n        email: data.email_dga,\n        telephone: data.telephone_dga,\n        chat_id: null,\n        langue: data.langue_dga || 'FRA',\n        bot: null\n      },\n      farhat: {\n        code: data.code_farhat,\n        nom: data.nom_farhat,\n        prenom: data.prenom_farhat,\n        email: data.email_farhat,\n        telephone: data.telephone_farhat,\n        chat_id: data.chat_id_farhat,\n        langue: data.langue_farhat,\n        bot: data.bot_farhat\n      },\n      baallah: {\n        code: data.code_baallah,\n        nom: data.nom_baallah,\n        prenom: data.prenom_baallah,\n        email: data.email_baallah,\n        telephone: data.telephone_baallah,\n        chat_id: data.chat_id_baallah,\n        langue: data.langue_baallah,\n        bot: data.bot_baallah\n      },\n\n      salaries: []\n    };\n  }\n\n  notifications[cleDestinataire].salaries.push({\n    code_salarie:          data.code_salarie,\n    matricule:             data.matricule,\n    nom:                   data.nom,\n    prenom:                data.prenom,\n    email:                 data.email,\n    telephone:             data.telephone,\n    categorie:             data.categorie,\n    poste:                 data.poste,\n    service:               data.service,\n    date_creation:         data.date_creation,\n    date_controle:         data.date_controle,\n    date_limite:           data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants:        data.jours_restants,\n    delai_int:             data.delai_int,\n    seuil_dga:             data.seuil_dga,\n    user_createur:         data.user_createur,\n    code_createur:         data.code_createur,\n    nom_createur:          data.nom_createur,\n    prenom_createur:       data.prenom_createur,\n    email_createur:        data.email_createur,\n    tel_createur:          data.tel_createur\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const totalSalaries = notif.salaries.length;\n  const joursMin = Math.min(...notif.salaries.map(s => s.jours_restants));\n  const joursMax = Math.max(...notif.salaries.map(s => s.jours_restants));\n  const delaiTotal = parseInt(notif.salaries[0]?.delai_int) || 10;\n  const seuilDga = notif.salaries[0]?.seuil_dga || Math.floor(delaiTotal / 2);\n\n  let emailCC   = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email)   emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)     emailCC.push(notif.salarie.email);\n    if (notif.superieur.chat_id) chatIDsCC.push({\n      chat_id: notif.superieur.chat_id, bot: notif.superieur.bot,\n      langue: notif.superieur.langue,\n      nom: `${notif.superieur.prenom} ${notif.superieur.nom}`\n    });\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue,\n      nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({\n      chat_id: notif.salarie.chat_id, bot: notif.salarie.bot,\n      langue: notif.salarie.langue,\n      nom: `${notif.salarie.prenom} ${notif.salarie.nom}`\n    });\n\n  } else if (notif.type_destinataire === 'BAALLAH') {\n    // BAALLAH в†’ pas de CC\n  } else if (notif.type_destinataire === 'FARHAT') {\n    // FARHAT в†’ pas de CC\n  } else if (notif.type_destinataire === 'DGA') {\n    // DGA в†’ email uniquement, pas de CC\n  }\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_escalade:        notif.niveau_escalade,\n    email_cc:    emailCC.length   > 0 ? emailCC.join(',') : null,\n    telegram_cc: chatIDsCC.length > 0 ? chatIDsCC         : null,\n    salarie:   notif.salarie,\n    superieur: notif.superieur,\n    createur:  notif.createur,\n    pdg:       notif.pdg,\n    dga:       notif.dga,\n    farhat:    notif.farhat,\n    baallah:   notif.baallah,\n    salaries:  notif.salaries,\n    statistiques: {\n      total_salaries: totalSalaries,\n      jours_min:      joursMin,\n      jours_max:      joursMax,\n      priorite:       notif.niveau_escalade,\n      delai_total:    delaiTotal,\n      seuil_dga:      seuilDga\n    },\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      langue_message:        notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email:    !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\nвњ… Notifications structurГ©es: ${resultats.length}`);\nconsole.log('Par type:');\nconsole.log(`  - PDG:       ${resultats.filter(r => r.type_destinataire === 'PDG').length}`);\nconsole.log(`  - DGA:       ${resultats.filter(r => r.type_destinataire === 'DGA').length}`);\nconsole.log(`  - SupГ©rieur: ${resultats.filter(r => r.type_destinataire === 'SUPERIEUR').length}`);\nconsole.log(`  - SalariГ©:   ${resultats.filter(r => r.type_destinataire === 'SALARIE').length}`);\nconsole.log(`  - Farhat:    ${resultats.filter(r => r.type_destinataire === 'FARHAT').length}`);\nconsole.log(`  - Baallah:   ${resultats.filter(r => r.type_destinataire === 'BAALLAH').length}`);\nconsole.log('\\nDГ©tails:');\nresultats.forEach(r => {\n  console.log(`  ${r.type_destinataire} - ${r.destinataire_principal.nom}: ${r.statistiques.total_salaries} salariГ©(s)`);\n});\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,1184],"id":"29db2685-c77d-42c3-a265-4a6adaa02aaf","name":"Structuration par Destinataire XSAL","notes":"Groupe les salariГ©s non attachГ©s par destinataire avec escalade (PDG/DGA/SUPERIEUR/SALARIE/FARHAT/BAALLAH)"},{"parameters":{"jsCode":"const inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      'рџ”ґ ALERTE URGENTE - SalariГ©s Non AttachГ©s',\n      DGA:      'рџџ  INFO DGA - SalariГ©s Non AttachГ©s Г  Mi-DГ©lai',\n      SUPERIEUR:'рџџ  IMPORTANT - SalariГ©s Non AttachГ©s',\n      SALARIE:  'рџџЎ Rappel - Votre Dossier SalariГ© Г  ComplГ©ter',\n      FARHAT:   'рџ”µ INFO PRГ‰VENTIVE - SalariГ©s Г  Surveiller',\n      BAALLAH:  'рџџЈ SUIVI BAALLAH - SalariГ©s Non AttachГ©s'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE вЂ” Les salariГ©s suivants n\\'ont toujours pas de document attachГ©. Votre attention IMMГ‰DIATE est requise.',\n      DGA:      'Information вЂ” Les salariГ©s suivants ont atteint la moitiГ© du dГ©lai sans document attachГ©.',\n      SUPERIEUR:'Les salariГ©s suivants sous votre responsabilitГ© requiГЁrent votre action en prioritГ©.',\n      SALARIE:  'Rappel вЂ” Votre dossier salariГ© est en attente de complГ©tion. Merci d\\'attacher les documents requis.',\n      FARHAT:   'Information prГ©ventive вЂ” Les salariГ©s suivants approchent de leur dГ©lai limite.',\n      BAALLAH:  'Suivi вЂ” Les salariГ©s suivants sont en cours d\\'escalade et nГ©cessitent un suivi.'\n    },\n    cc_message: {\n      base:            'Un message d\\'alerte concernant les salariГ©s non attachГ©s suivants a Г©tГ© envoyГ© Г ',\n      votre_superieur: 'votre supГ©rieur(e)',\n      le_pdg:          'la Direction (PDG)',\n      le_dga:          'la Direction GГ©nГ©rale Adjointe',\n      le_farhat:       'le Responsable RH (Farhat)',\n      le_baallah:      'le Responsable de suivi (Baallah)',\n      action:          'Veuillez prendre les mesures nГ©cessaires pour traiter ces dossiers dans les dГ©lais impartis.'\n    },\n    section_stats:    'STATISTIQUES',\n    total:            'Total salariГ©s concernГ©s',\n    delai_min:        'DГ©lai minimum restant',\n    jours:            'jour(s)',\n    seuil_dga:        'Seuil DGA (mi-dГ©lai)',\n    delai_total:      'DГ©lai total',\n    section_salaries: 'LISTE DES SALARIГ‰S NON ATTACHГ‰S',\n    code_salarie:     'Code salariГ©',\n    matricule:        'Matricule',\n    nom_salarie:      'SalariГ©',\n    categorie:        'CatГ©gorie',\n    poste:            'Poste',\n    service:          'Service',\n    date_creation:    'Date crГ©ation',\n    date_limite:      'Date limite',\n    jours_restants:   'Jours restants',\n    action_requise:   'ACTION REQUISE',\n    urgent:           'URGENT вЂ” Attacher immГ©diatement les documents requis au dossier salariГ©',\n    instruction:      'Veuillez attacher les documents manquants au dossier salariГ© dans les meilleurs dГ©lais.',\n    instruction_dga:  'Ces dossiers ont dГ©passГ© la moitiГ© du dГ©lai autorisГ©. Merci de vous assurer que les actions correctives sont engagГ©es.',\n    contact_rh:       'Contact RH',\n    cordialement:     'Cordialement',\n    signature:        'Service SI/IA вЂ” Jbel Annour',\n    message_auto:     'Message automatique',\n    ne_pas_repondre:  'Merci de ne pas rГ©pondre Г  cet email',\n    copie_info:       'рџ“‹ CC'\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      'рџ”ґ ШЄЩ†ШЁЩЉЩ‡ Ш№Ш§Ш¬Щ„ - Щ…Щ€ШёЩЃЩ€Щ† ШЁШЇЩ€Щ† Щ€Ш«Ш§Ш¦Щ‚ Щ…Ш±ЩЃЩ‚Ш©',\n      DGA:      'рџџ  Щ…Ш№Щ„Щ€Щ…Ш© Ш§Щ„Щ…ШЇЩЉШ± Ш§Щ„Ш№Ш§Щ… Ш§Щ„Щ…ШіШ§Ш№ШЇ - Щ…Щ€ШёЩЃЩ€Щ† ЩЃЩЉ Щ…Щ†ШЄШµЩЃ Ш§Щ„Щ…Щ‡Щ„Ш©',\n      SUPERIEUR:'рџџ  Щ‡Ш§Щ… - Щ…Щ€ШёЩЃЩ€Щ† ШЁШЇЩ€Щ† Щ€Ш«Ш§Ш¦Щ‚',\n      SALARIE:  'рџџЎ ШЄШ°ЩѓЩЉШ± - Щ…Щ„ЩЃЩѓ Ш§Щ„Щ€ШёЩЉЩЃЩЉ ЩЉЩ†ШЄШёШ± Ш§Щ„ШҐЩѓЩ…Ш§Щ„',\n      FARHAT:   'рџ”µ Щ…Ш№Щ„Щ€Щ…Ш© Щ€Щ‚Ш§Ш¦ЩЉШ© - Щ…Щ€ШёЩЃЩ€Щ† Щ„Щ„Щ…Ш±Ш§Щ‚ШЁШ©',\n      BAALLAH:  'рџџЈ Щ…ШЄШ§ШЁШ№Ш© ШЁШ§Ш№Щ„Ш© - Щ…Щ€ШёЩЃЩ€Щ† ШЁШЇЩ€Щ† Щ€Ш«Ш§Ш¦Щ‚'\n    },\n    salutation: 'Щ…Ш±Ш­ШЁШ§',\n    introduction: {\n      PDG:      'ШЄЩ†ШЁЩЉЩ‡ Ш№Ш§Ш¬Щ„ вЂ” Ш§Щ„Щ…Щ€ШёЩЃЩ€Щ† Ш§Щ„ШЄШ§Щ„ЩЉЩ€Щ† Щ„ЩЉШі Щ„ШЇЩЉЩ‡Щ… Щ€Ш«Ш§Ш¦Щ‚ Щ…Ш±ЩЃЩ‚Ш©. ЩЉШіШЄШЇШ№ЩЉ Ш§Щ‡ШЄЩ…Ш§Щ…Щѓ Ш§Щ„ЩЃЩ€Ш±ЩЉ.',\n      DGA:      'Щ…Ш№Щ„Щ€Щ…Ш© вЂ” Ш§Щ„Щ…Щ€ШёЩЃЩ€Щ† Ш§Щ„ШЄШ§Щ„ЩЉЩ€Щ† ШЄШ¬Ш§Щ€ШІЩ€Ш§ Щ†ШµЩЃ Ш§Щ„Щ…Щ‡Щ„Ш© Ш§Щ„Щ…Ш­ШЇШЇШ© ШЇЩ€Щ† ШҐШ±ЩЃШ§Щ‚ Щ€Ш«Ш§Ш¦Щ‚.',\n      SUPERIEUR:'Ш§Щ„Щ…Щ€ШёЩЃЩ€Щ† Ш§Щ„ШЄШ§Щ„ЩЉЩ€Щ† ШЄШ­ШЄ Щ…ШіШ¤Щ€Щ„ЩЉШЄЩѓ ЩЉШіШЄЩ€Ш¬ШЁЩ€Щ† ШЄШЇШ®Щ„Щѓ Ш§Щ„Ш№Ш§Ш¬Щ„.',\n      SALARIE:  'ШЄШ°ЩѓЩЉШ± вЂ” Щ…Щ„ЩЃЩѓ Ш§Щ„Щ€ШёЩЉЩЃЩЉ ЩЉЩ†ШЄШёШ± Ш§Щ„ШҐЩѓЩ…Ш§Щ„. ЩЉШ±Ш¬Щ‰ ШҐШ±ЩЃШ§Щ‚ Ш§Щ„Щ€Ш«Ш§Ш¦Щ‚ Ш§Щ„Щ…Ш·Щ„Щ€ШЁШ©.',\n      FARHAT:   'Щ…Ш№Щ„Щ€Щ…Ш© Щ€Щ‚Ш§Ш¦ЩЉШ© вЂ” Ш§Щ„Щ…Щ€ШёЩЃЩ€Щ† Ш§Щ„ШЄШ§Щ„ЩЉЩ€Щ† ЩЉЩ‚ШЄШ±ШЁЩ€Щ† Щ…Щ† ШЄШ§Ш±ЩЉШ® Ш§Щ†ШЄЩ‡Ш§ШЎ Щ…Щ‡Щ„ШЄЩ‡Щ….',\n      BAALLAH:  'Щ…ШЄШ§ШЁШ№Ш© вЂ” Ш§Щ„Щ…Щ€ШёЩЃЩ€Щ† Ш§Щ„ШЄШ§Щ„ЩЉЩ€Щ† ЩЃЩЉ Щ…Ш±Ш­Щ„Ш© ШЄШµШ№ЩЉШЇ Щ€ЩЉШіШЄЩ€Ш¬ШЁЩ€Щ† Ш§Щ„Щ…ШЄШ§ШЁШ№Ш©.'\n    },\n    cc_message: {\n      base:            'ШЄЩ… ШҐШ±ШіШ§Щ„ Ш±ШіШ§Щ„Ш© ШЄЩ†ШЁЩЉЩ‡ ШЁШ®ШµЩ€Шµ Ш§Щ„Щ…Щ€ШёЩЃЩЉЩ† Ш§Щ„ШЄШ§Щ„ЩЉЩЉЩ† ШєЩЉШ± Ш§Щ„Щ…Ш±ЩЃЩ‚Ш© Щ€Ш«Ш§Ш¦Щ‚Щ‡Щ… ШҐЩ„Щ‰',\n      votre_superieur: 'Ш±Ш¦ЩЉШіЩѓ Ш§Щ„Щ…ШЁШ§ШґШ±',\n      le_pdg:          'Ш§Щ„ШҐШЇШ§Ш±Ш© (Ш§Щ„Щ…ШЇЩЉШ± Ш§Щ„Ш№Ш§Щ…)',\n      le_dga:          'Ш§Щ„Щ…ШЇЩЉШ± Ш§Щ„Ш№Ш§Щ… Ш§Щ„Щ…ШіШ§Ш№ШЇ',\n      le_farhat:       'Щ…ШіШ¤Щ€Щ„ Ш§Щ„Щ…Щ€Ш§Ш±ШЇ Ш§Щ„ШЁШґШ±ЩЉШ© (ЩЃШ±Ш­Ш§ШЄ)',\n      le_baallah:      'Щ…ШіШ¤Щ€Щ„ Ш§Щ„Щ…ШЄШ§ШЁШ№Ш© (ШЁШ№Щ„Ш©)',\n      action:          'ЩЉШ±Ш¬Щ‰ Ш§ШЄШ®Ш§Ш° Ш§Щ„ШҐШ¬Ш±Ш§ШЎШ§ШЄ Ш§Щ„Щ„Ш§ШІЩ…Ш© Щ„Щ…Ш№Ш§Щ„Ш¬Ш© Щ‡Ш°Щ‡ Ш§Щ„Щ…Щ„ЩЃШ§ШЄ ЩЃЩЉ Ш§Щ„Щ…Щ€Ш§Ш№ЩЉШЇ Ш§Щ„Щ…Ш­ШЇШЇШ©.'\n    },\n    section_stats:    'Ш§Щ„ШҐШ­ШµШ§Ш¦ЩЉШ§ШЄ',\n    total:            'ШҐШ¬Щ…Ш§Щ„ЩЉ Ш§Щ„Щ…Щ€ШёЩЃЩЉЩ† Ш§Щ„Щ…Ш№Щ†ЩЉЩЉЩ†',\n    delai_min:        'Ш§Щ„Ш­ШЇ Ш§Щ„ШЈШЇЩ†Щ‰ Щ„Щ„Щ…Щ‡Щ„Ш© Ш§Щ„Щ…ШЄШЁЩ‚ЩЉШ©',\n    jours:            'ЩЉЩ€Щ…',\n    seuil_dga:        'Ш№ШЄШЁШ© Ш§Щ„Щ…ШЇЩЉШ± Ш§Щ„Ш№Ш§Щ… Ш§Щ„Щ…ШіШ§Ш№ШЇ',\n    delai_total:      'Ш§Щ„Щ…Щ‡Щ„Ш© Ш§Щ„ШҐШ¬Щ…Ш§Щ„ЩЉШ©',\n    section_salaries: 'Щ‚Ш§Ш¦Щ…Ш© Ш§Щ„Щ…Щ€ШёЩЃЩЉЩ† ШЁШЇЩ€Щ† Щ€Ш«Ш§Ш¦Щ‚ Щ…Ш±ЩЃЩ‚Ш©',\n    code_salarie:     'Ш±Щ…ШІ Ш§Щ„Щ…Щ€ШёЩЃ',\n    matricule:        'Ш±Щ‚Щ… Ш§Щ„ШЄШіШ¬ЩЉЩ„',\n    nom_salarie:      'Ш§Щ„Щ…Щ€ШёЩЃ',\n    categorie:        'Ш§Щ„ЩЃШ¦Ш©',\n    poste:            'Ш§Щ„Щ…Щ†ШµШЁ',\n    service:          'Ш§Щ„Щ‚ШіЩ…',\n    date_creation:    'ШЄШ§Ш±ЩЉШ® Ш§Щ„ШҐЩ†ШґШ§ШЎ',\n    date_limite:      'Ш§Щ„ШЄШ§Ш±ЩЉШ® Ш§Щ„ШЈЩ‚ШµЩ‰',\n    jours_restants:   'Ш§Щ„ШЈЩЉШ§Щ… Ш§Щ„Щ…ШЄШЁЩ‚ЩЉШ©',\n    action_requise:   'Ш§Щ„ШҐШ¬Ш±Ш§ШЎ Ш§Щ„Щ…Ш·Щ„Щ€ШЁ',\n    urgent:           'Ш№Ш§Ш¬Щ„ вЂ” ЩЉШ±Ш¬Щ‰ ШҐШ±ЩЃШ§Щ‚ Ш§Щ„Щ€Ш«Ш§Ш¦Щ‚ Ш§Щ„Щ…Ш·Щ„Щ€ШЁШ© ЩЃЩЉ Ш§Щ„Щ…Щ„ЩЃ Ш§Щ„Щ€ШёЩЉЩЃЩЉ ЩЃЩ€Ш±Ш§Щ‹',\n    instruction:      'ЩЉШ±Ш¬Щ‰ ШҐШ±ЩЃШ§Щ‚ Ш§Щ„Щ€Ш«Ш§Ш¦Щ‚ Ш§Щ„Щ†Ш§Щ‚ШµШ© ЩЃЩЉ Ш§Щ„Щ…Щ„ЩЃ Ш§Щ„Щ€ШёЩЉЩЃЩЉ ЩЃЩЉ ШЈЩ‚Ш±ШЁ Щ€Щ‚ШЄ Щ…Щ…ЩѓЩ†.',\n    instruction_dga:  'ШЄШ¬Ш§Щ€ШІШЄ Щ‡Ш°Щ‡ Ш§Щ„Щ…Щ„ЩЃШ§ШЄ Щ†ШµЩЃ Ш§Щ„Щ…Щ‡Щ„Ш© ШЇЩ€Щ† ШҐШ±ЩЃШ§Щ‚ Щ€Ш«Ш§Ш¦Щ‚. ЩЉШ±Ш¬Щ‰ Ш§Щ„ШЄШЈЩѓШЇ Щ…Щ† Ш§ШЄШ®Ш§Ш° Ш§Щ„ШҐШ¬Ш±Ш§ШЎШ§ШЄ Ш§Щ„ШЄШµШ­ЩЉШ­ЩЉШ©.',\n    contact_rh:       'Ш§ШЄШµШ§Щ„ Ш§Щ„Щ…Щ€Ш§Ш±ШЇ Ш§Щ„ШЁШґШ±ЩЉШ©',\n    cordialement:     'Щ…Ш№ ШЈШ·ЩЉШЁ Ш§Щ„ШЄШ­ЩЉШ§ШЄ',\n    signature:        'Щ‚ШіЩ… SI/IA - Ш¬ШЁЩ„ Ш§Щ„Щ†Щ€Ш±',\n    message_auto:     'Ш±ШіШ§Щ„Ш© ШЄЩ„Щ‚Ш§Ш¦ЩЉШ©',\n    ne_pas_repondre:  'ЩЉШ±Ш¬Щ‰ Ш№ШЇЩ… Ш§Щ„Ш±ШЇ Ш№Щ„Щ‰ Щ‡Ш°Ш§ Ш§Щ„ШЁШ±ЩЉШЇ Ш§Щ„ШҐЩ„ЩѓШЄШ±Щ€Щ†ЩЉ',\n    copie_info:       'рџ“‹ Щ†ШіШ®Ш© Щ„Щ„Ш№Щ„Щ…'\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      'рџ”ґ URGENT ALERT - Employees Without Attached Documents',\n      DGA:      'рџџ  DGA INFO - Employees at Mid-Deadline',\n      SUPERIEUR:'рџџ  IMPORTANT - Employees Without Attached Documents',\n      SALARIE:  'рџџЎ Reminder - Your Employee File Needs Completion',\n      FARHAT:   'рџ”µ PREVENTIVE INFO - Employees to Monitor',\n      BAALLAH:  'рџџЈ BAALLAH FOLLOW-UP - Employees Without Documents'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT вЂ” The following employees still have no attached documents. Your IMMEDIATE attention is required.',\n      DGA:      'Information вЂ” The following employees have reached half their deadline without attached documents.',\n      SUPERIEUR:'The following employees under your responsibility require your priority action.',\n      SALARIE:  'Reminder вЂ” Your employee file is awaiting completion. Please attach the required documents.',\n      FARHAT:   'Preventive information вЂ” The following employees are approaching their deadline.',\n      BAALLAH:  'Follow-up вЂ” The following employees are in escalation and require monitoring.'\n    },\n    cc_message: {\n      base:            'An alert message regarding the following employees without attached documents has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:          'the Management (CEO)',\n      le_dga:          'the Deputy General Manager',\n      le_farhat:       'the HR Manager (Farhat)',\n      le_baallah:      'the Follow-up Manager (Baallah)',\n      action:          'Please take the necessary measures to process these files within the specified deadlines.'\n    },\n    section_stats:    'STATISTICS',\n    total:            'Total employees concerned',\n    delai_min:        'Minimum remaining deadline',\n    jours:            'day(s)',\n    seuil_dga:        'DGA threshold (mid-deadline)',\n    delai_total:      'Total deadline',\n    section_salaries: 'LIST OF EMPLOYEES WITHOUT ATTACHED DOCUMENTS',\n    code_salarie:     'Employee code',\n    matricule:        'Badge number',\n    nom_salarie:      'Employee',\n    categorie:        'Category',\n    poste:            'Position',\n    service:          'Department',\n    date_creation:    'Creation date',\n    date_limite:      'Deadline',\n    jours_restants:   'Days remaining',\n    action_requise:   'ACTION REQUIRED',\n    urgent:           'URGENT вЂ” Attach required documents to the employee file immediately',\n    instruction:      'Please attach the missing documents to the employee file as soon as possible.',\n    instruction_dga:  'These files have exceeded half their allowed deadline. Please ensure corrective actions are underway.',\n    contact_rh:       'HR Contact',\n    cordialement:     'Best regards',\n    signature:        'IT/AI Department - Jbel Annour',\n    message_auto:     'Automatic message',\n    ne_pas_repondre:  'Please do not reply to this email',\n    copie_info:       'рџ“‹ COPY FOR INFORMATION'\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction formaterDateHeure(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleString(locale, { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 2) return 'рџ”ґ';\n  if (jours === 3) return 'рџџ ';\n  if (jours === 4) return 'рџџЎ';\n  if (jours <= 8) return 'рџ”µ';\n  return 'рџџў';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const destinataire = data.destinataire_principal;\n  const stats = data.statistiques;\n  const salaries = data.salaries;\n\n  let emailSubject = (T.sujet_email[data.type_destinataire] || T.sujet_email.SALARIE)\n                   + ` вЂ” ${stats.total_salaries} salariГ©(s)`;\n\n  let emailBody = `${T.salutation} ${destinataire.prenom} ${destinataire.nom},\\n\\n`;\n  emailBody += `${T.introduction[data.type_destinataire]}\\n\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ“Љ ${T.section_stats}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau d\\'escalade : ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total} : ${stats.total_salaries}\\n`;\n  emailBody += `${T.delai_min} : ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total} : ${stats.delai_total} ${T.jours}\\n`;\n  if (data.type_destinataire === 'DGA') {\n    emailBody += `${T.seuil_dga} : ${stats.seuil_dga} ${T.jours}\\n`;\n  }\n\n  emailBody += `\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ‘Ґ ${T.section_salaries}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n\n  // APRГ€S\n  salaries.forEach((sal, index) => {\n      emailBody += `${index + 1}. ${getEmoji(sal.jours_restants)} ${sal.prenom} ${sal.nom} (${sal.code_salarie})\\n`;\n      emailBody += `   рџ“Ѓ NВ° Dossier : ${sal.code_salarie}\\n`;\n      if (sal.matricule) emailBody += `   рџЄЄ ${T.matricule} : ${sal.matricule}\\n`;\n      if (sal.categorie) emailBody += `   рџ“‚ ${T.categorie} : ${sal.categorie}\\n`;\n      if (sal.poste)     emailBody += `   рџ’ј ${T.poste} : ${sal.poste}\\n`;\n      if (sal.service)   emailBody += `   рџЏў ${T.service} : ${sal.service}\\n`;\n      emailBody += `   рџ“… ${T.date_creation} : ${formaterDateHeure(sal.date_creation, langue)}\\n`;\n      emailBody += `   вЏ° ${T.jours_restants} : ${sal.jours_restants} ${T.jours} (${T.date_limite} : ${formaterDate(sal.date_limite, langue)})\\n`;\n      // вњ… NOUVEAU : Infos crГ©ateur\n      if (sal.user_createur) {\n        emailBody += `   рџ‘¤ CrГ©Г© par : ${sal.nom_createur || ''} ${sal.prenom_createur || ''} (${sal.user_createur})\\n`;\n        if (sal.email_createur)  emailBody += `   вњ‰пёЏ Email crГ©ateur : ${sal.email_createur}\\n`;\n        if (sal.tel_createur)    emailBody += `   рџ“ћ TГ©l crГ©ateur : ${sal.tel_createur}\\n`;\n      }\n      if (sal.jours_restants <= 2) emailBody += `   рџљЁ ${T.urgent}\\n`;\n      emailBody += `\\n`;\n  });\n\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  if (stats.jours_min <= 2) {\n    emailBody += `рџљЁ ${T.action_requise} : ${T.urgent}\\n`;\n  } else if (data.type_destinataire === 'DGA') {\n    emailBody += `рџ“Њ ${T.instruction_dga}\\n`;\n  } else {\n    emailBody += `рџ“Њ ${T.instruction}\\n`;\n  }\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n  emailBody += `рџ“ћ ${T.contact_rh} :\\n`;\n  if (data.superieur && data.superieur.email) {\n    emailBody += `   ${data.superieur.prenom} ${data.superieur.nom}\\n`;\n    emailBody += `   Email : ${data.superieur.email}\\n`;\n    emailBody += `   TГ©l : ${data.superieur.telephone || 'N/A'}\\n`;\n  }\n  emailBody += `\\n${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n`;\n  emailBody += `рџ¤– ${T.message_auto} вЂ” ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  if (data.type_destinataire === 'PDG')    emailBody += `рџ”ґ Notification URGENTE envoyГ©e au PDG\\n`;\n  if (data.type_destinataire === 'DGA')    emailBody += `рџџ  Notification DGA (seuil mi-dГ©lai : ${stats.seuil_dga}j)\\n`;\n  if (data.type_destinataire === 'BAALLAH') emailBody += `рџџЈ Notification Baallah\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${getEmoji(stats.jours_min)} *${T.sujet_email[data.type_destinataire]}*\\n`;\n  telegramMessage += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n\\n`;\n  telegramMessage += `рџ‘¤ *${destinataire.prenom} ${destinataire.nom}*\\n\\n`;\n  telegramMessage += `рџ“Љ *${T.section_stats}*\\n`;\n  telegramMessage += `${T.total} : *${stats.total_salaries}*\\n`;\n  telegramMessage += `${T.delai_min} : *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `рџ‘Ґ *${T.section_salaries}*\\n\\n`;\n\n  // APRГ€S\n  salaries.slice(0, 5).forEach((sal, index) => {\n      telegramMessage += `${index + 1}. ${getEmoji(sal.jours_restants)} *${sal.prenom} ${sal.nom}*\\n`;\n      telegramMessage += `   рџ“Ѓ NВ° Dossier : \\`${sal.code_salarie}\\`\\n`;\n      if (sal.poste)   telegramMessage += `   рџ’ј ${sal.poste}\\n`;\n      if (sal.service) telegramMessage += `   рџЏў ${sal.service}\\n`;\n      telegramMessage += `   вЏ° ${sal.jours_restants} ${T.jours} ${T.jours_restants}\\n`;\n      // вњ… NOUVEAU : CrГ©ateur\n      if (sal.user_createur) {\n        telegramMessage += `   рџ‘¤ CrГ©ateur : ${sal.nom_createur || sal.user_createur}\\n`;\n      }\n      telegramMessage += `\\n`;\n  });\n  if (salaries.length > 5) telegramMessage += `... et ${salaries.length - 5} autre(s) salariГ©(s)\\n\\n`;\n  if (stats.jours_min <= 2) telegramMessage += `рџљЁ *${T.urgent}*\\n\\n`;\n\n  return {\n    email:    { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const salaries = data.salaries;\n  const destinatairePrincipal = data.destinataire_principal;\n\n  const labels = {\n    SUPERIEUR: T.cc_message.votre_superieur,\n    PDG:       T.cc_message.le_pdg,\n    DGA:       T.cc_message.le_dga,\n    FARHAT:    T.cc_message.le_farhat,\n    BAALLAH:   T.cc_message.le_baallah\n  };\n  const label = labels[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n  const msg_envoye_a       = `${label} *${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}*`;\n  const msg_envoye_a_email = `${label} ${destinatairePrincipal.prenom} ${destinatairePrincipal.nom}`;\n\n  let emailSubject = `${T.copie_info} вЂ” ${T.sujet_email[typeDestinatairePrincipal]} вЂ” ${stats.total_salaries} salariГ©(s)`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom} ${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${msg_envoye_a_email}.\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau : ${data.niveau_escalade} | ${T.total} : ${stats.total_salaries} | ${T.delai_min} : ${stats.jours_min} ${T.jours}\\n\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n`;\n  emailBody += `рџ‘Ґ ${T.section_salaries}\\n`;\n  emailBody += `в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n\\n`;\n\n  salaries.forEach((sal, index) => {\n    emailBody += `${index + 1}. ${getEmoji(sal.jours_restants)} ${sal.prenom} ${sal.nom} (${sal.code_salarie})\\n`;\n    emailBody += `   вЏ° ${sal.jours_restants} ${T.jours} ${T.jours_restants} (${T.date_limite} : ${formaterDate(sal.date_limite, langue)})\\n`;\n    if (sal.jours_restants <= 2) emailBody += `   рџљЁ ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `${T.cc_message.action}\\n\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n`;\n  emailBody += `в”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n`;\n  emailBody += `рџ¤– ${T.message_auto} | ${T.copie_info} | ${T.ne_pas_repondre}\\n`;\n\n  let telegramMessage = `${T.copie_info}\\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\\n\\n`;\n  telegramMessage += `${T.salutation} *${destinataireCC.prenom} ${destinataireCC.nom}*,\\n\\n`;\n  telegramMessage += `${T.cc_message.base} ${msg_envoye_a}.\\n\\n`;\n  telegramMessage += `рџ“Љ ${T.total} : *${stats.total_salaries}* | ${T.delai_min} : *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegramMessage += `рџ‘Ґ *${T.section_salaries}*\\n\\n`;\n\n  salaries.slice(0, 3).forEach((sal, index) => {\n    telegramMessage += `${index + 1}. ${getEmoji(sal.jours_restants)} *${sal.prenom} ${sal.nom}*\\n`;\n    telegramMessage += `   вЏ° ${sal.jours_restants} ${T.jours} ${T.jours_restants}\\n\\n`;\n  });\n  if (salaries.length > 3) telegramMessage += `... et ${salaries.length - 3} autre(s) salariГ©(s)\\n\\n`;\n  telegramMessage += `${T.cc_message.action}\\n`;\n\n  return {\n    email:    { subject: emailSubject, body: emailBody },\n    telegram: { text: telegramMessage, parse_mode: 'Markdown' }\n  };\n}\n\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  results.push({\n    json: {\n      ...data,\n      messages:           messagesPrincipal,\n      type_envoi:         'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC : SUPERIEUR в†’ copie au salariГ©\n  if (data.type_destinataire === 'SUPERIEUR' && data.salarie?.chat_id) {\n    const messagesCC = genererMessageCC(data, data.salarie, 'SUPERIEUR');\n    results.push({ json: {\n      ...data, messages: messagesCC, type_envoi: 'CC',\n      destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC : PDG в†’ copie au supГ©rieur + copie au salariГ©\n  if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      const msgCCSup = genererMessageCC(data, data.superieur, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSup, type_envoi: 'CC',\n        destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      const msgCCSal = genererMessageCC(data, data.salarie, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSal, type_envoi: 'CC',\n        destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n\n  // CC : BAALLAH в†’ copie au salariГ©\n  if (data.type_destinataire === 'BAALLAH' && data.salarie?.chat_id) {\n    const messagesCC = genererMessageCC(data, data.salarie, 'BAALLAH');\n    results.push({ json: {\n      ...data, messages: messagesCC, type_envoi: 'CC',\n      destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC : FARHAT в†’ copie au salariГ©\n  if (data.type_destinataire === 'FARHAT' && data.salarie?.chat_id) {\n    const messagesCC = genererMessageCC(data, data.salarie, 'FARHAT');\n    results.push({ json: {\n      ...data, messages: messagesCC, type_envoi: 'CC',\n      destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n  // DGA в†’ email uniquement, pas de CC, pas de Telegram\n});\n\nconsole.log('\\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log('рџ“§ GГ‰NГ‰RATION DES MESSAGES - SALARIГ‰S NON ATTACHГ‰S');\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ');\nconsole.log(`Total messages gГ©nГ©rГ©s : ${results.length}`);\nconsole.log(`  - Principaux : ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  - CC         : ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,1184],"id":"803bc461-5e05-4661-ad42-3a1332474c0b","name":"GГ©nГ©ration Messages Multilingues XSAL","notes":"GГ©nГЁre les messages en FRA/ARA/ENG selon le destinataire (PDG/DGA/SUPERIEUR/SALARIE/FARHAT/BAALLAH)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"filtre-email-test-xsal","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,992],"id":"c58e1860-ba70-4f3f-a297-e6513d995f37","name":"If - Filtre Email Test XSAL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-email-xsal","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,896],"id":"10196cec-6820-4b2c-a118-4badebe16aa6","name":"Not PDG Email XSAL"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-720,1088],"id":"7b0f2d18-48d2-4351-b925-bee5ab0a238b","name":"No Operation Email Test XSAL"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-464,1008],"id":"824c18f3-3e7e-4152-ab9b-6328e48a6367","name":"No Operation PDG Email XSAL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"chat-id-exists-xsal-1","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"chat-id-exists-xsal-2","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,1376],"id":"34af1bad-ef44-4cf5-9ac3-f267aaaef260","name":"Si Chat ID Existe XSAL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-chatid-xsal","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}},{"id":"27ddafd7-6e57-4d5e-925e-4f547bc6e9cf","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8744850085","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-720,1280],"id":"26650d38-19b1-45e4-a356-94481a25a298","name":"Not PDG Chat ID XSAL"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-720,1472],"id":"c98fbe00-7208-402e-aced-997768de0eba","name":"No Operation No Chat ID XSAL"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-496,1376],"id":"fa60821e-3b3f-402f-9b04-0d3746ba9e9a","name":"No Operation PDG Chat XSAL"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-464,800],"id":"b5ff9942-f3d4-49bc-a481-1555f568467c","name":"Envoi Email XSAL","webhookId":"7550161e-ca23-4057-9ac8-733901947599","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"onError":"continueRegularOutput","notes":"Envoi email avec CC selon escalade"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,1184],"id":"3266c95f-48c2-4c7f-9fb3-ae72f4fb8d20","name":"Envoi Telegram XSAL","webhookId":"e471a812-a731-4af8-b217-8049b01e45eb","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi Telegram au destinataire final (principal ou CC)"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-144,1008],"id":"272e03cb-9f18-408e-8f31-e7649feb1810","name":"Fin Workflow XSAL","notes":"Toutes les notifications salariГ©s non attachГ©s envoyГ©es"}],"connections":{"Schedule Trigger XSAL":{"main":[[{"node":"Microsoft SQL - SalariГ©s Non AttachГ©s","type":"main","index":0}]]},"Microsoft SQL - SalariГ©s Non AttachГ©s":{"main":[[{"node":"VГ©rifier DonnГ©es PrГ©sentes XSAL","type":"main","index":0}]]},"VГ©rifier DonnГ©es PrГ©sentes XSAL":{"main":[[{"node":"Structuration par Destinataire XSAL","type":"main","index":0}],[{"node":"Fin - Aucune DonnГ©e XSAL","type":"main","index":0}]]},"Structuration par Destinataire XSAL":{"main":[[{"node":"GГ©nГ©ration Messages Multilingues XSAL","type":"main","index":0}]]},"GГ©nГ©ration Messages Multilingues XSAL":{"main":[[{"node":"If - Filtre Email Test XSAL","type":"main","index":0},{"node":"Si Chat ID Existe XSAL","type":"main","index":0}]]},"If - Filtre Email Test XSAL":{"main":[[{"node":"Not PDG Email XSAL","type":"main","index":0}],[{"node":"No Operation Email Test XSAL","type":"main","index":0}]]},"Not PDG Email XSAL":{"main":[[{"node":"Envoi Email XSAL","type":"main","index":0}],[{"node":"No Operation PDG Email XSAL","type":"main","index":0}]]},"Si Chat ID Existe XSAL":{"main":[[{"node":"Not PDG Chat ID XSAL","type":"main","index":0}],[{"node":"No Operation No Chat ID XSAL","type":"main","index":0}]]},"Not PDG Chat ID XSAL":{"main":[[{"node":"Envoi Telegram XSAL","type":"main","index":0}],[{"node":"No Operation PDG Chat XSAL","type":"main","index":0}]]},"Envoi Email XSAL":{"main":[[{"node":"Fin Workflow XSAL","type":"main","index":0}]]},"Envoi Telegram XSAL":{"main":[[{"node":"Fin Workflow XSAL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger XSAL":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger XSAL":[{"json":{"timestamp":"2026-05-12T11:00:47.015-04:00","Readable date":"May 12th 2026, 11:00:47 am","Readable time":"11:00:47 am","Day of week":"Tuesday","Year":"2026","Month":"May","Day of month":"12","Hour":"11","Minute":"00","Second":"47","Timezone":"America/New_York (UTC-04:00)"}}]},"versionId":"6c130ee1-5a72-4d46-8b3e-dc9ef6b9ee5b","triggerCount":1,"tags":[]}