send email cv-QIjsgDfmDRhnlQkj.json
{"createdAt":"2025-12-18T16:03:46.266Z","updatedAt":"2026-01-06T17:39:57.000Z","id":"QIjsgDfmDRhnlQkj","name":"send email cv","active":true,"isArchived":false,"nodes":[{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"=abidanas991@gmail.com","subject":"={{$json.email.subject}}","emailFormat":"text","text":"={{$json.email.text}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[160,-352],"id":"9c804066-3af6-4bdd-a17c-6820b2512144","name":"Send email","webhookId":"d3ea9016-6f74-4fd4-92df-d30b711c104e","credentials":{"smtp":{"id":"bpemeMBLL2nD1VkW","name":"SMTP account 2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,-352],"id":"bca77232-2917-4cc0-93e3-dd23b98ba3ca","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  c.YCODCV_0,\n  c.YNOM_0,\n  c.YPRENOM_0,\n  c.YEMAILPER_0,\n  c.YPOSTE_0,\n  p.YTIT_0\nFROM jbelrh.JBELRH.YCV AS c\nLEFT JOIN jbelrh.JBELRH.ZPOSTE AS p \n  ON c.YPOSTE_0 = p.YNUM_0\nWHERE c.CREDATTIM_0 >= CAST(GETDATE() - 1 AS date)\n  AND c.CREDATTIM_0 <  CAST(GETDATE() AS date);"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-400,-240],"id":"99ce6fd4-f485-4874-a690-dce4b2163e08","name":"CV","credentials":{"microsoftSql":{"id":"0phNrXNzjKjH07Hv","name":"Microsoft SQL account 3"}}},{"parameters":{"operation":"executeQuery","query":"  select \n  S.XSAL_0,\n  S.XNAMSAL_0,\n  S.XPRENOM_0,\n  S.XEMAIL_0,\n  S.XFLG_0,\n  P.YTIT_0,\n  Y.TIDCHAT_0,\n  Y.YBOT_0,\n  Y.LAN_0\n  FROM jbelrh.JBELRH.XSAL AS S\n  LEFT JOIN jbelrh.JBELRH.ZPOSTE AS P ON S.ZPOSTE_0 = P.YNUM_0\n  LEFT JOIN jbelrh.JBELRH.YAIINFOSAL AS Y ON S.XSAL_0 = Y.XSAL_0\n  where S.XFLG_0 ='2' and P.YTIT_0 IN (\n    'PRÉSIDENT DIRECTEUR GÉNÉRAL',\n    'RESPONSABLE RESSOURCES HUMAINES',\n    'RESPONSABLE RECRUTEMENT',\n\t'CONSULTANT SAGE X3'\n  )"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-400,-464],"id":"5d2d772a-9aa2-474a-9330-e67b5225deeb","name":"email","credentials":{"microsoftSql":{"id":"0phNrXNzjKjH07Hv","name":"Microsoft SQL account 3"}}},{"parameters":{"jsCode":"const all = $input.all().map(i => i.json);\n\nconst cvs = all.filter(i => i.YCODCV_0);       \nconst responsables = all.filter(i => i.XEMAIL_0);\n\nif (cvs.length === 0 || responsables.length === 0) {\n  return [];\n}\n\n// Group CVs par poste\nconst cvsByPoste = {};\ncvs.forEach(cv => {\n  const poste = cv.YTIT_0 || 'Poste non défini';\n  if (!cvsByPoste[poste]) cvsByPoste[poste] = [];\n  cvsByPoste[poste].push(cv);\n});\n\n// Email pour tout les responsable\nconst emails = [];\n\nresponsables.forEach(respo => {\n\nlet text = `Bonjour ${respo.XNAMSAL_0 || ''} ${respo.XPRENOM_0 || ''},\\n\\n`;\n  text += `Nous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\\n\\n`;\n  text += `Vous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\\n\\n`;\n\n  for (const poste in cvsByPoste) {\n    text += `📌 POSTE : ${poste}\\n`;\n\n    cvsByPoste[poste].forEach((cv, index) => {\n      text += `${index + 1}. Code CV : ${cv.YCODCV_0}\nNom & Prénom : ${cv.YNOM_0} ${cv.YPRENOM_0}\nEmail candidat : ${cv.YEMAILPER_0 || 'Non renseigné'}\\n\\n`;\n    });\n  }\n\n  text += `Cordialement,\\nService Si`;\n\n  emails.push({\n    json: {\n      email: {\n        to: respo.XEMAIL_0,\n        subject: `📄 Nouveaux CVs reçus`,\n        text\n      }\n    }\n  });\n});\n\nreturn emails;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,-352],"id":"813d5f2b-f80b-495a-acfd-b049d8432c68","name":"code de structuere les donne"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-224,-352],"id":"a7e4f18d-8575-49c1-845e-1ca4c0489909","name":"Merge"}],"connections":{"Schedule Trigger":{"main":[[{"node":"email","type":"main","index":0},{"node":"CV","type":"main","index":0}]]},"CV":{"main":[[{"node":"Merge","type":"main","index":1}]]},"email":{"main":[[{"node":"Merge","type":"main","index":0}]]},"code de structuere les donne":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Merge":{"main":[[{"node":"code de structuere les donne","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"code de structuere les donne":[{"json":{"email":{"to":"miftahhalima@gmail.com ","subject":"📄 Nouveaux CVs reçus","text":"Bonjour MIFTAH HALIMA,\n\nNous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\n\nVous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\n\n📌 POSTE : COORDINATEUR ADMINISTRATIF\n1. Code CV : CV004748\nNom & Prénom : MOUSTATI SAFAA\nEmail candidat : safaamoustatii@gmail.com\n\n📌 POSTE : COMPTABLE\n1. Code CV : CV004745\nNom & Prénom : DIOUF ROKHAYA\nEmail candidat : diouf307@gmail.com\n\n📌 POSTE : RESPONSABLE PRODUCTION\n1. Code CV : CV004744\nNom & Prénom : ABDELLATIF AITSALAH\nEmail candidat : abdellatif.aitsalah@gmail.com\n\n📌 POSTE : SUPERVISEUR DE PRODUCTION\n1. Code CV : CV004742\nNom & Prénom : RAFII ANASS\nEmail candidat : anass.rafii86@gmail.com\n\n📌 POSTE : SOUDEUR\n1. Code CV : CV004750\nNom & Prénom : BOP TAMSIR\nEmail candidat : mbidou88@gmail.com\n\n📌 POSTE : RESPONSABLE GESTION DE TRÉSORERIE\n1. Code CV : CV004746\nNom & Prénom : ETTOURY SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : RESPONSABLE ADMINISTRATIF ET FINANCIER\n1. Code CV : CV004747\nNom & Prénom : NE SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : SUPERVISEUR QUALITÉ\n1. Code CV : CV004749\nNom & Prénom : SARTATI HAMZA\nEmail candidat : sartatihamza9@gmail.com\n\n📌 POSTE : RESPONSABLE RESSOURCES HUMAINES\n1. Code CV : CV004743\nNom & Prénom : CHIGUER ANOIRE\nEmail candidat : anoire.chiguer@gmail.com\n\n📌 POSTE : TECHNICIEN MAINTENANCE\n1. Code CV : CV004741\nNom & Prénom : ABALIL RACHID\nEmail candidat : abalil.rachid@gmail.com\n\n📌 POSTE : RESPONSABLE DES AFFAIRES SOCIALES\n1. Code CV : CV004740\nNom & Prénom : KAHLAOUY OUMAIMA\nEmail candidat : oumaima.kahlaouy@gmail.com\n\nCordialement,\nService Si"}}},{"json":{"email":{"to":"redouanesaidg@gmail.com","subject":"📄 Nouveaux CVs reçus","text":"Bonjour REDOUANE  SAID,\n\nNous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\n\nVous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\n\n📌 POSTE : COORDINATEUR ADMINISTRATIF\n1. Code CV : CV004748\nNom & Prénom : MOUSTATI SAFAA\nEmail candidat : safaamoustatii@gmail.com\n\n📌 POSTE : COMPTABLE\n1. Code CV : CV004745\nNom & Prénom : DIOUF ROKHAYA\nEmail candidat : diouf307@gmail.com\n\n📌 POSTE : RESPONSABLE PRODUCTION\n1. Code CV : CV004744\nNom & Prénom : ABDELLATIF AITSALAH\nEmail candidat : abdellatif.aitsalah@gmail.com\n\n📌 POSTE : SUPERVISEUR DE PRODUCTION\n1. Code CV : CV004742\nNom & Prénom : RAFII ANASS\nEmail candidat : anass.rafii86@gmail.com\n\n📌 POSTE : SOUDEUR\n1. Code CV : CV004750\nNom & Prénom : BOP TAMSIR\nEmail candidat : mbidou88@gmail.com\n\n📌 POSTE : RESPONSABLE GESTION DE TRÉSORERIE\n1. Code CV : CV004746\nNom & Prénom : ETTOURY SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : RESPONSABLE ADMINISTRATIF ET FINANCIER\n1. Code CV : CV004747\nNom & Prénom : NE SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : SUPERVISEUR QUALITÉ\n1. Code CV : CV004749\nNom & Prénom : SARTATI HAMZA\nEmail candidat : sartatihamza9@gmail.com\n\n📌 POSTE : RESPONSABLE RESSOURCES HUMAINES\n1. Code CV : CV004743\nNom & Prénom : CHIGUER ANOIRE\nEmail candidat : anoire.chiguer@gmail.com\n\n📌 POSTE : TECHNICIEN MAINTENANCE\n1. Code CV : CV004741\nNom & Prénom : ABALIL RACHID\nEmail candidat : abalil.rachid@gmail.com\n\n📌 POSTE : RESPONSABLE DES AFFAIRES SOCIALES\n1. Code CV : CV004740\nNom & Prénom : KAHLAOUY OUMAIMA\nEmail candidat : oumaima.kahlaouy@gmail.com\n\nCordialement,\nService Si"}}},{"json":{"email":{"to":"abidanas991@gmail.com","subject":"📄 Nouveaux CVs reçus","text":"Bonjour ABID ANAS,\n\nNous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\n\nVous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\n\n📌 POSTE : COORDINATEUR ADMINISTRATIF\n1. Code CV : CV004748\nNom & Prénom : MOUSTATI SAFAA\nEmail candidat : safaamoustatii@gmail.com\n\n📌 POSTE : COMPTABLE\n1. Code CV : CV004745\nNom & Prénom : DIOUF ROKHAYA\nEmail candidat : diouf307@gmail.com\n\n📌 POSTE : RESPONSABLE PRODUCTION\n1. Code CV : CV004744\nNom & Prénom : ABDELLATIF AITSALAH\nEmail candidat : abdellatif.aitsalah@gmail.com\n\n📌 POSTE : SUPERVISEUR DE PRODUCTION\n1. Code CV : CV004742\nNom & Prénom : RAFII ANASS\nEmail candidat : anass.rafii86@gmail.com\n\n📌 POSTE : SOUDEUR\n1. Code CV : CV004750\nNom & Prénom : BOP TAMSIR\nEmail candidat : mbidou88@gmail.com\n\n📌 POSTE : RESPONSABLE GESTION DE TRÉSORERIE\n1. Code CV : CV004746\nNom & Prénom : ETTOURY SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : RESPONSABLE ADMINISTRATIF ET FINANCIER\n1. Code CV : CV004747\nNom & Prénom : NE SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : SUPERVISEUR QUALITÉ\n1. Code CV : CV004749\nNom & Prénom : SARTATI HAMZA\nEmail candidat : sartatihamza9@gmail.com\n\n📌 POSTE : RESPONSABLE RESSOURCES HUMAINES\n1. Code CV : CV004743\nNom & Prénom : CHIGUER ANOIRE\nEmail candidat : anoire.chiguer@gmail.com\n\n📌 POSTE : TECHNICIEN MAINTENANCE\n1. Code CV : CV004741\nNom & Prénom : ABALIL RACHID\nEmail candidat : abalil.rachid@gmail.com\n\n📌 POSTE : RESPONSABLE DES AFFAIRES SOCIALES\n1. Code CV : CV004740\nNom & Prénom : KAHLAOUY OUMAIMA\nEmail candidat : oumaima.kahlaouy@gmail.com\n\nCordialement,\nService Si"}}},{"json":{"email":{"to":"btissam.elkaissi@gmail.com","subject":"📄 Nouveaux CVs reçus","text":"Bonjour EL KAISSI Btissam,\n\nNous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\n\nVous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\n\n📌 POSTE : COORDINATEUR ADMINISTRATIF\n1. Code CV : CV004748\nNom & Prénom : MOUSTATI SAFAA\nEmail candidat : safaamoustatii@gmail.com\n\n📌 POSTE : COMPTABLE\n1. Code CV : CV004745\nNom & Prénom : DIOUF ROKHAYA\nEmail candidat : diouf307@gmail.com\n\n📌 POSTE : RESPONSABLE PRODUCTION\n1. Code CV : CV004744\nNom & Prénom : ABDELLATIF AITSALAH\nEmail candidat : abdellatif.aitsalah@gmail.com\n\n📌 POSTE : SUPERVISEUR DE PRODUCTION\n1. Code CV : CV004742\nNom & Prénom : RAFII ANASS\nEmail candidat : anass.rafii86@gmail.com\n\n📌 POSTE : SOUDEUR\n1. Code CV : CV004750\nNom & Prénom : BOP TAMSIR\nEmail candidat : mbidou88@gmail.com\n\n📌 POSTE : RESPONSABLE GESTION DE TRÉSORERIE\n1. Code CV : CV004746\nNom & Prénom : ETTOURY SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : RESPONSABLE ADMINISTRATIF ET FINANCIER\n1. Code CV : CV004747\nNom & Prénom : NE SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : SUPERVISEUR QUALITÉ\n1. Code CV : CV004749\nNom & Prénom : SARTATI HAMZA\nEmail candidat : sartatihamza9@gmail.com\n\n📌 POSTE : RESPONSABLE RESSOURCES HUMAINES\n1. Code CV : CV004743\nNom & Prénom : CHIGUER ANOIRE\nEmail candidat : anoire.chiguer@gmail.com\n\n📌 POSTE : TECHNICIEN MAINTENANCE\n1. Code CV : CV004741\nNom & Prénom : ABALIL RACHID\nEmail candidat : abalil.rachid@gmail.com\n\n📌 POSTE : RESPONSABLE DES AFFAIRES SOCIALES\n1. Code CV : CV004740\nNom & Prénom : KAHLAOUY OUMAIMA\nEmail candidat : oumaima.kahlaouy@gmail.com\n\nCordialement,\nService Si"}}},{"json":{"email":{"to":"pdg@jbel-annour.com","subject":"📄 Nouveaux CVs reçus","text":"Bonjour BOUZBIB ABDELKADER,\n\nNous vous informons qu’un ensemble de CV a été saisi sur Sage X3 au cours de la journée d’hier.\n\nVous trouverez ci-dessous la liste des candidatures reçues, classées par poste :\n\n📌 POSTE : COORDINATEUR ADMINISTRATIF\n1. Code CV : CV004748\nNom & Prénom : MOUSTATI SAFAA\nEmail candidat : safaamoustatii@gmail.com\n\n📌 POSTE : COMPTABLE\n1. Code CV : CV004745\nNom & Prénom : DIOUF ROKHAYA\nEmail candidat : diouf307@gmail.com\n\n📌 POSTE : RESPONSABLE PRODUCTION\n1. Code CV : CV004744\nNom & Prénom : ABDELLATIF AITSALAH\nEmail candidat : abdellatif.aitsalah@gmail.com\n\n📌 POSTE : SUPERVISEUR DE PRODUCTION\n1. Code CV : CV004742\nNom & Prénom : RAFII ANASS\nEmail candidat : anass.rafii86@gmail.com\n\n📌 POSTE : SOUDEUR\n1. Code CV : CV004750\nNom & Prénom : BOP TAMSIR\nEmail candidat : mbidou88@gmail.com\n\n📌 POSTE : RESPONSABLE GESTION DE TRÉSORERIE\n1. Code CV : CV004746\nNom & Prénom : ETTOURY SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : RESPONSABLE ADMINISTRATIF ET FINANCIER\n1. Code CV : CV004747\nNom & Prénom : NE SOUFIA\nEmail candidat : Settoury@gmail.com\n\n📌 POSTE : SUPERVISEUR QUALITÉ\n1. Code CV : CV004749\nNom & Prénom : SARTATI HAMZA\nEmail candidat : sartatihamza9@gmail.com\n\n📌 POSTE : RESPONSABLE RESSOURCES HUMAINES\n1. Code CV : CV004743\nNom & Prénom : CHIGUER ANOIRE\nEmail candidat : anoire.chiguer@gmail.com\n\n📌 POSTE : TECHNICIEN MAINTENANCE\n1. Code CV : CV004741\nNom & Prénom : ABALIL RACHID\nEmail candidat : abalil.rachid@gmail.com\n\n📌 POSTE : RESPONSABLE DES AFFAIRES SOCIALES\n1. Code CV : CV004740\nNom & Prénom : KAHLAOUY OUMAIMA\nEmail candidat : oumaima.kahlaouy@gmail.com\n\nCordialement,\nService Si"}}}]},"versionId":"f504e94a-4f22-46a7-9165-e78aa9efeedf","triggerCount":1,"tags":[{"createdAt":"2025-12-22T08:59:09.963Z","updatedAt":"2025-12-22T08:59:09.963Z","id":"W1Zz8a6vMM3nITzL","name":"v1"}]}