stc non attacher-Dl1IsiC7RhlYwTfU.json
{"createdAt":"2026-04-29T01:46:22.524Z","updatedAt":"2026-05-02T20:09:41.000Z","id":"Dl1IsiC7RhlYwTfU","name":"STC non attacher","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════════\n// STRUCTURATION DES DONNÉES STC PAR DESTINATAIRE ET NIVEAU\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════════\n\nconst items = $input.all();\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📊 STRUCTURATION DES NOTIFICATIONS - STC');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`STC reçus: ${items.length}`);\n\nconst notifications = {};\n\nitems.forEach(item => {\n  const data = item.json;\n\n  let destinatairePrincipal;\n  let codeDestinataire;\n  let typeDestinataire;\n\n  if (data.niveau_escalade === 'PDG') {\n    destinatairePrincipal = {\n      code:      data.code_pdg,\n      nom:       data.nom_pdg,\n      prenom:    data.prenom_pdg,\n      email:     data.email_pdg,\n      telephone: data.telephone_pdg,\n      chat_id:   data.chat_id_pdg,\n      langue:    data.langue_pdg || 'FRA',\n      bot:       data.bot_pdg\n    };\n    codeDestinataire = data.code_pdg;\n    typeDestinataire = 'PDG';\n\n  } else if (data.niveau_escalade === 'DGA') {\n    destinatairePrincipal = {\n      code:      data.code_dga,\n      nom:       data.nom_dga,\n      prenom:    data.prenom_dga,\n      email:     data.email_dga,\n      telephone: data.telephone_dga,\n      chat_id:   data.chat_id_dga,\n      langue:    data.langue_dga || 'FRA',\n      bot:       data.bot_dga\n    };\n    codeDestinataire = data.code_dga;\n    typeDestinataire = 'DGA';\n\n  } else if (data.niveau_escalade === 'BAALLAH') {\n    destinatairePrincipal = {\n      code:      data.code_baallah,\n      nom:       data.nom_baallah,\n      prenom:    data.prenom_baallah,\n      email:     data.email_baallah,\n      telephone: data.telephone_baallah,\n      chat_id:   data.chat_id_baallah,\n      langue:    data.langue_baallah || 'FRA',\n      bot:       data.bot_baallah\n    };\n    codeDestinataire = data.code_baallah;\n    typeDestinataire = 'BAALLAH';\n\n  } else if (data.niveau_escalade === 'FARHAT') {\n    destinatairePrincipal = {\n      code:      data.code_farhat,\n      nom:       data.nom_farhat,\n      prenom:    data.prenom_farhat,\n      email:     data.email_farhat || null,\n      telephone: data.telephone_farhat || null,\n      chat_id:   data.chat_id_farhat || null,\n      langue:    data.langue_farhat || 'FRA',\n      bot:       data.bot_farhat || null\n    };\n    codeDestinataire = data.code_farhat;\n    typeDestinataire = 'FARHAT';\n\n  } else if (data.niveau_escalade === 'SUPERIEUR') {\n    destinatairePrincipal = {\n      code:      data.code_superieur,\n      nom:       data.nom_superieur,\n      prenom:    data.prenom_superieur,\n      email:     data.email_superieur,\n      telephone: data.tel_superieur,\n      chat_id:   data.chat_id_superieur,\n      langue:    data.langue_superieur || 'FRA',\n      bot:       data.bot_superieur\n    };\n    codeDestinataire = data.code_superieur;\n    typeDestinataire = 'SUPERIEUR';\n\n  } else if (data.niveau_escalade === 'SALARIE') {\n    destinatairePrincipal = {\n      code:      data.code_salarie,\n      nom:       data.nom_salarie,\n      prenom:    '',\n      email:     data.email_salarie,\n      telephone: data.tel_salarie,\n      chat_id:   data.chat_id_salarie,\n      langue:    data.langue_salarie || 'FRA',\n      bot:       data.bot_salarie\n    };\n    codeDestinataire = data.code_salarie;\n    typeDestinataire = 'SALARIE';\n\n  } else {\n    console.log(`⏭️  STC ${data.numero_stc} ignoré (niveau: ${data.niveau_escalade})`);\n    return;\n  }\n\n  const cleDestinataire = `${typeDestinataire}_${codeDestinataire}`;\n\n  if (!notifications[cleDestinataire]) {\n    notifications[cleDestinataire] = {\n      destinataire_principal: destinatairePrincipal,\n      type_destinataire:      typeDestinataire,\n      niveau_escalade:        data.niveau_escalade,\n\n      salarie: {\n        code:      data.code_salarie,\n        nom:       data.nom_salarie,\n        email:     data.email_salarie,\n        telephone: data.tel_salarie,\n        chat_id:   data.chat_id_salarie,\n        langue:    data.langue_salarie || 'FRA',\n        bot:       data.bot_salarie\n      },\n      superieur: {\n        code:      data.code_superieur,\n        nom:       data.nom_superieur,\n        prenom:    data.prenom_superieur,\n        email:     data.email_superieur,\n        telephone: data.tel_superieur,\n        chat_id:   data.chat_id_superieur,\n        langue:    data.langue_superieur || 'FRA',\n        bot:       data.bot_superieur\n      },\n      pdg: {\n        code:      data.code_pdg,\n        nom:       data.nom_pdg,\n        prenom:    data.prenom_pdg,\n        email:     data.email_pdg,\n        telephone: data.telephone_pdg,\n        chat_id:   data.chat_id_pdg,\n        langue:    data.langue_pdg || 'FRA',\n        bot:       data.bot_pdg\n      },\n      dga: {\n        code:      data.code_dga,\n        nom:       data.nom_dga,\n        prenom:    data.prenom_dga,\n        email:     data.email_dga,\n        telephone: data.telephone_dga,\n        chat_id:   data.chat_id_dga,\n        langue:    data.langue_dga || 'FRA',\n        bot:       data.bot_dga\n      },\n      farhat: {\n        code:      data.code_farhat,\n        nom:       data.nom_farhat,\n        prenom:    data.prenom_farhat,\n        email:     data.email_farhat,\n        telephone: data.telephone_farhat,\n        chat_id:   data.chat_id_farhat,\n        langue:    data.langue_farhat || 'FRA',\n        bot:       data.bot_farhat\n      },\n      baallah: {\n        code:      data.code_baallah,\n        nom:       data.nom_baallah,\n        prenom:    data.prenom_baallah,\n        email:     data.email_baallah,\n        telephone: data.telephone_baallah,\n        chat_id:   data.chat_id_baallah,\n        langue:    data.langue_baallah || 'FRA',\n        bot:       data.bot_baallah\n      },\n\n      stc_list: []\n    };\n  }\n\n  notifications[cleDestinataire].stc_list.push({\n    numero_stc:            data.numero_stc,\n    date_demande:          data.date_demande,\n    date_creation:         data.date_creation,\n    utilisateur_createur:  data.utilisateur_createur,\n    code_salarie:          data.code_salarie,\n    nom_salarie:           data.nom_salarie,\n    poste:                 data.poste,\n    salaire_base:          data.salaire_base,\n    net_payer:             data.net_payer,\n    delai_int:             data.delai_int,\n    seuil_dga:             data.seuil_dga,\n    date_limite:           data.date_limite,\n    jours_depuis_creation: data.jours_depuis_creation,\n    jours_restants:        data.jours_restants\n  });\n});\n\nconst resultats = Object.values(notifications).map(notif => {\n  const joursMin   = Math.min(...notif.stc_list.map(s => s.jours_restants));\n  const joursMax   = Math.max(...notif.stc_list.map(s => s.jours_restants));\n  const delaiTotal = parseInt(notif.stc_list[0]?.delai_int) || 10;\n  const seuilDga   = Math.floor(delaiTotal / 2);\n\n  let emailCC   = [];\n  let chatIDsCC = [];\n\n  if (notif.type_destinataire === 'PDG') {\n    if (notif.superieur.email)   emailCC.push(notif.superieur.email);\n    if (notif.salarie.email)     emailCC.push(notif.salarie.email);\n    if (notif.superieur.chat_id) chatIDsCC.push({ chat_id: notif.superieur.chat_id, bot: notif.superieur.bot, langue: notif.superieur.langue, nom: notif.superieur.nom });\n    if (notif.salarie.chat_id)   chatIDsCC.push({ chat_id: notif.salarie.chat_id,   bot: notif.salarie.bot,   langue: notif.salarie.langue,   nom: notif.salarie.nom });\n\n  } else if (notif.type_destinataire === 'SUPERIEUR') {\n    if (notif.salarie.email)   emailCC.push(notif.salarie.email);\n    if (notif.salarie.chat_id) chatIDsCC.push({ chat_id: notif.salarie.chat_id, bot: notif.salarie.bot, langue: notif.salarie.langue, nom: notif.salarie.nom });\n  }\n  // DGA, BAALLAH, FARHAT, SALARIE → pas de CC\n\n  return {\n    destinataire_principal: notif.destinataire_principal,\n    type_destinataire:      notif.type_destinataire,\n    niveau_escalade:        notif.niveau_escalade,\n    email_cc:               emailCC.length   > 0 ? emailCC.join(',') : null,\n    telegram_cc:            chatIDsCC.length > 0 ? chatIDsCC         : null,\n    salarie:   notif.salarie,\n    superieur: notif.superieur,\n    pdg:       notif.pdg,\n    dga:       notif.dga,\n    farhat:    notif.farhat,\n    baallah:   notif.baallah,\n    stc_list:  notif.stc_list,\n    statistiques: {\n      total_stc:   notif.stc_list.length,\n      jours_min:   joursMin,\n      jours_max:   joursMax,\n      priorite:    notif.niveau_escalade,\n      delai_total: delaiTotal,\n      seuil_dga:   seuilDga\n    },\n    meta: {\n      date_traitement:       new Date().toISOString(),\n      langue_message:        notif.destinataire_principal.langue || 'FRA',\n      peut_envoyer_email:    !!notif.destinataire_principal.email,\n      peut_envoyer_telegram: !!notif.destinataire_principal.chat_id\n    }\n  };\n});\n\nconsole.log(`\\n✅ Notifications structurées: ${resultats.length}`);\nconsole.log('Par type:');\n['PDG','DGA','BAALLAH','FARHAT','SUPERIEUR','SALARIE'].forEach(t => {\n  const n = resultats.filter(r => r.type_destinataire === t).length;\n  if (n > 0) console.log(`  - ${t}: ${n}`);\n});\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn resultats.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,1136],"id":"e087f3a9-d75b-43f0-869b-43a30b4e9a6d","name":"Structuration STC par Destinataire","notes":"Groupe les STC par destinataire avec escalade : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG"},{"parameters":{"jsCode":"// ═══════════════════════════════════════════════════════════\n// GÉNÉRATION DES MESSAGES STC — MULTILINGUE (FRA / ARA / ENG)\n// Niveaux : SALARIE / SUPERIEUR / FARHAT / BAALLAH / DGA / PDG\n// ═══════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\n\nconst TEMPLATES = {\n  FRA: {\n    sujet_email: {\n      PDG:      '🔴 ALERTE URGENTE - Situations de Carrière sans Justificatif',\n      DGA:      '🟠 INFO DGA - Situations de Carrière à Mi-Délai',\n      BAALLAH:  '🔵 INFO RH - Situations de Carrière à Surveiller',\n      FARHAT:   '🔵 INFO PRÉVENTIVE - Situations de Carrière à Surveiller',\n      SUPERIEUR:'🟠 IMPORTANT - Situations de Carrière sans Justificatif',\n      SALARIE:  '🟡 Rappel - Situation de Carrière à Compléter'\n    },\n    salutation: 'Bonjour',\n    introduction: {\n      PDG:      'ALERTE URGENTE - Les STC suivantes nécessitent votre attention IMMÉDIATE',\n      DGA:      'Information - Les STC suivantes ont atteint la moitié de leur délai sans justificatif attaché',\n      BAALLAH:  'Information RH - Les STC suivantes approchent de leur délai limite',\n      FARHAT:   'Information préventive - Les STC suivantes approchent de leur délai limite',\n      SUPERIEUR:'Les STC suivantes requièrent votre attention en priorité',\n      SALARIE:  'Rappel concernant vos demandes STC en attente de justificatif'\n    },\n    section_stats:    'STATISTIQUES',\n    total:            'Total STC',\n    delai_min:        'Délai minimum restant',\n    jours:            'jour(s)',\n    seuil_dga:        'Seuil mi-délai',\n    delai_total:      'Délai total paramétré',\n    section_liste:    'LISTE DES STC SANS JUSTIFICATIF',\n    num:              'N° STC',\n    date_demande:     'Date demande',\n    salarie:          'Salarié',\n    poste:            'Poste',\n    salaire:          'Salaire de base',\n    net:              'Net à payer',\n    restant:          'Jours restants',\n    limite:           'Date limite',\n    action:           'ACTION REQUISE',\n    instruction: {\n      PDG:      'Veuillez vous assurer que les justificatifs STC sont fournis immédiatement.',\n      DGA:      'Ces STC ont dépassé la moitié du délai autorisé sans justificatif. Merci de vous assurer que des actions correctives sont engagées.',\n      BAALLAH:  'Veuillez vous assurer que les justificatifs STC sont fournis dans les délais.',\n      FARHAT:   'Veuillez vous assurer que les justificatifs STC sont fournis avant la date limite.',\n      SUPERIEUR:'Veuillez vous assurer que votre collaborateur fournit les justificatifs STC rapidement.',\n      SALARIE:  'Veuillez attacher le justificatif correspondant à votre demande STC dans les meilleurs délais.'\n    },\n    urgent:           'URGENT - Justificatif requis immédiatement',\n    cordialement:     'Cordialement',\n    signature:        'Service SI/IA - Jbel Annour',\n    message_auto:     'Message automatique',\n    ne_pas_repondre:  'Merci de ne pas répondre à cet email',\n    copie_info:       '📋 CC',\n    cc_message: {\n      base:             \"Un message d'alerte concernant les STC suivantes a été envoyé à\",\n      votre_superieur:  'votre supérieur(e)',\n      le_pdg:           'la Direction (PDG)',\n      le_dga:           'la Direction Générale Adjointe (DGA)',\n      le_farhat:        'le Responsable RH',\n      le_baallah:       'la Direction RH',\n      action:           'Veuillez prendre les mesures nécessaires pour fournir les justificatifs STC dans les délais.'\n    }\n  },\n  ARA: {\n    sujet_email: {\n      PDG:      '🔴 تنبيه عاجل - وضعيات المسار بدون مبرر',\n      DGA:      '🟠 معلومة المدير العام المساعد - وضعيات المسار في منتصف المهلة',\n      BAALLAH:  '🔵 معلومة الموارد البشرية - وضعيات المسار للمراقبة',\n      FARHAT:   '🔵 معلومة وقائية - وضعيات المسار للمراقبة',\n      SUPERIEUR:'🟠 هام - وضعيات المسار بدون مبرر',\n      SALARIE:  '🟡 تذكير - وضعية المسار للإكمال'\n    },\n    salutation: 'مرحبا',\n    introduction: {\n      PDG:      'تنبيه عاجل - وضعيات المسار التالية تتطلب اهتمامك الفوري',\n      DGA:      'معلومة - وضعيات المسار التالية تجاوزت نصف المهلة المحددة دون إرفاق مبررات',\n      BAALLAH:  'معلومة الموارد البشرية - وضعيات المسار التالية تقترب من تاريخ انتهاء مهلتها',\n      FARHAT:   'معلومة وقائية - وضعيات المسار التالية تقترب من تاريخ انتهاء مهلتها',\n      SUPERIEUR:'وضعيات المسار التالية تتطلب اهتمامك بالأولوية',\n      SALARIE:  'تذكير بخصوص طلبات وضعية المسار في انتظار تقديم المبرر'\n    },\n    section_stats:    'الإحصائيات',\n    total:            'إجمالي وضعيات المسار',\n    delai_min:        'الحد الأدنى للمهلة المتبقية',\n    jours:            'يوم/أيام',\n    seuil_dga:        'عتبة منتصف المهلة',\n    delai_total:      'المهلة الإجمالية المحددة',\n    section_liste:    'قائمة وضعيات المسار بدون مبرر',\n    num:              'رقم الوضعية',\n    date_demande:     'تاريخ الطلب',\n    salarie:          'الموظف',\n    poste:            'المنصب',\n    salaire:          'الأجر الأساسي',\n    net:              'صافي الأجر',\n    restant:          'الأيام المتبقية',\n    limite:           'تاريخ الانتهاء',\n    action:           'الإجراء المطلوب',\n    instruction: {\n      PDG:      'يرجى التأكد من تقديم مبررات وضعيات المسار فورا.',\n      DGA:      'تجاوزت وضعيات المسار نصف المهلة المسموح بها دون مبررات. يرجى التأكد من اتخاذ الإجراءات التصحيحية.',\n      BAALLAH:  'يرجى التأكد من تقديم مبررات وضعيات المسار في المواعيد المحددة.',\n      FARHAT:   'يرجى التأكد من تقديم مبررات وضعيات المسار قبل تاريخ الانتهاء.',\n      SUPERIEUR:'يرجى التأكد من أن موظفك يقدم مبررات وضعية المسار في أسرع وقت.',\n      SALARIE:  'يرجى إرفاق المبرر الخاص بطلب وضعية مسارك في أقرب وقت ممكن.'\n    },\n    urgent:           'عاجل - تقديم المبرر فورا',\n    cordialement:     'مع أطيب التحيات',\n    signature:        'قسم SI/IA - جبل النور',\n    message_auto:     'رسالة تلقائية',\n    ne_pas_repondre:  'يرجى عدم الرد على هذا البريد الإلكتروني',\n    copie_info:       '📋 نسخة للعلم',\n    cc_message: {\n      base:            'تم إرسال رسالة تنبيه بخصوص وضعيات المسار التالية إلى',\n      votre_superieur: 'رئيسك المباشر',\n      le_pdg:          'الإدارة (المدير العام)',\n      le_dga:          'المدير العام المساعد',\n      le_farhat:       'مسؤول الموارد البشرية',\n      le_baallah:      'إدارة الموارد البشرية',\n      action:          'يرجى اتخاذ الإجراءات اللازمة لتقديم مبررات وضعيات المسار في المواعيد المحددة.'\n    }\n  },\n  ENG: {\n    sujet_email: {\n      PDG:      '🔴 URGENT ALERT - Career Situations without Justification',\n      DGA:      '🟠 DGA INFO - Career Situations at Mid-Deadline',\n      BAALLAH:  '🔵 HR INFO - Career Situations to Monitor',\n      FARHAT:   '🔵 PREVENTIVE INFO - Career Situations to Monitor',\n      SUPERIEUR:'🟠 IMPORTANT - Career Situations without Justification',\n      SALARIE:  '🟡 Reminder - Career Situation to Complete'\n    },\n    salutation: 'Hello',\n    introduction: {\n      PDG:      'URGENT ALERT - The following career situations require your IMMEDIATE attention',\n      DGA:      'Information - The following career situations have exceeded half their deadline without justification',\n      BAALLAH:  'HR Information - The following career situations are approaching their deadline',\n      FARHAT:   'Preventive information - The following career situations are approaching their deadline',\n      SUPERIEUR:'The following career situations require your priority attention',\n      SALARIE:  'Reminder about your pending career situation requests'\n    },\n    section_stats:    'STATISTICS',\n    total:            'Total career situations',\n    delai_min:        'Minimum remaining deadline',\n    jours:            'day(s)',\n    seuil_dga:        'Mid-deadline threshold',\n    delai_total:      'Configured total deadline',\n    section_liste:    'LIST OF CAREER SITUATIONS WITHOUT JUSTIFICATION',\n    num:              'STC number',\n    date_demande:     'Request date',\n    salarie:          'Employee',\n    poste:            'Position',\n    salaire:          'Base salary',\n    net:              'Net pay',\n    restant:          'Remaining days',\n    limite:           'Deadline',\n    action:           'ACTION REQUIRED',\n    instruction: {\n      PDG:      'Please ensure that STC justifications are provided immediately.',\n      DGA:      'These career situations have exceeded half their allowed deadline without justification. Please ensure corrective actions are underway.',\n      BAALLAH:  'Please ensure that STC justifications are provided within the deadlines.',\n      FARHAT:   'Please ensure that STC justifications are provided before the deadline.',\n      SUPERIEUR:'Please ensure that your employee provides the STC justification quickly.',\n      SALARIE:  'Please attach the justification for your career situation request as soon as possible.'\n    },\n    urgent:           'URGENT - Justification required immediately',\n    cordialement:     'Best regards',\n    signature:        'IT/AI Department - Jbel Annour',\n    message_auto:     'Automatic message',\n    ne_pas_repondre:  'Please do not reply to this email',\n    copie_info:       '📋 COPY FOR INFORMATION',\n    cc_message: {\n      base:            'An alert message regarding the following career situations has been sent to',\n      votre_superieur: 'your supervisor',\n      le_pdg:          'the Management (CEO)',\n      le_dga:          'the Deputy General Manager (DGA)',\n      le_farhat:       'the HR Manager',\n      le_baallah:      'the HR Director',\n      action:          'Please take the necessary measures to provide the STC justifications within the specified deadlines.'\n    }\n  }\n};\n\nfunction formaterDate(dateStr, langue) {\n  if (!dateStr) return 'N/A';\n  try {\n    const date = new Date(dateStr);\n    const locale = langue === 'ARA' ? 'ar-MA' : langue === 'ENG' ? 'en-US' : 'fr-FR';\n    return date.toLocaleDateString(locale, { year: 'numeric', month: '2-digit', day: '2-digit' });\n  } catch(e) { return dateStr; }\n}\n\nfunction formaterNombre(n) {\n  if (n == null) return 'N/A';\n  return Number(n).toLocaleString('fr-FR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n}\n\nfunction getEmoji(jours) {\n  if (jours <= 1) return '🔴';\n  if (jours <= 3) return '🟠';\n  if (jours <= 5) return '🟡';\n  return '🔵';\n}\n\nfunction genererMessagePrincipal(data) {\n  const langue = data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const dest = data.destinataire_principal;\n  const stats = data.statistiques;\n  const stcList = data.stc_list;\n  const type = data.type_destinataire;\n\n  let emailSubject = (T.sujet_email[type] || T.sujet_email.SALARIE) + ` - ${stats.total_stc} STC`;\n\n  let emailBody = `${T.salutation} ${dest.prenom ? dest.prenom + ' ' : ''}${dest.nom},\\n\\n`;\n  emailBody += `${T.introduction[type]}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📊 ${T.section_stats}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau d'escalade: ${data.niveau_escalade}\\n`;\n  emailBody += `${T.total}: ${stats.total_stc}\\n`;\n  emailBody += `${T.delai_min}: ${stats.jours_min} ${T.jours}\\n`;\n  emailBody += `${T.delai_total}: ${stats.delai_total} ${T.jours}\\n`;\n  if (['DGA','BAALLAH'].includes(type)) {\n    emailBody += `${T.seuil_dga}: ${stats.seuil_dga} ${T.jours}\\n`;\n  }\n  emailBody += `\\n═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_liste}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n  stcList.forEach((stc, index) => {\n    emailBody += `${index + 1}. ${getEmoji(stc.jours_restants)} ${stc.numero_stc}\\n`;\n    emailBody += `   📅 ${T.date_demande}: ${formaterDate(stc.date_demande, langue)}\\n`;\n    emailBody += `   🧑 ${T.salarie}: ${stc.nom_salarie} (${stc.code_salarie})\\n`;\n    if (stc.poste)        emailBody += `   💼 ${T.poste}: ${stc.poste}\\n`;\n    if (stc.salaire_base) emailBody += `   💰 ${T.salaire}: ${formaterNombre(stc.salaire_base)} MAD\\n`;\n    if (stc.net_payer)    emailBody += `   💵 ${T.net}: ${formaterNombre(stc.net_payer)} MAD\\n`;\n    emailBody += `   ⏰ ${T.restant}: ${stc.jours_restants} ${T.jours} (${T.limite}: ${formaterDate(stc.date_limite, langue)})\\n`;\n    if (stc.jours_restants <= 1) emailBody += `   🚨 ${T.urgent}\\n`;\n    emailBody += `\\n`;\n  });\n\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📌 ${T.action}: ${T.instruction[type]}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} - ${formaterDate(new Date().toISOString(), langue)}\\n`;\n  emailBody += `${T.ne_pas_repondre}\\n`;\n\n  // ── Telegram ──\n  let telegram = `${getEmoji(stats.jours_min)} *${T.sujet_email[type]}*\\n`;\n  telegram += `━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegram += `👤 *${dest.prenom ? dest.prenom + ' ' : ''}${dest.nom}*\\n\\n`;\n  telegram += `📊 *${T.section_stats}*\\n`;\n  telegram += `${T.total}: *${stats.total_stc}*\\n`;\n  telegram += `${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  telegram += `📋 *${T.section_liste}*\\n\\n`;\n  stcList.slice(0, 5).forEach((stc, index) => {\n    telegram += `${index + 1}. ${getEmoji(stc.jours_restants)} *${stc.numero_stc}*\\n`;\n    telegram += `   📅 ${formaterDate(stc.date_demande, langue)}\\n`;\n    telegram += `   🧑 ${stc.nom_salarie}\\n`;\n    telegram += `   ⏰ ${stc.jours_restants} ${T.jours}\\n\\n`;\n  });\n  if (stcList.length > 5) telegram += `... et ${stcList.length - 5} autre(s) STC\\n\\n`;\n  if (stats.jours_min <= 1) telegram += `🚨 *${T.urgent}*\\n\\n`;\n\n  return {\n    email:    { subject: emailSubject, body: emailBody },\n    telegram: { text: telegram, parse_mode: 'Markdown' }\n  };\n}\n\nfunction genererMessageCC(data, destinataireCC, typeDestinatairePrincipal) {\n  const langue = destinataireCC.langue || data.meta.langue_message || 'FRA';\n  const T = TEMPLATES[langue] || TEMPLATES.FRA;\n  const stats = data.statistiques;\n  const stcList = data.stc_list;\n  const destPrincipal = data.destinataire_principal;\n\n  const labels = {\n    SUPERIEUR: T.cc_message.votre_superieur,\n    PDG:       T.cc_message.le_pdg,\n    DGA:       T.cc_message.le_dga,\n    FARHAT:    T.cc_message.le_farhat,\n    BAALLAH:   T.cc_message.le_baallah\n  };\n  const label = labels[typeDestinatairePrincipal] || typeDestinatairePrincipal;\n\n  let emailSubject = `${T.copie_info} - ${T.sujet_email[typeDestinatairePrincipal]} - ${stats.total_stc} STC`;\n\n  let emailBody = `${T.salutation} ${destinataireCC.prenom ? destinataireCC.prenom + ' ' : ''}${destinataireCC.nom},\\n\\n`;\n  emailBody += `${T.cc_message.base} ${label} ${destPrincipal.prenom || ''} ${destPrincipal.nom}.\\n\\n`;\n  emailBody += `${getEmoji(stats.jours_min)} Niveau: ${data.niveau_escalade} | ${T.total}: ${stats.total_stc} | ${T.delai_min}: ${stats.jours_min} ${T.jours}\\n\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n`;\n  emailBody += `📋 ${T.section_liste}\\n`;\n  emailBody += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  stcList.forEach((stc, index) => {\n    emailBody += `${index + 1}. ${getEmoji(stc.jours_restants)} ${stc.numero_stc}\\n`;\n    emailBody += `   🧑 ${stc.nom_salarie} (${stc.code_salarie})\\n`;\n    emailBody += `   ⏰ ${stc.jours_restants} ${T.jours} (${T.limite}: ${formaterDate(stc.date_limite, langue)})\\n\\n`;\n  });\n  emailBody += `${T.cc_message.action}\\n\\n`;\n  emailBody += `${T.cordialement},\\n\\n${T.signature}\\n`;\n  emailBody += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n  emailBody += `🤖 ${T.message_auto} | ${T.copie_info} | ${T.ne_pas_repondre}\\n`;\n\n  let telegram = `${T.copie_info}\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n`;\n  telegram += `${T.salutation} *${destinataireCC.prenom ? destinataireCC.prenom + ' ' : ''}${destinataireCC.nom}*,\\n\\n`;\n  telegram += `${T.cc_message.base} ${label} *${destPrincipal.prenom || ''} ${destPrincipal.nom}*.\\n\\n`;\n  telegram += `📊 ${T.total}: *${stats.total_stc}* | ${T.delai_min}: *${stats.jours_min} ${T.jours}*\\n\\n`;\n  stcList.slice(0, 3).forEach((stc, index) => {\n    telegram += `${index + 1}. ${getEmoji(stc.jours_restants)} *${stc.numero_stc}*\\n`;\n    telegram += `   🧑 ${stc.nom_salarie} — ⏰ ${stc.jours_restants} ${T.jours}\\n\\n`;\n  });\n  if (stcList.length > 3) telegram += `... et ${stcList.length - 3} autre(s) STC\\n\\n`;\n  telegram += `${T.cc_message.action}\\n`;\n\n  return {\n    email:    { subject: emailSubject, body: emailBody },\n    telegram: { text: telegram, parse_mode: 'Markdown' }\n  };\n}\n\n// ─── DISPATCH ───\nconst results = [];\n\ninputData.forEach(item => {\n  const data = item.json;\n  const messagesPrincipal = genererMessagePrincipal(data);\n\n  results.push({\n    json: {\n      ...data,\n      messages:           messagesPrincipal,\n      type_envoi:         'PRINCIPAL',\n      destinataire_final: data.destinataire_principal,\n      meta: { ...data.meta, langue_utilisee: data.meta.langue_message || 'FRA', date_generation: new Date().toISOString() }\n    }\n  });\n\n  // CC : SUPERIEUR → copie au salarié\n  if (data.type_destinataire === 'SUPERIEUR' && data.salarie?.chat_id) {\n    const msgCC = genererMessageCC(data, data.salarie, 'SUPERIEUR');\n    results.push({ json: {\n      ...data, messages: msgCC, type_envoi: 'CC',\n      destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n      meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n    }});\n  }\n\n  // CC : PDG → copie supérieur + salarié\n  if (data.type_destinataire === 'PDG') {\n    if (data.superieur?.chat_id) {\n      const msgCCSup = genererMessageCC(data, data.superieur, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSup, type_envoi: 'CC',\n        destinataire_final: data.superieur, cc_pour_profil: 'SUPERIEUR',\n        meta: { ...data.meta, langue_utilisee: data.superieur.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n    if (data.salarie?.chat_id) {\n      const msgCCSal = genererMessageCC(data, data.salarie, 'PDG');\n      results.push({ json: {\n        ...data, messages: msgCCSal, type_envoi: 'CC',\n        destinataire_final: data.salarie, cc_pour_profil: 'SALARIE',\n        meta: { ...data.meta, langue_utilisee: data.salarie.langue || 'FRA', date_generation: new Date().toISOString() }\n      }});\n    }\n  }\n  // BAALLAH, DGA, FARHAT, SALARIE → pas de CC\n});\n\nconsole.log('\\n═══════════════════════════════════════════════════');\nconsole.log('📧 GÉNÉRATION DES MESSAGES STC');\nconsole.log('═══════════════════════════════════════════════════');\nconsole.log(`Total messages: ${results.length}`);\nconsole.log(`  Principaux: ${results.filter(r => r.json.type_envoi === 'PRINCIPAL').length}`);\nconsole.log(`  CC:         ${results.filter(r => r.json.type_envoi === 'CC').length}`);\nconsole.log('═══════════════════════════════════════════════════\\n');\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,1136],"id":"56cb731c-eef5-4d4b-936f-58bff219ba40","name":"Génération Messages Multilingues STC","notes":"Génère les messages email + Telegram en FRA/ARA/ENG pour tous les niveaux d'escalade STC"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"email-filter-test","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"factoryforceresources@gmail.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,944],"id":"02c4d8ef-7e62-481d-82b9-92f68685b623","name":"Filtre Email Test STC"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-email-stc","leftValue":"={{ $json.destinataire_principal.email }}","rightValue":"pdg@jbel-annour.com","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,848],"id":"8075aa8e-2df4-4faa-8e30-d5f8f4837ea9","name":"Not PDG Email STC"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1264,1040],"id":"93c93bb3-742e-437a-8e3a-9a4d6a1497c0","name":"No Op Email Test STC"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,944],"id":"6f07c5b1-a8b3-4ae3-943d-7b34e813ce80","name":"No Op PDG Email STC"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.destinataire_principal.email }}","subject":"={{ $json.messages.email.subject }}","emailFormat":"text","text":"={{ $json.messages.email.body }}","options":{"appendAttribution":false,"ccEmail":"={{ $json.email_cc }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1488,752],"id":"324fcc5c-b257-475a-b71b-38410f0aed46","name":"Envoi Email STC","webhookId":"a2fbce23-5b09-4414-a977-749471b13b34","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}},"notes":"Envoi email avec CC selon escalade"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"chat-id-exists-stc","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"= ","operator":{"type":"string","operation":"notEquals"}},{"id":"chat-id-exists-stc-2","leftValue":"={{ $json.destinataire_final.chat_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,1328],"id":"3c6bb4cb-76a3-4289-8a23-d09e4a616bce","name":"Si Chat ID Existe STC"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-pdg-chat-stc","leftValue":"={{ $json.destinataire_principal.chat_id }}","rightValue":"8528101210","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1264,1232],"id":"cac12f81-c707-4b4c-b39b-fe31f216ea8f","name":"Not PDG Chat STC"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1264,1424],"id":"29727613-e2a8-4232-8dd7-c6cdf60bea6d","name":"No Op No Chat ID STC"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1488,1328],"id":"42edda2f-a093-494d-82d0-d02870a9c284","name":"No Op PDG Chat STC"},{"parameters":{"chatId":"={{ $json.destinataire_final.chat_id }}","text":"={{ $json.messages.telegram.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1488,1136],"id":"5305feb6-b26e-4543-a525-b080df1d7397","name":"Envoi Telegram STC","webhookId":"cd4d66b1-68cc-42ef-baa5-c1668ff201d2","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}},"notes":"Envoi Telegram au destinataire final (principal ou CC)"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,1232],"id":"7d945a89-191f-4003-816f-39033ca0dfbe","name":"Schedule Trigger STC1"},{"parameters":{"operation":"executeQuery","query":"-- ═══════════════════════════════════════════════════════════\n-- SITUATION DE CARRIÈRE (STC) — YSTCDON\n-- Multi-destination : une ligne par niveau d'escalade actif\n-- ═══════════════════════════════════════════════════════════\n\nWITH base AS (\n    SELECT\n        stc.YNUMSTC_0           AS numero_stc,\n        stc.YDATE_0             AS date_demande,\n        stc.CREDATTIM_0         AS date_creation,\n        stc.CREUSR_0            AS utilisateur_createur,\n\n        stc.YSAL_0              AS code_salarie,\n        stc.YNOMSAL_0           AS nom_salarie,\n        stc.XDTE_0              AS date_entree,\n        stc.YPOSTE_0            AS poste,\n        stc.YSALBASE_0          AS salaire_base,\n        stc.YNETP_0             AS net_payer,\n\n        x.XEMAIL_0              AS email_salarie,\n        x.YTELE_0               AS tel_salarie,\n        x.YSUP_0                AS code_superieur,\n\n        xx.XSAL_0               AS code_sup,\n        xx.XNAMSAL_0            AS nom_superieur,\n        xx.XPRENOM_0            AS prenom_superieur,\n        xx.XEMAIL_0             AS email_superieur,\n        xx.YTELE_0              AS tel_superieur,\n\n        pdg.XSAL_0              AS code_pdg,\n        pdg.XNAMSAL_0           AS nom_pdg,\n        pdg.XPRENOM_0           AS prenom_pdg,\n        pdg.XEMAIL_0            AS email_pdg,\n        pdg.YTELE_0             AS telephone_pdg,\n\n        dga.XSAL_0              AS code_dga,\n        dga.XNAMSAL_0           AS nom_dga,\n        dga.XPRENOM_0           AS prenom_dga,\n        dga.XEMAIL_0            AS email_dga,\n        dga.YTELE_0             AS telephone_dga,\n\n        farhat.XSAL_0           AS code_farhat,\n        farhat.XNAMSAL_0        AS nom_farhat,\n        farhat.XPRENOM_0        AS prenom_farhat,\n        farhat.XEMAIL_0         AS email_farhat,\n        farhat.YTELE_0          AS telephone_farhat,\n\n        baallah.XSAL_0          AS code_baallah,\n        baallah.XNAMSAL_0       AS nom_baallah,\n        baallah.XPRENOM_0       AS prenom_baallah,\n        baallah.XEMAIL_0        AS email_baallah,\n        baallah.YTELE_0         AS telephone_baallah,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = stc.YSAL_0) AS chat_id_salarie,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = stc.YSAL_0) AS langue_salarie,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = stc.YSAL_0) AS bot_salarie,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS chat_id_superieur,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS langue_superieur,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = xx.XSAL_0) AS bot_superieur,\n\n        '8528101210'            AS chat_id_pdg,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS langue_pdg,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = pdg.XSAL_0) AS bot_pdg,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS chat_id_dga,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS langue_dga,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = dga.XSAL_0) AS bot_dga,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS chat_id_farhat,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS langue_farhat,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = farhat.XSAL_0) AS bot_farhat,\n\n        (SELECT inf.TIDCHAT_0 FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS chat_id_baallah,\n        (SELECT inf.LAN_0     FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS langue_baallah,\n        (SELECT inf.YBOT_0    FROM jbelrh.JBELRH.YAIINFOSAL inf WHERE inf.XSAL_0 = baallah.XSAL_0) AS bot_baallah,\n\n        CAST(P.VALEUR_0 AS INT)                                                             AS delai_int,\n        DATEADD(DAY, CAST(P.VALEUR_0 AS INT), stc.CREDATTIM_0)                             AS date_limite,\n        DATEDIFF(DAY, stc.CREDATTIM_0, GETDATE())                                           AS jours_depuis_creation,\n        DATEDIFF(DAY, GETDATE(),\n            DATEADD(DAY, CAST(P.VALEUR_0 AS INT), stc.CREDATTIM_0))                        AS jours_restants,\n        CAST(P.VALEUR_0 AS INT) / 2                                                         AS seuil_dga\n\n    FROM [jbelrh].[JBELRH].[YSTCDON] stc\n\n        LEFT JOIN jbelrh.JBELRH.XSAL x\n            ON x.XSAL_0 = stc.YSAL_0\n\n        LEFT JOIN jbelrh.JBELRH.XSAL xx\n            ON xx.XSAL_0 = x.YSUP_0\n\n        CROSS APPLY (\n            SELECT TOP 1 VALEUR_0\n            FROM jbelrh.JBELRH.ADOVAL\n            WHERE PARAM_0 = 'YDELSTC'\n        ) P\n\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0066'\n        ) pdg\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0949'\n        ) dga\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S1602'\n        ) farhat\n        CROSS APPLY (\n            SELECT TOP 1 XSAL_0, XNAMSAL_0, XPRENOM_0, XEMAIL_0, YTELE_0\n            FROM jbelrh.JBELRH.XSAL WHERE XSAL_0 = 'S0179'\n        ) baallah\n\n    WHERE\n        NOT EXISTS (\n            SELECT 1 FROM [jbelrh].[JBELRH].[AOBJTXT] ao\n            WHERE stc.YNUMSTC_0 = ao.IDENT1_0\n              AND ao.ABREV_0 = 'YSST'\n        )\n        AND CAST(stc.CREDATTIM_0 AS DATE) >= '2024-01-01'\n        AND stc.CREDATTIM_0 >= DATEADD(DAY, -CAST(P.VALEUR_0 AS INT), GETDATE())\n)\n\nSELECT *, 'SALARIE'   AS niveau_escalade FROM base WHERE jours_restants = 4\nUNION ALL\nSELECT *, 'SUPERIEUR' AS niveau_escalade FROM base WHERE jours_restants = 3\nUNION ALL\nSELECT *, 'FARHAT'    AS niveau_escalade FROM base WHERE jours_restants BETWEEN 5 AND 8\nUNION ALL\nSELECT *, 'BAALLAH'   AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 8\nUNION ALL\nSELECT *, 'DGA'       AS niveau_escalade FROM base WHERE jours_restants <= seuil_dga AND jours_restants > 4\nUNION ALL\nSELECT *, 'PDG'       AS niveau_escalade FROM base WHERE jours_restants <= 2\n\nORDER BY jours_restants ASC, niveau_escalade DESC;"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[144,1232],"id":"f358ecf8-8678-43fb-8874-85c222d26f86","name":"SQL - STC sans justificatif1","credentials":{"microsoftSql":{"id":"urE2RXcTk330zGDx","name":"sageRH"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-data-stc","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,1232],"id":"48f0d10a-1ce5-4851-abdc-0b4765d182bf","name":"Vérifier Données STC1","notes":"Stoppe si aucun STC à notifier"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,1328],"id":"19013e62-6b0e-4f01-96d9-39f3190a01b0","name":"Fin - Aucun STC à notifier1","notes":"Aucun STC dans la fenêtre de notification"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,944],"id":"2474ee8f-f414-43e5-8631-8a8e0e36df2e","name":"Fin Workflow STC1"}],"connections":{"Structuration STC par Destinataire":{"main":[[{"node":"Génération Messages Multilingues STC","type":"main","index":0}]]},"Génération Messages Multilingues STC":{"main":[[{"node":"Filtre Email Test STC","type":"main","index":0},{"node":"Si Chat ID Existe STC","type":"main","index":0}]]},"Filtre Email Test STC":{"main":[[{"node":"Not PDG Email STC","type":"main","index":0}],[{"node":"No Op Email Test STC","type":"main","index":0}]]},"Not PDG Email STC":{"main":[[{"node":"Envoi Email STC","type":"main","index":0}],[{"node":"No Op PDG Email STC","type":"main","index":0}]]},"Si Chat ID Existe STC":{"main":[[{"node":"Not PDG Chat STC","type":"main","index":0}],[{"node":"No Op No Chat ID STC","type":"main","index":0}]]},"Not PDG Chat STC":{"main":[[{"node":"Envoi Telegram STC","type":"main","index":0}],[{"node":"No Op PDG Chat STC","type":"main","index":0}]]},"Envoi Email STC":{"main":[[{"node":"Fin Workflow STC1","type":"main","index":0}]]},"Envoi Telegram STC":{"main":[[{"node":"Fin Workflow STC1","type":"main","index":0}]]},"Schedule Trigger STC1":{"main":[[{"node":"SQL - STC sans justificatif1","type":"main","index":0}]]},"SQL - STC sans justificatif1":{"main":[[{"node":"Vérifier Données STC1","type":"main","index":0}]]},"Vérifier Données STC1":{"main":[[{"node":"Structuration STC par Destinataire","type":"main","index":0}],[{"node":"Fin - Aucun STC à notifier1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger STC":{"recurrenceRules":[]},"node:Schedule Trigger STC1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"830b098b-91b3-4f50-a040-a2298a500d7b","triggerCount":1,"tags":[]}