traitement des justifiation d'absence-9ZPZmqtLLE2waPon.json
{"createdAt":"2026-01-10T16:31:57.006Z","updatedAt":"2026-02-05T08:27:12.000Z","id":"9ZPZmqtLLE2waPon","name":"traitement des justifiation d'absence","active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-960,-544],"id":"d9c15f05-6154-4f45-858c-192ada24e976","name":"OpenAI Model","credentials":{"openAiApi":{"id":"AKOOfl9dTdallAmP","name":"openIA_key"}},"disabled":true},{"parameters":{"httpMethod":"POST","path":"absence-justification","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-960,-240],"id":"701e2764-2c03-466f-ae44-713b58acc303","name":"Webhook","webhookId":"6237f891-def5-404a-bd2d-d989e46ed303"},{"parameters":{"jsCode":"// Script pour organiser les données du webhook d'absence\n// À utiliser dans un nœud \"Code\" dans N8N\n\n// Récupérer les données du webhook\nconst webhookData = $input.all()[0].json;\nconst binaryInput = $input.all()[0].binary || {};\n\n// Extraire les informations du body\nconst body = webhookData.body;\n\n// Fonction pour formater la date\nfunction formatDate(dateString) {\n  const date = new Date(dateString);\n  const options = { year: 'numeric', month: 'long', day: 'numeric' };\n  return date.toLocaleDateString('fr-FR', options);\n}\n\n// Fonction pour formater le timestamp\nfunction formatTimestamp(timestamp) {\n  const date = new Date(timestamp);\n  const options = { \n    year: 'numeric', \n    month: '2-digit', \n    day: '2-digit',\n    hour: '2-digit', \n    minute: '2-digit',\n    second: '2-digit',\n    timeZone: 'Africa/Casablanca'\n  };\n  return date.toLocaleString('fr-FR', options);\n}\n\n// Mapper les types d'absence en français\nconst typesAbsence = {\n  'OUBLI_POINTAGE': 'Oubli de pointage',\n  'MALADIE': 'Maladie',\n  'CONGE': 'Congé',\n  'PERMISSION': 'Permission',\n  'AUTRE': 'Autre'\n};\n\n// Organiser les données principales\nconst donneesOrganisees = {\n  // Informations de validation\n  validation: {\n    token: body.token,\n    timestamp_soumission: body.timestamp_soumission,\n    date_soumission_formatee: formatTimestamp(body.timestamp_soumission)\n  },\n  \n  // Informations de l'employé\n  employe: {\n    code: body.code_employe,\n    nom_complet: body.nom_employe,\n    nom_formate: body.nom_employe.split(' ')\n      .map(word => word.charAt(0) + word.slice(1).toLowerCase())\n      .join(' ')\n  },\n  \n  // Informations sur l'absence\n  absence: {\n    date: body.date_absence,\n    date_formatee: formatDate(body.date_absence),\n    type_code: body.type_absence,\n    type_libelle: typesAbsence[body.type_absence] || body.type_absence,\n    motif: body.motif,\n    description: body.description\n  },\n  \n  // Informations sur le document\n  document: {\n    existe: body.has_document === 'true',\n    statut: body.has_document === 'true' ? 'Document joint' : 'Pas de document'\n  },\n  \n  // Métadonnées\n  metadata: {\n    origine_ip: webhookData.headers['cf-connecting-ip'],\n    pays: webhookData.headers['cf-ipcountry'],\n    user_agent: webhookData.headers['user-agent'],\n    origine_url: webhookData.headers.origin\n  }\n};\n\n// Gérer les documents joints (si présents dans les binary data)\nif (body.has_document === 'true') {\n  // Vérifier si des données binaires existent\n  const binaryData = $input.all()[0].binary;\n  \n  if (binaryData && Object.keys(binaryData).length > 0) {\n    donneesOrganisees.document.fichiers = [];\n    \n    // Parcourir tous les fichiers binaires\n    for (const [key, file] of Object.entries(binaryData)) {\n      const fichierInfo = {\n        nom: file.fileName || 'document_sans_nom',\n        type_mime: file.mimeType,\n        taille_octets: file.fileSize,\n        taille_formatee: formatFileSize(file.fileSize),\n        extension: file.fileExtension || getExtensionFromMimeType(file.mimeType),\n        cle_binaire: key\n      };\n      \n      donneesOrganisees.document.fichiers.push(fichierInfo);\n    }\n    \n    donneesOrganisees.document.nombre_fichiers = donneesOrganisees.document.fichiers.length;\n  } else {\n    donneesOrganisees.document.avertissement = 'Document indiqué mais aucun fichier binaire trouvé';\n  }\n}\n\n// Fonction pour formater la taille du fichier\nfunction formatFileSize(bytes) {\n  if (bytes === 0) return '0 Octets';\n  const k = 1024;\n  const sizes = ['Octets', 'Ko', 'Mo', 'Go'];\n  const i = Math.floor(Math.log(bytes) / Math.log(k));\n  return Math.round(bytes / Math.pow(k, i) * 100) / 100 + ' ' + sizes[i];\n}\n\n// Fonction pour obtenir l'extension depuis le type MIME\nfunction getExtensionFromMimeType(mimeType) {\n  const extensions = {\n    'application/pdf': 'pdf',\n    'image/jpeg': 'jpg',\n    'image/png': 'png',\n    'image/gif': 'gif',\n    'application/msword': 'doc',\n    'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'docx'\n  };\n  return extensions[mimeType] || 'bin';\n}\n\n// Générer un résumé lisible\nconst resume = {\n  titre: `Justification d'absence - ${donneesOrganisees.employe.nom_formate}`,\n  message: `${donneesOrganisees.employe.nom_formate} (${donneesOrganisees.employe.code}) a soumis une justification d'absence pour le ${donneesOrganisees.absence.date_formatee}.`,\n  type: donneesOrganisees.absence.type_libelle,\n  motif: donneesOrganisees.absence.motif,\n  avec_document: donneesOrganisees.document.existe\n};\n\n// Retourner les données organisées\nreturn [\n  {\n    json: {\n      donnees_structurees: donneesOrganisees,\n      resume: resume,\n      donnees_brutes: body\n    },\n    binary: binaryInput\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,-240],"id":"c1526f42-383f-42bb-9027-36ae2bfb8846","name":"Code"},{"parameters":{"method":"PUT","url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YABSENCE('{{ $json.YNUM }}') ","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"representation","value":"YABSENCE.$edit"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"YMOTIF\": \"{{ $('Code').item.json.donnees_brutes.type_absence }}\",\n    \"YDESCRIPTION\": \"{{ $json.YDESCRIPTION }} | {{ $('Code').item.json.donnees_brutes.description }}\"\n} \n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-288,-240],"id":"03fca61d-a358-4111-8f62-89b7588c8295","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YREEMB('{{ $json.webhook_data.dossier }}')","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"representation","value":"YABSENCE.$edit"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Perfer","value":"return=representation"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n  \"YNUM\": \"{{ $json.updatePayload.YNUM_0 }}\",\n  \"YVALIDG\": \"{{ $json.updatePayload.YVALIDG_0 }}\",\n  \"YDATVAL\" : \"{{ $json.updatePayload.YDATVAL_0 }}\",\n  \"YCOMM\" : \"{{ $json.updatePayload.YCOMM_0 }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,-768],"id":"91f8d8d7-0dc5-4f9e-a7b6-06701bca27d3","name":"PUT - Update Dossier","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,-336],"id":"74adf402-24ff-4771-82b9-08757ae49fe9","name":"Respond to Webhook"},{"parameters":{"operation":"write","fileName":"=C:/n8n/data/certificat/{{ $json.finalFilename }}","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[608,-240],"id":"ad7676db-b632-4d6f-b1e3-5894eba43437","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"original-name","name":"originalName","value":"={{ $('Webhook').item.json.body.num_dossier }}","type":"string"},{"id":"filename-from-upload","name":"uploadedFilename","value":"={{ $('Webhook').item.json.body.file_name }}","type":"string"},{"id":"file-extension","name":"extension","value":"={{ $('Webhook').item.json.body.file_name.split('.').pop().toLowerCase() }}","type":"string"},{"id":"category","name":"has document","value":"={{ $('Webhook').item.json.body.has_document }}","type":"string"},{"id":"timestamp","name":"date absence","value":"={{ $('Webhook').item.json.body.date_absence }}","type":"string"},{"id":"file-size","name":"fileSize","value":"={{ $('Webhook').item.json.body.file_size }}","type":"number"},{"id":"mime-type","name":"type absence","value":"={{ $('Webhook').item.json.body.type_absence }}","type":"string"},{"id":"description","name":"description","value":"={{ $('Webhook').item.json.body.description }}","type":"string"},{"id":"final-filename","name":"finalFilename","value":"={{ $('Webhook').item.json.body.num_dossier }}.{{ $('Webhook').item.json.body.file_name.split('.').pop().toLowerCase()}}","type":"string"}]},"options":{"includeBinary":true}},"id":"5a7551b1-6c61-43a4-9a9f-f77f92b26dd1","name":"Préparer Données","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[384,-240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f92a3434-a4a9-40b1-8126-b1617887e139","leftValue":"={{ $json[\"$links\"][\"$save\"][\"$isAction\"] }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-64,-144],"id":"2f68916d-c6c3-4587-94e5-411efcf05454","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[160,-48],"id":"412dde83-5383-42e8-8154-726d12bd9262","name":"No Operation, do nothing"},{"parameters":{"jsCode":"\nconst webhookBinary = $('Webhook').item.binary;\n\nreturn[\n  {\n    binary=webhookBinary\n  }\n];\n                      "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-992],"id":"69b6e9df-3627-41ae-9d6b-5bcf2515f3f5","name":"Code1","disabled":true},{"parameters":{"jsCode":"// Script pour récupérer le fichier binaire depuis le Webhook\n// et le préparer pour la sauvegarde\n\n// Récupérer les données binaires du Webhook\nconst webhookBinary = $('Webhook').item.binary;\n\n// Récupérer les informations du body du Webhook\nconst webhookBody = $('Webhook').item.json.body;\n\n// Récupérer les données JSON du nœud actuel (après If)\nconst currentData = $input.all()[0].json;\n\n// Vérifier si des fichiers binaires existent\nif (!webhookBinary || Object.keys(webhookBinary).length === 0) {\n  throw new Error('Aucun fichier binaire trouvé dans le Webhook');\n}\n\n// Calculer le nom de fichier final\nconst numDossier = webhookBody.num_dossier || 'sans_numero';\nconst fileName = webhookBody.file_name || 'document.pdf';\nconst extension = fileName.split('.').pop().toLowerCase();\nconst finalFilename = `${numDossier}.${extension}`;\n\n// Récupérer la première clé binaire (généralement 'data')\nconst binaryKey = Object.keys(webhookBinary)[0];\nconst fileData = webhookBinary[binaryKey];\n\n// Informations de debug\nconsole.log('=== DEBUG FICHIER BINAIRE ===');\nconsole.log('Clé binaire trouvée:', binaryKey);\nconsole.log('Nom du fichier:', fileData.fileName);\nconsole.log('Type MIME:', fileData.mimeType);\nconsole.log('Taille:', fileData.fileSize, 'octets');\nconsole.log('Nom final:', finalFilename);\nconsole.log('============================');\n\n// Préparer les données de sortie avec le fichier binaire\nreturn [\n  {\n    json: {\n      // Informations du fichier\n      originalName: webhookBody.num_dossier,\n      uploadedFilename: fileName,\n      extension: extension,\n      finalFilename: finalFilename,\n      \n      // Informations de l'absence\n      hasDocument: webhookBody.has_document,\n      dateAbsence: webhookBody.date_absence,\n      typeAbsence: webhookBody.type_absence,\n      description: webhookBody.description,\n      \n      // Métadonnées du fichier\n      fileSize: fileData.fileSize,\n      mimeType: fileData.mimeType,\n      \n      // Message de confirmation\n      message: `Fichier ${finalFilename} prêt pour la sauvegarde`\n    },\n    // IMPORTANT: Transmettre les données binaires avec la clé 'data'\n    binary: {\n      data: fileData\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-240],"id":"c0a20e8a-a96f-4070-b7f4-80388c219af9","name":"Récupérer Binary du Webhook1"},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YABSENCE('{{ $json.donnees_brutes.num_dossier }}')?representation=YABSENCE.$details","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"json"}}}},"name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-512,-240],"id":"4284dc42-43ae-4330-bafe-c7c511e04444","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}}],"connections":{"OpenAI Model":{"ai_languageModel":[[]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Préparer Données":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"If":{"main":[[{"node":"Récupérer Binary du Webhook1","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Code1":{"main":[[]]},"Récupérer Binary du Webhook1":{"main":[[{"node":"Préparer Données","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"caae1886-cca3-4ff9-b829-3b2adb02fa81","triggerCount":1,"tags":[]}