validation de demande recrutement (webhook d'ecoute sur le param "numero dossier")-UN8cptKnyjkDGkAk.json
{"createdAt":"2026-01-02T11:27:37.089Z","updatedAt":"2026-01-09T17:14:46.000Z","id":"UN8cptKnyjkDGkAk","name":"Validation De Demande Recrutement (webhook d'ecoute sur le param \"numero dossier\")","active":true,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $json.telegram_chat_id }}","text":"={{ $json.telegram_text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"VALIDER","additionalFields":{"callback_data":"`validate_${{dossier.YNUM_0}}_oui`"}},{"text":"REFUSER","additionalFields":{"callback_data":"validate_${{data.YNUM_0}}_non"}}]}}]},"additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,1232],"id":"4c009e89-f4ff-4c78-abe5-caa65847bd9e","name":"Send Telegram","webhookId":"3c5eabd0-6fd0-47fe-b147-32c1a349b587","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"path":"34d05867-bca1-4ee1-ab93-84746dbc3131","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,1328],"id":"cf8a38cf-3e46-4fc1-85d2-5c965537480d","name":"Webhook1","webhookId":"34d05867-bca1-4ee1-ab93-84746dbc3131"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    x.XNAMSAL_0,\n    x.XPRENOM_0,\n    r.*,\n    (select p.YTIT_0 from jbelrh.JBELRH.ZPOSTE p\nwhere r.YPOSPOS_0 = p.YNUM_0) as poste\n  \nFROM jbelrh.JBELRH.YREEMB r\nLEFT JOIN jbelrh.JBELRH.XSAL x\n    ON x.XSAL_0 = r.YEMP_0\nWHERE r.YNUM_0 = '{{ $json.query.ID }}';\n\n"},"type":"n8n-nodes-base.microsoftSql","typeVersion":1.1,"position":[-320,1328],"id":"02670566-c66d-418e-b320-4a22e486e665","name":"Microsoft SQL1","credentials":{"microsoftSql":{"id":"2sA9ZAsYgvC4gdIr","name":"X3BI"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\n// Configuration centralisée\nconst config = {\n  callbackBaseUrl: 'https://bjaai.jbel-annour.site/webhook/validation5',\n  emailPDG: 'pdg@jbel-annour.com',\n  telegramChatId: '8528101210'\n};\n\n// Fonction utilitaire pour formater les dates\nfunction formatDate(dateString) {\n  try {\n    return new Date(dateString).toLocaleDateString('fr-FR', { \n      year: 'numeric', \n      month: 'long', \n      day: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n  } catch (error) {\n    return 'Date non disponible';\n  }\n}\n\n// Fonction utilitaire pour nettoyer les valeurs\nfunction cleanValue(value, defaultValue = 'Non spécifié') {\n  if (!value || (typeof value === 'string' && value.trim() === '')) {\n    return defaultValue;\n  }\n  return value;\n}\n\n// Traitement de chaque dossier\nfor (const item of items) {\n  const dossier = item.json;\n  \n  // Validation des données essentielles\n  if (!dossier.YNUM_0) {\n    console.error('Dossier sans numéro, ignoré:', dossier);\n    continue;\n  }\n  \n  // Préparation des données nettoyées\n  const prenom = cleanValue(dossier.XPRENOM_0, '');\n  const nom = cleanValue(dossier.XNAMSAL_0, '');\n  const nomComplet = `${prenom} ${nom}`.trim() || 'Non renseigné';\n  const poste = cleanValue(dossier.poste);\n  const matricule = cleanValue(dossier.YEMP_0);\n  const cin = cleanValue(dossier.XCIN_0);\n  const dateCreation = formatDate(dossier.CREDATTIM_0);\n  \n  // Construction des URLs de callback avec TOUS les paramètres encodés\n  function encodeURIParam(key, value) {\n    return `${encodeURIComponent(key)}=${encodeURIComponent(value)}`;\n  }\n\n  const params = [\n    encodeURIParam('dossier', dossier.YNUM_0),\n    encodeURIParam('email', config.emailPDG),\n    encodeURIParam('prenom', prenom),\n    encodeURIParam('nom', nom),\n    encodeURIParam('matricule', matricule),\n    encodeURIParam('poste', poste),\n    encodeURIParam('cin', cin)\n  ].join('&');\n\n  const yesUrl = `${config.callbackBaseUrl}?${params}&${encodeURIParam('reponse', 'oui')}`;\n  const noUrl = `${config.callbackBaseUrl}?${params}&${encodeURIParam('reponse', 'non')}`;\n  \n  // Template HTML pour l'email\n  const emailHTML = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Demande de Validation - Recrutement</title>\n  <style>\n    body { \n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; \n      padding: 20px; \n      background-color: #f4f4f4; \n      margin: 0;\n    }\n    .container { \n      max-width: 600px; \n      margin: 0 auto; \n      background: white; \n      padding: 30px; \n      border-radius: 10px; \n      box-shadow: 0 2px 10px rgba(0,0,0,0.1); \n    }\n    .header { \n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); \n      color: white; \n      padding: 20px; \n      border-radius: 8px; \n      margin-bottom: 25px; \n      text-align: center;\n    }\n    .header h2 { \n      margin: 0; \n      font-size: 22px; \n    }\n    .info-section { \n      margin: 20px 0; \n    }\n    .info-row { \n      padding: 12px; \n      margin: 8px 0; \n      background: #f8f9fa; \n      border-left: 4px solid #667eea; \n      border-radius: 4px;\n    }\n    .label { \n      font-weight: bold; \n      color: #333; \n      display: inline-block;\n      min-width: 180px;\n    }\n    .value { \n      color: #555; \n    }\n    .buttons { \n      text-align: center; \n      margin-top: 30px; \n      padding: 20px 0;\n    }\n    .btn { \n      display: inline-block; \n      padding: 15px 40px; \n      margin: 10px; \n      text-decoration: none; \n      border-radius: 5px; \n      font-weight: bold; \n      font-size: 16px; \n      transition: all 0.3s ease;\n    }\n    .btn-yes { \n      background: #28a745; \n      color: white; \n    }\n    .btn-yes:hover { \n      background: #218838; \n      transform: translateY(-2px);\n      box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);\n    }\n    .btn-no { \n      background: #dc3545; \n      color: white; \n    }\n    .btn-no:hover { \n      background: #c82333; \n      transform: translateY(-2px);\n      box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);\n    }\n    .footer { \n      margin-top: 30px; \n      padding-top: 20px; \n      border-top: 1px solid #ddd; \n      color: #777; \n      font-size: 12px; \n      text-align: center; \n    }\n    .warning { \n      background: #fff3cd; \n      border-left: 4px solid #ffc107; \n      padding: 12px; \n      margin: 15px 0; \n      border-radius: 4px;\n      color: #856404;\n    }\n    @media only screen and (max-width: 600px) {\n      .container { \n        padding: 15px; \n      }\n      .btn { \n        display: block; \n        margin: 10px 0; \n      }\n      .label {\n        display: block;\n        margin-bottom: 5px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>✉️ Demande de Validation - REMBAUCHE</h2>\n    </div>\n    \n    <p>Bonjour Monsieur le PDG,</p>\n    <p>Vous avez une nouvelle demande de recrutement qui nécessite votre validation :</p>\n    \n    <div class=\"info-section\">\n      <div class=\"info-row\">\n        <span class=\"label\">📋 Numéro de dossier :</span>\n        <span class=\"value\"><strong>${dossier.YNUM_0}</strong></span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">👤 Nom complet :</span>\n        <span class=\"value\">${nomComplet}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">🆔 Matricule :</span>\n        <span class=\"value\">${matricule}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">📍 Poste :</span>\n        <span class=\"value\">${poste}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">🆔 CIN :</span>\n        <span class=\"value\">${cin}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">📅 Date de création :</span>\n        <span class=\"value\">${dateCreation}</span>\n      </div>\n    </div>\n    \n    <div class=\"warning\">\n      ⚠️ <strong>Action requise :</strong> Merci de cliquer sur l'un des boutons ci-dessous pour valider ou refuser cette demande.\n    </div>\n    \n    <div class=\"buttons\">\n      <a href=\"${yesUrl}\" class=\"btn btn-yes\">✅ VALIDER</a>\n      <a href=\"${noUrl}\" class=\"btn btn-no\">❌ REFUSER</a>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Merci de votre attention.</p>\n      <p><em>Service SI/IA</em></p>\n      <p style=\"margin-top: 15px; font-size: 10px; color: #999;\">\n        Cet email a été généré automatiquement. Ne pas répondre directement.\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n  `;\n  \n  // Message Telegram avec formatage Markdown (échappement correct)\n  const telegramMessage = `🔔 *DEMANDE DE VALIDATION - REMBAUCHE*\n\n📋 *Numéro de dossier :* \\`${dossier.YNUM_0}\\`\n👤 *Nom complet :* ${nomComplet}\n🆔 *Matricule :* ${matricule}\n📍 *Poste :* ${poste}\n🆔 *CIN :* ${cin}\n📅 *Date :* ${dateCreation}\n\n⚠️ Merci de valider ou refuser cette demande en cliquant sur un bouton ci-dessous.`;\n\n  // Clavier inline pour Telegram avec callback_data incluant toutes les infos\n  const telegramKeyboard = {\n    inline_keyboard: [\n      [\n        { \n          text: '✅ VALIDER', \n          url: yesUrl\n        },\n        { \n          text: '❌ REFUSER', \n          url: noUrl\n        }\n      ]\n    ]\n  };\n  \n  // Ajout du résultat\n  results.push({\n    json: {\n      // Données pour l'email\n      email_to: config.emailPDG,\n      email_subject: `🔔 Validation Recrutement - ${dossier.YNUM_0}`,\n      email_html: emailHTML,\n      \n      // Données pour Telegram\n      telegram_chat_id: config.telegramChatId,\n      telegram_text: telegramMessage,\n      telegram_reply_markup: telegramKeyboard,\n      telegram_parse_mode: 'Markdown',\n      \n      // Métadonnées complètes pour le webhook\n      webhook_data: {\n        dossier: dossier.YNUM_0,\n        email: config.emailPDG,\n        prenom: prenom,\n        nom: nom,\n        matricule: matricule,\n        poste: poste,\n        cin: cin,\n        date_creation: dateCreation\n      },\n      \n      // Métadonnées\n      dossier_numero: dossier.YNUM_0,\n      nom_complet: nomComplet,\n      prenom: prenom,\n      nom: nom,\n      poste: poste,\n      matricule: matricule,\n      cin: cin,\n      \n      // URLs de callback\n      validation_yes_url: yesUrl,\n      validation_no_url: noUrl,\n      \n      // Données originales (pour référence)\n      original_data: dossier\n    }\n  });\n}\n\n// Log pour debug\nconsole.log(`${results.length} notification(s) générée(s)`);\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,1328],"id":"f44f90d8-eae4-4721-807c-40670ebd16d7","name":"Code1"},{"parameters":{"fromEmail":"ai@jbel-annour.ma","toEmail":"={{ $json.email_to }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_html }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[256,1424],"id":"513b0e35-1244-4877-916d-f7464663ecf7","name":"Send email","webhookId":"e1cdc58d-9cec-435a-85c5-70e5ffd176a3","credentials":{"smtp":{"id":"HhDla86H9XQ78oGb","name":"smtp_ai"}}}],"connections":{"Webhook1":{"main":[[{"node":"Microsoft SQL1","type":"main","index":0}]]},"Microsoft SQL1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send Telegram","type":"main","index":0},{"node":"Send email","type":"main","index":0}]]},"Send Telegram":{"main":[[]]},"Send email":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfa2b14c-22f8-42be-89ca-6321ee5490bb","triggerCount":1,"tags":[]}