validation de demande recrutement(webhook validation telegram)-w3EhVeX2yyohtQiq.json
{"createdAt":"2026-01-02T20:50:42.570Z","updatedAt":"2026-01-09T16:30:42.000Z","id":"w3EhVeX2yyohtQiq","name":"Validation De Demande Recrutement(webhook Validation Telegram)","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1376,48],"id":"103b1a61-e195-4e7b-ab0f-cbc37a2d0e68","name":"Telegram Trigger","webhookId":"telegram-callback-trigger","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  // Récupérer le callback_data\n  const callbackData = item.json.callback_query?.data || item.json.data;\n  \n  // Extraire le texte du message\n  const messageText = item.json.callback_query?.message?.text || '';\n  \n  // Fonction pour extraire une valeur après un label\n  function extractValue(text, label) {\n    const regex = new RegExp(`${label}\\\\s*:\\\\s*([^\\\\n]+)`, 'i');\n    const match = text.match(regex);\n    return match ? match[1].trim() : 'Non disponible';\n  }\n  \n  // Extraire toutes les informations du message\n  const dossierNumero = extractValue(messageText, '📋 Numéro de dossier');\n  const nomComplet = extractValue(messageText, '👤 Nom complet');\n  const matricule = extractValue(messageText, '🆔 Matricule');\n  const poste = extractValue(messageText, '📍 Poste');\n  const cin = extractValue(messageText, '🆔 CIN');\n  const dateCreation = extractValue(messageText, '📅 Date');\n  \n  // ✅ VÉRIFICATION DU FORMAT DU NUMÉRO DE DOSSIER\n  const dossierRegex = /^[A-Z]{4}\\d{6}$/; // Format: 4 lettres + 6 chiffres (ex: VRDG000003)\n  const isDossierValid = dossierRegex.test(dossierNumero);\n  \n  // ✅ VÉRIFICATION DU TYPE DE MESSAGE\n  const isCallbackQuery = !!item.json.callback_query;\n  const messageType = isCallbackQuery ? 'callback_query' : 'autre';\n  \n  // Log pour debug\n  console.log(`Message type: ${messageType}, Dossier: ${dossierNumero}, Valid: ${isDossierValid}`);\n  \n  // ❌ IGNORER SI CE N'EST PAS UN CALLBACK QUERY OU SI LE DOSSIER EST INVALIDE\n  if (!isCallbackQuery) {\n    console.log(`⚠️ Message ignoré - Type: ${messageType}`);\n    continue; // Passer au message suivant\n  }\n  \n  if (!isDossierValid) {\n    console.log(`⚠️ Numéro de dossier invalide: ${dossierNumero}`);\n    continue; // Passer au message suivant\n  }\n  \n  // Séparer prénom et nom\n  const nomParts = nomComplet.split(' ');\n  const prenom = nomParts[0] || '';\n  const nom = nomParts.slice(1).join(' ') || '';\n  \n  // Déterminer la réponse (oui/non) depuis le callback_data\n  let reponse = 'unknown';\n  if (callbackData.includes('_oui')) {\n    reponse = 'oui';\n  } else if (callbackData.includes('_non')) {\n    reponse = 'non';\n  }\n  \n  // ❌ IGNORER SI LA RÉPONSE N'EST PAS RECONNUE\n  if (reponse === 'unknown') {\n    console.log(`⚠️ Réponse non reconnue dans callback_data: ${callbackData}`);\n    continue;\n  }\n  \n  // Préparer le payload de mise à jour\n  const updatePayload = {\n    YNUM_0: dossierNumero,\n    YVALIDG_0: reponse === 'oui' ? true : false,\n    YDATVAL_0: new Date().toISOString().split('T')[0], // Format YYYY-MM-DD\n    YCOMM_0: reponse === 'oui' ? 'Validé par PDG via Telegram' : 'Refusé par PDG via Telegram'\n  };\n  \n  results.push({\n    json: {\n      // ✅ INFORMATIONS DE VALIDATION\n      is_valid_message: true,\n      message_type: messageType,\n      dossier_format_valid: isDossierValid,\n      \n      // Informations du webhook\n      webhook_data: {\n        dossier: dossierNumero,\n        email: 'elghalbzouri.hicham01@gmail.com',\n        prenom: prenom,\n        nom: nom,\n        matricule: matricule,\n        poste: poste,\n        cin: cin,\n        reponse: reponse\n      },\n      \n      // Informations principales\n      dossier: dossierNumero,\n      reponse: reponse,\n      email: 'elghalbzouri.hicham01@gmail.com',\n      telegram_id: item.json.callback_query?.from?.id || null,\n      \n      // Statut et dates\n      statut: reponse === 'oui' ? 'Validé' : 'Refusé',\n      date_validation: new Date().toISOString().split('T')[0],\n      date_traitement: new Date().toISOString(),\n      \n      // Payload pour la mise à jour Sage\n      updatePayload: updatePayload,\n      \n      // Informations du candidat\n      candidat_info: {\n        prenom: prenom,\n        nom: nom,\n        nom_complet: nomComplet,\n        matricule: matricule,\n        poste: poste,\n        cin: cin,\n        date_creation: dateCreation\n      },\n      \n      // Informations Telegram\n      telegram_info: {\n        callback_query_id: item.json.callback_query?.id,\n        chat_id: item.json.callback_query?.from?.id,\n        message_id: item.json.callback_query?.message?.message_id,\n        user_first_name: item.json.callback_query?.from?.first_name,\n        user_last_name: item.json.callback_query?.from?.last_name\n      },\n      \n      // Message de réponse pour Telegram\n      telegram_response: `${reponse === 'oui' ? '✅ Validation effectuée' : '❌ Refus enregistré'}\\n\\n` +\n                        `📋 Dossier: ${dossierNumero}\\n` +\n                        `👤 Candidat: ${nomComplet}\\n` +\n                        `🆔 Matricule: ${matricule}\\n` +\n                        `📍 Poste: ${poste}\\n` +\n                        `📊 Statut: ${reponse === 'oui' ? 'Validé' : 'Refusé'}\\n\\n` +\n                        `✅ Le dossier a été ${reponse === 'oui' ? 'validé' : 'refusé'} avec succès !`,\n      \n      // Données brutes pour debug\n      raw_callback_data: callbackData,\n      raw_message_text: messageText\n    }\n  });\n}\n\n// ✅ LOG FINAL\nconsole.log(`Total messages traités: ${results.length}/${items.length}`);\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,48],"id":"8a130809-c505-442d-b874-4d69b8e912d9","name":"Process Telegram Callback"},{"parameters":{"chatId":"={{ $json.telegram_id }}","text":"={{ $json.message_text }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-352,48],"id":"35cec242-85c2-4860-bc1c-042ac5c796c4","name":"Send a text message","webhookId":"af7f7a0f-b80e-4cdd-9f97-2adb0ee8d708","credentials":{"telegramApi":{"id":"45w69gDsqGFcxPpu","name":"Notification"}}},{"parameters":{"method":"PUT","url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YREEMB('{{ $json.webhook_data.dossier }}')","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"representation","value":"YREEMB.$edit"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Perfer","value":"return=representation"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{\n  \"YNUM\": \"{{ $json.updatePayload.YNUM_0 }}\",\n  \"YVALIDG\": \"{{ $json.updatePayload.YVALIDG_0 }}\",\n  \"YDATVAL\" : \"{{ $json.updatePayload.YDATVAL_0 }}\",\n  \"YCOMM\" : \"{{ $json.updatePayload.YCOMM_0 }}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,48],"id":"38814d09-18fb-4400-b118-37113fdc7a2b","name":"PUT - Update Dossier","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"url":"=http://192.168.1.210:8124/api1/x3/erp/JBELRH/YREEMB('{{ $('Process Telegram Callback').item.json.webhook_data.dossier }}')","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"representation","value":"YREEMB.$details"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,48],"id":"9944f7eb-493e-4ed1-80c1-38891083e388","name":"GET - Dossier Updated","credentials":{"httpBasicAuth":{"id":"MBPT8mc6ilbU918o","name":"Unnamed credential 2"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const processData = $('Process Telegram Callback').item.json;\n  const putData = $('PUT - Update Dossier').item.json; // Données du PUT\n  const dossierFromGet = item.json; // Données du GET depuis Sage\n  \n  const reponse = processData.reponse;\n  const dossierNumero = dossierFromGet.YNUM;\n  const email = processData.email;\n  const telegram_id = processData.telegram_id;\n  \n  // Récupérer les informations personnelles depuis webhook_data\n  const webhookData = processData.webhook_data || {};\n  const prenom = webhookData.prenom || 'Non renseigné';\n  const nom = webhookData.nom || 'Non renseigné';\n  const nomComplet = `${prenom} ${nom}`.trim();\n  const matricule = webhookData.matricule || 'Non renseigné';\n  const poste = webhookData.poste || 'Non renseigné';\n  const cin = webhookData.cin || 'Non renseigné';\n  \n  // Extraire le statut de validation depuis YVALIDG (du PUT qui est la source de vérité)\n  const isValidated = putData.YVALIDG === true;\n  \n  // Récupérer le message de diagnostic depuis le PUT (prioritaire)\n  let diagnosticMessage = '';\n  let isAlreadyProcessed = false;\n  \n  // Vérifier d'abord dans le PUT data (source principale)\n  if (putData.$diagnoses && Array.isArray(putData.$diagnoses)) {\n    const diagnosis = putData.$diagnoses.find(d => d.$severity === 'info');\n    if (diagnosis && diagnosis.$message) {\n      diagnosticMessage = diagnosis.$message;\n      // Vérifier si le dossier était déjà validé\n      if (diagnosticMessage.toLowerCase().includes('deja valide') || \n          diagnosticMessage.toLowerCase().includes('déjà validé')) {\n        isAlreadyProcessed = true;\n      }\n    }\n  }\n  \n  // Si pas de diagnostic dans PUT, vérifier dans GET (fallback)\n  if (!diagnosticMessage && dossierFromGet.$diagnoses && Array.isArray(dossierFromGet.$diagnoses)) {\n    const diagnosis = dossierFromGet.$diagnoses.find(d => d.$severity === 'info');\n    if (diagnosis && diagnosis.$message) {\n      diagnosticMessage = diagnosis.$message;\n      if (diagnosticMessage.toLowerCase().includes('deja valide') || \n          diagnosticMessage.toLowerCase().includes('déjà validé')) {\n        isAlreadyProcessed = true;\n      }\n    }\n  }\n  \n  // Extraire les informations du dossier Sage (priorité au PUT)\n  const etag = putData.$etag || dossierFromGet.$etag;\n  const dateValidationSage = putData.YDATVAL ? new Date(putData.YDATVAL).toLocaleDateString('fr-FR') : \n                              (dossierFromGet.YDATVAL ? new Date(dossierFromGet.YDATVAL).toLocaleDateString('fr-FR') : 'N/A');\n  const dateValidation = putData.YDATVAL || dossierFromGet.YDATVAL || new Date().toISOString().split('T')[0];\n  const commentaire = putData.YCOMM || dossierFromGet.YCOMM || '';\n  \n  // Déterminer le statut dynamique basé sur YVALIDG et les diagnostics\n  let statut;\n  let emoji;\n  \n  if (isAlreadyProcessed) {\n    statut = isValidated ? 'Déjà validé' : 'Déjà traité';\n    emoji = '⚠️';\n  } else {\n    statut = isValidated ? 'Validé' : 'Refusé';\n    emoji = isValidated ? '✅' : '❌';\n  }\n  \n  // Message Telegram dynamique\n  let message_text = `${emoji} *${statut.toUpperCase()}*\n📋 Dossier: \\`${dossierNumero}\\`\n👤 ${nomComplet}\n📍 ${poste}\n🆔 ${matricule}\n📅 ${new Date().toLocaleDateString('fr-FR')}`;\n\n  // Ajouter le message de diagnostic s'il existe\n  if (diagnosticMessage) {\n    message_text += `\\n\\n💬 _${diagnosticMessage}_`;\n  }\n  \n  // Ajouter la date de validation si le dossier était déjà validé\n  if (isAlreadyProcessed && dateValidationSage !== 'N/A') {\n    message_text += `\\n📅 _Validé le ${dateValidationSage}_`;\n  }\n  \n  results.push({\n    json: {\n      dossier: dossierNumero,\n      reponse: reponse,\n      email: email,\n      telegram_id: telegram_id,\n      statut: statut,\n      date_validation: dateValidation,\n      message_text: message_text,\n      \n      // Informations personnelles du candidat\n      candidat_info: {\n        prenom: prenom,\n        nom: nom,\n        nom_complet: nomComplet,\n        matricule: matricule,\n        poste: poste,\n        cin: cin\n      },\n      \n      // Informations de diagnostic\n      diagnostic_info: {\n        message: diagnosticMessage,\n        is_already_processed: isAlreadyProcessed,\n        is_validated: isValidated,\n        source: diagnosticMessage ? (putData.$diagnoses ? 'PUT' : 'GET') : 'none'\n      },\n      \n      // Données Sage complètes\n      sage_data: {\n        etag: etag,\n        commentaire: commentaire,\n        date_validation_sage: dateValidationSage\n      },\n      \n      success: true,\n      skipUpdate: isAlreadyProcessed // Flag pour sauter le PUT si déjà traité\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,48],"id":"4220035a-b34e-4740-a013-54af3eff9c66","name":"Code"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Process Telegram Callback","type":"main","index":0}]]},"Process Telegram Callback":{"main":[[{"node":"PUT - Update Dossier","type":"main","index":0}]]},"PUT - Update Dossier":{"main":[[{"node":"GET - Dossier Updated","type":"main","index":0}]]},"GET - Dossier Updated":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7dc309af-1f47-4333-a31c-78e41ff19e8e","triggerCount":1,"tags":[]}